/*
.curved-vt-2 {
	padding-top: 30px;
}
*/

.indexbottomblock-bl {
	margin-bottom: 0px;
}

.printlink{
	display: block;
}

.indexrewiews-rewiewbg{
	background: none;
}

.curved-vt-2:before {
    top:0px;
    bottom:0px;
    left:0;
    right:0;
    -webkit-box-shadow:0 0 0px rgba(84,84,84,0);
       -moz-box-shadow:0 0 0px rgba(84,84,84,0);
            box-shadow:0 0 0px rgba(84,84,84,0);
}

.toplinks{
	line-height: 22px;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
	margin-top: -6px;
}

.up_search input[type="text"]{
	width: 333px;
}

.searchfield_example {
	margin-top: 15px;
}


.up_search_town input[type="text"] {
	width: 429px;
}


.header2_phone2{
	margin-top: -41px !important;
}

.popup-auth{
	margin-top: -22px !important;
}