#myMenu {
	position: fixed;
	top: 20%;
	right: 10%;
	z-index: 1;
	list-style:none;
}

#myMenu li {
	width: 6px;
	height: 6px;
}

#myMenu li a{
	width: inherit;
	height: inherit;
}

.section {
	margin-top: -5px;
}

.active_menu {
	border: 2px solid orange;
	border-radius: 30px;
}