<form action="{form_action}" method="POST" name="restoreForm">
<p>
<span class="delw">{MSG_Data_recovery_from_file} "<a href="{file_download_link}">{file_name}</a>" {MSG_restore_database_to} <b>{file_time}</b> ({MSG_backup_date}). {MSG_All_data_lost}{no_db_coincidence}</span><br>
<br>
<!-- <input type="checkbox" name="olddata" id="olddata" value="1" style="border:none;background-color:transparent"><label for="olddata">{MSG_olddata}</label><br> -->
{MSG_Confirm_db_restore}<br><br>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
<BUTTON name="c" value="{MSG_Restore}" type="submit"><img src=/i/admin/b_create.gif class=create><span>{MSG_Restore}</span></BUTTON>
</p>
</form>