<br>
<table cellspacing="2" cellpadding="0" border="0" width=98% style="margin-bottom:8px;">
<form action="{upload_file_action}" method="post" enctype="multipart/form-data" name="uploadFile" id="uploadFile">
<TR>
    <TD align=""><span style="display:block; padding-bottom:7px;">{MSG_Load_backup_file_from_hd}:</span>
				<input type="file" name="userfile" size="40">&nbsp;<BUTTON style="position:relative; top:-2px;" name="c" value="{MSG_Upload}" type="submit"><img src=/i/admin/b_upload.gif class=save><span>{MSG_Upload}</span></BUTTON><br>
		</TD>
		<TR>
</TR>
</form>
</table>


<!-- START BLOCK : files -->
<br>
<!--список -->
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>&nbsp;</th>
<th>{MSG_Name}</th>
<th>{MSG_Date}</th>
<th>{MSG_Size}</th>
<th>{MSG_Rec}</th>
<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : file_row -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td>{i}</td>
<td><a href="{file_download_link}">{file_name}</a></td>
<td>{file_date}</td>
<td>{file_size}</td>

<td align=center><a href={file_restore_db_link}><img src="/i/admin/ico_edit.gif" alt="{MSG_Restore}" title="{MSG_Restore}" width=15 height=18 border=0></a></td>

<td align=center><a href="javascript:if(confirm('{MSG_Confirm_delete_file}')){location.href='{file_del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>

</tr>
<!-- END BLOCK : file_row -->
</table>
<!--список -->
<!-- END BLOCK : files -->