<h3 class="h3_block">Популярные теги</h3>
<div class="gallery">
	<!-- START BLOCK : tag_list -->
	<!-- START BLOCK : tag_list_item -->
	<a href="{transurl}&action=tag&tag={title}" class="font{font_size}">{title}</a>
	<!-- END BLOCK : tag_list_item -->
	<!-- END BLOCK : tag_list -->
		
	<!-- START BLOCK : tag_list_empty -->
	пусто
	<!-- END BLOCK : tag_list_empty -->
</div><br>
