<!-- START BLOCK : block_admin_js_set -->
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" language="JavaScript" src='/mod/news/js/news.js'></script>
<script type="text/javascript" language="JavaScript" src="/mod/news/js/newsAdm.js"></script>
<!-- END BLOCK : block_admin_js_set -->

<h3 class="h3_block">Новости</h3>
<!-- START BLOCK : block_create_news_menu -->
<div class="module-tools">
<div class="admin-edititem" style="margin: 0 0 10px;">
	<div class="admin-shadow"></div><div style="width: 150px;"class="admin-icon" onmouseover="adminShowShadow(this,event)" onmouseout="adminHideMenu(this)"><img style="float: right; "onclick="adminShowMenu(this)" class="admin-icon" src="/i/admin/block_item_add.gif" alt="Свойства элемента" name="mod_article_{article_id}" title=""><div style="visibility: visible; text-align: right; line-height: 17px; margin-right: 25px;">
	<span><span><span style="color: #999; cursor: pointer;" onclick="return showNewsEditDiv(this,'news','add',-1,'{adminurl}');">Добавить новость</span></span></span>
	</div></div>
</div>
</div>
<!-- END BLOCK : block_create_news_menu -->

<!-- START BLOCK : block_news_titles -->
<!-- START BLOCK : block_edit_news_menu_start -->
<div class="module-tools">
<div class="admin-edititem">
<div class="admin-shadow"></div><div class="admin-icon admin-hidden" onmouseover="adminShowShadow(this,event)" onmouseout="adminHideMenu(this)"><img onclick="adminShowMenu(this)" class="admin-icon" src="/i/admin/block_item.gif" alt="Свойства элемента" name="mod_article_{article_id}" title=""><div class="admin-popupmenu">
<h6>Новость</h6>
<ul>
<!-- START BLOCK : block_news_edit -->
<li><a href="" onclick="return showNewsEditDiv(this,'news','edit',{news_id},'{adminurl}');">Редактировать</a>
<!-- END BLOCK : block_news_edit -->
<!-- START BLOCK : block_news_activate -->
<li id="news_{news_id}_activate" style="display: {activate_display}">
	<a href="" onclick="return doActivate(this,'news','activate',{news_id},'{adminurl}');">Публиковать</a>
<li id="news_{news_id}_suspend" style="display: {suspend_display}">
	<a href="" onclick="return doActivate(this,'news','suspend',{news_id},'{adminurl}');">Не публиковать</a>
<!-- END BLOCK : block_news_activate -->
<!-- START BLOCK : block_news_rights -->
<li><a href="" onclick="return showNewsEditDiv(this,'news','editrights',{news_id},'{adminurl}');">Права</a>
<!-- END BLOCK : block_news_rights -->
<!-- START BLOCK : block_news_delete -->
<li><a href="" onclick="if(confirm('Вы действительно желаете удалить выбранную новость?')) doDelete(this,'news','del',{news_id},'{adminurl}'); return false;">Удалить</a>
<!-- END BLOCK : block_news_delete -->
</ul></div>
</div></div>
<!-- END BLOCK : block_edit_news_menu_start -->

<div class="news no_image">
<div class="news_text">
<span class="date">{news_date}</span>
<a href="{news_link}" class="news_title">{news_title}</a>
<!-- START BLOCK : block_news_theme -->
<p><b>Тематика:</b> {news_theme}</p>
<!-- END BLOCK : block_news_theme -->
</div>
</div>

<!-- START BLOCK : block_empty_content -->
<img src="/i/admin/0.gif" height=18 border=0>
<!-- END BLOCK : block_empty_content -->
<!-- START BLOCK : block_edit_news_menu_end -->
</div>
<!-- END BLOCK : block_edit_news_menu_end -->
<!-- END BLOCK : block_news_titles -->
<div class="news_all">
<a href="{news_archive_link}" class="news_archive">Архив новостей</a>
<!-- START BLOCK : block_news_rss -->
<br><a href="{news_rss_link}" class="news_rss">Новости в формате RSS!</a>
<!-- END BLOCK : block_news_rss -->
</div>
<br class="both">