<h3 class="h3_block">Категории новостей</h3>
<ul>
	<!-- START BLOCK : list -->
	<li><a href="{transurl}&action=alist&id={id}">{category_title}</a>
	<!-- START BLOCK : news_cnt -->
	({cnt})
	<!-- END BLOCK : news_cnt -->
	<!-- END BLOCK : list -->
</ul><br>
