<script type="text/javascript">
function do_save() {
	var SendItem= 0;
	var AlertMessage;

	if (myForm.title.value == '') {
		SendItem		= 1;
		AlertMessage	= '{MSG_Enter_header}';
	}

	var selIdx = myForm.category.selectedIndex;
	if (myForm.category.options[selIdx].value == "0") {
		SendItem		= 1;
		AlertMessage	= '{MSG_Choose_category}';
	}

  	if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
  	}
}
</script>

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data">
<input name="id" type="hidden" size="40" value="{subscription_id}">
<input name="start" type="hidden" size="40" value="{start}">
<div class="edit_form">
{MSG_Category} <span class="required_field">*</span>:</b><br>

<select name="category">
<option value="0">--  {MSG_Select_category}  --</option>
<!-- START BLOCK : block_categories -->
<option value="{category}"{selected}>{category_title}</option>
<!-- END BLOCK : block_categories -->
</select><br>

{MSG_Header} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="title" size="50" value="{subscription_title}">

<br>
<textarea id="txt_content" name="txt_content" rows="4" cols="30" class="tinymce">{text}</textarea>

{MSG_Last_news_list}:<br>
<select name="news_list[]" class="w300" multiple="multiple">
<!-- START BLOCK : block_news -->
<option value="{news_id}"{selected}>{news_date} {news_title}</option>
<!-- END BLOCK : block_news -->
</select><br>

{MSG_File_for_upload}:&nbsp;{file1exists}<br>
<input type="file" class=w300 name="file1" size="30"><br>

{MSG_File_for_upload}:&nbsp;{file2exists}<br>
<input type="file" class=w300 name="file2" size="30"><br>

{MSG_File_for_upload}:&nbsp;{file3exists}<br>
<input type="file" class=w300 name="file3" size="30"><br><br>

<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onclick="do_save();"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onclick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>

</form>
<script type="text/javascript">
$().ready(function() {
	setTimeout(function() {
		tinyMCE.settings.remove_script_host = false;
	}, 1000);	
});
</script>