<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>{MSG_Ed}</th>
	<th>{MSG_Rights}</th>
	<th>{MSG_Date}</th>
	<th width="99%">{MSG_Header}</th>
	<th>{MSG_Subscription}</th>
	<th>Копировать</th>
	<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_subscription_titles -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center">{subscription_edit_action}</td>
	<td align="center">{subscription_edit_rights_action}</td>
	<td align="center" nowrap>{subscription_date}</td>
	<td>{subscription_title}</td>
<!-- START BLOCK : block_subscr_active -->
   	<td align="center">{mail_action}</td>
<!-- END BLOCK : block_subscr_active -->
<!-- START BLOCK : block_subscr_passive -->
   	<td align="center"><img src="/i/admin/ico_mail_off.gif" alt="{MSG_sent}" title="{MSG_sent}" width="15" height="18" border="0"></td>
<!-- END BLOCK : block_subscr_passive -->
	<td align="center"><a href="{baseurl}&action=copy&id={subscription_id}"><img src="/i/admin/ico_copy.gif" alt="копировать" title="копировать" width="15" height="18" border="0"></a></td>
<!--
	<td align=center><a href={subscription_mail_link}><img src="/i/admin/{image_mailing}" alt="{MSG_sent}" title="{MSG_sent}" width=15 height=18 border=0></a></td>
-->
	<td align="center">{subscription_del_action}</td>
</tr>
<!-- END BLOCK : block_subscription_titles -->
</table>

<!-- START BLOCK : nav -->
<div class="pagesnum">Страницы: {nav_string}</div>
<!-- END BLOCK : nav -->