<form action="{form_action}" method="POST" name="delForm">
<b class="delw">{MSG_Delete_category_start} "<a href="{category_link}">{category_title}</a>" {MSG_Delete_category_end}</b><br><br>
{MSG_Confirm_delete_category}<br><br>
<BUTTON name="d" value="{MSG_Delete}" type="submit"><img src=/i/admin/b_delete.gif class=delete><span>{MSG_Delete}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>