<script language="JavaScript" type="text/javascript" src="/js/reg_exp.js"></script>
<script type="text/javascript">
function checkSubscribe(f) {

	if(!f["email"].value){
		alert("{MSG_Enter_email}");
		f["email"].focus();
		return false;
	} else if(!isEmail(f.email.value)){
		alert("{MSG_Enter_valid_email}");
		f["email"].focus();
		return false;
	}
	f.submit();
}
</script>

<!-- INCLUDE BLOCK : search_form -->


<h2>Добавить получателя</h2>

<form action="{form_add_action}" method="POST" name="addForm" class="text_color">
		<small>{MSG_Name}:</small><br>
		<input type="text" name="sub_name" value="" size="40" style="width: 300px; margin:5px 0 9px 0"><br>
		<small>{MSG_Email}*:</small><br>
		<input type="text" name="email" value="" size="40" style="width: 300px; margin:5px 0 9px 0"><br>
<!-- START BLOCK : block_eml_exist -->
        <br><b>{MSG_Such_email_already_exists}</b><br><br>
<!-- END BLOCK : block_eml_exist -->

<!-- START BLOCK : block_eml_added -->
        <br><b>{MSG_Info_confirm_subscription}</b><br><br>
<!-- END BLOCK : block_eml_added -->

<!-- START BLOCK : block_eml_false -->
        <br><b>{MSG_Fail_add_email}</b><br><br>
<!-- END BLOCK : block_eml_false -->

<!-- START BLOCK : block_all_categ -->
        <input type="checkbox" name="category[0]" id="ctgr_0" value="all_categs" class="checkb"><label style="vertical-align:middle;" for="ctgr_0">{MSG_All_categories}</label><br>
<!-- END BLOCK : block_all_categ -->

<!-- START BLOCK : block_categ_list -->
        <input type="checkbox" name="category[]" value="{category}" id="ctgr_{category}" size="40" class="checkb"><label style="vertical-align:middle;" for="ctgr_{category}">{category_title}</label><br>
<!-- END BLOCK : block_categ_list -->
<BUTTON style="margin-top:10px;" name="c" onclick="checkSubscribe(this.form);"><img src=/i/admin/b_create.gif class=create><span>{MSG_Add}</span></BUTTON>
</form>
<br />

<h2>Список получателей</h2>

<!-- START BLOCK : block_mailing_list -->
<form>
<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th width="5%">ID</th>
	<th>{MSG_Email}</th>
	<th>{MSG_Name}</th>
	<th width="5%">{MSG_Category}</th>
    <th width="5%">{MSG_Activ}</th>
    <th width="5%">{MSG_Conf}</th>
	<th width="5%">{MSG_Del}</th>
	<th width="5%" align="left"><input type="checkbox" class="checkb" name="check_all" value="1" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_email -->
<tr valign="top" onclick="switchCheckbox(this)" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center" nowrap>&nbsp;{email_id}&nbsp;</td>
	<td>&nbsp;{email}&nbsp;</td>
	<td>&nbsp;{name}&nbsp;</td>
	<td align="center"><nobr>{email_cat}</nobr></td>
	<td align="center"><a href="{link_active}"><img border="0" src="/i/admin/{img_active}"></a></td>
	<td align="center"><a href="{link_conf}"><img border="0" src="/i/admin/{img_conf}"></a></td>
	<td align="center"><a href="javascript:if(confirm('{MSG_Confirm_delete_record}')){location.href='{email_del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
	<td><input onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{email_id}"></td>
</tr>
<!-- END BLOCK : block_email -->
</table>
<br>
<select name="select_action">
<option value="delete">{MSG_Delete}</option>
<option value="activity">{MSG_Activity}</option>
<option value="suspending">{MSG_Suspending}</option>
</select> &nbsp;
<button onclick="doAction(this.form); return false;">{MSG_Execute}</button>
</form>

<!-- START BLOCK : nav -->
<div class=pagesnum>Страницы: {nav_string}</div>
<!-- END BLOCK : nav -->
<!-- END BLOCK : block_mailing_list -->


