<table border="0" cellspacing="1" cellpadding="1">
<tr>
<!-- START BLOCK : block_subscription_nav -->
<td>{subscription_link}&nbsp;{separator}</td>
<!-- END BLOCK : block_subscription_nav -->
</tr>
</table>
