<!-- START BLOCK : block_properties -->
<table>
<tr>
	<td valign="top">{MSG_Subscription_on}:<br>
		<select id="property1" name="property1" onchange="setURL('property1');">
			<option value="all_cat">{MSG_All_categories}</option>

		<!-- START BLOCK : block_categories -->
			<option value="{category}">{category_title}</option>
		<!-- END BLOCK : block_categories -->
		
		</select>
	</td>

<!-- START BLOCK : block_page_edit -->
	<td><br><img style="cursor: hand" alt="{MSG_goto_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="i/admin/ico_edit.gif" border="0"></td>
<!-- END BLOCK : block_page_edit -->

</tr>

</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->