<!-- START BLOCK : block_ok -->
<div class="warning"> Загружено записей: {res}</div>
<!-- END BLOCK : block_ok -->

<!-- START BLOCK : block_err -->
<div class="error">Ни одна запись не была загружена</div>
<!-- END BLOCK : block_err -->

<form action="{baseurl}&action={action}" method="POST" enctype="multipart/form-data" class="edit_form">
<p>Выберите CSV файл с email-ми получателей:</p>
<input type="file" name="csv_file"><br>
<p>Выберите категорию:</p>
<select name="ctgr">
<option value="0">Выбрать</optoion>
<!-- START BLOCK : block_categories -->
<option value="{category_id}">{category_title}</optoion>
<!-- END BLOCK : block_categories -->
</select><br>
<div class=attn>
Порядок следования полей в CSV файле:<br>
e-mail;Имя
</div>
<BUTTON type="submit" class="save">Загрузить</BUTTON>
</form>