<!-- START BLOCK : warning -->
<div class="warning">{txt}</div>
<!-- END BLOCK : warning -->
<script type="text/javascript">
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.title.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Empty_field}!';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>


<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>{MSG_Ed}</th>
	<th>{MSG_Rights}</th>
	<th width="99%">{MSG_Category}</th>
	<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_categories -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center">{category_edit_action}</td>
	<td align="center">{category_edit_rights_action}</td>
	<td><a href="{category_link}">{category_title}</a></td>
	<td align="center">{category_del_action}</td>
</tr>
<!-- END BLOCK : block_categories -->
</table>

<br><br>

<h2>{MSG_Create_new_category}</h2>
<form action="{form_action}" method="POST" name="addForm">
<input type="text" name="title" value="" size="40" style="width: 300px;">&nbsp;<BUTTON name="c" value="{MSG_Create}" type="button" onClick="checkForm(this.form);"><img src="/i/admin/b_create.gif" alt="" class="create"><span>{MSG_Create}</span></BUTTON>
</form>