<script type="text/javascript" src="/js/reg_exp.js"></script>

    <form id="cmdForm" method="POST" action="{form_action}" class="edit_form">
        <input type="hidden" name="action" value="{action}">
        <input type="hidden" name="id" value="{id}">

        {MSG_Execute_script} <span class="required_field">*</span>:<br>
        <input type="text" name="command" id="command" value="{command}" size="70"><br>
        {MSG_Name} <span class="required_field">*</span>:<br>
        <input type="text" name="title" id="title" value="{title}" size="70"><br>
        {MSG_with_period} <input type="text" name="interval" id="interval" value="{interval}" size="2"> {MSG_min}<br>
        {MSG_or}<br>
        {MSG_enter_time}
        <table border="0">
        <tr>
            <td>{MSG_Minute}</td>
            <td>{MSG_Hour}</td>
            <td>{MSG_Day}</td>
            <td>{MSG_Month}</td>
        </tr>
        <tr>
            <td>
            <select name="minute" id="minute">
            <option value="">{MSG_Any_f}</option>
            <!-- START BLOCK : block_minutes -->
            <option value="{elm_idx}" {selected}>{elm_val}</option>
            <!-- END BLOCK : block_minutes -->
            </select>
            </td>
            <td>
            <select name="hour" id="hour">
            <option value="">{MSG_Any_m}</option>
            <!-- START BLOCK : block_hours -->
            <option value="{elm_idx}" {selected}>{elm_val}</option>
            <!-- END BLOCK : block_hours -->
            </select>
            </td>
            <td>
            <select name="day" id="day">
            <option value="">{MSG_Any_m}</option>
            <!-- START BLOCK : block_days -->
            <option value="{elm_idx}" {selected}>{elm_val}</option>
            <!-- END BLOCK : block_days -->
            </select>
            </td>
            <td>
            <select name="month" id="month">
            <option value="">{MSG_Any_m}</option>
            <!-- START BLOCK : block_months -->
            <option value="{elm_idx}" {selected}>{elm_val}</option>
            <!-- END BLOCK : block_months -->
            </select>
            </td>
        </tr>
        </table>

        <BUTTON value="{MSG_Save}" type="submit" onClick="return checkForm();"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
        <BUTTON value="{MSG_Cancel}" type="button" onClick="hideEditForm();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
        <br><br>
    </form>


<script type="text/javascript">
function checkForm()
{
    var err = '';
    var cmd_form = document.getElementById('cmdForm');
    if (isEmpty(cmd_form.command.value)) {
        err = "{MSG_Not_entered_execute_cmd}\n";
    }
    if (isEmpty(cmd_form.title.value)) {
        err += "{MSG_Not_entered_name}\n";
    }
    if (!isEmpty(cmd_form.interval.value) && (isNaN(cmd_form.interval.value-0) || cmd_form.interval.value < 1)) {
        err += "{MSG_Interval_must_be_greater} 1\n";
    }
    if (err) {
        alert(err);
        return false;
    }
    return true;
}
</script>