<!-- START BLOCK : MAIN -->
<script language="JavaScript">
<!--
function CheckSelect(){
   var dis = true;
   if(document.getElementById('UpdateBTN')){
   	  var frm=document.forms['site_mod'];
	  for(var i=0;i<frm.elements.length;i++){
		if(frm.elements[i].name=='mod[]' && frm.elements[i].checked==true){dis = false; break;}
	  }
      document.getElementById('UpdateBTN').disabled = dis;
   }
}
function setDescript(Txt, Name){
	dt = document.getElementById('desript_'+Name);

	if(dt){
		dt.setAttribute('title',Txt, true);
		dt.style.display = '';
	}
}
function setVersion(Name, Vers, Date, Fl){
   //alert(Name)  ;
   if(document.getElementById('Serv_'+Name)){
      document.getElementById('Serv_'+Name).innerHTML =  Vers + ' / ' + Date;
      document.getElementById('mod_'+Name).disabled = (Fl!='') ? false : true;
   }
}
function CheckVersion(frm){
    var Updater = window.open(location.href+'&action=check_updates', '', 'width=400px, height=135px ,status=1,resizable=0');
    Updater.focus();
	return false;
}
function UpdateVersion(frm){
    var Updater = window.open('about:blank', 'Updater', 'width=400px, height=135px ,status=1,resizable=0');
	if(frm){
		frm.target = 'Updater';
		frm.action = location.href+'&action=get_updates';
		frm.submit();
	}
    Updater.focus();
	return false;
}
function SelectAll (fl){
	var frm=document.forms['site_mod'];
	for(var i=0;i<frm.elements.length;i++){
		if(frm.elements[i].name=='mod[]' && frm.elements[i].disabled==false){ frm.elements[i].checked=fl;}
	}
}																									    
//-->
</script>
<form action="{action}" method="POST" name="site_mod"  onSubmit="return UpdateVersion(this);">
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
	<tr height="20">
		<th width="30"><input type="checkbox" onclick="SelectAll(this.checked);CheckSelect()" class="checkb"></th>
		<th>{MSG_Module}</th>
		<th width="150">{MSG_Backup}</th>
		<th width="150">{MSG_LocalVersion}</th>
		<th width="150">{MSG_ServerVersion}</th>
	</tr>
<!-- START BLOCK : block_module -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td width="30" align="center"><input type="checkbox" name="mod[]" value="{name}" id="mod_{name}" class="checkb" {checked} disabled onclick="CheckSelect()"></td>
		<td><label for="mod_{name}">{title}<span id="desript_{name}" style="display:none;color:#0000ff"> + </span></label></td>
		<td align="center" id="Buckup_{name}"><a href="{baseurl}&mod={name}&action=backup" target="Updater" onclick="UpdateVersion()" title="Откатить модуль до состояния на {Backup}">{Backup}</a>&nbsp;</td>
		<td align="center" id="Local_{name}">{Current}</td>
		<td align="center" id="Serv_{name}">???</td>
	</tr>
<!-- END BLOCK : block_module -->

    <tr>
		<td colspan="5">
	        <BUTTON id="CheckVersBTN" onclick="return CheckVersion(this.form)" {MSG_UpdateButton}><img src=/i/admin/b_refresh.gif class=save><span>{MSG_CheckUpdate}</span></BUTTON>
	        <BUTTON id="UpdateBTN" type="submit" disabled><img src=/i/admin/b_save.gif class=save><span>{MSG_Update}</span></BUTTON>
            {MSG_UpdateInvalid}
        </td>
    </tr>
</table>
</form>
<!-- END BLOCK : MAIN -->
<!-- START BLOCK : iframe_block -->
<iframe src="/updates.php" width="100%" height="100%" frameborder="0"></iframe>
<!-- END BLOCK : iframe_block -->
