<script type="text/javascript" src="/js/reg_exp.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/JsHttpRequest.js"></script>

<span class="add_btn"><a href="{new_link}"><img src="/i/admin/b_create.gif" alt="{MSG_Add}" title="{MSG_Add}" width="15" height="15" border="0" valign="absmiddle">&nbsp;{MSG_Add}</a></span>
<br clear="all">

<script type="text/javascript">
function setStatus(cmd_id)
{
    var status_img =  document.getElementById('status_img_' + cmd_id);
    var action = 'si_'+cmd_id+'_0' == status_img.name ? 'activate_cmd' : 'suspend_cmd';

    if (!confirm(status_img.title + "?")) {
        return false;
    }
    /* Create new JsHttpRequest object. */
	var req = new JsHttpRequest();
	/* cmd automatically called on load finishing. */
	req.onreadystatechange = function() {
		if (req.readyState == 4) {
		    var imn = status_img.name;
		    var ims = status_img.src;
		    status_img.alt = status_img.title = 1 == req.responseJS.active? '{MSG_Suspend}' : '{MSG_Activate}';
		    status_img.src = '/i/admin/' + (1 == req.responseJS.active ? 'ico_swof.gif' : 'ico_swon.gif');
		    status_img.name = 'si_'+cmd_id+'_'+req.responseJS.active;
		}
	};
	/* Prepare request object (automatically choose GET or POST). */
	req.open("GET", "{form_action}", true);
	/* Send data to backend. */
	req.send( { 'id': cmd_id, 'action': action } );

	return false;
}
</script>

<!-- START BLOCK : block_cmds -->
<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
    <th>{MSG_Activ}</th>
    <th>{MSG_Ed}</th>
    <th>{MSG_Minute}</th>
    <th>{MSG_Hour}</th>
    <th>{MSG_Day}</th>
    <th>{MSG_Month}</th>
    <th>{MSG_Interval_min}</th>
    <th>{MSG_Name}</th>
    <th width="60%">{MSG_Execute}</th>
    <th>{MSG_Last_start}</th>
    <th>{MSG_Del}</th>
</tr>

<!-- START BLOCK : block_cmd -->
 <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
    <td align="center">
    <a href="" onclick="return setStatus({id});"><img src="/i/admin/{status_img}" id="status_img_{id}" name="si_{id}_{active}" alt="{status_text}" title="{status_text}" width="15" height="18" border="0"></a>
    </td>
    <td align="center"><a href="{edit_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
    <td align="center">{minute}&nbsp;</td>
    <td align="center">{hour}&nbsp;</td>
    <td align="center">{day}&nbsp;</td>
    <td align="center">{month}&nbsp;</td>
    <td align="center">{interval}&nbsp;</td>
    <td>{title}</td>
    <td>{command}</td>
    <td align="center">&nbsp;{last}</td>
    <td align=center><a href="{del_link}" onclick="return confirm('{MSG_Confirm_delete_record}');"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
</tr>
<!-- END BLOCK : block_cmd -->

</table>
<!-- END BLOCK : block_cmds -->

<div class="attn">
{MSG_Cron_information}
</div>
