<script language="javascript" src="/js/reg_exp.js"></script>
<script>
function do_save(form) {
	var SendItem= 0;
	var AlertMessage;

	if (isEmpty(form.title.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_domain}';
	} else if (isEmpty(form.alias.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_domain_prefix}';
	} else if (isEmpty(form.sitename.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_site_name}';
	} else if (!isEmpty(form.contact_email.value) && !isEmail(form.contact_email.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_valid_contact_email}';
	} else if (!isEmpty(form.return_email.value) && !isEmail(form.return_email.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_valid_feedback_email}';
	}

	if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
	}
}
</script>
<!-- START BLOCK : block_err_obligatory -->
<div class="attn">{MSG_Not_all_required_fields}</div>
<!-- END BLOCK : block_err_obligatory -->

<!-- START BLOCK : block_err_domain -->
<div class="attn">{MSG_Domain_or_alias_exists}</div>
<!-- END BLOCK : block_err_domain -->

<!-- START BLOCK : block_err_pref -->
<div class="attn">{MSG_Prefix_reserved}</div>
<!-- END BLOCK : block_err_pref -->

<!-- START BLOCK : block_err 
<div class="attn">{MSG_Error}</div>
 END BLOCK : block_err -->

<form method="post" action="{form_action}" name="myForm">
<input type="hidden" name="id" value="{id}">
<div class="edit_form">
{MSG_Domain_without_http} <span class="required_field">*</span>:<br>
<input type="text" class=w300 id="title" name="title" value="{title}" size="80" maxlength="255"><br>

{MSG_Prefix_for_tables_folders} <span class="required_field">*</span>:<br>
<input type="text" class=w300 id="alias" name="alias" value="{alias}" size="80" maxlength="31"><br>

{MSG_Aliases_with_breaklines}:<br>
<textarea name="aliases" cols="80" rows="7">{aliases}</textarea><br>

{MSG_Site_name} <span class="required_field">*</span>:<br>
<input type="text" class=w300 id="sitename" name="sitename" value="{sitename}" size="80"><br>

{MSG_Site_name_for_mails}:<br>
<input type="text" class=w300 id="sitename_rus" name="sitename_rus" value="{sitename_rus}" size="80"><br>

<label for="multilanguage">{MSG_Multilanguage_support}:</label>
<input type="checkbox" class="checkb" id="multilanguage" name="multilanguage" {multilanguage_checked}><br>


{MSG_Contact_email_on_site}:<br>
<input type="text" class=w300 id="contact_email" name="contact_email" value="{contact_email}" size="80" maxlength="255"><br>

{MSG_Feedback_email_on_mail}:<br>
<input type="text" class=w300 id="return_email" name="return_email" value="{return_email}" size="80" maxlength="255"><br>

{MSG_Description}:<br>
<textarea name="descr" cols="80" rows="7">{descr}</textarea><br>

<br><span style="color: red;">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="do_save(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>
