<span class="add_btn"><a href="{add_site}"><img src="i/admin/ico_addcat.gif" alt="{MSG_Add_site}" title="{MSG_Add_site}" width=17 height=18 border=0>&nbsp;{MSG_Add_site}</a></span>
<div style="height: 10px;" class="spacer both">&nbsp;</div>

<!-- START BLOCK : block_categories -->
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
	<tr height="20">
		<th>{MSG_Ed}</th>
		<th width="20%">{MSG_Domain}</th>
		<th width="20%">{MSG_Name}</th>
		<th width="40%">{MSG_Description}</th>
		<th>{MSG_Modules}</th>
		<th>{MSG_Ad}</th>
		<th>{MSG_Del}</th>
	</tr>
<!-- START BLOCK : block_category -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td align="center">
			<a href="{edit_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit_site}" title="{MSG_Edit_site}" width=15 height=18 border=0></a>
		</td>
		<td nowrap class="nowrap">
			<a href="{langs_link}" title='{MSG_Site_ID} "{title}" {MSG_is} {id}'>{title}</a>
		</td>
		<td valign="top">&nbsp;{sitename}</td>
		<td valign="top">
			&nbsp;{descr}
		</td>
		<td align="center">
			<a href="{mod_link}"><img src="/i/admin/ico_list.gif" alt="{MSG_Edit_modules_list}" title="{MSG_Edit_modules_list}" width=15 height=18 border=0></a>
		</td>
		<td align="center">
			<a href="{lang_link}"><img src="/i/admin/ico_addprod.gif" alt="{MSG_Add_language}" title="{MSG_Add_language}" width=17 height=18 border=0></a>
		</td>
		<td align="center">
			<a href="javascript:if(confirm('{MSG_Confirm_delete_filled_site}')){location.href='{del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete_site}" title="{MSG_Delete_site}" width=15 height=18 border=0></a>
		</td>
	</tr>
<!-- END BLOCK : block_category -->
</table>
<!-- END BLOCK : block_categories -->

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->