<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/js/reg_exp.js"></script>
<script type="text/javascript">
function cnClickBtn()
{
    if (isEmpty(document.getElementById('date').value)) {
        alert ('{MSG_Enter_date}');
        return;
    }
    
    if (confirm('{MSG_Confirm_delete_records_before} `' + document.getElementById('date').value + '`?')) {
        window.location='/{baseurl}&action=log&clear&date=' + document.getElementById('date').value;
    }
}
</script>
<div class="edit_form">
{MSG_Total_records}: {log_amount}.<br>
<!-- START BLOCK : block_del -->
<div class="attn">{MSG_Deleted_records}: {del_records}.</div>
<!-- END BLOCK : block_del -->
{MSG_Delete_records_before} 
<input name="date" id="date" type="text" value="" size="10" readonly>
&nbsp;
<button type="button" onclick="cnClickBtn();"><span><img src="/i/admin/ico_del.gif" alt="" title="{MSG_Delete}" width=17 height=18 border=0>&nbsp;{MSG_Delete}</span></button>
&nbsp;
<button type="button" onclick="javascript:window.location='/{baseurl}&action=log'"><span><img src="/i/admin/b_cancel.gif" alt="" title="{MSG_Cancel}" width=15 height=15 border=0>&nbsp;{MSG_Cancel}</span></button>
<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "date",    // ID of the button
	  mondayFirst : true
    }
  );
</script>
</div>