<span class="add_btn"><a href="{add_lang}"><img src="i/admin/ico_addcat.gif" alt="{MSG_Add_language}" title="{MSG_Add_language}" width=17 height=18 border=0>&nbsp;{MSG_Add_language}</a></span>
<div style="height: 10px;" class="both spacer">&nbsp;</div>
<!-- START BLOCK : block_categories -->
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
	<tr height="20">
		<th>{MSG_Ed}</th>
		<th align="center">{MSG_Fill}</th>
		<th align="center">{MSG_Language}</th>
		<th width="99%">{MSG_Description}</th>
		<th align="center">&nbsp;</th>
		<th align="center">&nbsp;</th>
		<th align="center">{MSG_Default}</th>

		<th>{MSG_Del}</th>
	</tr>
<!-- START BLOCK : block_category -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td align="center">
			<a href="{edit_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a>
		</td>
		<td valign="top" align="center">
			<a href="javascript:if(confirm('{MSG_All_data_will_lost}')){location.href='{demo_fill_link}';}"><img src="/i/admin/{demo_fill_icon}" alt="{demo_fill_message}" title="{demo_fill_message}" width=15 height=18 border=0></a>
		</td>
		<td>
			{name_language}
		</td>
		<td nowrap>
			&nbsp;{title}
		</td>
		<td nowrap>
			<a href="{link_download_f}"><img src="/i/admin/b_down_arr.gif" title="{MSG_Download_f}" border="0"></a>
		</td>
		<td nowrap>
			<a href="{link_download_b}"><img src="/i/admin/b_upload.gif" title="{MSG_Download_b}" border="0"></a>
		</td>
		<td valign="top" align="center">
		    <!-- START BLOCK : block_default_lang -->
		    <img src="/i/admin/ico_ishome.gif" title="{MSG_Language_default}" width=15 height=18 border=0>
		    <!-- END BLOCK : block_default_lang -->
		    
		    <!-- START BLOCK : block_not_default_lang -->
			<a href="javascript:if(confirm('{MSG_Do_language_default}')){location.href='{default_lang_link}';}"><img src="/i/admin/ico_isnthome.gif" title="{MSG_Do_language_default}" width=15 height=18 border=0></a>
			<!-- END BLOCK : block_not_default_lang -->
		</td>
		<td align="center">
			<a href="javascript:if(confirm('{MSG_Confirm_delete_site}')){location.href='{del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a>
		</td>
	</tr>
<!-- END BLOCK : block_category -->
</table>
<!-- END BLOCK : block_categories -->

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->