<script language="JavaScript">
<!--
var formname = 'site_mod';
var checkname = 'mod[]';
function SelectAll(mark)
{ 
    for (i = 0; i < document.forms[formname].elements.length; i++) {
        var item = document.forms[formname].elements[i];
	    if (item.name == checkname) {
		     item.checked = mark;
		}
    }
}


function CheckSelect(form)  
{
    for (i = 0; i < form.elements.length; i++) {
        var item = form.elements[i];
        if (item.name == checkname)  {
            if (item.checked)  {				
                return true;
            }
        }
    }
    alert("{MSG_No_modules_selected}");

    return false;
}																													    
//-->
</script>
<form action="{action}" method="POST" name="site_mod"  onSubmit="return CheckSelect(this);">
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
	<tr height="20">
		<th><input type="checkbox" onclick="SelectAll(this.checked)" class="checkb"></th>
		<th width="95%">{MSG_Module}</th>
	</tr>
<!-- START BLOCK : block_module -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td align="center"><input type="checkbox" name="mod[]" value="{id}" id="mod_{id}" class="checkb" {checked}></td>
		<td><label for="mod_{id}">{title}</label></td>
	</tr>
<!-- END BLOCK : block_module -->
    <tr>
		<td colspan="2">		
        <BUTTON type="submit"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
        </td>
    </tr>
</table>
</form>