<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/js/reg_exp.js"></script>
<script type="text/javascript">
function checkForm(f)
{
    if (0 == document.getElementById('filtr_mod').selectedIndex
        && 0 == document.getElementById('filtr_action').selectedIndex
        && 0 == document.getElementById('filtr_user').selectedIndex
        && isEmpty(document.getElementById('date_from').value)
        && isEmpty(document.getElementById('date_to').value)
        ) {
        alert('{MSG_Enter_filter_parameter}');
        return;
    }

    f.submit();
}
function clearPeriod()
{
    document.getElementById('date_from').value  = document.getElementById('date_to').value = '';
}
</script>

<span class="add_btn"><a href="admin.php?lang={lang}&name=configuration&action=log&clear"><img src="/i/admin/ico_del.gif" alt="" title="{MSG_Delete_old_records}" width=17 height=18 border=0>&nbsp;{MSG_Delete_old_records}</a></span> 
<br clear="all"><br>
<form action="/admin.php" method="GET" class="edit_form">
<input type="hidden" name="name" value="configuration">
<input type="hidden" name="action" value="log">
<input type="hidden" name="lang" value="{lang}">
<input type="hidden" name="start" value="{start}">

<div class="u001"><div><img src="/i/admin/u001.gif" alt="" border="0"></div></div>
<div class="filters">
<img src="/i/admin/ico_filter.gif" alt="" border="0">&nbsp;&nbsp;{MSG_Filter}
</div>
<div class="filter_params">
{MSG_User}:&nbsp;
<select name="filtr[user]" id="filtr_user">
<option value="0">&#151;&nbsp;{MSG_Choose}</option>
<!-- START BLOCK : block_user -->
<option value="{elm_idx}"{selected}>{elm_val}</option>
<!-- END BLOCK : block_user -->
</select>&nbsp;&nbsp;&nbsp;

{MSG_Module}:&nbsp;
<select name="filtr[mod]" id="filtr_mod">
<option value="0">&#151;&nbsp;{MSG_Choose}</option>
<!-- START BLOCK : block_mod -->
<option value="{elm_idx}"{selected}>{elm_val}</option>
<!-- END BLOCK : block_mod -->
</select>&nbsp;&nbsp;&nbsp;

{MSG_Action}:&nbsp;
<select name="filtr[action]" id="filtr_action">
<option value="0">&#151;&nbsp;{MSG_Choose}</option>
<!-- START BLOCK : block_action -->
<option value="{elm_idx}"{selected}>{elm_val}</option>
<!-- END BLOCK : block_action -->
</select>

<br>
<br>

{MSG_Date_from}:&nbsp;&nbsp;
<input name="filtr[from]" id="date_from" type="text" value="{date_from_val}" size="10" readonly> &nbsp; <img alt="" src="/i/admin/b_cal.gif" id="imgStatF" style="vertical-align:middle;"> &nbsp; 
&nbsp;&nbsp;{MSG_to}:&nbsp;
<input name="filtr[to]" id="date_to" type="text" value="{date_to_val}" size="10" readonly> &nbsp; <img alt="" src="/i/admin/b_cal.gif" id="imgStatT" style="vertical-align:middle;"> &nbsp;
<!-- &nbsp;<button type="button" onclick="clearPeriod();"><span>{MSG_Clear_period}</span></button> -->
&nbsp;&nbsp;&nbsp;
{MSG_show_upto}&nbsp;&nbsp;
<input type="text" name="cnt" value="{cnt_val}" size="3" class="acenter">
&nbsp;&nbsp;{MSG_records}
<script type="text/javascript">
Calendar.setup({
    inputField  : "date_from",
    ifFormat    : "dd-mm-y",
    button      : "imgStatF",
    mondayFirst : true
});
Calendar.setup({
    inputField  : "date_to",
    ifFormat    : "dd-mm-y",
    button      : "imgStatT",
    mondayFirst : true
});
</script>
<br>
<br>
<button type="button" onclick="checkForm(this.form);"><span><img src="/i/admin/ico_select.gif" alt="" border="0">&nbsp;{MSG_Choose}</span></button>
<button type="button" onclick="javascript:window.location='/{baseurl}&action=log'"><span><img src="/i/admin/ico_clear.gif" alt="" border="0">&nbsp;{MSG_Reset}</span></button>
</form>
</div>

<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
	<tr height="20">
	    <th>{MSG_User}</th>
		<th>{MSG_Module}</th>
		<th>{MSG_Action}</th>
		<th>{MSG_ID}</th>
		<th>{MSG_Time}</th>
		<th>{MSG_IP}</th>
		<th>{MSG_Request_URL}</th>
	</tr>
<!-- START BLOCK : block_log_row -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td><a href="/admin.php?lang={lang}&name=users&action=edituser&id={user_id}">{user}</a>&nbsp;</td>
		<td><a href="/admin.php?lang={lang}&name={mod_uname}">{module}</a>&nbsp;</td>
		<td>{action}&nbsp;</td>
		<td>{item_id}&nbsp;</td>
		<td>{time}&nbsp;</td>
		<td>{ip_adress}&nbsp;</td>
		<td>{request}&nbsp;</td>
	</tr>
<!-- END BLOCK : block_log_row -->
</table>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->