<script language="javascript" src="/js/reg_exp.js"></script>
<script type="text/javascript">
function do_save(form) {
	var SendItem= 0;
	var AlertMessage;

<!-- START BLOCK : block_add_siteuser_js -->
	if (form.siteuser.value == 0) {
		if (isEmpty(form.siteusername.value)) {
			SendItem= 1; AlertMessage = '{MSG_Enter_login}';
		} else if (isEmpty(form.password.value)) {
			SendItem= 1; AlertMessage = '{MSG_Enter_password}';
		} else if (isEmpty(form.confirm_password.value)) {
			SendItem= 1; AlertMessage = '{MSG_Confirm_password}';
		} else if (form.password.value != form.confirm_password.value) {
			SendItem= 1; AlertMessage = '{MSG_Passwords_differ}';
		} else if (isEmpty(form.email.value)) {
			SendItem= 1; AlertMessage = '{MSG_Enter_email}';
		} else if (!isEmail(form.email.value)) {
			SendItem= 1; AlertMessage = '{MSG_Enter_valid_email}';
		}
	}
<!-- END BLOCK : block_add_siteuser_js -->
	if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
	}
}
</script>

<form method="post" action="{form_action}" name="myForm">
<input type="hidden" name="id" value="{id}">
<input type="hidden" name="lid" value="{lid}">
<div class="edit_form">
{MSG_Language} <span class="required_field">*</span>:<br>
<select name="site_lang">
<!-- START BLOCK : block_langs -->
<option value="{value}" {option_select}>{name}</option>
<!-- END BLOCK : block_langs -->
</select>
<br>
{MSG_Description}:<br>
<textarea name="descr" cols="80" rows="7">{title}</textarea>
<br>

<!-- START BLOCK : block_admin_siteuser -->
<!-- START BLOCK : block_err_siteuser -->
<div class="attn">{MSG_Error_siteuser}</div>
<!-- END BLOCK : block_err_siteuser -->

<!-- START BLOCK : block_siteuser_exist -->
<div class="attn">{MSG_Siteuser_exist}</div>
<!-- END BLOCK : block_siteuser_exist -->

<!-- START BLOCK : block_siteuser_select -->
<b>{MSG_Select_admin_user}</b> <span class="required_field">*</span>:<br>
<select name="siteuser">
<!-- START BLOCK : block_user -->
<option value="{value}"{option_select}>{name}</option>
<!-- END BLOCK : block_user -->
</select>
<!-- END BLOCK : block_siteuser_select -->
<!-- START BLOCK : block_siteuser_no_select -->
<input type="hidden" name="siteuser" value="0">
<!-- END BLOCK : block_siteuser_no_select -->
<!-- END BLOCK : block_admin_siteuser -->

<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="do_save(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>