<!-- START BLOCK : block_edit_menu -->
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
	<tr height="20">
		<th><!--{MSG_Title}--></th>
		<th width="30">{MSG_Rank}</th>
	</tr>
<!-- START BLOCK : block_menu_fields -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td nowrap class="nowrap">
			{title_menu}
		</td>
		<td width="80">
			<a href="{cat_up_link}"><img src="/i/admin/{img_up}" alt="{MSG_Move_up}" title="{MSG_Move_up}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a>
			<a href="{cat_down_link}"><img src="/i/admin/{img_down}" alt="{MSG_Move_down}" title="{MSG_Move_down}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a>
		</td>
	</tr>
<!-- END BLOCK : block_menu_fields -->
</table>
<h1 style="margin-bottom: 0.1em;">Состав блоков меню</h1>
<form action="{baseurl}&action=changeparent" method="post">
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
	<tr height="20">
		<th width="90%"><!--{MSG_Title}--></th>
		<th width="30">{MSG_Rank}</th>
		<th>&nbsp;</th>
	</tr>
<!-- START BLOCK : block_menu_level_0 -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td colspan="3"><h2>{title_menu}</h2></td>		
	</tr>
<!-- START BLOCK : block_menu_level_1 -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td nowrap class="nowrap">{title_menu}</td>
		<td>
			<a href="{cat_up_link}"><img src="/i/admin/{img_up}" alt="{MSG_Move_up}" title="{MSG_Move_up}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a>
			<a href="{cat_down_link}"><img src="/i/admin/{img_down}" alt="{MSG_Move_down}" title="{MSG_Move_down}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a>
		</td>
		<td><input type="checkbox" name="id[]" value="{id}"></td>
	</tr>
<!-- END BLOCK : block_menu_level_1 -->
<!-- END BLOCK : block_menu_level_0 -->
<tr>
	<td colspan="3" align="right" style="border-bottom:none !important; padding:30px 0 5px 0;">
	Переместить в раздел
	<select name="parent">
	<option value="">- выбрать -</option>
	<!-- START BLOCK : block_parent -->
	<option value="{id}">{title_menu}</option>
	<!-- END BLOCK : block_parent -->
	</select>
	<button type="submit" class="select" style="margin-right:0; position:relative; top:4px;">Переместить</button>
	</td>
</tr>
</table>

</form>
<!-- END BLOCK : block_edit_menu -->