<div style="text-align:right;"><a href="{cvs_report_link}">{MSG_Download_report_in_CSV} <img src="/i/admin/csv.gif" alt="csv" width="36" height="18" border="0" align="absmiddle" hspace="3"></a></div>

<!-- START BLOCK : block_period -->
|&nbsp;&nbsp;
<!-- START BLOCK : block_time -->

<!-- START BLOCK : block_active_time -->
<a href="{link}">{name}</a>&nbsp;&nbsp;|
<!-- END BLOCK : block_active_time -->

<!-- START BLOCK : block_no_active_time -->
{name}&nbsp;&nbsp;|
<!-- END BLOCK : block_no_active_time -->

<!-- END BLOCK : block_time -->

<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript">
function checkPeriod()
{
    var f = document.getElementById('date_from').value;
    var t = document.getElementById('date_to').value;
    if (!f && !t) {
        alert('{MSG_Enter_title}');
        return;
    }
    window.location='{action}&time[from]=' + f + '&time[to]=' + t;
}
function clearPeriod()
{
    document.getElementById('date_from').value  = document.getElementById('date_to').value = '';
}
</script>
{MSG_from}: 
<input name="time[from]" id="date_from" type="text" value="{date_from_val}" size="10" readonly>
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_from" name="trigger_from" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
{MSG_to}:
<input name="time[to]" id="date_to" type="text" value="{date_to_val}" size="10" readonly>
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_to" name="trigger_to" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
<button type="submit" onclick="checkPeriod();"><span>{MSG_Show}</span></button>
<button type="submit" onclick="clearPeriod();"><span>{MSG_Reset}</span></button>
<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date_from",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_from",    // ID of the button
	  mondayFirst : true
    }
  );
  Calendar.setup(
    {
      inputField  : "date_to",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_to",    // ID of the button
	  mondayFirst : true
    }
  );
</script>
<br><br>
<!-- END BLOCK : block_period -->

<table cellpadding="2" cellspacing="2" class="center" width="98%">
	<tr valign=top>
		<th width="16%"><b>{MSG_Languages}</b></th>
    	<th width="28%"><b>{MSG_Using_OS}</b></th>
	    <th width="28%"><b>{MSG_Browsers}</b></th>
	    <th width="28%"><b>{MSG_Screen_sizes}</b></th>
	</tr>
	<tr valign=top onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
    	<td>
    		<nobr>
<!-- START BLOCK : block_users_lang -->
    		{users_lang} - {users_lang_percent}%<br>
<!-- END BLOCK : block_users_lang -->
        	</nobr>
    	</td>
	    <td>
	    	<nobr>
<!-- START BLOCK : block_users_os -->
    		{users_os} - {users_os_percent}%<br>
<!-- END BLOCK : block_users_os -->
        	</nobr>
	    </td>
    	<td>
    		<nobr>
<!-- START BLOCK : block_users_browsers -->
			{users_browsers} - {users_browsers_percent}%<br>
<!-- END BLOCK : block_users_browsers -->
        	</nobr>
    	</td>
    	<td>
    		<nobr>
<!-- START BLOCK : block_users_resolution -->
			{users_resolution} - {users_resolution_percent}%<br>
<!-- END BLOCK : block_users_resolution -->
        	</nobr>
    	</td>
	</tr>
    </table>
    
    <table cellpadding="2" cellspacing="2" class="center" width="98%">
	<tr valign=top><th>{MSG_Address_IP}</th></tr>
<!-- START BLOCK : block_users_ip -->
	<tr valign=top onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
    	<td><a href="https://www.nic.ru/whois/?ip={users_ip}" target="_blank">{users_ip}</a> - {users_ip_percent}%</td>
	</tr>
<!-- END BLOCK : block_users_ip -->
    </table>    
    
<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->
