<!-- START BLOCK : block_fill_geoip -->
{MSG_For_fill_go_to} <a href="{fill_link}">{MSG_To_link}</a>
<!-- END BLOCK : block_fill_geoip -->

<!-- START BLOCK : block_load_geoip -->
{MSG_Copy_file_to_root_dir} {geo_country_arhive}, {geo_city_arhive} <a href="#" onclick="window.location.reload();">{MSG_And_reload_page}</a>
<!-- END BLOCK : block_load_geoip -->

<!-- START BLOCK : block_report -->
<div style="text-align:right;"><a href="{cvs_report_link}">{MSG_Download_report_in_CSV} <img src="/i/admin/csv.gif" alt="csv" width="36" height="18" border="0" align="absmiddle" hspace="3"></a></div>

<!-- START BLOCK : block_period -->
|&nbsp;&nbsp;
<!-- START BLOCK : block_time -->

<!-- START BLOCK : block_active_time -->
<a href="{link}">{name}</a>&nbsp;&nbsp;|
<!-- END BLOCK : block_active_time -->

<!-- START BLOCK : block_no_active_time -->
{name}&nbsp;&nbsp;|
<!-- END BLOCK : block_no_active_time -->

<!-- END BLOCK : block_time -->

<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript">
function checkPeriod()
{
    var f = document.getElementById('date_from').value;
    var t = document.getElementById('date_to').value;
    if (!f && !t) {
        alert('{MSG_Enter_period}');
        return;
    }
    window.location='{action}&time[from]=' + f + '&time[to]=' + t;
}
function clearPeriod()
{
    document.getElementById('date_from').value  = document.getElementById('date_to').value = '';
}
</script>
{MSG_from}:
<input name="time[from]" id="date_from" type="text" value="{date_from_val}" size="10" readonly>
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_from" name="trigger_from" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
{MSG_to}:
<input name="time[to]" id="date_to" type="text" value="{date_to_val}" size="10" readonly>
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_to" name="trigger_to" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
<button type="submit" onclick="checkPeriod();"><span>{MSG_Show}</span></button>
<button type="submit" onclick="clearPeriod();"><span>{MSG_Reset}</span></button>
<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date_from",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_from",    // ID of the button
	  mondayFirst : true
    }
  );
  Calendar.setup(
    {
      inputField  : "date_to",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_to",    // ID of the button
	  mondayFirst : true
    }
  );
</script>
<br><br>
<!-- END BLOCK : block_period -->

<br><br>
<h2>{MSG_All_visits_of} {time} {MSG_by_cities}</h2>
<img border="1" id="geo_visit_img" src="/mod/counter/city_graph.php?lang={lang}&{time_type}&type=people" title="{MSG_Geo_visits_of} {time}">
<h2>{MSG_Unique_visits_of} {time} {MSG_by_cities}</h2>
<img border="1" id="geo_unic_img" src="/mod/counter/city_graph.php?lang={lang}&{time_type}&type=uniq_people" title="{MSG_Geo_unique_visits_of} {time}">
<!-- END BLOCK : block_report -->