<!-- START BLOCK : block_load -->
<form method="POST" action="{form_action}" enctype="multipart/form-data" class="edit_form">
<p>{MSG_Select_csv_file}:</p>
<input type="file" name="csv_file"><br>
<button type="submit">{MSG_Load}</button>
<div class="attn">
{MSG_CSV_files_charset} -  UTF-8.<br>
{MSG_CSV_files_fields_order} :<br>
{MSG_CSV_files_fields}
</div>
</form>
<!-- END BLOCK : block_load -->

<!-- START BLOCK : block_result -->
<p>{MSG_Fields_loaded} - {load_count}</p>
<!-- END BLOCK : block_result -->

<!-- START BLOCK : block_result_error -->
<div class="err">
{MSG_Data_not_loaded}
</div>
<!-- END BLOCK : block_result_error -->