<div style="text-align:right;"><a href="{cvs_report_link}">{MSG_Download_report_in_CSV} <img src="/i/admin/csv.gif" alt="csv" width="36" height="18" border="0" align="absmiddle" hspace="3"></a></div>
<!-- START BLOCK : block_period -->
|&nbsp;&nbsp;
<!-- START BLOCK : block_time -->

<!-- START BLOCK : block_active_time -->
<a href="{link}">{name}</a>&nbsp;&nbsp;|
<!-- END BLOCK : block_active_time -->

<!-- START BLOCK : block_no_active_time -->
{name}&nbsp;&nbsp;|
<!-- END BLOCK : block_no_active_time -->

<!-- END BLOCK : block_time -->

<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript">
function checkPeriod()
{
    var f = document.getElementById('date_from').value;
    var t = document.getElementById('date_to').value;
    if (!f && !t) {
        alert('{MSG_Enter_title}');
        return;
    }
    window.location='{action}&time[from]=' + f + '&time[to]=' + t;
}
function clearPeriod()
{
    document.getElementById('date_from').value  = document.getElementById('date_to').value = '';
}
</script>
{MSG_from}: 
<input name="time[from]" id="date_from" type="text" value="{date_from_val}" size="10">
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_from" name="trigger_from" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
{MSG_to}:
<input name="time[to]" id="date_to" type="text" value="{date_to_val}" size="10">
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_to" name="trigger_to" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
<button type="submit" onclick="checkPeriod();"><span>{MSG_Show}</span></button>
<button type="submit" onclick="clearPeriod();"><span>{MSG_Reset}</span></button>
<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date_from",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_from",    // ID of the button
	  mondayFirst : true
    }
  );
  Calendar.setup(
    {
      inputField  : "date_to",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_to",    // ID of the button
	  mondayFirst : true
    }
  );
</script>
<br><br>
<!-- END BLOCK : block_period -->


<table cellpadding="2" cellspacing="2" class="center" width="98%">
	<tr valign=top>	
	    <th>&nbsp;</th>
        <th>{MSG_Current_hour}</th>
	    <th>{MSG_Today}</th>
	    <th>{MSG_Yesterday}</th>
	    <th>{MSG_Current_month}</th>
	    <th>{MSG_Last_month}</th>
	    <th>{MSG_Total_time}</th>
	</tr>
	<tr valign=top onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	    <td>{MSG_Total_visitors_num}</td>
		<td align="center">{hour_users}&nbsp;</td>
		<td align="center">{day_users}&nbsp;</td>
		<td align="center">{yesterday_users}&nbsp;</td>
		<td align="center">{mounth_users}&nbsp;</td>
	    <td align="center">{old_mounth_users}&nbsp;</td>
	    <td align="center">{all_users}&nbsp;</td>
	</tr>
	<tr valign=top onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	    <td>{MSG_Unique_visitors_num}</td>
        <td align="center">{hour_users_unique}&nbsp;</td>
		<td align="center">{day_users_unique}&nbsp;</td>
		<td align="center">{yesterday_users_unique}&nbsp;</td>
		<td align="center">{mounth_users_unique}&nbsp;</td>
	    <td align="center">{old_mounth_users_unique}&nbsp;</td>
	    <td align="center">{all_users_unique}&nbsp;</td>
	</tr>
</table>
<!-- START BLOCK : block_no_graf-->
<table cellpadding="2" cellspacing="2" class="center" width="98%">	
	<tr><th colspan="2">{MSG_By} {time}</th></tr>   
	<tr>
	   <td width="30%">{MSG_Total_visitors_num}</td><td>{period_users}</td>
	</tr>   
	<tr>
	   <td>{MSG_Unique_visitors_num}</td><td>{period_users_unique}</td>
	</tr>
</table>
<!-- END BLOCK : block_no_graf-->

	<br>
<!-- START BLOCK : block_graf-->
    <table cellspacing="2" cellpadding="2" border="0" width="98%" align=center class=center>
	<tr valign=top>
	    <th><b>{MSG_Period}</b></th>
	    <th><b>{MSG_All_visits_dynamics}</b></th>
	</tr>
	<tr valign=top>
	    <td width="20%">
<!-- START BLOCK : block_time_period_bullet -->
	    	<img src=/i/admin/bulet_{time_number}.png width="4" title="{time}"> {time}<br>
<!-- END BLOCK : block_time_period_bullet -->
        </td>
	    <td><img border="1" src="/mod/counter/dynamic_graph.php?lang={lang}&{time_type}&type=people" title="{MSG_All_visits_dynamics_by} {time}"></td>
	</tr>
	</table>
    <br>
    <table cellspacing="2" cellpadding="2" border="0" width="98%" align=center class=center>
	<tr valign=top>
	    <th><b>{MSG_Period}</b></th>
	    <th><b>{MSG_Unique_visits_dynamics}</b></th>
	</tr>
	<tr valign=top>
	    <td width="20%">
<!-- START BLOCK : block_unique_time_period_bullet -->
	    	<img src=/i/admin/bulet_{time_number}.png width="4" title="{time}"> {time}<br>
<!-- END BLOCK : block_unique_time_period_bullet -->
        </td>
	    <td height=120><img border="1" src="/mod/counter/dynamic_graph.php?lang={lang}&{time_type}&type=uniq_people" title="{MSG_Unique_visits_dynamics_by} {time}"></td>
	</tr>
	</table>
<!-- END BLOCK : block_graf-->
