<link rel="stylesheet" type="text/css" href="/css/tick.css" />
<script src="/js/admin/jquery/plugins/thickbox.js" language="JavaScript" type="text/javascript"></script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td>

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data" onsubmit="return checkForm(this);">
<input name="id" type="hidden" size="40" value="{form_id}">
<input name="start" type="hidden" size="40" value="{start}">

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="edit_form">
<tr>
<th colspan=2 align="left" valign="top" nowrap>{MSG_Category} <span class="required_field">*</span>:<br>

<select name="category">
	<option value="0">--  {MSG_Select_category}  --</option>
<!-- START BLOCK : block_categories -->
	<option value="{category}"{selected}>{category_title}</option>
<!-- END BLOCK : block_categories -->
</select>
</th>
</tr>

<tr>
<th colspan=2 align="left" valign="top" nowrap>{MSG_Form_name} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="form_name" size="50" value="{form_name}"></th>
</tr>

<tr>
<th colspan=2 width="20%" align="left" valign="top" nowrap>{MSG_Sending_email} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="form_email" size="50" value="{form_email}"></th>
</tr>

<tr>
<th colspan=2 width="20%" align="left" valign="top" nowrap>
{MSG_Add_field} (<a href="#TB_inline?height=600&width=800&inlineId=typeBlock" class="thickbox" target="_blank">{MSG_you_can_see_fields}</a>):<br>

<!-- begin: скрытая таблица с типами полей и комментариями к ним -->
<div id="typeBlock" style="display: none; font-size:100%;">
<table border="0" cellspacing="2" cellpadding="2" class="items">
<tr>

<td align="left" valign="top" class="frm">
<div class=attn><b>{MSG_Textfield}</b> - {MSG_for_string_255}</div>
{MSG_Example}:
<input type="text" value="{MSG_String_no_more_than_255}" size="60">
</td>

<td rowspan="2" align="left" valign="top" class="frm">
<div class=attn><b>{MSG_Textarea}</b> - {MSG_for_big_text}</div>
{MSG_Example}:<br>
<textarea cols="55" rows="8">{MSG_Big_text}</textarea>
</td>

</tr>
<tr>

<td align="left" valign="top" class="frm">
<div class=attn><b>{MSG_Checkbox}</b> - {MSG_for_flag_yes_no}</div>
{MSG_Example}:
<input type="checkbox" value="" class=checkb>
</td>

</tr>
<tr>

<td align="left" valign="top" class="frm">
<div class=attn><b>{MSG_Select_list}</b> - {MSG_for_radio_list}</div>
{MSG_Example}:
<select style="width: 300px;">
<option>{MSG_List_value} 1</option>
<option>{MSG_List_value} 2</option>
<option>{MSG_List_value} 3</option>
</select>
</td>

<td align="left" valign="top" class="frm">
<div class=attn><b>{MSG_Date}</b> - {MSG_for_date}</div>
{MSG_Example}:<br>
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<script type="text/javascript" src="/js/calendar/calendar_stripped.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup_stripped.js"></script>
<input type="text" id="date" style="width: 100px;" value="{calendar_date}">&nbsp;
<BUTTON value="Выбрать" type="button" id="trigger" style="vertical-align: middle;"><img src=/i/admin/b_cal.gif class=select><span>{MSG_Select}</span></BUTTON>

<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date",      // ID of the input field
      ifFormat    : "dd.mm.y",    // the date format
      button      : "trigger",    // ID of the button
			mondayFirst : true
//      daFormat    : "M d, y",    // the date format
//			displayArea : displayDate

    }
  );
</script>
</td>

</tr>

<td align="left" valign="top" class="frm">
<div class=attn><b>{MSG_Radio_list}</b> - служит для выбора значения из предложенного списка</div>
{MSG_Example}:<br>
{MSG_List_value} 1: <input type="radio" name="1" value="1" checked><br>
{MSG_List_value} 2: <input type="radio" name="1" value="2"><br>
{MSG_List_value} 3: <input type="radio" name="1" value="3">
</td>

<td align="left" valign="top" class="frm">
<div class=attn><b>{MSG_Comment}</b> - {MSG_for_comments}</div>
</td>

</tr>
<tr>
</table>
</div>
<!-- end: скрытая таблица с типами полей и комментариями к ним -->



<!-- begin: таблица для выбора типа поля и добавления поля в форму -->
<table class="frm form-edit-item">
<tr>
<td style="width: 204px;">
	{MSG_Field_name_title} <span class="required_field">*</span>:<br>
	<input type="text" name="field_title" size="35" value="">
</td>
<td style="width: 270px;">
{MSG_Field_type} <span class="required_field">*</span>:<br>
<select name="field_type">
	<option value="text">{MSG_Textfield}</option>
	<option value="textarea">{MSG_Textarea}</option>
	<option value="radio">{MSG_Radio_list}</option>
	<option value="select">{MSG_Select_list}</option>
	<option value="checkbox">{MSG_Checkbox}</option>
	<option value="date">{MSG_Date}</option>
	<option value="file">{MSG_File}</option>
	<option value="comments">{MSG_Comment}</option>
</select>
</td>
<td>
	<br>
	<input type="checkbox" name="field_required" value="1" class=checkb>&nbsp;&nbsp;{MSG_Required}
</td>
</tr>
<tr>
	<td colspan="3">
	<div><BUTTON value="Добавить поле" type="button" onClick="javascript:addElement(form);" style="margin: 2 0 2 0; width: 160px;"><img src=/i/admin/b_down_arr.gif class=arrow alt="{MSG_Add_field}"><span>{MSG_Add_field}</span></BUTTON></div>
</td>
</tr>
</table>
<!-- end: таблица для выбора типа поля и добавления поля в форму -->




</th>
</tr>
<tr>
<th colspan="2" align="left" valign="top"><br>{MSG_Form_fields}:<br>
<!-- begin: блоковый элемент куда добавляются все поля формы -->
<div id=items name=items class="items"></div>
<!-- end: блоковый элемент куда добавляются все поля формы -->
</td>
</tr>

<tr>
<!--<td>&nbsp;</td>-->
<td colspan="2" class="edit_form">
<br><input type="checkbox" id="captcha" name="captcha" value="1" {captcha_checked}>&nbsp;<label style="vertical-align:top; position:relative; top:5px;" for="captcha">{MSG_Add_CAPTCHA_code}</label>
</td>
</tr>

<tr>
<td>&nbsp;</td>
<td class="edit_form" style="padding-top:6px;">
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
<!--input type="button" name="cancel" value=" К списку " onClick="location.href='{cancel_link}';"-->
<BUTTON name="c" value="{MSG_Save}" type="submit"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</td>
</tr>
</table>
<!--/-->



</td>
</tr>
</table>
</form>

<script>
var types_array = new Array('text:{MSG_Textfield}', 'textarea:{MSG_Textarea}', 'select:{MSG_Select_list}', 'radio:{MSG_Radio_list}', 'checkbox:{MSG_Checkbox}', 'file:{MSG_File}');

var max_id = 0;

var p_in_l = new Array (); // индекс массива - id элемента в базе, значение - на каком месте находится в списке
var l_in_p = new Array (); // здесь наоборот, индекс - место в списке, значение - id элемента, который на это место поставлен
var field_type_arr = new Array (); // индекс массива - id элемента, значение - тип поля
var field_type_text_arr = new Array (); // индекс массива - id элемента, значение - текст, поясняющий тип поля
var field_title_arr = new Array (); // индекс массива - id элемента, значение - имя поля
var field_additional_arr = new Array (); // индекс массива - id элемента, значение - значение дополнительного поля
var field_required_arr = new Array (); // индекс массива - id элемента, значение - обязательность поля (is checkbox checked? = true/false)
var field_text_type_arr = new Array (); // индекс массива - id элемента, значение - тип вводимого в поле ввода текста
var field_text_len_arr = new Array (); // индекс массива - id элемента, значение - длина вводимого в поле ввода текста

// картинки
var img_url = 'i/admin/';
var img_up_url = img_url + 'ico_listup.gif';
var img_up_na_url = img_url + 'ico_ligrup.gif';
var img_down_url = img_url + 'ico_listdw.gif';
var img_down_na_url = img_url + 'ico_ligrdw.gif';
var img_remove_url = img_url + 'ico_del.gif';

// Формируем массив, соответствующий последовательности отображения элементов на экране:
<!-- START BLOCK : fill_array -->
l_in_p[{item_iterator}]={item_id};
p_in_l[{item_id}]={item_iterator};
field_type_arr[{item_id}]="{item_type}";
field_type_text_arr[{item_id}]="{item_type_text}";
field_title_arr[{item_id}]="{item_title}";
field_additional_arr[{item_id}]="{item_additional}";
field_required_arr[{item_id}]={item_required};
field_text_type_arr[{item_id}]={item_text_type};
field_text_len_arr[{item_id}]={item_text_len};
<!-- END BLOCK : fill_array -->

drawBlock(); // отобразить пункты списка

function swapNodes(item1,item2)
{
	var itemtmp = item1.cloneNode(1);
	var parent = item1.parentNode;
	item2 = parent.replaceChild(itemtmp,item2);
	parent.replaceChild(item2,item1);
	parent.replaceChild(item1,itemtmp);
	itemtmp = null;
}

function up(id) {
// id - id блока
	 last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	// на какой позиции стоит элемент с указанным id
   pos_from=p_in_l[id]; // переходим c места
   if(pos_from==1) return;
	 onImgs();

	 // меняем местами элементы в массивах
   id_to=l_in_p[pos_from-1]; // кто на месте куда мы целим

   p_in_l[id_to]=pos_from;
   p_in_l[id]=pos_from-1;

   l_in_p[pos_from-1]=id;
   l_in_p[pos_from]=id_to;

   var arg1=eval("document.getElementById('row_" + id_to + "')");
   var arg2=eval("document.getElementById('row_" + id + "')");

   if (arg1 != null && arg2 != null) {
   	swapNodes(arg1,arg2);
	 }
	 offImgs();

	return true;
}


function down(id) {
// id - id блока
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	// на какой позиции стоит элемент с указанным id
   pos_from=p_in_l[id]; // переходим c места
   if(pos_from==last_pos) return;
	 onImgs();

	 // меняем местами элементы в массивах
   id_to=l_in_p[pos_from+1]; // кто на месте куда мы целим

   p_in_l[id_to]=pos_from;
   p_in_l[id]=pos_from+1;

   l_in_p[pos_from+1]=id;
   l_in_p[pos_from]=id_to;

   var arg1=eval("document.getElementById('row_" + id_to + "')");
   var arg2=eval("document.getElementById('row_" + id + "')");

   if (arg1 != null && arg2 != null) {
		 swapNodes(arg1,arg2);
	 }
	 offImgs();

	return true;
}


function remove(id) {
	if (confirm('{MSG_Confirm_delete_this_field}')) {
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
		y = p_in_l[id]; // на каком месте удаляемый элемент

		// механизм удаления блока такой: смещаем его в самый низ,
		// последовательно перебирая все нижележащие элементы и вызывая функцию down,
		// потом удаляем из html-кода и массивов
		while(y < last_pos) {
			down(l_in_p[y]);
			y++;
		}

		// 'true' possible value specifies removal of childNodes also
		var remove_elm = document.getElementById('row_' + id);
		if (remove_elm != null) {
			//remove_elm.removeNode(true);
			remove_elm.parentNode.removeChild(remove_elm);
			l_in_p.pop();
			p_in_l[id] = null;
//			val[id] = null;
			field_type_arr[id] = null;
			field_type_text_arr[id] = null;
			field_title_arr[id] = null;
			field_additional_arr[id] = null;
			field_required_arr[id] = null;
			field_text_type_arr[id] = null;
			field_text_len_arr[id] = null;

			offImgs();
		}
	}
	return true;
}



function onImgs() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	if (l_in_p[1] != null) {
		var img=eval("document.getElementById('up_img_" + l_in_p[1] + "')");
		if (img != null) {
			img.src = img_up_url;
			img.style.cursor = "hand";
		}
	}

	if (l_in_p[last_pos] != null) {
		var img=eval("document.getElementById('down_img_" + l_in_p[last_pos] + "')");
		if (img != null) {
			img.src = img_down_url;
			img.style.cursor = "hand";
		}
	}

	return true;
}


function offImgs() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	if (l_in_p[1] != null) {
		var img=eval("document.getElementById('up_img_" + l_in_p[1] + "')");
		if (img != null) {
			img.src = img_up_na_url;
			img.style.cursor = "";
		}
	}

	if (l_in_p[last_pos] != null) {
		var img=eval("document.getElementById('down_img_" + l_in_p[last_pos] + "')");
		if (img != null) {
			img.src = img_down_na_url;
			img.style.cursor = "";
		}
	}

	return true;
}


function addElement(form) {
	var SendItem= 0;
	var AlertMessage;

	var field_type = form.field_type.options[form.field_type.selectedIndex].value;
	var field_type_text = form.field_type.options[form.field_type.selectedIndex].text;
	var field_title = form.field_title.value;
	var field_required = form.field_required.checked;

	if (field_type == "0") {
		SendItem= 1; AlertMessage = '{MSG_Select_field_type}';
	} else if (form.field_title.value == "" && field_type != "comments") {
		SendItem= 1; AlertMessage = '{MSG_Enter_field_name}';
	}

  if (SendItem) {
		alert(AlertMessage);
		return;
  }

	if (field_type == 'text') {
	} else if (field_type == 'textarea') {
	} else if (field_type == 'radio') {
	} else if (field_type == 'select') {
	} else if (field_type == 'checkbox') {
	} else if (field_type == 'date') {
	} else if (field_type == 'comments') {
	} else if (field_type == 'file') {
	} else return;


	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
	onImgs();


	max_id = max_id + 1
	new_elm_id = max_id;
	last_pos = last_pos+1;

	/*
	// задаем значения в массивах для нового элемента
	l_in_p[last_pos] = new_elm_id;
	p_in_l[new_elm_id] = last_pos;
	val[new_elm_id] = '';
	*/

	/*
	new_elm_id = id;
	last_pos = last_pos+1;
	*/

	// задаем значения в массивах для нового элемента
	l_in_p[last_pos] = new_elm_id;
	p_in_l[new_elm_id] = last_pos;
//	val[new_elm_id] = field_title;
	field_type_arr[new_elm_id] = field_type;
	field_type_text_arr[new_elm_id] = field_type_text;
	field_title_arr[new_elm_id] = field_title;
	field_additional_arr[new_elm_id] = '';
	field_required_arr[new_elm_id] = field_required;
	field_text_type_arr[new_elm_id] = 0;
	field_text_len_arr[new_elm_id] = field_type=='text' ? 255 : 0;

	drawElement(last_pos);
	offImgs();

	return true;
}


function drawBlock() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	for (i=1; i<l_in_p.length; i++) {
		if (l_in_p[i] && l_in_p[i] > max_id) max_id = l_in_p[i];
		drawElement(i);
	}

	offImgs();
}


function drawElement(i) {
// i - это индекс в массиве, где значение элементов массива есть id
	var id = l_in_p[i];
	var id_elm = 'row_' + id;
	var id_img = 'img_' + id;

	// флаг обязательности заполнения поля
	var checked = '';
	if (field_required_arr[id] == true) checked = 'checked';

	// значения для дополнительного поля (для select это
	var additional_value = '';
	if (field_additional_arr[id] != '')	additional_value = field_additional_arr[id];

	// составные части
	var field_title = '<input type="text" name="field_titles[' + id + ']" size="35" value="' + field_title_arr[id] + '"><br>';
	var additional = '<textarea cols="45" rows="5" name="field_additional[' + id + ']">' + additional_value + '</textarea>';
	var obLabel = '{MSG_Required}'.split(" ")[0].toLowerCase();
	var obligatory = '<input type="checkbox" name="field_required[' + id + ']" value="1" ' + checked + ' class=checkb>&nbsp;&nbsp;' + obLabel;
	var text_type = '';

	if (field_type_arr[id] == 'text') {
		additional = '';
		text_type = '{MSG_Type_symbol_max_num}:</b><br><select name="field_text_type[' + id + ']"><option value="0"'
					+ (field_text_type_arr[id]==0?' selected':'') +'>text</option><option value="1"'
					+ (field_text_type_arr[id]==1?' selected':'') +'>e-mail</option><option value="2"'
					+ (field_text_type_arr[id]==2?' selected':'') +'>number</option><option value="3"'
					+ (field_text_type_arr[id]==3?' selected':'') +'>phone</option></select> <input type=text style="padding-top: 3px; height: 21px;" ame="field_text_len[' + id + ']"  size="3" maxlength="3" value="' + field_text_len_arr[id] + '">';
	} else if (field_type_arr[id] == 'textarea') {
		additional = '';
	} else if (field_type_arr[id] == 'radio') {
		additional = '{MSG_List_elements} ({MSG_each_element_with_br}):<br>' + additional;
		obligatory = '';
	} else if (field_type_arr[id] == 'select') {
		additional = '{MSG_List_elements} ({MSG_each_element_with_br}):<br>' + additional;
		obligatory = '';
	} else if (field_type_arr[id] == 'checkbox') {
		additional = '';
		obligatory = '';
	} else if (field_type_arr[id] == 'date') {
		additional = '';
	} else if (field_type_arr[id] == 'comments') {
		field_title = '';
		additional = 'Пояснение к полю или форме:<br>' + additional;
		obligatory = '';
	} else if (field_type_arr[id] == 'file') {
		additional = '';
	} else return false;


	var img_remove = '<img src="' + img_remove_url + '" alt="{MSG_Delete}" border=0 vspace=1 hspace=1 align=absmiddle  onClick="remove(' + id + ');" style="cursor: hand">';
	var img_up = '<img src="' + img_up_url + '" alt="{MSG_Up}" border=0 vspace=1 hspace=1 align=absmiddle id="up_' + id_img + '" onClick="up(' + id + ');" style="cursor: hand">';
	var img_down = '<img src="' + img_down_url + '" alt="{MSG_Down}" border=0 vspace=1 hspace=1 align=absmiddle id="down_' + id_img + '" onClick="down(' + id + ');" style="cursor: hand">';

    //var new_elm =	'' + '<div id="' + id_elm + '" class="frm"><table class="form-edit-item"><tr><td style="width: 200px;">' + field_title + '<input type="hidden" name="field_types[' + id + ']" value="' + field_type_arr[id] + '"></td><td style="width: 270px;"><h6>' + field_type_text_arr[id] + '</h6>' + additional + text_type + '</td><td style="width: 100px;">' + obligatory + '</td><td style="padding-top: 8px; text-align: right;">' + img_up + img_down + img_remove + '</td></tr></table></div>';
    var new_elm = document.createElement('DIV');
    new_elm.id = id_elm;
    new_elm.className = 'frm';
    new_elm.innerHTML = '<table class="form-edit-item"><tr><td style="width: 200px;">' + field_title + '<input type="hidden" name="field_types[' + id + ']" value="' + field_type_arr[id] + '"></td><td style="width: 270px;"><h6>' + field_type_text_arr[id] + '</h6>' + additional + text_type + '</td><td style="width: 100px;">' + obligatory + '</td><td style="padding-top: 8px; text-align: right;">' + img_up + img_down + img_remove + '</td></tr></table>'
    document.getElementById("items").appendChild(new_elm);
	return true;
}


function showList() {
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
		var order = '';
		for(i=1;i<=last_pos;i++) {

			order = order +
			' place=' + p_in_l[l_in_p[i]] +
			' id=' + l_in_p[i] +
			' value=' + field_title_arr[l_in_p[i]] +"\n";

		}
		if (order) alert(order);

	return true;
}


// ---------------------------------------------------------------------------------
function viewBlock()
{
	if (navigator.appName != "Netscape")
	{
		var Block = document.getElementById("typeBlock");
		Block.style.display == "none" ? Block.style.display = "block" : Block.style.display = "none";
	}
}


function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

	if (form.form_email.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_sending_form_email}';
	}

	if (form.form_name.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_form_name}';
	}

	var selIdx = form.category.selectedIndex;
	if (form.category.options[selIdx].value == "0") {
		SendItem= 1; AlertMessage = '{MSG_Choose_category}';
	}

  if (!SendItem) {
		return true;
	} else {
		alert(AlertMessage);
		return false;
  }
}
</script>