<!-- START BLOCK : block_properties -->
<table>
<tr>
	<td valign="top">{MSG_Form}:<br>
		<select id="property1" name="property1" onchange="setURL('property1');">
			<option value="">{MSG_Select}</option>
		
		<!-- START BLOCK : block_form_list -->
			<option value="{form_id}">{form_ctitle_and_name}</option>
		<!-- END BLOCK : block_form_list -->
		
		</select>
	</td>
	
<!-- START BLOCK : block_page_edit -->
	<td><br><img style="cursor: hand" alt="{MSG_Goto_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="i/admin/ico_edit.gif" border="0"></td>
<!-- END BLOCK : block_page_edit -->

</tr>

</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->

<!-- INCLUDE BLOCK : tpl_block -->