<form>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
	<th>{MSG_Activ}</th>
	<th>{MSG_Ed}</th>
	<th>{MSG_Rights}</th>
	<th width="99%">{MSG_Name}</th>
	<th>{MSG_Recipient_email}</th>
	<th>{MSG_Shows}</th>
	<th>{MSG_Del}</th>
	<th align="left"><input type="checkbox" name="check_all" value="1" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_form_list -->
<tr onclick="switchCheckbox(this)" valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center">{change_status_action}</td>
<td align="center">{form_edit_action}</td>
<td align="center">{form_edit_rights_action}</td>
<td><a href="{form_data_link}">{form_name}</a></td>
<td align="center">{form_email}</td>
<td align="center">{form_hits}</td>
<td align="center">{form_del_action}</td>
<td>
<!-- START BLOCK : block_check -->
<input style="height: auto; padding: 0;" onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{form_id}">
<!-- END BLOCK : block_check -->
</td>
</tr>
<!-- END BLOCK : block_form_list -->
</table>
<br>
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate}</option>
<option value="suspend">{MSG_Suspend}</option>
<option value="delete">{MSG_Delete}</option>
</select> &nbsp;
<button onclick="doAction(this.form);return false;">{MSG_Execute}</button>
</form>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->