
Регистрация на сайте {web_address}<br><br>

{date}<br>
==========================================<br>
Никнейм(для форума и блога) : {username}<br>
Email : {email}<br>
Пароль : {password}<br>
<br>
<!-- START BLOCK : prop_list_item -->
{title} : {value}<br>
<!-- END BLOCK : prop_list_item -->

<!-- START BLOCK : confirm -->
Для подтверждения регистрации перейдите по ссылке<br>
<a href="{link}">{link}</a>
<!-- END BLOCK : confirm -->