<!-- START BLOCK : block_undefined -->

<!-- END BLOCK : block_undefined -->

<!-- START BLOCK : block_not_found -->
<h3>Пользователь не найден.</h3>
<!-- END BLOCK : block_not_found -->

<!-- START BLOCK : block_user_info -->
<table class="personal">
<tr>
<td width="120px">
<!-- START BLOCK : block_user_img -->
<img src="{path}" width="100">
<!-- END BLOCK : block_user_img -->
<!-- START BLOCK : block_user_no_img -->
<img src="/i/no_photo1.gif" width="100">
<!-- END BLOCK : block_user_no_img -->
</td>
<td width="120px">
<div style="float: left;">
<h2>{siteusername}</h2>
{firstname} {surname}{test}<br>
{company}
</td>
<td align="right">
<!-- START BLOCK : block_add_firend-->
<form action="{link}" method="POST"><button type="submit" class="w140">Добавить в друзья</button></form><br>
<!-- END BLOCK : block_add_firend-->
<!-- START BLOCK : block_send_msg -->
<button onclick="document.getElementById('frmSendMsg').style.display='block'; this.style.display='none'; document.getElementById('blckMsg').style.display='none';" type="button" id="btnShowForm">Написать сообщение</button>
<!-- END BLOCK : block_send_msg -->
</td>
</tr>
</table>
<div id="blckMsg" style="display: none;"></div>
<form action="{transurl}action=sendmsg" method="POST" id="frmSendMsg" onsubmit="return checkSendMsg();" style="display: none;" enctype="multipart/form-data">
	<input type="hidden" name="data[to]" value="{user_id}">
	<!--input type="hidden" name="ref" value="{referer}"-->
	<dl class="form-item">
	<p><b>Сообщение для пользователя</b></p>
		<dt><label for="txtTitle">Тема:</label></dt>
		<dd><input type="text" name="data[title]" size="30" id="txtTitle"></dd>
	</dl>
	<dl class="form-item">
		<dt><label for="btxtBody">Сообщение</label></dt>
		<dd><textarea name="data[body]" id="btxtBody" cols="20" rows="5"></textarea></dd>
	</dl>
	<dl class="form-item">
		<dt><br></dt><dd>
		<button type="submit">Отправить</button>
		<input onclick="document.getElementById('frmSendMsg').style.display='none'; document.getElementById('btnShowForm').style.display='inline'; document.getElementById('blckMsg').style.display='none';" type="button" value="Отменить">
		</dd>
	</dl>
</form>
<script type="text/javascript">
function checkSendMsg()
{
    if ('' == document.getElementById('btxtBody').value) {
        alert('Укажите текст сообщение');
        return false;
    }
    return true;
    /*
    var req = new JsHttpRequest();
    req.onreadystatechange = function() {
        if (req.readyState == 4) {
            document.getElementById('blckMsg').style.display='block';
            if (req.responseJS.res) {
                document.getElementById('frmSendMsg').style.display = 'none';
                document.getElementById('txtTitle').value = '';
                document.getElementById('btxtBody').value = '';
                document.getElementById('btnShowForm').style.display='inline';
                document.getElementById('blckMsg').innerHTML = "Ваше сообщение отправлено"
            } else {
               document.getElementById('blckMsg').innerHTML = req.responseJS.err;
            }
        }
    }
    req.open('POST', '{transurl}action=sendmsg', true);
    req.send( { q: document.getElementById('frmSendMsg') } );
    */
}
</script>
<div class="bb mt12">
<table class="photo-tabs mb0"><tr>
<td class="{css_class_active}"><a href="{user_link}">О пользователе</a></td>
<!-- START BLOCK : block_friends -->
<td class="{css_class_active}"><a href="{link}">Автопортрет</a></td>
<!-- END BLOCK : block_friends -->
<!-- START BLOCK : block_blog -->
<td class="{css_class_active}"><a href="{link}">Блог</a></td>
<!-- END BLOCK : block_blog -->
<!-- START BLOCK : block_blog_friends -->
<td class="{css_class_active}"><a href="{link}">Друзья</a></td>
<!-- END BLOCK : block_blog_friends -->
<!-- START BLOCK : block_gallery -->
<td class="{css_class_active}"><a href="{link}">Альбомы</a></td>
<!-- END BLOCK : block_gallery -->
<!-- START BLOCK : block_resume -->
<td class="{css_class_active}"><a href="{link}">Резюме</a></td>
<!-- END BLOCK : block_resume -->
<!-- START BLOCK : block_vacancy -->
<td class="{css_class_active}"><a href="{link}">Вакансии</a></td>
<!-- END BLOCK : block_vacancy -->
</tr></table>
</div>
<!-- END BLOCK : block_user_info -->
<br>