<br>
<div class=outab>
<table cellpadding=0 cellspacing=0 border=0 width=100% class=instab>
<tr valign=top>
	<th><br></th>
	<th>ФИО</th>
	<th>Логин</th>
	<th>Особые отметки</th>
</tr>
<!-- START BLOCK : block_siteusers -->
<tr valign=top>
	<td>{siteusers_image}</td>
	<td>{siteusers_surname} {siteusers_firstname} {siteusers_lastname}</td>
	<td>{siteusers_username}</td>
	<td></td>
</tr>
<!-- END BLOCK : block_siteusers -->
</table>
<!-- пояснения к шарикам -->
<br>
<table cellpadding=10 cellspacing=0 border=0>
<tr valign=middle>
	<td><img src="/i/i_shar_bl.gif" width=9 height=11 border=0 align="left" vspace="2"> &ndash; Студенты</td>
	<td><img src="/i/i_shar_r.gif" width=9 height=11 border=0 align="left" vspace="2"> &ndash; Преподаватели</td>
	<td><img src="/i/i_shar_gr.gif" width=9 height=11 border=0 align="left" vspace="2"> &ndash; Слушатели</td>
</tr>
</table>
<!-- /пояснения к шарикам -->
<br>
<!-- START BLOCK : nav -->
	<!-- страницы -->
<div id=plef20>
	<div class="line"><img src="/i/0.gif" width="1" height="1" alt=""></div>
	<div class="text-small">Страницы: {nav_string}</div>
</div>
	<!--/страницы -->
<!-- END BLOCK : nav -->
<br><div id=plef20><b id=af>Навигация по команде</b><br><br></div>
<table cellpadding=10 cellspacing=0 border=0 id=btop width=95%>
<tr valign=top>
	<td class=botmenu>
<!-- START BLOCK : block_siteusers_surname_letters -->
<a href="?word={siteusers_surname_letter}">{siteusers_surname_letter}{siteusers_alphapet_breaker}</a>
<!-- END BLOCK : block_siteusers_surname_letters -->
	<br><br><a href='?type=0' id=lgreen>Показать всех</a><br>
	<a href='?type=2' id=lgreen>Показать студентов</a><br>
	<a href='?type=1' id=lgreen>Показать преподавателей</a><br>
	<a href='?type=3' id=lgreen>Показать слушателей</a><br>
	</td>
</tr>
</table>
</div>