<!-- START BLOCK : block_welcome_siteuser -->
<p><b>Добро пожаловать в персональный раздел!</b></p>

<p>Вы можете покупать товары на нашем сайте, как <b>{client_type}</b>, и осуществлять контроль за выполнением заказа в <a href="{orders_history_link}">истории заказов</a>. Если вы уже успели добавить товары в <a href="{shopping_cart_link}">корзину покупок</a> до авторизации на сайте, то нажмите кнопку "пересчитать", и сумма заказа будет пересчитана в зависимости от типа вашей учетной записи. Вы также можете менять свои персональные данные по ссылке <a href="{edit_profile_link}">редактировать персональные данные</a>.</p>
<!-- END BLOCK : block_welcome_siteuser -->

