Регистрация на сайте {web_address}<br><br>

{date}<br>
==========================================<br>
Никнейм(для форума и блога) : {siteusername}<br>
Email : {email}<br>
Пароль : {password}<br>
Фамилия : {surname}<br>
Имя : {firstname}<br>
Компания : {company}<br>
Сфера деятельности : {activity}<br>
Должность : {post}<br>
Телефон : {phone}<br>
Сайт : {url}<br>
Откуда : {userfrom}<br>
Пол : {gender}<br>
Дата рождения : {birthday}<br>
ICQ : {icq}<br>
Интересы : {interests}<br>
Подпись : {signature}<br>
<!-- START BLOCK : block_email_confirm -->
<br>
Для подтверждения регистрации на сайте {web_address} зайдите по
<a href="{link}">ссылке</a>.
<!-- END BLOCK : block_email_confirm -->
