<!-- START BLOCK : block_access_deny -->
<div class="err">Авторизуйтесь пожалуйста.</div>
<!-- END BLOCK : block_access_deny -->
<!-- START BLOCK : block_edit_ok -->
<p><b>Информация успешно обновлена</b></p>
<!-- END BLOCK : block_edit_ok -->
<!-- START BLOCK : block_input_false -->
<div class="err">Не все обязательные поля заполнены или не совпадают пароли.</div>
<!-- END BLOCK : block_input_false -->


<!-- START BLOCK : block_form -->
<link rel=STYLESHEET href="/css/calendar-my-style.css" type="text/css">
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/js/multiselect.js"></script>

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data" id="frmEdit">
<input name="step" type="hidden" value="2">
<input name="action" type="hidden" value="{action}">

<div class="edit_form">

<!-- START BLOCK : prop_list -->
<!-- START BLOCK : prop_list_item -->
<p>
<!-- START BLOCK : prop_list_item_string -->
<label for="el-{id}" class="{css_required_class}">{title}:</label><br>
<input type="text" name="prop[{id}]" value="{value}" class="{css_required_class}" id="el-{id}"><br>
<!-- END BLOCK : prop_list_item_string -->

<!-- START BLOCK : prop_list_item_text -->
<label for="el-{id}" class="{css_required_class}">{title}:</label><br>
<textarea name="prop[{id}]" class="{css_required_class}" cols="40" rows="4" id="el-{id}">{value}</textarea><br>
<!-- END BLOCK : prop_list_item_text -->

<!-- START BLOCK : prop_list_item_date -->
<label for="el-{id}" class="{css_required_class}">{title}:</label><br>
<input type="text" name="prop[{id}]" value="{value}" class="{css_required_class} abo-date" id="el-{id}"><br>
<!-- END BLOCK : prop_list_item_date -->

<!-- START BLOCK : prop_list_item_flag -->
<br>
<input type="checkbox" name="prop[{id}]" value="1" class="{css_required_class} checkb" {checked} id="el-{id}">
 &mdash; <label for="el-{id}" class="{css_required_class}" id="el-{id}">{title}</label><br><br><br>
<!-- END BLOCK : prop_list_item_flag -->

<!-- START BLOCK : prop_list_item_select -->
<label for="el-{id}" class="{css_required_class}">{title}:</label><br>
<select name="prop[{id}]" class="{css_required_class}" id="el-{id}">
<option value="">- выбрать -</option>
<!-- START BLOCK : prop_list_item_select_item -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : prop_list_item_select_item -->
</select><br>
<!-- END BLOCK : prop_list_item_select -->

<!-- START BLOCK : prop_list_item_set -->
<fieldset>
<legend><label for="el-{id}" class="{css_required_class}">{title}:</label></legend>
<!-- START BLOCK : prop_list_item_set_item -->
<input type="checkbox" name="prop[{prop_id}][{id}]" value="1" {checked} class="checkb" id="el-{prop_id}-{id}">
 &mdash; <label for="el-{prop_id}-{id}">{name}</label><br>
<!-- END BLOCK : prop_list_item_set_item -->
</fieldset>
<!-- END BLOCK : prop_list_item_set -->
</p>
<!-- END BLOCK : prop_list_item -->
<!-- END BLOCK : prop_list -->

<label>Аватар:</label><br>
<input type="file" name="img">
<!-- START BLOCK : block_img_exist -->
<br><img src="/{path}">&nbsp;&nbsp;<input type="checkbox" name="del_img" id="del_img"> <label for="del_img">{MSG_Delete}</label>
<!-- END BLOCK : block_img_exist -->
<br>
Максимальный размер изображения - {img_max_height} x {img_max_width}px<br><br>

<span class="required_field">*</span> &#151; поля, обязательные для заполнения<br>

</div><br>
<BUTTON type="submit"><span>Сохранить</span></BUTTON>

</form>
<br>
<script type="text/javascript">
$(function() {
    $('.abo-date').each(function() {
        Calendar.setup({
            inputField  : $(this).attr('id'),      // ID of the input field
            ifFormat    : "dd.mm.y",    // the date format
            button      : $(this).attr('id'),    // ID of the button
            mondayFirst : true
        });
    });
    
    $('#frmEdit').submit(checkUserForm);
});

function checkUserForm()
{
    var id = {siteuser_id},
        username = '{username}',
        email = '{email}',
        ret = true,
        max_login_len = {max_login_len},
        min_login_len = {min_login_len},
        max_pass_len = {max_pass_len},
        min_pass_len = {min_pass_len},
        str = '';

    $('span.err').remove();
    
    return checkForm('#frmEdit');
}
</script>
<!-- END BLOCK : block_form -->