<!-- START BLOCK : block_ok -->
<p>Пароль изменен.</p>
<!-- END BLOCK : block_ok -->

<!-- START BLOCK : block_form -->
<h3>Смена пароля</h3>

<!-- START BLOCK : block_err -->
<p>Не возможно сменить пароль</p>
<!-- END BLOCK : block_err -->


<form method="post" action="{baseurl}&action={action}" id="frmChangePsw">
<input type="hidden" name="action" value="{action}">
Старый пароль:<br>
<input type="password" name="password" id="pswPsw"><br><br>
Новый пароль:<br>
<input type="password" name="new_password" id="pswNew"><br>
Подтверждение нового пароля:<br>
<input type="password" name="conf_password" id="pswConf"><br><br>
<button type="submit">Изменить пароль</button>
</form>

<script type="text/javascript">
$(function() {
    $('#frmChangePsw').submit(function() {
        var err = '', np = jQuery.trim($('#pswNew').val()), cp = jQuery.trim($('#pswConf').val());
        if ('' == jQuery.trim($('#pswNew').val())) {
            err += "Не указан старый пароль\n"
        }
        if ('' == np) {
            err += "Не указан новый пароль\n"
        }
        if ('' == cp) {
            err += "Не указан подтвержденный пароль\n"
        }
        if (np != cp) {
            err += "Пароли не совпадают\n"
        }
        if (np.length < 4) {
    		err += 'Пароль должен быть не меньше 4-х символов';
    	}
    	if (err) {
    	    alert(err);
    	    return false;
    	}
    	return true;
    });
});
</script>
<!-- END BLOCK : block_form -->

<!-- START BLOCK : block_access_deny -->
<p>Авторизуйтесь пожалуйста.</p>
<!-- END BLOCK : block_access_deny -->
