<style type="text/css">
.error {color:#ff0000; }
</style>
<!-- START BLOCK : block_error -->
	<div class="error">Невозможно отправить данные формы!</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_error -->

<!-- START BLOCK : block_errorcode -->
	<div class="error">Введен неправильный код!</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_errorcode -->
<!-- START BLOCK : block_form -->
<h2>{form_name}</h2>
<form method="post" action="{form_url}" name="{tag_form_name}" class="usual" enctype="multipart/form-data">
	<input type="hidden" name="action" value="{form_action}">
	<input type="hidden" name="id" value="{form_id}">
	<input type="hidden" name="ids" value="{ids}">
	<!-- START BLOCK : block_form_notice -->
	<div>{MSG_Marked_fields} {element_required}, {MSG_required_for_fill}</div>
	<!-- END BLOCK : block_form_notice -->

	<!-- START BLOCK : block_form_element -->

		<!-- START BLOCK : block_text_element -->
		<div class="usual-text">
		<h2><label for="{element_name}">{element_title}</label>{element_required}</h2>
		<input type="text" name="{element_name}" id="{element_name}" value="{element_value}" class="{element_type}
        <!-- START BLOCK : block_text_required -->
		 required
		<!-- END BLOCK : block_text_required -->
		" maxlength="{element_text_len}">
		</div>
		<!-- END BLOCK : block_text_element -->


		<!-- START BLOCK : block_textarea_element -->
		<div>
		<h2><label for="{element_name}">{element_title}</label>{element_required}</h2>
		<textarea name="{element_name}" id="{element_name}"
        <!-- START BLOCK : block_textarea_required -->
		 class="required"
		<!-- END BLOCK : block_textarea_required -->
		>{element_value}</textarea>
		</div>
		<!-- END BLOCK : block_textarea_element -->


		<!-- START BLOCK : block_radio_element -->
		<div class="radio">
		<h2>{element_title}</h2>
		<!-- START BLOCK : block_radio_element_item -->
			<p>
			<input type="radio" name="{element_name}" value="{element_item_title}" {checked} id="{element_item_id}">
			<label for="{element_item_id}">{element_item_title}</label>
			</p>
		<!-- END BLOCK : block_radio_element_item -->
		</div>
		<!-- END BLOCK : block_radio_element -->


		<!-- START BLOCK : block_select_element -->
		<div>
		<h2><label for="{element_name}">{element_title}</label></h2>
		<select name="{element_name}">
			<!-- START BLOCK : block_select_element_item -->
			<option value="{element_item_title}" {selected}>{element_item_title}</option>
			<!-- END BLOCK : block_select_element_item -->
		</select>
		</div>
		<!-- END BLOCK : block_select_element -->

		<!-- START BLOCK : block_checkbox_element -->
		<div class="radio">
			<p>
			<input type="checkbox" name="{element_name}" id="{element_name}" value="1" {element_checked}>
			<label for="{element_name}">{element_title}</label>
			</p>
		</div>
		<!-- END BLOCK : block_checkbox_element -->


		<!-- START BLOCK : block_date_element -->
		<Link rel="StyleSheet" href="/css/calendar-my-style.css" TYPE="text/css">
		<script type="text/javascript" src="/js/calendar/calendar.js"></script>
		<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
		<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>

		<div class="cldr">
		<h2><label for="{element_name}">{element_title}</label>{element_required}</h2>
		<input type="text" name="{element_name}" id="{element_name}" size="30" value="{element_value}"
        <!-- START BLOCK : block_date_required -->
		class="required"
		<!-- END BLOCK : block_date_required -->
		/>
		<img src="/i/admin/b_cal.gif" name="{trigger_uid}" id="{trigger_uid}" class="form-c-button">
		</div>
		<script type="text/javascript">
			Calendar.setup({
				inputField: "{element_name}",
				ifFormat: "dd.mm.y",
				button: "{trigger_uid}",
				mondayFirst: true
			});
		</script>
		<!-- END BLOCK : block_date_element -->


		<!-- START BLOCK : block_comments_element -->
		<div>
		<h2>{element_title}</h2>
		<p>{element_comments}</p>
		</div>
		<!-- END BLOCK : block_comments_element -->

		<!-- START BLOCK : block_file_element -->
		<div>
		<h2><label for="{element_name}">{element_title}</label>{element_required}</h2>
		<input type="file" name="{element_name}" id="{element_name}"
        <!-- START BLOCK : block_file_required -->
		 class="required"
		<!-- END BLOCK : block_file_required -->
		>
		</div>
		<!-- END BLOCK : block_file_element -->


	<!-- END BLOCK : block_form_element -->

	<!-- START BLOCK : block_captcha -->
		<div class="captcha_block">
		<h2>{MSG_Enter_code_on} <a href="#" class="dashed" onclick="document.getElementById('image_captcha_{img_id}').src = '{captcha_image_url}?rand=' + Math.round(Math.random() * 100000); return false;" title="Кликните, чтобы изменить код">{MSG_image}</a> <span class="element_required">*</span>
		<label for="captcha" style="display: none;">Код на картинке</label></h2>
		<input type="text" name="captcha" id="captcha" maxlength="{captcha_maxlength}" style="width: 50px;" class="text required">
		<img id="image_captcha_{img_id}" src="{captcha_image_url}">
		</div>
	<!-- END BLOCK : block_captcha -->

	<div class="sbmt">
	<button class="submitForm">Отправить</button>
	</div>
</form>
<script type="text/javascript" src="/js/forms.js"></script>
<!-- END BLOCK : block_form -->
<!-- START BLOCK : block_message -->
	<div>Данные формы успешно отправлены.</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_message -->