<!-- START BLOCK : block_message -->
	<div>Данные формы успешно отправлены.</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_message -->

<!-- START BLOCK : block_error -->
	<div>Невозможно отправить данные формы!</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_error -->

<!-- START BLOCK : block_errorcode -->
	<div>Введен неправильный код!</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_errorcode -->
