<!-- START BLOCK : block_properties -->
<table>
<tr>
	<td valign="top">{MSG_Faq_category}:<br>
		<select id="property1" name="property1" onchange="setURL('property1');">
			<option value="">{MSG_Select}</option>
			
		<!-- START BLOCK : block_categories -->
			<option value="{category}">{category_title}</option>
		<!-- END BLOCK : block_categories -->
		
		</select>
	</td>

<!-- START BLOCK : block_page_edit -->
	<td><br><img style="cursor: hand" alt="{MSG_Goto_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="/i/admin/ico_edit.gif" border="0"></td>
<!-- END BLOCK : block_page_edit -->

</tr>
<tr>
	<td valign="top">{MSG_Show_faq_number}:<br>
		<input type="text" name="property2" id="property2" value="" size="5">
	</td>
</tr>

</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->