<script>
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.title.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Empty_field}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>


<form action="{form_action}" method="POST" name="updateForm">
<div class="edit_form">
<input type="hidden" name="category" value="{category}">
{MSG_GroupName}: <input type="text" name="title" value="{category_title}" size="40"><br>
{MSG_GroupEmail}: <input type="text" name="mail" value="{category_mail}" size="40"><br>
<BUTTON name="s" value="{MSG_Save}" type="submit" onClick="checkForm(this.form); return false;"><img src="/i/admin/b_save.gif" alt="" class="save"><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src="/i/admin/b_cancel.gif" alt="" class="cancel"><span>{MSG_Cancel}</span></BUTTON>
</div>
</form>
