<script>
function do_save() {
	var SendItem	= 0;
	var AlertMessage;

	if (myForm.question.value == '') {
		SendItem= 1; AlertMessage = '{MSG_Enter_question}';
	}

	var selIdx = myForm.category.selectedIndex;
	if (myForm.category.options[selIdx].value == '0') {
		SendItem= 1;
		AlertMessage = '{MSG_Choose_category}';
	}

  	if (!SendItem) {
  		myForm.submit();
	} else {
		alert(AlertMessage);
  	}
}
</script>


<form method="post" action="{form_action}" name="myForm">
<input name="id" type="hidden" size="40" value="{faq_id}">
<input name="start" type="hidden" size="40" value="{start}">
<div class="edit_form">
{MSG_Category} <span class="required_field">*</span>:<br>
<select name="category">
<option value="0">--  {MSG_Select_category}  --</option>
<!-- START BLOCK : block_categories -->
<option value="{category}"{selected}>{category_title}</option>
<!-- END BLOCK : block_categories -->
</select><br>

{MSG_User_name}:<br>
<input type="text" class=w300 name="username" size="40" value="{faq_username}"><br>

{MSG_Email}:<br>
<input type="text" class=w300 name="email" size="40" value="{faq_email}"><br>

{MSG_City}:<br>
<input type="text" class=w300 name="city" size="40" value="{faq_city}"><br>

{MSG_Question} <span class="required_field">*</span>:<br>
<textarea cols="50" rows="6" class=w300 name="question">{faq_question}</textarea><br>

<textarea id="txt_content" name="txt_content" rows="4" cols="30" class="tinymce">{text}</textarea>
<br>


<br>
Дата публикации - если не указано текущее:<br>
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<input type="text" name="date" id="date" style="width: 100px;" >&nbsp;<BUTTON name="s" value="Выбрать" type="button" id="trigger"><img src="/i/admin/b_cal.gif" alt="" class="select"><span>Выбрать</span></BUTTON>

<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date",      // ID of the input field
      ifFormat    : "dd.mm.y",    // the date format
      button      : "trigger",    // ID of the button
	  mondayFirst : true
//      daFormat    : "M d, y",    // the date format
//			displayArea : displayDate

    }
  );


</script>
<br>

<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
<input type="checkbox" name="send_mess" id="send_mess" value="1" style="border:none"><label style="vertical-align:top; position:relative; top:5px;" for="send_mess">{MSG_Answer_sender}</label><br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="submit" onClick="do_save(); return false;"><img src="/i/admin/b_save.gif" alt="" class="save"><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src="/i/admin/b_cancel.gif" alt="" class="cancel"><span>{MSG_Cancel}</span></BUTTON>

</form>
