<form>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>{MSG_Activ}</th>
<th>{MSG_Ed}</th>
<th>{MSG_Rights}</th>
<th>{MSG_Name}</th>
<th>{MSG_Date}</th>
<th>{MSG_Question}</th>
<th>{MSG_Answer}</th>
<th>{MSG_Shows}</th>
<th>{MSG_Del}</th>
<th align="left">&nbsp; <input type="checkbox" name="check_all" value="1" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_question_list -->
<tr onclick="switchCheckbox(this)" valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center">{change_status_action}</td>
<td align="center">{faq_edit_action}</td>
<td align="center">{faq_edit_rights_action}</td>
<td align="center" nowrap>{faq_username}<br>{faq_email}</td>
<td align="center" nowrap>{faq_date}</td>
<td valign="top">{faq_question}</td>
<td valign="top">{faq_answer}</td>
<td valign="top">{faq_hits}</td>
<td align="center">{faq_del_action}</td>
<td>&nbsp;
<!-- START BLOCK : block_check -->
<input onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{faq_id}">
<!-- END BLOCK : block_check -->
</td>
</tr>
<!-- END BLOCK : block_question_list -->
</table>
<br>
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate}</option>
<option value="suspend">{MSG_Suspend}</option>
<option value="delete">{MSG_Delete}</option>
</select> &nbsp;
<button type="button" onclick="doAction(this.form);">{MSG_Execute}</button>
</form>


<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->