<!-- START BLOCK : block_product -->
<!--
<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="/js/jquery.lightbox-0.5.js"></script> 
<script type="text/javascript" src="/js/lightbox-0.5-settings.js"></script>
-->


<link rel="stylesheet" type="text/css" href="/css/colorbox.css" media="screen" />
<script type="text/javascript" src="/js/jquery.colorbox.js"></script> 
<script type="text/javascript" src="/js/colorbox-settings.js"></script>

				<div class="catalog_good_wrap">
					<div class="custom_h2">{product_title}</div>
					
					
					<!-- START BLOCK : new -->
					<div class="hz_item_sign_new"></div>
					<!-- END BLOCK : new -->
					
					<!-- START BLOCK : lead -->
					<div class="hz_item_sign_cool"></div>
					<!-- END BLOCK : lead -->
					
					<!-- START BLOCK : percent -->
					<div class="hz_item_sign_pers"></div>
					<!-- END BLOCK : percent -->
					
					<div class="clear"></div>
					<div class="catalog_good">
						
						<a href="" onclick="return false;" class="cat_4_price"><span>2200 Р</span></a>
						
						<div class="catalog_good_img">
						<!-- START BLOCK : block_product_first_img -->
    <!-- START BLOCK : block_product_first_img_exists -->
	<a href="{img_path}" class="lightbox_a"><img src="{img_path}" alt="" class="cat_img_big" id="imgBig"/></a>
	
	<!-- END BLOCK : block_product_first_img_exists -->
	<!-- START BLOCK : block_product_first_img_no_exists -->
	<img src="//i/no_photo.gif" alt="" class="cat_img_big" id="imgBig"/>
	<!-- END BLOCK : block_product_first_img_no_exists -->
	<!-- START BLOCK : block_product_first_preview_exists -->
	<!--img src="{preview_path}" onclick="setImg('{img_path}', this);"-->
	<!-- END BLOCK : block_product_first_preview_exists -->
	<!-- START BLOCK : block_product_first_preview_no_exists -->
	<!--{preview_path}-->
	<!-- END BLOCK : block_product_first_preview_no_exists -->
<!-- END BLOCK : block_product_first_img -->
						</div>
						<div class="catalog_good_slider">
						<!-- START BLOCK : block_product_img_list -->
						<style>
							a.cat_4_price{margin-top: 341px !important;}
						</style>
						
						
						  <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
							<!-- START BLOCK : block_product_img -->
							<!-- START BLOCK : block_product_preview_exists -->
							<li><img src="{preview_path}" alt="" class="small {active}" /><img src="{img_path}" alt="" class="big" /></li>
							<a href="{img_path}" class="lightbox_a" style="display: none;"><img src="{preview_path}" alt="" class="cat_img_big" id="imgBig"/></a>
							<!-- END BLOCK : block_product_preview_exists -->
							<!-- END BLOCK : block_product_img -->						
						  </ul>
												
						<!-- END BLOCK : block_product_img_list -->
						</div>
					</div><!-- EO catalog_good -->
					<!-- START BLOCK : block_analogues -->
					<div class="catalog_good_vertical_wrap">
						<div class="catalog_good_vertical">
							<div class="index_horiz_ta"></div>
							<div class="clear"></div>
							
							<div class="cg_h4">Похожие товары</div>					
							<div class="blueline100a"></div>
							
						<ul id="third-carousel" class="jcarousel-skin-tango">
							<!-- START BLOCK : block_analogues_row -->
							<li class="cg_item">
								<!-- START BLOCK : block_analogues_image_middle -->
								<a href="{prod_link}" title="{title}"><img src="{image_path}" alt="{title}" title="{title}"></a>
								<!-- END BLOCK : block_analogues_image_middle -->
								<div class="hz_category">{categ_title}</div>
								<div class="hz_item_name"><a href="{prod_link}">{title}</a></div>
								<!-- START BLOCK : analogues_price -->
								<!--  --><a href="{link}" class="pricebutton"><span>{price} Р</span></a>
								<!-- END BLOCK : analogues_price -->
								<!-- START BLOCK : analogues_dprice -->
								<!--  --><a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>
								<!--  --><div class="pricebuttonred_discount">{percent}%</div>
								<!-- END BLOCK : analogues_dprice -->	
								<div class="clear"></div>
							</li>
							<!-- START BLOCK : analogues_delim -->
							<!--
							<div class="blueline100a"></div>
							-->
							<!-- END BLOCK : analogues_delim -->
							
							
							<!-- END BLOCK : block_analogues_row -->
						</ul>
  
							

						
						</div><!-- EO catalog_good_vertical -->
						<div class="clear"></div>
						<div class="index_horiz_ba"></div>
					</div><!-- EO catalog_good_vertical_wrap -->
					<!-- END BLOCK : block_analogues -->

					<div class="clear"></div>
					
<!--					
						<div class="pict_dv dv0"></div>
						<div class="pict_dv dv1"></div>
						<div class="pict_dv dv2"></div>
						<div class="pict_dv dv3"></div>
						<div class="pict_dv dv4"></div>
						<div class="pict_dv dv5"></div>
						<div class="pict_dv dv6"></div>
						<div class="pict_dv dv7"></div>
						<div class="pict_dv dv8"></div>
						<div class="clear"></div>
-->
						<br />
						<a href="" class="cat_menu_item firstitem {klient_foool}" {klient_foool_style}><span>Характеристики</span></a>
						<a href="" class="cat_menu_item {desc}" {desc_style}><span>Описание</span></a>						
						<a href="" class="cat_menu_item {files}" {files_style}><span>Файлы для скачивания</span></a>
						<a href="" class="cat_menu_item {swf}" {swf_style}><span>3D просмотр</span></a>
						<div class="clear"></div>
						<br /><br />
						
						<div class="catalog_good_decr">
						
						<div class="cat_bc_block {klient_foool_active}">
							<!-- START BLOCK : block_group_properties -->
							<h3 class="ot2">Xарактеристики</h3>
							<div id="tphoto-blocks">
								<div class="gallery">		
									<table id="properties" style="width: 98% !important;">
										<!-- START BLOCK : block_group_properties_row -->
										
										<!-- START BLOCK : block_group_property -->
										<tr>
											<td>{title}</td>
											<td>{prefix} {value} {suffix}</td>
										</tr>
										<!-- END BLOCK : block_group_property -->
										
										<!-- START BLOCK : block_group_delim -->
										<tr>
											<td colspan="2"><b>{title}</b></td>
										</tr>
										<!-- END BLOCK : block_group_delim -->
										<!-- END BLOCK : block_group_properties_row -->
									</table>
								
								</div>
							</div>
							<!-- END BLOCK : block_group_properties -->
						</div>
						
						
						<div class="cat_bc_block {desc_active}">
							<!-- START BLOCK : block_description -->
							{product_description}
							<!-- END BLOCK : block_description -->	
							<!-- START BLOCK : block_link -->
							<a href="{link}" target="_blank" title="Купить в официальном интернет-магазине" class="ofi"><img src="/i/ofi.png" alt="Купить в официальном интернет-магазине" title="Купить в официальном интернет-магазине"></a>
							<!-- END BLOCK : block_link -->
						</div>
							

						
						<div class="cat_bc_block {files_active}">
							<!-- START BLOCK : loaded_block -->

						<table cellpadding=2 cellspacing=15 border=0 class="cat_bc_block_tbl">
									<tr>
										<th width=40></th>
										<th width=180>Название</th>
										<th width=500>Файл для скачивания</th>
										
									</tr>
						<!-- START BLOCK : loaded -->
						<tr>
						<td align=center valign="top">
						<img src="/i/{type}_ico.png" />
						</td>
						<td align=center valign="top">
						{name}
						</td>
						<td align=center valign="top">
						<a href="{path}" target="_blank">{filename}</a>
						</td>
						
						<!-- END BLOCK : loaded -->
						</table>
						<!-- END BLOCK : loaded_block -->
						</div>
						
						<div class="cat_bc_block {swf_active}">
							<!-- START BLOCK : swf -->

								<object style="width: 100%; height: 800px;">
									<param name="movie" value="{swf}" style="width: 100%; height: 800px;">
									<param name="allowfullscreen" value="true"/>
									<param name="menu" value="false"/>
									<param name="wmode" value="transparent"/>
									<embed src="{swf}" style="width: 100%; height: 800px;"></embed>
								</object>
						
						<!-- END BLOCK : swf -->
						</div>

						
						<br /><br />
						</div><!-- EO catalog_good_slider -->

						<div class="blueline100a"></div>
						
<!-- hide mail.ru -->				
<style>
.social_block.sb_large{
	width: 130px;
}

.social_block_temp{
	margin-left: -123px;
}
</style>
						
						<div class="social_block">
							<!-- Put this script tag to the <head> of your page -->
							<script type="text/javascript" src="//vk.com/js/api/openapi.js?86"></script>

							<script type="text/javascript">
							  VK.init({apiId: 3525041, onlyWidgets: true});
							</script>

							<!-- Put this div tag to the place, where the Like block will be -->
							<div id="vk_like"></div>
							<script type="text/javascript">
							VK.Widgets.Like("vk_like", {type: "button", height: 20});
							</script>
						</div>				
						<div class="social_block sb_large">
							<div class="social_block_temp">
							<a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'cm' : '1', 'ck' : '3', 'sz' : '20', 'st' : '2', 'tp' : 'combo'}">Нравится</a>
							<script src="http://cdn.connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>
							</div>
						</div>
						<div class="social_block">
						<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<div class="fb-like" data-href="http://supra.ru.web3.crearshost.ru/" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true"></div>	
						</div>	
						<div class="clear"></div>
						
						
						
						<!-- START BLOCK : block_concernd -->
						<div class="page_pp_wrap">
							<div class="custom_h2_page">Аксессуары</div>
							<div class="blueline"></div>
							
							<div>
							<!-- START BLOCK : block_concernd_row -->
							<div class="hz_item_2">
							     <!-- START BLOCK : block_concernd_image_middle -->
								<div class="hz_item_img_2"><a href="{prod_link}" title="{title}"><img src="{image_path}" alt="{title}" title="{title}"></a></div>
								<!-- END BLOCK : block_concernd_image_middle -->
								<div class="hz_category_2">{categ_title}</div>
								<!-- START BLOCK : concernd_price -->
								<a href="{link}" class="pricebutton"><span>{price} Р</span></a>
								<!-- END BLOCK : concernd_price -->
								<!-- START BLOCK : concernd_dprice -->
								<a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>
								<div class="pricebuttonred_discount">{percent}%</div>
								<!-- END BLOCK : concernd_dprice -->
							</div>
							<!-- END BLOCK : block_concernd_row -->
							
							
							
							</div>
							
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<br /><br />
						<!-- END BLOCK : block_concernd -->
						
						<!-- START BLOCK : news -->
						<div class="custom_h2">Новости о продукте</div>
						<!-- START BLOCK : news_item -->
						<div class="newsannounce">
							<div class="pht_wrap">
							     <!-- START BLOCK : news_img -->
								<div class="ph"><a href="{link}" title="{title}"><img src="{src}" alt="{title}" title="{title}"></a></div>
								<!-- END BLOCK : news_img -->
								<div class="txt">
									<div class="date2">{date}</div>
									<a href="{link}" title="{title}" class="h5">{title}</a>						
									<div class="an">{announce}</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<!-- END BLOCK : news_item -->
						
						<br />						
						<a href="{link}" title="">Показать все новости</a>
                        <!-- END BLOCK : news -->
					
				</div><!-- EO catalog_good -->		
		</div>



























