<form action="{baseurl}&action=setstatus" method="POST" class="edit_form" id="frmStatus" onsubmit="" style="display: {css_form_dispay};">
<input type="hidden" name="data[id]" id="hdnId" value="{id}">
<label for="txtTitle">{MSG_Title} <span class="required_field">*</span>:</label><br>
<input type="text" name="data[title]" id="txtTitle" value="{title}" class="abo-required w300"><br>
<label for="chbPayable">{MSG_Payable} - </label>
<input type="checkbox" name="data[payable]" id="chbPayable" value="1" {payable_checked} class="checkb"><br><br>
<button type="submit" class="btn"><img border="0" alt="" src="/i/admin/b_save.gif" class="save" /> <span>{MSG_Save}</span></button>
<button type="button" class="btn" onclick="gStatusCopm.showList();"><img border="0" alt="" src="/i/admin/b_cancel.gif" class="save" /> <span>{MSG_Cancel}</span></button>
</form>

<div id="blckStatusList" style="display: {css_list_dispay};">
<a class="add_btn" href="#" onclick="gStatusCopm.showForm(); return false;"><span><img height="18" border="0" width="17" title="{MSG_Add}" alt="{MSG_Add}" src="i/admin/ico_addcat.gif"/>{MSG_Add}</span></a>
<div class="spacer both" style="height: 10px;"> </div>
<!-- START BLOCK : block_status_list -->
<table class="center">
<tr>
    <th>{MSG_Ed}</th>
    <th>Id</th>
    <th>{MSG_Title}</th>
    <th>{MSG_Payable}</th>
    <th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_status -->
<tr>
    <td><a href="{baseurl}&action=status&id={id}"><img height="18" border="0" width="15" title="{MSG_Edit}" alt="{MSG_Edit}" src="/i/admin/ico_edit.gif"/></a></td>
    <td>{id}</td>
    <td>{title}</td>
    <td>{payable}</td>
    <td>
    <a href="{baseurl}&action=delstatus&id={id}" onclick="return confirm('{MSG_Delete}?');"><img height="18" border="0" width="15" title="{MSG_Delete}" alt="{MSG_Delete}" src="/i/admin/ico_del.gif"/></a>
    </td>
</tr>
<!-- END BLOCK : block_status -->
</table>
<!-- END BLOCK : block_status_list -->
</div>
<script type="text/javascript">
var gStatusCopm = function() {
    var el = {
        form: $('#frmStatus'),
        list: $('#blckStatusList'),
    };
    return {
        showForm: function() {                                                                                                                                                                             
            $("#frmStatus :text").attr('value', '');
            $("#frmStatus :hidden").attr('value', '');
            $("#frmStatus :checkbox").attr('checked', false);
            el.list.hide();
            el.form.fadeIn("normal");
        },
        showList: function() {
            el.form.hide();
            el.list.fadeIn("normal");
        }
    }
}();

</script>