<form action="{baseurl}&action=setdelivery" method="POST" class="edit_form" id="frmDlvr" onsubmit="" style="display: {css_form_dispay};">
<input type="hidden" name="data[id]" id="hdnId" value="{id}">
<label for="txtTitle">{MSG_Title} <span class="required_field">*</span>:</label><br>
<input type="text" name="data[title]" id="txtTitle" value="{title}" class="abo-required w300"><br>
<label for="txtCost">{MSG_Delivery_cost} <span class="required_field">*</span>:</label><br>
<input type="text" name="data[cost]" id="txtCost" value="{cost}" size="6"> {currency}<br>
<label>{MSG_description} :</label><br>
<textarea id="txtDscr" name="data[dscr]" rows="6" cols="60">{dscr}</textarea><br>
<label for="txtRank">Порядок вывода<span class="required_field">*</span>:</label><br>
<input type="text" name="data[rank]" id="txtRank" value="{rank}" class="abo-required w300"><br>
<button type="submit" class="btn"><img border="0" alt="" src="/i/admin/b_save.gif" class="save" /> <span>{MSG_Save}</span></button>
<button type="button" class="btn" onclick="gDlvrCopm.showList();"><img border="0" alt="" src="/i/admin/b_cancel.gif" class="save" /> <span>{MSG_Cancel}</span></button>
</form>

<div id="blckDlvrList" style="display: {css_list_dispay};">
<a class="add_btn" href="#" onclick="gDlvrCopm.showForm(); return false;"><span><img height="18" border="0" width="17" title="{MSG_Add}" alt="{MSG_Add}" src="i/admin/ico_addcat.gif"/>{MSG_Add}</span></a>
<div class="spacer both" style="height: 10px;"> </div>
<!-- START BLOCK : block_delivery_list -->
<table class="center">
<tr>
    <th>{MSG_Ed}</th>
    <th>{MSG_Title}</th>
    <th>{MSG_Cost}</th>
    <th>{MSG_description}</th>
    <th>Порядок</th>
    <th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_delivery -->
<tr>
    <td><a href="{baseurl}&action=delivery&id={id}"><img height="18" border="0" width="15" title="{MSG_Edit}" alt="{MSG_Edit}" src="/i/admin/ico_edit.gif"/></a></td>
    <td>{title}</td>
    <td>{cost}</td>
    <td>{dscr}</td>
    <td>{rank}</td>
    <td>
    <a href="{baseurl}&action=deldelivery&id={id}" onclick="return confirm('{MSG_Delete}?');"><img height="18" border="0" width="15" title="{MSG_Delete}" alt="{MSG_Delete}" src="/i/admin/ico_del.gif"/></a>
    </td>
</tr>
<!-- END BLOCK : block_delivery -->
</table>
<!-- END BLOCK : block_delivery_list -->
</div>
<script type="text/javascript">
var gDlvrCopm = function() {
    var el = {
        form: $('#frmDlvr'),
        list: $('#blckDlvrList'),
        dscr: $('#txtDscr')
    };
    return {
        showForm: function() {                                                                                                                                                                             
            $("#frmDlvr :text").attr('value', '');
            $("#frmDlvr :hidden").attr('value', '');
            el.dscr.attr('value', '');            
            el.list.hide();
            el.form.fadeIn("normal");
        },
        showList: function() {
            el.form.hide();
            el.list.fadeIn("normal");
        }
    }
}();

</script>