<style>
    .userInfo {
        height: 200px; /* высота нашего блока */
        width: 200px; /* ширина нашего блока */
        background: #fff; /* цвет фона, белый */
        border: 1px solid #C1C1C1; /* размер и цвет границы блока */
        overflow-x: scroll; /* прокрутка по горизонтали */
        overflow-y: scroll; /* прокрутка по вертикали */
    }
/*   .userComment {
           height: 200px;
        width: 200px;
        background: #fff;
        border: 1px solid #C1C1C1;
        overflow-x: scroll;
        overflow-y: scroll;
    }*/

    .autocomp_wr {padding: 5px;}
    .autocomp_wr label, .autocomp_wr input {display: inline-block;vertical-align: middle;}
    .autocomp_wr input {padding-top: 0;height: 21px;}

</style>
<p style="text-align: right;"><a href="{print_link}" target="_blank">{MSG_Print_order}</a></p>
<script type="text/javascript">
 var availableTags = {search_data}
    $(document).ready(function(){

        $(".discType").change(function(){
            var l=$("#discount").val();
            $("#discount").val($("#discount").attr("ini"));
            $("#discount").attr("ini",l);

        })

        $("#addRewiev").click(function(){
            var userId= $('.userComment').attr('ini'),
                message = $('#reviewMessage').val();
            $.post('/admin.php?lang=rus&name=shop&action=addReview', { 'userId' : userId, 'message' : message }, function(data) {
                $('#reviewBlock').hide();
                alert("Ваш отзыв о клиенте успешно сохранён.");
            }, "json");
        });
        $('.del').live("click",function(){
            $(this).prev().remove();
            $(this).remove();

        });

        $('.delL').live("click",function(){
            $(this).parent('div').remove();
            //var elC=$(this).parent('div').find('.countP');
           // if(elC.attr('ini') > 1)
           // {
          //      elC.text(elC.attr('ini')-1);
           //     $(this).parent('.itemValue').find('input').first().remove();
          //      elC.attr('ini',elC.attr('ini')-1);
          //  }
          //  else
         //   {
         //       $(this).parent('div').remove();
        //    }

        });
        
       
        $( ".autocomp" ).autocomplete({
        source: availableTags,
            select:function(event,ui){
                $('#sels').append($('#sel').html());
                $('#sels').append('<span onclick="del(this)" class=del><img class="create" src="/i/admin/b_delete.gif"/></span>');
                var obj=$('.selectItem').last();
                $(obj).find('select').first().val(ui.item.category_id);
                loadProds(ui.item.category_id, 4, $(obj).find('select').first(),ui.item.id);



            }});


    });
    var sels_length;
    function add_s(){
       $('#sels').append($('#sel').html());
       $('#sels').append('<span onclick="del(this)" class=del><img class="create" src="/i/admin/b_delete.gif"/></span>');
        $('option', $('#sels').find('select').last()).remove();
        $('#sels').find('select').last().css("display","none");
        $('#sels').find('input').last().css("display","none");
        $('.f').last().remove();

        
    }

    function loadProds(cat_id, type, obj , search){
        if($(obj).val() == '0') {
            $(obj).closest('tr').find('#block1').html('<select name="product_id[]" id="product_id" style="display: none;" onchange="selectProd(this.value,this);"><option value="0"></option></select>');
            }
          else {           
       
            var td = $(obj).closest('tr').find('td').eq(1),ret;
            td.html("загрузка...");
            $.post('/admin.php?lang=rus&name=shop&action=getprods', { 'cat' : cat_id, 'type' : type }, function(data) {
                $(td).hide();
                $(td).html(data.content);
                /*SlowScroll($('#comments_block'));*/
                $(td).animate({ opacity: "show" }, 600);
                $(td).append('<input type="text" name="'+search+'" value="1" class="productCount"/>');
                if(search)$(td).find('select').val(search);

        }, "json");
        }

    }
    function del(el){
       // $(el).prev().remove();
       // $(el).prev().remove();
       // el.remove();
    }

    function selectProd(val,el)
    {
        $(el).parent('td').find('input').attr('name',val);
    }

</script>
<style>
.adm_ord input[type=text] {height: 21px;padding: 0 0 0 4px;}
.adm_ord textarea {min-height: 124px;}
.adm_ord_addr div {clear: both;}
.adm_ord_addr input[type=text] {float: right;margin-bottom: 5px;}
.adm_ord_prod {vertical-align: top;}
.adm_ord_prod td {vertical-align: top;}
.adm_ord_prod select {margin: 0px!important;vertical-align: top;}
.adm_ord_prod td input[type=text] {margin-left: 3px;}
.adm_ord_prod table {display: inline-block;}
.adm_ord_prod .del {display: inline-block;vertical-align: top;margin: 7px 0 0 0;}
</style>
<h1>{act} заказ</h1>
<form name="save_order" action="/admin.php?name=shop&action={action}" method="post" class="adm_ord">
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20%">

<th>Заказчик</th>
<th>Телефон</th>
<th>E-mail</th>
<th>Доставка</th>
<th>Транспортные услуги</th>
<th>Скидка</th>
</tr>
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center">&nbsp;<input id="title" type="text" name="person" value="{person}">
   
    &nbsp;</td>
<td align="center">&nbsp;<input id="phone" type="text" name="phone" value="{phone}">&nbsp;</td>
<td align="center">&nbsp;<input id="email" type="text" name="email" value="{email}">&nbsp;</td>
<td align="center">&nbsp;<select id="delivery" type="text" name="delivery" value="{delivery}">{deliveryList}</select>&nbsp;</td>
<td align="center">&nbsp;<input id="transp" type="text" name="transp" value="{transp}">&nbsp;</td>
<td align="center">процент<input type="radio" value="percent" name="discountType" class="discType">сумма<input name="discountType" type="radio" value="sum"  class="discType" checked><br>&nbsp;<input id="discount" type="text" name="discount" value="{discount}" ini="{discountPercent}">&nbsp;</td>
</tr>
</table>


 <!-- START BLOCK : user_info_block -->
    <div class=''>
        <table class="tbl45 center">
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Заказчик / Контактное&nbsp;лицо</th>
                <th>Сумма</th>
                <th>Скидка</th>
                <th>Статус заказа</th>
            </tr>
            <!-- START BLOCK : block_order -->
            <tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
                <td><a href="{order_link}">{order_id}</a></td>
                <td align="center" nowrap><a href="{order_link}">{order_date}</a>&nbsp;</td>
                <td>{order_customer}{order_organization}&nbsp;</td>
                <td align="right">{order_cost}&nbsp;{order_currency}&nbsp;</td>
                <td align="right">{order_discount}&nbsp;</td>
                <td align="center">{order_status}&nbsp;</td>
            </tr>
            <!-- END BLOCK : block_order -->
        </table>
    </div>
    <!-- END BLOCK : user_info_block -->
    <!-- START BLOCK : user_comment -->
    <div>
        <table class="tbl45 center">
            <tr>
                <th>Дата</th>
                <th>Менеджер</th>
                <th>Текст</th>
            </tr>
            <!-- START BLOCK : block_review -->
            <tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" id="reviewV">
                <td align="center" nowrap><a href="{order_link}">{date}</a>&nbsp;</td>
                <td align="center" nowrap><a href="/admin.php?lang=rus&name=siteusers&action=editsiteuser&id={manager_id}">{manager}</a>&nbsp;</td>
                <td align="right">{message}</td>
            </tr>
            <!-- END BLOCK : block_review -->
        </table>
    </div>
    <div class="addReview userComment" id="reviewBlock" ini ="{user_id}">
        <input type="text" id="reviewMessage" />
        <input type="button" value="Оставить отзыв"  id="addRewiev">
    </div>
    <!-- END BLOCK : user_comment -->
	
	
	
	
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th width=30%>Адрес</th>
<th width=30%>Юр. лицо</th>
<th width=10%>Оплата</th>
<th width=30%>Дополнительная информация</th>
</tr>
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td width="30%" class="adm_ord_addr">
    {address}
&nbsp;</td>
<td align="left" width=30%><textarea rows="4" cols="80" name="Jur_person" >{jur_person}
</textarea></th>&nbsp;</td>
<td align="left" width=10%><select name="payment_type">{pay_types}</select></td>
<td align="left" width=30%><textarea rows="4" cols="80" name="additional">{additional}
</textarea>&nbsp;</td>
</tr>
</table>
<br><br>

<h1>Список заказанных товаров:</h1>
    {items}
<table style="float: left;">
    <tr>
        <td>
<div id="sels" class="adm_ord_prod">
    <div id="sel" class="sel_elem">
<table cellpadding=2 cellspacing=2 border=0 class="selectItem" width=98% >

        <tr><td>
            <select name="prod_id[]" onchange="loadProds(this.value, 4, this,0)" id="prod_id">
                <option value="0">выбрать</option>
                <!-- START BLOCK : prod -->
                <option value="{id}">{title}</option>
                <!-- END BLOCK : prod -->

            </select></td>
            <td id="block1" >
            <select name="product_id[]" id="product_id" style="display: none" onchange="selectProd(this.value,this)">
                <option value="0"></option>

            </select>

            </td>
            <td></td>

        </tr>

</table>

        </div>

    </div>
    <div style="clear: both;"></div>
            <div class="autocomp_wr" style="padding: 4px;"><label for="tags">Добавить по артикулу: </label>
                <input style="padding-top: 0;height: 21px;" id="tags" class="autocomp"></div>
            <button onclick="add_s()" type="button" value="Добавить" name="add" style="margin-left: 5px;"><img class="create" src="/i/admin/b_create.gif"><span>Добавить</span></button><br/><br/><br/><br/><br/><br/>
            <button type="submit"><img class="create" src="/i/admin/b_save.gif"><span>Сохранить</span></button><button type="button" onclick="window.location='/admin.php?lang=rus&name=shop&action=orders'"><img class="create" src="/i/admin/b_cancel.gif" ><span>Отменить</span></button>
            <!-- START BLOCK : order_excel -->
            <button onclick="window.open('http://suprashop.ru/files/order_excel/{order_id}.xls');" type="button" value="Скачать накладную"><img class="create" src="/i/admin/b_save.gif"><span>Скачать накладную</span></button>
            <button onclick="window.open('http://suprashop.ru/files/order_excel/Propis.bas');" type="button" value="Скачать скрипт"><img class="create" src="/i/admin/b_save.gif"><span>Скачать скрипт</span></button>
            <button onclick="window.open('http://suprashop.ru/files/order_excel/kvitancia{order_id}.htm');" type="button" value="Скачать квитанцию"><img class="create" src="/i/admin/b_save.gif"><span>Скачать квитанцию</span></button>
            <a href="http://suprashop.ru/admin.php?lang=rus&name=shop&action=print&id={order_id}&menu=false">Распечатать заказ</a>
            <!-- END BLOCK : order_excel -->
            <br><br>
            <label for="editComment"> Комментарий для покупателя</label>
            <textarea name="editComment"></textarea>
            <label for="sendData">Не отправлять данные о редактировании </label>
            <input type="checkbox" name="sendData" value="1" checked>
            <label for="sendKvit"> Не отправлять квитанцию</label>
            <input type="checkbox" name="sendKvit" value="1" checked>
        </td>

    </tr>
</table>

</form>