<!-- START BLOCK : block_shop_taxes -->
<script>
function checkForm() {
	var SendItem;

	if (myForm.tax.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_tax_name}';
	}
    if (myForm.percent.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_tax_value}';
	}
	if (myForm.rank.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_tax_rank}';
	}


  if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
	}
}
</script>

<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th width="5%">{MSG_Activ}</th>
	<th width="5%">{MSG_Ed}</th>
	<th>{MSG_Tax}</th>
	<th width="5%">{MSG_Magnitude}</th>
	<th width="5%">{MSG_Rank}</th>
	<th width="5%">{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_tax_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td align="center"><a href={active_id}><img src="/i/admin/{img_stat}" alt="{act_stat}" title="{act_stat}" width=15 height=18 border=0></a></td>
		<td align="center"><a href={edit_id}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
		<td>{tax}</td>
    <td align="center">{percent}%</td>
    <td align="center">{rank}</td>
		<td align="center"><a href="javascript:if(confirm('{MSG_Confirm_delete}')){location.href='{del_id}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
</tr>
<!-- END BLOCK : block_tax_list -->
</table>

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->

<!-- START BLOCK : block_shop_tax_add -->
<br><br>
<h2>{action_title}</h2>
<table cellpadding="2" cellspacing="0">
	<form action="{action_url}" method="POST" name="myForm">
	<tr valign=top>
		<th>{MSG_Name}</th>
		<th>%</th>
		<th>{MSG_Rank}</th>
		<th>&nbsp;</th>
	</tr>
	<tr valign="top">
		<td><input type="text" name="tax" value="{tax}" size="40"></td>
		<td><input type="text" name="percent" value="{percent}" size="5"></td>
		<td><input type="text" name="rank" value="{rank}" size="5"></td>
		<td>
        	<input type="hidden" name="name" value="{name}">
        	<input type="hidden" name="action" value="{action}">
        	<input type="hidden" name="step" value="{step}">
        	<input type="hidden" name="id" value="{id}">
			<BUTTON name="c" value="{MSG_Create}" type="button" onclick="checkForm();"><img src=/i/admin/b_create.gif class=create><span>{action_text}</span></BUTTON>
		</td>
	</tr>
	</form>
</table>
<!-- END BLOCK : block_shop_tax_add -->
<!-- END BLOCK : block_shop_taxes -->