Ваш заказ № {order_id} на сайте <a href="{host}">{site_name}</a> был изменен :
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
    <tr height="20">
        <th width=5>ID</th>
        <th>{MSG_Date}</th>
        <th>{MSG_Customer}</th>
        <th>{MSG_Type}</th>
        <th>{MSG_Phone}</th>
        <th>{MSG_Email}</th
    </tr>
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td align=center width=5>{order_id}</td>
        <td align="center" nowrap>&nbsp;{order_date}&nbsp;</td>
        <td align="center">&nbsp;{order_customer}{order_organization}&nbsp;</td>
        <td align="center">&nbsp;{order_customer_type}&nbsp;</td>
        <td align="center">&nbsp;{order_phone}&nbsp;</td>
        <td align="center">&nbsp;{order_email}&nbsp;</td>
    </tr>
</table>

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
    <tr height="20">
        <th width=30%>{MSG_Address}</th>
        <th width=30%>{MSG_Jur_person}</th>
        <th width=10%>{MSG_Payment}</th>
        <th width=30%>{MSG_Adding_info}</th>
    </tr>
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td align="left">{order_address}&nbsp;</td>
        <td align="left">{order_jpinfo}&nbsp;</td>
        <td align="left">{order_pay_type}</td>
        <td align="left">{order_addinfo}&nbsp;</td>
    </tr>
</table>
<br><br>

<h1>{MSG_Ordered_products_list}:</h1>

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
    <tr height="20">
        <th width=5>{MSG_Product_ID}</th>
        <th>{MSG_Name}</th>
        <th>{MSG_Code}</th>
        <th>{MSG_Price}</th>
        <th>Подарок</th>
        <th>{MSG_Qty}</th>
        <th>{MSG_Sum}</th>
    </tr>
    <!-- START BLOCK : block_item -->
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td width="5" align="center" nowrap>{item_id}</td>
        <td align="left" nowrap><a href="">{item_name}</a>&nbsp;{item_info}
            <!-- START BLOCK : double_gift -->
            + <a href="">{title}</a>
            <!-- END BLOCK : double_gift -->
        </td>
        <td align="center">{item_code}&nbsp;</td>
        <td align="center">{item_price} {item_currency}&nbsp;</td>
        <td align="center">
            <!-- START BLOCK : gift -->
            <a href="">{gift_title}</a>
            <!-- END BLOCK : gift -->
            <!-- START BLOCK : kupon -->
            Купон на {price}р.
            <!-- END BLOCK : kupon -->
            &nbsp;</td>
        <td align="center">{item_qty}&nbsp;</td>
        <td align="center">{item_cost} {order_currency}&nbsp;</td>
    </tr>
    <!-- END BLOCK : block_item -->
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td colspan="6" align="right" nowrap>
            {MSG_Order_sum}:<br>
            {MSG_Discount_increase}:<br>
            {MSG_Delivery}
            <!-- START BLOCK : block_order_delivery -->
            ({title})
            <!-- END BLOCK : block_order_delivery -->
            :<br>
            {MSG_Transport}:<br>
            {MSG_Total_order_sum}:
        </td>
        <td align="right" nowrap>
            <b>{order_sum}</b> {order_currency}<br>
            <b>{order_discount}</b> {order_currency}<br>
            <b>{order_delivery}</b> {delivery_currency}<br>
            <b>{transport_service}</b> {delivery_currency}<br>
            <b>{order_cost}</b> {order_currency}
        </td>
    </tr>
    <!-- START BLOCK : block_webmoney_discount -->
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td colspan="7" align="right" nowrap>
            {MSG_Webmoney_percent_included}: <b>{webmoney_discount}</b> %.
        </td>
    </tr>
    <!-- END BLOCK : block_webmoney_discount -->

    <!-- START BLOCK : block_assist_discount -->
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td colspan="7" align="right" nowrap>
            {MSG_ASSIST_percent_included}: <b>{assist_discount}</b> %.
        </td>
    </tr>
    <!-- END BLOCK : block_assist_discount -->
</table>
<br>
<br><br>
Если у Вас есть вопросы по вашему заказу или работе магазина, просим связаться с нами по телефону : 7 (800) 775-49-37 или по нашей электронной почте shop@supra.ru
