<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th width=5>ID</th>
<th>{MSG_Date}</th>
<th>{MSG_Customer}</th>
<th>{MSG_Type}</th>
<th>{MSG_Phone}</th>
<th>{MSG_Email}</th
</tr>
<tr valign="top">
<td align=center width=5>{order_id}</td>
<td align="center" nowrap>&nbsp;{order_date}&nbsp;</td>
<td align="center">&nbsp;{order_customer}{order_organization}&nbsp;</td>
<td align="center">&nbsp;{order_customer_type}&nbsp;</td>
<td align="center">&nbsp;{order_phone}&nbsp;</td>
<td align="center">&nbsp;{order_email}&nbsp;</td>
</tr>
</table>

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th width=30%>{MSG_Address}</th>
<th width=30%>{MSG_Jur_person}</th>
<th width=10%>{MSG_Payment}</th>
<th width=30%>{MSG_Adding_info}</th>
</tr>
<tr valign="top">
<td align="left">{order_address}&nbsp;</td>
<td align="left">{order_jpinfo}&nbsp;</td>
<td align="left">{order_pay_type}</td>
<td align="left">{order_addinfo}&nbsp;</td>
</tr>
</table>
<br><br>

<h1>{MSG_Ordered_products_list}:</h1>

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th width=5>{MSG_Product_ID}</th>
<th>{MSG_Name}</th>
<th>{MSG_Code}</th>
<th>{MSG_Price}</th>
<th>{MSG_Inner_currency}</th>
<th>Подарок</th>
<th>{MSG_Qty}</th>
<th>{MSG_Sum}</th>
</tr>
<!-- START BLOCK : block_item -->
<tr valign="top">
<td width="5" align="center" nowrap>{item_id}</td>
<td align="left" nowrap>{item_name}&nbsp;{item_info}</td>
<td align="center">{item_code}&nbsp;</td>
<td align="center">{item_price} {item_currency}&nbsp;</td>
<td align="center">{item_rate}&nbsp;</td>
    <td align="center">
        <!-- START BLOCK : gift -->
        <a href="{gift_link}">{gift_title}</a>
        <!-- END BLOCK : gift -->
        <!-- START BLOCK : kupon -->
        Купон на {price}р.
        <!-- END BLOCK : kupon -->
        &nbsp;</td>
<td align="center">{item_qty}&nbsp;</td>
<td align="center">{item_cost} {order_currency}&nbsp;</td>
</tr>
<!-- END BLOCK : block_item -->
<tr valign="top">
<td colspan="6" align="right" nowrap>
{MSG_Order_sum_with_discount}:<br>
{MSG_Discount_increase}:<br>
{MSG_Transp}:<br>
{MSG_Delivery}:<br>
{MSG_Total_order_sum}:<br>
</td>
<td align="right" nowrap>
<b>{order_cost}</b> {order_currency}<br>
<b>{order_discount}</b> {order_currency}<br>
<b>{transport_service}</b>{order_currency}</br>
<b>{order_delivery}</b>{order_currency}</br>
<b>{order_sum}</b> {order_currency}
</td>
</tr>
<!-- START BLOCK : block_webmoney_discount -->
<tr valign="top">
<td colspan="7" align="right" nowrap>
	{MSG_Webmoney_percent_included}: <b>{webmoney_discount}</b> %.
</td>
</tr>
<!-- END BLOCK : block_webmoney_discount -->

<!-- START BLOCK : block_assist_discount -->
<tr valign="top">
<td colspan="7" align="right" nowrap>
	{MSG_ASSIST_percent_included}: <b>{assist_discount}</b> %.
</td>
</tr>
<!-- END BLOCK : block_assist_discount -->
<tr>
<td colspan="7">{MSG_Order_status}: &nbsp; {order_status}<br>
<!-- START BLOCK : block_status_history -->
<h1>{MSG_Status_changes_history}</h1>
<table width="98%" cellspacing="2" cellpadding="2" border="0" class="center">
<tr>
	<th>{MSG_Time}</th>
	<th>{MSG_Old_stat}</th>
	<th>{MSG_New_stat}</th>
	<th>{MSG_Info}</th>
	<th>{MSG_Responsible}</th>
</tr>
<!-- START BLOCK : block_status_history_row -->
<tr>
	<td>{date}</td>	
	<td>{old_status}</td>
	<td>{new_status}</td>
	<td>&nbsp;{info}</td>
	<td>&nbsp;{responsible}</td>
</tr>
<!-- END BLOCK : block_status_history_row -->
</table>
<!-- END BLOCK : block_status_history -->
</td>
</tr>
<tr>
<td colspan=7>
{MSG_Notes}: &nbsp;
{order_notes}
</td>
</tr>
</table>
<br>
<script type="text/javascript">
window.onload = function () {
    window.print();
}
</script>