<select name="prod_id[]" onchange="loadProds(this.value, 4, this)" id="prod_id">
                <option value="0">выбрать</option>
                <!-- START BLOCK : prod -->
                <option value="{id}">{title}</option>
                <!-- END BLOCK : prod -->

            </select>