<script type="text/javascript">
function do_save() {
	var SendItem	= 0;
	var AlertMessage;

	if (myForm.title.value == '') {
		SendItem= 1;
		AlertMessage = '{MSG_Enter_title}';
	}
	if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>

<form method="post" action="{form_action}" name="myForm">
<div class="edit_form">
{MSG_Title} <span class="required_field">*</span>:<br>
<input type="text" lass=w300 name="title" value="{title}" size="80" maxlength="255"><br>

<textarea id="txt_content" name="txt_content" rows="4" cols="30" class="tinymce">{text}</textarea>

<br><span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="submit" onClick="do_save(); return false;"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>

</form>