
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script language='JavaScript' type='text/javascript' src='/js/multiselect.js'></script>





<form method="post" action="{action}" name="myForm" onsubmit="return validate(this)" enctype="multipart/form-data" class="newsedit">
<input name="id" type="hidden" value="{id}">


<div class="edit_form">
Заголовок:<br>
<input type="text" class=w300 name="title" size="50" value="{title}"><br>

    Превью:
    <div style="height: 5px;" class="spacer">&nbsp;</div>
    <textarea name="preview" rows="4" cols="30" class="tinymce">{preview}</textarea>

Текст:
<div style="height: 5px;" class="spacer">&nbsp;</div>
<textarea name="text" rows="4" cols="30" class="tinymce">{text}</textarea>


<br><br>

Картинка :
<!-- START BLOCK : img -->
<a href="{img}" target="_blanck">просмотреть {img}</a>
<a href="#" onclick="$('#txtImg').val(''); return false;"><img width="14" height="14" src="/i/admin/x.gif" alt="(х)" title="очистить" align="middle"> очистить</a>
<!-- START BLOCK : img -->
<br>
<input type="text" name="img" value="{img}" id="txtImg" style="width: 100px;" readonly>&nbsp;
<button type="button" onclick="mcImageManager.open('myForm','img','','',{remove_script_host : true});" class="select">Выбрать</button>
<br>


Дата начала :<br>
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<input type="text" name="date" id="date" style="width: 100px;" value="{date_from}">&nbsp;
<button type="button" id="trigger" class="select">Выбрать</button>

<br>

Дата окончания :<br>

<input type="text" name="date_to" id="date_to" style="width: 100px;" value="{date_to}">&nbsp;
<button type="button" id="trigger_to" class="select">Выбрать</button>

<h2>Скидки</h2>
<!-- START BLOCK : skidka -->
<div style="margin:4px">
{title}: <input type="checkbox" name="skidka[]" value="{id}" {checked} />
</div>
<!-- END BLOCK : skidka -->

</div>
<br/>
<BUTTON type="submit" ><img src=/i/admin/b_save.gif class=save><span>Сохранить</span></BUTTON>

</form>

<script>

function validate(form){
	if(form.date.value == ""){
		alert("Укажите дату начала акции");
		return false;
	}
	if(form.date_to.value == ""){
		alert("Укажите дату окончания акции");
		return false;
	}
	return true;
}

Calendar.setup(
		{
			inputField  : "date",      // ID of the input field
			ifFormat    : "dd.mm.y",    // the date format
			button      : "trigger",    // ID of the button
			mondayFirst : true
	//      daFormat    : "M d, y",    // the date format
	//			displayArea : displayDate

		}
	);
	
	Calendar.setup(
		{
			inputField  : "date_to",      // ID of the input field
			ifFormat    : "dd.mm.y",    // the date format
			button      : "trigger_to",    // ID of the button
			mondayFirst : true
	//      daFormat    : "M d, y",    // the date format
	//			displayArea : displayDate

		}
	);
	


</script>