<!-- START BLOCK : block_groups_graph -->
<table cellpadding="0" cellspacing="0">
<tr>
	<td valign="top"><img border="1" style="float: left" src="/mod/shop/show_graph.php?get_sales_graph={period}&kind={kind}" title="{title}" /></td>
	<!-- td valign="top" style="padding-left: 10px;">
		<h2>Статистика по группам</h2>
		<ul>
		<!-- START BLOCK : block_groups_list -->
		<li><a href="{link}" title="Статистика по пользователям группы &laquo;{name}&raquo;">{name}</a></li>
		<!-- END BLOCK : block_groups_list -->
		</ul>
	</td -->
</tr>
</table>
<!-- END BLOCK : block_groups_graph -->