<!-- START BLOCK : block_shop_cities -->
<script>
function checkForm() {
	var SendItem;

	if (myForm.city.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_city}';
	}

  if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
	}
}
</script>


<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
	<th>{MSG_Ed}</th>
	<th width="99%">{MSG_City}</th>
	<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_city_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center"><a href={edit_id}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width="15" height="18" border="0"></a></td>
	<td>{city}</td>
	<td align="center"><a href="javascript:if(confirm('{MSG_Confirm_delete}')){location.href='{del_id}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width="15" height="18" border="0"></a></td>
</tr>
<!-- END BLOCK : block_city_list -->
</table>
<!-- END BLOCK : block_shop_cities -->

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->

<!-- START BLOCK : block_shop_city_add -->
<br><br>
<h2>{MSG_Add_new_city}</h2>

<form action="{action_url}" method="POST" name="{form_name}">
<input type="text" name="city" value="" size="40" style="width: 300px;">
<input type="hidden" name="country_id" value="{country_id}">
<input type="hidden" name="name" value="{name}">
<input type="hidden" name="action" value="{action}">
<input type="hidden" name="step" value="{step}">
<input type="hidden" name="lang" value="{lang}">
<BUTTON name="c" value="{MSG_Add}" type="button" onclick="checkForm();"><img src="/i/admin/b_create.gif" alt="" class="create"><span>{MSG_Add}</span></BUTTON>
</form>
<!-- END BLOCK : block_shop_city_add -->

<!-- START BLOCK : block_edit_city -->
<script type="text/javascript">
function checkForm() {
	var SendItem;

	if (myForm.city.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_city}';
	}

  if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
	}
}
</script>

<form action="{action_url}" method="POST" name="{form_name}">
<input type="text" name="city" value="{city}" size="40" style="width: 300px;"><br>
<input type="hidden" name="country_id" value="{country_id}">
<input type="hidden" name="city_id" value="{city_id}">
<input type="hidden" name="name" value="{name}">
<input type="hidden" name="action" value="{action}">
<input type="hidden" name="step" value="{step}">
<br>
<BUTTON name="c" value="{MSG_Save}" type="button" onclick="checkForm();"><img src="/i/admin/b_save.gif" class="create"><span>{MSG_Save}</span></BUTTON>

</form>

<!-- END BLOCK : block_edit_city -->