<h1>{MSG_Payment_system_controls}</h1>
<!-- START BLOCK : block_ok -->
<div class="attn">{MSG_Data_saved}</div>
<!-- END BLOCK : block_ok -->

<!-- START BLOCK : block_err -->
<div class="attn">{MSG_Write_file_error}</div>
<!-- END BLOCK : block_err -->


<!-- START BLOCK : block_pay_sys_conf -->
<form action="{form_action}" name="pay_sys_conf" method="POST">

<!-- START BLOCK : block_webmoney -->
<table width="98%" class="center">
<tr>
	<th colspan="2">{MSG_Webmoney_params}</th>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="WM_currency">{MSG_Currency}</label></td>
	<td>
	<select id="WM_currency" name="WM_currency">
	<option value="0">{MSG_Select}</option>
	<!-- START BLOCK : block_WM_currency -->	
	<option value="{currency_id}" {currency_selected}>{currency_val}</option>
	<!-- END BLOCK : block_WM_currency -->	
	</select>
	</td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="WM_purse">{MSG_Purse}</label></td>
	<td><input id="WM_purse" value="{WM_purse}" name="WM_purse" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="WM_secret_key">Secret Key</label></td>
	<td><input id="WM_secret_key" value="{WM_secret_key}" name="WM_secret_key" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td>Result URL</td>
	<td>{WM_result_url}</td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="WM_success_url">Success URL. {MSG_Info_success_URL}</label></td>
	<td><input id="WM_success_url" value="{WM_success_url}" name="WM_success_url" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="WM_fail_url">Fail URL. {MSG_Info_fail_URL}</label></td>
	<td><input id="WM_fail_url" value="{WM_fail_url}" name="WM_fail_url" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="WM_discount">{MSG_Info_percent}</label></td>
	<td><input id="WM_discount" value="{WM_discount}" name="WM_discount" size="25" type="text"></td>
</tr>
</table>
<br><br>
<!-- END BLOCK : block_webmoney -->

<!-- START BLOCK : block_assist -->
<table width="98%" class="center">
<tr>
	<th colspan="2">{MSG_ASSIST_params}</th>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="assist_currency">{MSG_Currency}</label></td>
	<td>
	<select id="assist_currency" name="assist_currency">
	<option value="0">{MS_Select}</option>
	<!-- START BLOCK : block_assist_currency -->	
	<option value="{currency_id}" {currency_selected}>{currency_val}</option>
	<!-- END BLOCK : block_assist_currency -->	
	</select>
	</td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="assist_idp">{MSG_Shop_code} (IDP)</label></td>
	<td><input id="assist_idp" value="{assist_idp}" name="assist_idp" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="assist_login">{MSG_Login}</label></td>
	<td><input id="assist_login" value="{assist_login}" name="assist_login" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="assist_password">{MSG_Password}</label></td>
	<td><input id="assist_password" value="{assist_password}" name="assist_password" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td>{MSG_Info_URLs}</td>
	<td>{assist_result_url}</td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="assist_success_url">Success URL. {MSG_Info_success_URL}</label></td>
	<td><input id="assist_success_url" value="{assist_success_url}" name="assist_success_url" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="assist_fail_url">Fail URL. {MSG_Info_fail_URL}</label></td>
	<td><input id="assist_fail_url" value="{assist_fail_url}" name="assist_fail_url" size="25" type="text"></td>
</tr>
<tr style="background-color: white;" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" valign="top">
	<td><label for="assist_discount">{MSG_Info_percent}</label></td>
	<td><input id="assist_discount" value="{assist_discount}" name="assist_discount" size="25" type="text"></td>
</tr>
</table>
<!-- END BLOCK : block_assist -->

<br><br>
<table>
<tr>
	<td align=left colspan=2>
		<BUTTON name="c" value="{MSG_Save}" type="submit"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
		<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="javascript:history.go(-1);"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
	</td>
</tr>
</table>

</form>
<!-- END BLOCK : block_pay_sys_conf -->