<div class="spacer both" style="height: 10px;"> </div>

Тип: {type_title} <br/>

<!-- START BLOCK : type1 -->
<div style="margin:15px">
<table cellpadding=5 cellspacing=5 border=1 >
<tr>
<td>
<!-- START BLOCK : prod1 -->
<a href="/admin.php?lang=rus&name=catalog&id={id}&category_id={category_id}&rank={rank}&action=editproduct">{product_title}</a>
<!-- END BLOCK : prod1 -->
</td>
<td>
Скидка: {percent}%
</td>
</tr>
</table>
</div>
<!-- END BLOCK : type1 -->
<!-- START BLOCK : type2 -->
<div style="margin:15px">
<table cellpadding=5 cellspacing=5 border=1 >
<tr>
<td>
<!-- START BLOCK : prod2 -->
<a href="/admin.php?lang=rus&name=catalog&id={id}&category_id={category_id}&rank={rank}&action=editproduct">{product_title}</a><br/>
<!-- END BLOCK : prod2 -->
</td>
<td>
Сумма: {pp}
</td>
</tr>
</table>
</div>
<!-- END BLOCK : type2 -->

<!-- START BLOCK : type3 -->
<div style="margin:15px">
<table cellpadding=5 cellspacing=5 border=1 >
<tr>
<td>
<!-- START BLOCK : prod3 -->
<a href="/admin.php?lang=rus&name=catalog&id={id}&category_id={category_id}&rank={rank}&action=editproduct">{product_title}</a><br>
<!-- END BLOCK : prod3 -->
</td>
<td>
<!-- START BLOCK : gift -->
<a href="/admin.php?lang=rus&name=catalog&id={id}&category_id={category_id}&rank={rank}&action=editproduct">{product_title}</a>
<!-- END BLOCK : gift -->
</td>
<td>
Купон: {price} р.
</td>
</tr>
</table>
</div>
<!-- END BLOCK : type3 -->