<!-- START BLOCK : block_edit_discount -->
<script type="text/javascript">
function do_cancel()
{
	location.href = '{cancel_link}';
}

function do_save(form)
{
	form.submit();
}
</script>
<form action="{form_action}" method="POST">
<div class="edit_form">
<input type="hidden" name="discount_id" value="{discount_id}">
	
Название скидки <span class="required_field">*</span>:<br />
<input type="text" class="w300" name="discount_name" value="{name}" size="30"><br />

От: <br />
<input type="text" class="w300" name="discount_min" value="{min}" size="30"><br />

До: <br />
<input type="text" class="w300" name="discount_max" value="{max}" size="30"><br />

Период накопления (месяцев): <br />
<input type="text" class="w300" name="discount_interval" value="{interval}" size="30"><br />

Величина скидки: <br />
<input type="text" class="w300" name="discount_value" value="{value}" size="30"><br />

<input type="checkbox" name="discount_is_percent" id="discount_is_percent" {is_percent} />
<label for="discount_is_percent">Скидка в процентах</label> <br />

<button name="ok" value="Сохранить" type="submit" onClick="do_save(this.form); return false;"><img src="/i/admin/b_save.gif" class="save"><span>Сохранить</span></button>
<button name="cancel" value="Отменить" type="button" onClick="do_cancel();"><img src="/i/admin/b_cancel.gif" class="cancel"><span>Отменить</span></button>
</div>
</form>
<!-- END BLOCK : block_edit_discount -->