<!-- START BLOCK : block_users_groups -->
<form action="{form_action}" method="POST">
<table cellpadding="2" cellspacing="2" class="center">
<tr height="20">
	<th>Название группы</th>
	<th>Включена</th>
</tr>
<!-- START BLOCK : block_group_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center">{name}</td>
	<td align="center"><input type="checkbox" name="discount_group_{group_id}" {selected}/></td>
</tr>
<!-- END BLOCK : block_group_list -->
</table>
<br />
<button value="Сохранить" type="submit"><img src="/i/admin/b_save.gif" class="save" /><span>Сохранить</span></button>
<input type="hidden" name="discount_id" value="{discount_id}" />
</form>
<!-- END BLOCK : block_users_groups -->