<!-- INCLUDE BLOCK : search_form -->
<br>
<span class="add_btn"><a href="{add_srv_inf}"><img src="i/admin/ico_addcat.gif" alt="{MSG_Add_service_info}" title="{MSG_Add_service_info}" width="17" height="18" border="0">&nbsp;{MSG_Add_service_info}</a></span>
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>{MSG_Activ}</th>
	<th>{MSG_Ed}</th>
	<th width="99%">{MSG_Title}</th>
	<th>{MSG_Del}</th>
</tr>
<form>
<!-- START BLOCK : block_info_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center">
		<a href="{change_status}"><img src="/i/admin/{action_img}" alt="{action_text}" title="{action_text}" width=15 height=18 border=0></a>
	</td>
	<td align="center"><a href={edit_link}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
	<td>{info_title}</td>
	<td align="center"><a href="javascript:if(confirm('{MSG_Confirm_delete}')){location.href='{del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
</tr>
<!-- END BLOCK : block_info_list -->
</form>
</table>

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->