<!-- START BLOCK : block_info_box -->
<script type="text/javascript" src="/js/fat.js"></script>
<script>
Fat.fade_element("p_info", 30, 5000, "#FFD077", "#FFFBF3");
</script>
<!-- START BLOCK : block_info_download_success -->
<p id="p_info" align="center" style="padding:10px; border: 1px solid #FFD077; color: #666;"><b>{MSG_Info_export_success}:</b> <a href="{file}" target="_blank">{file}</a></p>
<!-- END BLOCK : block_info_download_success -->
<!-- START BLOCK : block_no_info_to_download -->
<p id="p_info" align="center" style="padding:10px; border: 1px solid #FFD077; color: #666;"><b>{MSG_No_new_export_info}</b></p>
<!-- END BLOCK : block_no_info_to_download -->
<!-- START BLOCK : block_info_upload_success -->
<p id="p_info" align="center" style="padding:10px; border: 1px solid #FFD077; color: #666;"><b>{MSG_Info_import_success}</b></p>
<!-- END BLOCK : block_info_upload_success -->
<!-- END BLOCK : block_info_box -->
<!-- START BLOCK : block_upload_xml -->
<form action="{upload_xml_url}" method="post" enctype="multipart/form-data" name="uploadXMLFile" id="uploadXMLFile">
<div class="edit_form">
{MSG_Upload_XML_file}:<br>
<input type="file" name="xml_user_file" size="40" style="margin-bottom: 0;">&nbsp;<BUTTON name="c" style="vertical-align: middle;" value="{MSG_Upload}" type="submit"><img src=/i/admin/b_upload.gif class=save><span>{MSG_Upload}</span></BUTTON>
</div>
</form>
<!-- END BLOCK : block_upload_xml -->

<!-- START BLOCK : block_get_xml -->
<form action="{upload_xml_url}" method="post" enctype="multipart/form-data" name="uploadFile" id="uploadFile">
<div class="edit_form">
{MSG_Download_XML_file}:<br><BUTTON name="get_xml" value="{MSG_Download}" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_download.gif class=save><span>{MSG_Download}</span></BUTTON>
</div>
</form>
<!-- END BLOCK : block_get_xml -->