<!-- START BLOCK : block_shop_discounts -->
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script>
function checkForm() {
	var SendItem;

	if (myForm.discount.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_discount_name}';
	}
    if (myForm.min.value == "" || myForm.max.value == "" || myForm.discount_value.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_discount_criterion}';
	}

  if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
	}
}
</script>

<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>{MSG_Activ}</th>
	<th>{MSG_Ed}</th>
	<th width="99%">{MSG_Discount}</th>
	<th>{MSG_From}</th>
	<th>{MSG_To}</th>
	<th>{MSG_From2}</th>
	<th>{MSG_To2}</th>
	<th>{MSG_Magnitude}</th>
	<th>{MSG_Type}</th>
	<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_discounts_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center"><a href={active_id}><img src="/i/admin/{img_stat}" alt="{act_stat}" title="{act_stat}" width="15" height="18" border="0"></a></td>
	<td align="center"><a href={edit_id}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width="15" height="18" border="0"></a></td>
	<td>{name}</td>
  <td align="center">{min}</td>
  <td align="center">{max}</td>
  <td align="center">{from_date}</td>
  <td align="center">{to_date}</td>
  <td align="center">{value}</td>
  <td align="center">{is_percent}</td>
	<td align="center"><a href="javascript:if(confirm('{MSG_Confirm_delete}')){location.href='{del_id}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width="15" height="18" border="0"></a></td>
</tr>
<!-- END BLOCK : block_discounts_list -->
</table>

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->

<!-- START BLOCK : block_shop_discount_add -->
<br><br>
<h2>{action_title}</h2>
<table cellpadding="2" cellspacing="0">
	<form action="{action_url}" method="POST" name="myForm">
	<tr valign=top>
		<th>&nbsp;</th>
		<th colspan="2">{MSG_Sum}</th>
		<th colspan="2">{MSG_Period}</th>
		<th>&nbsp;</th>
        <th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<tr valign=top>
		<th>{MSG_Discount}</th>
		<th>{MSG_From}</th>
		<th>{MSG_To}</th>
		<th>{MSG_From2}</th>
		<th>{MSG_To2}</th>
		<th>{MSG_Magnitude}</th>
        <th>%</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<tr valign="top">
		<td><input type="text" name="discount" value="{discount}" size="40"></td>
		<td><input type="text" name="min" value="{min}" size="5"></td>
		<td><input type="text" name="max" value="{max}" size="5"></td>
		<td><input type="text" name="from_date" value="{from_date}" size="10" id="txtFrom">&nbsp;<img src="/i/admin/b_cal.gif" id="imgTrigFrom" alt=""></td>
		<td><input type="text" name="to_date" value="{to_date}" size="10" id="txtTo">&nbsp;<img src="/i/admin/b_cal.gif" id="imgTrigTo" alt=""></td>
		<td><input type="text" name="discount_value" value="{value}" size="5"></td>
		<td><input type="checkbox" name="is_percent"{is_percent}></td>
		<td>&nbsp;</td>
		<td>
        	<input type="hidden" name="name" value="{name}">
        	<input type="hidden" name="action" value="{action}">
        	<input type="hidden" name="step" value="{step}">
        	<input type="hidden" name="id" value="{id}">
			<BUTTON name="c" type="button" onclick="checkForm();"><img src=/i/admin/b_create.gif class=create><span>{action_text}</span></BUTTON>
		</td>
	</tr>
	</form>
</table>
<div class="attn">
{MSG_Info_from_to} ({MSG_see} <a href="/admin.php?lang=rus&name=shop&action=prp">{MSG_module_controls}</a>).
</div>
<!-- END BLOCK : block_shop_discount_add -->
<script type="text/javascript">
Calendar.setup({
    inputField  : "txtFrom",      // ID of the input field
	ifFormat    : "dd.mm.y",    // the date format
	button      : "imgTrigFrom",    // ID of the button
	mondayFirst : true
});
Calendar.setup({
    inputField  : "txtTo",      // ID of the input field
	ifFormat    : "dd.mm.y",    // the date format
	button      : "imgTrigTo",    // ID of the button
	mondayFirst : true
});
</script>
<!-- END BLOCK : block_shop_discounts -->