
<a href="/admin.php?lang=rus&name=shop&action=add_action" class="add_btn"><span><img width="17" height="18" border="0" title="Добавить акцию" alt="Добавить акцию" src="i/admin/ico_addcat.gif">&nbsp;Добавить акцию</span></a>

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>Ред</th>
<th width="99%">Заголовок</th>
<th>Удл</th>
</tr>
<!-- START BLOCK : action -->
<tr  valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center"><a href="{edit_link}"><img width="15" height="18" border="0" title="Редактировать" alt="Редактировать" src="/i/admin/ico_edit.gif"></a></td>
<td>{title}</td>

<td align="center"><a href="javascript:if(confirm('Удалить эту акцию')){location.href='{del_link}';}"><img src="/i/admin/ico_del.gif"  width=15 height=18 border=0></a></td>
<!-- END BLOCK : action -->
</table>


<!-- START BLOCK : nav -->
<div class=pagesnum>Страницы: {nav_string}</div>
<!-- END BLOCK : nav -->