{message}
<div class="spacer both" style="height: 10px;"> </div>
<!-- START BLOCK : block_filter -->
<script type="text/javascript">
function activField(form)
{
	form.filter.style.display = form.filter_check.checked ? 'block' : 'none';
}
</script>
<table cellspacing="2" cellpadding="2">
    <form id="searchForm" name="searchForm" action="/admin.php"  method="get">
        <input type="hidden" name="name" value="shop">
        <input type="hidden" name="action" value="orders">
    <tbody>
    <tr>
        <td>
            <input type="text" value="" name="search">
        </td>
        <td>
            <button type="submit">
                <img class="save" border="0" alt="" src="/i/admin/b_browse.gif">
                <span>Найти</span>
            </button>
    </form>
        </td>
    </tr>
    <tr>
        <td>
                <button type="button" value="Добавить" name="add" onclick="window.location='/admin.php?name=shop&action=addorder'"><img class="create" src="/i/admin/b_create.gif"><span>Добавить</span></button>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/admin.php" method="GET" class="merge_form">
                <input type="hidden" name="name" value="shop">
                <input type="hidden" name="action" value="mergeOrders">
                <input type="hidden" name="orders" id="orderIdMerge" value="">
                <button type="submit" value="Объединить" name="merge"><img class="create" src="/i/admin/b_create.gif"><span>Объединить</span></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<form action="/admin.php" method="GET" class="edit_form">
<div class="u001"><div><img src="/i/admin/u001.gif" alt="" border="0"></div></div>

<div class="filters">
<input type="checkbox" name="filter_check" id="filter_check" onclick="activField(this.form);" {filter_checked}>
<label for="filter_check">{MSG_Filter}</label>
</div>

<fieldset iname="filter" id="filter" style="display: {filter_display}; border: none; padding: 0;">

<div class="filter_params">
<input type="hidden" name="name" value="shop">
<input type="hidden" name="action" value="orders">
<input type="hidden" name="lang" value="{lang}">
<input type="hidden" name="start" value="{start}">

<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>

<table cellpadding="0" cellspacing="0">
<tr>
	<td>
{MSG_Date_from}:&nbsp;&nbsp;
        <input name="filter[date_from]" id="date_from" type="text" value="{date_from_val}" size="10">
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_from" name="trigger_from" alt="{MSG_Select}" class="select">
&nbsp;&nbsp;{MSG_date_to}:&nbsp;&nbsp;
<input name="filter[date_to]" id="date_to" type="text" value="{date_to_val}" size="10">
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_to" name="trigger_to" alt="{MSG_Select}" class="select">
<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date_from",      // ID of the input field
      ifFormat    : "dd.mm.y",    // the date format
      button      : "trigger_from",    // ID of the button
	  mondayFirst : true
    }
  );
  Calendar.setup(
    {
      inputField  : "date_to",      // ID of the input field
      ifFormat    : "dd.mm.y",    // the date format
      button      : "trigger_to",    // ID of the button
	  mondayFirst : true
    }
  );
  $(document).ready(function (){
      var arr='';
  $('.inputCheckbox').change(function(){

      if($('.inputCheckbox').filter(':checked').size()==2) {
          $('.inputCheckbox').not(':checked').attr('disabled','disabled');
                  arr=arr+':'+$(this).val();
          $('#orderIdMerge').val(arr);
      }else{
          $("#checkPr").remove();
          $('.inputCheckbox').removeAttr('disabled');
          $('#orderIdMerge').val("");
      }
      if($('.inputCheckbox').filter(':checked').size()==1){
          $("#checkPr").remove();
          arr="";
          if(!$(this).not(':checked').length)
          {
              $(this).parent('td').append('<span id="checkPr">основной</span>');
              arr=$(this).val();
          }
          else
          {
              var l=$('.inputCheckbox').filter(':checked')[0];
              $(l).parent('td').append('<span id="checkPr">основной</span>');
              arr=$(l).val();
          }
      }

  });
  })
</script>
<br><br>

{MSG_Status}:&nbsp;&nbsp;
<select name="filter[status]" id="status">
<option value="-1">{MSG_All}</option>
<!-- START BLOCK : block_order_status -->
<option value="{id}" {selected}>{title}</option>
<!-- END BLOCK : block_order_status -->
</select>
<br>


{MSG_Responsible}:&nbsp;&nbsp;
<select name="filter[manager]" id="status">
<option value="-1">{MSG_All}</option>
<!-- START BLOCK : block_manager -->
<option value="{id}" {selected}>{username}</option>
<!-- END BLOCK : block_manager -->
</select>
<br>
	</td>
	<td style="padding: 0 0 0 15px;"><img src="/i/admin/brd_filter.gif" width="2" height="90" alt="" border="0"></td>
	<td style="padding: 0 0 0 15px;">
{MSG_Customer_FIO_Email}:&nbsp;&nbsp; <input type="text" name="filter[customer]" id="customer" value="{customer_val}"><br>
<br>
 <input type="checkbox" name="filter[reg_user]" id="reg_user" {reg_user_val}>&nbsp;<label for="reg_user">{MSG_Registered}</label>
<br>
<br>
{MSG_Customer_type}:&nbsp;&nbsp;
<select name="filter[custm_type]">
<!-- START BLOCK : block_custm_types -->
&nbsp;&nbsp;&nbsp;<option value="{elm_val}" {checked} id="custm_type_{elm_idx}">- {elm_val}</option>
<!-- END BLOCK : block_custm_types -->
</select>

<br><br>
        Сумма от:&nbsp;&nbsp;
        <input name="filter[sum_from]" id="sum_from" type="text" value="{sum_from_val}" size="10">
        &nbsp;&nbsp;до:&nbsp;&nbsp;
        <input name="filter[sum_to]" id="sum_to" type="text" value="{sum_to_val}" size="10">
<br><br>
<button type="submit"><span><img src="/i/admin/ico_select.gif" alt="" border="0">&nbsp;{MSG_Select}</span></button>
&nbsp;&nbsp;<button type="button" onclick="javascript:window.location='/{baseurl}&action=orders&clrfilter'"><span><img src="/i/admin/ico_clear.gif" alt="" border="0">&nbsp;{MSG_Reset}</span></button>	
	</td>	
</tr>
</table>

</div>

</fieldset>
</form>

<!-- END BLOCK : block_filter -->

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>Ред</th>
<th>Объединить</th>
<th>{MSG_ID}</th>
<th><div style="width: 110px;">{MSG_Date}</div></th>
<th><div style="width: 200px;">{MSG_Customer}</div></th>
<th>{MSG_Email}</th>
<th>{MSG_Sum}</th>
<th>{MSG_Responsible}</th>
<th>{MSG_Order_status}</th>
<th>Редакт.</th>
<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_order -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align=center width=5><a href="{edit_link}"><img width="15" height="18" border="0" title="Редактировать" alt="Редактировать" src="/i/admin/ico_edit.gif"></a></td>
<td align=center width=5><input type="checkbox" class="inputCheckbox" name="mergeOrder[]" value="{order_id}"/></td>
<td align=center width=5><a href="{order_link}">{order_id}</a></td>
<td align="center"><a href="{order_link}">{order_date}</a>&nbsp;</td>
<td align="center">{order_customer}{order_organization}&nbsp;</td>
<td align="center">{order_email}&nbsp;</td>
<td align="center">{order_cost}&nbsp;{order_currency}</td>
<td align="center"><a href="/admin.php?lang={lang}&name=siteusers&action=editsiteuser&id={manager_id}">{manager_username}</a></td>
<td align="center">{order_status}&nbsp;</td>
<td align="center">{editor}&nbsp;</td>
<td align=center><a href="javascript:if(confirm('{MSG_Confirm_delete_record}')){location.href='{order_del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
</tr>
<!-- END BLOCK : block_order -->
</table>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->