<script>
function addElement() {
    var divID        = document.getElementById("st_types_list");
    var inText       = '<input type="text" name="def_st_types[]" value="" size="60"><br>';
    divID.innerHTML += inText;
    return true;
}

function do_save() {
	var SendItem= 0;
	st_tps_form.submit();
}
</script>
<table cellspaceing="0" cellpadding="0" border="0">
<tr valign="top">
	<td width="30%">
		<form action="{action_url}" name="{form_name}" method="POST">
			<input type="hidden" name="name"   value="{name}">
			<input type="hidden" name="action" value="{action}">
			<input type="hidden" name="step"   value="{step}">
<span id="st_types_list">
<!-- START BLOCK : block_st_types -->
<input type="text" name="{conf_name}" value="{conf_val}" size="60"><br>
<!-- END BLOCK : block_st_types -->
</span>
			<br><BUTTON name="c" value="{MSG_Save}" type="button" onClick="do_save();"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>&nbsp;<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
       </form>
    </td>
    <td>
<!-- START BLOCK : block_add_types -->
&nbsp;<BUTTON name="s" value="{MSG_Add_status_type}" title="{MSG_Add_status_type}" type="button" onClick="addElement();"><img src=/i/admin/b_select.gif class=select><span>{MSG_Add}</span></BUTTON><br>
<!-- END BLOCK : block_add_types -->
    </td>
</tr>
</table>