<button onclick="window.open('http://suprashop.ru/files/order_excel/{order_id}.xls');" type="button" value="Скачать накладную"><img class="create" src="/i/admin/b_save.gif"><span>Скачать накладную</span></button>
<button onclick="window.open('http://suprashop.ru/files/order_excel/Propis.bas');" type="button" value="Скачать скрипт"><img class="create" src="/i/admin/b_save.gif"><span>Скачать скрипт</span></button>
<button onclick="window.open('http://suprashop.ru/files/order_excel/kvitancia{order_id}.htm');" type="button" value="Скачать квитанцию"><img class="create" src="/i/admin/b_save.gif"><span>Скачать квитанцию</span></button>
<p style="text-align: right;"><a href="{print_link}" target="_blank">{MSG_Print_order}</a></p>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th width=5>ID</th>
<th>{MSG_Date}</th>
<th>{MSG_Customer}</th>
<th>{MSG_Type}</th>
<th>{MSG_Phone}</th>
<th>{MSG_Email}</th
</tr>
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align=center width=5>{order_id}</td>
<td align="center" nowrap>&nbsp;{order_date}&nbsp;</td>
<td align="center">&nbsp;{order_customer}{order_organization}&nbsp;</td>
<td align="center">&nbsp;{order_customer_type}&nbsp;</td>
<td align="center">&nbsp;{order_phone}&nbsp;</td>
<td align="center">&nbsp;{order_email}&nbsp;</td>
</tr>
</table>

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th width=30%>{MSG_Address}</th>
<th width=30%>{MSG_Jur_person}</th>
<th width=10%>{MSG_Payment}</th>
<th width=30%>{MSG_Adding_info}</th>
</tr>
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="left">{order_address}&nbsp;</td>
<td align="left">{order_jpinfo}&nbsp;</td>
<td align="left">{order_pay_type}</td>
<td align="left">{order_addinfo}&nbsp;</td>
</tr>
</table>
<br><br>

<h1>{MSG_Ordered_products_list}:</h1>

<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th width=5>{MSG_Product_ID}</th>
<th>{MSG_Name}</th>
<th>{MSG_Code}</th>
<th>{MSG_Price}</th>
<th>Подарок</th>
<th>{MSG_Qty}</th>
<th>{MSG_Sum}</th>
</tr>
<!-- START BLOCK : block_item -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td width="5" align="center" nowrap>{item_id}</td>
<td align="left" nowrap><a href="{item_link}">{item_name}</a>&nbsp;{item_info}
	<!-- START BLOCK : double_gift -->
+ <a href="{link}">{title}</a>
<!-- END BLOCK : double_gift -->
</td>
<td align="center">{item_code}&nbsp;</td>
<td align="center">{item_price} {item_currency}&nbsp;</td>
<td align="center">
<!-- START BLOCK : gift -->
<a href="{gift_link}">{gift_title}</a>
<!-- END BLOCK : gift -->
<!-- START BLOCK : kupon -->
Купон на {price}р.
<!-- END BLOCK : kupon -->
<!-- START BLOCK : discount -->
Скидка  {price}%
<!-- END BLOCK : discount -->
&nbsp;</td>
<td align="center">{item_qty}&nbsp;</td>
<td align="center">{item_cost} {order_currency}&nbsp;</td>
</tr>
<!-- END BLOCK : block_item -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td colspan="6" align="right" nowrap>
{MSG_Order_sum}:<br>
{MSG_Discount_increase}:<br>
{MSG_Delivery}
<!-- START BLOCK : block_order_delivery -->
({title})
<!-- END BLOCK : block_order_delivery -->
:<br>
{MSG_Transport}:<br>
{MSG_Total_order_sum}:
</td>
<td align="right" nowrap>
<b>{order_sum}
    <!-- START BLOCK : block_discount_info -->
    ({title})
    <!-- END BLOCK : block_discount_info -->
</b> {order_currency}<br>
<b>{order_discount}</b> {order_currency}<br>
<b>{order_delivery}</b> {delivery_currency}<br>
<b>{transport_service}</b> {delivery_currency}<br>
<b>{order_cost}</b> {order_currency}
</td>
</tr>
<!-- START BLOCK : block_webmoney_discount -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td colspan="7" align="right" nowrap>
	{MSG_Webmoney_percent_included}: <b>{webmoney_discount}</b> %.
</td>
</tr>
<!-- END BLOCK : block_webmoney_discount -->

<!-- START BLOCK : block_assist_discount -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td colspan="7" align="right" nowrap>
	{MSG_ASSIST_percent_included}: <b>{assist_discount}</b> %.
</td>
</tr>
<!-- END BLOCK : block_assist_discount -->
</table>
<br>



<table cellpadding=2 cellspacing=2 border=0 width=98%>
<form action="{change_status_action}" method="post" name="changeStatusForm" id="changeStatusForm">
<input type="hidden" name="id" value="{order_id}">
<tr>
<th align="left" valign="top" nowrap>{MSG_Order_status} <span class="required_field">*</span>:</b>
<div style="height: 5px;" class="spacer">&nbsp;</div>
<select name="status" id="status">
<!-- START BLOCK : block_order_status -->
	<option value="{id}" {selected}>{title}</option>
<!-- END BLOCK : block_order_status -->
</select>
<br>
<!-- START BLOCK : block_status_history -->
<h1>{MSG_Status_changes_history}</h1>
<table width="98%" cellspacing="2" cellpadding="2" border="0" class="center">
<tr>
	<th>{MSG_Time}</th>
	<th>{MSG_Old_stat}</th>
	<th>{MSG_New_stat}</th>
	<th>{MSG_Info}</th>
	<th>{MSG_Responsible}</th>
</tr>
<!-- START BLOCK : block_status_history_row -->
<tr>
	<td>{date}</td>	
	<td>{old_status}</td>
	<td>{new_status}</td>
	<td>&nbsp;{info}</td>
	<td>&nbsp;{responsible}</td>
</tr>
<!-- END BLOCK : block_status_history_row -->
</table>
<!-- END BLOCK : block_status_history -->
</th>
<td align="right">{orders_history_link}</td>
</tr>
<tr>
<td colspan=2>
<label>{MSG_Notes}:</label><br>
<textarea name="notes" cols="80" rows="4">{order_notes}</textarea>
</td>
</tr>
<tr>
<td colspan=2>
<br>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="this.form.submit();"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="b2l" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_back2list.gif class=back2list><span>{MSG_Cancel}</span></BUTTON>
</td>
</tr>
</form>
</table>
<br>