<!-- START BLOCK : block_shop_discounts -->
<script>
function checkForm() {
	var SendItem;

	if (myForm.discount.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_discount_name}';
	}
    if (myForm.min.value == "" || myForm.max.value == "" || myForm.discount_value.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_discount_criterion}';
	}

  if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
	}
}

function do_add_discount()
{
	location.href = '{add_link}';
}
</script>

<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>{MSG_Activ}</th>
	<th>{MSG_Ed}</th>
	<th>{MSG_Groups}</th>
	<th width="99%">{MSG_Discount}</th>
	<th>{MSG_From}</th>
	<th>{MSG_To}</th>
	<th>{MSG_DiscountValue}</th>
	<th>{MSG_Type}</th>
	<th>{MSG_Period}</th>
	<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_discounts_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center"><a href={set_activity_link}><img src="/i/admin/{img_stat}" alt="{act_stat}" title="{act_stat}" width="15" height="18" border="0"></a></td>
	<td align="center"><a href={edit_discount_link}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width="15" height="18" border="0"></a></td>
	<td align="center"><a href={show_groups_link}><img src="/i/admin/ico_edit_rights.gif" alt="{edit_users_groups_hint}" title="{edit_users_groups_hint}" width="15" height="18" border="0"></a></td>
	<td>{name}</td>
  	<td align="center">{min}</td>
  	<td align="center">{max}</td>
  	<td align="center">{value}</td>
  	<td align="center">{is_percent}</td>
  	<td align="center">{interval}</td>
	<td align="center"><a href="javascript:if(confirm('{MSG_Confirm_delete}')){location.href='{delete_discount_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width="15" height="18" border="0"></a></td>
</tr>
<!-- END BLOCK : block_discounts_list -->
</table>
<br />
<button name="add" value="Добавить" type="button" onClick="do_add_discount()"><img src="/i/admin/b_create.gif" class="create" /><span>Добавить</span></button>
<!-- END BLOCK : block_shop_discounts -->