<script type="text/javascript">
function do_save() {
	var SendItem	= 0;
	var AlertMessage;
	
	if (uploadFile.title.value == '') {
		SendItem= 1;
		AlertMessage = '{MSG_Enter_pricelist_name}';
	}	
  	if (!SendItem) {
		uploadFile.submit();
	} else {
		alert(AlertMessage);
  	}
}
</script>

<!-- START BLOCK : block_upload_csv -->
<form method="post" action="{upload_csv_url}" name="uploadFile" id="uploadFile" enctype="multipart/form-data">
<input name="id" type="hidden" size="40" value="{id}">
<input name="start" type="hidden" size="40" value="{start}">
<div class="edit_form">
{MSG_Pricelist_name}:<br>
<input type="text" lass=w300 name="title" value="{pricelists_title}" size="50" maxlength="255"><br>

{MSG_Download_pricelist_CSV}:&nbsp;&nbsp;<br>
<input type="file" name="pricelistfile" size="40">

<div class=attn>
{MSG_Fields_order_in_users_CSV}:<br>
{available_pricelists_fields} ({MSG_separator} "<span style="color: red;">{csv_separator}</span>").
</div>

<textarea id="txt_content" name="txt_content" rows="4" cols="30" class="tinymce">{text}</textarea>
<br>
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="do_save();"><img src="/i/admin/b_save.gif" alt="" class="save"><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src="/i/admin/b_cancel.gif" alt="" class="cancel"><span>{MSG_Cancel}</span></BUTTON>

<!-- END BLOCK : block_upload_csv -->
</form>