<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>{MSG_Ed}</th>
	<th>{MSG_Rights}</th>
	<th width="99%">{MSG_Pricelist_name}</th>
	<th>{MSG_Del}</th>
</tr>
<form>
<!-- START BLOCK : block_pages_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center">{pricelist_edit_action}</td>
	<td align="center">{pricelist_edit_rights_action}</td>
	<td valign="top"><a href="{pricelist_csv_export_link}">{pricelist_title}</a>&nbsp;</td>
	<td align="center">{pricelist_del_action}</td>
</tr>
<!-- END BLOCK : block_pages_list -->
</form>
</table>

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->
