<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>{MSG_Pricelist_name}</th>
<th>{MSG_Ed}</th>
<th>{MSG_Del}</th>
</tr>
<form>
<!-- START BLOCK : block_pages_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td valign="top">{pricelist_title}&nbsp;</td>
<td align=center><a href="{distance_edit_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
<td align=center><a href="javascript:if(confirm('Вы действительно хотите удалить этого пользователя?')){location.href='{distance_del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
</tr>
<!-- END BLOCK : block_pages_list -->
</form>
</table>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->
<br>
<br>

<!-- START BLOCK : block_export_csv -->
<table cellspacing=0 cellpadding=0 border=0 class=center2>
	<tr>
		<td>
			<h1 style="margin: 0px; padding: 0px;">{MSG_Export_into_CSV}</h1>
			<a href="{csv_export_link}" target="export">&raquo;&nbsp;{MSG_Download_existing_CSV}</a><br>
		</td>
	</tr>
</table>
<!-- END BLOCK : block_export_csv -->

<!-- START BLOCK : block_upload_csv -->
<br><br>
<table width="98%" border="0" cellspacing="2" cellpadding="0">
<form action="{upload_csv_url}" method="post" enctype="multipart/form-data" name="uploadFile" id="uploadFile">
<tr>
    <th colspan=2 align=left>{MSG_Upload_CSV_with_cities}:&nbsp;&nbsp;<br>
    <input type="file" name="distancefile" size="40">
	&nbsp;<BUTTON name="c" value="{MSG_Upload}" type="submit"><img src=/i/admin/b_upload.gif class=save><span>{MSG_Upload}</span></BUTTON><br>
	</th>
</tr>
	
<tr>
	<td colspan=2><div class=attn>
	{MSG_Fields_order_in_users_CSV}:<br>
	{available_distances_fields} ({MSG_separator} "<span style="color: red;">{csv_separator}</span>").</div>
	</td>
</tr>
		
</tr>
</form>
</table>
<!-- END BLOCK : block_upload_csv -->