<!-- userinfo -->
<table cellpadding=8 cellspacing=1 border=0 width=50%>

<!-- START BLOCK : block_no_user -->
<tr>
<td bgcolor=6699CC colspan=2 align=center>
<span style="color: red;">{result_message}</span><br><br>
</td>
</tr>
<!-- END BLOCK : block_no_user -->

<tr bgcolor={td_color}>
<td width=50%>{MSG_Status}:</td>
<td>{type}</td>
</tr>

<!-- START BLOCK : block_siteuser_field -->
<tr bgcolor={td_color}>
<td width=50%>{field_title}</td>
<td>{field_value}</td>
</tr>
<!-- END BLOCK : block_siteuser_field -->

<tr valign=bottom height=50>
<td colspan=2 align=left>

<a href="javascript:if(confirm('{MSG_Do_you_really_want} {action_text} {MSG_for_this_user} ')){location.href='{change_status_link}';}"><img src="/i/admin/{action_img}" alt="{action_text}" title="{action_text}" width=15 height=18 border=0></a>

<a href="{user_edit_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a>

<a href="javascript:if(confirm('{MSG_Confirm_delete_this_user}')){location.href='{user_del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a>

</td>
</tr>
</table>
<!--/userinfo -->
