<!-- START BLOCK : block_properties -->
<table>

<!-- START BLOCK : ctgr_list -->
<tr>
	<td valign="top">
	<fieldset id="property1">
	<legend>Категории:</legend>
	<ul style="list-style:none; padding-left:28px;">
	<!-- START BLOCK : ctgr_list_item -->
	<li><input type="checkbox" name="ctgr_{id}" value="{id}" id="ctgr{id}" class="checkb"><label style="vertical-align:middle;" for="ctgr{id}">- {category_title}</label>
	<!-- END BLOCK : ctgr_list_item -->
	</ul>
	</fieldset>
	</td>
</tr>
<!-- END BLOCK : ctgr_list -->

<!-- START BLOCK : block_news_list -->
<tr>
	<td valign="top">
		{MSG_News_category}:<br>
		<select id="property1" name="property1" onchange="setURL('property1');">
			<option value="0">{MSG_All_categories}</option>

		<!-- START BLOCK : block_categories -->
			<option value="{category}">{category_title}</option>
		<!-- END BLOCK : block_categories -->
		
		</select>
	</td>

<!-- START BLOCK : block_page_edit -->
	<td><br><img style="cursor: hand" alt="{MSG_Goto_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="/i/admin/ico_edit.gif" border="0"></td>
<!-- END BLOCK : block_page_edit -->

</tr>
<!-- END BLOCK : block_news_list -->

<!-- START BLOCK : block_per_page -->
<tr>
	<td valign="top">
		{MSG_News_per_page}:<br>
		<input type="text" name="property2" id="property2" value="" size="5">
	</td>
</tr>
<!-- END BLOCK : block_per_page -->

<!-- START BLOCK : block_news_cnt -->
<tr>
<td valign="top">
<label for="property3">{MSG_Show_news_cnt}</label>
<select name="property3" id="property3" style="width: 60px">
	<option value="0">{MSG_No}</option>
	<option value="1">{MSG_Yes}</option>		
</select>
</td>
</tr>
<!-- END BLOCK : block_news_cnt -->

</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->

<!-- INCLUDE BLOCK : tpl_block -->