<script type="text/javascript">
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.title.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Empty_field}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>

<form action="{form_action}" method="POST" name="updateForm">

<input type="hidden" name="theme" value="{theme}">
<input type="text" name="title" value="{theme_title}" size="40"><br>
<br>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src="/i/admin/b_save.gif" alt="" class="save"><span>{MSG_Save}</span></BUTTON>

</form>
