
<!-- START BLOCK : block_adm_news_error -->
<div class="warning">{err}</div>
<!-- END BLOCK : block_adm_news_error -->

<form>
<input type="hidden" name="category" value="{category}">
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>{MSG_Activ}</th>
    <!-- START BLOCK : block_mailgun -->
    <th>Рассылка(~20-25 мин.)</th>
    <!-- END BLOCK : block_mailgun -->
<th>{MSG_Ed}</th>
<th>{MSG_Rights}</th>
<th>{MSG_Date}</th>
<th width="99%">{MSG_Title}</th>
<th>{MSG_Shows}</th>
<th>{MSG_Del}</th>
<th align="left"><input type="checkbox" name="check_all" value="1" class="checkb" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_news_titles -->
<tr onclick="switchCheckbox(this)" valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center">{change_status_action}</td>
    <!-- START BLOCK : block_mailgun_st -->
    <td align="center">
    <a href="/admin?lang=rus&name=news&action=mailgun_check&id={id}">{text}{mail_check}</a>

    </td>
    <!-- END BLOCK : block_mailgun_st -->
<td align="center">{news_edit_action}</td>
<td align="center">{news_edit_rights_action}</td>
<td align="center" nowrap class="nowrap">{news_date}</td>
<td>{news_title}</td>
<td>{news_hits}</td>
<td align="center">{news_del_action}</td>
<td>
<!-- START BLOCK : block_check -->
<input style="height: auto; padding: 0;" onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{news_id}">
<!-- END BLOCK : block_check -->
</td>
</tr>
<!-- END BLOCK : block_news_titles -->
</table>
<br>
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate}</option>
<option value="suspend">{MSG_Suspend}</option>
<option value="delete">{MSG_Delete}</option>
</select> &nbsp;
<button type="button" onclick="doAction(this.form);">{MSG_Execute}</button>
</form>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->