<div class="edit_form">
<form action="{baseurl}&action={action}" method="POST">
<label style="display:block; padding: 0 0 7px 0;">Категория:</label>
<select name="category">
<option value="">- выбрать -</option>
<!-- START BLOCK : ctgr_list -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : ctgr_list -->
</select>
<button style="position:relative; top:-4px;" type="submit">Выбрать</button>
</form>

<!-- START BLOCK : block_rss -->
<h2>RSS каналы категории &mdash; {title}</h2>
<label style="padding-left:0;">Интервал обновления в минутах (если 0 - автоматическое обновление отключено) </label><br />
<form action="{baseurl}&action=updatectg" method="POST">
<input type="hidden" name="category" value="{id}">
<input style="margin: 5px 0" type="text" name="rss_update_interval" value="{rss_update_interval}" size="5"><br>
<button type="submit" class="save">Сохранить</button>
</form>

<h2>RSS каналы</h2>
<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>Ред.</th>
	<th width="99%">RSS канал</th>
	<th>Удл.</th>
</tr>
<!-- START BLOCK : block_rss_channels -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center">{edit_rss_action}</td>
	<td>{rss_title}</td>
	<td align="center">{delete_rss_action}</td>
</tr>
<!-- END BLOCK : block_rss_channels -->
</table>
<br />
<button type="button" class="save" onclick="document.location.href='{baseurl}&action=import_rss&category={id}';">Импортировать все RSS каналы</button>
<button type="button" class="create" onclick="document.location.href='{baseurl}&action=edit_rss&category={id}';">Создать новый RSS канал</button>

<!-- START BLOCK : block_rss -->
</div>