<script language="JavaScript" type="text/javascript" src="/mod/news/js/news.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script language='JavaScript' type='text/javascript' src='/js/multiselect.js'></script>
<script type="text/javascript">
function do_save_news(myForm) {
	var errCode = test_news_form(myForm);

	if (errCode == -1) {
		myForm.submit();
	} else {
		alert(news_msgs[errCode]);
  }
}
</script>
<!-- START BLOCK : block_adm_news_error -->
<div class="warning">{err}</div>
<!-- END BLOCK : block_adm_news_error -->

<br>

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data" class="newsedit">
<input name="id" type="hidden" value="{news_id}">
<input name="start" type="hidden" value="{start}">
<input name="rss_id" type="hidden" value="{rss_id}">
<input name="tryon" type="hidden" value="0">
<input name="category" id="hdnCtgr" type="hidden" value="{category_list}">
<div class="edit_form">

<table cellspacing="0" cellpadding="3">
<tr>
    <td>
    {MSG_Categories_of_news} <span class="required_field">*</span>:<br>
    <select multiple id="mslctDest" size="7" ondblclick="multiselectRemove('mslctDest', 'mslctSrc', 'hdnCtgr');" style="width:280px">
    <!-- START BLOCK : block_news_categories -->
    <option value="{id}">{title}</option>
    <!-- END BLOCK : block_news_categories -->
    </select>
    </td>
    <td>
    <button type="button" onclick="multiselectInsert('mslctDest', 'mslctSrc', 'hdnCtgr');" title="{MSG_Add_to_sel_ctgrs}"><img src="/i/admin/b_movl_arr.gif" width="15" height="15"></button><br>
    <button type="button" onclick="multiselectRemove('mslctDest', 'mslctSrc', 'hdnCtgr');" title="{MSG_Del_from_sel_ctgrs}"><img src="/i/admin/b_movr_arr.gif" width="15" height="15"></button><br>
    </td>
    <td>
    {MSG_Categories}:<br>
    <select multiple id="mslctSrc" size="7" ondblclick="multiselectInsert('mslctDest', 'mslctSrc', 'hdnCtgr');" style="width:280px">
     <!-- START BLOCK : block_categories -->
    <option value="{category}">{category_title}</option>
    <!-- END BLOCK : block_categories -->
    </select>
    </td>
</tr>
</table>

{MSG_News_topics}:<br>
<select name="theme">
<option value="0">--  {MSG_Without_topic}  --</option>
<!-- START BLOCK : block_themes -->
<option value="{theme}"{selected}>{theme_title}</option>
<!-- END BLOCK : block_themes -->
</select><br>

{MSG_Title} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="title" size="50" value="{news_title}"><br>

Для главной:<br>
<input type="text" class=w300 name="title_add" size="50" value="{news_title_add}"><br>

{MSG_Source} (артикул товара для вмдео):<br>
<input type="text" class=w300 name="source" size="50" value="{news_source}"><br>

{MSG_Announce_short} <span class="required_field">*</span>:<br>
<textarea cols="60" rows="8" class=w300 id="announce" name="announce">{news_announce_with_links}</textarea>
&nbsp;&nbsp;&nbsp;<BUTTON name="c" value="{MSG_Mark_link}" type="button" onClick="replaceSelectedText(document.getElementById('announce'))"><img src=/i/admin/b_back2list.gif class=save><span>{MSG_Mark_link}</span></BUTTON>
<br>

{MSG_News_content}:
<div style="height: 5px;" class="spacer">&nbsp;</div>
<textarea id="txt_content" name="txt_content" rows="4" cols="30" class="tinymce">{text}</textarea>

<input type="checkbox" value="1" id="split_body" name="split_body" class="checkb" {checked}><label for="split_body">- {MSG_Split_content_by_tag}</label>
<br><br>

{MSG_Picture} :
<!-- START BLOCK : img -->
<a href="{img}" target="_blanck">просмотреть {img}</a>
<a href="#" onclick="$('#txtImg').val(''); return false;"><img width="14" height="14" src="/i/admin/x.gif" alt="(х)" title="очистить" align="middle"> очистить</a>
<!-- START BLOCK : img -->
<br>
<input type="text" name="img" value="{img}" id="txtImg" style="width: 100px;" readonly>&nbsp;
<button type="button" onclick="mcImageManager.open('myForm','img','','',{remove_script_host : true});" class="select">Выбрать</button>
<br>
{img_del}
<div class="attn" id="img_attn" style="display:none;"></div>

{MSG_Publish_date} <span class="required_field">*</span>:<br>
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<input type="text" name="date" id="date" style="width: 100px;" value="{calendar_date}">&nbsp;
<button type="button" id="trigger" class="select">{MSG_Select}</button>

<br>
{MSG_Time} <span class="required_field">*</span>:<br>
<SELECT id='hrs' name='hrs'></SELECT>:<SELECT id='min' name='min'></SELECT><br>

Теги:<br>
<input style="margin-bottom:2px;" type="text" class=w300 name="tags" value="{tags}"><br>
<sup>Укажите через запятую не более {max_tags} тегов</sup><br><br>

{MSG_Page_title}:<br>
<input type="text" class=w300 name="seo_title" size="50" value="{news_seo_title}"><br>

<br>{MSG_Page_description}:<br>
<textarea name="description" rows="3" cols="80" style="overflow: auto;">{news_description}</textarea><br>

{MSG_Keywords}:<br>
<textarea name="keywords" rows="3" cols="80" style="overflow: auto;">{news_keywords}</textarea><br>

<br>
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON type="button" onClick="do_save_news(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON type="button" onClick="this.form.tryon.value=1; do_save_news(this.form);"><img src=/i/admin/b_refresh.gif class=cancel><span>{MSG_Try_on}</span></BUTTON>
<BUTTON type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>

<script>
var shrs = "{date_hrs}";
var smin = "{date_min}";

news_msgs[0]	= '{MSG_Enter_title}';
news_msgs[1]	= '{MSG_Enter_announce}';
news_msgs[2]	= '{MSG_Choose_date}';
news_msgs[3]	= '{MSG_Choose_category}';

init_objects();
</script>