<script type="text/javascript">
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.title.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Empty_field}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>
<form action="{form_action}" method="POST" name="updateForm">
<div class="edit_form">
<!-- START BLOCK : block_commentable -->
<fieldset style="width: 300px; float: right;"><legend>{MSG_Comments}</legend>
<select name="commentable">
<!-- START BLOCK : block_comment_access -->
<option value="{id}" {selected}>{title}</option>
<!-- END BLOCK : block_comment_access -->
</select>
</fieldset>
<!-- END BLOCK : block_commentable -->

<input type="text" name="title" value="{category_title}" size="40" style="display:block; margin-bottom:10px;">

<button name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src="/i/admin/b_save.gif" alt="" class="save"><span>{MSG_Save}</span></button>
</div>
<input type="hidden" name="category" value="{category}">
</form>