<script type="text/javascript">
function checkForm(form)
{
	var SendItem = 0;
	var AlertMessage;

	if (form.title.value == "") {
		SendItem = 1; 
		AlertMessage = '{MSG_Empty_field}';
	}

	if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
	}
}
</script>
<form action="{form_action}" method="POST" name="updateForm">

<!-- START BLOCK : block_rss_data -->
<div class="edit_form">
	{MSG_rss_name} <span class="required_field">*</span>:<br />
	<input type="text" name="rss_name" value="{rss_name}" size="40" />
	<br />{MSG_rss_url} <span class="required_field">*</span>:<br />
	<input type="text" name="rss_url" value="{rss_url}" size="40" />
</div>
<input type="hidden" name="category" value="{category}">
<!-- END BLOCK : block_rss_data -->
<button type="button" onClick="checkForm(this.form);" class="save">{MSG_Save}</button>
<button type="button" onClick="document.location.href='{baseurl}&action=rss_list&category={category}'" class="cancel">Отмена</button>
<!-- START BLOCK : block_hidden_rss_id -->
<input type="hidden" name="rss_id" value="{rss_id}">
<!-- END BLOCK : block_hidden_rss_id -->
</form>