<form name="search" action="{search_link}" method="GET">
<input type="text" id="txtSerch" name="query" value="поиск по сайту" onfocus="if (this.value == 'поиск по сайту'){this.value = '';this.className='';}" onblur="if (this.value == ''){this.value = 'поиск по сайту';this.className='needValue';}" class="needValue"><button type="submit" onclick="document.search.submit(); return false;">Найти</button>
</form>
<script type="text/javascript">
document.getElementById('txtSerch').value = '{query}' || 'поиск по сайту';
</script>