<!-- START BLOCK : block_search_results -->
<div>По вашему запросу «<b>{search_query}</b>», найдено:</div><br>
	<!-- START BLOCK : block_search_result_item -->
	<div>{i}. ({rel}) <a href="{search_url}"><b>{search_title}</b></a></div>
	<p>{search_descr}<br>
	http://{domen}{search_url} <a href="{search_markwords_url}">выделить найденные слова</a></p>
	<!-- END BLOCK : block_search_result_item -->	
	
    <!-- START BLOCK : nav -->
    <p class="tech">Страницы: {nav_string}</p>
    <!-- END BLOCK : nav -->
	
<!-- END BLOCK : block_search_results -->

<!-- START BLOCK : block_no_success -->
<div>По вашему запросу «<b>{search_query}</b>», ничего не найдено</div>
<!-- END BLOCK : block_no_success -->
