	<form action="{search_action}" name=searchForm methos="POST">
			<input type="text" name="search" value="{search}">&nbsp;
			<input type="button" name="s" value="Искать" onClick="this.form.submit();"><br>
	</form>

	<!-- START BLOCK : search_result -->
{total}{search_result}<br>
	<!-- END BLOCK : search_result -->
	
	<!-- START BLOCK : nav -->
		<p class="tech">Страницы: {nav_string}</p>
	<!-- END BLOCK : nav -->