<!-- path -->
{path}

<a class="add_btn" href="{baseurl}&action=addprty"><span><img src="/i/admin/ico_addcat.gif" alt="{MSG_Add_property}" title="{MSG_Add_property}" width=17 height=18 border=0>&nbsp;{MSG_Add_property}</a></span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>



<!-- START BLOCK : block_prts -->
<form method="GET" action="{baseurl}">
<input type="hidden" name="lang" value="{lang}">
<input type="hidden" name="name" value="catalog">
<input type="hidden" name="action" value="{action}">
<input type="text" name="c" value="{c}">
<button type="submit">{MSG_Seek}</button>
<a href="{baseurl}&action={action}">{MSG_Cancel}</a>
</form>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
	<tr height="20">
		<th width=1>{MSG_Ed}</th>
		<th><a href="{link}&order={id_order}">{MSG_ID}</a>&nbsp;{id_order_mark}</th>
		<th width="75%"><a href="{link}&order={title_order}">{MSG_Property}</a>&nbsp;{title_order_mark}</th>
		<th><a href="{link}&order={name_order}">{MSG_Name}</a>&nbsp;{name_order_mark}</th>
		<th>{MSG_Prefix}</th>
		<th>{MSG_Suffix}</th>
		<th>{MSG_Values}</th>
		<th>{MSG_Del}</th>
	</tr>
<!-- START BLOCK : block_prt -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td align=center><a href="{prp_edit_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
		<td width=5 align=center>{id}</td>
		<td>{prp_title}</td>
		<td>{prp_name}</td>
		<td>{prp_prefix}</td>
		<td>{prp_suffix}</td>
		<td>{prp_def_val}</td>
		<td align=center><a href="{prp_del_link}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
	</tr>
<!-- END BLOCK : block_prt -->
</table>

<!-- END BLOCK : block_prts -->

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->