<form action="{form_action}" method="POST" name="delForm">
<b class="delw">{MSG_Removing_producer} "{ptype_name}" {MSG_unsets_its_goods_ptype}</b><br><br>
{MSG_Confirm_delete_producer}<br><br>
<BUTTON name="d" value="{MSG_Delete}" type="submit"><img src=/i/admin/b_delete.gif class=delete><span>{MSG_Delete}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>