<script>

var types		 = new Array({dynamic_images_type});
var type_arr 	 = new Array();
var type_val_arr = new Array();

function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

	if (form.prttitle.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Property_name_not_filled}';
	}

	var reg=/^[_A-Za-z\d]*$/
	if (form.prtname.value == "" || !reg.test(form.prtname.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_valid_property_name}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}

function addElement() {
    var div = document.getElementById("otherDef");
    var el = document.createElement('DIV');
    div = div.appendChild(el);
    el = document.createElement('INPUT');
    el.setAttribute('name', 'new_value[]');
    el.setAttribute('size', '40');
    div.appendChild(el);
    el = document.createElement('A');
    el.setAttribute('href', '#');
    el.setAttribute('title', '{MSG_Delete}');
    el.appendChild(document.createTextNode('[x]'));
    div.appendChild(el);
    el.onclick = delElement;
    return true;
}

function delElement(event)
{    
    if (confirm('{MSG_Delete} ?')) {
        event = event || window.event;
        var t = event.target || event.srcElement;
        t.parentNode.parentNode.removeChild(t.parentNode);
    }
}

function showProperty() {
	var f = document.getElementById('selType'),
	   def_val = document.getElementById('blckDefVal'),
	   def_val_list = document.getElementById('blckDefValLst'), 
	   type_add = document.getElementById('blckAdd'), 
	   preff = document.getElementById('blckPref'), 
	   suff = document.getElementById('blckSuff');
	switch (f.options[f.options.selectedIndex].value) {
		case '0':
			def_val.style.display = 'none';
			def_val_list.style.display = 'none';
			type_add.style.display = 'none';
			preff.style.display = 'none';
			suff.style.display = 'none';
			break;
		case '1':
			def_val.style.display = 'block';
			def_val_list.style.display = 'none';
			type_add.style.display = 'block';
			preff.style.display = 'block';
			suff.style.display = 'block';
			break;
		case '2':
			def_val.style.display = 'none';
			def_val_list.style.display = 'block';
			type_add.style.display = 'block';
			preff.style.display = 'block';
			suff.style.display = 'block';
			break;
		case '3':
			def_val.style.display = 'none';
			def_val_list.style.display = 'block';
			type_add.style.display = 'block';
			preff.style.display = 'block';
			suff.style.display = 'block';
			break;
		case '4':
			def_val.style.display = 'none';
			def_val_list.style.display = 'none';
			type_add.style.display = 'block';
			preff.style.display = 'none';
			suff.style.display = 'none';
			break;
	}
}

</script>

<!-- START BLOCK : common_error_block -->
<br><SPAN class="delw">{MSG_Save_data_error}</span><br><br>
<!-- END BLOCK : common_error_block -->
<!-- START BLOCK : not_unique_name_block -->
<br><SPAN class="delw">{MSG_Property_name_not_unique}</span><br><br>
<!-- END BLOCK : not_unique_name_block -->

<form action="{form_action}" method="POST" name="updateForm" enctype="multipart/form-data">
<div class="edit_form">
<input type="hidden" name="id" value="{prt_id}">
<input type="hidden" name="step" value="2">

{MSG_Property_title} <span class="required_field">*</span>:<br>
<input type="text" name="prttitle" value="{prt_title}" size="40"><br>

{MSG_Property_name} <span class="required_field">*</span>:<br>
<input type="text" name="prtname" value="{prt_name}" size="40"><br>

{MSG_Dynamic_property_type} <span class="required_field">*</span>:<br>
<select name="select_type" onchange="showProperty();" id="selType">
<!-- START BLOCK : block_property_type_select -->
	<option value="{property_id}" {option_select}>{property_name}</option>
<!-- END BLOCK : block_property_type_select -->
</select><br>

<div id="blckPref" style="display: {display_pref}">
{MSG_Property_prefix}:<br>
<input type="text" name="prefix" value="{prefix}" size="40">
</div>
<div id="blckSuff" style="display: {display_suff}">
{MSG_Property_suffix}:<br>
<input type="text" name="suffix" value="{suffix}" size="40">
</div>

<div id="blckDefVal" style="display: {display_def_val}">
	{MSG_Default_value}:<br>
	<input type="text" name="def_value[]" value="{def_value}" size="40">
</div>

<div id="blckDefValLst" style="display: {display_def_val_list}">
{MSG_Value}:<br>
<!-- START BLOCK : block_properies -->
	<div><input type="text" name="def_value[{id}]" value="{def_value}" size="40"><a href="#" title="{MSG_Deleteete}" onclick="delElement(event);">[x]</a></div>
<!-- END BLOCK : block_properies -->
<!-- START BLOCK : block_new_value -->
<input type="text" name="new_value[]" value="{def_value}" size="40"><br>
<!-- END BLOCK : block_new_value -->
<div id="otherDef"></div>
<BUTTON title="{MSG_Add_default_value}" type="button" onClick="addElement();"><img src=/i/admin/b_select.gif class=select><span>{MSG_Add}</span></BUTTON><br><br>
</div>

<div id="blckAdd" style="display: {display_type_add}">
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
	<BUTTON value="{MSG_Save}" type="submit" onClick="checkForm(this.form); return false;"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
	<BUTTON value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</div>
</div>
</form>