<!-- START BLOCK : block_properties -->
<table>

<!-- START BLOCK : block_all_ctg_list -->
<tr>
	<td valign="top"><!--Категории:-->
	<fieldset id="property2">
	<legend>Категории:</legend>
	<!-- START BLOCK : block_tree_level -->
	<!-- START BLOCK : block_tree_level_end -->
	</ul>
	<!-- END BLOCK : block_tree_level_end -->
	<!-- START BLOCK : block_tree_level_start -->
	<ul style="list-style:none; padding-left:28px;">
	<!-- END BLOCK : block_tree_level_start -->
	<!-- START BLOCK : block_tree_node -->
	<li><input type="checkbox" name="ctgr_{id}" value="{id}" id="ctgr{id}" class="checkb"><label style="vertical-align:middle;" for="ctgr{id}">- {title}</label>
	<!-- END BLOCK : block_tree_node -->

	<!-- END BLOCK : block_tree_level -->
	</fieldset>
	<script type="text/javascript">
	$(function() {
		$('#property2 input:checkbox').change(function() {
			var $this = $(this);
			if ($this.attr('checked')) {
				$this.parent().find('ul input:checkbox').attr('checked', true);
			}
		});
	});
	</script>
	</td>
</tr>
<!-- END BLOCK : block_all_ctg_list -->

<!-- START BLOCK : block_properties_ctg_list -->
<tr>
	<td valign="top">{MSG_Show_category}:<br>
		<select name="property2" id="property2">
			<option value="all">{MSG_All_categories}</option>

		<!-- START BLOCK : block_properties_ctg -->
			<option value="{categ_id}">{categ_name}</option>
		<!-- END BLOCK : block_properties_ctg -->

		</select>

<!-- START BLOCK : block_page_edit -->
	<td><br><img style="cursor: hand" alt="{MSG_Go_to_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="/i/admin/ico_edit.gif" border="0"></td>
<!-- END BLOCK : block_page_edit -->

</tr>
<!-- END BLOCK : block_properties_ctg_list -->

<!-- START BLOCK : block_properties_grp_list -->
<tr>
	<td valign="top">{MSG_Show_grp}:<br>
		<select name="property3" id="property3">
		<option value="all">{MSG_All_grp}</option>
		<!-- START BLOCK : block_properties_grp -->
			<option value="{group_id}">{group_name}</option>
		<!-- END BLOCK : block_properties_grp -->
		</select>
</tr>
<!-- END BLOCK : block_properties_grp_list -->

<!-- START BLOCK : block_properties_prods -->
<tr>
	<td valign="top">{MSG_Goods_per_page}:<br>
		<input type="text" name="property1" id="property1" value="" size="5"></td>
</tr>
<!-- END BLOCK : block_properties_prods -->

<!-- START BLOCK : block_properties_grouping -->
<tr>
	<td valign="top">{MSG_Groupping}:<br>
		<input type="text" name="property3" id="property3" value="" size="2"></td>
</tr>
<!-- END BLOCK : block_properties_grouping -->

<!-- START BLOCK : block_properties_prod_cnt -->
<tr>
	<td valign="top">{MSG_Show_prod_cnt}:<br>
		<select name="property3" id="property3">
			<option value="0">{MSG_No}</option>
			<option value="1">{MSG_Yes}</option>		
		</select>
	</td>
</tr>
<!-- END BLOCK : block_properties_prod_cnt -->

<!-- START BLOCK : block_properties_searchform -->
<tr>
	<td valign="top">
	<fieldset id="property4"><legend>Поля для поиска:</legend>
<input type="checkbox" name="name" value="1" id="chbxName"><label for="chbxName">- наименование</label><br>
<input type="checkbox" name="code" value="1" id="chbxCode"><label for="chbxCode">- артикул</label><br>
<input type="checkbox" name="ptype" value="1" id="chbxPtype"><label for="chbxPtype">- производитель</label><br>
<input type="checkbox" name="price" value="1" id="chbxPrice"><label for="chbxPrice">- цена</label><br>
<input type="checkbox" name="group" value="1" id="chbxGroup"><label for="chbxGroup">- группа товаров</label><br>
<input type="checkbox" name="availability" value="1" id="chbxAvial"><label for="chbxAvial">- наличие на складе</label><br>
<input type="checkbox" name="sort" value="1" id="chbxSort"><label for="chbxSort">- сортировка</label>
</fieldset>
</td>
</tr>
<!-- END BLOCK : block_properties_searchform -->

<!-- START BLOCK : block_prod_tpl -->
<tr>
	<td valign="top">{MSG_Prod_tpl}:<br>
		<select name="property5" id="property5">
		<option value="all">{MSG_Select}</option>
		<!-- START BLOCK : block_prod_tpl_list -->
			<option value="{name}">{name}</option>
		<!-- END BLOCK : block_prod_tpl_list -->		
		</select>
	</td>
</tr>
<!-- END BLOCK : block_prod_tpl -->

</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->

<!-- INCLUDE BLOCK : tpl_block -->