<script type="text/javascript">
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.groupname.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Group_name_not_filled}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>


<form action="{form_action}" method="POST" name="updateForm" enctype="multipart/form-data">
<input type="hidden" name="id" value="{group_id}">
<input type="hidden" name="step" value="2">
<div class="edit_form">
{MSG_Group_name} <span class="required_field">*</span>:<br>
<input type="text" name="groupname" value="{group_name}" size="40">
<br />
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="submit" onClick="checkForm(this.form); return false;"><img src="/i/admin/b_save.gif" class="save"><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src="/i/admin/b_cancel.gif" alt="" class="cancel"><span>{MSG_Cancel}</span></BUTTON>

</form>
