<form action="{form_action}" method="POST" name="delForm">
<p>
<b class="delw">{MSG_Confirm_delete_group_property} "{prt_name}"?</b><br><br>
<BUTTON name="d" value="{MSG_Delete}" type="submit"><img src=/i/admin/b_delete.gif class=delete><span>{MSG_Delete}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</p>
</form>
