<!-- START BLOCK : block_err -->
<div class="error">{MSG_No_select_categories}</div>
<!-- END BLOCK : block_err -->

<!-- START BLOCK : block_tree_empty -->
<div class="error">{MSG_Isnot_categories}</div>
<!-- END BLOCK : block_tree_empty -->

<!-- START BLOCK : block_parent_err -->
<div class="error">{MSG_Parent_category_err}</div>
<!-- END BLOCK : block_parent_err -->

<!-- START BLOCK : block_set_ok -->
<div class="attn">{MSG_Category_moved}</div>
<script type="text/javascript">
if(window.opener){
    window.opener.document.location = '{backurl}';
    setTimeout("window.close();", 2000);
}
</script>
<!-- END BLOCK : block_set_ok -->

<!-- START BLOCK : block_tree -->
<script type="text/javascript">
function hndlSubmit(form)
{
    var chechked = false;
    for (var i=0; i < form.elements.length && !chechked; i++) {
        if ('parent_id' == form.elements[i].name && form.elements[i].checked) {
            chechked = true;
        }
    }
    if (!chechked) {
        alert('{MSG_Select_category}');
        return false;
    }
    return true;
}
</script>
<form action="{baseurl}&action=set_parent&menu=false" method="POST" class="edit_form" onsubmit="return hndlSubmit(this);">
<div>{MSG_Select_categories}:
<!-- START BLOCK : block_child_ctgr -->
"{title}", <input type="hidden" name="id[]" value="{id}">
<!-- END BLOCK : block_child_ctgr -->
</div>
<ul class="no-mark">
<li><input type="radio" name="parent_id" value="1" id="chbx1" class="checkb">
    <label for="chbx1">Корень каталога</label>
    <ul>
<!-- START BLOCK : block_item -->
    <!-- START BLOCK : block_level_end -->
    </ul>
    <!-- END BLOCK : block_level_end -->
    <!-- START BLOCK : block_level_begin -->
    <ul>
    <!-- END BLOCK : block_level_begin -->
    <li><input type="radio" name="parent_id" value="{id}" id="chbx{id}" class="checkb">
    <label for="chbx{id}">{title}</label>
<!-- END BLOCK : block_item -->
    </ul>
</ul>
<button type="submit">{MSG_Move}</button>

<button type="button" onclick="window.close();">{MSG_Close_window}</button>
</form>
<!-- END BLOCK : block_tree -->