<form action="{form_action}" method="POST" name="delForm">

<b class="delw">{MSG_Removing_group} "{group_name}" {MSG_unsets_its_goods_group}</b><br><br>
{MSG_Confirm_delete_group}<br>
<br><input type="checkbox" value="del_prp_grp" name="del_prp_grp" id="del_prp_grp" class="checkb"><label for="del_prp_grp">{MSG_Confirm_all_assigned_with} "{group_name}" {MSG_props_not_assigned_to_other}</label><br><br>

<BUTTON name="d" value="{MSG_Delete}" type="submit"><img src=/i/admin/b_delete.gif class=delete><span>{MSG_Delete}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>


</form>