{path}
<br><br>
{add_to_current}
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<!-- START BLOCK : block_categories -->
<script>
    var eShift,eLevel;
    function changeCOrder(id, act, dontsubmit) {
        if (dontsubmit == 1) return;
        var form = document.getElementById('changeCOrderForm');
        form.action = act;
        form.shift.value = eShift;
        form.clevel.value = eLevel;
        if (form.action != '') form.submit();
    }

    function hndlChangeAction(slct_el)
    {
        if ('select_parent' == slct_el.options[slct_el.options.selectedIndex].value) {
            var form = slct_el.form, ids = '';
            for (var i=0; i<form.elements.length; i++) {
                if ('check[]' == form.elements[i].name && form.elements[i].checked) {
                    ids += '&id[]='+form.elements[i].value;
                }
            }
            if (ids) {
                var win = window.open("{baseurl}&action=select_parent&menu=false"+ids,
                        "SelectCategoryWindow",
                        "left=100,top=100,height=450,width=600,resizable=yes,scrollbars=yes,status=yes");
            } else {
                alert('{MSG_Select_category}');
            }
            slct_el.options.selectedIndex = 0;
        }
    }
</script>
<form name="changeCOrderForm" id="changeCOrderForm" action="" method="post">
    <input type="hidden" name="clevel" value="">
    <input type="hidden" name="shift" value="">
</form>
<table cellpadding="2" cellspacing="2" class="center" width="98%">
    <tr height="20">
        <th width="5%">№</th>
        <th width="5%">ID:</th>
        <th width="90%">Наименование</th>
    </tr>
    <!-- START BLOCK : block_category -->
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td align="center">{i}</td>
        <td align="center">{id}</td>
        <!--<td align="center">{cat_edit_rights_action}</td>-->
        <td><a href="{url}" title='{product_name}'>{product_name}</a></td>
    </tr>
    <!-- END BLOCK : block_category -->
</table>
<br>
<!-- END BLOCK : block_categories -->

<!-- START BLOCK : block_product_table -->
<br>
<div class="block">
    <div class="fleft h2_pad">
        <h2>{MSG_Goods_list}</h2>
    </div>
    <script type="text/javascript">
        function changeMOrder(id, act, dontsubmit) {
            if (dontsubmit == 1) return;
            var form = document.forms['changeCatgr'];
            form.shift.value = document.getElementById('shift'+id).value;
            if (act != '') {
                form.action = act;
                form.submit();
            }
        }

        function checkForm(f)
        {
            var chd = false;

            for (var i=0; i < f.elements.length; i++) {
                if ('prods[]' == f.elements[i].name && f.elements[i].checked) {
                    chd = true;
                    break;
                }
            }

            var new_ctgr_val = 0, new_ctgr_name = '';
            for (i = 0; i< f.new_ctgr.length; i++) {
                if (f.new_ctgr.options[i].selected) {
                    new_ctgr_val = f.new_ctgr.options[i].value;
                    new_ctgr_name = f.new_ctgr.options[i].text;
                }
            }

            if (0 == new_ctgr_val){
                alert("{MSG_Select_category}");
                return false;
            } else if (chd) {
                if (confirm("{MSG_Confirm_move_good_to} '" + new_ctgr_name + "'?")) {
                    f.submit();
                }
            } else {
                alert("{MSG_No_selected_goods}");
                return false;
            }
        }

        function checkSearchForm(f)
        {
            if ('' == f.search.value) {
                alert('{MSG_Empty_field}');
            } else {
                f.submit();
            }
        }


        function doActionProd(f)
        {
            addition = 'prod';

            if(!addition) addition = '';
            check_query = '';
            if(f["prods[]"])
            {
                if (f["prods[]"][0]) {
                    for(i = 0; i < f["prods[]"].length; i++) {
                        if(f["prods[]"][i].checked) {
                            check_query += '&check%5B%5D=' + f["prods[]"][i].value;
                        }
                    }
                } else if(f["prods[]"].checked) {
                    check_query += '&check%5B%5D=' + f["prods[]"].value;
                }
            }

            if(check_query)
            {
                switch(f["select_action"].value)
                {
                    case "activate":
                        confirm_message = "Включить публикацию всех выбранных элементов?";
                        break;
                    case "suspend":
                        confirm_message = "Выключить публикацию всех выбранных элементов?";
                        break;
                    case "delete":
                        confirm_message = "Удалить все выбранные элементы?";
                        break;
                    default:
                        alert("Выберите действие.");
                        return false;
                }
                if(confirm(confirm_message))
                {
                    document.location.href = document.location.href + '&action=' + f["select_action"].value + addition + "_checked" + check_query + "&category_id=" + f['category_id'].value;
                }
            }
            else
            {
                alert("Нет выбранных элементов.");
                return false;
            }
        }

    </script>

    <form action="admin.php" name="searchForm" id="searchForm" method="get">
        <input type="hidden" name="name" value="catalog">
        <input type="hidden" name="lang" value="{action_lang}">
        <input type="hidden" name="action" value="search">
        <input type="hidden" name="id" value="{category_id}">
        <input style="float:left; margin-right:5px;" type="text" name="search" value="{search_str}">
        <button style="float:left;" type="submit"><img class="save" border="0" src="/i/admin/b_browse.gif" alt=""/>
            <span>Найти</span></button>
        <!--<button class="btn" type="submit" onClick="checkSearchForm(this.form); return false;">{MSG_Seek}</button>-->
        <!-- START BLOCK : block_search_on -->
        <BUTTON name="b2l" type="button" onClick="document.location.href='{baseurl}&action=assortment&id={category_id}';"><img src="/i/admin/b_back2list.gif" alt="" class="back2list"><span>{MSG_Back_to_goods_list}</span></BUTTON>
        <!-- END BLOCK : block_search_on -->
    </form>
</div><br clear="all" />
<table cellpadding="2" cellspacing="2" class="center" width="98%">
    <form name="changeCatgr" action="{change_catgr_action}" method="post">
        <input type="hidden" name="category_id" value="{category_id}">
        <input type="hidden" name="shift" value="1">
        <tr height="20">
            <th {active_order_mark2} nowrap><a href="{active_order}">{MSG_Active}</a>&nbsp;{active_order_mark}</th>
            <th width="1">{MSG_Ed}</th>
            <!--<th width="1">{MSG_Rights}</th>-->
            <th {id_order_mark2}><a href="{id_order}">{MSG_ID}</a>&nbsp;{id_order_mark}</th>
            <th {title_order_mark2} width="75%"><a href="{title_order}">{MSG_Title}</a>&nbsp;{title_order_mark}</th>
            <th {availability_order_mark2}><a href="{availability_order}">{MSG_Presence}</a>&nbsp;{availability_order_mark}</th>
            <th >Архив</th>
            <th {leader_order_mark2}><a href="{leader_order}">{MSG_Leader}</a>&nbsp;{leader_order_mark}</th>
            <th {novelty_order_mark2}><a href="{novelty_order}">{MSG_Novelty}</a>&nbsp;{novelty_order_mark}</th>
            <th {hits_order_mark2}><a href="{hits_order}">{MSG_Shows}</a>&nbsp;{hits_order_mark}</th>
            <th {rank_order_mark2} width="70"><a href="{rank_order}">{MSG_Order}</a>&nbsp;{rank_order_mark}</th>
            <th width="1">{MSG_Copy}</th>
            <th width="1">{MSG_Del}</th>
            <th width="1"><input type="checkbox" name="check_all" value="1" onclick="checkProd(this.form);"></th>
        </tr>

        <!-- START BLOCK : block_product_row -->
        <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
            <td align="center">{change_status_action}</td>
            <td align="center">{product_edit_action}</td>
            <!--<td align="center">{product_edit_rights_action}</td>-->
            <td valign="top" align="center">{product_id}</td>
            <td valign="top">{product_name}</td>
            <td valign="top" align="center">{product_availability}</td>
            <td align=center>{archive_action}</td>
            <td align=center>{leader_action}</td>
            <td align=center>{novelty_action}</td>
            <td align=center>{product_hits}</td>
            <td valign="top" align="center" nowrap class="nowrap" width="75"><a href="javascript:changeMOrder({product_id},'{product_up_link}',{is_first});"><img src="/i/admin/{img_up}" alt="{MSG_Move_up}" title="{MSG_Move_up}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a><input type="text" value="1" id="shift{product_id}" size="1" class="shift order_field"><a href="javascript:changeMOrder({product_id},'{product_down_link}',{is_last});"><img src="/i/admin/{img_dwn}" alt="{MSG_Move_down}" title="{MSG_Move_down}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a></td>
            <td align="center"><a href="{copy_link}" alt="{MSG_Copy}" title="{MSG_Copy}"><img src="/i/admin/ico_copy.gif" /></a></td>
            <td align="center">{product_del_action}</td>
            <td valign="top" align="center">
                <!-- START BLOCK : block_check -->
                <input style="height: auto; padding: 0;" onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="prods[]" value="{product_id}">
                <!-- END BLOCK : block_check --></td>
        </tr>
        <!-- END BLOCK : block_product_row -->
        <tr>
            <th colspan="13" align="left" style="height: 100px;">
                <select name="new_ctgr" id="new_ctgr">
                    <option value="0" style="font-weight: bold;">-- {MSG_Select_category_for_move} --</option>
                    <!-- START BLOCK : block_catgr_tree -->
                    <option value="{ctgr_id}">{ctgr_title}</option>
                    <!-- END BLOCK : block_catgr_tree -->
                </select>
                &nbsp;&nbsp;<button type="button" onclick="checkForm(this.form); return false;" class="btn">{MSG_Move}</button>
                <br>
                <br>
                <select name="select_action">
                    <option value="">- {MSG_Choose_action} -</option>
                    <option value="activate">{MSG_Activate}</option>
                    <option value="suspend">{MSG_Suspend}</option>
                    <option value="delete">{MSG_Delete}</option>
                </select> &nbsp;
                <button class="btn" type="button" onclick="doActionProd(this.form);">{MSG_Execute}</button>

                <br>    </th>
        </tr>
    </form>
</table>
<br>
<!-- END BLOCK : block_product_table -->

<!-- START BLOCK : block_no_search -->
<div class="attn">{MSG_Not_found}<br><br><a href="javascript:history.go(-1);">{MSG_Go_back}</a></div>
<!-- END BLOCK : block_no_search -->

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->