<script type="text/javascript">
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>
<form action="{form_action}" method="POST" name="updateForm">
<div class="edit_form">
USD/RUR <span class="required_field">*</span>:<br>
<input type="text" name="rates[USD/RUR]" value="{USD/RUR}" size="20"><br>
EUR/RUR <span class="required_field">*</span>:<br>
<input type="text" name="rates[EUR/RUR]" value="{EUR/RUR}" size="20"><br>
EUR/USD <span class="required_field">*</span>:<br>
<input type="text" name="rates[EUR/USD]" value="{EUR/USD}" size="20"><br>
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<button name="cbr_rf" value="{MSG_cbr_sync}" type="button" onClick="location.href='{cbr_sync}'"><img src="/i/admin/b_upload.gif" class="save"><span class="none">{MSG_cbr_sync}</span></button>
<br />
<br />
<BUTTON name="c" value="{MSG_Save}" type="submit" onClick="checkForm(this.form); return false;"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<!-- <BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON> -->
</form>
