{path}

{add_to_current}
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<!-- START BLOCK : block_groups -->
<script type="text/javascript">
	function changeCOrder(id, act, dontsubmit) {
		if (dontsubmit == 1) return;
		eval("form = document.all.changeCOrderForm" + id);
		form.action = act;
		if (form.action != '') form.submit();
	}
</script>

<table cellpadding="2" cellspacing="2" class="center" width="98%">
	<tr height="20">
		<th>{MSG_Ed}</th>		
		<th width="99%">{MSG_Group}</th>
		<th>{MSG_Del}</th>
	</tr>
<!-- START BLOCK : block_group -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
		<td align="center"><a href="{grp_edit_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
		<td><a href="{grp_link}">{group_name}</a></td>
		<td align=center><a href="{grp_del_link}" onclick="return confirm('{MSG_Confirm_delete_record}');"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
	</tr>
<!-- END BLOCK : block_group -->
</table>
<!-- END BLOCK : block_groups -->

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->