<!-- START BLOCK : block_property -->
<script type="text/javascript">
    $(function(){
        var arr=$(".prtOrd");
        for(i=0; i < arr.length ;i++)
        {
            if(arr[i]['value'])
            {
                a($(".prtOrd")[i]);
            }
        }
    })

    $('.prtOrd').live('change',function(){
        a(this);
    })
function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

  if (!SendItem) {
		form.submit();
	}
}

function onClickPrty(obj, id) {
	if(document.getElementById("search"+id)) {
		if(!obj.checked) document.all["search"+id].checked=false;
		if(document.getElementById("range"+id)){
			if(!obj.checked) document.all["range"+id].checked=false;
		}
        a(obj);
	}
}

function onClickSearch(obj, id) {
	if(obj.checked)
		document.all["prty"+id].checked=true;
	else if(document.getElementById("range"+id))
		document.all["range"+id].checked=false;
    a(obj);
}

function onClickRange(obj, id) {
	if(obj.checked){
		document.all["prty"+id].checked=true;
		document.all["search"+id].checked=true;
        a(obj);
	}
}
 function a(k)
 {
     var l=$(k).parents('.trOrd').find('.prtOrd');
     l.attr('name',"ord["+ l.attr('ini')+"]");
 }
</script>

<form action="{form_action}" method="POST" name="updateForm" enctype="multipart/form-data">
<INPUT TYPE="hidden" value="{group_id}" name="group_id">
<INPUT TYPE="hidden" value="2" name="step">
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
	<tr height="20">
		<th width=1>{MSG_Select}</th>
		<th width=1>{MSG_Search}</th>
		<th width=50>{MSG_Range}</th>
		<th width=50>{MSG_Order}</th>
		<th>{MSG_Property}</th>
		<th width=1>{MSG_Prefix}</th>
		<th width=1>{MSG_Suffix}</th>
	</tr>
<!-- START BLOCK : block_group -->
	<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';" class="trOrd">
		<td width=5 align=center><INPUT class="checkbox" TYPE="checkbox" value="{prt_id}" id="prty{prt_id}" name="group[]"  onClick="javascript:onClickPrty(this, '{prt_id}')" {checked}></td>
		<td width=5 align=center>
<!-- START BLOCK : block_search_checkbox -->
			<INPUT class="checkbox" TYPE="checkbox" value="{prt_id}" id="search{prt_id}" name="search[]" onClick="javascript:onClickSearch(this, '{prt_id}')"  {checked}>
<!-- END BLOCK : block_search_checkbox -->
<!-- START BLOCK : block_nbsp -->
			&nbsp;
<!-- END BLOCK : block_nbsp -->
		</td>
		<td width=5 align=center>
<!-- START BLOCK : block_range_checkbox -->
			<INPUT class="checkbox" TYPE="checkbox" value="{prt_id}" id="range{prt_id}" name="range[]"  onClick="javascript:onClickRange(this, '{prt_id}')" {checked}>
<!-- END BLOCK : block_range_checkbox -->
<!-- START BLOCK : block_range_nbsp -->
			&nbsp;
<!-- END BLOCK : block_range_nbsp -->
		</td>
		<td class="tdOrd"><input type="text" size="2" {name} value="{prt_ord}" ini={prt_id} class="prtOrd"></td>
		<td>{prt_title}</td>
		<td>{prt_prefix}&nbsp;</td>
		<td>{prt_suffix}&nbsp;</td>
	</tr>
<!-- END BLOCK : block_group -->
</table>
<BUTTON name="c" value="{MSG_Save}" onClick="checkForm(this.form);" type="button"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" onClick="cancel();" type="button"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>
<!-- END BLOCK : block_property -->