<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<link rel="stylesheet" type="text/css" href="/css/tick.css" />
<script src="/js/admin/jquery/plugins/thickbox.js" language="JavaScript" type="text/javascript"></script>
<script type="text/javascript" language="JavaScript" src="/js/reg_exp.js"></script>
<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".CheckBoxClass").change(function(){
		if($(this).is(":checked")){
			$(this).next("label").addClass("LabelSelected");
		}else{
			$(this).next("label").removeClass("LabelSelected");
		}
	});
	$(".RadioClass").change(function(){
		if($(this).is(":checked")){
			$(".RadioSelected:not(:checked)").removeClass("RadioSelected");
			$(this).next("label").addClass("RadioSelected");
		}
	});	
});
$(document).ready(function(){
	$(".hideable h3").click(function(){
		if($(this).is(".close")){
			$('.content', $(this).parent()).fadeIn('slow');
		}else{
			$('.content', $(this).parent()).fadeOut('slow');
		}
		$(this).toggleClass("close");
	});
});
</script>

<style type="text/css">
div.file-block div {
	float: left;
	margin-right: 15px;
}
#blckOrderPropList div {
	padding:3px;
	margin:2px;
	width:31%;
	float:left;
	/*border-right:1px dotted #666;
	border-bottom:1px dotted #666;*/
	height: 100px;
	overflow:auto;
}
#blckGroupPropList div {
	padding:3px;
	margin:2px;
	width:47%;
	float:left;
	/*border-right:1px dotted #666;
	border-bottom:1px dotted #666;*/
	height: 40px;
	_height: 60px;
}
</style>

{path} <br>
<br>
<div class="allbox">
    <form action="/admin.php?lang=rus&name=catalog&action=addtematikassoc" method="POST">
        <input type="hidden" name="id" value="{parent}">
        Автоматическая загрузка с ценой от:<input type="text" name="price_assoc_from" value="0"> до:<input type="text" name="price_assoc">
        <input type="submit" value="Загрузить">
    </form>
    <!-- START BLOCK : b_tree -->
    <div class="flr" style="width: 48%;"><h2 >Дерево продуктов</h2>
        <form method="post" action="/admin.php?lang=rus&name=catalog&action=addtematikcateg">
            <fieldset id="property2">
                <legend>Категории:</legend>
                <input type="hidden" name="id" value="{parent}">
                <input type="submit" value="Применить изменения">
                <!-- START BLOCK : block_tree_level -->
                <!-- START BLOCK : block_tree_level_end -->
                </ul>
                <!-- END BLOCK : block_tree_level_end -->
                <!-- START BLOCK : block_tree_level_start -->
                <ul style="list-style:none; padding-left:28px;">
                    <!-- END BLOCK : block_tree_level_start -->
                    <!-- START BLOCK : block_tree_node -->
                    <li><input type="checkbox" name="ctgr[]" value="{id}" id="ctgr{id}" class="checkb" checked><label style="vertical-align:middle;" for="ctgr{id}">- {title}</label>
                        <!-- END BLOCK : block_tree_node -->

                        <!-- END BLOCK : block_tree_level -->
            </fieldset>
        </form>

    </div>
    <!-- END BLOCK : b_tree -->
	<form action="{form_action}" method="POST" name="myForm" enctype="multipart/form-data" class="edit_form">
		<input type="hidden" name="parent" value="{parent}">
		<input type="hidden" name="id" value="{parent}">
		<input type="hidden" name="start" value="{start}">
		<input type="hidden" name="step" value="2">
		<input type="hidden" name="referer" value="{referer}">
		<input type="hidden" name="tryon" value="0">

		
		<!-- ________________property_box and-->
		<!-- ________________tie_box start -->
		<div class="hideable">
		<h3 class="close">Товары</h3>
		<div class="content">
    		<div class="flL" style="width: 48%;">
    			<h2 class="txt1"></h2>

    			<a class="add_btn2" href="{add_concernd_link}&type=1" target="_blank" onclick="openWin(this.href); return false;" ><span>Добавить товары</span></a><br clear="all">
    			<table cellpadding=2 cellspacing=2 border=0 class="hide center bri" id="tblConcernd1">
    				<thead>
    					<tr>
    						<th>{MSG_Ed}</th>
    						<th>ID</th>
    						<th>{MSG_Name}</th>
    						<th>{MSG_Rank}</th>
    						<th>{MSG_Active}</th>
    						<th>{MSG_Del}</th>
    					</tr>
    				</thead>
    				<tbody id="tbConcernd1">
    				</tbody>
    			</table>
    		</div>
    		<div class="clear lineb"></div>
		</div>
		</div>
		
        <br><span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>

		<BUTTON value="{MSG_Save}" type="button" onClick="do_save(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
        <BUTTON type="button" onClick="this.form.tryon.value=1; do_save(this.form); return false;"><img src=/i/admin/b_refresh.gif class=cancel><span>{MSG_Try_on}</span></BUTTON>
        <BUTTON value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
	</form>

<script type="text/javascript">
function setConcernd(list, type) {
    var tbl = document.getElementById('tblConcernd'+type);
    var body = document.getElementById('tbConcernd'+type);
    if (body && tbl) {
        if (list) {
            removeClass(tbl, 'hide');
        } else {
            addClass(tbl, 'hide');
        }
        while (body.childNodes.length) {
            body.removeChild(body.childNodes[0]);
        }
        var td, td, e, img;
        for (var id in list) {
            tr = document.createElement('TR');
            td = document.createElement('TD');
            e = document.createElement('A');
            e.setAttribute('href', '{baseurl}&action=editproduct&id='+id);
            img = new Image();
            img.src = '/i/admin/ico_edit.gif';
            img.title = '{MSG_Edit}';
            img.alt = '{MSG_Ed}';
            e.appendChild(img);
            td.appendChild(e);
            tr.appendChild(td);
            td = document.createElement('TD');
            td.appendChild(document.createTextNode(id));
            tr.appendChild(td);
            td = document.createElement('TD');
            td.appendChild(document.createTextNode(list[id].title));
            tr.appendChild(td);
            td = document.createElement('TD');
            e = document.createElement('INPUT');
            td.appendChild(e);
            e.setAttribute('type', 'text');
            e.setAttribute('name', 'consernd['+type+']['+id+']');
            e.setAttribute('value', list[id].rank ? parseInt(list[id].rank) : 0);
            e.setAttribute('size', 3);
            tr.appendChild(td);
            td = document.createElement('TD');
            td.appendChild(document.createTextNode(list[id].active));
            tr.appendChild(td);
            td = document.createElement('TD');
            e = document.createElement('A');
            e.setAttribute('href', '#');
            e.setAttribute('_id', id);
            e.setAttribute('_type', type);
            img = new Image();
            img.src = '/i/admin/ico_del.gif';
            img.title = '{MSG_Delete}';
            img.alt = '{MSG_Del}';
            e.appendChild(img)
            td.appendChild(e);
            e.onclick = function() {
                if ('a' == this.tagName.toLowerCase() && confirm('{MSG_Delete_from_selected}?')) {
                    var id = this.getAttribute('_id'), type = this.getAttribute('_type');
                    this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
                    delete(gConcernedList[type][id]);
                    return false;
                }
            }
            tr.appendChild(td);
            body.appendChild(tr);
        }
        gConcernedList[type] = list;
    }
}
gConcernedList = [];
gConcernedList[1] = {json_concerned1};
setConcernd(gConcernedList[1], 1);
$(function() {
    $('#property2 input:checkbox').change(function() {
        var $this = $(this);
        if ($this.attr('checked')) {
            $this.parent().find('ul input:checkbox').attr('checked', true);
        }
        else{
            $this.parent().find('ul input:checkbox').attr('checked', false);
        }
    });
    loadProp('{group_id}');
})	

var gProd = {
    propVals: '',
    ordPropVals:''
}, gIsIE  = (navigator.appName.indexOf("Microsoft")!=-1) ? 1 : 0;
function del_video(id)
{
	$(".video_"+id).remove();
	$.ajax({

				url: 'admin.php?name=catalog&action=del_video&id='+id,

	success: function() {

		alert('Видео с id:'+id+' успешно удалено');

	}

});

}
function addVideos()
{
$(".video_cont").append("Код видео с YouTube: <input style='width: 200px;' type='text' name='videos[]'/> Описание: <input type='text' name='descr_v[]'/></br>");
}
function loadProp(group_id) {
    var req = new JsHttpRequest();
    var bol = document.getElementById('blckOrderPropList'), bo = document.getElementById('blckOrderProp'),
        bgl = document.getElementById('blckGroupPropList'), bg = document.getElementById('blckGroupProp');
    addClass(bo, 'hide');
    addClass(bg, 'hide');
    bol.innerHTML = '';
    bgl.innerHTML = '';
    req.onreadystatechange = function() {
        if (req.readyState == 4) {
            hideLoading();
            if (req.responseJS) {
                    var i, k, el, blck, show_bo = false, show_bg = false;
                    for (var prop_id in req.responseJS) {
                        //alert(req.responseJS[prop_id].prt_type + ' ' + req.responseJS[prop_id].prt_name);
                        if (3 == req.responseJS[prop_id].prt_type) {
                            blck =  document.createElement("DIV");
                            bol.appendChild(blck);
                            blck.appendChild(document.createTextNode(req.responseJS[prop_id].prt_title + " (" 
                                + req.responseJS[prop_id].prt_prefix + " " + req.responseJS[prop_id].prt_suffix + ") :"));
                            blck.appendChild(document.createElement("BR"));
                            if (req.responseJS[prop_id].vals) {
                                for (i in req.responseJS[prop_id].vals) {                                    
                                    if (gIsIE) {
                                        el = document.createElement("<INPUT TYPE='checkbox'>");
                                    } else {
                                        el = document.createElement("INPUT");
                                        el.setAttribute('type', 'checkbox');
                                    }
                                    blck.appendChild(el);
                                    el.setAttribute('name', 'ord_prp_val['+i+']');
                                    el.setAttribute('id', 'chbxPropVal'+i);
                                    el.setAttribute('value', 1);
                                    el.className = 'checkb';                                    
                                    for (k in gProd.ordPropVals) {
                                        if (gProd.ordPropVals[k] == i) {
                                            el.setAttribute('checked', 'checked');
                                            el.checked = true;
                                        }
                                    }
                                    el = document.createElement("label");
                                    el.setAttribute('for', 'chbxPropVal'+i);
                                    el.appendChild(document.createTextNode(" - "+req.responseJS[prop_id].vals[i]));
                                    blck.appendChild(el);
                                    blck.appendChild(document.createElement("BR"));
                                }
                            }
                            show_bo = true;
                        } else if (4 != req.responseJS[prop_id].prt_type) {
                            blck =  document.createElement("DIV");
                            bgl.appendChild(blck);
                            blck.appendChild(document.createTextNode(req.responseJS[prop_id].prt_title+":"));
                            blck.appendChild(document.createElement("BR"));
                            blck.appendChild(document.createTextNode(req.responseJS[prop_id].prt_prefix+" "));
                            if (1 == req.responseJS[prop_id].prt_type) {
                                if (gIsIE) {
                                    el = document.createElement("<INPUT TYPE='text'>");
                                } else {
                                    el = document.createElement("INPUT");
                                    el.setAttribute('type', 'text');
                                }                               
                                blck.appendChild(el);                                
                                el.setAttribute('name', 'prp_val['+prop_id+']');
                                if (gProd.propVals[prop_id]) {
                                    el.setAttribute('value', gProd.propVals[prop_id]);
                                    el.value = gProd.propVals[prop_id];
                                } else if (req.responseJS[prop_id].vals) {
                                    for (i in req.responseJS[prop_id].vals) {
                                        el.setAttribute('value', req.responseJS[prop_id].vals[i]);
                                    }
                                }
                                el.className = 'w300';
                            } else {
                                el = document.createElement("SELECT");
                                blck.appendChild(el);
                                el.setAttribute('name', 'prp_val['+prop_id+']');                                
                                el.className = 'w300';
                                el.options[el.options.length] = new Option('-- {MSG_no_value} --', '');     
                                if (req.responseJS[prop_id].vals) {
                                    for (i in req.responseJS[prop_id].vals) {
                                        el.options[el.options.length] = new Option(req.responseJS[prop_id].vals[i], req.responseJS[prop_id].vals[i]);
                                        if (gProd.propVals[prop_id] && gProd.propVals[prop_id] == req.responseJS[prop_id].vals[i]) {
                                            el.options.selectedIndex = el.options.length - 1;
                                        }
                                    }
                                }
                            }
                            blck.appendChild(document.createTextNode(" " + req.responseJS[prop_id].prt_suffix));
                            blck.appendChild(document.createElement("BR"));
                            show_bg = true;
                        }
                    }
                    if (show_bo) {
                        removeClass(bo, 'hide');
                    }
                    if (show_bg) {
                        removeClass(bg, 'hide');
                    }
                }
            } else if (req.readyState == 1) {
                showLoading();
            }
   } 
   req.open('POST', '{baseurl}', true);
   req.send({
       action: 'groupprp',
       id: group_id
   });
}

function do_save(form) {
	var err = '';

	/*if (form.pname.value == '') {
		err = '{MSG_Enter_good_name}';
	}                    */
	if (err) {
	    alert(err);		
	} else {	    
	    var req = new JsHttpRequest();
        req.onreadystatechange = function() {
            if (req.readyState == 4) {
                hideLoading();
                if (req.responseJS) {
                    form.submit();
                } else {
                    alert('MSG_Set_other_link');
                   // form.alias.focus();
                }
            } else if (req.readyState == 1) {
                showLoading();
            }
        } 
        req.open('POST', '{baseurl}', true);
        req.send({
            action: 'isvalidprodalias',
            //alias: form.alias.value,
            id: 'addcat' == form.id.value ? 0 : form.id.value
        });
	}
}

function addtFiles()
{
    var _max_cnt = parseInt('{max_add_img_cnt}');
    var _curr_cnt = parseInt('{add_img_cnt}');
    this.tpl = document.getElementById('blckTplFile');
    this.add_label = document.getElementById('blckAddFile');
    this.add = function() {
        if (_max_cnt > 0 && _max_cnt - _curr_cnt > 0) {
            var c = this.tpl.cloneNode(true);
            if (c) {
                c.style.display = 'block';
                this.tpl.parentNode.insertBefore(c, this.tpl);
            }
            _curr_cnt++;
            if (_curr_cnt == _max_cnt) {
                this.add_label.style.display = 'none';
            } else {
                this.add_label.style.display = 'block';
            }
        }
    }
    this.del = function(el) {
        _curr_cnt--;
        el.parentNode.removeChild(el);
        if (_curr_cnt == _max_cnt) {
            this.add_label.style.display = 'none';
        } else {
            this.add_label.style.display = 'block';
        }        
    }
}
var gAdditionalFiles = new addtFiles();

function openWin(url)
{
    var _newWin = window.open(url, 'reltn', 'resizable=yes,scrollbars=yes,location=no,width=800,height=600,top='+($(window).height()/2-300)+',left='+($(window).width()/2-400));
    _newWin.focus();
}


</script>
    <script type="text/javascript">
        $(function() {

        });
    </script>
</div>