<script type="text/javascript">
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.ptypename.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Producer_name_not_filled}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>

<form action="{form_action}" method="POST" name="updateForm" enctype="multipart/form-data">
<div class="edit_form">
<input type="hidden" name="id" value="{ptype_id}">
<input type="hidden" name="step" value="2">
{MSG_Good_producer} <span class="required_field">*</span>:<br>
<input type="text" name="ptypename" value="{ptype_name}" size="40"><br>

{MSG_Link}:<br>
<input type="text" name="link" value="{link}" size="40"><br>
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>
