<style type="text/css">
body, html {
	margin:0px;
	padding: 0px;
	border: none;
	height: 100%;
}
body {
	background: #fff url(/i/admin/mainbg01.gif) repeat-y left top;
	font: 11px Tahoma, sans-serif;
	color: #88a3ae;
}
div, img, table, form, label, td, p, ul, li, ol {
	margin: 0;
	padding: 0;
	border: 0;
	font: 11px Tahoma, sans-serif;
	color: #88a3ae;
}
input, textarea, select, label, button {
	font: 11px Tahoma, sans-serif;
	color: #88a3ae;
}
div {
	z-index: 1;
}
.clB {
	clear:both;
	font-size: 0px;
	height: 0px;
	line-height: 0px;
	width: 100%;
	overflow: hidden;
}
.flL {
	float: left;
}
.flR {
	float: right;
}
img {
	border: none;
}
table td {
	text-align: left;
	vertical-align: top;
}
button {
	cursor: pointer;
}
h2 {
	color:#FFB432;
	font-size:20px;
	font-weight:normal;
	margin-bottom:12px;
}
.wrapper {
	float:left;
	width:100%;
}
.right_column {
	margin-left:267px;
	padding-right: 20px;
}
.left_column {
	float:left;
	margin-left:-100%;
	width: 210px;
	padding: 35px 0px 0px 24px;
	display: inline;
}
/*left menu*/
.menu_add_left, .menu_add_left ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.menu_add_left ul {
	margin-top: 10px;
}
.menu_add_left li, .menu_add_left li ul li {
	list-style: none;
}
.menu_add_left li span {
	margin-left: 20px;
}
.menu_add_left a {
	color: #3d6b7e;
	text-decoration: underline;
}
.menu_add_left a:hover {
	color: #3d6b7e;
	text-decoration: none;
}
.menu_add_left li {
	font: bold 14px Tahoma, sans-serif;
	margin-bottom: 20px;
}
.menu_add_left li li, .menu_add_left li li li {
	font: 11px Tahoma, sans-serif;
	color: #3d6b7e;
	font-weight: normal;
	margin-bottom: 5px !important;
	padding: 0 0 0 49px;
}
.menu_add_left li li li {
	padding: 0 0 0 10px;
}
.menu_add_left ul li.curr {
	background-color:#FFF;
	border:1px solid #D9EDF0;
	border-bottom:1px solid #B4D5DA;
	border-right:1px solid #FFF;
	padding:2px 0 4px 49px;
	position:relative;
	left:1px;
	margin-bottom:3px;
	margin-top:3px;
}
/*table*/
.center td {
	color:#88A3AE;
	padding:4px 6px 3px 16px;
	border-bottom:1px solid #7BC4CF !important;
}
.center th {
	font-size:11px;
	color:#666;
	border-bottom:10px solid #83c2ed;
	padding:2px 6px 10px 10px;
	font-weight:bold;
}
.center td img {
	vertical-align:middle;
	margin-left:3px;
}
.center td a:hover {
	color:#18454F;
}
.center th.curr {
	border-bottom:10px solid #FF9210;
}
.num_page {
	margin-bottom: 28px;
}
.newh2 {
	font: bold 14px Tahoma, sans-serif;
	color: #666;
	padding: 17px 0 5px;
}
.pname {
	color: #666;
	float: left;
	margin-right: 7px;
	display: inline;
}
.under_b {
	padding-bottom: 50px;
}
/*button*/
.iebg {
	background:url(/i/admin/bbg01.gif) 0 0 no-repeat;
	width: 178px;
	height: 25px;
	text-align: center;
	border: none;
	margin: 0px;
}
.iebg2 {
	background:url(/i/admin/bbg02.gif) 0 0 no-repeat;
	width: 92px;
	height: 25px;
	text-align: center;
	border: none;
	margin: 0px 0px 0px 5px;
}
.iebg3 {
	background:url(/i/admin/bbg03.gif) 0 0 no-repeat;
	width: 108px;
	height: 25px;
	text-align: center;
	border: none;
	margin: 0px;
}
</style>
<div class="main_column">
<div class="wrapper">
	<form action="" method="post">
		<div class="right_column">
			<div id="blckLoading">{MSG_Loading} ...</div>
			<h2>{MSG_Goods_added}</h2>
			<table class="center" width="100%" id="tblGoods">
				<thead>
					<tr>
						<th>{MSG_Select}</th>
						<th>ID</th>
						<th width="60%">{MSG_Name}</th>
						<th>{MSG_Presence}</th>
						<th>{MSG_Price}</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div id="blckPager" class="hide"></div>
			<div class="attn" id="blckGoodsMsg">{MSG_No_goods}</div>
			<h4>{MSG_Selected_goods}</h4>
			<div id="blckSelected" class="attn">{MSG_No_goods}</div>
			<br>
			<br>
			<div id="btnAdd"><a class="add_btn2" href="#" onClick="return false;"><span>{MSG_Add_selected_goods}</span></a></div>
			<div id="btnClean"><a class="add_btn2" href="#" onClick="return false;"><span>{MSG_Clean_list}</span></a></div>
			<div onClick="window.close(); window.opener.focus();"><a class="add_btn2" href="#"><span>{MSG_Close_window}</span></a></div>
			<!--<button type="button" id="btnAdd" class="iebg hide"><span>{MSG_Add_selected_goods}</span></button>
			<button type="button" id="btnClean" class="iebg3 hide">{MSG_Clean_list}</button>
			<button type="button" class="iebg2" onClick="window.close(); window.opener.focus();">{MSG_Close_window}</button>
			<div class="clB under_b"></div>-->
		</div>
	</form>
</div>
<div class="left_column">
<div class="box_menu" id="blckTree">
<div class="menu_add_left" id="blckTree">
<!-- START BLOCK : block_tree_level -->
<!-- START BLOCK : block_tree_level_end -->
</ul>
<!-- END BLOCK : block_tree_level_end -->
<!-- START BLOCK : block_tree_level_start -->
<ul level="{level}">
<!-- END BLOCK : block_tree_level_start -->
<!-- START BLOCK : block_tree_node -->
<li id="ctgr{id}" level="{level}"><a href="#" onClick="gComponent.getProdList({id}, 1);">{title}</a>
	<!-- END BLOCK : block_tree_node -->
	<!-- END BLOCK : block_tree_level -->
</div>
<!--
			<ul class="menu_add_left hide">
				<li><span><a href="#">Мобильные телефоны</a></span>
					<ul>
						<li class="curr"><a href="#">Nokia</a>
						<ul>
    						<li><a href="#">Nokia</a></li>
    						<li><a href="#">Samsung</a></li>
    						<li><a href="#">Motorola</a></li>
    					</ul>
						</li>
						<li><a href="#">Samsung</a></li>
						<li><a href="#">Motorola</a></li>
					</ul>
				</li>
				<li><span><a href="#">Фотоаппараты</a></span>
					<ul>
						<li><a href="#">Canon</a></li>
						<li><a href="#">Nikon</a></li>
					</ul>
				</li>
			</ul>
		-->
</div>
</div>
<div class="clB"></div>
</div>
<script type="text/javascript">
var gComponent = {
    type: 0,
    data: {
        ctgr_id: 0,
        patg: 1
    },
    el: {
        tree: document.getElementById('blckTree'),
        goods: document.getElementById('tblGoods'),
        goodsTpl: document.getElementById('trGoodsTpl'),
        pager: document.getElementById('blckPager'),
        goodsMsg: document.getElementById('blckGoodsMsg'),
        selected: document.getElementById('blckSelected'),
        loading: document.getElementById('blckLoading'),
        btn: document.getElementById('btnAdd'),
        btnCln: document.getElementById('btnClean')
    },
    selectedGoods : {},
    currentGoods: {},
    getProdList: function(ctgr_id, page) {
        this.data.ctgr_id = ctgr_id > 0 ? parseInt(ctgr_id) : 0;
        if (this.data.ctgr_id > 0) {
            this.data.page = page > 0 ? parseInt(page) : 1;
            var req = new JsHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    gComponent.hide(gComponent.el.loading);
                    if (req.responseJS.err) {
                        gComponent.show(gComponent.el.goodsMsg);
                    } else {
                        var tr, td, e, s = '', body = gComponent.el.goods.getElementsByTagName('TBODY')[0];
                        while (body.childNodes.length) {
                            body.removeChild(body.childNodes[0]);
                        }
                        gComponent.show(gComponent.el.goods);
                        gComponent.currentGoods = req.responseJS.list;
                        for (var i in req.responseJS.list) {
                            tr = document.createElement('TR');
                            td = document.createElement('TD');
                            e = document.createElement('INPUT');
                            e.setAttribute('type', 'checkbox');                            
                            e.setAttribute('goods_id', i);
                            e.setAttribute('id', 'chbx'+i);
                            td.appendChild(e);
                            if (gComponent.selectedGoods[i]) {
                                e.checked = true;
                                e.setAttribute('checked', 'true');
                            }
                            tr.appendChild(td);
                            td = document.createElement('TD');
                            td.appendChild(document.createTextNode(req.responseJS.list[i].id));
                            tr.appendChild(td);
                            td = document.createElement('TD');
                            e = document.createElement('LABEL');
                            e.setAttribute('for', 'chbx'+i);
                            e.htmlFor = 'chbx'+i;
                            e.setAttribute('goods_id', i);
                            e.appendChild(document.createTextNode(req.responseJS.list[i].title));
                            td.appendChild(e);
                            tr.appendChild(td);
                            td = document.createElement('TD');
                            td.appendChild(document.createTextNode(req.responseJS.list[i].availability ? req.responseJS.list[i].availability : "-"));
                            tr.appendChild(td);
                            td = document.createElement('TD');
                            td.appendChild(document.createTextNode(req.responseJS.list[i].price ? req.responseJS.list[i].price : '-'));
                            tr.appendChild(td);
                            body.appendChild(tr);                            
                        }
                        if (req.responseJS.pager) {
                                gComponent.el.pager.innerHTML = '';
                                gComponent.show(gComponent.el.pager);
                                e = document.createElement('SPAN');
                                e.appendChild(document.createTextNode('{MSG_Pages}: '));
                                gComponent.el.pager.appendChild(e);
                                for (i=1; i<=req.responseJS.pager.page_cnt; i++) {
                                    if (req.responseJS.pager.start == i) {
                                        e = document.createElement('SPAN');
                                        e.appendChild(document.createTextNode(i));
                                        gComponent.el.pager.appendChild(e);
                                    } else {
                                        e = document.createElement('A');
                                        e.setAttribute('href', '#');
                                        e.setAttribute('page', i);
                                        e.onclick = function(event) {
                                            event = event || window.event;
                                            var t = event.target || event.srcElement;
                                            gComponent.getProdList(gComponent.data.ctgr_id, t.getAttribute('page'));
                                        };
                                        e.appendChild(document.createTextNode(i));
                                        gComponent.el.pager.appendChild(e);
                                    }
                                }
                            }
                    }
                }
            }
            req.open('POST', '{baseurl}', true);
            req.send({
                action: 'getprodlist',
                start: this.data.page,
                ctgr_id: this.data.ctgr_id
            });
            this.hide(this.el.goods, this.el.goodsMsg, this.el.pager);
            this.show(this.el.loading);
            this.currentGoods = {};
        }
    },
    change: function(event) {
        event = event || window.event;
        var t = event.target || event.srcElement, tn = t.tagName.toLowerCase();
        if (/*'label' == t.tagName.toLowerCase() || */(t.type && 'checkbox' == t.type.toLowerCase())) {
            var id = t.getAttribute('goods_id');
            if (gComponent.currentGoods[id]) {
                if (!gComponent.selectedGoods[id] && t.checked) {
                    gComponent.selectedGoods[id] = gComponent.currentGoods[id];
                    gComponent.selectedGoods[id].element = t.type 
                        ? t : document.getElementById(t.getAttribute('for'));
                } else {
                    delete gComponent.selectedGoods[id];
                }
                gComponent.refreshSelected();
                /*event.stopPropagation ? event.stopPropagation() : (event.cancelBubble=true);*/
            }                
        } else if ('a' == tn || 'img' == tn) {
            var id = t.getAttribute('goods_id');
            if (gComponent.selectedGoods[id]) {
                if (gComponent.selectedGoods[id].element) {
                    gComponent.selectedGoods[id].element.checked = false;
                } 
                delete gComponent.selectedGoods[id];
                gComponent.refreshSelected();
            }            
        }
    },
    refreshSelected: function() {
        this.el.selected.innerHTML = '';
        if (this.selectedGoods) {
            var el, img, l = 0, s = '';
            for (var i in this.selectedGoods) {
                l++;
                s += i + ", ";
                this.el.selected.appendChild(document.createTextNode(" "+this.selectedGoods[i].title + " "));
                el = document.createElement('A');
                el.setAttribute('href', '#');
                el.setAttribute('title', '{MSG_Delete}');
                el.setAttribute('goods_id', i);
                el.onclick = this.change;
                img = new Image(14, 14);
                img.setAttribute('src', '/i/admin/x.gif');
                img.setAttribute('alt', '(х)');
                img.setAttribute('title', '{MSG_Delete}');
                img.setAttribute('goods_id', i);
                el.appendChild(img);
                this.el.selected.appendChild(el);
                this.el.selected.appendChild(document.createTextNode("; "));
            }
            if (l > 0) {
                this.show(this.el.btn);
                this.hide(this.el.btnCln);
            } else {
                this.hide(this.el.btn);
                this.show(this.el.btnCln);
                this.el.selected.appendChild(document.createTextNode('{MSG_No_goods}'));
            }
        }
    },
    send: function() {        
        if (gComponent.selectedGoods && window.opener) {
            window.opener.setConcernd(gComponent.selectedGoods, gComponent.type);
            window.opener.focus();
            window.close();
        }
    },
    show: function() {        
        for (var i=0; i<arguments.length; i++) {
            if ( arguments[i] && (new RegExp('\\bhide\\b').test(arguments[i].className) ) ) {
                arguments[i].className = arguments[i].className.replace(/\s*\bhide\b/g, '');
            }
        }        
    },
    hide: function() {
        for (var i=0; i<arguments.length; i++) {
            if ( arguments[i] && (!new RegExp('\\bhide\\b').test(arguments[i].className)) ) {
                arguments[i].className += ' hide';
            }
        }
    },
    init: function() {
        this.type = parseInt('{type}') || 0;
        this.show(this.el.tree, this.el.goodsMsg, this.el.selected);
        this.hide(this.el.goods, this.el.pager, this.el.loading);
        this.el.goods.onclick = this.change;
        this.el.selected.onclick = this.change;
        this.el.btn.onclick = this.send;
        this.el.btnCln.onclick = this.send;
        this.selectedGoods = {};
        if (window.opener.gConcernedList[this.type]) {
            for (var i in window.opener.gConcernedList[this.type]) {
                this.selectedGoods[i] = window.opener.gConcernedList[this.type][i];
            }
        }
        this.refreshSelected();
    }
}
gComponent.init();
</script>
