<a class="add_btn" href="{add_ptype}"><span><img src="i/admin/ico_add.gif" alt="{MSG_Add_producer}" title="{MSG_Add_producer}" width=15 height=18 border=0>&nbsp;{MSG_Add_producer}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
	<th>{MSG_Ed}</th>
	<th width="99%">{MSG_Producers}</th>
	<th>{MSG_Del}</th>
</tr>
<!-- START BLOCK : block_ptype -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align="center"><a href={ptype_edit_link}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
	<td>{ptype_name}</td>
	<td align="center"><a href={ptype_del_link}><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
</tr>
<!-- END BLOCK : block_ptype -->
</table><br>