<form action="{form_action}" method="POST" name="delForm">
	<input type="hidden" name="step" value="2">
	<input type="hidden" name="id" value="{id}">
	<input type="hidden" name="parent" value="{parent}">

	<b class="delw">{MSG_Removing_category} "<a href="{category_link}">{title}</a>" {MSG_deletes_its_goods}</b><br>
	<br>{MSG_Confirm_delete_category}<br><br>
	<BUTTON name="d" value="{MSG_Delete}" type="submit"><img src=/i/admin/b_delete.gif class=delete><span>{MSG_Delete}</span></BUTTON>
	<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>