<!-- START BLOCK : block_period -->


<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript">
function checkPeriod()
{
    var f = document.getElementById('date_from').value;
    var t = document.getElementById('date_to').value;
    var c = document.getElementById('code').value;

    window.location='{action}&time[from]=' + f + '&time[to]=' + t+ '&promo=' + c;
}
function clearPeriod()
{
    document.getElementById('date_from').value  = document.getElementById('date_to').value = document.getElementById('code').value = '';
}
</script>
<select name="code" id='code'> 
	<option value="">ВСЕ</option>
	<!-- START BLOCK : block_code-->
	<option value="{code}" {selected}>{code}</option>
	<!-- END BLOCK : block_code -->
</select>
от: 
<input name="time[from]" id="date_from" type="text" value="{date_from_val}" size="10" readonly> 
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_from" name="trigger_from" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
до:
<input name="time[to]" id="date_to" type="text" value="{date_to_val}" size="10" readonly>
&nbsp;&nbsp;&nbsp;<img src="/i/admin/b_cal.gif" id="trigger_to" name="trigger_to" alt="{MSG_Select}" class="select">&nbsp;&nbsp;&nbsp;
<button type="submit" onclick="checkPeriod();"><span>Показать</span></button>
<button type="submit" onclick="clearPeriod();"><span>Сбросить</span></button>
<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "date_from",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_from",    // ID of the button
	  mondayFirst : true
    }
  );
  Calendar.setup(
    {
      inputField  : "date_to",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_to",    // ID of the button
	  mondayFirst : true
    }
  );
</script>
<br><br>
<!-- END BLOCK : block_period -->

<table cellpadding="2" cellspacing="2" class="center" width="98%">
	<tr valign=top height="1">
	    <th><b>ФИО</b></th>
	    <th><b>№ заказа</b></th>
	    <th width=15%><b>Сумма заказа</b></th>
	    <th width=15%><b>Промокод</b></th>
	    <th width=15%><b>Скидка</b></th>
	</tr>
<!-- START BLOCK : block_sites -->
	<tr valign=top onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	    <td><a href="/admin.php?lang=rus&name=shop&action=vieworder&id={id}&start=1" target="new">{link}</a></td>
	    <td align="center"><a href="/admin.php?lang=rus&name=shop&action=vieworder&id={id}&start=1" target="new">{id}</a></td>
        <td align="center">{count_link}</td>
        <td align="center">{code}</td>
        <td align="center">{discount}</td>
	</tr>
<!-- END BLOCK : block_sites -->
	</table>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->
