<br>
<H4>Добавить файлы для группы товаров</H4>
<H4>Внимание!"Для всей категории" - это в том числе и подкатегории.</H4>
<!-- START BLOCK : messager -->
{message}
<!-- END BLOCK : messager -->

<form method="post" enctype="multipart/form-data">
<div style="margin:8px;" id="b1">
    <table>
        <tr><td>

            <select name="prod_id" onchange="loadProds(this.value, 0, this)" id="prod_id">
                <option value="0">выбрать</option>
                <!-- START BLOCK : prod -->
                <option value="{id}">{title}</option>
                <!-- END BLOCK : prod -->
            </select></td><td id="block1"></td> <td>Название:<input type="text" name="aname[]">
            Файл:<input class="w300" type="FILE" size="30" name="afile[]">
            URL:<input class="w300" type="text" size="30" name="urlfile[]"></td>
            <td><input type="submit" value="Загрузить"></td>

        </tr></table>
</div>
</form>
<!-- START BLOCK : files -->
<form name="save_order" method='post' action='' enctype="multipart/form-data">
    <input type="hidden" name="name" value="shop">
    <input type="hidden" name="action" value="updateprodfiles">
<table cellpadding="2" cellspacing="2" class="center" width="98%">
    <tr height="20">
        <th width="5%">Ред.</th>
        <th width="5%">Количество</th>
        <th width="40%">Название</th>
        <th width="40%">Имя файла</th>
        <th width="5%">Удалить</th>
    </tr>
    <!-- START BLOCK : file -->
    <tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td align="center"><img onclick="javascript:edit(this);" width="15" height="18" border="0" title="Редактировать" alt="Редактировать" src="/i/admin/ico_edit.gif"></td>
        <td align="center">{cnt}</td>
        <td class="name">{name}</td>
        <td align="center" class="filename">{filename}</td>
        <td align="center" class="delete"><img onclick="javascript:deleteFile(this)" width="15" height="18" border="0" title="Удалить" alt="Удалить" src="/i/admin/ico_del.gif"></td>

    </tr>
    <!-- END BLOCK : file -->
</table>
</form>
<!-- END BLOCK : files -->
<script type="text/javascript">
    $('.allCheck').live('click',function(){
        if(!$(this).attr('checked'))
        {
            $(this).parent('.checkDiv').find('.checkV').removeAttr('checked');
        }
        else
        {
            $(this).parent('.checkDiv').find('.checkV').attr('checked','checked');
        }

    });
    function loadProds(cat_id, type, obj){
        var td = $(obj).closest('tr').find('td').eq(1);
        td.html("загрузка...");
        $.post('/admin.php?lang=rus&name=shop&action=getprods', { 'cat' : cat_id, 'type' : 'checkbox' }, function(data) {

            $(td).hide();
            $(td).html(data.content);
            $(td).find('.checkDiv').prepend('Для всей категории<input type="checkbox" name="allCheck" class="allCheck"><br>');
            /*SlowScroll($('#comments_block'));*/
            $(td).animate({ opacity: "show" }, 600);

        }, "json");
    }

    function edit(a)
    {
        var tr=$(a).parents('tr').first();
        var name=$(tr).find('.name').text();
        var filename=$(tr).find('.filename').text();
        $(tr).find('.name').html("<textarea name='namef'>"+name+"</textarea>");
        $(tr).find('.filename').html("<input name='filename' class='file'  type='file'>");
        $(tr).find('.delete').html("<button type='submit' value='Сохранить'>Сохранить</button><button onclick='javascript:cancel(this);' type='button' value='Отменить'>Отменить</button><input type='hidden' name='oldFilename' class='oldFilename' ini='"+filename+"' value='"+filename+"'><input type='hidden' name='oldName' class='oldName' value='"+name+"'>");
    }

    function cancel(a)
    {
        var tr=$(a).parents('tr').first();
        var name=$(tr).find('.oldName').val();
        var filename=$(tr).find('.oldFilename').attr("ini");
        $(tr).find('.name').html(name);
        $(tr).find('.filename').html(filename);
        $(tr).find('.delete').html('<img onclick="javascript:deleteFile(this)" width="15" height="18" border="0" title="Удалить" alt="Удалить" src="/i/admin/ico_del.gif">');
    }

    function deleteFile(a)
    {
        if(confirm("Вы уверены, что хотите удалить этот файл?"))
        {
            var tr=$(a).parents('tr').first();
            var name=$(tr).find('.name').text();
            var filename=$(tr).find('.filename').text();

            $.post('/admin.php?lang=rus&name=shop&action=deleteprodfiles', { 'filename' : filename, 'namef' : name }, function(data) {
                $(tr).remove();
            },'enctype="text/plain"');
            $(tr).remove();
        }



    }

</script>