<script id="scr" language="JavaScript"></script>
<script>
function checkForm(form) {
	var err = '';
	if (form.title.value == "") {
	    err = '{MSG_Category_name_not_filled}';
	}
	if (err) {
	    alert(err);		
	} else {	    
	    var req = new JsHttpRequest();
        req.onreadystatechange = function() {
            if (req.readyState == 4) {
                hideLoading();
                if (req.responseJS) {
                    form.submit();
                } else {
                    alert('{MSG_Set_other_link}');
                    form.alias.focus();
                }
            } else if (req.readyState == 1) {
                showLoading();
            }
        } 
        req.open('POST', '{baseurl}', true);
        req.send({
            action: 'isvalidctgralias',
            alias: form.alias.value,
            id: 'addcat' == form.act.value ? 0 : form.id.value
        });
	}
}
</script>

<form action="{form_action}" method="POST" name="addForm" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{id}">
	<input type="hidden" name="step" value="2">
	<input type="hidden" name="rank" value="{rank}">
	<input type="hidden" name="act" value="{action}">
{path}
<div class="edit_form">
<!-- START BLOCK : block_commentable -->
<fieldset style="width: 300px; float: right;"><legend>{MSG_Comments}</legend>
<select name="commentable">
<!-- START BLOCK : block_comment_access -->
<option value="{id}" {selected}>{title}</option>
<!-- END BLOCK : block_comment_access -->
</select>
</fieldset>
<!-- END BLOCK : block_commentable -->
{MSG_Name} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="title" value="{title}" size="30"><br>
     Отображение в товаре:<br>
    <input type="text" class=w300 name="products_synonyms" value="{products_synonyms}"><br>
{MSG_Alias} : {MSG_Alias_Info}<br>
<input type="text" class=w300 name="alias" value="{alias}" size="30"><br>
На главной <input type="checkbox"  name="main" {main} value="1"><br>

{MSG_Goods_group_default}:<br>
<select name="group_id">
<option value="0">--  {MSG_Select_group}  --</option>
<!-- START BLOCK : block_group -->
<option value="{group_id}"{group_selected}>{group_name}</option>
<!-- END BLOCK : block_group -->
</select><br>
{MSG_Description}:
<textarea cols="60" rows="10" id="txt_content" name="txt_content" class="tinymce">{description}</textarea><br>

<!-- START BLOCK : block_ctg_image -->

{image_title}: {image_exists}<br>
<INPUT TYPE="FILE" class=w300 NAME="{field_name}" size="30">&nbsp;
<input type=checkbox name="del_{field_name}" id="del_{field_name}" value=1 class="checkb">&nbsp;<LABEL for="del_{field_name}">{MSG_Delete}</LABEL>
<input type=hidden name="{field_name}_name" value="{image_name}">

<!-- END BLOCK : block_ctg_image -->

<br>
<br>
{MSG_Page_description}:<br>
<textarea name="description" cols="80" rows="3">{page_description}</textarea><br>

{MSG_Keywords}:<br>
<textarea name="keywords" cols="80" rows="3">{page_keywords}</textarea><br>
Слова синонимы:<br>
<textarea name="synonyms" cols="80" rows="3">{page_synonyms}</textarea><br>
<h2>Привязка новостей</h2>
<div id="news_block">
<!-- START BLOCK : news -->
<div>
<select name="news[]">
<option value="0">убрать</option>
<!-- START BLOCK : news_item -->
<option value="{id}" {selected}>{title}</option>
<!-- END BLOCK : news_item -->
</select>
</div>
<!-- END BLOCK : news -->


</div>
<br/>
<BUTTON name="c" value="Добавить" type="button" onclick="addNews();"><img src=/i/admin/b_save.gif class=save><span>Добавить</span></BUTTON>
<br/>
<div id="news_content" style="display:none">
<div>
<select name="news[]">
<option value="0">выбрать</option>
<!-- START BLOCK : news_item_div -->
<option value="{id}" >{title}</option>
<!-- END BLOCK : news_item_div -->
</select>
</div>
</div>

<script>
function addNews(){
      $('#news_block').append($('#news_content').html());
}
</script>


<br/><br/>




<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onclick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>
