<!-- START BLOCK : block_info_box -->
<script type="text/javascript" src="/js/fat.js"></script>
<script>
Fat.fade_element("p_info", 30, 5000, "#FFD077", "#FFFBF3");
</script>
<!-- START BLOCK : block_info_download_success -->
<p id="p_info" align="center" style="padding:10px; border: 1px solid #FFD077; color: #666;"><b>{MSG_Data_download_success}</b> <a href="{file}">{file}</a></p>
<!-- END BLOCK : block_info_download_success -->
<!-- START BLOCK : block_info_upload_success -->
<p id="p_info" align="center" style="padding:10px; border: 1px solid #FFD077; color: #666;"><b>{MSG_Data_upload_success}</b></p>
<!-- END BLOCK : block_info_upload_success -->
<!-- END BLOCK : block_info_box -->


<!-- START BLOCK : block_xml -->

<!-- START BLOCK : block_upload_xml -->
<form action="{upload_xml_url}" method="post" enctype="multipart/form-data" name="uploadXMLFile" id="uploadXMLFile">
<div class="edit_form">
{MSG_Upload_XML_file}:<br>
<input type="file" name="xml_user_file" size="40" style="margin-bottom: 0;">&nbsp;<BUTTON name="c" style="vertical-align: middle;" value="Загрузить" type="submit"><img src=/i/admin/b_upload.gif class=save><span>{MSG_Upload}</span></BUTTON>
<input type="checkbox" name="clear_xml" value="1" class="checkb" id="clear_xml">
<LABEL FOR="clear_xml">{MSG_Clear_catalogue_before}</LABEL>
</div>
</form>
<!-- END BLOCK : block_upload_xml -->

<!-- START BLOCK : block_get_xml -->
<form action="{upload_xml_url}" method="post" enctype="multipart/form-data" name="uploadFile" id="uploadFile">
<div class="edit_form">
{MSG_Download_XML_file}:<br><BUTTON name="get_xml" value="{MSG_Download}" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_download.gif class=save><span>{MSG_Download}</span></BUTTON><br>
</div>
</form><br><br><br>
<!-- END BLOCK : block_get_xml -->

<!-- END BLOCK : block_xml -->

<!-- START BLOCK : block_xml_no -->
<div class="attn">
Для экспорта/импорта данных в XML установите расширение DOM XML.
</div>
<!-- END BLOCK : block_xml_no -->

<!-- START BLOCK : block_export_yml -->
<form action="{export_yml_url}" method="post" enctype="multipart/form-data" name="exportYMLFile" id="exportYMLFile">
<div class="edit_form">
{MSG_Download_YML_file}
<!-- START BLOCK : block_export_yml_file -->
(<a href="{file_yml_link}" target="_blank">{file_yml_name}</a>, {MSG_size} {file_yml_size} Кб)
<!-- END BLOCK : block_export_yml_file -->
:<br><BUTTON name="get_yml" value="{MSG_Download}" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_download.gif class=save><span>{MSG_Download}</span></BUTTON><br>
</div>
</form><br><br><br>
<!-- END BLOCK : block_export_yml -->

<!-- START BLOCK : block_export_yml1 -->
<form action="{export_yml_url}" method="post" enctype="multipart/form-data" name="exportYMLFile" id="exportYMLFile">
<div class="edit_form">
{MSG_Download_YML_file}
<!-- START BLOCK : block_export_yml1_file -->
(<a href="{file_yml_link}" target="_blank">{file_yml_name}</a>, {MSG_size} {file_yml_size} Кб)
<!-- END BLOCK : block_export_yml1_file -->
:<br><BUTTON name="get_yml" value="Выгрузить все товары" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_download.gif class=save><span>{MSG_Download}</span></BUTTON><br>
</div>
</form><br><br><br>
<!-- END BLOCK : block_export_yml1 -->

<!-- START BLOCK : block_export_yml_mobile -->
<form action="{export_yml_url}" method="post" enctype="multipart/form-data" name="exportYMLFile" id="exportYMLFile">
<div class="edit_form">
{MSG_Download_YML_file}
<!-- START BLOCK : block_export_yml_mobile_file -->
(<a href="{file_yml_link}" target="_blank">{file_yml_name}</a>, {MSG_size} {file_yml_size} Кб)
<!-- END BLOCK : block_export_yml_mobile_file -->
:<br><BUTTON name="get_yml" value="{MSG_Download}" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_download.gif class=save><span>{MSG_Download}</span></BUTTON><br>
</div>
</form><br><br><br>
<!-- END BLOCK : block_export_yml_mobile -->


<!-- START BLOCK : block_export_yml2 -->
<form action="{export_yml_url}" method="post" enctype="multipart/form-data" name="exportYMLFile" id="exportYMLFile">
<div class="edit_form">
Выгрузить содержимое каталога в VendorYML формате
<!-- START BLOCK : block_export_yml2_file -->
(<a href="{file_yml_link}" target="_blank">{file_yml_name}</a>, {MSG_size} {file_yml_size} Кб)
<!-- END BLOCK : block_export_yml2_file -->
:<br><BUTTON name="get_yml" value="Выгрузить все товары" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_download.gif class=save><span>{MSG_Download}</span></BUTTON><br>
</div>
</form><br><br><br>
<!-- END BLOCK : block_export_yml2 -->

<!-- START BLOCK : block_upload_csv -->
<form action="{upload_csv_url}" method="post" enctype="multipart/form-data" name="uploadFile" id="uploadFile">
<div class="edit_form">
{MSG_Upload_CSV_file}:<br>
    <input type="file" name="csv_user_file" size="40" style="margin-bottom: 0;">
	&nbsp;<BUTTON name="c" value="{MSG_Upload}" type="submit" style="vertical-align: middle;"><img src=/i/admin/b_upload.gif class=save><span>{MSG_Upload}</span></BUTTON>
<input type="checkbox" name="clear" value="1" class="checkb" id="clear"> <LABEL FOR="clear">{MSG_Clear_catalogue_before}</LABEL>
</div>
</form>

<!-- END BLOCK : block_upload_csv -->

<!-- START BLOCK : block_get_csv -->
<form action="{upload_csv_url}" method="post" enctype="multipart/form-data" name="uploadFile" id="uploadFile">
<div class="edit_form">
{MSG_Download_CSV_file}:<br><BUTTON name="get_csv" value="{MSG_Download}" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_download.gif class=save><span>{MSG_Download}</span></BUTTON><br>
</div>
</form><br>
<!-- END BLOCK : block_get_csv -->
<!-- START BLOCK : block_upload_csv_weight -->
<form action="{upload_csv_url}" method="post" enctype="multipart/form-data" name="uploadFile" id="uploadFile">
    <div class="edit_form">
        Загрузить CSV файл с обновлением весов товаров:<br>
        <input type="file" name="csv_user_file" size="40" style="margin-bottom: 0;">
        &nbsp;<BUTTON name="c" value="{MSG_Upload}" type="submit" style="vertical-align: middle;"><img src=/i/admin/b_upload.gif class=save><span>{MSG_Upload}</span></BUTTON>
    </div>
</form>
<!-- START BLOCK : block_import_dimensions -->
        <br>
<form action="{url}" method="post" enctype="multipart/form-data" name="exportYMLFile" id="exportYMLFile">
    <div class="edit_form">

        Обновить значения габаритов товаров
        :<br>
        <input type="file" name="file" size="40" style="margin-bottom: 0;"><BUTTON name="get_yml" value="Обновить" type="submit" style="margin-top: 4px;"><img src=/i/admin/b_upload.gif class=save><span>Обновить</span></BUTTON><br>
    </div>
</form><br><br><br>
<!-- END BLOCK : block_import_dimensions -->
<!-- END BLOCK : block_upload_csv_weight -->
<!-- START BLOCK : block_format_csv -->
<div class=attn>
	{MSG_Category_before_goods}<br>
	{MSG_Separator_is} "{catalog_csv_separator}".<br>

	<!-- START BLOCK : block_format_upload_csv -->
	<br>{type_of_table}, {MSG_fields_order_in_CSV}:<br> - {line_marker}, <br>{descr_fields}
	<!-- END BLOCK : block_format_upload_csv -->
	</div>
<!-- END BLOCK : block_format_csv -->
