<div class="edit_form">
<h1>Добавление контента</h1>
<form action="{action}" method="post">
    <p class="form-editor-header">

    <label for="catt">Выберите тип:</label></p>
    <select id="catt"  name="type">
    <option disabled selected>Выберите тип</option>
    <option value="0">Описание</option>
    <option value="1">Видео рецепт</option>
</select>


    <p class="form-editor-header">

    <label for="title">Название:</label></p> <input id="title" type="text" name="title"/>
    <br/>
    <br/>
    <a id="txt_content_image" class="mceButton mceButtonEnabled mce_image" title="Добавить/Изменить изображение" aria-labelledby="txt_content_image_voice" onclick="return false;" onmousedown="return false;" href="javascript:;" role="button" tabindex="-1" rollapp-href="javascript:;">
        <span class="mceIcon mce_image"></span>
        <span id="txt_content_image_voice" class="mceVoiceLabel mceIconOnly" style="display: none;">Добавить/Изменить изображение(выбрав в редакторе)</span>
    </a>
    <a id="txt_content_media" class="mceButton mceButtonEnabled mce_media" title="Добавить/Изменить клип" aria-labelledby="txt_content_media_voice" onclick="return false;" onmousedown="return false;" href="javascript:;" role="button" tabindex="-1" rollapp-href="javascript:;">
        <span class="mceIcon mce_media"></span>
        <span id="txt_content_media_voice" class="mceVoiceLabel mceIconOnly" style="display: none;">Добавить/Изменить клип(выбрав в редакторе)</span>
    </a>
    <br/>
    <br/>
<p class="form-editor-header">
    <label for="value">Значение:</label>
    <textarea id="txt_content" class="tinymce" name="value" rows="10" cols="60"></textarea>
</p>

<div class="categories" style="display: none">
    <p class="form-editor-header">
        <label for="link">Ссылка на рецепт(укажите ссылку если необходимо):</label>
    </p>
    <input name="link" type="text" value="{link}"/>
    <br/>
    <br/>
</div>
    <button type="submit"><img src="/i/admin/b_save.gif" class="save"><span>Сохранить</span></button>



</form>
</div>

<script type="text/javascript">
        $('#catt').change(function(){
            if(this.value==0){
                $('.categories').show();
                $('#txt_content_image_voice').show();
                $('#txt_content_media_voice').hide();
            }
            else
            {
                $('#txt_content_image_voice').hide();
                $('#txt_content_media_voice').show();
                $('.categories').hide();
            }
        })

</script>


