<!-- START BLOCK : cat_tov -->
<h1>Контент страницы cheeze</h1>
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
    <tr>
        <th width="5%">Публ.</th>
        <th width="5%">Ред.</th>
        <th>Заголовок</th>
        <th width="25%">Тип</th>
        <th width="5%">Удалить</th>
    </tr>
    <!-- START BLOCK : cheeze_cat -->
    <tr>
        <td width="5%"><a href="admin.php?lang=rus&amp;name=cheeze&amp;action=publ&amp;id={id}"><img src="/i/admin/{ico}.gif" alt="Отключить публикацию" title="Отключить публикацию" width="15" height="18" border="0"></a></td>
        <td width="5%"><a href="admin.php?lang=rus&amp;name=cheeze&amp;action=editdescr&amp;id={id}"><img width="15" height="18" border="0" title="Редактировать" alt="Редактировать" src="/i/admin/ico_edit.gif"></a></td>
        <td>{title}</td>
        <td  width="25%">{type}</td>
        <td width="5%"><a href="javascript:if(confirm('Вы действительно хотите удалить эту запись?')){location.href='admin.php?lang=rus&name=cheeze&action=deldescr&id={id}';}"><img src="/i/admin/ico_del.gif" alt="Удалить" title="Удалить" width="15" height="18" border="0"></a></td>
    </tr>
    <!-- END BLOCK : cheeze_cat -->
</table>

<!-- START BLOCK : cat_tov -->





