<div class="edit_form">
    <h1>Редактирование {type}</h1>
    <form action="{action}" method="post">
        <input type="hidden" name="id" value="{id}"/>
        <p class="form-editor-header">
            <label for="title">Заголовок:</label>
        </p>
        <input name="title" type="text" value="{title}"/>
        <br/>
        <br/>
        <!-- START BLOCK : block_image -->
        <a id="txt_content_image" class="mceButton mceButtonEnabled mce_image" title="Добавить/Изменить изображение" aria-labelledby="txt_content_image_voice" onclick="return false;" onmousedown="return false;" href="javascript:;" role="button" tabindex="-1" rollapp-href="javascript:;">
            <span class="mceIcon mce_image"></span>
            <span id="txt_content_image_voice" class="mceVoiceLabel mceIconOnly">Добавить/Изменить изображение(выбрав в редакторе)</span>
        </a>
        <!-- END BLOCK : block_image -->
        <!-- START BLOCK : block_video -->
        <a id="txt_content_media" class="mceButton mceButtonEnabled mce_media" title="Добавить/Изменить клип" aria-labelledby="txt_content_media_voice" onclick="return false;" onmousedown="return false;" href="javascript:;" role="button" tabindex="-1" rollapp-href="javascript:;">
            <span class="mceIcon mce_media"></span>
            <span id="txt_content_media_voice" class="mceVoiceLabel mceIconOnly">Добавить/Изменить клип(выбрав в редакторе)</span>
        </a>
        <!-- END BLOCK : block_video -->
        <br/>
        <br/>
        <p class="form-editor-header">
            <label for="value">Значение:</label>
        </p>
        <textarea id="txt_content" class="tinymce" name="value" rows="10" cols="60">{value}</textarea>
        <br/>
        <br/>
        <!-- START BLOCK : block_file -->
        <p class="form-editor-header">
            <label for="link">Ссылка на рецепт(укажите ссылку если необходимо):</label>
        </p>
        <input name="link" type="text" value="{link}"/>
        <br/>
        <br/>
        <!-- END BLOCK : block_file -->
        <button type="submit"><img src="/i/admin/b_save.gif" class="save"><span>Сохранить</span></button>
    </form>
</div>