<div id="line-2px"><img src="/i/0.gif" width="1" height="2"></div>
<div id="line-1px"><img src="/i/0.gif" width="1" height="1"></div>

<br>
{field_3}
<br>

<table cellpadding="0" cellspacing="0" width="100%">
<tr align="center">
<td rowspan="2" id="phone">Тел. <span>8 (495) 585-06-59</span><br><img src="/i/0.gif" width="195" height="1"></td>
	<td width="56%" height="45" bgcolor="#e2e2e2">Москва, ул. Рабочая, д. 33, e-mail: <a href="mailto:{contact_email}">{contact_email}</a></td>
	<td rowspan="2" bgcolor="#32a0e6" width="22%"><div id="dev"><a href="http://www.abocms.ru"><img src="/i/abocms.gif" width="21" height="21" align="absmiddle" alt="ABO.CMS">Система управления ABO.CMS</a><br><a href="http://www.armexdesign.ru"><img src="/i/armex.gif" width="20" height="19" align="absmiddle" alt="ARMEX Design">Разработка сайта ARMEX Design</a>
	</div>
	    <script type="text/javascript" language="JavaScript">
        <!--
            h=escape(document.referrer);
            i=screen.width+'x'+screen.height;
        	
        -->
		</script>
	</td>
</tr>
<tr>
	<td height="25" align="center">Armex &copy; Copyright. 2006</td>
</tr>
</table>