	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{page_title}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">	
	<meta name="description" content="{page_description}">
	<meta name="keywords" content="{page_keywords}">
	{page_meta}
	<script type="text/javascript" language="JavaScript" src="/js/jquery.js"></script>
	<script type="text/javascript" language="JavaScript" src="/js/JsHttpRequest.js"></script>
	<script type="text/javascript" language="JavaScript" src="/js/common.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/screen.css">