	<!-- распечатать - переслать -->
	<table cellpadding=0 cellspacing=0 width=189 bgcolor=#274B80 border=0>
	<tr>
	<td><img src="/i/1.gif" width="11" height="1" border="0"></td>
	<td><a href="{print_link}"><img src="/i/print.gif" alt="печать" width="16" height="14" hspace=13 vspace=2 border="0"></a></td>
	<td><a href="{print_link}">Распечатать</a></td>
	</tr>
	
	<tr>
	<td><img src="/i/1.gif" width="11" height="1" border="0"></td>
	<td><a href="{send_link}"><img src="/i/letter.gif" alt="Переслать страницу" width="16" height="14" hspace=13 vspace=2 border="0"></a></td>
	<td><a href="{send_link}">Переслать страницу</a></td>
	</tr>
	</table><br>
	<!-- /распечатать - переслать -->