<!-- START BLOCK : block_block_vieworder_false -->
Вывод истории заказов только для авторизованного пользователя. Пожалуйста, введите свой логин и пароль в формочку слева, либо зарегистрируйтесь на сайте.
<!-- END BLOCK : block_block_vieworder_false -->

<!-- START BLOCK : block_shop_false_id -->
"В вашей истории заказов нет заказа с номером {request_id}"
<!-- END BLOCK : block_shop_false_id -->

<!-- START BLOCK : block_result_message -->
	<div>{result_message}</div>
	<br>
	<div><a href="javascript:history.go(-1);">Вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_result_message -->