.jcarousel-skin-tango .jcarousel-container {
/*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;
*/
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 278px;
    padding: 11px 23px;
}
.fix_supra_sliders .jcarousel-skin-tango .jcarousel-container-horizontal {

    padding: 11px 25px;
}



.jcarousel-skin-tango2 .jcarousel-container-horizontal2 {
    width: 100px;
    padding: 11px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
	/*
    height: 245px;
	*/
    padding: 40px 20px;
	
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
/*
    width:  245px;
    height: 75px;
*/
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
	width: 188px;
	height: 367px;
	border: 0px solid black;
	margin-left: -14px;
}

.jcarousel-skin-tango .jcarousel-item {
/*
    width: 75px;
    height: 75px;
*/
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
	background: none;
	padding-left: 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
	background: none;
	padding-left: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 39px;
    right: 0;
    width: 18px;
    height: 30px;
    cursor: pointer;
    background: url(/i/arrowsblack.png) 23px 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
/*
    background-position: -32px 0;
*/
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
/*
    background-position: -64px 0;
*/
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
/*
    cursor: default;
    background-position: -96px 0;
*/	
	background-position: -37px -30px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 39px;
    left: 0px;
    width: 18px;
    height: 30px;
    cursor: pointer;
	background: url(/i/arrowsblack.png) -4px 0;  
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background: url(/i/rightarrow.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
/*
    background-position: -32px 0;
*/
}

/*
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {

    background-position: -64px 0;	
}
*/

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
/*
*/
    cursor: default;
    background-position: -4px -30px;
	
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: -10px;
    margin-left: 144px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/i/arrows.png) 31px 0;
	
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
/*
    background-position: 0 -32px;
*/
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
/*
    background-position: 0 -64px;
*/
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: -30px -30px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    margin-left: 144px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/i/arrows.png) 0 0;
	/*
	display: none !important;
	visibility: hidden;
	*/
	
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
/*
    background-position: 0 -32px;
*/
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
/*
    background-position: 0 -64px;
*/
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -30px;
}


.first-and-second-carousel img{
	width: 130px;
	height: 81px;
	border: 2px solid transparent;
}

.first-and-second-carousel img:hover, .first-and-second-carousel img.active{
		border: 2px solid #d71921;
}




.jcarousel-skin-tango2 .jcarousel-container {
    /*
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
       border-radius: 10px;
        background: #F0F6F9;
        border: 1px solid #346F97;
    */
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-tango2 .jcarousel-container-horizontal {
    width: 145px;
    padding: 11px 22px;
}
.fix_supra_sliders .jcarousel-skin-tango2 .jcarousel-container-horizontal{
	 width: 278px;
}




.jcarousel-skin-tango22 .jcarousel-container-horizontal2 {
    width: 100px;
    padding: 11px 40px;
}

.jcarousel-skin-tango2 .jcarousel-container-vertical {
    width: 75px;
    /*
    height: 245px;
    */
    padding: 40px 20px;

}

.jcarousel-skin-tango2 .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango2 .jcarousel-clip-horizontal {
	
    /*
        width:  245px;
        height: 75px;
    */
}

.jcarousel-skin-tango2 .jcarousel-clip-vertical {
    width: 188px;
    height: 367px;
    border: 0px solid black;
    margin-left: -14px;
}

.jcarousel-skin-tango2 .jcarousel-item {
    /*
        width: 75px;
        height: 75px;
    */
}

.jcarousel-skin-tango2 .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
    background: none;
    padding-left: 0px;
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango2 .jcarousel-item-vertical {
    margin-bottom: 10px;
    background: none;
    padding-left: 0px;
}

.jcarousel-skin-tango2 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango2 .jcarousel-next-horizontal {
    position: absolute;
    top: 39px;
    right: 9px;
    width: 18px;
    height: 30px;
    cursor: pointer;
    background: url(/i/arrowsblack.png) 23px 0;
}
.fix_supra_sliders .jcarousel-skin-tango2 .jcarousel-next-horizontal{
	right: 0;
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-next-horizontal:focus {
    /*
        background-position: -32px 0;
    */
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:active {
    /*
        background-position: -64px 0;
    */
}

.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:active {
    /*
        cursor: default;
        background-position: -96px 0;
    */
    background-position: -36px -30px;
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal {
    position: absolute;
    top: 39px;
    left: 0px;
    width: 18px;
    height: 30px;
    cursor: pointer;
    background: url(/i/arrowsblack.png) -4px 0;
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background: url(/i/rightarrow.png);
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-prev-horizontal:focus {
    /*
        background-position: -32px 0;
    */
}

/*
.jcarousel-skin-tango2 .jcarousel-prev-horizontal:active {

    background-position: -64px 0;
}
*/

.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:active {
    /*
    */
    cursor: default;
    background-position: -4px -30px;

}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango2 .jcarousel-next-vertical {
    position: absolute;
    bottom: -10px;
    margin-left: 144px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/i/arrows.png) 31px 0;

}

.jcarousel-skin-tango2 .jcarousel-next-vertical:hover,
.jcarousel-skin-tango2 .jcarousel-next-vertical:focus {
    /*
        background-position: 0 -32px;
    */
}

.jcarousel-skin-tango2 .jcarousel-next-vertical:active {
    /*
        background-position: 0 -64px;
    */
}

.jcarousel-skin-tango2 .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango2 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango2 .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango2 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: -30px -30px;
}

.jcarousel-skin-tango2 .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    margin-left: 144px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/i/arrows.png) 0 0;
    /*
    display: none !important;
    visibility: hidden;
    */

}

.jcarousel-skin-tango2 .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango2 .jcarousel-prev-vertical:focus {
    /*
        background-position: 0 -32px;
    */
}

.jcarousel-skin-tango2 .jcarousel-prev-vertical:active {
    /*
        background-position: 0 -64px;
    */
}

.jcarousel-skin-tango2 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -30px;
}


.first-and-second-carousel img{
    width: 129px;
    height: 81px;
    border: 2px solid transparent;
}

.first-and-second-carousel img:hover, .first-and-second-carousel img.active{
    border: 2px solid #d71921;
}




















