<script type="text/javascript">
var links = new Array (); // массив линков уже существующих страниц 
var pages_tpl_ids = new Array(); // массив соответствия id страницы (индекс массива) и id шаблона (значение)
var sTpl; // выбранный шаблон

<!-- START BLOCK : lock_pages_links -->
//	links[links.length]='{page_link}';
<!-- END BLOCK : lock_pages_links -->


function selectTpl(form, tpl_id, type) {
	var checked = 0;
  var tpls = form.tpl_id;
	
	// убрать фон с текущего
	oldElm = document.getElementById("tpl" + sTpl);
	if (oldElm != null && oldElm != '') {
		oldElm.style.backgroundColor = "";
	}

	// если tpl_id не определено, то убрать выбранный текущий
	if (!tpl_id && tpl_id != 0) {
		sTpl = '';
	  for (var i = 0; i < tpls.length; i++) {
	    var tpl = tpls[i];
			tpl.checked = 0;
	  }
		return;
	}
	
	// задать фон новому выбранному шаблону
	newElm = document.getElementById("tpl" + tpl_id);
	if (newElm != null && newElm != '') {
		newElm.style.backgroundColor = "#BBE7EE";
		sTpl = tpl_id;
	}
	
	// выделить чекбокс 
  for (var i = 0; i < tpls.length; i++) {
    var tpl = tpls[i];
    if (tpl.value == tpl_id) {
			tpl.checked = 1;
    }
  }
	
	if (type == 'radio') {
		form.id.value = '0';
	}
	
	return;
}


function checkTpl(form) {
	var checked = 0;
  var tpls = form.tpl_id;
	if (tpls.length) {
	  for (var i = 0; i < tpls.length; i++) {
	    var tpl = tpls[i];
	    if (tpl.checked) {
				checked = 1;
	    }
	  }
	} else {
		if (form.tpl_id.checked) checked = 1;
	}
	return checked;
}


function checkForm(form) {
	var SendItem= 0;
	var AlertMessage;
	var rdbutton = checkTpl(form);
	
	if (form.title.value == '') {
		SendItem= 1; 
		AlertMessage = '{MSG_Enter_page_name}';
	} else if (form.link.value == '') {
		SendItem= 1; 
		AlertMessage = '{MSG_Enter_link}';
	} else if (rdbutton == 0 && form.id.value == 0) {
		SendItem= 1; 
		AlertMessage = '{MSG_Enter_page_type}';
	}

	for (var i = 0; i < links.length; i++) {
		if (form.link.value == links[i]) {
			SendItem= 1; 
			AlertMessage = '{MSG_Such_link_already_exists}'; 
			break;
		}
	}
	
	if (form.link.value == 'admin') {SendItem= 1; AlertMessage = '{MSG_Reserved_link}'; }
	
	// проверка на допустимость символов 
	var re = new RegExp("[a-z0-9_\-]*([^a-z0-9_\-]*)[a-z0-9_\-]*","g");
	var arr = re.exec(form.link.value);
	if (RegExp.$1 == ' ') {
		SendItem= 1; AlertMessage = '{MSG_spaces_in_link}';
	} else if (RegExp.$1 != '') {
		SendItem= 1; AlertMessage = '{MSG_disallowed_symbol} ' + RegExp.$1;
	}

	if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
	}
}


function viewBlock() {
	if (navigator.appName != "Netscape") {
		var Block = document.all("tplBlock");
		Block.style.display == "none" ? Block.style.display = "block" : Block.style.display = "none";
	}
}
</script>

<form name="addForm" action="{form_action}" method="post">
<input type="hidden" name="ret" value="{MSG_ret}">
<div class="edit_form add_page">
<b>{MSG_Page_name} <span class="required_field">*</span>:</b><br>
<input type="text" name="title" size="40">
<div class=attn>{MSG_Info_page_name}</div>

<b>{MSG_Link}  <span class="required_field">*</span>:</b><br>
<input type="text" name="link" size="40">
<div class=attn>{MSG_Info_allowed_symbols}</div>

<b>{MSG_Copy_page_type}:</b><br>
<select name="id" style="width: 500px;" onChange="javascript:selectTpl(this.form, pages_tpl_ids[this.form.id.value], 'select')";>
<option value="0">--  {MSG_Select_page}  --</option>
<!-- START BLOCK : block_pages_links -->
<option value="{page_id}"{selected}>{page_title}{page_is_default}: {MSG_Template} №{page_tpl_id}</option>
<script>
links[links.length]='{page_link}';
pages_tpl_ids[{page_id}] = {page_tpl_id};
</script>
<!-- END BLOCK : block_pages_links -->
</select>
<div class=attn>{MSG_Info_page_type}</div>


<b>{MSG_Select_template}:</b><br>

<table width="70%" class="tpl_images" border="0" cellspacing="2" cellpadding="2" style="border-collapse: collapse; border: 1px solid #f0f0f0;">
<!-- START BLOCK : block_select_template -->
{tr_begin}
<td width="300" id="tpl{tpl_id}" valign=top>
<label for="{tpl_id}"><img src="{image_url}" border="0" alt="{tpl_name}" onClick="selectTpl(forms.addForm, {tpl_id}, 'radio')"></label><br>
<input type="radio" name="tpl_id" value="{tpl_id}" id="{tpl_id}" onClick="selectTpl(this.form, {tpl_id}, 'radio')" class="checkb">
&nbsp;<LABEL for="{tpl_id}">{MSG_Template} №{tpl_id}: {tpl_name}</LABEL><br>
</td>
{tr_end}
<!-- END BLOCK : block_select_template -->
</table>
<div class=attn>{MSG_Info_templates}</div>

<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
<BUTTON name="c" value=" {MSG_More}" type="submit" onClick="checkForm(this.form); return false;"><span>{MSG_More}</span><img src=/i/admin/b_movr_arr.gif class=arrow></BUTTON>


</form>