
<table class="modul edit_form" width="100%" cellspacing="1" cellpadding="3" border="0">
<tr>
<td valign="top">
<form action="{baseurl}&action={action}" method="post" id="frmDo">
<input type="hidden" name="pages" value="" id="hdnPages">
<input type="hidden" name="tryon" value="" id="hdnTryon">
<table class="block-properties">
<tr>
<th><label class="required">Выберите поле:</label></th>
<td><select id="selFindField" name="field" class="required">
<option value="">- выбрать -</option>
<!-- START BLOCK : field_list_item -->
<option value="{key}" {selected}>{title} - {key}</option>
<!-- END BLOCK : field_list_item -->
</select>
</td>
</tr>
</table>
<h2>Выбранные страницы:</h2>
<div style="margin-top: 5" id="gray" class="border">
<!-- START BLOCK : page_list_item -->
<div>
<div title="{title}" id="field_{id}" data-id="{id}" class="head"><span id="grl">{id}</span><span> - {title}</span></div>
<div class="blcks" style="display: none;">
<table>
<tbody class="blcksList"></tbody>
</table>
</div>
</div>
<!-- END BLOCK : page_list_item -->
</div>

<br>
<button type="submit" class="save" style="display: none;">Выполнить</button>
<button type="submit" class="refresh" style="display: none;">Применить</button>
<button type="button" class="cancel" onclick="document.location.href='{baseurl}';">Отменить</button>

</form>
</td>
<td valign="top" class="dotted_border" width="250">
<div class="descr">
Шаблон страниц:<br>
<span class="pname">{tpl_name} &mdash; _index{tpl_id}.html</span><br><br>
<img src="/{tpl_path}"><br>
</div>
</td>
</tr>
</table>

<table id="tplBlock" style="display: none;">
<tr>
<td><span id="grl"></span></td>
<td width="98%" class="title"></td>
<td align="right"><img alt="Вверх" src="/i/admin/ico_listup.gif" data-act="up" class="up"><img alt="Вниз" src="/i/admin/ico_listdw.gif" data-act="down" class="down"><img alt="Свойства" src="/i/admin/ico_edit.gif"  data-act="edit"><img alt="Удалить" src="/i/admin/ico_del.gif" data-act="del"></td>
</tr>
</table>

<div id="properties_div" style="width: 500px; height: 370px; position: absolute; left: 50%; top: 50%; margin: -185px 0 0 -250px; background-color: #FFF; border: solid #666666 1px; display: none;">12</div>

<script src="/js/admin/page_prop.js" type="text/javascript"></script>
<script src="/js/admin/json.js" type="text/javascript"></script>
<script type="text/javascript">
var	block_prop = [], prop = [], tpl = [], field = 0, gPagesField = {}, mod = [];
var gMsg = {
	Click_to_select_module: '{MSG_Click_to_select_module}',
	Click_to_select: '{MSG_Click_to_select}',
	field: '{MSG_field}',
	Confirm_delete_this_block: '{MSG_Confirm_delete_this_block}',
	Alert_main_block_single: '{MSG_Alert_main_block_single}',
	Alert_main_block_module: '{MSG_Alert_main_block_module}',
	Delete: '{MSG_Delete}',
	Properties: '{MSG_Properties}',
	Up: '{MSG_Up}',
	Down: '{MSG_Down}',
	MSG_place: '{MSG_place}',
	id: '{MSG_id}',
	module: '{MSG_module}'
};
$(function() {
	
	function showPageBlocks(page_id)
	{
		hidePageBlocks(page_id);
		if (gPagesField[page_id]) {
			var el, j = 0, $p = $('#field_'+page_id).parent();
			for (var i in gPagesField[page_id]) {
				j++;
				el = $('#tplBlock tr').first().clone().appendTo($('#field_'+page_id).parent().find('.blcksList'));
				el.find('.title').html(gPagesField[page_id][i].mod_title);
				el.data({page_id: page_id, block_id: i});
			}
			$p.find('img.up').first().hide();
			$p.find('img.down').last().hide()
			$p.find('.blcks').fadeIn();
		}		
	}
	
	function hidePagesBlocks()
	{
		$('#gray').find('.blcksList').html('');
		$('#gray').find('.blcks').hide();
	}
	
	function hidePageBlocks(page_id)
	{
		$('#field_'+page_id).parent().find('.blcksList').html('');
		$('#field_'+page_id).parent().find('.blcks').hide();
	}
	
	$('#selFindField').change(function() {
		var field = $(this).val();
		if ('' == field) {
			hidePagesBlocks();
			$('button.save, button.refresh').hide();
		} else {
			var req = new JsHttpRequest();
			req.onreadystatechange = function() {
				if (req.readyState == 4) {
					hidePagesBlocks();
					gPagesField = req.responseJS;
					for (var i in gPagesField) {
						showPageBlocks(i);
					}
					hideLoading();
				}
			};
			req.open("GET", '{baseurl}', true);
			req.send({
				ids: '{page_ids}',
				action: 'pages_field',
				field: field
			});
			showLoading();
			$('button.save, button.refresh').show();
		}
	});
	
	$('#gray').click(function(event) {
		var target = event.target; 
		if ('IMG' == target.tagName) {
			var parnt = $(target).parents('tr').first(),
				blck_id = parnt.data('block_id');
			page_id = parnt.data('page_id');
			block_id = blck_id;
			switch($(target).attr('data-act')) {
				case 'up':
					var blocks = {}, prev_id, prev;
					for (var i in gPagesField[page_id]) {
						if (prev_id) {
							if (i == blck_id) {
								blocks[i] = gPagesField[page_id][i];
								blocks[prev_id] = prev;								
							} else {
								blocks[prev_id] = prev;
							}
						}						
						prev_id = i;						
						prev = gPagesField[page_id][i];
					}
					if (prev_id) {
						blocks[prev_id] = prev;
						gPagesField[page_id] = blocks;	
					}					
					showPageBlocks(page_id);
					break;
				case 'down':
					var blocks ={}, next_id, next;
					for (var i in gPagesField[page_id]) {
						if (next_id) {
							blocks[i] = gPagesField[page_id][i];
							blocks[next_id] = next;
							next_id = 0;
						} else {
							if (i == blck_id) {								
								next_id = i;						
								next = gPagesField[page_id][i];
							} else {
								blocks[i] = gPagesField[page_id][i];
							}
						}
					}
					gPagesField[page_id] = blocks;	
					showPageBlocks(page_id);
					break;
				case 'edit':
					/*
					$('#properties_div').html("<div align=center><h6>Loading...</h6></div>").fadeIn();
					$("#properties_div").load('/admin.php?name=' + gPagesField[page_id][blck_id].mod_name + '&action=properties&field=' + $('#selFindField').val() + '&lang={lang}&block_id=' + blck_id);
					*/
					name = gPagesField[page_id][blck_id].mod_name;
					field = $('#selFindField').val();
					field_id = field;
					var url = '/admin.php?name=' + gPagesField[page_id][blck_id].mod_name + '&action=properties&field=' + $('#selFindField').val() + '&lang={lang}&block_id=' + blck_id;
					block_prop = [
						gPagesField[page_id][blck_id].action,
						gPagesField[page_id][blck_id].property1,
						gPagesField[page_id][blck_id].property2,
						gPagesField[page_id][blck_id].property3,
						gPagesField[page_id][blck_id].property4,
						gPagesField[page_id][blck_id].property5,
						gPagesField[page_id][blck_id].mod_name,
						gPagesField[page_id][blck_id].site_id,
						gPagesField[page_id][blck_id].lang_id
					];
					if (! tpl[field_id]) {
						tpl[field_id] = [];
					}
					tpl[field_id][block_id] = gPagesField[page_id][blck_id].tpl;
					showPropertiesDiv(url, field_id, block_id, block_prop);
					break;
				case 'del':
					if (confirm('Удалить блок?')) {
						if (gPagesField[page_id][blck_id]) {
							delete gPagesField[page_id][blck_id];
							showPageBlocks(page_id);
						}
					}
					break;
			}
		}		
	});
	
	$('button.refresh').click(function() {
		$('#hdnTryon').val(1);
	});
	
	$('#frmDo').submit(function() {
		$('#hdnPages').val(JSON.stringify(gPagesField));
		return true;
	});
});
</script>
