<a class="add_btn" href="{page_add_url}&ret=str"><span><img src="/i/admin/ico_addcat.gif" alt="{MSG_Add_page}" title="{MSG_Add_page}" width=17 height=18 border=0>&nbsp;{MSG_Add_page}</span></a><br style="clear:all"><br >
<div class=attn>{MSG_Info_page_structure}<br></div><br>

<link rel="stylesheet" type="text/css" href="/css/sitemap.css">
<script type="text/javascript" src="/js/drag.js"></script>

<table id="pages-box" cellspacing="0" cellpadding="0">
<tr>
	<td class="pages{locked}" id="site-tree" onmouseup="dropToLinked()" rowspan="2">
<h6 onmouseup="tryToDrop()" class="main-page"><a href="{default_page_edit_link}" onmousedown="this.blur(); return false;">{MSG_Main_page}</a>
<img alt="" src="/i/admin/arrow_out.png" title="" id="icoArrow">
</h6>
<ul onmouseup="tryToDrop()">
{bound_pages}
</ul>
	</td>
	<td style="width: 10px;" rowspan="2"><div style="width: 10px;"> </div></td>
	<td class="pages" id="unlinked" onmouseup="dropToUnlinked('unlinked')">
<ul onmouseup="tryToDrop()">
{unbound_pages}
</ul>
	</td>
</tr>
<tr>
	<td id="trash" class="pages trash-closed" onmouseup="dropToUnlinked('unlinked')">
<div onmouseup="dropToUnlinked('trash'); event.cancelBubble = true; tryToDrop();">
	<h5 onclick="openTrash()"><span id="trash-label"><em>{MSG_Trash}</em></span></h5>
	<h6>{MSG_Trash}<img src="/i/sitemap/close_trash.gif" alt="" onclick="hideTrash();"></h6>
	<ul></ul>
</div>
	</td>
</tr>
<tr>
	<td style="padding-top: 20px;" colspan="3">
<form name="savepages" method="post" action="{form_action}">
<input name="bound_pages" type="hidden">
<input name="unbound_pages" type="hidden">
<input name="trash_pages" type="hidden">
<button name="c" type="button" onclick="tryToSave(this)"><img src="/i/admin/b_save.gif" class="save"><span>Сохранить</span></button>
<button name="c" value="{MSG_Cancel}" type="button" onclick="window.location.reload(true);"><img src="/i/admin/b_cancel.gif" class="cancel"><span>{MSG_Cancel}</span></button>
</form>

<div class="filter_params" id="blckGrpActs" style="margin-top:10px; display:none;">
<form method="post" action="{baseurl}" class="edit_form">
<input type="hidden" name="ids" value="" id="hdnGrpIds">
<label for="selGrpAct">Выберите операцию c выделенными страницами:</label> &nbsp;
<select name="action" id="selGrpAct" class="required">
<option value="">- выбрать -</option>
<option value="clean_field">Очистить поле</option>
<option value="del_block">Удалить блок</option>
<option value="add_block">Добавить блок</option>
<option value="change_block">Заменить блок</option>
<option value="fine_tuning">Тонкая настройка</option>
</select>
<button type="submit"><img src="/i/admin/b_save.gif" class="save"><span>Выполнить</span></button>
</form>
</div>
	</td>
</tr>	
</table>

<div id="drop-box" onmousemove="setDropMode(event)" onmouseout="hideDropBox()"> </div>
<div id="drop-off"> </div>

<ul id="item-menu" onmousedown="event.cancelBubble = true;" onclick="hideItemMenu()">
    <li class="view" id="menuview"><a href="">{MSG_View}</a>
	<li class="edit" id="menuedit"><a href="">{MSG_Edit}</a>
	<li class="public" id="menupublic" onclick="menuPublic()">{MSG_Suspend}
	<li class="delete" onclick="menuDelete()">{MSG_Delete}
	<li class="sel" onclick="selectChilds();">Выделить вложенные страницы
	<li class="desel" onclick="deselectChilds();">Снять выделение у вложенных страниц
</ul>

<div id="test"></div>

<img id="drag-cursor" src="/i/sitemap/ico_page.gif" alt="">
<script type="text/javascript">
var dropBox = {obj: document.getElementById("drop-box"), y: 0, h: 0, dropTo: null, dropMode: 1}

var dropOff = document.getElementById("drop-off");
initUnlinked();
initSiteTree();

$(function() {
	$('#blckGrpActs form').submit(function() {
		
		ret = false;
		if (! $('#selGrpAct').val()) {
			showErrBlock($('#blckGrpActs button'), 'Не выбрана операция');
		} else {
			var ids = [];
			$('#pages-box a.selected').each(function() {
				ids[ids.length] = $(this).attr('data-id');
			});
			$('#hdnGrpIds').val(ids);
			return true;
		}
		
		return ret;
	});
	$('#icoArrow').click(function() {
		if (getCookie('abo_adm_expand_tree')) {
			$(this).attr({src: '/i/admin/arrow_out.png', title: 'Развернуть'});
			delCookie('abo_adm_expand_tree');
			$('#site-tree li').addClass('fold');
		} else {
			$(this).attr({src: '/i/admin/arrow_in.png', title: 'Свернуть'});
			setCookie('abo_adm_expand_tree', 1);
			$('#site-tree li').removeClass('fold');
		}
	});
	if (getCookie('abo_adm_expand_tree')) {
		$('#icoArrow').attr({src: '/i/admin/arrow_in.png', title: 'Свернуть'});
		$('#site-tree li').removeClass('fold');
	}
});
</script>