<div id="properties_div" style="width: 500px; height: 370px; position: absolute; left: 50%; top: 50%; margin: -185px 0 0 -250px; background-color: #FFF; border: solid #666666 1px; display: none;">12</div>
<form name="addForm" action="{form_action}" method="post" enctype="multipart/form-data">
<span id="array_buffer">
<input type="hidden" name="tpl_id" value="{tpl_id}">
<input type="hidden" name="id" value="{id}">
<input type="hidden" name="number_of_fields" value="{number_of_fields}">
<input type="hidden" name="tryon" value="0">
</span>
<table width="100%" border=0 cellspacing=1 cellpadding=0 class=modul>
<tr valign=top>
<td>

<div class=descr>{MSG_Fill_fields_by_modules} <span class="required_field">*</span>:<br>
<span class=pname>{MSG_Choose_field_module_add}</span></div>

<div class=border id=gray style="margin-top: 5">

<!-- START BLOCK : block_fields -->
<div id="field{num}">
	<div class=head onClick="selectElm('field', {num});" id="field_{num}" title="{MSG_Click_to_select} {num} {MSG_field}."><span id=grl>{num}</span><span>- {f_name}</span></div>
</div>
<!-- END BLOCK : block_fields -->

</div>

<div><BUTTON name="a" value="{MSG_Add_module}" type="button" onClick="addElement(selected_field);" style="width:100%; margin: 4 0 4 0"><img src=/i/admin/b_up_arr.gif class=arrow alt="{MSG_Add_module}"><span>{MSG_Add_module}</span></BUTTON><span id=help></span></div>

<div class=border id=green>
<!-- START BLOCK : block_select_modules -->
<div class=head2 onClick="selectElm('module', {module_id});" id="module_{module_id}" title="{MSG_Click_to_select_module}">{module_title}{only_as_main}</div>
<!-- END BLOCK : block_select_modules -->
</div>

<div class=attn>{MSG_Info_page_activate_bind}</div>
<BUTTON type="button" onClick="checkForm(this.form); return false;"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON type="button" onClick="this.form.tryon.value=1; checkForm(this.form); return false;"><img src=/i/admin/b_refresh.gif class=cancel><span>{MSG_Try_on}</span></BUTTON>
<BUTTON type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
<!-- наполнение шаблона -->
</td>
<td width="50%">
<div class="descr">
{MSG_Selected_template}:<br><span class=pname>{tpl_name} &mdash; _index{tpl_id}.html</span><br>
<img src="{image_url}" vspace="5" alt="{tpl_name}" title="{tpl_name}"><br>
<a class="none" href="{chage_tpl_link}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Change_template}" align="absmiddle" border="0">&nbsp;{MSG_Change_template}</a><br />
<br clear=all>

{MSG_Page_name} <span class="required_field">*</span><br>
<input class="page_name" name="title" value="{title}"><br>
{MSG_Link} <span class="required_field">*</span><br>
<input name="link" value="{link}" id="txtLink"><br>
Заголовок страницы<br>
<input name="add_title" value="{add_title}"><br>

<SCRIPT language="JavaScript" type="text/javascript">
initPerm = function() {
	var p = document.getElementById("perm");
	inps = p.getElementsByTagName('INPUT');
	for (i = 0; i < inps.length; i++) {
		inps[i].onfocus = function() {
			if (this.value == 0) p.className = "free";
			else if (this.value == 1) p.className = "deny";
			else p.className = "inh";
		}
	}
}
window.onload = initPerm;
</SCRIPT>
{MSG_Access}:
<div id="perm" class="{perm_class}">
<input name="permission_type" type="radio" value="2" id="p2" {p2_checked}><label for="p2">{MSG_inherit}</label>
<input name="permission_type" type="radio" value="0" id="p0" {p0_checked}><label for="p0">{MSG_free}</label>
<input name="permission_type" type="radio" value="1" id="p1" {p1_checked}><label for="p1">{MSG_limited}</label>
<div id="blckMainAccess" style="dispaly:none;"><input type="checkbox" name="main_access" value="1" id="mainAccess" {main_access_checked}><label for="mainAccess">ограничен главный модуль</label></div>
</div>
<input type="hidden" name="old_ptype" value="{old_ptype}">
<!-- КОНЕЦ ДОСТУП -->
{MSG_Keywords}<br>
<textarea name="keywords" rows="3" style="overflow: auto;">{keywords}</textarea><br>
{MSG_Page_description}<br>
<textarea name="description" rows="3" style="overflow: auto;">{description}</textarea><br>
{MSG_Page_Title}<br>
<textarea name="alt_title" rows="1" tyle="overflow: auto;">{alt_title}</textarea><br>
{MSG_Another_meta}<br>
<textarea name="meta" rows="4" style="overflow: auto;">{meta}</textarea><br>
{MSG_Redirect_url}<br>
<input type="text" name="redirect_url" value="{redirect_url}"><br>
<br>
<span>{MSG_Img_1}:</span>
<!-- START BLOCK : block_img1 -->
<input type="checkbox" name="delimg1" value="1" id="chbDel1" class="checkb" style="width: auto;"> 
<label style="padding-top: 4px; float:left;" for="chbDel1">- {MSG_Delete}</label><br clear="all">
<img src="{path}" title="{img}" alt="{path}">
<!-- END BLOCK : block_img1 -->
<br>
<input type="file" name="img1" style="width: 200px; margin-bottom:12px;"><br clear="all">

<span>{MSG_Img_2}:</span>
<!-- START BLOCK : block_img2 -->
<input type="checkbox" name="delimg2" value="1" id="chbDel2" class="checkb" style="width: auto;"> 
<label style="padding-top: 4px; float:left;" for="chbDel2">- {MSG_Delete}</label><br clear="all">
<img src="{path}">
<!-- END BLOCK : block_img2 -->
<br>
<input type="file" name="img2" style="width: 200px; margin-bottom:12px;"><br clear="all">

<span>{MSG_Img_3}:</span>
<!-- START BLOCK : block_img3 -->
<input type="checkbox" name="delimg3" value="1" id="chbDel3" class="checkb" style="width: auto;"> 
<label style="padding-top: 4px; float:left;" for="chbDel3">- {MSG_Delete}</label><br clear="all">
<img src="{path}">
<!-- END BLOCK : block_img3 -->
<br>
<input type="file" name="img3" style="width: 200px; margin-bottom:12px;"><br clear="all">
</div>
</td>


</tr>
</table>
</form>
<script type="text/javascript" language="JavaScript">
var gMsg = {
	Click_to_select_module: '{MSG_Click_to_select_module}',
	Click_to_select: '{MSG_Click_to_select}',
	field: '{MSG_field}',
	Confirm_delete_this_block: '{MSG_Confirm_delete_this_block}',
	Alert_main_block_single: '{MSG_Alert_main_block_single}',
	Alert_main_block_module: '{MSG_Alert_main_block_module}',
	Delete: '{MSG_Delete}',
	Properties: '{MSG_Properties}',
	Up: '{MSG_Up}',
	Down: '{MSG_Down}',
	place: '{MSG_place}',
	id: '{MSG_id}',
	module: '{MSG_module}'
};
</script>
<script src="/js/admin/page_prop.js" type="text/javascript"></script>

<script type="text/javascript" language="JavaScript">
$(function() {
	function handleMainAccess() {
		if ($('#p0').is(':checked')) {
			$('#blckMainAccess').hide();
			//$('#mainAccess').attr('checked', false);
		} else {
			$('#blckMainAccess').fadeIn();
		}
	}
	$('#p0, #p1, #p2').change(handleMainAccess);
});

var number_of_fields	= {number_of_fields}; // кол-во полей в шаблоне
var main_module			= {main_module}; // есть ли поле с главным модулем
var mmod_is_selected	= 0; // выбран ли главный модуль
var max_id				= 0; // максимальный id блоков в выборке из БД. По умолчанию 0, реальное значение вычисляется в функции drawField(). К этому значению будут плюсоваться новые блоки.
var language			= "{language}";
var pages_links = {json_pages_links};

// Массив действий для кадого модуля
var main_module_actions = new Array();
var module_actions = new Array();
<!-- START BLOCK : block_module -->
main_module_actions[{id}] = new Array();
module_actions[{id}] = new Array();
<!-- START BLOCK : block_main_module_action -->
main_module_actions[{id}]['{name}'] = '{title}';
<!-- END BLOCK : block_main_module_action -->
<!-- START BLOCK : block_module_action -->
module_actions[{id}]['{name}'] = '{title}';
<!-- END BLOCK : block_module_action -->
<!-- END BLOCK : block_module -->

// массивы модулей:
var mod_titles	= new Array(); // индекс - id модуля в БД, значение - название модуля по русски
var mod_names	= new Array(); // индекс - id модуля в БД, значение - название модуля по английски
var mod_as_main	= new Array(); // индекс - id модуля в БД, значение 1, если модуль может быть только главным
<!-- START BLOCK : block_modules_array -->
mod_titles[{module_id}]		= '{module_title}';
mod_names[{module_id}]		= '{module_name}';
mod_as_main[{module_id}]	= {module_available};
<!-- END BLOCK : block_modules_array -->



var selected_module; // выбранный модуль
var selected_field; // выбранное поле
//var default_color = "#EDFCFE"; // цвет фона ячейки поля или модуля по умолчанию
//var highlight_color = "#7BC4CF"; // цвет фона ячейки выбранного поля или модуля

// картинки
var img_url = '/i/admin/';
var img_up_url = img_url + 'ico_listup.gif';
var img_up_na_url = img_url + 'ico_ligrup.gif';
var img_down_url = img_url + 'ico_listdw.gif';
var img_down_na_url = img_url + 'ico_ligrdw.gif';
var img_remove_url = img_url + 'ico_del.gif';
var img_prop_url = img_url + 'ico_edit.gif';

// properties_div
var properties_div = document.getElementById("properties_div");

// первый индекс массива - номер поля; второй индекс массива - id блока; значение - на каком месте находится в списке блоков для данного поля;
var pos = new Array ();

// здесь наоборот: первый индекс массива - номер поля; второй индекс - место в списке блоков для данного поля; значение - id блока, который на это место поставлен;
var ids = new Array ();

// первый индекс массива - номер поля; второй индекс массива - id блока; значение - id модуля для данного блока;
var mod = new Array ();

// массив свойств блока: первый индекс массива - номер поля; второй индекс массива - id блока; третий - номер свойства для данного блока (property1, property2..); значение - свойство блока; 0-вой элемент есть действие для модуля, указанного для данного блока (action в БД);
var	prop = new Array();
var	block_prop = new Array();
var	propdescr = new Array();
var	tpl = new Array();

// объявляем массивы pos, ids, mod, prop, act двухмерными
// поле главного модуля есть поле номер 0, нумерация остальных полей начинается с 1
// если в шаблоне нет поля главного модуля, то значит нет поля номер 0
for (f = (main_module) ? 0 : 1; f<=number_of_fields; f++) {
	pos[f]	= new Array();
	ids[f]	= new Array();
	mod[f]	= new Array();
	prop[f]	= new Array();
	propdescr[f] = new Array();
	tpl[f] = new Array();
}

// Формируем массив, соответствующий последовательности отображения блоков в каждом поле страницы:
<!-- START BLOCK : block_array_blocks -->
ids[{f}][{i}]			= {block_id};
pos[{f}][{block_id}]	= {i};
mod[{f}][{block_id}]	= {module_id};
tpl[{f}][{block_id}]	= '{tpl}';
prop[{f}][{block_id}]	= new Array();
propdescr[{f}][{block_id}]	= '{propdescr}';
<!-- START BLOCK : block_array_properties -->
prop[{f}][{block_id}][{p}] = {property};
<!-- END BLOCK : block_array_properties -->


<!-- END BLOCK : block_array_blocks -->
// заполнить поля блоками в соответствии с заполненными массивами выше
// эта функция имеет смысл тока для редактирования страниц
drawFields();

function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

	if (form.title.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_page_name}';
	} else if (form.link.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_link}';
	}

	// проверка на допустимость символов
	var re = new RegExp("[a-z0-9_\-]*([^a-z0-9_\-]*)[a-z0-9_\-]*","g");
	var arr = re.exec(form.link.value);
	if (RegExp.$1 == ' ') {
		SendItem= 1; AlertMessage = '{MSG_spaces_in_link}';
	} else if (RegExp.$1 != '') {
		SendItem= 1; AlertMessage = '{MSG_disallowed_symbol} ' + RegExp.$1;
	}
	
	if (-1 != jQuery.inArray(jQuery.trim($('#txtLink').val()), pages_links)) {
	    SendItem= 1;
	    AlertMessage = '{MSG_Such_link_already_exists}';
	    $('#txtLink').focus();
	}
	
	if (!SendItem) {
		drawForms();
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>
