<!-- START BLOCK : level1_menu -->
<ul>
	<!-- START BLOCK : level1_menu_item -->
		
		<!-- START BLOCK : level1_menu_active_item -->
			<li page_id="{page_id}" page_num="{page_num}" is_last="{page_last}"><a href="{page_link}">{page_name}</a>
		<!-- END BLOCK : level1_menu_active_item -->

		<!-- START BLOCK : level1_menu_current_children_item -->
			<li class="curr" page_id="{page_id}" page_num="{page_num}" is_last="{page_last}"><a href="{page_link}">{page_name}</a>
		<!-- END BLOCK : level1_menu_current_children_item -->

		<!-- START BLOCK : level1_menu_current_item -->
			<li class="curr" page_id="{page_id}" page_num="{page_num}" is_last="{page_last}"><strong>{page_name}</strong>
		<!-- END BLOCK : level1_menu_current_item -->

	<!-- END BLOCK : level1_menu_item -->
		
</ul>
<!-- END BLOCK : level1_menu -->