<table class="modul edit_form" width="100%" cellspacing="1" cellpadding="3" border="0">
<tr>
<td valign="top">
<div class="descr">Выбранные страницы:
<!-- START BLOCK : page_list_item -->
<a href="{baseurl}&action=edit&id={id}" target="_blanck">{title}</a>{divider}
<!-- END BLOCK : page_list_item -->
</div>
<br>
<form method="post" action="{baseurl}" class="edit_form" id="frmGrpAct">
<input type="hidden" name="ids" value="{page_ids}">
<input type="hidden" name="action" value="{action}">
<input type="hidden" name="prop" value="" id="hdnProp">
<input type="hidden" name="tpl" value="" id="hdnTpl">
<input type="hidden" name="fine_tuning" value="" id="hdnFine">


<!-- START BLOCK : change -->
<h2>Найти блоки</b></h2>
<table class="block-properties">
<tr>
<th><label class="required">Выберите поле:</label></th>
<td><select id="selFindField" name="find_field" class="required">
<option value="" {selected}>- Выбрать -</option>
<!-- START BLOCK : change_field_list_item -->
<option value="{key}" {selected}>{title} - {key}</option>
<!-- END BLOCK : change_field_list_item -->
</select>
</td>
</tr>
<tr>
<th><label class="required">Выберите модуль:</label></th>
<td><select id="selFindMod" name="find_module" class="required">
<option value="" {selected}>- Выбрать -</option>
</select>
</td>
</tr>
<tr>
<th><label class="required">Выберите действие:</label></th>
<td><select id="selFindAct" name="find_act" class="required">
<option value="" {selected}>- Выбрать -</option>
</select>
</td>
</tr>
</table>
<h2>Изменить на</h2>
<!-- END BLOCK : change -->

<!-- START BLOCK : del_block -->
<div class="attn">Для группового удаления блоков, выводимых на различных страницах сайта, необходимо выбрать поле, модуль и выполняемое действие. Обращаем ваше внимание на тот факт, что если будет выбран только модуль без выбора конкретного действия, то удаление блока будет осуществлено сразу для всех действий конкретного модуля.</div>
<br>
<!-- END BLOCK : del_block -->

<table class="block-properties">

<!-- START BLOCK : field_block -->
<tr>
<th><label class="required">Выберите поле:</label></th>
<td><select id="selField" name="field" class="required">
<option value="" {selected}>- Выбрать -</option>
<!-- START BLOCK : field_list_item -->
<option value="{key}" {selected}>{title} - {key}</option>
<!-- END BLOCK : field_list_item -->
</select>
</td>
</tr>
<!-- START BLOCK : field_block -->

<!-- START BLOCK : mod_block -->
<tr>
<th><label class="required">Выберите модуль:</label></th>
<td><select id="selMod" name="module" class="required">
<option value="" {selected}>- Выбрать -</option>
</select>
</td>
</tr>
<!-- END BLOCK : mod_block -->
<!-- START BLOCK : mod_prop_block -->
<tr id="blckLinkedPage">
<th><label>Выберите страницу перехода:</label></th>
<td><select id="selTrans" name="linked_page">
<option value="" {selected}>- Выбрать -</option>
</select>
</td>
</tr>
<tr id="blckAct">
<th><label class="required">Выберите действие:</label></th>
<td><select id="selAct" name="act" class="required">
<option value="" {selected}>- Выбрать -</option>
</select>
</td>
</tr>
<tr id="blckProp" style="display:none;">
<th><label>Свойства действия:</label></th>
<td><div id="target_span"></div></td>
</tr>
<!-- START BLOCK : mod_prop_block -->
</table>
<br>
<button type="submit" class="save" style="display:{css_submit_display};">Выполнить</button>
<button type="submit" class="save" style="display:{css_submit_display};" data-fine="1">Выполнить и перейти к тонкой настройке</button>
<button type="button" class="cancel" onclick="document.location.href='{baseurl}';">Отменить</button>

</form>
</td>
<td valign="top" class="dotted_border" width="250">
<div class="descr">
Шаблон страниц:<br>
<span class="pname">{tpl_name} &mdash; _index{tpl_id}.html</span><br><br>
<img src="/{tpl_path}"><br>
</div>
</td>
</tr>
</table>
<script src="/js/admin/page_prop.js" type="text/javascript"></script>
<script src="/js/admin/json.js" type="text/javascript"></script>
<script type="text/javascript">
var gMsg = {
		Click_to_select_module: '{MSG_Click_to_select_module}',
		Click_to_select: '{MSG_Click_to_select}',
		field: '{MSG_field}',
		Confirm_delete_this_block: '{MSG_Confirm_delete_this_block}',
		Alert_main_block_single: '{MSG_Alert_main_block_single}',
		Alert_main_block_module: '{MSG_Alert_main_block_module}',
		Delete: '{MSG_Delete}',
		Properties: '{MSG_Properties}',
		Up: '{MSG_Up}',
		Down: '{MSG_Down}',
		MSG_place: '{MSG_place}',
		id: '{MSG_id}',
		module: '{MSG_module}'
	};
var	block_prop = [], tpl = [], gDelAct = '{del_act}' || false, gAddMode = '{add_mode}' || false;
$(function() {
	var gModsMeta = {json_mods_meta};
	var gFindModsMeta = {json_find_mods_meta};
	if (gDelAct) {
		$('#blckLinkedPage').hide();
		$('#blckAct .required').removeClass('required');
	}
	$('#selField').change(function() {
		var val = $(this).val();
		if ('' !== val) {
			var sel = $('#selMod').get(0);
			if (sel) {
				sel.options.length = 1;
				for (var i in gModsMeta) {
					if (gAddMode) {
						if ('0' === val || ('0' !== val && '0' === gModsMeta[i].only_as_main)) {
							sel.options[sel.options.length] = new Option(gModsMeta[i].title, i);
						}
					} else if (gModsMeta[i].fields[val]) {
						sel.options[sel.options.length] = new Option(gModsMeta[i].title, i);						
					}
				}
				$('#selAct').get(0).options.length = 1;
				$('#selTrans').get(0).options.length = 1;
				$('#blckProp, button.save').hide();
			}			
		} else {
			$('#selMod').get(0).options.length = 1;
			$('#selAct').get(0).options.length = 1;
			$('#selTrans').get(0).options.length = 1;
			$('#blckProp, button.save').hide();
		}
	});
	
	$('#selMod').change(function() {
		var  mod = $(this).val(),
			field = $('#selField').val();
		if ('' !== mod) {
			var act_sel = $('#selAct').get(0),
				trans_sel = $('#selTrans').get(0);
			if (gDelAct || -1 != $.inArray(mod, ['3', '7'])) { /* Для модулей статьи, структура не показывать стр. перехода*/
				$('#blckLinkedPage').hide();
			} else {
				$('#blckLinkedPage').show();
			}
			act_sel.options.length = 1;
			trans_sel.options.length = 1;
			var acts = '0'==$('#selField').val() ? gModsMeta[mod].main_acts : gModsMeta[mod].acts;
			for (var i in acts) {
				if (!gDelAct || (gDelAct && -1 != $.inArray(i, gModsMeta[mod].fields[field])) ) {
					act_sel.options[act_sel.options.length] = new Option(acts[i], i);
				} 				
			}
			for (i in gModsMeta[mod].pages) {
				trans_sel.options[trans_sel.options.length] = new Option(gModsMeta[mod].pages[i], i);
			}
			$('#blckProp, button.save').hide();
			if (gDelAct) {
				$('button.save').fadeIn();
			}
		} else {
			$('#selAct').get(0).options.length = 1;
			$('#selTrans').get(0).options.length = 1;
			$('#blckProp, button.save').hide();
		}
	});
	
	$('#selAct').change(function() {
		var act = $(this).val(),
			mod = $('#selMod').val(),
			field = $('#selField').length ? $('#selField').val() : $('#selFindField').val();
		if (!gDelAct && mod && act && '' != field) {
			$.getScript('{adm_uri}&action=block_prp&name='+gModsMeta[mod].name+'&sub_action='+act+'&field='+field+'&block_id=-1', function(){
				$('#blckProp, button.save').fadeIn();
			});
		}		
	});
	
	$('#selFindField').change(function() {
		var val = $(this).val();
		if ('' !== val) {
			var sel = $('#selFindMod').get(0);
			if (sel) {
				sel.options.length = 1;
				for (var i in gFindModsMeta) {
					if (gFindModsMeta[i].fields[val]) {
						sel.options[sel.options.length] = new Option(gFindModsMeta[i].title, i);						
					}
				}
				$('#selFindAct').get(0).options.length = 1;
				$('#selMod').get(0).options.length = 1;
				$('#selAct').get(0).options.length = 1;
				$('#selTrans').get(0).options.length = 1;
				$('#blckProp, button.save').hide();
			}			
		} else {
			$('#selFindMod').get(0).options.length = 1;
			$('#selFindAct').get(0).options.length = 1;
			$('#selMod').get(0).options.length = 1;
			$('#selAct').get(0).options.length = 1;
			$('#selTrans').get(0).options.length = 1;
			$('#blckProp, button.save').hide();
		}
	});
	
	$('#selFindMod').change(function() {
		var mod = $(this).val(),
			field = $('#selFindField').val();
		if ('' !== mod) {
			var act_sel = $('#selFindAct').get(0);
			act_sel.options.length = 1;
			var acts = '0'==$('#selField').val() ? gFindModsMeta[mod].main_acts : gFindModsMeta[mod].acts;
			for (var i in acts) {
				if (gFindModsMeta[mod].fields[field] && -1 != $.inArray(i, gFindModsMeta[mod].fields[field])) {
					act_sel.options[act_sel.options.length] = new Option(acts[i], i);
				}				
			}
			var sel = $('#selMod').get(0);
			sel.options.length = 1;
			for (var i in gModsMeta) {
				if ('0' === field || ('0' !== field && '0' === gModsMeta[i].only_as_main) ) {
					sel.options[sel.options.length] = new Option(gModsMeta[i].title, i);
				}
			}
			$('#selAct').get(0).options.length = 1;
			$('#selTrans').get(0).options.length = 1;
			$('#blckProp, button.save').hide();			
		} else {
			$('#selFindAct').get(0).options.length = 1;
		}
	});
	
	$('button.save').click(function() {
		var ret = false;
		if (checkForm(this.form)) {
			if ($('#blckProp').length) {
				$('#hdnProp').val(JSON.stringify(getPropVals()));
				$('#hdnTpl').val($('#slctTpl').val());
				$('#target_span').html('');				
			}
			if ($(this).attr('data-fine')) {
				$('#hdnFine').val(1);
			}
			ret = true;
		}
		return ret;
	});
});
</script>