<script language="javascript">
function checkForm(form) {
	var SendItem= 0;
	var AlertMessage;
	
	if (form.tpl_id.value == 0) {
		SendItem= 1; 
		AlertMessage = '{MSG_Choose_template}';
	}
	
	if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
	}
}

</script>

<form method="post" action="{form_action}" name="myForm">
<input name="id" type="hidden" size="40" value="{id}">
<input name="start" type="hidden" size="40" value="{start}">
<div class="edit_form">
{MSG_Page_name}: <b>{title}</b><br>

<br>{MSG_Page_template} <span class="required_field">*</span>:<br>
<select name="tpl_id" style="width: 400px;">
<option value="0">--  {MSG_Select_template}  --</option>
<!-- START BLOCK : block_tpls_list -->
<option value="{tpl_id}"{selected}>{tpl_name}</option>
<!-- END BLOCK : block_tpls_list -->
</select>
<div class="attn">
{MSG_Info_different_fields_num}
</div>
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</form>
