<!-- START BLOCK : block_properties -->
<table>

<!-- START BLOCK : block_properties_map -->
<tr>
	<td valign="top">{MSG_Map_type}:<br>
		<select id="property1" name="property1">
			<option value="0">{MSG_with_tree}</option>
			<option value="2">{MSG_with_tree_nojs}</option>
			<option value="1">{MSG_with_blocks}</option>
		</select>
	</td>
</tr>
<!-- END BLOCK : block_properties_map -->

<!-- START BLOCK : block_properties_cmenu -->
<tr>
	<td valign="top">{MSG_Context_menu}:<br>
		<select id="property2" name="property2" onchange="setURL('property2');">
			<option value="">{MSG_Select}</option>
			
		<!-- START BLOCK : block_menu_list -->
			<option value="{menu_id}">{menu_name}</option>
		<!-- END BLOCK : block_menu_list -->

		</select>
	</td>

<!-- START BLOCK : block_page_edit -->
	<td><br><img style="cursor: hand" alt="{MSG_Goto_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="/i/admin/ico_edit.gif" border="0"></td>
<!-- END BLOCK : block_page_edit -->

</tr>
<!-- END BLOCK : block_properties_cmenu -->

</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->

<!-- INCLUDE BLOCK : tpl_block -->