<a class="add_btn" href="{menu_add_url}"><span><img src="/i/admin/ico_addcat.gif" alt="{MSG_Add_context_menu}" title="{MSG_Add_context_menu}" width=17 height=18 border=0>&nbsp;{MSG_Add_context_menu}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<!--th>ID</th-->
<th>{MSG_Ed}</th>
<th>{MSG_Rights}</th>
<th width="99%">{MSG_Context_menu}</th>
<th>{MSG_Del}</th>
</tr>
<form>
<!-- START BLOCK : block_menu_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<!--td>{menu}</td-->
<td align="center">{menu_edit_action}</td>
<td align=center>{menu_edit_rights_action}</td>
<td>{menu_name}</td>
<td align="center">{menu_del_action}</td>
</tr>
<!-- END BLOCK : block_menu_list -->
</form>
</table>
<!--список -->
