<!-- меню -->
<div class="menu3">
<!-- START BLOCK : level1_menu -->
	<!-- START BLOCK : level1_menu_item -->

		<!-- START BLOCK : level1_menu_active_item -->
		 <a href="/{page_link}"><nobr>{page_name}</nobr></a> 
		<!-- END BLOCK : level1_menu_active_item -->
		
		<!-- START BLOCK : level1_menu_current_item -->
		 <span><nobr>{page_name}</nobr></span> 
		<!-- END BLOCK : level1_menu_current_item -->

	<!-- END BLOCK : level1_menu_item -->
<!-- END BLOCK : level1_menu -->
<img src="/i/0.gif" width="10" height="1" alt=""></div>
<!--/меню -->