<!-- меню -->
<div>
<!-- START BLOCK : level1_menu -->
	<!-- START BLOCK : level1_menu_item -->

		<!-- START BLOCK : level1_menu_active_item -->
		<a href="{page_link}"><nobr>{page_name}</nobr></a><br>
		<!-- END BLOCK : level1_menu_active_item -->
		
		<!-- START BLOCK : level1_menu_current_item -->
		<span><nobr>{page_name}</nobr></span><br>
		<!-- END BLOCK : level1_menu_current_item -->

	<!-- END BLOCK : level1_menu_item -->
<!-- END BLOCK : level1_menu -->
</div>
<!--/меню -->