<a class="add_btn" href="{page_add_url}&ret=showlist"><span><img src="/i/admin/ico_addcat.gif" alt="{MSG_Add_page}" title="{MSG_Add_page}" width=17 height=18 border=0> {MSG_Add_page}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<!-- INCLUDE BLOCK : search_form -->

<style>
.dark-border td {border-width: 2px;}
</style>

<form>
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
<tr height="20">
<th{active_order_mark2}><a href="{active_order}">{MSG_Activ}</a>&nbsp;{active_order_mark}</th>
<th>{MSG_Ed}</th>
<th>{MSG_Rights}</th>
<th{title_order_mark2} width="50%"><a href="{title_order}">{MSG_Title}</a>&nbsp;{title_order_mark}</th>
<th{link_order_mark2}><a href="{link_order}">{MSG_Link}</a>&nbsp;{link_order_mark}</th>
<th{tmpl_order_mark2} width="50%"><a href="{tmpl_order}">{MSG_Template}</a>&nbsp;{tmpl_order_mark}</th>
<th{bind_order_mark2}><a href="{bind_order}">{MSG_Bind}</a>&nbsp;{bind_order_mark}</th>
<th{index_order_mark2}><a href="{index_order}">{MSG_Strt}</a>&nbsp;{index_order_mark}</th>
<th>{MSG_Del}</th>
<th align="left">&nbsp; <input type="checkbox" name="check_all" class="checkb" value="1" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_pages_list -->
<tr onclick="switchCheckbox(this)" valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';"{border_class}>

<td align="center">{page_change_status_action}</td>
<td align="center" class="acenter">{page_edit_action}</td>
<td align=center>{page_edit_rights_action}</td>
<td><a href="{page_main_link}" target="_blank" title="{page_title_id}">{page_title}</a></td>
<td nowrap class="nowrap">{page_link}</td>
<td>{page_tpl_name}</td>
<td align="center">{page_bind_status}</td>
<td align=center>{page_set_default_action}</td>
<td align=center>{page_del_action}</td>
<td><div></div>
<!-- START BLOCK : block_check -->
<input onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{page_id}">
<!-- END BLOCK : block_check -->
</td>
</tr>
<!-- END BLOCK : block_pages_list -->
</table>
<br>
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate}</option>
<option value="suspend">{MSG_Suspend}</option>
<option value="delete">{MSG_Delete}</option>
</select> &nbsp;
<button onclick="doAction(this.form); return false;">{MSG_Execute}</button>
</form>

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->
