<!-- START BLOCK : block_context_menu -->
<!-- контекстное меню -->
<div>
	<ul>
	<!-- START BLOCK : block_context_menu_item -->
	
		<!-- START BLOCK : block_context_menu_active_item -->
		<li><a href="{page_link}">{page_name}</a></li>
		<!-- END BLOCK : block_context_menu_active_item -->
		
		<!-- START BLOCK : block_context_menu_current_item -->
		<li>{page_name}</li>
		<!-- END BLOCK : block_context_menu_current_item -->
	
	<!-- END BLOCK : block_context_menu_item -->
	</ul>
</div>
<br>
<!--/контекстное меню -->
<!-- END BLOCK : block_context_menu -->
