<!-- START BLOCK : level1_menu -->
	<div class="alt-menu">
	<!-- START BLOCK : level1_menu_item -->	
		
        <!-- START BLOCK : level1_menu_active_item -->
    				<a href="{page_link}">{page_name}</a> | 
        <!-- END BLOCK : level1_menu_active_item -->

        <!-- START BLOCK : level1_menu_current_item -->
    				<a href="{page_link}">{page_name}</a> | 
		<!-- END BLOCK : level1_menu_current_item -->

    <!-- END BLOCK : level1_menu_item -->
	</div>
<!-- END BLOCK : level1_menu -->
