<!-- START BLOCK : block_context_menu -->
	<img src="i/0.gif" width="60" height="1" alt="">
	<!-- START BLOCK : block_context_menu_item -->
		<!-- START BLOCK : block_context_menu_active_item -->
		<a href="{page_link}" class="m-blue">{page_name}</a>&nbsp;
		<img src="i/0.gif" width="5" height="1" alt="">
		<!-- END BLOCK : block_context_menu_active_item -->
		<!-- START BLOCK : block_context_menu_current_item -->
		<span class="m-grey">{page_name}</span>&nbsp;
		<img src="i/0.gif" width="5" height="1" alt="">
		<!-- END BLOCK : block_context_menu_current_item -->
	<!-- END BLOCK : block_context_menu_item -->
<!-- END BLOCK : block_context_menu -->
