<a class="add_btn" href="{tmpl_add_url}"><span><img src="/i/admin/ico_addcat.gif" alt="{MSG_Add_template}" title="{MSG_Add_template}" width=17 height=18 border=0> {MSG_Add_template}</span></a>
<div style="height: 10px;" class="both spacer">&nbsp;</div>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>{MSG_ID}</th>
<th>{MSG_Name}</th>
<th>{MSG_Fields_num}</th>
<th>{MSG_With_main_module}</th>
<th>{MSG_Filename}</th>
<th>{MSG_Del}</th>
</tr>
<form>
<!-- START BLOCK : block_tmpls_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align=center>{tpl_id}</td>
<td>{tpl_name}</td>
<td align="center">{fields_cnt}</td>
<td align=center>{main_mod_str}</td>
<td align=center>{tmpl_file_path}</td>
<td align=center>
<!-- START BLOCK : block_del_link -->
<a href="{tmpl_del_link}" onclick="return confirm('{MSG_Confirm_delete_template}');"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a>
<!-- END BLOCK : block_del_link -->
&nbsp;
</td>
</tr>
<!-- END BLOCK : block_tmpls_list -->
</form>
</table>
<div class="attn">
{MSG_Info_delete_template}
</div>
<h1>Файлы шаблонов</h1>
<table cellpadding=2 cellspacing=2 border=0 class=center>
<tr>
<th>{MSG_Ed}</th>
<th>{MSG_Filename}</th>
</tr>
<!-- START BLOCK : block_tmpl_file -->
<tr>
<td><a href="{baseurl}&action=edittpl&filename={filename}"><img src="/i/admin/ico_edit.gif" alt="edit"></a></th>
<td>{filename}</td>
</tr>
<!-- END BLOCK : block_tmpl_file -->
</table>