<table cellpadding=2 cellspacing=2 border=0 width=98%>
<form name="linkTypeForm">
<tr>
<td>
<select name="link_type" onChange="location.href='{redirect_link}' + this.form.link_type.value">
<option value="all">{MSG_Show_all_internal_links}</option>
<option value="broken">{MSG_Show_only_broken_links}</option>
</select>
</td>
</tr>
</form>
</table>
<script>
document.all.linkTypeForm.link_type.value = '{request_type}';
</script>


<!-- START BLOCK : block_internal_links -->
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>{MSG_Link}</th>
<th>{MSG_Description}</th>
<th>{MSG_Edit_record}</th>
</tr>

<form>
<!-- START BLOCK : block_internal_link -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td><span style="color: {status_color};">x</span>&nbsp;&nbsp;<a href="{link}" target="_blank">{link}</a></td>
<td>
{description}, {MSG_module} <a href="{module_link}">{module_name}</a><br>
{MSG_table}: {table_name} <b>/</b> поле: {field_name} <b>/</b> id: {entry_id}
</td>
<td align=center>{entry_edit_icon}</td>
</tr>
<!-- END BLOCK : block_internal_link -->
</form>
</table>
<!-- END BLOCK : block_internal_links -->

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->