<!-- Новое на сайте -->
	<!-- заголовок -->
	<table cellpadding=0 cellspacing=1 height=17 border=0>
	<tr valign=top>
	<td width=1%><img src=/i/1.gif width=9 height=1 border=0></td>
	<td width=1% bgcolor=#6699CC><img src=/i/1.gif width=8 height=1 border=0></td>
	<td width=1% bgcolor=#CCDAED><img src=/i/1.gif width=8 height=1 border=0></td>
	<td bgcolor=#0B51A1 style="text-transform:uppercase"><img src=/i/1.gif width=10 height=1 border=0><span class=anlig>Новое на сайте</span></td>
	</tr>
	</table>
	<!--/заголовок -->
	
	<table cellpadding=5 cellspacing=0 border=0 width=100%>
	<tr valign=top>
	<td width=1%><img src=/i/1.gif width=8 height=1 border=0></td>
	<td class=tdcont id=padL15>
	
	<!-- START BLOCK : block_new_pages -->
	<div class=marg6>
	<div><span class=date>{page_date}</span>&nbsp;<h2 class=h2new><a href="{page_main_link}" class=blue>{page_title}</a></h2></div>
	</div>	
	<!-- END BLOCK : block_new_pages -->
	<br>
	
	</td>
	</tr>
	</table>
	<img src=/i/1.gif width=1 height=1 border=0><br>
<!--/Новое на сайте -->
