<!-- START BLOCK : block_error_msg -->
<div class="attn">
{MSG_Info_add_template} {tmpl_img_path} {MSG_and} {tmpl_file_path}.
</div>
<!-- END BLOCK : block_error_msg -->

<!-- START BLOCK : block_tmpl_form -->
<script language="javascript">
function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.title.value == '') {
		SendItem= 1; 
		AlertMessage = '{MSG_Enter_template_name}';
	} else if (form.fields_cnt.value == '') {
		SendItem= 1; 
		AlertMessage = '{MSG_Enter_fields_num}';
	} else if (form.fields_cnt.value < 1) {
		SendItem= 1; 
		AlertMessage = "{MSG_Fields_num_must_be_positive}";
	} else if ('' == form.tmpl_img.value) {
		SendItem= 1; 
		AlertMessage = "{MSG_Enter_template_image}";
	} else if ('gif' != getFileExt(form.tmpl_img.value)) {
		SendItem= 1; 
		AlertMessage = "{MSG)Template_image_must_be_GIF}";
	} else if ('' == form.tmpl_file.value) {
		SendItem= 1; 
		AlertMessage = "{MSG_Enter_template_file}";
	} else if ('htm' != getFileExt(form.tmpl_file.value) && 'html' != getFileExt(form.tmpl_file.value)) {
		SendItem= 1; 
		AlertMessage = "{MSG_Template_file_must_be_HTML}";
	}

	if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
	}
}

function getFileExt(file)
{	
	return file.substr(file.lastIndexOf('.')+1).toLowerCase();	
}
</script>
<form name="addForm" action="{form_action}" method="post" enctype="multipart/form-data">
<div class="edit_form mini_marg">
<b>{MSG_Template_name} <span class="required_field">*</span>:</b><br>
<input type="text" name="title" size="40"><br>

<b>{MSG_Fields_num} <span class="required_field">*</span>:</b><br>
<input type="text" name="fields_cnt" size="3">
<div class="attn">{MSG_Info_fields}</div>

<b>{MSG_With_main_block_fields} <span class="required_field">*</span>:</b><br>
<select name="main_module">
<option value="1">{MSG_Yes}</option>
<option value="0">{MSG_No}</option>
</select>
<div class="attn"></div>

<b>{MSG_Template_image} <span class="required_field">*</span>:</b><br>
<input type="file" name="tmpl_img" size="40" /><br>

<b>{MSG_Template_file} <span class="required_field">*</span>:</b><br>
<input type="file" name="tmpl_file" size="40" /><br>

<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>

<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>


</form>
<!-- END BLOCK : block_tmpl_form -->