<!-- -->
<script type="text/javascript">
function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

	if (form.mname.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_menu_name}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>

<!-- -->

<form method="post" action="{form_action}" name="myForm">
<input name="id" type="hidden" size="40" value="{menu_id}">
<input name="start" type="hidden" size="40" value="{start}">
<div class="edit_form">
{MSG_Menu_name} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="mname" size="50" value="{menu_name}"><br>

{MSG_Add_link_to_menu} <span class="required_field">*</span>:<br>
<select name="page_id" style="width: 400px;">
<option value="0">--  {MSG_Select_page}  --</option>
<!-- START BLOCK : block_pages_list -->
<option value="{page_id}"{selected}>{page_title}</option>
<!-- END BLOCK : block_pages_list -->
</select>&nbsp;&nbsp;
<BUTTON name="s" value="{MSG_Add}" title="{MSG_Add}" type="button" onClick="addElement();"><img src="/i/admin/b_select.gif" class="select"><span>{MSG_Add}</span></BUTTON>

<!-- список пунктов меню -->
<div id="items" class="items2"></div>
<!--/список пунктов меню -->


<script>
var max_id = 0;
var p_in_l = new Array (); // индекс массива - id эелемента в базе, значение - на каком месте находится в списке
var val = new Array (); // индекс массива - id эелемента в базе, значение - выводимый текст
var l_in_p = new Array (); // здесь наоборот, индекс - место в списке, значение - id элемента, который на это место поставлен

// картинки
var img_url = '/i/admin/';
var img_up_url = img_url + 'ico_listup.gif';
var img_up_na_url = img_url + 'ico_ligrup.gif';
var img_down_url = img_url + 'ico_listdw.gif';
var img_down_na_url = img_url + 'ico_ligrdw.gif';
var img_remove_url = img_url + 'ico_del.gif';

// Формируем массив, соответствующий последовательности отображения элементов на экране:
/*l_in_p[{v_iterator}]={v_id};
val[{v_id}]='{v_answer}';
p_in_l[{v_id}]={v_iterator};*/

<!-- START BLOCK : fill_array -->
l_in_p[{item_iterator}]={item_id};
val[{item_id}]='{item_title}';
p_in_l[{item_id}]={item_iterator};
<!-- END BLOCK : fill_array -->

drawBlock(); // отобразить пункты списка

function swapNodes(id1, id2)
{
    var n1, n2;
    if ( (n1 = document.getElementById(id1)) && (n2 = document.getElementById(id2)) )
    {
        var p1 = n1.parentNode, p2 = n2.parentNode, b = n2.nextSibling;
        n1 = p1.replaceChild(n2, n1);
        p2.insertBefore(n1, b);
    }
}

function up(id) {
// id - id блока
	 last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	// на какой позиции стоит элемент с указанным id
   pos_from=p_in_l[id]; // переходим c места
   if(pos_from==1) return;
	 onImgs();

	 // меняем местами элементы в массивах
   id_to=l_in_p[pos_from-1]; // кто на месте куда мы целим

   p_in_l[id_to]=pos_from;
   p_in_l[id]=pos_from-1;

   l_in_p[pos_from-1]=id;
   l_in_p[pos_from]=id_to;
   swapNodes('row_' + id_to, 'row_' + id);
   /*
   var arg1=eval("document.getElementById('row_" + id_to + "')");
   var arg2=eval("document.getElementById('row_" + id + "')");

   if (arg1 != null && arg2 != null) {
       arg1.swapNode(arg2);
   }
   */
   offImgs();

	return true;
}


function down(id) {
// id - id блока
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	// на какой позиции стоит элемент с указанным id
   pos_from=p_in_l[id]; // переходим c места
   if(pos_from==last_pos) return;
	 onImgs();

	 // меняем местами элементы в массивах
   id_to=l_in_p[pos_from+1]; // кто на месте куда мы целим

   p_in_l[id_to]=pos_from;
   p_in_l[id]=pos_from+1;

   l_in_p[pos_from+1]=id;
   l_in_p[pos_from]=id_to;

   swapNodes('row_' + id, 'row_' + id_to);
   /*
   var arg1=eval("document.getElementById('row_" + id_to + "')");
   var arg2=eval("document.getElementById('row_" + id + "')");

   if (arg1 != null && arg2 != null) {
       arg1.swapNode(arg2);
   }
   */
   offImgs();

	return true;
}


function remove(id) {
	if (confirm('{MSG_Confirm_delete_menu_item}')) {
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
		y = p_in_l[id]; // на каком месте удаляемый элемент

		// механизм удаления блока такой: смещаем его в самый низ,
		// последовательно перебирая все нижележащие элементы и вызывая функцию down,
		// потом удаляем из html-кода и массивов
		while(y < last_pos) {
			down(l_in_p[y]);
			y++;
		}

		// 'true' possible value specifies removal of childNodes also
		var remove_elm = document.getElementById('row_' + id);
		if (remove_elm != null) {
			remove_elm.parentNode.removeChild(remove_elm);
			l_in_p.pop();
			p_in_l[id] = null;
			val[id] = null;
			offImgs();
		}
	}
	return true;
}



function onImgs() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	if (l_in_p[1] != null) {
		var img=eval("document.getElementById('up_img_" + l_in_p[1] + "')");
		img.src = img_up_url;
		img.style.cursor = "hand";
	}

	if (l_in_p[last_pos] != null) {
		var img=eval("document.getElementById('down_img_" + l_in_p[last_pos] + "')");
		img.src = img_down_url;
		img.style.cursor = "hand";
	}

	return true;
}


function offImgs() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	if (l_in_p[1] != null) {
		var img=eval("document.getElementById('up_img_" + l_in_p[1] + "')");
		img.src = img_up_na_url;
		img.style.cursor = "";
	}

	if (l_in_p[last_pos] != null) {
		var img=eval("document.getElementById('down_img_" + l_in_p[last_pos] + "')");
		img.src = img_down_na_url;
		img.style.cursor = "";
	}

	return true;
}


function addElement() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
	onImgs();

	var selIdx = document.myForm.page_id.selectedIndex;
	id = document.myForm.page_id.options[selIdx].value;
	if (id == 0 || id == '') {
		alert('{MSG_Choose_page}');
		return false;
	} else if (p_in_l[id] != null) {
		alert('{MSG_Page_already_in_menu}');
		return false;
	}
	title = document.myForm.page_id.options[selIdx].text;
	/*
	max_id = max_id + 1
	new_elm_id = max_id;
	last_pos = last_pos+1;

	// задаем значения в массивах для нового элемента
	l_in_p[last_pos] = new_elm_id;
	p_in_l[new_elm_id] = last_pos;
	val[new_elm_id] = '';
	*/
	new_elm_id = id;
	last_pos = last_pos+1;

	// задаем значения в массивах для нового элемента
	l_in_p[last_pos] = new_elm_id;
	p_in_l[new_elm_id] = last_pos;
	val[new_elm_id] = title;

	drawElement(last_pos, 1);
	offImgs();

	return true;
}


function drawBlock() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	for (i=1; i<l_in_p.length; i++) {
		if (l_in_p[i] && l_in_p[i] > max_id) max_id = l_in_p[i];
		drawElement(i);
	}

	offImgs();
}


function drawElement(i, is_new) {
// i - это индекс в массиве, где значение элементов массива есть id
	var id = l_in_p[i];
	var id_elm = 'row_' + id;
	var id_img = 'img_' + id;


	var img_remove = '<img src="' + img_remove_url + '" alt="{MSG_Delete}" border=0 vspace=1 hspace=1 align=absmiddle  onClick="remove(' + id + ');" style="cursor: hand">';

	var img_up = '<img src="' + img_up_url + '" alt="{MSG_Up}" border=0 vspace=1 hspace=1 align=absmiddle id="up_' + id_img + '" onClick="up(' + id + ');" style="cursor: hand">';

	var img_down = '<img src="' + img_down_url + '" alt="{MSG_Down}" border=0 vspace=1 hspace=1 align=absmiddle id="down_' + id_img + '" onClick="down(' + id + ');" style="cursor: hand">';

/*	var new_elm =	'' +
	'<span id="' + id_elm + '">' + '<input type="text" class=w300 name="items[' + id + ']" value="' + val[id] + '" size="50">&nbsp;' + img_up + img_down + img_remove + '</span><br>'; */
		/*
	var new_elm =	'' +
	'<span id="' + id_elm + '">' + val[id] + '<input type="hidden" name="items[]" value="' + id + '" size="50">' + img_up + img_down + img_remove + '</span><br>';*/

	var new_elm =	'' +
	'<div id="' + id_elm + '"' + (is_new ? ' class="head1"' : '') + '><input type="hidden" name="items[]" value="' + id + '"><table cellspacing=0><tr><td><img src=/i/marcer.gif border=0></td><td width=98%>&nbsp;' + val[id] + '</td><td>' + img_up + img_down + img_remove + '</td></tr></table></div>'


	document.getElementById('items').innerHTML = document.getElementById('items').innerHTML + new_elm;

	return true;
}


function showList() {
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
		var order = '';
		for(i=1;i<=last_pos;i++) {

			order = order +
			' {MSG_place}=' + p_in_l[l_in_p[i]] +
			' {MSG_id}=' + l_in_p[i] +
			' {MSG_value}=' + val[l_in_p[i]] +"\n";

		}
		if (order) alert(order);

	return true;
}
</script>


<br>
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>

<!--/-->


</form>
