	<div id="blckForm" class="edit_form">
<label for="selStep">{MSG_Prioritet_step}</label>
<select name="step" id="selStep">
<!-- START BLOCK : step_list -->
<option value="{name}" {selected}>{name}</option>
<!-- END BLOCK : step_list -->
</select>
<br>
<button type="button" class="create" onclick="generateSitemap(1);" id="btnCrt">{MSG_Create}</button>
<br>
<div class=attn>Шаг приоритета показывает с какой периодичностью будет убывать приоритет в sitemap.xml. То есть, если шаг 0.2, то приоритет  у страниц 2 уровня вложенности будет 0.8, 3 уровня вложенности - 0.6 т.д.<br></div><br>

</div>

<div class="attn" id="blckRes" style="display:none; height:350px; overflow:auto;"></div>
<br><br>
<table class="center" width="98%">
<tr>
<th>{MSG_Title}</th>
<th>{MSG_Generatin_date}</th>
<th>{MSG_Size}</th>
<th>{MSG_Del}</th>
</tr>
<tr>
<td id="tdPath"><a href="{sitemap_xml_path}">{sitemap_xml_path}</a></td>
<td id="tdDate">{date}</td>
<td id="tdSize">{size}</td>
<td style="width:19px;"><a href="{baseurl}&action=sitemap_xml_del" onclick="return confirm('{MSG_Delete} ?');"><img src="/i/admin/ico_del.gif" alt="{MSG_Del}"></a></td>
</tr>
</table>
<script type="text/javascript">
function generateSitemap(start) {  
    var req = new JsHttpRequest();
    req.onerror = function(msg) {
        arguments.callee.cnt = arguments.callee.cnt ? arguments.callee.cnt++ : 1;
        msg = msg.replace(/</g, '&laquo;');
        msg = msg.replace(/>/g, '&raquo;');
        $('#blckRes').html('<div style="color:red;">Error #'+arguments.callee.cnt+': '+msg+'</div>' + $('#blckRes').html() );        
        if (arguments.callee.cnt<6) {
            generateSitemap();
        } else {
            hideLoading();            
        }
    }
    req.onreadystatechange = function() {
    	if (req.readyState == 4) {
    		//req.responseText;
    		if (start) {
    		    $('#blckRes').show();
    		    $('#blckForm').hide();
    		    generateSitemap.res_cnt = 0;
    		}
    		//hideLoading();
    		if (req.responseJS.error) {
    			$('#blckRes').html('<div style="color:red;">'+req.responseJS.link+' - '+req.responseJS.error+'</div>' + $('#blckRes').html() );
    		} else {
    			generateSitemap.res_cnt++;
    			$('#blckRes').html('<div>'+generateSitemap.res_cnt+'. '+req.responseJS.link+' - ok</div>' + $('#blckRes').html() );			    
    		}
    		if (req.responseJS.end) {
    		    hideLoading();
    			if (req.responseJS.msg) {
    			    $('#blckRes').html('<div>'+req.responseJS.msg+'</div>' + $('#blckRes').html() );
    			}
    			$('#tdPath').html('<a href="'+req.responseJS.path+'">'+req.responseJS.path+'</a>');
    			$('#tdSize').html(req.responseJS.size);
    			$('#tdDate').html(req.responseJS.date);
    		} else {
    			setTimeout(function() {generateSitemap()}, 200);
    		}
    	}
    };
    req.open("GET", '{baseurl}', true);
    req.send({
    	action: '{action}',
    	generate: 1,
    	start: start ? 1 : 0,
    	step: $('#selStep').val()
   	});
   	showLoading();
}
</script>