<!-- START BLOCK : block_success -->
	<table cellpadding=5 cellspacing=0 border=0 width=100%>
	<tr valign=top>
	<td width=1%><img src=/i/1.gif width=8 height=1 border=0></td>
	<td class=tdcont id=padL15>
		<div>Ссылка успешно отправлена!</div>
		<br>
		
		<div class=tools>
		<span><a href="javascript:history.go(-2);"><img src="/i/back.gif" alt="Вернуться назад" width="22" height="17" border="0" id=tl>Вернуться назад</a></span
		</div>

	</td>
	</tr>
	</table>
	<img src=/i/1.gif width=1 height=1 border=0><br>	
<!-- END BLOCK : block_success -->