<!-- START BLOCK : level2_menu -->
<ul class="submenu">
<!-- START BLOCK : level2_menu_item -->

	<!-- START BLOCK : level2_menu_active_item -->
	<li page_id="{page_id}" page_num="{page_num}" is_last="{page_last}"><a href="{page_link}">{page_name}</a>
	<!-- END BLOCK : level2_menu_active_item -->

	<!-- START BLOCK : level2_menu_current_children_item -->
	<li class="curr" page_id="{page_id}" page_num="{page_num}" is_last="{page_last}"><a href="{page_link}">{page_name}</a>
	<!-- END BLOCK : level2_menu_current_children_item -->

	<!-- START BLOCK : level2_menu_current_item -->
	<li class="curr" page_id="{page_id}" page_num="{page_num}" is_last="{page_last}">{page_name}
	<!-- END BLOCK : level2_menu_current_item -->

	<!-- START BLOCK : level3_menu -->
			<ul>
		<!-- START BLOCK : level3_menu_item -->

				<!-- START BLOCK : level3_menu_active_item -->
				<li page_id="{page_id}" page_num="{page_num}" is_last="{page_last}"><a href="{page_link}">{page_name}</a></li>
				<!-- END BLOCK : level3_menu_active_item -->

				<!-- START BLOCK : level3_menu_current_item -->
				<li class="curr" page_id="{page_id}" page_num="{page_num}" is_last="{page_last}">{page_name}</li>
				<!-- END BLOCK : level3_menu_current_item -->

				<!-- START BLOCK : level3_menu_current_children_item -->
            	<li class="curr" page_id="{page_id}" page_num="{page_num}" is_last="{page_last}"><a href="{page_link}">{page_name}</a>
            	<!-- END BLOCK : level3_menu_current_children_item -->
		<!-- END BLOCK : level3_menu_item -->
			</ul>
	<!-- END BLOCK : level3_menu -->

<!-- END BLOCK : level2_menu_item -->
</ul>
<!-- END BLOCK : level2_menu -->
