<!-- START BLOCK : block_edit -->
<h2>{filename}</h2><br>
<form id="frmEdit" method="post" action="{baseurl}&action=updatetpl">
<input type="hidden" name="filename" value="{filename}">
<input type="hidden" name="tryon" value="0">
<textarea name="content" id="txtContetnt" style="width: 98%; height: 500px;">{content}</textarea>
<br>
<button type="submit"><img class="save" src="/i/admin/b_save.gif"/><span>{MSG_Save}</span></button>
<button onclick="this.form.tryon.value=1; return true;" type="submit"><img class="cancel" src="/i/admin/b_refresh.gif"/><span>{MSG_Try_on}</span></button>
<button onclick="cancel();" type="button"><img class="cancel" src="/i/admin/b_cancel.gif"/><span>{MSG_Cancel}</span></button>
</form>
<!-- END BLOCK : block_edit -->

<!-- START BLOCK : block_not_found -->
<div class="attn">{MSG_File_not_found}</div>
<!-- END BLOCK : block_not_found -->