<!-- START BLOCK : block_poll -->

<!-- START BLOCK : block_success -->
Спасибо за ответ, Ваше мнение важно для нас.<br><br>
<!-- END BLOCK : block_success -->
	
<!-- START BLOCK : block_no_success -->
Повторное голосование не допускается!<br><br>
<!-- END BLOCK : block_no_success -->

<p>{poll_question}</p>
<div class="grey">опрос проводится с {poll_begin_date} по {poll_end_date}</div>

<!-- START BLOCK : block_results -->
<p>
{variant} ({vote})<br>
<div class="poll_result" style="padding-right:9px"><div style="width: {result};">{result}</div></div>
</p><br>
<!-- END BLOCK : block_results -->

<!-- START BLOCK : block_other_results -->
<p><strong>Варианты других ответов:</strong></p>
    <!-- START BLOCK : block_other_result -->
    <p>{variant} ({vote})</p>
    <!-- END BLOCK : block_other_result -->

<!-- END BLOCK : block_other_results -->	
	
<!-- END BLOCK : block_poll -->