<form action="{form_action}" method="POST" name="delForm">
<b class="delw">{MSG_Removing_category} "<a href="{category_link}">{category_title}</a>" {MSG_deletes_its_banners}</b><br><br>
{MSG_Confirm_delete_category}<br><br>
<BUTTON name="d" value="{MSG_Delete}" type="submit"><img src="/i/admin/b_delete.gif" alt="" class="delete"><span>{MSG_Delete}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="javascript:history.go(-1);"><img src="/i/admin/b_cancel.gif" alt="" class="cancel"><span>{MSG_Cancel}</span></BUTTON>
</form>