<!-- START BLOCK : block_properties -->
<table>
<tr>
<td valign="top">{MSG_Showing_banner_category}:<br>
<select id="property1" name="property1">
<option value="all">{MSG_All_categories}...</option>
<!-- START BLOCK : category_list -->
<!-- START BLOCK : category_list_item -->
<option value="{id}">{title}</option>
<!-- END BLOCK : category_list_item -->
<!-- END BLOCK : category_list -->
</select>
</td>
</tr>

<tr>
<td valign="top">{MSG_Block_division}:<br>
<select id="property2" name="property2">
<option value="0">{MSG_no}</option>
<option value="1">{MSG_yes}</option>
</select>
</td>
</tr>

<!-- START BLOCK : block_delay -->
<tr>
<td valign="top">Задержка при смене баннеров в милисекундах:<br>
<input type="text" id="property3" name="property3" value="">
</td>
</tr>
<tr>
<td valign="top">Время затухания баннера в милисекундах:<br>
<input type="text" id="property4" name="property4" value="">
</td>
</tr>
<!-- END BLOCK : block_delay -->
</table>
<!-- END BLOCK : block_properties -->

<!-- INCLUDE BLOCK : tpl_block -->