<!-- -->
<script type="text/javascript" src="/js/multiselect.js"></script>
<script type="text/javascript" src="/js/reg_exp.js"></script>
<script type="text/javascript">
function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

	if (isEmpty(form.name.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_banner_name}';
	} else if (!isEmpty(form.max_showing.value) && form.max_showing.value < 0) {
	    SendItem= 1; AlertMessage = '{MSG_Shows_must_be_positive}';
	} else if (!isEmpty(form.show_from.value) && isEmpty(form.show_to.value)) {
	    SendItem= 1; AlertMessage = '{MSG_Enter_end_date}';
	} else if (isEmpty(form.show_from.value) && !isEmpty(form.show_to.value)) {
	    SendItem= 1; AlertMessage = '{MSG_Enter_begin_date}';
	<!-- START BLOCK : block_check_type1 -->
	} else if (isEmpty(form.url.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_URL}';
	<!-- END BLOCK : block_check_type1 -->

	<!-- START BLOCK : block_check_type2 -->
	} else if (isEmpty(form.text.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_HTML_source}';
	<!-- END BLOCK : block_check_type2 -->

	<!-- START BLOCK : block_check_type3 -->
	} else if (isEmpty(form.url.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_URL}';
	} else if (isEmpty(form.text.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_text}';
	<!-- END BLOCK : block_check_type3 -->

	<!-- START BLOCK : block_check_type4 -->
	} else if (isEmpty(form.url.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_URL}';
	} else if (isEmpty(form.text.value)) {
		SendItem= 1; AlertMessage = '{MSG_Enter_HTML_source}';
	<!-- END BLOCK : block_check_type4 -->

	}


	var selIdx = form.category.selectedIndex;
	if (form.category.options[selIdx].value == "0") {
		SendItem= 1; AlertMessage = '{MSG_Choose_category}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}

</script>

<!-- -->

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data">
<!--input name="id" type="hidden" size="40" value="{banner_id}"-->
<input name="type" type="hidden" size="40" value="{banner_type}">
<!--input name="start" type="hidden" size="40" value="{start}"-->
<input name="city" id="hdnCity" type="hidden" value="{cities}">
<div class="edit_form">
{MSG_Category} <span class="required_field">*</span>:<br>

<select name="category">
<option value="0">--  {MSG_Select_category}  --</option>
<!-- START BLOCK : block_categories -->
<option value="{category}"{selected}>{category_title}</option>
<!-- END BLOCK : block_categories -->
</select><br>

<table cellpadding="0" cellspacing="0" border="0" class="edit_form">

<tr>
<th align="left" valign="top">
    {MSG_Show_for_cities}:<br>
    <select multiple id="mslctDest" size="7" ondblclick="multiselectRemove('mslctDest', 'mslctSrc', 'hdnCity');" style="width:180px">
    <!-- START BLOCK : block_banner_cities -->
    <option value="{value}">{name}</option>
    <!-- END BLOCK : block_banner_cities -->
    </select>
</th>
<th align="left" valign="center">
    <button type="button" onclick="multiselectInsert('mslctDest', 'mslctSrc', 'hdnCity');" title="{MSG_Add}"><img src="/i/admin/b_movl_arr.gif" width="15" height="15"></button><br>
    <button type="button" onclick="multiselectRemove('mslctDest', 'mslctSrc', 'hdnCity');" title="{MSG_Delete}"><img src="/i/admin/b_movr_arr.gif" width="15" height="15"></button><br>
</th>
<th align="left" valign="top">
    {MSG_Cities}:<br>
    <select multiple id="mslctSrc" size="7" ondblclick="multiselectInsert('mslctDest', 'mslctSrc', 'hdnCity');" style="width:180px">
    <!-- START BLOCK : block_cities -->
    <option value="{value}">{name}</option>
    <!-- END BLOCK : block_cities -->
    </select>

</th>
</tr>
</table>

{MSG_Banner_type} <span class="required_field">*</span>:
<b>{banner_type_name}</b>

<br><br>
{MSG_Name} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="bname" size="50" value="{banner_name}"><br>

Где показывается: <select name="is_shop">
<option value="0" {is_shop_0}>супра</option>
<option value="1" {is_shop_1}>супрашоп</option>
</select><br>

<!-- START BLOCK : block_type1 -->

{MSG_URL} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="url" size="50" value="{banner_url}"><br>

{MSG_Banner}:&nbsp;{bannerfile_exists}<br>
<INPUT TYPE="FILE" class=w300 NAME="filename" size="30"><br>
<!-- END BLOCK : block_type1 -->


<!-- START BLOCK : block_type2 -->

{MSG_HTML_source} <span class="required_field">*</span>:<br>
<textarea cols="60" rows="8" class=w300 name="text">{banner_text}</textarea><br>

{MSG_Banner}:&nbsp;{bannerfile_exists}<br>
<INPUT TYPE="FILE" class=w300 NAME="filename" size="30"><br>

{MSG_Alternative_image}:&nbsp;{image_exists}<br>
<INPUT TYPE="FILE" class=w300 NAME="imagename" size="30"><br>

<!-- END BLOCK : block_type2 -->


<!-- START BLOCK : block_type3 -->

{MSG_URL} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="url" size="50" value="{banner_url}"><br>

{MSG_Text} <span class="required_field">*</span>:<br>
<textarea cols="60" rows="8" class=w300 name="text">{banner_text}</textarea><br>

<!-- END BLOCK : block_type3 -->

<!-- START BLOCK : block_type4 -->
{MSG_URL} <span class="required_field">*</span>:<br>
<input type="text" class=w300 name="url" size="50" value="{banner_url}"><br>

{MSG_Text} <span class="required_field">*</span>:<br>
<textarea id="text" cols="60" rows="8" class=w300 name="text">{banner_text}</textarea><br>
<!-- END BLOCK : block_type4 -->

{MSG_Show_no_more_than} <input type="text" name="max_showing" id="max_showing" size="6" value="{banner_max_showing}"> {MSG_times} ({MSG_zero_or_empty})<br>

<link rel="StyleSheet" href="/css/calendar-my-style.css" type="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>

{MSG_Show_from}
<input type="text" name="show_from" id="show_from" size="10" value="{banner_show_from}">
&nbsp;<BUTTON name="trigger_from" value="{MSG_Select}" type="button" id="trigger_from"><img src="/i/admin/b_cal.gif" alt="{MSG_Select}" class="select"><span>{MSG_Select}</span></BUTTON>
<BUTTON type="button"  name="cencel_from" onclick="this.form.show_from.value='';"><img src="/i/admin/ico_del.gif" alt="{MSG_Clear}" class="select"><span>{MSG_Clear}</span></BUTTON>
  {MSG_to}
<input type="text" name="show_to" id="show_to" size="10" value="{banner_show_to}">
&nbsp;<BUTTON name="trigger_to" value="{MSG_Select}" type="button" id="trigger_to"><img src="/i/admin/b_cal.gif" alt="{MSG_Select}" class="select"><span>{MSG_Select}</span></BUTTON>
<BUTTON type="button"  name="cencel_to" onclick="this.form.show_to.value='';"><img src="/i/admin/ico_del.gif" alt="{MSG_Clear}" class="select"><span>{MSG_Clear}</span></BUTTON>
({MSG_zero_or_empty})<br>

<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "show_from",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_from",    // ID of the button
	  mondayFirst : true
    }
  );
  Calendar.setup(
    {
      inputField  : "show_to",      // ID of the input field
      ifFormat    : "y-mm-dd",    // the date format
      button      : "trigger_to",    // ID of the button
	  mondayFirst : true
    }
  );
</script>

<span class="required_field">*</span> &#151; {MSG_required_fields}.<br><br>

</div>

<!--input type="button" name="cancel" value=" К списку " onClick="location.href='{cancel_link}';"-->
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="javascript:history.go(-1);"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>

<!--/-->

</form>
