<!-- -->
<script type="text/javascript">

function checkType(form) {
	var checked = 0;
  var types = form.type;
  for (var i = 0; i < types.length; i++) {
    var type = types[i];
    if (type.checked) {
			checked = 1;
    }
  }
	return checked;
}


function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;
	var rdbutton = checkType(form);

	var selIdx = form.category.selectedIndex;
	if (form.category.options[selIdx].value == "0") {
		SendItem= 1; AlertMessage = '{MSG_Choose_category}';
	} else if (rdbutton == 0) {
		SendItem= 1; AlertMessage = '{MSG_Select_banner_type}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>

<!-- -->
<table cellpadding="0" cellspacing="0" border="0" class="edit_form">
<form method="post" action="{form_action}" name="myForm">
<input name="id" type="hidden" size="40" value="{news_id}">
<input name="start" type="hidden" size="40" value="{start}">

<tr>
<th align="left" valign="top" nowrap>{MSG_Category} <span class="required_field">*</span>:<br>

<select name="category">
<option value="0">--  {MSG_Select_category}  --</option>
<!-- START BLOCK : block_categories -->
<option value="{category}"{selected}>{category_title}</option>
<!-- END BLOCK : block_categories -->
</select>
</th>
</tr>

<tr>
<th align="left" valign="top" nowrap class="radio_buttons">{MSG_Type} <span class="required_field">*</span>:<br>
<!-- START BLOCK : block_types -->
<input type="radio" name="type" class="checkb" id="id{banner_type}" value="{banner_type}"{checked}><label for="id{banner_type}">{banner_type_name}</label>
<!-- END BLOCK : block_types -->
</th>
</tr>

<tr>
<td class="edit_form"><br>
<span class="required_field">*</span> &#151; {MSG_required_fields}.<br><br>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="javascript:history.go(-1);"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
<BUTTON name="c" value="{MSG_Next}" type="button" onClick="checkForm(this.form);"><span>{MSG_Next}</span><img src=/i/admin/b_movr_arr.gif class=arrow></BUTTON>
</td>
</tr>
</table>
<!--/-->

</form>
