<form>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>{MSG_Activ}</th>
<th>{MSG_Ed}</th>
<th>{MSG_Rights}</th>
<th width="25%">{MSG_Name}</th>
<th width="25%">{MSG_Type}</th>
<th>{MSG_Shows}</th>
<th>{MSG_Max_show}</th>
<th>{MSG_Clicks}</th>
<th>{MSG_from}</th>
<th>{MSG_to}</th>
<th>{MSG_Del}</th>
<th align="left">&nbsp; <input type="checkbox" name="check_all" value="1" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_banners -->
<tr valign="top" onclick="switchCheckbox(this)" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center">{change_status_action}</td>
<td align="center">{banner_edit_action}</td>
<td align="center">{banner_edit_rights_action}</td>
<td nowrap>{banner_name}&nbsp;</td>
<td>{banner_type}&nbsp;</td>
<td>{banner_showing}&nbsp;</td>
<td>{banner_max_showing}&nbsp;</td>
<td style="color: #f60;">{banner_clicking}&nbsp;</td>
<td>{banner_show_from}&nbsp;</td>
<td>{banner_show_to}&nbsp;</td>
<td align="center">{banner_del_action}</td>
<td>&nbsp;
<!-- START BLOCK : block_check -->
<input onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{banner_id}">
<!-- END BLOCK : block_check -->
</td>
</tr>
<!-- END BLOCK : block_banners -->
</table>
<br>
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate_publication}</option>
<option value="suspend">{MSG_Suspend_publication}</option>
<option value="delete">{MSG_Delete}</option>
</select> &nbsp;
<button type="button" onclick="doAction(this.form);">{MSG_Execute}</button>
</form>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->