<!-- -->
<script type="text/javascript">
if (Node) {
 if (!Node.prototype) {
  var node = document.createTextNode('');
  var Node = node.constructor;
 }
 Node.prototype = Node;
}

if (window.Node) {
  Node.prototype.removeNode = function(removeChildren) {
    var self = this;
    if (Boolean(removeChildren))
      return this.parentNode.removeChild( self );
    else {
      var r=document.createRange();
      r.selectNodeContents(self);
      return this.parentNode.replaceChild(r.extractContents(),self);
    }
  }
  Node.prototype.swapNode = function(swapNode) {
    var self = this;
    var n = self.cloneNode(true);
    var nt = swapNode.cloneNode(true);
    self.parentNode.insertBefore(nt,self);
    self.removeNode(true);
    swapNode.parentNode.insertBefore(n,swapNode);
    swapNode.removeNode(true);
  }
}
function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

	if (form.question.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_question}';
	} else if (form.begin_date.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_date_begin}';
	} else if (form.end_date.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_date_end}';
	}
	/*
	for (i=1; i<l_in_p.length; i++) {
		eval('val = form.variants\[' + l_in_p[i] + '\].value');
		alert(val);
	}*/
	/*
	if (form.active.checked == true && last_pos < 2) {
		SendItem= 1; AlertMessage = 'Вы не можете публиковать опрос меньше\n чем с двумя вариантами ответа';
	}
	*/
	
  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>
<form method="post" action="{form_action}" name="myForm" id="myForm">
<input name="id" type="hidden" size="40" value="{poll_id}">
<input name="start" type="hidden" size="40" value="{start}">
<table cellpadding="0" cellspacing="0" border="0" width="100%">


<tr>
<th colspan=2 align="left" valign="top" nowrap><br>{MSG_Question} <span class="required_field">*</span>:<br>
<textarea cols="60" rows="3" class=w300 name="question">{poll_question}</textarea><br><br>
</th>
</tr>


<tr>
<th width="15%" align="left" valign="top" nowrap>{MSG_Date_begin} <span class="required_field">*</span>:<br></th>
<td valign="top">
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<input type="text" name="begin_date" id="begin_date" style="width: 100px;" value="{calendar_poll_begin_date}">&nbsp;
<BUTTON name="s" value="{MSG_Select}" type="button" id="trigger1"><img src=/i/admin/b_cal.gif class=select><span>{MSG_Select}</span></BUTTON>

<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "begin_date",      // ID of the input field
      ifFormat    : "dd.mm.y",    // the date format
      button      : "trigger1",    // ID of the button
			mondayFirst : true
//      daFormat    : "M d, y",    // the date format
//			displayArea : displayDate

    }
  );


</script>
</td>
</tr>



<tr>
<th align="left" valign="top" nowrap>{MSG_Date_end} <span class="required_field">*</span>:</td>
<td valign="top">
<input type="text" name="end_date" id="end_date" style="width: 100px;" value="{calendar_poll_end_date}">&nbsp;
<BUTTON name="s" value="{MSG_Select}" type="button" id="trigger2"><img src=/i/admin/b_cal.gif class=select><span>{MSG_Select}</span></BUTTON>
<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "end_date",      // ID of the input field
      ifFormat    : "dd.mm.y",    // the date format
      button      : "trigger2",    // ID of the button
			mondayFirst : true
//      daFormat    : "M d, y",    // the date format
//			displayArea : displayDate

    }
  );

date = new Date();
if (document.getElementById('myForm').begin_date.value == "") {
	document.getElementById('myForm').begin_date.value = date.getDate() + "." + (date.getMonth()+1) + "." + date.getFullYear();
}

if (document.getElementById('myForm').end_date.value == "") {
	document.getElementById('myForm').end_date.value = date.getDate() + "." + (date.getMonth()+1) + "." + date.getFullYear();
}
</script>
</td>
</tr>


<tr>
<th align="left" valign="top" nowrap><label for="other_variant"><br>{MSG_Another_variant}(либо тип текстовое поле):</label></td>
<td><br>
<input type="checkbox" value="1" id="other_variant" name="other_variant"{other_variant_checked}><input type="text" value="{other_variant}"  name="other_variant">
</td>
</tr>
    <tr>
        <th align="left" valign="top" nowrap><label for="other_variant"><br>Множественный выбор:</label></td>
        <td><br>
            <input type="checkbox" value="1" id="type" name="type"{type}>
        </td>
    </tr>
<tr>
<th align="left" valign="top" nowrap><br>{MSG_Variants} <span class="required_field">*</span>:</td>
<td><br>
<BUTTON name="s" value="{MSG_Add}" title="{MSG_Add}" type="button" onClick="addElement();return false;"><img src=/i/admin/b_select.gif class=select><span>{MSG_Add}</span></BUTTON><br><br>
</td>
</tr>

<tr>
<td align="right" valign="top" nowrap></td>
<td>
<DIV id="variants" class="edit_form"></DIV>
</td>
</tr>


<script>
var max_id = 0;
var p_in_l = new Array (); // индекс массива - id эелемента в базе, значение - на каком месте находится в списке
var val = new Array (); // индекс массива - id эелемента в базе, значение - выводимый текст
var l_in_p = new Array (); // здесь наоборот, индекс - место в списке, значение - id элемента, который на это место поставлен

// картинки 
var img_url = 'i/admin/';
var img_up_url = img_url + 'ico_listup.gif';
var img_up_na_url = img_url + 'ico_ligrup.gif';
var img_down_url = img_url + 'ico_listdw.gif';
var img_down_na_url = img_url + 'ico_ligrdw.gif';
var img_remove_url = img_url + 'ico_del.gif';

// Формируем массив, соответствующий последовательности отображения элементов на экране:
<!-- START BLOCK : fill_array -->
l_in_p[{v_iterator}]={v_id};
val[{v_id}]='{v_answer}';
p_in_l[{v_id}]={v_iterator};

<!-- END BLOCK : fill_array -->
drawBlock(); // отобразить формочки

function up(id) {
// id - id блока
	 last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
	
	// на какой позиции стоит элемент с указанным id
   pos_from=p_in_l[id]; // переходим c места
   if(pos_from==1) return;
	 onImgs();
		
	 // меняем местами элементы в массивах
   id_to=l_in_p[pos_from-1]; // кто на месте куда мы целим
	 
   p_in_l[id_to]=pos_from;
   p_in_l[id]=pos_from-1;

   l_in_p[pos_from-1]=id;
   l_in_p[pos_from]=id_to;
	 
   var arg1=document.getElementById('row_' + id_to);
   var arg2=document.getElementById('row_' + id );

   if (arg1 != null && arg2 != null) {
   	arg1.swapNode(arg2);
   }
   offImgs();
   return true;
}


function down(id) {
// id - id блока
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
	 
	// на какой позиции стоит элемент с указанным id
   pos_from=p_in_l[id]; // переходим c места
   if(pos_from==last_pos) return;
	 onImgs();
	 
	 // меняем местами элементы в массивах
   id_to=l_in_p[pos_from+1]; // кто на месте куда мы целим
	 
   p_in_l[id_to]=pos_from;
   p_in_l[id]=pos_from+1;

   l_in_p[pos_from+1]=id;
   l_in_p[pos_from]=id_to;

   var arg1 = document.getElementById('row_' + id_to);
   var arg2 = document.getElementById('row_' + id);

   if (arg1 != null && arg2 != null) {
		 arg1.swapNode(arg2);
   }
   offImgs();
   return true;
}


function remove(id) {
	if (confirm('{MSG_Confirm_delete_this_variant}')) {
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
		y = p_in_l[id]; // на каком месте удаляемый элемент 
		
		// механизм удаления блока такой: смещаем его в самый низ, 
		// последовательно перебирая все нижележащие элементы и вызывая функцию down,
		// потом удаляем из html-кода и массивов 
		while(y < last_pos) {
			down(l_in_p[y]);
			y++;
		}
		
		// 'true' possible value specifies removal of childNodes also
		var remove_elm = eval("document.getElementById('row_" + id + "')");
		if (remove_elm != null) {
			remove_elm.removeNode(true);
			l_in_p.pop();
			p_in_l[id] = null;
			val[id] = null;
			offImgs();
		}	 
	}
	return true;
}



function onImgs() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
	
	if (l_in_p[1] != null) {
		var img=eval("document.getElementById('up_img_" + l_in_p[1] + "')");
		//img.src = img_up_url;
		//img.style.cursor = "hand";
	}
	
	if (l_in_p[last_pos] != null) {
		var img=eval("document.getElementById('down_img_" + l_in_p[last_pos] + "')");
		//img.src = img_down_url;
		//img.style.cursor = "hand";
	}
	
	return true;
}


function offImgs() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов

	if (l_in_p[1] != null) {
		var img=eval("document.getElementById('up_img_" + l_in_p[1] + "')");
		//img.src = img_up_na_url;
		//img.style.cursor = "";
	}
	
	if (l_in_p[last_pos] != null) {
		var img=eval("document.getElementById('down_img_" + l_in_p[last_pos] + "')");
		//img.src = img_down_na_url;
		//img.style.cursor = "";
	}
	
	return true;
}


function addElement() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
	onImgs();
	
	max_id = max_id + 1
	new_elm_id = max_id;
	last_pos = last_pos+1;
	
	// задаем значения в массивах для нового элемента
	l_in_p[last_pos] = new_elm_id;
	p_in_l[new_elm_id] = last_pos;
	val[new_elm_id] = '';
	
	drawElement(last_pos);
	offImgs();
	
	return true;
}


function drawBlock() {
	last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
	
	for (i=1; i<l_in_p.length; i++) {
		if (l_in_p[i] && l_in_p[i] > max_id) max_id = l_in_p[i];
		drawElement(i);
	}
	
	offImgs();
}


function drawElement(i) {
// i - это индекс в массиве, где значение элементов массива есть id
	var id = l_in_p[i];
	var id_elm = 'row_' + id;
	var id_img = 'img_' + id;

	
	var img_remove = '<img src="' + img_remove_url + '" alt="{MSG_Delete}" border=0 vspace=1 hspace=1 align=absmiddle  onClick="remove(' + id + ');" style="cursor: hand">';

	var img_up = '<img src="' + img_up_url + '" alt="{MSG_Up}" border=0 vspace=1 hspace=1 align=absmiddle id="up_' + id_img + '" onClick="up(' + id + ');" style="cursor: hand">';

	var img_down = '<img src="' + img_down_url + '" alt="{MSG_Down}" border=0 vspace=1 hspace=1 align=absmiddle id="down_' + id_img + '" onClick="down(' + id + ');" style="cursor: hand">';

	var new_elm =	'' +
	'<span id="' + id_elm + '">' + '<input type="text" class=w300 name="variants[' + id + ']" value="' + val[id] + '" size="50">&nbsp;' + img_up + img_down + img_remove + '</span><br>';
    var el = document.createElement('DIV');
	el.innerHTML = new_elm;
	document.getElementById('variants').appendChild(el);
	//alert(document.getElementById('variants').innerHTML);
	//document.forms["myForm"].elements[document.forms["myForm"].elements.length] = el;
	return true;
}


function showList() {
		last_pos = (l_in_p.length == 0) ? 0 : l_in_p.length - 1; // кол-во элементов
		var order = '';
		for(i=1;i<=last_pos;i++) {
					
			order = order + 
			' {MSG_Place}=' + p_in_l[l_in_p[i]] + 
			' {MSG_ID}=' + l_in_p[i] +
			' {MSG_Value}=' + val[l_in_p[i]] +"\n";
			
		}
		if (order) alert(order);
	
	return true;
}
</script>

<tr>
<td colspan="2"><br></td>
</tr>

<tr>
<td>&nbsp;</td>
<td class="edit_form">
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);return false;"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</td>
</tr>
</table>

</form>

