<!-- START BLOCK : warning -->
<div class="warning">{txt}</div>
<!-- END BLOCK : warning -->
<form>
    <a href="/admin.php?lang=rus&name=poll&action=stats&id=all&start=1">Показать результат по текущему опросу</a>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>{MSG_Activ}</th>
<th>{MSG_Ed}</th>
<th>{MSG_Rights}</th>
<th>{MSG_Date_begin}</th>
<th>{MSG_Date_end}</th>
<th width="99%">{MSG_Question}</th>
    <!--<th>{MSG_Shows}</th>-->
    <th>{MSG_Del}</th>
    <th align="left"><input type="checkbox" name="check_all" value="1" onclick="checkAll(this.form);"></th>
    </tr>
    <!-- START BLOCK : block_polls -->
<tr onclick="switchCheckbox(this)" valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center">{change_status_action}</td>
<td align="center">{poll_edit_action}</td>
<td align="center">{poll_edit_rights_action}</td>
<td align="center" valign="top" nowrap>{poll_begin_date}</td>
<td align="center" valign="top" nowrap>{poll_end_date}</td>
<td valign="top"><a href="{poll_link}">{poll_question}</a></td>
    <!--<td valign="top">{poll_hits}&nbsp;</td>-->
<td align=center>{poll_del_action}</td>
<td>
<!-- START BLOCK : block_check -->
<input style="height: auto; padding: 0;" onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{poll_id}">
<!-- END BLOCK : block_check -->
</td>
</tr>
<!-- END BLOCK : block_polls -->
</table>
<br>
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate}</option>
<option value="suspend">{MSG_Suspend}</option>
<option value="delete">{MSG_Delete}</option>
</select> &nbsp;
<button onclick="doAction(this.form);">{MSG_Execute}</button>
</form>

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->