<style type="text/css">
#tblSuppStat td div div { background:transparent url(/i/admin/grad.gif) repeat-y scroll 0 0;border:none;float:left;margin-bottom:2px;}
#tblSuppStat td div { height:20px;width:250px;}
    .all_c{
        max-height: 150px;
        overflow-y: auto;
    }
    .another_c{
        max-height: 120px;
        overflow-y: auto;
    }
    .header_bg {
        background: #83c2ed;
    }
.users_poll {
    max-height: 320px;
    overflow-y: auto;
    }
</style>
<!-- START BLOCK : block_results_table -->
<table class="center poll_table all_c" id="tblSuppStat">
    <tr><th colspan="4" align="left" class="header_bg">{MSG_Our_question}: {poll_question} ({MSG_poll_from} {poll_begin_date} {MSG_to} {poll_end_date}):</th></tr>
<!-- START BLOCK : block_results -->
	<tr><td colspan="2">{variant} </td>
	<td>{result} ({vote})</td>
	<td width="260"><div><div style="background-color:#fadd37; width:{result};">&nbsp;</div></div></td>
	</tr>
<!-- END BLOCK : block_results -->
</table>
    <table class="center poll_table another_c" >
<!-- START BLOCK : block_other_results -->

<tr><th colspan="4" align="left">{MSG_Another_answers}:</th></tr>
	<!-- START BLOCK : block_other_result -->
	<tr>
	<td align=center><a href="{variant_del_link}" onclick="return confirm('{MSG_Confirm_delete_this_answer}');"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
	<td colspan="2" width="260">({vote}) {ids}</td>
	<td>{variant}</td>
	</tr>
	<!-- END BLOCK : block_other_result -->

<!-- END BLOCK : block_other_results -->
    </table>

<!-- END BLOCK : block_results_table -->
<h3>Пользователи которые прошли опрос</h3>
<table cellpadding=2 cellspacing=2 border=0 class='center users_poll' width=98% >
    <tr height="20">
        <th>Имя</th>
        <th>Email</th>
        <th>Возрост</th>
        <th>Пол</th>
        <th>Дата</th>
    </tr>
    <!-- START BLOCK : block_users -->
    <tr onclick="" valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
        <td align="center">{name}</td>
        <td align="center">{email}</td>
        <td align="center" valign="top" nowrap>{age}</td>
        <td align="center" valign="top" nowrap>{sex}</td>
        <td align="center" valign="top" nowrap>{date}</td>
    </tr>
    <!-- END BLOCK : block_users -->
</table>