<!-- START BLOCK : block_properties -->
<table>
<!-- START BLOCK : block_per_page -->
<tr>
	<td valign="top">{MSG_Polls_per_page}:<br>
		<input type="text" name="property1" id="property1" value="" size="5">
	</td>
</tr>
<!-- END BLOCK : block_per_page -->
<!-- START BLOCK : block_poll -->
<tr>
	<td valign="top">{MSG_Select_poll}:<br>
		<select name="property2" id="property2">
<!-- START BLOCK : block_poll_list -->
<option value="{value}">{name}</option>
<!-- END BLOCK : block_poll_list -->		
		</select>
	</td>
</tr>
<!-- END BLOCK : block_poll -->
</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->

<!-- INCLUDE BLOCK : tpl_block -->