<!-- START BLOCK : ctgr -->
<p><a href="{baseurl}&action=showlist">{MSG_article}</a> » {title}</p>
<!-- END BLOCK : ctgr -->

<!-- INCLUDE BLOCK : search_form -->
<div class="clear"></div>

<!-- START BLOCK : categoties -->

<!-- START BLOCK : ctgr_list -->
<h2>{MSG_Ctgrs}</h2>
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
<tr height="20">
	<th width="36px">{MSG_Ed}</th>
	<th>{MSG_Title}</th>
	<th width="36px">{MSG_Del}</th>
</tr>
<!-- START BLOCK : ctgr_list_item -->
<tr>
	<td><a href="{baseurl}&action=ctgr_set&id={id}"><img width="15" border="0" height="18" title="{MSG_Edit}" alt="{MSG_Edit}" src="/i/admin/ico_edit.gif"></a></td>
	<td><a href="{baseurl}&action=showlist1&ctgr_id={id}">{title}</a></td>
	<td><a onclick="return confirm('{MSG_Delete} ?')" href="{baseurl}&action=ctgr_del&id={id}"><img width="15" border="0" height="18" title="{MSG_Delete}" alt="{MSG_Delete}" src="/i/admin/ico_del.gif"></a></td>
</tr>
<!-- END BLOCK : ctgr_list_item -->
</table>
<!-- END BLOCK : ctgr_list -->
<!-- END BLOCK : categoties -->
<br>
<h2>{MSG_Art_list}</h2>
<form method="post" action="{baseurl}&action=changectgr">
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
<tr height="20">
	<th width="36px">{MSG_Activ}</th>
	<th width="36px">{MSG_Ed}</th>
	<th width="36px">{MSG_Rights}</th>
	<th width="45%">{MSG_Title}</th>
	<th width="36px">Поддержка</th>
	<th width="45%">{MSG_Status}</th>
	<th width="36px">{MSG_Del}</th>
	<th align="left" width="36px"><input type="checkbox" name="check_all" value="1" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_pages_list -->
<tr onclick="switchCheckbox(this)" valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align="center">{change_status_action}</td>
<td align="center">{article_edit_action}</td>
<td align="center">{article_edit_rights_action}</td>
<td>{article_title}</td>
<td>
<a href="{link}"><img width="15" height="15" border="0" title=""  src="/i/admin/{img}"></a>
</td>
<td>
<!-- START BLOCK : block_not_uses -->
{MSG_Not_uses}
<!-- END BLOCK : block_not_uses -->
<!-- START BLOCK : block_one -->
<a href="{edit_link}" title="{title}">{address}</a>
<!-- END BLOCK : block_one -->
<!-- START BLOCK : block_more -->
<a href="#" onclick="$(this).next('.page-list').fadeIn('normal'); return false;">{MSG_Of_pages} - {page_cnt}</a>
<div class="hide page-list">
<!-- START BLOCK : block_list -->
<!-- START BLOCK : block_item -->
 <a href="{edit_link}" title="{title}">{address}</a>,
<!-- END BLOCK : block_item -->
<!-- END BLOCK : block_list -->
<br><a href="3" onclick="$(this).parent('.page-list').fadeOut('normal'); return false;">{MSG_Hide}</a>
</div>
<!-- END BLOCK : block_more -->
</td>
<td align="center">{article_del_action}</td>
<td style="height: 32px;">
<!-- START BLOCK : block_check -->
<input style="height: auto; padding: 0;" onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{article_id}">
<!-- END BLOCK : block_check -->
</td>
</tr>
<!-- END BLOCK : block_pages_list -->
<tr >
<th align="left"  colspan="7" style="height: 100px;">
<select id="new_ctgr" name="new_ctgr">
<option value="0">-- Выберите категорию для перемещения статей --</option>
<option value="none">без категории</option>
<!-- START BLOCK : block_ctgr_list -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : block_ctgr_list -->
</select> 
&nbsp;&nbsp;<button type="submit">Переместить</button> <br><br />
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate}</option>
<option value="suspend">{MSG_Suspend}</option>
<option value="delete">{MSG_Delete}</option>
</select>&nbsp;&nbsp;
<button type="button" onclick="doAction(this.form);">{MSG_Execute}</button>
<br/>
</th>
</tr>
</table>
<br>
</form>

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->
<br>
<!-- START BLOCK : AddCtg -->
<h2>Добавить город</h2>
<form method="post" action="{baseurl}" class="edit_form" enctype="multipart/form-data" id="frmCtgr">
    <input type="hidden" name="action" value="ctgr_set">
    <input type="text" name="title" value="{title}" id="txtCtgrTitl" class="required" style="width:300px;">
    Страна:
    <select name="country">
        <!-- START BLOCK : ctgr_country -->
        <option value="{id}" {select}>{title}</option>
        <!-- END BLOCK : ctgr_country -->
    </select>
    <BUTTON type="submit" class="create" >Добавить</BUTTON>


</form>
<script type="text/javascript">
    $(function() {
        $('#frmCtgr').submit(function(){
            return checkForm(this);
        });
    })
</script>
<!-- END BLOCK : AddCtg -->