<script type="text/javascript" language="JavaScript">
function do_save() {
	var SendItem= 0;
	var AlertMessage;
	if (myForm.title.value == '') {
		SendItem= 1;
		AlertMessage = '{MSG_Enter_title}';
	}
	if (!SendItem) {
		myForm.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>
<form method="post" action="{form_action}" name="myForm" class="editor-form" enctype="multipart/form-data">
<input type="hidden" name="tryon" value="0">
<div class="edit_form" style="text-align: left;">
<!-- START BLOCK : block_commentable -->
<fieldset style="width: 300px; float: right;"><legend>{MSG_Comments}</legend>
<select name="commentable">
<!-- START BLOCK : block_comment_access -->
<option value="{id}" {selected}>{title}</option>
<!-- END BLOCK : block_comment_access -->
</select>
</fieldset>
<!-- END BLOCK : block_commentable -->

<p class="form-editor-header" style="margin: 0 0 10px; line-height: 20px;">
{MSG_Title} <span style="display: none;" class="required_field">*</span>:<br>
<input style="margin-bottom: 0;" type="text" lass=w300 name="title" value="{title}" size="80" maxlength="255">
</p>

<label for="selCtgrId">{MSG_Ctgr}:</label><br>
<select name="ctgr_id" id="selCtgrId">
<option value="">{MSG_Select}</option>
<!-- START BLOCK : block_ctgr_list -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : block_ctgr_list -->

<textarea id="txt_content" name="txt_content" rows="4" cols="30" class="tinymce">{text}</textarea>
</div>
<div class="form-editor-buttons">
	<BUTTON type="button" onClick="return do_save(this.form); return false;"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
	<BUTTON type="button" onClick="this.form.tryon.value=1; do_save(this.form); return false;"><img src=/i/admin/b_refresh.gif class=cancel><span>{MSG_Try_on}</span></BUTTON>
	<BUTTON type="button" onClick="return cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
</div>
<!--<span class="required_field">*</span> &#151; {MSG_required_fields}-->
</form>