<!-- START BLOCK : block_properties -->
<table>
<tr>
	<td valign="top">{MSG_Ctgrs}:<br>
		<select id="selCtgr">
			<option value="">{MSG_Select}</option>	
			<!-- START BLOCK : block_ctgr_list -->
			<option value="{id}">{title}</option>
			<!-- END BLOCK : block_ctgr_list -->
		</select><br>
		{MSG_Article}:<br>
		<select id="property1" name="property1" onchange="setURL('property1');">
			<option value="">{MSG_Select}</option>
			<!-- START BLOCK : block_art_list -->
			<option value="{id}">{title}</option>
			<!-- END BLOCK : block_art_list -->
		</select>
<!-- START BLOCK : block_page_edit -->
<img style="cursor: hand" alt="{MSG_go_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="/i/admin/ico_edit.gif" border="0">
<!-- END BLOCK : block_page_edit -->
</tr>

<!-- START BLOCK : block_paging_property -->
<tr>
	<td valign="top">{MSG_Pager}:<br>
		<select id="property2" name="property2">
			<option value="0">{MSG_no}</option>
			<option value="1">{MSG_yes}</option>
		</select>
	</td>
</tr>
<!-- END BLOCK : block_paging_property -->

</table>
<script type="text/javascript">
var gCtgrArt = {json_ctgr_art_list};
$('#selCtgr').change(function() {
    var el = $('#property1').get(0), val = $('#property1').val();
    el.options.length = 1;
    var ctgr_id = $(this).val();    
    if (gCtgrArt[ctgr_id]['art_list']) {
        for (var i in gCtgrArt[ctgr_id]['art_list']) {
            el.options[el.options.length] = new Option(gCtgrArt[ctgr_id]['art_list'][i], i, false, i==val);
        }
    }
});
var art_id = $('#property1').val();
if ('0' != art_id) {
    for (var i in gCtgrArt) {
        if (gCtgrArt[i]['art_list'] && gCtgrArt[i]['art_list'][art_id]) {
            $('#selCtgr').val(i);
            $('#selCtgr').change();
        }
    }
}
</script>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}
<!-- END BLOCK : block_properties_none -->

<!-- INCLUDE BLOCK : tpl_block -->