<form method="post" action="{baseurl}" class="edit_form" enctype="multipart/form-data" id="frmCtgr">
<input type="hidden" name="action" value="ctgr_set">
<input type="hidden" name="id" value="{id}">
<input type="text" name="title" value="{title}" id="txtCtgrTitl" class="required" style="width:300px;">
    <h2>Страна:</h2>
    <select name="country">
    <!-- START BLOCK : ctgr_country -->
    <option value="{id}" {select}>{title}</option>
        <!-- END BLOCK : ctgr_country -->
    </select>
<BUTTON type="submit" class="create" >{MSG_Save}</BUTTON>


</form>
<script type="text/javascript">
$(function() {
    $('#frmCtgr').submit(function(){
        return checkForm(this);
    });
})
</script>