<h2>Редактировать страны</h2>
<form method="post" action="{baseurl}" class="edit_form" enctype="multipart/form-data" id="frmCtgr">
<input type="hidden" name="action" value="ctgr_set_country">
<input type="hidden" name="id" value="{id}">
<input type="text" name="title" value="{title}" id="txtCtgrTitl" class="required" style="width:300px;">
<BUTTON type="submit" class="create" >Сохранить</BUTTON>


</form>
<script type="text/javascript">
$(function() {
    $('#frmCtgr').submit(function(){
        return checkForm(this);
    });
})
</script>