<!-- START BLOCK : ctgr -->
<p><a href="{baseurl}&action=showlist">{MSG_article}</a> » {title}</p>
<!-- END BLOCK : ctgr -->

<!-- INCLUDE BLOCK : search_form -->
<div class="clear"></div>

<!-- START BLOCK : categoties -->

<!-- START BLOCK : ctgr_list -->

<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
<tr height="20">
	<th width="36px">{MSG_Ed}</th>
	<th>{MSG_Title}</th>
	<th width="36px">{MSG_Del}</th>
</tr>
<!-- START BLOCK : ctgr_list_item -->
<tr>
	<td><a href="{baseurl}&action=ctgr_set_country&id={id}"><img width="15" border="0" height="18" title="{MSG_Edit}" alt="{MSG_Edit}" src="/i/admin/ico_edit.gif"></a></td>
	<td>{title}</td>
	<td><a onclick="return confirm('{MSG_Delete} ?')" href="{baseurl}&action=ctgr_del_country&id={id}"><img width="15" border="0" height="18" title="{MSG_Delete}" alt="{MSG_Delete}" src="/i/admin/ico_del.gif"></a></td>
</tr>
<!-- END BLOCK : ctgr_list_item -->
</table>
<!-- END BLOCK : ctgr_list -->
<!-- END BLOCK : categoties -->

<!-- START BLOCK : AddCtg -->
<h2>Добавить страну</h2>
<form method="post" action="{baseurl}" class="edit_form" enctype="multipart/form-data" id="frmCtgr">
    <input type="hidden" name="action" value="ctgr_set_country">
    <input type="text" name="title" value="{title}" id="txtCtgrTitl" class="required" style="width:300px;">
    <BUTTON type="submit" class="create" >Добавить</BUTTON>
</form>
<script type="text/javascript">
    $(function() {
        $('#frmCtgr').submit(function(){
            return checkForm(this);
        });
    })
</script>
<!-- END BLOCK : AddCtg -->