<!-- START BLOCK : block_edit_article_menu_start -->
<script type="text/javascript" language="JavaScript" src="/mod/article/js/articleAdm.js"></script>
<div class="module-tools">
<div class="admin-edititem">
<div class="admin-shadow"></div><div class="admin-icon admin-hidden" onmouseover="adminShowShadow(this,event)" onmouseout="adminHideMenu(this)"><img onclick="adminShowMenu(this)" class="admin-icon" src="/i/admin/block_item.gif" alt="Свойства элемента" name="mod_article_{article_id}" title=""><div class="admin-popupmenu">
<h6>Статья</h6>
<ul>
<!-- START BLOCK : block_article_add -->
<li><a href="" onclick="return showEditDiv(this,'article','add',0,'{adminurl}');">Создать</a>
<!-- END BLOCK : block_article_add -->
<!-- START BLOCK : block_article_edit -->
<li><a href="" onclick="return showEditDiv(this,'article','edit',{article_id},'{adminurl}');">Редактировать</a>
<!-- END BLOCK : block_article_edit -->
<!-- START BLOCK : block_article_activate -->
<li id="article_{article_id}_activate" style="display: {activate_display}">
	<a href="" onclick="return doActivate(this,'article','activate',{article_id},'{adminurl}');">Публиковать</a>
<li id="article_{article_id}_suspend" style="display: {suspend_display}">
	<a href="" onclick="return doActivate(this,'article','suspend',{article_id},'{adminurl}');">Не публиковать</a>
<!-- END BLOCK : block_article_activate -->
<!-- START BLOCK : block_article_rights -->
<li><a href="" onclick="return showEditDiv(this,'article','editrights',{article_id},'{adminurl}');">Права</a>
<!-- END BLOCK : block_article_rights -->
<!-- START BLOCK : block_article_delete -->
<li><a href="" onclick="if(confirm('Вы действительно желаете удалить выбранную статью?')) doDelete(this,'article','del',{article_id},'{adminurl}'); return false;">Удалить</a>
<!-- END BLOCK : block_article_delete -->
</ul></div>
</div></div>
<!-- END BLOCK : block_edit_article_menu_start -->
<!-- START BLOCK : block_pages -->
<ol>
<!-- START BLOCK : block_page_row -->
<li>
<!-- START BLOCK : block_page_title -->
<a href="{page_link}">{page_title}</a>
<!-- END BLOCK : block_page_title -->
<!-- START BLOCK : block_page_title_current -->
{page_title}
<!-- END BLOCK : block_page_title_current -->
</li>
<!-- END BLOCK : block_page_row -->
</ol>
<!-- END BLOCK : block_pages -->

<!-- START BLOCK : block_article -->
{text}
<!-- END BLOCK : block_article -->

<!-- START BLOCK : block_pages_article -->
<h2>{title}</h2>
{text}
<!-- START BLOCK : nav -->
	<!-- страницы -->
		<div class="pages"><span>Страницы:</span> {nav_string}</div>
	<!--/страницы -->
	<br>
<!-- END BLOCK : nav -->

<!-- END BLOCK : block_pages_article -->

<!-- INCLUDE BLOCK : comments -->

<!-- START BLOCK : block_empty_content -->
<img src="/i/admin/0.gif" height=18 border=0>
<!-- END BLOCK : block_empty_content -->
<!-- START BLOCK : block_edit_article_menu_end -->
</div>
<!-- END BLOCK : block_edit_article_menu_end -->