<!-- START BLOCK : block_broken_links -->
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
<th>№</th>
<th>{MSG_Broken_link}</th>
<th>{MSG_On_the_page}</th>
</tr>
<form>
<!-- START BLOCK : block_broken_link -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td>{broken_link_id}</td>
<td><span style="color: red;">x</span>&nbsp;&nbsp;<a href="{broken_link}" target="_blank">{broken_link}</a></td>
<td><span style="color: green;">x</span>&nbsp;&nbsp;<a href="{broken_link_referer}" target="_blank">{broken_link_referer}</a></td>
</tr>
<!-- END BLOCK : block_broken_link -->
</form>
</table>
<!-- END BLOCK : block_broken_links -->

<!-- START BLOCK : nav -->
<div class=pagesnum>{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->

<div class=attn>{MSG_Broken_links_list_info}</div>