<table cellpadding=2 cellspacing=0 border=0 class=>
<form>
<tr valign=top>
<td>&nbsp;</td>
<td>
<BUTTON name="i" value="{MSG_Begin_index}" type="button" onClick="javascript:if(confirm('Вы действительно хотите проиндексировать сайт?')){url = '{indexer_launch}'; if(document.frames){document.frames.indexer.window.location.href=url; } else { document.getElementById('indexer').contentWindow.location.href=url; }}"><img src=/i/admin/b_create.gif class=create><span>{MSG_Begin_index}</span></BUTTON>
</td>
</tr>
</form>
</table>


<iframe src="{indexer_begin}" name="indexer" id="indexer" width="100%" height="400" frameborder="0" style="Border-Color: #ECE9D8; border-style: solid; border-width: 0;"></iframe>