<!-- START BLOCK : block_addtocart_false -->
Выбранных товаров нет в каталоге.
<!-- END BLOCK : block_addtocart_false -->

<!-- START BLOCK : block_repeat_false -->
Невозможно повторить заказ!
<!-- END BLOCK : block_repeat_false -->


<!-- START BLOCK : block_cart -->
	<h1>Содержимое корзины</h1>

    <form action="{baseurl}" method="post" id="frmBasket">
    <input type="hidden" name="action" value="recal" id="hdnAct">
		<table class="tbl" width="100%">
		<tr>
	   	 <th width="40%" colspan="2">Наименование</th>
	   	 <th>Кол-во</th>
		 <th>Цена</th>
		 <th>Стоимость</th>
		 <th>Удалить</th>
		</tr>
<!-- START BLOCK : block_cart_item -->
       <tr>
           <td>
           <!-- START BLOCK : block_cart_item_img -->
           <a href="{link}"><img src="{img_path}" title="{title}" alt="{tile}"></a>
           <!-- END BLOCK : block_cart_item_img -->
           <!-- START BLOCK : block_cart_item_no_img -->
           <a href="{link}"><img src="/i/no_photo.gif" title="{title}" alt="{title}"></a>
           <!-- END BLOCK : block_cart_item_no_img -->
           </td>
		   <td><a href="{link}">{title}</a>
		   <!-- START BLOCK : block_cart_item_prop_list -->
           <br>параметры:<br>
           <!-- START BLOCK : block_cart_item_prop -->
           {title}&nbsp;-&nbsp;{val};<br>
           <!-- END BLOCK : block_cart_item_prop -->
           <!-- END BLOCK : block_cart_item_prop_list -->
		   </td>
		   <td><input style="width:40px;" onkeypress="document.getElementById('recal').style.backgroundColor='#FFDE83';" name="prod_id[{id}][{key}]" value="{cnt}"></td>
		   <td>{price}&nbsp;{currency_name}</td>
		   <td>{cost}&nbsp;{currency_name}</td>
		   <td><a href="{del_link}" onclick="return confirm('Удалить товар из корзины?');"><img src="/i/close.gif" width="18" height="17" alt="Удалить"></a></td>
		</tr>
<!-- END BLOCK : block_cart_item -->
<!-- START BLOCK : block_delivery_list -->
    <tr id="blckDelivery">
        <th valign="top">Доставка:</th>
        <td colspan="5">
<!-- START BLOCK : block_delivery -->
        <input type="radio" name="delivery" value="{id}" id="rdDlvr{id}" {checked}> <label for="rdDlvr{id}">{title}</label>&nbsp;<small>({dscr})</small><br>
<!-- END BLOCK : block_delivery -->
        </td>
    </tr>
<!-- END BLOCK : block_delivery_list -->
       <tr class="basket_td">
		   <td><a id="recal" href="#" onclick="document.getElementById('frmBasket').submit(); return false;">пересчитать</a></td>
		   <td colspan="4"><b>Итого: {item_all}</b>
		   <!-- START BLOCK : block_accumulative_discount -->
		   <br>Накоптлельная скидка "{name}": {sum} {currencie}
		   <!-- END BLOCK : block_accumulative_discount -->
		   <!-- START BLOCK : block_simple_discount -->
		   <br>Cкидка на полную стоимость "{name}": {sum} {currencie}
		   <!-- END BLOCK : block_simple_discount -->
		   </td>
		   <td align="center"><a href="{del_all}">очистить</a></td>
		</tr>
		</table>
		<p><b><a href="{process_order}" onclick="processOrder(); return false;">Оформить заказ</a></b></p>
    </form>

<script type="text/javascript">
function processOrder() {
    if ($('#blckDelivery').size()>0 && 0 == $("input:checked", $('#frmBasket')).size()) {
        alert('Не выбран способ доставки');
    } else {
        $('#hdnAct').attr('value', 'processorder');
        $('#frmBasket').submit();
    }
    return false;
}
</script>
<!-- END BLOCK : block_cart -->

<!-- START BLOCK : block_cart_empty -->
<b>Ваша корзина пуста</b>
<!-- END BLOCK : block_cart_empty -->