<!-- START BLOCK : block_order_error -->
	Невозможно отправить заказ. Ваша корзина покупок пуста, либо вы просто пытаетесь повторно отправить данные.
<!-- END BLOCK : block_order_error -->

<!-- START BLOCK : block_no_order -->
	<h1>Ваша корзина пуста.</h1>
<!-- END BLOCK : block_no_order -->

<!-- START BLOCK : block_process_order -->
<form class="usual" action="{process_order_action}" method="post" id="frmOrder">
<input name="step" type="hidden" value="2">

<!-- START BLOCK : no_auth_user -->
<div id="blckStep0">
<h3>Авторизация. Шаг 1 из {step_cnt}</h3>
Мой адрес электронной почты: <input type="text" name="email" value="{email}" id="txtEmail"><br>
<input type="radio" name="user_type" id="rdNewUser" {newuser_checked}> <label for="rdNewUser"">Я новый покупатель</label><br>
<input type="radio" name="user_type" id="rdRegUser" {reguser_checked}> <label for="rdRegUser">Я уже зарегистрирован</label>, мой пароль: <input type="password" name="password" value="" id="txtPass"><br>
<button type="button" id="btnNext0" class="disabled">Далее&nbsp;&rarr;</button>
<small id="loading" style="display: none;">Подождите, идет проверка пароля...</small>
<div id="loginErr" class="err" style="display: none;">Ошибка авторизации</div>
</div>
<!-- END BLOCK : no_auth_user -->

<div id="blckStep1" style="display: {css_display_step1};">
<h3>Заказчик. Шаг {step_12} из {step_cnt}</h3>
<div>Фамилия и Имя:<span class="element_required">*</span>:<br><input type="text" name="customer" value="{customer}" id="txtFio"></div>
<div>Телефон <span class="element_required">*</span>:<br><input type="text" name="phone" value="{phone}" id="txtPhone"></div>
<div>Адрес доставки <span class="element_required">*</span>:<br><input type="text" name="address" value="{address}" id="txtAddr"></div>
<div>Дополнительная информация:<br><textarea cols="40" rows="5" name="additional" id="txtInfo">{additional}</textarea></div>

<button type="button" id="btnNext1" class="{css_class_disabled_step1}">Далее&nbsp;&rarr;</button>
</div>

<div id="blckStep2" style="display: none;">
<h3>Способ оплаты. Шаг {step_23} из {step_cnt}</h3>
<!--
	<select name="payment_type" class="formrgsl">
	START BLOCK : block_pay_types
	<option value="{value}">{title}</option>	
	END BLOCK : block_pay_types
	</select><br>	
-->	

<!-- START BLOCK : pay_type_cash -->
<p><input type="radio" name="payment_type" id="rdPayType1" value="1" {checked} title="Наличный расчет"> <label for="rdPayType1">Наличный расчет</label></p>
<!-- END BLOCK : pay_type_cash -->
<!-- START BLOCK : pay_type_sbr -->
<p><input type="radio" name="payment_type" id="rdPayType2" value="2" {checked} title="Квитанция Сбербанк"> <label for="rdPayType2">Квитанция Сбербанк</label></p>
<!-- END BLOCK : pay_type_sbr -->
<!-- START BLOCK : pay_type_non_cash -->
<p><input type="radio" name="payment_type" id="rdPayType3" value="3" {checked} title="Банковский перевод (безналичный счет)"> <label for="rdPayType3">Банковский перевод (безналичный счет)</label></p>
<!-- END BLOCK : pay_type_non_cash -->
<!-- START BLOCK : pay_type_wm -->
<p><input type="radio" name="payment_type" id="rdPayType4" value="4" {checked} title="Платежная система Web Money"> <label for="rdPayType4">Платежная система Web Money

<!-- START BLOCK : block_webmoney_discount -->
&nbsp;(<b>{webmoney_discount} %</b> от суммы)
<!-- END BLOCK : block_webmoney_discount -->
</label></p>
<!-- END BLOCK : pay_type_wm -->
<!-- START BLOCK : pay_type_assist -->
<p><input type="radio" name="payment_type" id="rdPayType5" value="5" {checked} title="Система электронных платежей Assist"> <label for="rdPayType5">Система электронных платежей Assist
<!-- START BLOCK : block_assist_discount -->
&nbsp;(<b>{assist_discount} %</b> от суммы)<br> <img src="/i/admin/assist_logo.gif" align="absmiddle"></label><br>

	<img SRC="/i/admin/webmlogo.gif" WIDTH="50" HEIGHT="50" title="WebMoney" alt="WebMoney">	
	<img SRC="/i/admin/eportlogo.gif" WIDTH="58" HEIGHT="43" HSPACE="3" title="e-port" alt="e-port">
	<img SRC="/i/admin/kreditpilotlogo.gif" WIDTH="39" HEIGHT="42" HSPACE="3" title="Kredit Pilot" alt="Kredit Pilot">
	<img src="/i/admin/logo_visa.gif" width="30" height="19" title="VISA"> 
	<img src="/i/admin/logo_mc.gif" width="30" height="19" hspace="3" title="MasterCard" alt="MasterCard">                           
	<img src="/i/admin/logo_ec.gif" width="30" height="19" hspace="3" title="EuroCard" alt="EuroCard">                           
	<img src="/i/admin/logo_jcb.gif" alt="JCB" width="30" height="19" hspace="3" title="JCB" alt="JCB">                           
	<img src="/i/admin/logo_dc.gif" alt="DCL" width="30" height="19" hspace="3" title="DCL" alt="DCL">
	<img SRC="/i/admin/yandexmoneylogo_small.gif" WIDTH="30" HEIGHT="19" HSPACE="3" title="Яндекс.Деньги" alt="Яндекс.Деньги"></p>
<!-- END BLOCK : block_assist_discount -->
<!-- END BLOCK : pay_type_assist -->

<br>
<div id="blckYur" style="display: {css_display_yur};">
Следующие поля необходимы для заполнения юридическими лицами.<br><br>
<div>
Организация <span class="element_required">*</span>:<br><input type="text" name="organization" value="{organization}" id="txtOrg">
</div>
<div>
ИНН/KПП <span class="element_required">*</span>:<br><input type="text" name="inn" value="{inn}" id="txtInn">
</div>
<div>
Р/с <span class="element_required">*</span>:<br><input type="text" name="rs" value="{rs}" id="txtRs">
</div>
<div>
К/с <span class="element_required">*</span>:<br><input type="text" name="ks" value="{ks}" id="txtKs">
</div>
<div>
Банк <span class="element_required">*</span>:<br><input type="text" name="bank" value="{bank}" id="txtBank">
</div>
<div>
БИК <span class="element_required">*</span>:<br><input type="text" name="bik" value="{bik}" id="txtBik">
</div>
</div>

<button type="button" id="btnPrev2">&larr;&nbsp;Назад</button>
<button type="button" id="btnNext2" class="disabled">Далее&nbsp;&rarr;</button>

</div>

<div id="blckStep3" style="display: none;">
<h3>Подтверждение заказа. Шаг {step_34} из {step_cnt}</h3>
    <!-- START BLOCK : block_cart -->
		<table class="tbl">
		<tr>
	   	 <th width="40%" colspan="2">Наименование</th>
	   	 <th>Кол-во</th>
		 <th>Цена</th>
		 <th>Стоимость</th>
		</tr>
<!-- START BLOCK : block_cart_item -->
       <tr>
           <td>
           <!-- START BLOCK : block_cart_item_img -->
           <a href="{link}"><img src="{img_path}" title="{title}" alt="{tile}"></a>
           <!-- END BLOCK : block_cart_item_img -->
           <!-- START BLOCK : block_cart_item_no_img -->
           <a href="{link}"><img src="/i/no_photo.gif" title="{title}" alt="{title}"></a>
           <!-- END BLOCK : block_cart_item_no_img -->
           </td>
		   <td><a href="{link}">{title}</a>
		   <!-- START BLOCK : block_cart_item_prop_list -->
           <br>параметры:<br>
           <!-- START BLOCK : block_cart_item_prop -->
           {title}&nbsp;-&nbsp;{val};<br>
           <!-- END BLOCK : block_cart_item_prop -->
           <!-- END BLOCK : block_cart_item_prop_list -->
		   </td>
		   <td>{cnt}</td>
		   <td>{price} {currency_name}</td>
		   <td>{cost}</td>
		</tr>
<!-- END BLOCK : block_cart_item -->
<!-- START BLOCK : block_delivery -->
    <tr>
        <th valign="top">Доставка:</th>
        <td colspan="4">
        {title}</label>&nbsp;<small>({dscr})</small>
        </td>
    </tr>
<!-- END BLOCK : block_delivery -->
       <tr class="basket_td">
		   <td colspan="5"><b>Итого: {item_all}</b>
		   <!-- START BLOCK : block_accumulative_discount -->
		   <br>Накоптлельная скидка "{name}": {sum} {currencie}
		   <!-- END BLOCK : block_accumulative_discount -->
		   <!-- START BLOCK : block_simple_discount -->
		   <br>Cкидка на полную стоимость "{name}": {sum} {currencie}
		   <!-- END BLOCK : block_simple_discount -->
		   </td>
		</tr>
		</table>
<!-- END BLOCK : block_cart -->
<div class="inf">
<div><b>Заказчик:</b> <span id="resFio">n\a</span></div>
<div><b>Телефон:</b> <span id="resPhone">n\a</span></div>
<div><b>Адрес доставки:</b> <span id="resAddr">n\a</span></div>
<div><b>Дополнительная информация:</b> <span id="resInfo">n\a</span></div>
<div><b>Оплата:</b> <span id="resPayType">n\a</span></div>
</div>
<div class="inf" id="resYur">
<div><b>Организация:</b> <span id="resOrg">n\a</span></div>
<div><b>ИНН/KПП:</b> <span id="resInn">n\a</span></div>
<div><b>Р/с:</b> <span id="resRs">n\a</span></div>
<div><b>К/с:</b> <span id="resKs">n\a</span></div>
<div><b>Банк:</b> <span id="resBank">n\a</span></div>
<div><b>БИК:</b> <span id="resBik">n\a</span></div>
</div>

<div>
<input type="checkbox" name="notify" value="1" id="chbNotify">
<label for="chbNotify">получать уведомления на e-mail о изменении статуса заказа</label>
</div>

<button type="button" id="btnPrev3">&larr;&nbsp;Назад</button>
<button type="submit" id="btnSbmt">Подтвердить заказ</button>

</div>

</form>

<script type="text/javascript">
var gOrderInf = function() {
    var _el = {
        form: $('#frmOrder'),
        step0: $('#blckStep0'),
        step1: $('#blckStep1'),
        step2: $('#blckStep2'),
        step3: $('#blckStep3'),
        isNew: $('#rdNewUser'),
        isReg: $('#rdRegUser'),
        email: $('#txtEmail'),
        pass: $('#txtPass'),
        fio: $('#txtFio'),
        phone: $('#txtPhone'),
        addr: $('#txtAddr'),
        info: $('#txtInfo'),
        yur: $('#blckYur'),
        org: $('#txtOrg'),
        inn: $('#txtInn'),
        rs: $('#txtRs'),
        ks: $('#txtKs'),
        bank: $('#txtBank'),
        bik: $('#txtBik'),
        next0: $('#btnNext0'),
        next1: $('#btnNext1'),
        prev2: $('#btnPrev2'),
        next2: $('#btnNext2'),
        prev3: $('#btnPrev3'),
        sbmt: $('#btnSbmt'),
        payType1: $('#rdPayType1'),
        payType2: $('#rdPayType2'),
        payType3: $('#rdPayType3'),
        payType4: $('#rdPayType4'),
        payType5: $('#rdPayType5'),
        resFio: $('#resFio'),
        resPhone: $('#resPhone'),
        resAddr: $('#resAddr'),
        resInfo: $('#resInfo'),
        resPayType: $('#resPayType'),
        resYur: $('#resYur'),
        resOrg: $('#resOrg'),
        resBik: $('#resBik'),
        resInn: $('#resInn'),
        resRs: $('#resRs'),
        resKs: $('#resKs'),
        resBank: $('#resBank'),
        loading: $('#loading'),
        loginErr: $('#loginErr')
    };
    var _step;
    return {
        init: function() {
            _step = _el.step0.size() ? 0 : 1
            if (_el.step0) {
                _el.next0.click(this.next);
            }
            _el.next1.click(this.next);
            _el.next2.click(this.next);
            _el.prev2.click(this.prev);
            _el.prev3.click(this.prev);
            _el.form.click(this.formHandler);
            _el.form.keyup(this.formHandler);
            _el.form.click();    
        },
        next: function() {
            switch (_step) {
                case 0:
                    if (!_el.isNew.attr('checked') && !_el.isReg.attr('checked')) {
                        alert('Выберите режим оформления заказа');
                        break;
                    } else if (_el.isNew.attr('checked')) {
                        if (!_el.email.val()) {
                            alert('Укажите Ваш email');
                            break;
                        }
                    } else {
                        if (!_el.email.val() || !_el.pass.val()) {
                            alert('Укажите Ваш email и пароль для авторизации');                            
                        } else {
                            _el.loading.show();
                            _el.loginErr.hide();
                            var req = new JsHttpRequest();
                            req.onreadystatechange = function() {
                                if (req.readyState == 4) {
                                    if (req.responseJS) {
                                        _el.fio.val(req.responseJS.firstname+ " "+req.responseJS.surname);
                                        _el.phone.val(req.responseJS.phone);
                                        _el.addr.val(req.responseJS.address);
                                        _el.org.val(req.responseJS.company);
                                        _el.inn.val(req.responseJS.inn);
                                        _el.ks.val(req.responseJS.ks);
                                        _el.rs.val(req.responseJS.rs);
                                        _el.bank.val(req.responseJS.bank);
                                        _el.bik.val(req.responseJS.bik);
                                        _el.step0.hide();
                                        _el.step1.show();
                                        _step++;
                                        gOrderInf.formHandler();
                                    } else {
                                        _el.loginErr.show();
                                    }
                                    _el.loading.hide();
                                }
                            };
                            req.open("GET", '{transurl}', true);
                            req.send( {action: 'login', email: _el.email.val(), pass: _el.pass.val()} );
                        }
                        break;
                    }
                    _el.step0.hide();
                    _el.step1.show();               
                    _step++;
                    break;
                case 1:
                    if (!_el.fio.val() || !_el.phone.val() || !_el.addr.val()) {
                        alert('Заполните нужные поля'); 
                    } else {
                        _el.step1.hide();
                        _el.step2.show();
                        _step++;
                    }
                    break;
                case 2:
                    if (0 == $('input:checked', _el.step2).size()) {
                        alert('Выберите способ оплаты');
                        break;
                    } else if (_el.payType3.attr('checked') && (
                        !_el.org.val() || !_el.inn.val() || !_el.rs.val() 
                        || !_el.ks.val() || !_el.bank.val() || !_el.bik.val()
                    )) {
                        alert('Заполните поля с банковскими реквизитами');
                        break;
                    }
                    _el.step2.hide();
                    _el.step3.show();
                    _step++;
                    _el.resFio.text(_el.fio.val());
                    _el.resPhone.text(_el.phone.val());
                    _el.resAddr.text(_el.addr.val());
                    _el.resInfo.text(_el.info.val());

                    _el.resPayType.text($('input:checked', _el.step2).get(0).title);
                    _el.resYur.hide();
                    if (_el.payType3.attr('checked')) {
                        _el.resYur.show();
                        _el.resOrg.text(_el.org.val());
                        _el.resInn.text(_el.inn.val());
                        _el.resRs.text(_el.rs.val());
                        _el.resKs.text(_el.ks.val());
                        _el.resBank.text(_el.bank.val());
                        _el.resBik.text(_el.bik.val());
                    }
                    break;
            }
            return true;
        },
        prev: function() {
            switch (_step) {
                case 1:
                    _el.step0.show();
                    _el.step1.hide();
                    _step--;
                    break;
                case 2:
                    _el.step1.show();
                    _el.step2.hide();
                    _step--;
                    break;
                case 3:
                    _el.step2.show();
                    _el.step3.hide();
                    _step--;
                    break;
            }
        },
        formHandler: function() {
            switch (_step) {
                case 0:
                    _el.next0.addClass('disabled');
                    if (_el.email.val()) {
                        if (_el.isNew.attr('checked') || (_el.isReg.attr('checked') && _el.pass.val())) {
                            _el.next0.removeClass('disabled');
                        }
                    }
                    break;
                case 1:
                    _el.next1.addClass('disabled');
                    if (_el.fio.val() && _el.phone.val() && _el.addr.val()) {
                        _el.next1.removeClass('disabled');
                    }
                    break;
                case 2:
                    _el.next2.addClass('disabled');                    
                    if ($('input:checked', _el.step2).size()) {
                        if (!_el.payType3.attr('checked')) {
                            _el.next2.removeClass('disabled');
                            _el.yur.hide();
                        } else {
                            if ('none' == _el.yur.css('display')) {
                                _el.yur.show();
                            }
                            if (_el.org.val() && _el.inn.val() && _el.rs.val() 
                                && _el.ks.val() && _el.bank.val() && _el.bik.val()
                            ) {
                                _el.next2.removeClass('disabled')
                            }
                        }
                    } else {
                        _el.yur.hide();
                    }
                    break;
            }
        }
    }
}();
gOrderInf.init();
</script>
<!-- END BLOCK : block_process_order -->

<!-- START BLOCK : block_order -->
	<script>
		function openTicketWin(open_url) {
			var ourWindow = window.open(open_url,'1','toolbar=0,menubar=1,resizable=1,marginwidth=0,marginheight=0,scrollbars=1,location=0,status=0,width=700,height=500');
			if ( navigator.appVersion.indexOf("2.0") != 0 ) ourWindow.top.focus();
		}
	</script>

   {customer}, Ваш заказ № <b>{number}</b> от <b>{date}</b> успешно отправлен.<br>	
	Сумма заказа: <i>{sum} {currency}</i> (<b><i>{sum_rur} руб.</i></b>).<br>
	<!-- START BLOCK : block_order_delivery -->
	Доставка: <i>{delivery_cost} {currency}</i>  - {title} <small>({dscr})</small><br>
	<!-- END BLOCK : block_order_delivery -->
	Скидка/надбавка: <i>{discount} {currency}</i>.<br>
	Сумма заказа с учётом скидки и доставки: <i>{cost} {currency}</i> (<b><i>{cost_rur} руб.</i></b>).<br>
	<!-- START BLOCK : webmoney_discount -->
	В сумму включена скидка/надбавка WebMoney: <b>{webmoney_discount} %</b>.<br>
	<!-- END BLOCK : webmoney_discount -->
	<!-- START BLOCK : assist_discount -->
	В сумму включена скидка/надбавка ASSIST: <b>{assist_discount} %</b>.<br>
	<!-- END BLOCK : assist_discount -->
	Способ оплаты - {pay_type}.
	<br>

	<!-- START BLOCK : block_sbr -->
		&nbsp;<a href="javascript:openTicketWin('{sbr_ticket_link}&onlymain');"><b>распечатать квитанцию</b></a><br><br>
		Вы можете также самостоятельно заполнить платежное поручение в отделении Сбербанка, используя наши банковские реквизиты:<br><br>
		<b>Получатель</b>: {company}, ИНН {inn}<br>
		<b>КПП</b>: {kpp}<br>
		<b>Банк</b>: {bank}<br>
		<b>Р. счет</b>: {sett_account}<br>
		<b>Кор. счет</b>: {corr_account}<br>
		<b>БИК</b>: {bik}<br>
		<b>Назначение платежа</b>: Оплата заказ № {number}<br><br>
	<!-- END BLOCK : block_sbr -->
	
	<!-- START BLOCK : block_bank -->			
		<br>Наши банковские реквизиты:<br>
		<b>Получатель</b>: {company}, ИНН {inn}<br>
		<b>КПП</b>: {kpp}<br>
		<b>Банк</b>: {bank}<br>
		<b>Р. счет</b>: {sett_account}<br>
		<b>Кор. счет</b>: {corr_account}<br>
		<b>БИК</b>: {bik}<br>
		<b>Назначение платежа</b>: Оплата заказ № {number}<br><br>
	<!-- END BLOCK : block_bank -->

	<!-- START BLOCK : block_webmoney -->		
		
		<form method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp">
			<input type="hidden" name="LMI_PAYMENT_AMOUNT" value="{wm_amount}">
			<input type="hidden" name="LMI_PAYMENT_DESC" value="Платеж по счету № {wm_payment_no}">
			<input type="hidden" name="LMI_PAYMENT_NO" value="{wm_payment_no}">
			<input type="hidden" name="LMI_PAYEE_PURSE" value="{wm_payee_purse}">
			<input type="hidden" name="LMI_SIM_MODE" value="0">
		
			<input type="hidden" name="LMI_RESULT_URL" value="{wm_result_url}">
			<input type="hidden" name="LMI_SUCCESS_URL" value="{wm_success_url}">
			<input type="hidden" name="LMI_FAIL_URL" value="{wm_fail_url}">		
			
			<input type="hidden" name="order_sum" value="{order_cost}">
						
			<button type="submit">Оплатить</button>
		</form>
			
	<!-- END BLOCK : block_webmoney -->	
	
	<!-- START BLOCK : block_assist-->		
		<br><br>
	<b>Платежные средства, принимаемые через ASSIST</b><br>
	<p><img src="/i/admin/logo_visa.gif" width="30" height="19"> VISA 
	<img src="/i/admin/logo_mc.gif" width="30" height="19" hspace="3"> MasterCard                           
	<img src="/i/admin/logo_ec.gif" width="30" height="19" hspace="3"> EuroCard                           
	<img src="/i/admin/logo_jcb.gif" alt="JCB" width="30" height="19" hspace="3"> JCB                           
	<img src="/i/admin/logo_dc.gif" alt="DCL" width="30" height="19" hspace="3"> DCL</p>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="1">
		<TR>
		<TD WIDTH="20%"><IMG SRC="/i/admin/webmlogo.gif" WIDTH="50" HEIGHT="50"></TD>
		<TD WIDTH="24%"><IMG SRC="/i/admin/yandexmoneylogo_small.gif" WIDTH="30" HEIGHT="19" HSPACE="3"></TD>
		<TD WIDTH="19%"><IMG SRC="/i/admin/eportlogo.gif" WIDTH="58" HEIGHT="43" HSPACE="3"></TD>
		<TD WIDTH="20%"><IMG SRC="/i/admin/kreditpilotlogo.gif" WIDTH="39" HEIGHT="42" HSPACE="3"></TD>
		</TR>
		<TR>
		<TD>WebMoney</TD>
		<TD>Яндекс.Деньги</TD>
		<TD>e-port</TD>
		<TD>Kredit Pilot</TD>
		</TR>
		</TABLE>
		<FORM ACTION="http://secure.assist.ru/shops/purchase.cfm" METHOD="POST">
		<!--FORM ACTION="https://secure.assist.ru/shops/cardpayment.cfm" METHOD="POST"-->
		<INPUT TYPE="HIDDEN" NAME="Shop_IDP" VALUE="{assist_shop_id}">
		<INPUT TYPE="HIDDEN" NAME="Order_IDP" VALUE="{assist_order_id}">
		<INPUT TYPE="HIDDEN" NAME="Subtotal_P" VALUE="{assist_amount}">
		<INPUT TYPE="HIDDEN" NAME="Delay" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="Language" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="URL_RETURN_OK" VALUE="{assist_success_url}">
		<INPUT TYPE="HIDDEN" NAME="URL_RETURN_NO" VALUE="{assist_fail_url}">
		<INPUT TYPE="HIDDEN" NAME="Currency" VALUE="{assist_currency}">
		<INPUT TYPE="HIDDEN" NAME="Comment" VALUE="Оплата заказа по счету № {assist_order_id}">
		<INPUT TYPE="HIDDEN" NAME="IsFrame" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="CardPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="WalletPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="WebMoneyPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="RapidaPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="PayCashPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="EPortPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="KreditPilotPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="AssistIDPayment" VALUE="1">
		<INPUT TYPE="SUBMIT" NAME="Submit" VALUE="Оплатить">
		<!-- Демо режим -->
		<INPUT TYPE="HIDDEN" NAME="DemoResult" VALUE="AS000">
		
		</FORM>
			
	<!-- END BLOCK : block_assist -->	
	
	<!-- START BLOCK : block_is_auth -->					
		Теперь вы можете отслеживать выполнение своего заказа через <a href="{history_link}">историю заказов</a>.
	<!-- END BLOCK : block_is_auth -->
	
<!-- END BLOCK : block_order -->