<p><b>Заказ № {order_id} ({order_status})</b></p>
({order_date})

<br><br>

<div class="arrow" style="width:100%;" align="right"><img src="/i/angle_l.gif" width="7" height="5" alt=""></div>
<table cellpadding="0" cellspacing="0" class="inf" width="100%">
<tr>
<th align="left">наименование</th>
<th width="1">&nbsp;</th>
<th align="left">цена</th>
<th width="1">&nbsp;</th>
<th align="left">вн. курс</th>
<th width="1">&nbsp;</th>
<th>кол-во</th>
<th width="1">&nbsp;</th>
<th align="left">сумма</th>
</tr>
<!-- START BLOCK : block_item -->
<tr height="20">
<td align="left"><a href="{item_link}" class="black">{item_name}</a></td>
<td width="1">&nbsp;</td>
<td align="left">{item_price} {item_currency}</td>
<td width="1">&nbsp;</td>
<td align="left">{item_rate}</td>
<td width="1">&nbsp;</td>
<td align="center">{item_qty}</td>
<td width="1">&nbsp;</td>
<td align="left">{item_cost} {order_currency}</td>
</tr>
<!-- END BLOCK : block_item -->
<tr>
<td colspan="9"><div class="line-t"><img src="/i/0.gif" width="1" height="1" alt=""></div></td>
</tr><tr>
<td colspan="9">
	<table style="margin-top: 10px" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td align="right" valign="top" style="padding: 5px 10px 0 0;">Заказ № {order_id} общей стоимостью:</td>
	<td align="center" width="130">
		<table cellpadding="0" cellspacing="0" border="0">
		<tr height="20">
		<td colspan="3" bgcolor="#F6F6F6" align="center"><b>{order_sum} {order_currency}</b></td>
		</tr><tr height="40">
		<td class="text-grey" align="right"><span class="text-small">повторить заказ</span></td>
		<td><img src="/i/retry.gif" width="8" height="24" align="absmiddle" alt=""></td>
		<td><a href="{repeat_order_link}"><img src="/i/basket.gif" class="bskt" alt="Добавить в корзину"></a></td>
		</tr>
		</table>
    </tr>
	</table>
</td>
</tr>
</table>
<div><a href="javascript:history.go(-1);">вернуться назад</a></div>