<!-- START BLOCK : block_basket_null -->
Ваша история заказов пуста.
<!-- END BLOCK : block_basket_null -->

<!-- START BLOCK : block_none_user -->
Вывод истории заказов только для авторизованного пользователя. Пожалуйста, введите свой логин и пароль в формочку слева, либо зарегистрируйтесь на сайте.
<!-- END BLOCK : block_none_user -->

<!-- START BLOCK : block_basket -->
<p style="margin-bottom: 10px"><b>История заказов:</b></p>
<table cellpadding="0" cellspacing="0" border="0" class="inf" width="100%">
<tr height="12">
<td colspan="7"><div class="arrow" align="right"><img src="/i/angle_l.gif" width="7" height="5" alt=""></div></td>
</tr>

<tr>
<th align="left">№ заказа</th>
<th align="left" width="1">&nbsp;</th>
<th align="left">дата</th>
<th align="left" width="1">&nbsp;</th>
<th align="left">состояние заказа</th>
<th align="left" width="1">&nbsp;</th>
<th align="left">сумма</th>
</tr>

<!-- START BLOCK : block_order -->
<tr class="order" bgcolor="{tr_color}">
<td><a href="{order_link}">{order_id}</a></td>
<td width="1">&nbsp;</td>
<td><a href="{order_link}">{order_date}</a></td>
<td width="1">&nbsp;</td>
<td>{order_status}</td>
<td width="1">&nbsp;</td>
<td>{order_sum} {order_currency}</td>
</tr>
<tr>
<td colspan="7" height="2"><img src="/i/0.gif" width="1" height="2" alt=""></td>
</tr>
<!-- END BLOCK : block_order -->

</table>
<!-- END BLOCK : block_basket -->

<!-- START BLOCK : nav -->
<div class="line"><img src="/i/0.gif" width="1" height="1" alt=""></div>
<p class="tech">Страницы: {nav_string}</p>
<!-- END BLOCK : nav -->

<br>
