<script>
function checkForm(form)
{
	var SendItem= 0;
	var AlertMessage;

	if (form.group_name.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_group_name}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>



<form method="post" action="{form_action}" name="myForm">
<input name="id" type="hidden" size="40" class=w300 value="{group_id}">
<div class="edit_form">
{MSG_Group_name} <span class="required_field">*</span>:<br>
<input type="text" name="group_name" class=w300 size="40" value="{group_name}"><br>

{MSG_Group_owner} <span class="required_field">*</span>:<br>
<select name="group_owner">
<!-- START BLOCK : block_owner -->
<option value="{value}"{selected}>{name}</option>
<!-- START BLOCK : block_owner -->
</select><br>

{MSG_Description}:<br>
<textarea cols="50" rows="5" class=w300 name="group_description">{group_description}</textarea><br><br>
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
<table border="0">
<tr>
<td>
<h2>{MSG_Roles}:</h2>
		<table cellspacing="2" cellpadding="0" width="100%" class="center">
		<tr>
			<th>{MSG_Domain} ({MSG_language})</th>
			<th width="99%">{MSG_Role_description}</td>
			<th>{MSG_Switch_on_off}</td>
		</tr>

		<!-- START BLOCK : block_group_roles -->
		<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
			<td nowrap class="nowrap"><a href="{role_link}">{role_site} ({role_lang})</a></td>
			<td><a href="{role_link}">{role_descr}&nbsp;</a></td>
			<td align="center"><input type="checkbox" name="role[{role_id}]" value="{role_id}" {role_checked} class=checkb></td>
		</tr>
		<!-- END BLOCK : block_group_roles -->

		</table>

<h2>{MSG_Set_rights}:</h2>
		<br>
		<div class=nobd>{sitemap}</div>
		{bound_pages_tree}
		<br><br>
		{unbound_pages_tree}

<br>{MSG_Mark_closed_pages}<br><br>

</td>
</tr>
</table>
<div class=attn style="margin-top:0">{MSG_Info_relogin_change_rights}</div>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="b2l" value="{MSG_Cancel}" type="button" onClick="location.href='{cancel_link}';"><img src=/i/admin/b_back2list.gif class=back2list><span>{MSG_Cancel}</span></BUTTON>

</form>

<!--/-->