<form action="{form_action}" method="POST" name="delForm">
<b class="delw">{MSG_Delete_users_group} "<a href="{group_link}">{group_name}</a>" {MSG_deletes_all_its_users}</b><br><br>
{MSG_Confirm_delete_this_group}<br><br>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
<BUTTON name="d" value="{MSG_Delete}" type="submit"><img src=/i/admin/b_delete.gif class=delete><span>{MSG_Delete}</span></BUTTON>
</p>
</form>