<form method="post" action="{baseurl}" class="edit_form" enctype="multipart/form-data" id="frmProp">
<h2>{MSG_Ctgr}</h2>
<input type="hidden" name="action" value="prop_set">
<input type="hidden" name="id" value="{id}">

<label for="txtTitl" class="required">{MSG_Title}:</label><br>
<input type="text" name="title" value="{title}" id="txtTitl" class="required w300"><br>

<label for="txtUname" class="required">{MSG_Uname}:</label><br>
<input type="text" name="uname" value="{uname}" id="txtUname" class="required w300"><br>

<label for="selType" class="required">{MSG_Type}:</label><br>
<select name="type" id="selType" class="required w300">
<option value="">- {MSG_Select} -</option>
<!-- START BLOCK : prop_type_list -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : prop_type_list -->
</select><br>

<fieldset id="blckList" style="display: {css_display_list_val};">
<legend>Элементы списка</legend>
<a class="add_btn" href="{baseurl}&action=prop_set" id="btnAddVal"><span><img src="i/admin/ico_add.gif" alt="{MSG_Add}" title="{MSG_Add}" width="17" height="18" border="0">&nbsp;{MSG_Add}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>

<!-- START BLOCK : val_list_item -->
<div>
<input type="text" name="list_val[{id}]" value="{title}" class="w300"><a href="#" onclick="if (confirm('{MSG_Delete} ?')) { $(this).parent().remove(); } return false;"><img src="/i/admin/ico_del.gif" alt="{MSG_Del}" title="{MSG_Del}" width="15" height="18" border="0"></a>
</div>
<!-- END BLOCK : val_list_item -->

<div id="blckTpl" style="display:none;">
<input type="text" name="list_val[]" value="" class="w300"><a href="#" onclick="if (confirm('{MSG_Delete} ?')) { $(this).parent().remove(); } return false;"><img src="/i/admin/ico_del.gif" alt="{MSG_Del}" title="{MSG_Del}" width="15" height="18" border="0"></a>
</div>
</fieldset>

<label for="selGroup" class="required">{MSG_Group}:</label><br>
<select name="group" id="selGroup" class="required w300">
<option value="0">{MSG_All_groups}</option>
<!-- START BLOCK : prop_group_list -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : prop_group_list -->
</select><br>

<input type="checkbox" name="reg_show" value="1" id="chRegShow" class="checkb" {reg_show_checked}>
<label for="chRegShow">&mdash; {MSG_Reg_show}</label><br>

<input type="checkbox" name="required" value="1" id="chReq" class="checkb" {required_checked}>
<label for="chReq">&mdash; {MSG_Mandatory}</label><br>

<input type="checkbox" name="public" value="1" id="chPub" class="checkb" {public_checked}>
<label for="chPub">&mdash; {MSG_Public}</label><br>

<!-- START BLOCK : edit_info -->
<div class="attn">Если вы планируете сменить тип уже используемого поля на другой, следует учесть, что формат некоторых данных представляется по разному для разных типов полей, поэтому вы можете столкнуться с появлением нечитаемых символов. Советуем использовать функцию удаления и создания нового поля.</div>
<!-- END BLOCK : edit_info -->

<BUTTON type="submit" class="save">{MSG_Save}</BUTTON>
<BUTTON type="button" onclick="location.href='{baseurl}&action=prop_list';" id="lnkCncl" class="cancel"><span>{MSG_Cancel}</span></BUTTON>
</form>
<script type="text/javascript">
$(function() {
    $('#frmProp').submit(function(){
        return checkForm(this);
    });
    
    $('#selType').change(function() {
        var v = $(this).val();
        if (5==v || 6==v) {
            $('#blckList').fadeIn();
        } else {
            $('#blckList').fadeOut();
        }
    });
    
    $('#btnAddVal').click(function() {
        $('#blckTpl').clone().appendTo('#blckList').fadeIn().focus();
        return false;
    });
})
</script>