<script>
function showUsers(form) {
	var selIdx = form.group.selectedIndex;
	var url = '{onchange}' + form.group.options[selIdx].value;
	location.href = url;
}
</script>

<a class="add_btn" href="{add_user_link}"><span><img src="i/admin/ico_useradd.gif" alt="{MSG_Add_user}" title="{MSG_Add_user}" width="17" height="18" border="0">&nbsp;{MSG_Add_user}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<form method="get" action="{baseurl}" style="vertical-align:top;">
<input type="hidden" name="lang" value="{lang}">
<input type="hidden" name="name" value="siteusers">
<input type="hidden" name="action" value="siteusers">
<input type="text" name="q" value="{q}">
<button type="submit" class="search">Найти</button>

{MSG_Show}:
<select onChange="if ($(this).val()) location.href='{onchange}' + $(this).val();">
<option value="0">--  {MSG_All_users}  --</option>
<!-- START BLOCK : block_groups -->
<option value="{group_id}"{selected}>{group_name}</option>
<!-- END BLOCK : block_groups -->
</select>

</form>
<br>

<form>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
	<th width="20">{MSG_Access}</th>
	<th width="20">{MSG_Ed}</th>
	<th>{MSG_Email}</th>
	<th>{MSG_Login}</th>
	<th>{MSG_Group}</th>
	<th width="1%">{MSG_Reg_date}</th>
	<th width="1%">{MSG_Last_visit}</th>
	<th>{MSG_Del}</th>
	<th align="left"><input type="checkbox" class="checkb" name="check_all" value="1" onclick="checkAll(this.form);"></th>
</tr>
<!-- START BLOCK : block_siteusers_list -->

<!-- START BLOCK : block_siteuser -->
<tr onclick="switchCheckbox(this)" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align=center>
<a href="{change_status_link}"><img src="/i/admin/{action_img}" alt="{action_text}" title="{action_text}" width="15" height="18" border="0"></a>
</td>
<td align=center><a href={siteuser_edit_link}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width="15" height="18" border="0"></a></td>
<td valign="top" nowrap class="nowrap">{email}</td>
<td valign="top" nowrap class="nowrap">{username}</td>
<td valign="top">
<!-- START BLOCK : block_user_group -->
 <a href="{link}">{group}</a>
<!-- END BLOCK : block_user_group -->
&nbsp;
</td>
<td valign="top">&nbsp;{reg_date}</td>
<td valign="top">&nbsp;{last_visit}</td>
<td align=center><a href="javascript:if(confirm('{MSG_Confirm_delete_user}')){location.href='{siteuser_del_link}';}"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
<td><input onclick="event.cancelBubble = true;" class="checkb" type="checkbox" name="check[]" value="{siteuser_id}"></td>
</tr>
<!-- END BLOCK : block_siteuser -->

<!-- END BLOCK : block_siteusers_list -->
</table>
<br>
<select name="select_action">
<option value="">- {MSG_Select_action} -</option>
<option value="activate">{MSG_Activate_access}</option>
<option value="suspend">{MSG_Suspend_access}</option>
<option value="delete">{MSG_Delete}</option>
</select> &nbsp;
<button type="button" onclick="doAction(this.form);">{MSG_Execute}</button>
</form>

<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->