<!-- START BLOCK : block_info_groups -->
<div class=attn>{MSG_info_siteusers}<br></div><br>
<!-- END BLOCK : block_info_groups -->
<a class="add_btn" href="{add_group_link}"><span><img src="i/admin/ico_groupadd.gif" alt="{MSG_Add_group}" title="{MSG_Add_group}" width="17" height="18" border="0">&nbsp;{MSG_Add_group}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
<th>{MSG_Ed}</th>
<th>{MSG_Group}</th>
<th width="99%">{MSG_Description}</th>
<th>{MSG_Del}</th>
</tr>
<form>
<!-- START BLOCK : block_groups -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
<td align=center><a href={group_edit_link}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
<td valign="top" nowrap class="nowrap"><a href="{group_link}">{group_name}</a></td>
<td valign="top">{group_description}&nbsp;</td>
<td align=center>&nbsp;
<!-- START BLOCK : block_delete_groups -->
<a href={group_del_link}><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0>
<!-- END BLOCK : block_delete_groups -->
</td>
</tr>
<!-- END BLOCK : block_groups -->
</form>
</table>