<form method="post" action="{form_action}" name="myForm">
<input name="id" type="hidden" size="40" class=w300 value="{group_id}">
<div class="edit_form">
{MSG_Group_name} : <b>{group_name}</b><br><br>

		<table cellspacing="2" cellpadding="0" width="100%" class="center">
		<tr>
			<th>{MSG_Domain} ({MSG_language})</th>
			<th width="99%">{MSG_Role_description}</td>
			<th>{MSG_Switch_on_off}</td>
		</tr>

		<!-- START BLOCK : block_group_roles -->
		<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
			<td nowrap class="nowrap"><a href="{role_link}">{role_site} ({role_lang})</a></td>
			<td><a href="{role_link}">{role_descr}</a></td>
			<td align="center"><input type="checkbox" name="role[{role_id}]" value="1" {role_checked} class=checkb></td>
		</tr>
		<!-- END BLOCK : block_group_roles -->

		</table>
<br>
</div>
		<div class=attn style="margin-top:0">{MSG_Info_group_relogin}</div>
		<BUTTON name="c" value="{MSG_Save}" type="submit"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
		<BUTTON name="b2l" value="{MSG_Cancel}" type="button" onClick="location.href='{cancel_link}';"><img src=/i/admin/b_back2list.gif class=back2list><span>{MSG_Cancel}</span></BUTTON>

</form>