<script type="text/javascript">
	var i_start		= {i_start};
	var i_end		= {i_end};

	function checkForm(form) {
		var SendItem	= 0;
		var AlertMessage;
		var site	= document.getElementById('site_lang_role');
		
		if (site.options.value == '') {
			SendItem= 1; AlertMessage = '{MSG_Choose_site_language}';
		}
	
		if (!SendItem) {
			form.submit();
		} else {
			alert(AlertMessage);
		}
	}
	
	function setOnOffAllChkBox(type_id) {
		var id = document.getElementById(type_id + 'all');
		if (id.checked) {
			for (i = i_start; i < i_end; i++) {
				document.getElementById(type_id + i).checked = true;
			}
		} else {
			for (i = i_start; i < i_end; i++) {
				document.getElementById(type_id + i).checked = false;
			}
		}
		return true;
	}
</script>


<form method="post" action="{form_action}" name="myForm">
<input name="id" type="hidden" size="40" class=w300 value="{role_id}">
<div class="edit_form">
		<select name="site_lang_role" id="site_lang_role">
			<option value="">{MSG_Select_site_language}</option>
			
		<!-- START BLOCK : block_role_sites_langs -->
			<option value="{site_id_lang_id}"{selected}>{site_title} ({lang_title})</option>
		<!-- END BLOCK : block_role_sites_langs -->
			
		</select>

<br>{MSG_Role_description}:&nbsp;&nbsp;<br>
		<textarea cols="50" rows="5" class=w300 name="role_descr">{role_descr}</textarea>

	
		<table border="0" cellspacing="2" cellpadding="0" width=100% class="center items">
		<tr>
			<th width=90% align=left>{MSG_Module_name}&nbsp;&nbsp;</th>
			<th valign="bottom">{MSG_Re}</td>
			<th valign="bottom">{MSG_Ed}</td>
			<th valign="bottom">{MSG_Activ}</td>
			<th valign="bottom">{MSG_Del}</td>
		</tr>

		<!-- START BLOCK : block_role_permissions -->
		<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
			<td>{mod_title}&nbsp;&nbsp;</td>
			<td align="center"><input type="checkbox" id="r_{i_id}" name="r[{mod_id}]" value="1" {r_checked} class=checkb></td>
			<td align="center"><input type="checkbox" id="e_{i_id}" name="e[{mod_id}]" value="1" {e_checked} class=checkb></td>
			<td align="center"><input type="checkbox" id="p_{i_id}" name="p[{mod_id}]" value="1" {p_checked} class=checkb></td>
			<td align="right"><input type="checkbox" id="d_{i_id}" name="d[{mod_id}]" value="1" {d_checked} class=checkb></td>
		</tr>
		<!-- END BLOCK : block_role_permissions -->

		<tr>
			<th width=90% align=left>&nbsp;</th>
			<th valign="bottom">&nbsp;</td>
			<th valign="bottom">&nbsp;</td>
			<th valign="bottom">&nbsp;</td>
			<th valign="bottom">&nbsp;</td>
		</tr>
		<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
			<td><b>{MSG_Select_all}&nbsp;&nbsp;</b></td>
			<td align="center"><input type="checkbox" id="r_all" onclick="setOnOffAllChkBox('r_');" class=checkb></td>
			<td align="center"><input type="checkbox" id="e_all" onclick="setOnOffAllChkBox('e_');" class=checkb></td>
			<td align="center"><input type="checkbox" id="p_all" onclick="setOnOffAllChkBox('p_');" class=checkb></td>
			<td align="right"><input type="checkbox" id="d_all" onclick="setOnOffAllChkBox('d_');" class=checkb></td>
		</tr>
		
		</table>
	<br>
		<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>	
		<div class=attn style="margin-top:0">{MSG_Info_role_relogin}</div>
		<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
		<BUTTON name="b2l" value="{MSG_Cancel}" type="button" onClick="location.href='{cancel_link}';"><img src=/i/admin/b_back2list.gif class=back2list><span>{MSG_Cancel}</span></BUTTON>
</form>


