<!-- START BLOCK : block_error_msg -->
<div class="attn">
{error_msg}
</div>
<!-- END BLOCK : block_error_msg -->

<!-- START BLOCK : block_form -->
<link rel=STYLESHEET href="/css/calendar-my-style.css" type="text/css">
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/js/multiselect.js"></script>

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data" id="frmEdit">
<input name="id" type="hidden" value="{siteuser_id}">
<input name="step" type="hidden" value="2">
<input name="action" type="hidden" value="updatesiteuser">
<input name="group" id="hdnGroup" type="hidden" value="{groups}">

<div class="edit_form">

<table cellspacing="0" cellpadding="3" class="tpl_images">
<tr>
    <td>
    {MSG_Users_group} <span class="required_field">*</span>:<br>
    <select multiple id="mslctDest" size="7" ondblclick="multiselectRemove('mslctDest', 'mslctSrc', 'hdnGroup');" style="width:180px">
    <!-- START BLOCK : block_user_groups -->
    <option value="{id}">{name}</option>
    <!-- END BLOCK : block_user_groups -->
    </select>
    </td>
    <td>
    <button type="button" onclick="multiselectInsert('mslctDest', 'mslctSrc', 'hdnGroup');" title="Добавить в выбранные группы"><img src="/i/admin/b_movl_arr.gif" width="15" height="15"></button><br>
    <button type="button" onclick="multiselectRemove('mslctDest', 'mslctSrc', 'hdnGroup');" title="Удалить из выбранных груп"><img src="/i/admin/b_movr_arr.gif" width="15" height="15"></button><br>
    </td>
    <td>
    {Groups}:<br>
    <select multiple id="mslctSrc" size="7" ondblclick="multiselectInsert('mslctDest', 'mslctSrc', 'hdnGroup');" style="width:180px">
    <!-- START BLOCK : block_groups -->
    <option value="{group_id}">{group_name}</option>
    <!-- END BLOCK : block_groups -->
    </select>
    </td>
</tr>
</table>

<label class="required">{MSG_User_type}:</label><br>
<select name="type" id="el-type">
<option value="0">--  {MSG_Select_type}  --</option>
{client_type}
</select><br>

<label for="el-email" class="required">{MSG_Email}:</label><br>
<input type="text" class="required valid-email w300" name="email" size="50" value="{email}" id="el-email"><br><br>

<label for="el-pass" class="required">{MSG_Password}:</label> ({MSG_not_less_than} {min_pass_len} {MSG_and_not_more_than} {max_pass_len} {MSG_symbols})<br>
<input type="password" name="password" class="w300" size="40" value="{password}" id="el-pass" autocomplete="off"><br>

<label for="el-confpass" class="required">{MSG_Confirm_password}:</label><br>
<input type="password" name="confirm_password" class="w300" size="40" value="{password}" id="el-confpass" autocomplete="off"><br>

<label for="el-login" class="required">{MSG_Login} &mdash; username:</label> ({MSG_not_less_than} {min_login_len} {MSG_and_not_more_than}  {max_login_len} {MSG_symbols})<br>
<input type="text" name="siteusername" class="required w300" size="40" value="{username}" id="el-login"><br>

<label>{MSG_Image}:</label><br>
<input type="file" name="img">
<!-- START BLOCK : block_img_exist -->
<br><img src="/{path}">&nbsp;&nbsp;<input type="checkbox" name="del_img" id="del_img"> <label for="del_img">{MSG_Delete}</label>
<!-- END BLOCK : block_img_exist -->
<br>
{MSG_Max_height_width_size} - {img_max_height} х {img_max_width}px<br><br>

<!-- START BLOCK : prop_list -->
<!-- START BLOCK : prop_list_item -->

<!-- START BLOCK : prop_list_item_string -->
<label for="el-{id}" class="{css_required_class}">{title} &mdash; {uname}:</label><br>
<input type="text" name="prop[{id}]" value="{value}" class="{css_required_class}" id="el-{id}"><br>
<!-- END BLOCK : prop_list_item_string -->

<!-- START BLOCK : prop_list_item_text -->
<label for="el-{id}" class="{css_required_class}">{title} &mdash; {uname}:</label><br>
<textarea name="prop[{id}]" class="{css_required_class}" cols="40" rows="4" id="el-{id}">{value}</textarea><br>
<!-- END BLOCK : prop_list_item_text -->

<!-- START BLOCK : prop_list_item_date -->
<label for="el-{id}" class="{css_required_class}">{title} &mdash; {uname}:</label><br>
<input type="text" name="prop[{id}]" value="{value}" class="{css_required_class} abo-date" id="el-{id}"><br>
<!-- END BLOCK : prop_list_item_date -->

<!-- START BLOCK : prop_list_item_flag -->
<br>
<input type="checkbox" name="prop[{id}]" value="1" class="{css_required_class} checkb" {checked} id="el-{id}">
 &mdash; <label for="el-{id}" class="{css_required_class}" id="el-{id}">{title} &mdash; {uname}</label><br><br><br>
<!-- END BLOCK : prop_list_item_flag -->

<!-- START BLOCK : prop_list_item_select -->
<label for="el-{id}" class="{css_required_class}">{title} &mdash; {uname}:</label><br>
<select name="prop[{id}]" class="{css_required_class}" id="el-{id}">
<option value="">- выбрать -</option>
<!-- START BLOCK : prop_list_item_select_item -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : prop_list_item_select_item -->
</select><br>
<!-- END BLOCK : prop_list_item_select -->

<!-- START BLOCK : prop_list_item_set -->
<fieldset>
<legend><label for="el-{id}" class="{css_required_class}">{title} &mdash; {uname}:</label></legend>
<!-- START BLOCK : prop_list_item_set_item -->
<input type="checkbox" name="prop[{prop_id}][{id}]" value="1" {checked} class="checkb" id="el-{prop_id}-{id}">
 &mdash; <label for="el-{prop_id}-{id}">{name}</label><br>
<!-- END BLOCK : prop_list_item_set_item -->
</fieldset>
<!-- END BLOCK : prop_list_item_set -->

<!-- END BLOCK : prop_list_item -->

<!-- END BLOCK : prop_list -->
<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>

</div>
<BUTTON value="{MSG_Save}" type="submit"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<button onclick="cancel();" type="button"><img class="cancel" src="/i/admin/b_cancel.gif"><span>Отменить</span></button>
<!--<BUTTON value="{MSG_Cancel}" type="button" onClick="location.href='{cancel_link}';"><img src=/i/admin/b_back2list.gif class=back2list><span>{MSG_Cancel}</span></BUTTON>-->

</form>

<script type="text/javascript">
$(function() {
    $('.abo-date').each(function() {
        Calendar.setup({
            inputField  : $(this).attr('id'),      // ID of the input field
            ifFormat    : "dd.mm.y",    // the date format
            button      : $(this).attr('id'),    // ID of the button
            mondayFirst : true
        });
    });
    
    $('#frmEdit').submit(checkUserForm);
});

function checkUserForm()
{
    var json_username_list = {json_username_list},
        json_email_list = {json_email_list},
        id = {siteuser_id},
        username = '{username}',
        email = '{email}',
        ret = true,
        max_login_len = {max_login_len},
        min_login_len = {min_login_len},
        max_pass_len = {max_pass_len},
        min_pass_len = {min_pass_len},
        str = '';

    $('span.err').remove();
           
    str = $('#el-login').val();
    if ( ( !username || (username && username != str) ) && -1 != jQuery.inArray(str, json_username_list)) {        
        showErrBlock('#el-login', 'Этот ник уже используется');
        ret = false;
    }
    
    str = $('#el-email').val();
    if ( ( !email || (email && email != str) ) && -1 != jQuery.inArray(str, json_email_list)) {
        showErrBlock('#el-email', 'Этот e-mail уже используется');
        ret = false;
    }    
    
    if (ret) {
        ret = checkForm('#frmEdit');
    }
    
    if ($('#el-type').get(0).options.length > 1 && '0' == $('#el-type').val()) {
        showErrBlock('#el-type', '{MSG_Choose_user_type}');
        ret = false;
    }
    
    str = $('#el-login').val().length;
    if (min_login_len > 0 && min_login_len > str) {
        showErrBlock('#el-login', 'Минимальное число символов в нике - '+min_login_len);
        ret = false;
    }
    if (max_login_len > 0 && max_login_len < str) {
        showErrBlock('#el-login', 'Максимальное число символов в нике - '+max_login_len);
        ret = false;
    }
    
    if (! id || $('#el-pass').val()) {        
        str = $('#el-pass').val().length;
        if (0 == str) {
            showErrBlock('#el-pass', 'Не указан пароль');
            ret = false;
        } else if (min_pass_len > 0 && min_pass_len > str) {
            showErrBlock('#el-pass', 'Минимальное число символов в пароле - '+min_pass_len);
            ret = false;
        } else if (max_pass_len > 0 && max_pass_len < str) {
            showErrBlock('#el-pass', 'Максимальное число символов в пароле - '+max_pass_len);
            ret = false;
        }
        if ($('#el-pass').val() != $('#el-confpass').val()) {
            showErrBlock('#el-confpass', 'Пароли не совпадают');
            ret = false;
        }
        
        
    }
    return ret;
}
</script>
<!-- END BLOCK : block_form -->