<!-- -->
<script type="text/javascript">
function checkForm(form) 
{
	var SendItem= 0;
	var AlertMessage;

	if (form.password.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Enter_password}';
	} else if (form.confirm_password.value == "") {
		SendItem= 1; AlertMessage = '{MSG_Confirm_password}';
	} else if (form.password.value != form.confirm_password.value) {
		SendItem= 1; AlertMessage = '{MSG_Passwords_differ}';
	}

  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>

<!-- -->

<form method="post" action="{form_action}" name="myForm">

<div class="edit_form">
{MSG_New_password} <span class="required_field">*</span>:<br>
<input type="password" name="password" size="40" value=""><br>

{MSG_Confirm_new_password} <span class="required_field">*</span>:<br>
<input type="password" name="confirm_password" size="40" value=""><br><br>

<span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>
</div>
<BUTTON name="c" value="{MSG_Save}" type="button" onClick="checkForm(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>

<!--/-->

</form>