<div id="blckAddProp" style="display: none;">
<h2>{MSG_Add_prop}</h2>
<!-- INCLUDE BLOCK : prop_set -->
</div>

<div id="blckPropList">
<a class="add_btn" href="{baseurl}&action=prop_set" id="btnAdd"><span><img src="i/admin/ico_add.gif" alt="{MSG_Add}" title="{MSG_Add}" width="17" height="18" border="0">&nbsp;{MSG_Add_prop}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>

<script type="text/javascript">
$(function() {
    $('#btnAdd').click(function() {
        console.log($('#blckPropList'));
        $('#blckPropList').hide();
        $('#blckAddProp').fadeIn();
        return false;
    });
    $('#lnkCncl').click(function() {
        $('#blckAddProp').hide();
        $('#blckPropList').fadeIn();
        return false;
    });
});
</script>

<!-- START BLOCK : prop_list -->
<form action="{baseurl}" method="POST">
<input type="hidden" name="action" value="prop_set_all">
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr>
	<th width="20">{MSG_Activ}</th>
	<th width="20">{MSG_Ed}</th>
	<th>{MSG_Title}</th>
	<th>{MSG_Uname}</th>
	<th>{MSG_Required}</th>
	<th>{MSG_Reg_show_short}</th>
	<th>{MSG_Public_short}</th>
	<th>{MSG_Group}</th>
	<th>{MSG_Del}</th></th>
	<th>{MSG_Order}</th>
</tr>
<!-- START BLOCK : prop_list_item -->
<tr>
	<td>{change_status_action}</td>
	<td><a href="{baseurl}&action=prop_set&id={id}"><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width="15" height="18" border="0"></a></td>
	<td>{title}</td>
	<td>{uname}</td>
	<td class="center"><input type="hidden" name="id[]" value="{id}"><input type="checkbox" name="required[{id}]" value="1" {required_checked} class="chb-req"></td>
	<td class="center"><input type="checkbox" name="reg_show[{id}]" value="1" {reg_show_checked} class="chb-reg"></td>
	<td class="center"><input type="checkbox" name="public[{id}]" value="1" {public_checked} class="chb-pub"></td>
	<td><select name="group[{id}]" id="selGroup" class="required sel-grp"">
<option value="0">{MSG_All_groups}</option>
<!-- START BLOCK : group_list -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : group_list -->
</select></td>
    <td><a href="{baseurl}&action=prop_del&id={id}" onclick="return confirm('{MSG_Delete} ?');"><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></a></td>
    <td nowrap>
    <a href="{baseurl}&action=prop_up&id={id}&rank={rank}" onclick="changeOrder('shift{id}', this.href); return false;"><img src="/i/admin/{img_up}" alt="{MSG_Move_up}" title="{MSG_Move_up}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a>
    <input type="text" value="1" id="shift{id}" size="1" class="shift order_field">
    <a href="{baseurl}&action=prop_down&id={id}&rank={rank}" onclick="changeOrder('shift{id}', this.href); return false;"><img src="/i/admin/{img_down}" alt="{MSG_Move_down}" title="{MSG_Move_down}" width=15 height=18 border=0 vspace=1 hspace=1 align=absmiddle></a>
    </td>
</tr>
<!-- END BLOCK : prop_list_item -->
<tr><th colspan="10">&nbsp;</th></tr>
<tr>
	<td colspan="4">&nbsp;</td>
	<td class="center"><input type="checkbox" onclick="checkAllByClass(this, 'chb-req');"></td>
	<td class="center"><input type="checkbox" onclick="checkAllByClass(this, 'chb-reg');"></td>
	<td class="center"><input type="checkbox" onclick="checkAllByClass(this, 'chb-pub');"></td>
	<td><select onclick="selectAllGroup(this)">
<option value="-1">-{MSG_Select}-</option>
<option value="0">{MSG_All_groups}</option>
<!-- START BLOCK : group_list2 -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : group_list2 -->
</select></td>
    <td colspan="2">&nbsp;</td>
</tr>
</table>
<button type="submit" class="save">{MSG_Save}</button>
</form>

<form id="frmOrder" method="POST" action="{baseur}">
</form>
<!-- END BLOCK : prop_list -->
</div>

<script type="text/javascript">
function checkAllByClass(checkbox, class_name)
{
    if ($(checkbox).attr('checked')) {
        $('input.'+class_name).attr('checked', true);
    } else {
        $('input.'+class_name).attr('checked', false);
    }
}

function selectAllGroup(sel)
{
    var val = $(sel).val();
    if ('-1' != val) {
        $('select.sel-grp').val(val);
    }
}

function changeOrder(id, action)
{
    $('#frmOrder').attr('action', action+'&shift='+$('#'+id).val()).submit();    
}
</script>