<h1>Информация о дилере <b>{fio}</b> </h1>
<h2>Блок отчётов:</h2>
<div class="reports_block">
<!-- START BLOCK : rep_block -->
        {dateReports} : <a href="{link}">{link}</a> </br>
<!-- END BLOCK : rep_block -->
</div>
<h2>Блок обновлений:</h2>
<div class="upd_block">
<!-- START BLOCK : upd_block -->
        {dateUpdates} : {value} </br></br>
<!-- END BLOCK : upd_block -->
</div>