<a class="add_btn" href="{users_add_role}"><span><img src="i/admin/ico_groupadd.gif" alt="{MSG_Add_role}" title="{MSG_Add_role}" width="17" height="18" border="0">&nbsp;{MSG_Add_role}</span></a>
<div style="height: 10px;" class="spacer both">&nbsp;</div>
<table cellpadding=2 cellspacing=2 border=0 class=center width=98%>
<tr height="20">
	<th>{MSG_Ed}</th>
	<th width="30%">{MSG_Domain} ({MSG_language})</th>
	<th width="70%">{MSG_Description}</th>
	<th>{MSG_Del}</th>
</tr>
<form>
<!-- START BLOCK : block_roles -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td align=center><a href={role_edit_link}><img src="/i/admin/ico_edit.gif" alt="{MSG_Edit}" title="{MSG_Edit}" width=15 height=18 border=0></a></td>
	<td>{role_site_lang}</td>
	<td>{role_descr}</td>
	<td align=center><a href={role_del_link}><img src="/i/admin/ico_del.gif" alt="{MSG_Delete}" title="{MSG_Delete}" width=15 height=18 border=0></td>
</tr>
<!-- END BLOCK : block_roles -->
</form>
</table>
<!-- START BLOCK : nav -->
<div class="pagesnum">{MSG_Pages}: {nav_string}</div>
<!-- END BLOCK : nav -->