<!-- START BLOCK : block_no_compare -->
<h2>Для сравнения необходимо выбрать более одного товара.</h2>
<!-- START BLOCK : block_no_compare -->

<!-- START BLOCK : block_compare -->

<h2>Сравнение товаров</h2>
<form action="{form_act}" method="post">
<input type="submit" value="Удалить из списка сравнения" class="btn">
<table class="compare">
	<!-- START BLOCK : block_img -->
	<tr>
		<th></th>
		<!-- START BLOCK : block_img_row -->	
		<td>	
		<!-- START BLOCK : block_img_exist -->		
		<img src="/{img_path}" alt="">
		<!-- END BLOCK : block_img_exist -->
		<!-- START BLOCK : block_img_no_exist -->
		No foto
		<!-- END BLOCK : block_img_no_exist -->		
		</td>
		<!-- END BLOCK : block_img_row -->
	</tr>
	<!-- END BLOCK : block_img -->
	<!-- START BLOCK : block_title -->
	<tr>
		<th>Название</th>
		<!-- START BLOCK : block_title_row -->
		<td><b><a href="{prod_link}">{title}</a></b><br>
<span class="nowrap"><input type="checkbox" name="id[]" value="{prod_id}" id="{prod_id}" title="Выбрать для удаления из списка сравнения"><label for="{prod_id}">удалить&nbsp;из&nbsp;списка</label></span>
		</td>
		<!-- END BLOCK : block_title_row -->
	</tr>
	<!-- END BLOCK : block_title -->	
	
	<!-- START BLOCK : block_producer -->
	<tr>
		<th>Производитель</th>
		<!-- START BLOCK : block_producer_row -->
		<td>{producer}</td>
		<!-- END BLOCK : block_producer_row -->
	</tr>
	<!-- END BLOCK : block_producer -->
	
	<!-- START BLOCK : block_info -->
	<tr>
		<th>Краткое описание</th>
		<!-- START BLOCK : block_info_row -->
		<td>{info}</td>
		<!-- END BLOCK : block_info_row -->
	</tr>		
	<!-- END BLOCK : block_info -->
	
	<!-- START BLOCK : block_currency -->
	<tr>
		<th>Валюта</th>
		<!-- START BLOCK : block_currency_row -->
		<td>{currency}</td>
		<!-- END BLOCK : block_currency_row -->
	</tr>
	<!-- END BLOCK : block_currency -->
	
	<!-- START BLOCK : block_price -->
	<tr>
		<th>Ваша цена</th>
		<!-- START BLOCK : block_price_row -->
		<td><b>{price}</b></td>
		<!-- END BLOCK : block_price_row -->
	</tr>
	<!-- END BLOCK : block_price -->	
	
	<!-- START BLOCK : block_price_1 -->
	<tr>
		<th>Розничная цена</th>
		<!-- START BLOCK : block_price_1_row -->
		<td>{price_1}</td>
		<!-- END BLOCK : block_price_1_row -->
	</tr>
	<!-- END BLOCK : block_price_1 -->
	
	<!-- START BLOCK : block_price_2 -->
	<tr>
		<th>Партнёрская цена</th>
		<!-- START BLOCK : block_price_2_row -->
		<td>{price_2}</td>
		<!-- END BLOCK : block_price_2_row -->
	</tr>
	<!-- END BLOCK : block_price_2 -->
	
	<!-- START BLOCK : block_price_3 -->
	<tr>
		<th>Дилерская цена</th>
		<!-- START BLOCK : block_price_3_row -->
		<td>{price_3}</td>
		<!-- END BLOCK : block_price_3_row -->
	</tr>
	<!-- END BLOCK : block_price_3 -->
				
	<!-- START BLOCK : block_availability -->
	<tr>
		<th>Наличие</th>
		<!-- START BLOCK : block_availability_row -->
		<td>{availability}</td>
		<!-- END BLOCK : block_availability_row -->
	</tr>		
	<!-- END BLOCK : block_availability -->
		
	<!-- START BLOCK : block_property_list -->
	<!--tr>
		<th colspan="{prod_count}">Динамические свойства</th>
	</tr-->		
		<!-- START BLOCK : block_property -->
	<tr class="bg{bg_index}">
		<th>{property_title}</th>
			<!-- START BLOCK : block_property_row -->
		<td>{property_prefix} {property_value} {property_suffix}</td>
			<!-- END BLOCK : block_property_row -->
	</tr>		
		<!-- END BLOCK : block_property -->
		
	<!-- END BLOCK : block_property_list -->
</table>
</form>
<!-- END BLOCK : block_compare -->