﻿<!-- START BLOCK : block_product -->
<script src="/js/thickbox.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<!--<link rel="stylesheet" type="text/css" href="/css/tick.css">-->

<script type="text/javascript">
function setImg(path, sink) {
    if (path) {
        $('#imgBig').attr('src', path);
    }
    $('img.selected').removeClass('selected');
    $(sink).addClass('selected');
}
</script>
<div style="float:left;">

<!-- START BLOCK : block_product_first_img -->
    <!-- START BLOCK : block_product_first_img_exists -->
	<img src="{img_path}" alt="" class="cat_img_big" id="imgBig"/>
	<!-- END BLOCK : block_product_first_img_exists -->
	<!-- START BLOCK : block_product_first_img_no_exists -->
	<img src="/i/no_photo.gif" alt="" class="cat_img_big" id="imgBig"/>
	<!-- END BLOCK : block_product_first_img_no_exists -->
	<!-- START BLOCK : block_product_first_preview_exists -->
	<!--img src="{preview_path}" onclick="setImg('{img_path}', this);"-->
	<!-- END BLOCK : block_product_first_preview_exists -->
	<!-- START BLOCK : block_product_first_preview_no_exists -->
	<!--{preview_path}-->
	<!-- END BLOCK : block_product_first_preview_no_exists -->
<!-- END BLOCK : block_product_first_img -->

		<!-- START BLOCK : block_product_img_list -->
		<!-- START BLOCK : block_product_img -->
		<!-- START BLOCK : block_product_img_exists -->
		<!-- <a href="{img_path}" target="_blank">{img_path}</a>-->
		<!-- END BLOCK : block_product_img_exists -->
		<!-- START BLOCK : block_product_img_no_exists -->
		<!--{img_path}-->
		<!-- END BLOCK : block_product_img_no_exists -->
		<!-- START BLOCK : block_product_preview_exists -->
		<img src="{preview_path}" onclick="setImg('{img_path}', this);" class="{css_selected_class}">
		<!-- END BLOCK : block_product_preview_exists -->
		<!-- START BLOCK : block_product_preview_no_exists -->
		<!--{preview_path}-->
		<!-- END BLOCK : block_product_preview_no_exists -->
		<!-- END BLOCK : block_product_img -->
		<!-- END BLOCK : block_product_img_list -->
		
		<div class="good good_single">
	<div class="_big_picture">
		<div class="big_picture_inner">
			<div id="product_photo">				
			</div>
		</div>
	</div>
	<div class="_main_info">
		<div class="good_text2">
			<div id="product_previews">
			
		
		
				<div class="clear"></div>
			</div>
			<!-- START BLOCK : block_ptype -->
			Производитель: {product_ptype_title} <a href="{product_ptype_link}">{product_ptype_link}</a><br>
			<!-- END BLOCK : block_ptype -->
			<!-- START BLOCK : block_group -->
			<p class="good_group"> Группа товара: {product_group} </p>
			<!-- END BLOCK : block_group -->
			<!-- START BLOCK : block_code -->
			<p class="good_group"> Код товара (артикул): {product_code} </p>
			<!-- END BLOCK : block_code -->
			<!-- START BLOCK : block_availability -->
			<p>Наличие: {product_availability}</p>
			<!-- END BLOCK : block_availability -->
			<p>Цена: 
			<!-- START BLOCK : block_product_price -->
			<b>{product_price} {product_currency}
			<!-- END BLOCK : block_product_price -->
			<!-- START BLOCK : block_product_noprice -->
			{product_price}
			<!-- END BLOCK : block_product_noprice -->
			</b></p>
			<!--
{product_price_1} {product_currency}<br>
{product_price_2} {product_currency}<br>
{product_price_3} {product_currency}<br>
-->
			<form action="{add_to_cart_action}" method="post" name="addToCart{id}" enctype="multipart/form-data">
			
			<!-- START BLOCK : block_order_properties -->
<p style="margin-bottom:5px !important;">Свойства заказа:</p>

<!-- START BLOCK : block_order_property_list -->

<!-- START BLOCK : block_order_property -->
{title}:

<!-- START BLOCK : block_order_property_val_list -->
{prefix} <select name="p[{id}]">
<option value="">-выбрать-</option>
<!-- START BLOCK : block_order_property_val -->
<option value="{id}">{value}</option>
<!-- END BLOCK : block_order_property_val -->
</select> {suffix}<br>
<!-- END BLOCK : block_order_property_val_list -->
<p style="margin-bottom: 5px !important;"></p>
<!-- START BLOCK : block_order_property_val_one -->
 {prefix} {value} {suffix}<br>
<input type="hidden" name="p[{prop_id}]" value="{id}">
<!-- END BLOCK : block_order_property_val_one -->

<!-- END BLOCK : block_order_property -->
<!-- END BLOCK : block_order_property_list -->

<!-- END BLOCK : block_order_properties -->
<p></p>
				В корзину:
				<input type="text" name="qty" value="1" size="3" maxlength="5" class="amount">
				<input type="hidden" name="id" value="{id}">
				
	
				<button type="submit" onclick="addGoodsToCart(this.form); return false;"><img src="/i/ico_basket.gif" alt="Добавить в корзину"></button>
			</form>
			</div>
	</div>
</div>
</div>


</div>
<br clear="all" />
<br /><br />

<!-- START BLOCK : block_description -->
<h3 class="ot3">Описание</h3>
<p style="padding-right: 10px;">{product_description}</p>
<!-- END BLOCK : block_description -->			
			
<br /><br /><br />
<!--
Категория
{product_categ}
-->
<!-- START BLOCK : block_group_properties -->
<h3 class="ot2">Xарактеристики</h3>
<div id="tphoto-blocks">
	<div class="gallery">		
		<table id="properties" style="width: 98% !important;">
			<!-- START BLOCK : block_group_properties_row -->
			
			<!-- START BLOCK : block_group_property -->
			<tr>
				<td>{title}</td>
				<td>{prefix} {value} {suffix}</td>
			</tr>
			<!-- END BLOCK : block_group_property -->
			
			<!-- START BLOCK : block_group_delim -->
			<tr>
				<td colspan="2">{title}</td>
			</tr>
			<!-- END BLOCK : block_group_delim -->
			<!-- END BLOCK : block_group_properties_row -->
		</table>
<script language="javascript" type="text/javascript">
$('#properties tr:odd').addClass('odd');
</script>		
	</div>
</div>
<!-- END BLOCK : block_group_properties -->

<br>
<!-- START BLOCK : block_concernd -->
<h3 class="h3_good">Мы также рекомендуем с товаром {title}</h3>
<ul class="also">
	<!-- START BLOCK : block_concernd_row -->
	<li><a href="{prod_link}">{title}</a>
		<!-- START BLOCK : block_concernd_image_middle -->
		<br>
		<img src="{image_path}" alt="{title}">
		<!-- END BLOCK : block_concernd_image_middle -->
	</li>
	<!-- END BLOCK : block_concernd_row -->
</ul>
<!-- END BLOCK : block_concernd -->
<div class="ot"></div>
<!-- START BLOCK : block_analogues -->
<h3 class="h3_good">Аналоги для {title}</h3>
<ul class="also">
	<!-- START BLOCK : block_analogues_row -->
	<li><a href="{prod_link}">{title}</a>

		<!-- START BLOCK : block_analogues_image_middle -->
		<br>
		<img src="{image_path}" alt="{title}" />
		<!-- END BLOCK : block_analogues_image_middle -->
	</li>
	<!-- END BLOCK : block_analogues_row -->
</ul>
<!-- END BLOCK : block_analogues -->
<div class="ot"></div>
<!-- START BLOCK : block_prev_prod -->
&larr;&nbsp;<a href="{prev_prod_link}">Предыдущий продукт</a>&nbsp;&nbsp;
<!-- END BLOCK : block_prev_prod -->
<a href="{link_category}">В категорию</a>&nbsp;&nbsp;
<!-- START BLOCK : block_next_prod -->
<a href="{next_prod_link}">Следующий продукт</a>&nbsp;&rarr;
<!-- END BLOCK : block_next_prod -->
<!-- END BLOCK : block_product -->
<!-- INCLUDE BLOCK : comments -->
<br clear="all" />
<!--</div>-->
