<script type="text/javascript" src="/js/mn.js"></script>
<h3 class="h3_block">Каталог</h3>
<!-- START BLOCK : block_tree -->
<ul id="mn">
    <!-- START BLOCK : block_node -->
    <!-- START BLOCK : block_end_level -->
    </ul>
    <!-- END BLOCK : block_end_level -->
    
    <!-- START BLOCK : block_start_level -->
    <ul>
    <!-- END BLOCK : block_start_level -->
    
    <!-- START BLOCK : block_node_item -->
    <li><a href="{link}" level="{level}">{title}</a>
    <!-- END BLOCK : block_node_item -->
    
    <!-- START BLOCK : block_node_item_active -->
    <li class="active"><a href="{link}" level="{level}">{title}</a>
    <!-- END BLOCK : block_node_item_active -->
    
    <!-- START BLOCK : block_node_item_current -->
    <li class="current"><a href="{link}" level="{level}"><b>{title}</b></a>
    <!-- END BLOCK : block_node_item_current -->
    
    <!-- START BLOCK : block_node_item_cnt -->
    [{cnt}]
    <!-- END BLOCK : block_node_item_cnt -->
    <!-- END BLOCK : block_node -->    
</ul>
<!-- END BLOCK : block_tree -->
<script>
init();
</script>