<!-- START BLOCK : block_groupping -->
<table width="100%">
<tr>
<!-- START BLOCK : block_level1 -->
<td width="50%" valign="top">
<h3><a href="{link}">{title}</a>
<!-- START BLOCK : block_level1_cnt -->
&nbsp;({cnt})
<!-- END BLOCK : block_level1_cnt -->
</h3>

<!-- START BLOCK : block_level1_img -->
<img src="{path}">
<!-- END BLOCK : block_level1_img -->
<!-- START BLOCK : block_level1_no_img -->
<img src="/i/no_photo.gif">
<!-- END BLOCK : block_level1_no_img -->


{desc}

<ul class="cat_menu">
	<!-- START BLOCK : block_level2 -->
	
		<!-- START BLOCK : block_level2_active -->
		<li><strong>{title}</strong>
			<!-- START BLOCK : block_level2_active_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_level2_active_cnt -->
			{desc}
			<!-- START BLOCK : block_level2_active_img -->
			<img src="{path}">
			<!-- END BLOCK : block_level2_active_img -->
			<!-- START BLOCK : block_level2_active_no_img -->
			<<img src="/i/no_photo.gif">
			<!-- END BLOCK : block_level2_active_no_img -->
		</li>
		<!-- END BLOCK : block_level2_active -->
		
		<!-- START BLOCK : block_level2_noactive -->
		<li><a href="{link}">{title}</a>
			<!-- START BLOCK : block_level2_noactive_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_level2_noactive_cnt -->
			{desc}
			<!-- START BLOCK : block_level2_noactive_img -->
			<img src="{path}">
			<!-- END BLOCK : block_level2_noactive_img -->
			<!-- START BLOCK : block_level2_noactive_no_img -->
			<img src="i/no_photo.gif">
			<!-- END BLOCK : block_level2_noactive_no_img -->
		</li>
		<!-- END BLOCK : block_level2_noactive -->
	
	<!-- START BLOCK : block_level2 -->
</ul>
</td>
<!-- END BLOCK : block_level1 -->
</tr></table>
<!-- END BLOCK : block_groupping -->