<script language="JavaScript">
var dynBlocks = new Array();
var groupBlocks = new Array();
{js_arrays}

function refreshDisplay(group_elm,empty){
	var block;
	if (group_elm) {
	    var group_id = group_elm.options[group_elm.selectedIndex].value;
    	for(i=0;i<dynBlocks.length;i++){
    		block = document.getElementById("dynamic"+dynBlocks[i]);
    		found = 0;
    		for(j=0;j<groupBlocks[group_id].length;j++)
    			if(groupBlocks[group_id][j] == dynBlocks[i]){
    				found = 1; break;
    			}
    		if(!block || !block.style)
    			return;
    		if(found){
    			block.style.display="block";
    		}else{
    			block.style.display="none";
    			if(empty){
    				if(field = document.getElementById("sdata[dynamic]["+dynBlocks[i]+"]")) {
    					if(field.type=="select-one"){
    						field.selectedIndex = 0;
    					}else if (field.type=="text"){
    						field.value = "";
    					}
    				} else {
    					field = document.getElementById("sdata[dynamic]["+dynBlocks[i]+"][1]");
    					field.value = "";
    					field = document.getElementById("sdata[dynamic]["+dynBlocks[i]+"][2]");
    					field.value = "";
    				}
    			}
    		}
    	}
	}
}
</script>
<h3 class="h3_block">Поиск по каталогу</h3>
<form action="{form_action}" method="get" name="searchForm" class="catalogue_search_form">
<input type="hidden" name="lang" value="{lang}">
<input type="hidden" name="link" value="{link}">
<input type="hidden" name="action" value="{action}">
<input type="hidden" name="sdata[cnt]" value="{cnt}">
<!-- START BLOCK : block_show_name -->
Название: <br><input type="text" name="sdata[pname]" value="{pname}"><br>
<!-- END BLOCK : block_show_name -->

<!-- START BLOCK : block_show_code -->
Артикул: <br><input type="text" name="sdata[code]" value="{code}"><br>
<!-- END BLOCK : block_show_code -->

<!-- START BLOCK : block_show_availability -->
Наличие: <input type="checkbox" name="sdata[availability]" value="1" {availability_checked}><br>
<!-- END BLOCK : block_show_availability -->

<!-- START BLOCK : block_show_ptype -->
Производитель:<br>
<select name="sdata[ptype_id]">
<option value="0">--  Выбрать  --</option>
<!-- START BLOCK : block_ptype -->
<option value="{ptype_id}"{selected}>{ptype_name}</option>
<!-- END BLOCK : block_ptype -->
</select><br>
<!-- END BLOCK : block_show_ptype -->


<!-- START BLOCK : block_show_price -->
Цена:<br> от <input name="sdata[pprice1]" size="10" value="{price1}" class="midi_digit"> до <input name="sdata[pprice2]" size="10" value="{price2}" class="midi_digit"><br>
<!-- END BLOCK : block_show_price -->

<!-- START BLOCK : block_show_group -->
Группа:<br>
<select id="sdata[group_id]" name="sdata[group_id]" onchange="refreshDisplay(this,false)">
<option value="0">-- Выберите тип товара --</option>
<!-- START BLOCK : block_group -->
<option value="{search_type_id}"{selected}>{search_type}</option>
<!-- END BLOCK : block_group -->
</select><br>

<!-- START BLOCK : block_dynamic_property -->
<!-- START BLOCK : block_dynamic_text -->
<span id="dynamic{id}" style="display:none">
{title}:<br> {prefix} <input id="sdata[dynamic][{id}]" name="sdata[dynamic][{id}]" value="{value}" class="mini_digit"> {suffix}<br>
</span>
<!-- END BLOCK : block_dynamic_text -->
<!-- START BLOCK : block_dynamic_text_range -->
<span id="dynamic{id}" style="display:none">
{title}:<br> от <input id="sdata[dynamic][{id}][1]" name="sdata[dynamic][{id}][1]" value="{value1}" class="mini_digit"> {suffix}<br>
 до <input id="sdata[dynamic][{id}][2]" name="sdata[dynamic][{id}][2]" value="{value2}" class="mini_digit">&nbsp;{suffix}<br>
</span>
<!-- END BLOCK : block_dynamic_text_range -->
<!-- START BLOCK : block_dynamic_select -->
<span id="dynamic{id}" style="display:none">
{title}: {prefix} <select id="sdata[dynamic][{id}]" name="sdata[dynamic][{id}]">
<option value="0">-- не учитывать --</option>
<!-- START BLOCK : block_option -->
<option value="{v_name}"{selected}>{v_name}</option>
<!-- END BLOCK : block_option -->
</select> {suffix}<br>
</span>
<!-- END BLOCK : block_dynamic_select -->
<!-- END BLOCK : block_dynamic_property -->
<script>refreshDisplay(document.getElementById('sdata[group_id]'),false);</script>
<!-- END BLOCK : block_show_group -->

<!-- START BLOCK : block_show_sort -->
Сортировать:<br>
<select name="sdata[sort]">
<option value="0">--  Выбрать  --</option>
<option value="price" {sort_price_selected}>по цене</option>
<option value="name" {sort_name_selected}>по наименованию</option>
<option value="ptype" {sort_ptype_selected}>по производителю</option>
</select><br>
<!-- END BLOCK : block_show_sort -->

<button type="submit" onclick="refreshDisplay(document.getElementById('sdata[group_id]'),true);">Найти</button>
</form>
<br><br>