﻿<!-- START BLOCK : block_products -->
<script type="text/javascript" src="/js/cart.js"></script>
<h3 class="h3_block">Новинки</h3>
	<!-- START BLOCK : block_product_row -->

<div class="good">
<table class="good_img"><tr><td>
<!-- START BLOCK : block_product_img -->
<a href="{prod_link}"><img src="{img}" alt="{prod_title}"></a>
<!-- END BLOCK : block_product_img -->
<br></td></tr><th>
<!-- START BLOCK : block_product_img_big -->

<!-- END BLOCK : block_product_img_big  -->
<!-- START BLOCK : block_product_img_big_no -->

<!-- END BLOCK : block_product_img_big_no  -->

<!-- START BLOCK : block_product_price -->
{prod_price} {prod_currency}<br>
<!-- END BLOCK : block_product_price -->

<!-- START BLOCK : block_product_noprice -->
{prod_price}<br>
<!-- END BLOCK : block_product_noprice -->
<br>

<!--
{prod_price_1} {prod_currency}<br>
{prod_price_2} {prod_currency}<br>
{prod_price_3} {prod_currency}<br>
-->
</th></tr></table>
<div class="good_text">
<a href="{prod_link}" class="good_title">{prod_title}</a><br>
{group_title}<br>
{ptype_name}<br>
<p>
{prod_descr}
</p>

<form action="{add_to_cart_action}" method="post" name="addToCart{id}" enctype="multipart/form-data">
Добавить в корзину:
<input type="text" name="qty" value="1" size="3" maxlength="5">
<input type="hidden" name="id" value="{prod_id}">

<!-- START BLOCK : block_order_properties -->
<br>Свойства заказа:<br>

<!-- START BLOCK : block_order_property_list -->

<!-- START BLOCK : block_order_property -->
{title}:

<!-- START BLOCK : block_order_property_val_list -->
{prefix} <select name="p[{id}]">
<option value="">-выбрать-</option>
<!-- START BLOCK : block_order_property_val -->
<option value="{id}">{value}</option>
<!-- END BLOCK : block_order_property_val -->
</select> {suffix}<br>
<!-- END BLOCK : block_order_property_val_list -->

<!-- START BLOCK : block_order_property_val_one -->
 {prefix} {value} {suffix}<br>
<input type="hidden" name="p[{prop_id}]" value="{id}">
<!-- END BLOCK : block_order_property_val_one -->

<!-- END BLOCK : block_order_property -->
<!-- END BLOCK : block_order_property_list -->

<!-- END BLOCK : block_order_properties -->
<br>
<button type="submit" onclick="addGoodsToCart(this.form); return false;">В корзину</button>
</form>
</div>
</div>
	<!-- END BLOCK : block_product_row -->
<!-- END BLOCK : block_products -->