﻿<!-- START BLOCK : block_products_absent -->
<p>По вашему запросу ничего не найдено. Попробуйте произвести поиск с другими параметрами.</p>
<!-- END BLOCK : block_products_absent -->
<!-- START BLOCK : block_categories -->
<h3 class="h3_block cat">Каталог</h3>
<ul>
<!-- START BLOCK : block_category_row -->
<li>
<b><a href="{ctg_link}">{ctg_name}</a></b>
<!-- START BLOCK : block_prod_cnt -->
&nbsp;({cnt})
<!-- END BLOCK : block_prod_cnt -->
<br>
{ctg_descr}
<!-- START BLOCK : block_category_img -->
<a href="{ctg_link}"><img src="{img}" alt="{ctg_name}"></a><br>
<!-- END BLOCK : block_category_img -->
</li>
<!-- END BLOCK : block_category_row -->
</ul>
<!-- END BLOCK : block_categories -->

<!-- START BLOCK : block_products -->
<script src="/js/popupIMG.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<script type="text/javascript" language="JavaScript">
var cnt_products={cnt_compare_prod};
function checkForm(f)
{
	//var check = cnt_products;
	//for (var i = 0, elm_cnt = f.elements.length; i < elm_cnt; i++) {
		//check += f.elements[i].name == 'compare[]' && f.elements[i].checked ? 1 : 0;
		if (f.cnt_compare_prod.value > 0) {
			return true;
		}
	//}
	alert('Для сравнения необходимо выбрать более одного товара.');
	return false;
}
function addPrdForCompare(prd_id) {
	var req = new JsHttpRequest();
	req.onreadystatechange = function() {
		if (req.readyState == 4) {
			cnt_products=req.responseJS.cnt;
			document.getElementById("cnt_compare_prod").innerHTML=cnt_products;
			document.getElementById("compare_prd"+req.responseJS.prod_id).innerHTML="";
			document.getElementById("cnt_compare_prod_v").value= '1';
		}
	};
	req.open("GET", "{baseurl}&action=addcmpprd", true);
	req.send( { id: prd_id } );
	return false;
}
</script>
<!-- h2>{categ_title}</h2 -->
{categ_descr}
<form name="productsForm" id="frmCompareProd" method="POST" action="{baseurl}" target="_blank">
<br>
<input type="hidden" name="action" value="compare">
<input type="hidden" name="id" value="{categ_id}">
<button type="submit" onclick="return checkForm(this.form)">Сравнить</button><br><br>
Товаров для сравнения: <b><span id="cnt_compare_prod">{cnt_compare_prod}</span></b>
<input id="cnt_compare_prod_v" name="cnt_compare_prod" value="{cnt_compare_prod}" type="hidden">
</form>
&nbsp;&nbsp;&nbsp;<a href="{baseurl}&clearcmplist=yes">Очистить список</a>
<br><br>
	<!-- START BLOCK : block_product_row -->

<div class="good" style="padding-bottom: 10px;">
<table class="good_img"><tr><td>
<!-- START BLOCK : block_product_img -->
<a href="{prod_link}"><img src="{img}" alt="{prod_title}"></a>
<!-- END BLOCK : block_product_img -->
<br></td></tr><th>
<!-- START BLOCK : block_product_img_big -->

<!-- END BLOCK : block_product_img_big  -->
<!-- START BLOCK : block_product_img_big_no -->

<!-- END BLOCK : block_product_img_big_no  -->

<!-- START BLOCK : block_product_price -->
{prod_price} {prod_currency}<br>
<!-- END BLOCK : block_product_price -->

<!-- START BLOCK : block_product_noprice -->
{prod_price}<br>
<!-- END BLOCK : block_product_noprice -->

<!-- START BLOCK : block_product_novelty -->
Новинка<br>
<!-- END BLOCK : block_product_novelty -->

<!--
{prod_price_1} {prod_currency}<br>
{prod_price_2} {prod_currency}<br>
{prod_price_3} {prod_currency}<br>
-->
</th></tr></table>
<div class="good_text">
<a href="{prod_link}" class="good_title">{prod_title}</a><br>
{group_title}<br>
{ptype_name}<br>
<!-- START BLOCK : block_product_code -->
Код товара (артикул): {prod_code}<br>
<!-- END BLOCK : block_product_code -->
<p>
{prod_descr}
</p>
<!-- START BLOCK : block_compare_elements -->
<!-- <input type="checkbox" name="compare[]" value="{prod_id}" id="{prod_id}">&nbsp;<a href="#" onclick="if(checkForm(document.getElementById('frmCompareProd')) == true) { document.getElementById('frmCompareProd').submit(); } return false;">сравнить</a><br> -->
<div class="compare" id="compare_prd{prod_id}">
<!--input type="checkbox" name="compare[]" value="{prod_id}" title="Выбрать для сравнения">&nbsp;-->
<a href="" onclick="return addPrdForCompare({prod_id});">Добавить для сравнения</a><br><br>
</div>
<!-- END BLOCK : block_compare_elements -->
<!-- START BLOCK : block_compare_elements_no -->
<!-- <a href="#" onclick="if(checkForm(document.getElementById('frmCompareProd')) == true) { document.getElementById('frmCompareProd').submit(); } return false;">сравнить</a><br><br> -->
<!-- END BLOCK : block_compare_elements_no -->
<form action="{add_to_cart_action}" method="post" name="addToCart{id}" enctype="multipart/form-data">
В корзину:
<input type="text" name="qty" value="1" size="3" maxlength="5">
<input type="hidden" name="id" value="{prod_id}">


<br>
<button type="submit" onclick="addGoodsToCart(this.form); return false;" style="margin-top: 5px;">В корзину</button>
</form>
</div>
<br clear="all" />
</div>

	<!-- END BLOCK : block_product_row -->
<br class="both">
<button type="submit" onclick="if(checkForm(document.getElementById('frmCompareProd')) == true) document.getElementById('frmCompareProd').submit();">Сравнить</button>
		<!-- START BLOCK : nav -->
		<div class="pages"><span>Страницы:</span> {nav_string}</div>
		<!-- END BLOCK : nav -->

<!-- END BLOCK : block_products -->