<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<LINK REL=STYLESHEET href="/css/calendar-my-style.css" TYPE="text/css">
<link rel="stylesheet" type="text/css" href="/css/tick.css" />
<script src="/js/admin/jquery/plugins/thickbox.js" language="JavaScript" type="text/javascript"></script>
<script type="text/javascript" language="JavaScript" src="/js/reg_exp.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".CheckBoxClass").change(function(){
		if($(this).is(":checked")){
			$(this).next("label").addClass("LabelSelected");
		}else{
			$(this).next("label").removeClass("LabelSelected");
		}
	});
	$(".RadioClass").change(function(){
		if($(this).is(":checked")){
			$(".RadioSelected:not(:checked)").removeClass("RadioSelected");
			$(this).next("label").addClass("RadioSelected");
		}
	});	
});
$(document).ready(function(){
	$(".hideable h3").click(function(){
		if($(this).is(".close")){
			$('.content', $(this).parent()).fadeIn('slow');
		}else{
			$('.content', $(this).parent()).fadeOut('slow');
		}
		$(this).toggleClass("close");
	});
});
</script>

<style type="text/css">
div.file-block div {
	float: left;
	margin-right: 15px;
}
#blckOrderPropList div {
	padding:3px;
	margin:2px;
	width:31%;
	float:left;
	/*border-right:1px dotted #666;
	border-bottom:1px dotted #666;*/
	height: 100px;
	overflow:auto;
}
#blckGroupPropList div {
	padding:3px;
	margin:2px;
	width:47%;
	float:left;
	/*border-right:1px dotted #666;
	border-bottom:1px dotted #666;*/
	height: 40px;
	_height: 60px;
}
</style>

{path} <br>
<br>
<div class="allbox">
	<form action="{form_action}" method="POST" name="myForm" enctype="multipart/form-data" class="edit_form">
		<input type="hidden" name="parent" value="{parent}">
		<input type="hidden" name="id" value="{product_id}">
		<input type="hidden" name="start" value="{start}">
		<input type="hidden" name="step" value="2">
		<input type="hidden" name="referer" value="{referer}">
		<input type="hidden" name="tryon" value="0">
		<!-- ________________edit_form start-->
		<div class="hideable">
		<h3>Описание</h3>
		<div class="content">
		    {MSG_Good_code} ({MSG_articul}):<br>
			<input type="text" class=w300 name="pcode" value="{product_code}" size="20">
			<br>
			{MSG_Name} <span class="required_field">*</span>:<br>
			<input type="text" class=w300 name="pname" value="{product_name}" size="30">
			<br>
			{MSG_Alias} : {MSG_Alias_Info}<br>
			<input type="text" class=w300 name="alias" value="{product_alias}" size="30">
			<br>
			
			Ссылка:<br>
			<input type="text" class=w300 name="link" value="{link}" size="30">
			<br>
			
			Артикул в трейде:<br>
			<input type="text" class=w300 name="atrade" value="{atrade}" size="30">
			<br>
			
			Не выгружается в YML: <input type="checkbox"  name="nyml" value="1" {nyml_c} />
			<br><br>
			
			Новинка: <input type="text" name="date" id="date" value="{date}" style="width: 100px;" value="">&nbsp;<BUTTON name="s" value="Выбрать" type="button" id="trigger"><img src="/i/admin/b_cal.gif" alt="" class="select"><span>Выбрать</span></BUTTON><br/>
			
			{MSG_Good_producer}:<br>
			<select name="ptype_id">
				<option value="0">--  {MSG_Select_producer}  --</option>
				<!-- START BLOCK : block_ptype -->
				<option value="{ptype_id}"{selected}>{ptype_name}</option>
				<!-- END BLOCK : block_ptype -->
			</select>
			<br>
			{MSG_Short_description}:<br>
			<textarea name="info" cols="80" rows="5">{product_inf}</textarea>
			<br>
			{MSG_Full_description}: <br>
			<br>
			<textarea id="txt_content" name="txt_content" rows="4" cols="30" class="tinymce">{text}</textarea>
			<br>
			Описание suprashop : <br>
			<br>
			<textarea id="txt_content_shop" name="txt_content_shop" rows="4" cols="30" class="tinymce">{text_shop}</textarea>
			<br>
			<br>
			Комметарий к 3D:<br>
			<textarea name="swf_text" cols="80" rows="5">{swf_text}</textarea>
			
			<br>
			SWF :
<!-- START BLOCK : img -->
<a href="{img}" target="_blanck">просмотреть {img}</a>
<a href="#" onclick="$('#txtImg').val(''); return false;"><img width="14" height="14" src="/i/admin/x.gif" alt="(х)" title="очистить" align="middle"> очистить</a>
<!-- START BLOCK : img -->
<br>
<input type="text" name="img" value="{img}" id="txtImg" style="width: 100px;" readonly>&nbsp;
			<button type="button" onclick="mcImageManager.open('myForm','img','','',{remove_script_host : true});" class="select">Выбрать</button>
			<br>
			{img_del}
			<br>
			Заголовок страницы:<br>
			<input type="text" class=w300 name="seo_title" value="{seo_title}" size="30">
			<br>
			{MSG_Page_description}:<br>
			<textarea name="description" cols="80" rows="3">{page_description}</textarea>
			<br>
			{MSG_Keywords}:<br>
			<textarea name="keywords" cols="80" rows="3">{page_keywords}</textarea>
			<br>
		</div>
		</div>
		
		
		<!-- ________________edit_form and-->
		<!-- ________________price_box start-->
		<div class="hideable">
		<h3 class="close">Цена</h3>
		<div class="content hide">
		    {MSG_Currency}:<br>
			<select name="currency" id="currency">
				<option selected value="RUR">руб. </option>
				</select>
			<br>
			<table>
			<tr>
			<td>
			<!-- START BLOCK : block_show_price_1 -->
			{MSG_Retail_price}:<br>
			<input type="text" class=w300 name="price_1" id="pr1" value="{price_1}" size="20">
			
			<!-- END BLOCK : block_show_price_1 -->
			</td>
			<!--<td>
			<input type="button" value="&nbsp;&nbsp;" onclick="var x = document.getElementById('pr1').value;document.getElementById('pr1').value = document.getElementById('pr5').value;document.getElementById('pr5').value = x;return;">
			</td>-->
			<td>
			<!-- START BLOCK : block_show_price_5 -->
			не выгружать цену из трейда:
			<input type="checkbox" class=w300 name="price_5" id="pr5" {checked} value="{price_5}" size="20">
			<br>
			<!-- END BLOCK : block_show_price_5 -->
			</td>
			</tr>
			</table>
			<br>
			<!-- START BLOCK : block_show_price_2 -->
			{MSG_Partner_price}:<br>
			<input type="text" class=w300 name="price_2" value="{price_2}" size="20">
			<br>
			<!-- END BLOCK : block_show_price_2 -->
			<!-- START BLOCK : block_show_price_3 -->
			{MSG_Dealer_price}:<br>
			<input type="text" class=w300 name="price_3" value="{price_3}" size="20">
			<br>
			<!-- END BLOCK : block_show_price_3 -->
			<!-- START BLOCK : block_show_price_4 -->
			{MSG_Old_price}:<br>
			<input type="text" class=w300 name="price_4" value="{price_4}" size="20">
			<br>
			<!-- END BLOCK : block_show_price_4 -->
			
			{MSG_Presence}:&nbsp;<br>
			<input class=w300 type=text name="availability" value="{availability}" size="10">
			<br>
		</div>
		</div>
		
		
		<!-- ________________price_box and-->
		<!-- ________________images_box start-->
		<div class="hideable">
		<h3 class="close">{MSG_Images}</h3>
		<div class="content hide">
			<!--old_block start_________________-->
			
            <span class="txt1">{MSG_Main_images}:</span>
			<div class="box">
			    <div class="img_add_box flL">
					<!-- START BLOCK : block_middle_image -->
					<a href="{big_img_path}" class="thickbox" target="_blank"><img src="{path}" alt="{path}" title="{path}" class="brdr"></a>					
					<!-- END BLOCK : block_middle_image -->
					<!-- START BLOCK : block_no_middle_image -->
					<a href="{big_img_path}" class="thickbox" target="_blank"><img src="{path}" alt="{path}" title="{path}" class="brdr"></a>					
					<!-- END BLOCK : block_no_middle_image -->
				</div>
				<div class="img_add_box flL">
					<label>{MSG_Big_image}:</label><br>
					<input type="hidden" value="{image_big_file}" name="image_big_name"/>
					<input type="file" name="image_big">
				</div>
				<div class="img_add_box flL">
					<label>{MSG_Middle_image}:</label><br>
					<input type="hidden" value="{image_middle_file}" name="image_middle_name"/>
					<input type="file" name="image_middle">
				</div>
				<div class="img_add_box flL">
					<input name="del_image" value="1" id="chbDelMidd" type="checkbox" />
					<label for="chbDelMidd">{MSG_Delete}</label>
				</div>
				<div class="clear"></div>
			</div>					
			
			<!-- START BLOCK : block_product_img_list -->
			<div class="box">
            	<!-- START BLOCK : block_product_img -->
            	<div class="flL">
            	<input type="hidden" name="copy_img[{id}]" value="{img}">
            	<input type="hidden" name="copy_prev[{id}]" value="{preview}">
            	<!-- START BLOCK : block_product_preview_exists -->
            	<a href="{img_path}" class="thickbox" target="_blank"><img src="{preview_path}" alt="{preview_path}" title="{preview_path}" class="brdr"></a>
            	<!-- END BLOCK : block_product_preview_exists -->
            	<!-- START BLOCK : block_product_preview_no_exists -->
            	<a href="{img_path}" class="thickbox" target="_blank"><img src="{preview_path}" alt="{preview_path}" title="{preview_path}" class="brdr"></a>
            	<!-- END BLOCK : block_product_preview_no_exists -->
                <div><input type="text" value="{rank}" size="2" name="update_img_rank[{id}]"> <label>Порядок вывода</label></div>
                <div><input type="checkbox" name="del_img[]" value="{id}" id="chbxImg{id}" class="checkb"> <label for="chbxImg{id}">{MSG_Delete}</label></div>
                </div>
    			<!-- END BLOCK : block_product_img -->
    			<div class="clear"></div>
    		</div>
			<!-- END BLOCK : block_product_img_list -->
			
			<!-- START BLOCK : block_product_img_form -->
			
			<div id="blckFiles">
                <div id="blckTplFile" class="box" style="display: none;">
                    <div class="flL">
                    <label>{MSG_Big_image}:</label><br>
                    <input type="file" name="img[]">
                    </div>                    
                    <div class="flL">
                    <label>{MSG_Middle_image}:</label><br>
                    <input type="file" name="prev[]">                    
                    </div>
    				<div class="img_add_box flL">
    					<label>Порядок вывода:</label><br>
    					<input type="text" size="2" name="img_rank[]">
    				</div>
                    <div class="flL">
                    <label class="flR" onclick="gAdditionalFiles.del(this.parentNode.parentNode);"><img src="/i/admin/x.gif" align="х" title="{MSG_Delete}">{MSG_Delete}</label>
                    </div>
                    <div class="clear"></div>					
                </div>                
            </div>
             
			<!-- START BLOCK : block_product_add_img -->
			<sub style="display: block; padding-left: 9px;">{MSG_Generete_image}</sub>
			<div id="blckAddFile"><a class="add_btn2" href="#" onclick="gAdditionalFiles.add(); return false;"><span>{MSG_Add_image}</span></a></div>
			<br clear="all" />
			<!-- END BLOCK : block_product_add_img -->

			<!-- END BLOCK : block_product_img_form -->	

		</div>
		</div>
		<!-- ________________images_box and-->
		<!-- ________________property_box start-->
		<div class="hideable">
		<h3 class="close">{MSG_Properties}</h3>
		<div class="content hide">
		    <!-- START BLOCK : block_groups -->
            {MSG_Goods_group}:<br>
            <select name="group_id" onchange="loadProp(group_id.options[selectedIndex].value);">
            <option value="not">--  {MSG_Select_group}  --</option>
            <!-- START BLOCK : block_group -->
            <option value="{group_id}"{group_selected}>{group_name}</option>
            <!-- END BLOCK : block_group -->
            </select><br>
            <!-- END BLOCK : block_groups -->
			<div id="blckOrderProp" class="hide">
            <h4 style="margin: 0 0 5px 0 !important;">{MSG_Order_prop}</h4>
            <div id="blckOrderPropList"></div>
            </div>
            <div class="clear"></div>
            <div id="blckGroupProp" class="hide">
            <h4 style="margin: 0 0 5px 0 !important;">{MSG_Prod_prop}</h4>
            <div id="blckGroupPropList"></div>
            </div>
            <div class="clear"></div>
		</div>
		</div>
		
		
		
		
		<div class="hideable">
		<h3 class="close">Новости</h3>
		<div class="content hide">
		    <div id="news_block">
				<!-- START BLOCK : news -->
				<div>
				<select name="news[]">
				<option value="0">убрать</option>
				<!-- START BLOCK : news_item -->
				<option value="{id}" {selected}>{title}</option>
				<!-- END BLOCK : news_item -->
				</select>
				</div>
				<!-- END BLOCK : news -->


				</div>
				<br/>
				<BUTTON name="c" value="Добавить" type="button" onclick="addNews();"><img src=/i/admin/b_save.gif class=save><span>Добавить</span></BUTTON>
				<br/>
				<div id="news_content" style="display:none">
				<div>
				<select name="news[]">
				<option value="0">выбрать</option>
				<!-- START BLOCK : news_item_div -->
				<option value="{id}" >{title}</option>
				<!-- END BLOCK : news_item_div -->
				</select>
				</div>
				</div>

				<script>
				function addNews(){
					  $('#news_block').append($('#news_content').html());
				}
				</script>
            <div class="clear"></div>
		</div>
		</div>
		
		
		
		<div class="hideable">
		<h3 class="close">Файлы</h3>
		<div class="content hide">
		       <!-- START BLOCK : loaded_block -->
				
				<table cellpadding=2 cellspacing=2 border=0 class=center>
							<tr>
								<th>Название</th>
								<th>Файл</th>
								<th>Удл.</th>
							</tr>
				<!-- START BLOCK : loaded -->
				<tr>
				<td align=center valign="top">
				{name}
				</td>
				<td align=center valign="top">
				<a href="{path}" target="_blank">{filename}</a>
				</td>
				<td align=center valign="top">
				<input type="checkbox" name="dp[{id}]" value="1">
				</td>
				<!-- END BLOCK : loaded -->
				</table>
				<!-- END BLOCK : loaded_block -->
				<br>
				<!-- START BLOCK : load -->
				Название: <input type="text" name="aname[]" /> Файл: <INPUT TYPE="FILE" class=w300 NAME="afile[]" size="30"> <br>
				<!-- END BLOCK : load -->

				
            <div class="clear"></div>
		</div>
		</div>
		
		
		
		<!-- ________________property_box and-->
		<!-- ________________tie_box start -->
		<div class="hideable">
		<h3 class="close">{MSG_Relations}</h3>
		<div class="content hide">
    		<div class="flL" style="width: 50%;">
    			<h2 class="txt1">{MSG_Assigned_goods}</h2>
    			<a target="_blank" class="add_btn2" href="{add_concernd_link}&type=0" onclick="openWin(this.href); return false;"><span>{MSG_Add_assigned_goods}</span></a><br clear="all">
    			<table cellpadding=2 cellspacing=2 border=0 class="hide center bri" id="tblConcernd0">
    				<thead>
    					<tr>
    						<th>{MSG_Ed}</th>
    						<th>ID</th>
    						<th>{MSG_Name}</th>
    						<th>{MSG_Rank}</th>
    						<th>{MSG_Active}</th>
    						<th>{MSG_Del}</th>
    					</tr>
    				</thead>
    				<tbody id="tbConcernd0">
    				</tbody>
    			</table>
    		</div>
    		<div class="flL" style="width: 48%;">
    			<h2 class="txt1">{MSG_Analogues}</h2>
    			<a class="add_btn2" href="{add_concernd_link}&type=1" target="_blank" onclick="openWin(this.href); return false;" ><span>{MSG_Add_analogues}</span></a><br clear="all">
    			<table cellpadding=2 cellspacing=2 border=0 class="hide center bri" id="tblConcernd1">
    				<thead>
    					<tr>
    						<th>{MSG_Ed}</th>
    						<th>ID</th>
    						<th>{MSG_Name}</th>
    						<th>{MSG_Rank}</th>
    						<th>{MSG_Active}</th>
    						<th>{MSG_Del}</th>
    					</tr>
    				</thead>
    				<tbody id="tbConcernd1">
    				</tbody>
    			</table>
    		</div>
    		<div class="clear lineb"></div>
		</div>
		</div>
		
        <br><span class="required_field">*</span> &#151; {MSG_required_fields}<br><br>

		<BUTTON value="{MSG_Save}" type="button" onClick="do_save(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
        <BUTTON type="button" onClick="this.form.tryon.value=1; do_save(this.form); return false;"><img src=/i/admin/b_refresh.gif class=cancel><span>{MSG_Try_on}</span></BUTTON>
        <BUTTON value="{MSG_Cancel}" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
	</form>
<script type="text/javascript">
$(function() {
    loadProp('{group_id}');
})	

var gProd = {
    propVals: {json_prop_vals},
    ordPropVals: {json_ord_prop_vals}
}, gIsIE  = (navigator.appName.indexOf("Microsoft")!=-1) ? 1 : 0;

function loadProp(group_id) {
    var req = new JsHttpRequest();
    var bol = document.getElementById('blckOrderPropList'), bo = document.getElementById('blckOrderProp'),
        bgl = document.getElementById('blckGroupPropList'), bg = document.getElementById('blckGroupProp');
    addClass(bo, 'hide');
    addClass(bg, 'hide');
    bol.innerHTML = '';
    bgl.innerHTML = '';
    req.onreadystatechange = function() {
        if (req.readyState == 4) {
            hideLoading();
            if (req.responseJS) {
                    var i, k, el, blck, show_bo = false, show_bg = false;
                    for (var prop_id in req.responseJS) {
                        //alert(req.responseJS[prop_id].prt_type + ' ' + req.responseJS[prop_id].prt_name);
                        if (3 == req.responseJS[prop_id].prt_type) {
                            blck =  document.createElement("DIV");
                            bol.appendChild(blck);
                            blck.appendChild(document.createTextNode(req.responseJS[prop_id].prt_title + " (" 
                                + req.responseJS[prop_id].prt_prefix + " " + req.responseJS[prop_id].prt_suffix + ") :"));
                            blck.appendChild(document.createElement("BR"));
                            if (req.responseJS[prop_id].vals) {
                                for (i in req.responseJS[prop_id].vals) {                                    
                                    if (gIsIE) {
                                        el = document.createElement("<INPUT TYPE='checkbox'>");
                                    } else {
                                        el = document.createElement("INPUT");
                                        el.setAttribute('type', 'checkbox');
                                    }
                                    blck.appendChild(el);
                                    el.setAttribute('name', 'ord_prp_val['+i+']');
                                    el.setAttribute('id', 'chbxPropVal'+i);
                                    el.setAttribute('value', 1);
                                    el.className = 'checkb';                                    
                                    for (k in gProd.ordPropVals) {
                                        if (gProd.ordPropVals[k] == i) {
                                            el.setAttribute('checked', 'checked');
                                            el.checked = true;
                                        }
                                    }
                                    el = document.createElement("label");
                                    el.setAttribute('for', 'chbxPropVal'+i);
                                    el.appendChild(document.createTextNode(" - "+req.responseJS[prop_id].vals[i]));
                                    blck.appendChild(el);
                                    blck.appendChild(document.createElement("BR"));
                                }
                            }
                            show_bo = true;
                        } else if (4 != req.responseJS[prop_id].prt_type) {
                            blck =  document.createElement("DIV");
                            bgl.appendChild(blck);
                            blck.appendChild(document.createTextNode(req.responseJS[prop_id].prt_title+":"));
                            blck.appendChild(document.createElement("BR"));
                            blck.appendChild(document.createTextNode(req.responseJS[prop_id].prt_prefix+" "));
                            if (1 == req.responseJS[prop_id].prt_type) {
                                if (gIsIE) {
                                    el = document.createElement("<INPUT TYPE='text'>");
                                } else {
                                    el = document.createElement("INPUT");
                                    el.setAttribute('type', 'text');
                                }                               
                                blck.appendChild(el);                                
                                el.setAttribute('name', 'prp_val['+prop_id+']');
                                if (gProd.propVals[prop_id]) {
                                    el.setAttribute('value', gProd.propVals[prop_id]);
                                    el.value = gProd.propVals[prop_id];
                                } else if (req.responseJS[prop_id].vals) {
                                    for (i in req.responseJS[prop_id].vals) {
                                        el.setAttribute('value', req.responseJS[prop_id].vals[i]);
                                    }
                                }
                                el.className = 'w300';
                            } else {
                                el = document.createElement("SELECT");
                                blck.appendChild(el);
                                el.setAttribute('name', 'prp_val['+prop_id+']');                                
                                el.className = 'w300';
                                el.options[el.options.length] = new Option('-- {MSG_no_value} --', '');     
                                if (req.responseJS[prop_id].vals) {
                                    for (i in req.responseJS[prop_id].vals) {
                                        el.options[el.options.length] = new Option(req.responseJS[prop_id].vals[i], req.responseJS[prop_id].vals[i]);
                                        if (gProd.propVals[prop_id] && gProd.propVals[prop_id] == req.responseJS[prop_id].vals[i]) {
                                            el.options.selectedIndex = el.options.length - 1;
                                        }
                                    }
                                }
                            }
                            blck.appendChild(document.createTextNode(" " + req.responseJS[prop_id].prt_suffix));
                            blck.appendChild(document.createElement("BR"));
                            show_bg = true;
                        }
                    }
                    if (show_bo) {
                        removeClass(bo, 'hide');
                    }
                    if (show_bg) {
                        removeClass(bg, 'hide');
                    }
                }
            } else if (req.readyState == 1) {
                showLoading();
            }
   } 
   req.open('POST', '{baseurl}', true);
   req.send({
       action: 'groupprp',
       id: group_id
   });
}

function do_save(form) {
	var err = '';

	if (form.pname.value == '') {
		err = '{MSG_Enter_good_name}';
	}
	if (err) {
	    alert(err);		
	} else {	    
	    var req = new JsHttpRequest();
        req.onreadystatechange = function() {
            if (req.readyState == 4) {
                hideLoading();
                if (req.responseJS) {
                    form.submit();
                } else {
                    alert('MSG_Set_other_link');
                    form.alias.focus();
                }
            } else if (req.readyState == 1) {
                showLoading();
            }
        } 
        req.open('POST', '{baseurl}', true);
        req.send({
            action: 'isvalidprodalias',
            alias: form.alias.value,
            id: 'addcat' == form.id.value ? 0 : form.id.value
        });
	}
}

function addtFiles()
{
    var _max_cnt = parseInt('{max_add_img_cnt}');
    var _curr_cnt = parseInt('{add_img_cnt}');
    this.tpl = document.getElementById('blckTplFile');
    this.add_label = document.getElementById('blckAddFile');
    this.add = function() {
        if (_max_cnt > 0 && _max_cnt - _curr_cnt > 0) {
            var c = this.tpl.cloneNode(true);
            if (c) {
                c.style.display = 'block';
                this.tpl.parentNode.insertBefore(c, this.tpl);
            }
            _curr_cnt++;
            if (_curr_cnt == _max_cnt) {
                this.add_label.style.display = 'none';
            } else {
                this.add_label.style.display = 'block';
            }
        }
    }
    this.del = function(el) {
        _curr_cnt--;
        el.parentNode.removeChild(el);
        if (_curr_cnt == _max_cnt) {
            this.add_label.style.display = 'none';
        } else {
            this.add_label.style.display = 'block';
        }        
    }
}
var gAdditionalFiles = new addtFiles();

function openWin(url)
{
    var _newWin = window.open(url, 'reltn', 'resizable=yes,scrollbars=yes,location=no,width=800,height=600,top='+($(window).height()/2-300)+',left='+($(window).width()/2-400));
    _newWin.focus();
}

function setConcernd(list, type) {
    var tbl = document.getElementById('tblConcernd'+type);
    var body = document.getElementById('tbConcernd'+type);
    if (body && tbl) {
        if (list) {
            removeClass(tbl, 'hide');
        } else {
            addClass(tbl, 'hide');
        }
        while (body.childNodes.length) {
            body.removeChild(body.childNodes[0]);
        }
        var td, td, e, img;
        for (var id in list) {
            tr = document.createElement('TR');
            td = document.createElement('TD');
            e = document.createElement('A');
            e.setAttribute('href', '{baseurl}&action=editproduct&id='+id);
            img = new Image();
            img.src = '/i/admin/ico_edit.gif';
            img.title = '{MSG_Edit}';
            img.alt = '{MSG_Ed}';
            e.appendChild(img);
            td.appendChild(e);
            tr.appendChild(td);
            td = document.createElement('TD');
            td.appendChild(document.createTextNode(id));
            tr.appendChild(td);
            td = document.createElement('TD');
            td.appendChild(document.createTextNode(list[id].title));
            tr.appendChild(td);
            td = document.createElement('TD');
            e = document.createElement('INPUT');
            td.appendChild(e);
            e.setAttribute('type', 'text');
            e.setAttribute('name', 'consernd['+type+']['+id+']');
            e.setAttribute('value', list[id].rank ? parseInt(list[id].rank) : 0);
            e.setAttribute('size', 3);            
            tr.appendChild(td);
            td = document.createElement('TD');
            td.appendChild(document.createTextNode(list[id].active));
            tr.appendChild(td);
            td = document.createElement('TD');
            e = document.createElement('A');
            e.setAttribute('href', '#');
            e.setAttribute('_id', id);
            e.setAttribute('_type', type);
            img = new Image();
            img.src = '/i/admin/ico_del.gif';
            img.title = '{MSG_Delete}';
            img.alt = '{MSG_Del}';
            e.appendChild(img)
            td.appendChild(e);
            e.onclick = function() {
                if ('a' == this.tagName.toLowerCase() && confirm('{MSG_Delete_from_selected}?')) {
                    var id = this.getAttribute('_id'), type = this.getAttribute('_type');
                    this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
                    delete(gConcernedList[type][id]);
                    return false;
                }
            }
            tr.appendChild(td);
            body.appendChild(tr);
        }
        gConcernedList[type] = list;
    }    
}
gConcernedList = [];
gConcernedList[0] = {json_concerned0};
gConcernedList[1] = {json_concerned1};
setConcernd(gConcernedList[0], 0);
setConcernd(gConcernedList[1], 1);
</script>
</div>
<script>
Calendar.setup(
		{
			inputField  : "date",      // ID of the input field
			ifFormat    : "dd.mm.y",    // the date format
			button      : "trigger",    // ID of the button
			mondayFirst : true
	//      daFormat    : "M d, y",    // the date format
	//			displayArea : displayDate

		}
	);
</script>