<div class="prt_wrap">
				<!-- START BLOCK : block -->
				<div class="prt_block">
				    <!-- START BLOCK : img -->
					<div class="prt_logo"><img src="{src}" title="{title}" /></div>
					<!-- END BLOCK : img -->
					<div class="prt_dscr">
						<div class="prt_h">{title}</div>
						<div class="prt_adress">{phone}<br>
						<a href="{site}">{site}</a></div>
						
						
						<!-- START BLOCK : popup -->
						<div class="prt_a_wrap">
							<div class="prt_a_popup">{body}</div>
							<a href="" class="prt_a" onclick="return false;" title="Aдреса магазинов">Aдреса магазинов</a>							
						</div>
						<!-- END BLOCK : popup -->
						
						<!-- START BLOCK : no_popup -->
						<div class="prt_adress_only">{body}</div>
						<!-- END BLOCK : no_popup -->
						
					</div>
				</div>
				<!-- START BLOCK : clear -->
				<div class="clear"></div>
				<!-- END BLOCK : clear -->
				<!-- END BLOCK : block -->
				
</div>