<!-- START BLOCK : country -->
<div class="ttt">
    <h2>{title}</h2>
<!-- START BLOCK : city -->
<div class="podd_h"><a href="" title="{city}({count})">{city}({count})</a></div>
<!-- START BLOCK : article -->
<div class="podd_t"><strong><i>{title}</i></strong><br><p>{text}</p></div>
<!-- END BLOCK : article -->

<!-- END BLOCK : city -->
</div>
<!-- END BLOCK : country -->

