<!-- START BLOCK : debug -->
<script language="JavaScript">
		function viewDebugBlock()
		{
			var Block = document.getElementById("debugBlock");
			Block.style.display == "none" ? Block.style.display = "block" : Block.style.display = "none";			
		}
</script>
<a href="javascript:viewDebugBlock();"><img src="/i/1.gif" alt="Отладка" width="30" height="10" border="0"></a><br>
<div width="95%" style="display: none; font-familiy: Arial; font-size: 14px; padding-left: 20px;" id="debugBlock">
	<h4 align=center>Отладочная информация:</h4>
	<hr>
	<b>Время генерации страницы:</b><br>
	Time: {time} sec.<br>
	<hr>
	<b>QUERY STRING:</b><br>
	{query_string}<br>
	<hr>
	<b>Шаблон страницы:</b><br>
	{tpl}<br>
	<hr>
	<b>SQL-запросы на странице:</b>
	{query}
	<hr>
	<b>Cache:</b> use_cache =
	{cache}
	<hr>
	<b>Вызываемые функции:</b>
	{functions}
	<hr>
	<b>Переменные сессии:</b>
	{session_vars}
	<hr>
	<b>Last-modified:</b>
	{last_modified}<br>
	<hr>
</div>
<!-- END BLOCK : debug -->