<table cellpadding="0" cellspacing="0" width="100%" height="30">
<tr bgcolor="#f1f1f1">
<td width="25%" id="search">

	<form name="search" action="{search_link}" method="GET">
		<input value="поиск" name="query" onfocus="query.value=''"><a href="javascript:document.search.submit();"><img src="/i/arrow.gif" width="11" height="11" alt="Искать"></a>
<!-- START BLOCK : block_search -->
		<input type="hidden" value="search" name="link">
		<input type="hidden" value="rus" name="lang">
<!-- END BLOCK : block_search -->
	</form>

</td>
<td align="right">

	<img src="/i/i.gif" width="1" height="13" hspace="15" align="absmiddle">
	<a href="{siteusers_log}" class="black">{siteusers_inter}</a> &raquo;
	<img src="/i/i.gif" width="1" height="13" hspace="15" align="absmiddle">
	<a href="{siteusers_reg}" class="black">{siteusers_regist}</a> &raquo;
	<img src="/i/i.gif" width="1" height="13" hspace="15" align="absmiddle">
	<a href="{basket}">Ваша корзина<img src="/i/basket.gif" width="14" height="16" hspace="10" align="absmiddle" alt=""></a><nobr><span class="text"><span class="text-dark-grey">[&nbsp;всего товаров: <span class="text-blue">{total}</span> | на сумму: <span class="text-blue">{sum}&nbsp;{currency}</span></nobr>&nbsp;]</span>
	<img src="/i/0.gif" width="30" height="1">

</td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" height="141" id="top">
<tr>
<td id="picture">

	<span id="logo"><a href="/"><img src="/i/logo.gif" alt="ABO.CMS - Демонстрационная версия"></a></span>

	<div id="ico">
	<a href="{home_link}"><img src="/i/home.gif" width="47" height="47" alt="На главную"></a>
	<a href="{map_link}"><img src="/i/map.gif" width="47" height="47" alt="Карта сайта"></a>
	<a href="mailto:{contact_email}"><img src="/i/mail.gif" width="47" height="47" alt="Написать письмо"></a>
	</div>

</td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td class="menu">

{menu}

</td>
</tr>
</table>