<table cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #000;"><tr><td>
<!-- START BLOCK : block_banner -->
<div>{banner}</div>{nl}
<!-- END BLOCK : block_banner -->
</td></tr></table>
