<!-- START BLOCK : block_products_absent -->
<p>По вашему запросу ничего не найдено. Попробуйте произвести поиск с другими параметрами.</p>
<!-- END BLOCK : block_products_absent -->
<!-- START BLOCK : block_categories -->
<h3 class="h3_block cat">Каталог</h3>

			<div class="catalog_goods_cmpr catalog_goods_level_1" style="display: none;">
			
				<!-- catalog: new line -->
				<div class="hz_item_1 first">
                    
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="/i/production/a6/1.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>

				<div class="hz_item_1 second">
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="/i/production/a6/3.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>
				<div class="hz_item_1 third">
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="/i/production/a6/4.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>
				<div class="clear"></div>
				
				
				<!-- catalog: new line -->
				<div class="hz_item_1 first">
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="/i/production/a6/5.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>
				
				<div class="hz_item_1 second">
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="/i/production/a6/4.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>				
				
				<div class="hz_item_1 third last">
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="/i/production/a6/5.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>
				
				<div class="clear"></div>
				
				
				
				<!-- catalog: new line -->
				<div class="hz_item_1 last first last">
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="i/production/a6/5.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>
				
				<div class="hz_item_1 last second last">
					<div class="hz_item_img"><a href="" title="DVD плеер STV-LC47660FL00"><img src="i/production/a6/5.jpg" alt="DVD плеер STV-LC47660FL00" title="DVD плеер STV-LC47660FL00" /></a></div>
					<div class="hz_item_name"><a href="">STV-LC47660FL00</a></div>
					<div class="hz_category">DVD плеер</div>
				</div>

				<div class="clear"></div>
			
			</div><!-- EO catalog_goods_cmpr -->

<div class="catalog_goods_cmpr catalog_goods_level_1">
<!-- START BLOCK : block_category_row -->
<!-- hz_item_1 last -->
<div class="hz_item_1 last">

<!-- START BLOCK : block_category_img -->
<div class="hz_item_img"><a href="{ctg_link}" title="{ctg_name}"><img src="{img}" alt="{ctg_name}"></a></div>
<!-- END BLOCK : block_category_img -->

<div class="hz_item_name"><a href="{ctg_link}">{ctg_name}</a></div>
<div class="hz_category">{count} товаров</div>
<!-- START BLOCK : block_prod_cnt -->
&nbsp;({cnt})
<!-- END BLOCK : block_prod_cnt -->



<br>
{ctg_descr}
</div>
<!-- END BLOCK : block_category_row -->
<!-- START BLOCK : block_category_arhive1 -->
<div class="hz_item_1 last">
	<div class="hz_item_img">
		<a href="/arhive/{id}" title="Архив"><img src="/files/arhive.jpg" alt="{ctg_name}"></a>
	</div>
	<div class="hz_item_name">
		<a href="/arhive/{id}">Архив</a>
	</div>
</div>
<!-- END BLOCK : block_category_arhive1 -->
<div class="clear"></div>
</div>

<!-- END BLOCK : block_categories -->

<!-- START BLOCK : diog_sort -->
<div style="margin:30px;"><a href="{link}">Сортировать по диагонали</a></div> 
<!-- END BLOCK : diog_sort -->
<!-- START BLOCK : product_sort -->
<div class="sorir"><a href="{linkP}">Сортировать по стоимости</a><a href="{linkA}">Сортировать по алфавиту</a></div>
<!-- END BLOCK : product_sort -->

<!-- START BLOCK : block_products -->
<div class="catalog_goods_cmpr">
<script src="/js/popupIMG.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<script type="text/javascript" language="JavaScript">
var cnt_products={cnt_compare_prod};
function checkForm(f)
{
	//var check = cnt_products;
	//for (var i = 0, elm_cnt = f.elements.length; i < elm_cnt; i++) {
		//check += f.elements[i].name == 'compare[]' && f.elements[i].checked ? 1 : 0;
		if (f.cnt_compare_prod.value > 0) {
			return true;
		}
	//}
	alert('Для сравнения необходимо выбрать более одного товара.');
	return false;
}
function addPrdForCompare(prd_id) {
	var req = new JsHttpRequest();
	req.onreadystatechange = function() {
		if (req.readyState == 4) {
			cnt_products=req.responseJS.cnt;
			document.getElementById("cnt_compare_prod").innerHTML=cnt_products;
			document.getElementById("compare_prd"+req.responseJS.prod_id).innerHTML="";
			document.getElementById("cnt_compare_prod_v").value= '1';
		}
	};
	req.open("GET", "{baseurl}&action=addcmpprd", true);
	req.send( { id: prd_id } );
	return false;
}
</script>
<!-- h2>{categ_title}</h2 -->




{categ_descr}
<form name="productsForm" id="frmCompareProd" method="POST" action="{baseurl}" target="_blank">

<input type="hidden" name="action" value="compare">
<input type="hidden" name="id" value="{categ_id}">
<!--<button type="submit" onclick="return checkForm(this.form)">Сравнить</button><br><br>
Товаров для сравнения: <b><span id="cnt_compare_prod">{cnt_compare_prod}</span></b>
<input id="cnt_compare_prod_v" name="cnt_compare_prod" value="{cnt_compare_prod}" type="hidden">-->
</form>
<!--
&nbsp;&nbsp;&nbsp;<a href="{baseurl}&clearcmplist=yes">Очистить список</a>
<br><br>
-->
	<!-- START BLOCK : block_product_row -->
	
	
<div class="hz_item_1 {class}">

<!-- START BLOCK : gift -->
<div class="goods_gift" >
                        <strong class="goods_gift_t">+ Подарок</strong>
                        <a href="{link}" class="goods_gift_name">{title}</a>
                    </div>
<!-- END BLOCK : gift -->	
<!-- START BLOCK : kupon -->
<div class="goods_gift" >
                        <strong class="goods_gift_t">+ Купон на {price}р</strong>
                     
                    </div>
<!-- END BLOCK : kupon -->	
<!-- START BLOCK : kupon_gift -->
<div class="goods_gift" >
                        <strong class="goods_gift_t">+ Подарок или купон на {price}р</strong>
                        <a href="{link}" class="goods_gift_name">{title}</a>
                    </div>
<!-- END BLOCK : kupon_gift -->	

					<!-- START BLOCK : double_gift -->
					<div class="goods_gift" >
                        <strong class="goods_gift_t">{msg}</strong>
                        <a href="{link}" class="goods_gift_name">{title}</a>
                    </div>
						<!-- END BLOCK : double_gift -->
						
					<div class="rubit">
						<div class="rubit1" style="display:{kub_disp};">Рубит кубиками</div>
						<div class="rubit2" style="display:{inv_disp};">Инвертор</div>
					</div>
					
					
					
					<div class="hz_item_signs">	
						<!-- START BLOCK : new -->
						<div class="hz_item_sign_new"></div>
						<!-- END BLOCK : new -->
                        <!-- START BLOCK : bonus -->
                        <!--   <div class="">{bonus}</div> -->
                        <!-- END BLOCK : bonus -->
						<!-- START BLOCK : lead -->
						<div class="hz_item_sign_cool"></div>
						<!-- END BLOCK : lead -->
						
						<!-- START BLOCK : percent -->
						<div class="hz_item_sign_pers"></div>
						<!-- END BLOCK : percent -->
					</div>
					<div class="clear"></div>
					<div class="hz_item_img"><a href="{prod_link}" title="{prod_title}"><img src="{img}" alt="{prod_title}" title="{prod_title}" /></a></div>
					<div class="hz_category">{categ_title}</div>
					<div class="hz_item_name"><a href="{prod_link}">{prod_title}</a></div>
					
					<!-- START BLOCK : diog -->
					<div class="hz_category">Диагональ: {value}</div>
					<!-- END BLOCK : diog -->
					<!-- START BLOCK : price_no -->
				    <!--  --><a href="{link}" class="pricebutton"><span>нет в наличии</span></a>
				    <!-- END BLOCK : price_no -->
					<!-- START BLOCK : price -->
				    <!--  --><a href="{link}" class="pricebutton"><span>{price} Р</span></a>
				    <!-- END BLOCK : price -->
				    <!-- START BLOCK : dprice -->
				    <!--  --><a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>
				    <!--  --><div class="pricebuttonred_discount">{percent}%</div>
				    <!-- END BLOCK : dprice -->					
					
					
					
					
					<div class="clear"></div>
					<div class="hz_item_checkbox"><input type="checkbox" class="hz_item_checkbox_cs" name="option5" id="a{prod_id}" onclick="setCompare({prod_id}, this);" {checked} value=""> <label for="a{prod_id}">сравнить</label></div>
</div>	

<!-- START BLOCK : delim -->
<div class="clear"></div>
<div class="blueline_cat"></div>
<!-- END BLOCK : delim -->
	

	<!-- END BLOCK : block_product_row -->
		<!-- START BLOCK : nav -->
		<div class="clear"></div>
		<div class="pages"><span class="pages_s">Страницы:</span> {nav_string}</div>
		<!-- END BLOCK : nav -->
</div>
<div class="clear"></div>
<a href="{compare_link}" title="Сравнить модели" class="cat_compare">Сравнить модели</a>

<a id="delll" style="cursor: pointer; margin-left: 5px; {display}" onclick="del_from_compare();" title="Удалить сравниваемые модели" class="cat_compare">Удалить сравнения</a>

<div class="cat_compare_count">(<span id="model_count">Количество выбранных моделей : {compare_count}</span>)</div>

<!-- END BLOCK : block_products -->


<script type="text/javascript">

function setCompare(id){

var type = 'JsHttpRequest'; 
var module = 'catalog'; 
var action = 'set_compare';
$.ajax({
         url  : '/index.php',
		 type : 'post',
         data : 'id='+id+'&type='+type+'&module='+module+'&action='+action,
         success : function(msg){
		 if ( msg == 0 )
		     $('#delll').css('display', 'none');
		 else	 
		     $('#delll').css('display', 'block');
			 
		     $('#model_count').empty();
			 $('#model_count').html('Количество выбранных моделей : '+msg);
		 }		 
});
} 

function del_from_compare()
{
var type = 'JsHttpRequest'; 
var module = 'catalog'; 
var action = 'del_compare_session';
$.ajax({
         url  : '/index.php',
		 type : 'post',
         data : 'type='+type+'&module='+module+'&action='+action,
         success : function(msg){
		     $('#model_count').empty();
			 $('#model_count').html('Количество выбранных моделей : '+msg);
			 $('input:checkbox').removeAttr('checked');
			 $('#delll').css('display', 'none');
		 }		 
});  
}

</script>


<!-- START BLOCK : main_products -->
<div style="clear: both;"></div>
<div class="clear"></div>
<a href="{compare_link}" title="Сравнить модели" class="cat_compare">Сравнить модели1</a>
<a id="delll" style="cursor: pointer; margin-left: 5px; {display}" onclick="del_from_compare();" title="Удалить сравниваемые модели" class="cat_compare">Удалить сравнения</a>
<div class="cat_compare_count">(<span id="model_count">Количество выбранных моделей : {compare_count}</span>)</div>

<div style="clear: both;"></div>
<div class="catalog_goods_cmpr catalog_goods_level_1">
    <!-- START BLOCK : item_main_product -->
	<div class="hz_item_1 last">
		<div class="hz_item_img"><a href="{link}" title="{title}" alt="{title}"><img src="{img}" alt="{title}"></a></div>
		<div class="hz_item_name"><a href="{link}">{title}</a></div>
		<!-- START BLOCK : dioganal -->
		    <div class="hz_category">Диагональ: {diog}</div>
		<!-- END BLOCK : dioganal -->
		
		<!-- START BLOCK : mprice_no -->
		 <!--  --><a href="{link}" class="pricebutton"><span>нет в наличии</span></a>
		 <!-- END BLOCK : mprice_no -->
		<!-- START BLOCK : mprice -->
		<!--  --><a href="{link}" class="pricebutton"><span>{price} Р</span></a>
		<!-- END BLOCK : mprice -->
		<!-- START BLOCK : mdprice -->
		<!--  --><a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>
		<!--  --><div class="pricebuttonred_discount">{percent}%</div>
		<!-- END BLOCK : mdprice -->	
		
		
		<div class="hz_item_checkbox">
		<input type="checkbox" class="hz_item_checkbox_cs" name="option5" id="a{id}" onclick="setCompare({id});" {checked} value=""> <label for="a{prod_id}">сравнить</label>
		</div>
    </div>	
	
	<!-- START BLOCK : item_main_product -->
</div>
<!-- END BLOCK : main_products -->