<!-- START BLOCK : block_product -->
<!--
<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="/js/jquery.lightbox-0.5.js"></script> 
<script type="text/javascript" src="/js/lightbox-0.5-settings.js"></script>
-->

<style type="text/css" media="screen">
.offers-yandex {
    margin: -15px 0 0 -15px;
    padding-top: 30px;
    width: 100%;
}
.offers-yandex-pic {
    float: left;
    width: 110px;
}
.offers-yandex-desc {
    float: left;
    overflow: hidden;
    width: 370px;
}
.offers-yandex-desc p {
    font-size: 16px;
    line-height: 1.4em;
}
.offers-yandex-desc span {
    font-size: 12px;
    padding-right: 20px;
}
.offers-yandex-price {
    float: right;
    font-weight: bold;
    line-height: 1.4em;
    margin-right: -6px;
    width: 150px;
}
.offers-yandex-price span {
    font-size: 12px;
    font-weight: normal;
}
.delivery__icon_type_truck {
    background: rgba(0, 0, 0, 0) url("/i/index_deliv.svg") no-repeat scroll 0 3px;
}
span.clip {
    text-overflow: clip ellipsis;
    white-space: nowrap;
}
.yandex-link {
    font-size: 12px;
    padding-top: 30px;
    text-align: right;
    width: 100%;
}

.popup_js {
    display: none;
    width: 350px;
    height: 200px;
    z-index: 1;
    font: 13px normal 'Tahoma';
    color #033151;
    background: #ecf6ff;
    border: 8px solid #bbe0ff;
    position: absolute;
}
.subm_yes{
    background: #00AEFD;
    box-shadow: 1px 1px 3px #DADADA;
    color: #FFFCFC;
    font-size: 15px;
    font-weight: 700;
    height: 26px;
    margin: 0px 30px 0px 0px;
    width: 76px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.subm_no{
    background: #00AEFD;
    box-shadow: 1px 1px 3px #DADADA;
    color: #FFFCFC;
    font-size: 15px;
    font-weight: 700;
    height: 26px;
    margin: 0px 30px 0px 0px;
    width: 76px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/colorbox.css" media="screen" />
<script type="text/javascript" src="/js/jquery.colorbox.js"></script> 
<script type="text/javascript" src="/js/colorbox-settings.js"></script>
<script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript">
$(function()
{/*
    var pane = $('.scroll_bl');
        
	pane.jScrollPane({
	   showArrows:true,
       mouseWheelSpeed: 50,
       animateScroll:true,
       arrowButtonSpeed: 100
	});*/
	$('.js_analog').click();
    $('#more_items_a').click(function(){
        if($(this).hasClass('act')){
            $(this).removeClass('act');
            $('#more_items_action').hide();
        } else {
            $(this).addClass('act');
            $('#more_items_action').show();
        }
    });
    $('#more_items_g').click(function(){
        if($(this).hasClass('act')){
            $(this).removeClass('act');
            $('#more_items_gift').hide();
        } else {
            $(this).addClass('act');
            $('#more_items_gift').show();
        }
    });
    
    $(document).click(function(event) {
        if ($(event.target).closest("#more_items_gift, #more_items_g").length) return;
        $("#more_items_gift").hide();
        $('#more_items_g').removeClass('act');
        event.stopPropagation();
  });
    
    $(document).click(function(event) {
        if ($(event.target).closest("#more_items_action, #more_items_a").length) return;
        $("#more_items_action").hide();
        $('#more_items_a').removeClass('act');
        event.stopPropagation();
  });
    
});
</script>

				<div class="catalog_good_wrap">
					<span class= 'selector_adm' style="display:none">{product_title_a}</span>
					<div class="custom_h2">{products_synonyms} {product_title}
<!-- START BLOCK: block_product_edit -->
                        <a href="{product_edit_url}" target="_blank">(редактировать)</a>
<!-- END BLOCK: block_product_edit -->
</div>
                    <a class="catalog_print_but" href="/print/?print_id={id}">Распечатать</a>
					
					
					
					
					<!-- START BLOCK : lead -->
					<div class="hz_item_sign_cool"></div>
					<!-- END BLOCK : lead -->
					
					<!-- START BLOCK : percent -->
					<div class="hz_item_sign_pers"></div>
					<!-- END BLOCK : percent -->
					
					<div class="clear"></div>
					<div class="catalog_good">

                    <!-- START BLOCK : rubit -->
                        <div class="rubit" style="">
                            <div class="rubit1" style="display:{kub_disp};">Рубит кубиками</div>
                            <div class="rubit2" style="display:{inv_disp};">Инвертор</div>
                        </div>
                    <!-- END BLOCK : rubit -->

                    
                        <!-- START BLOCK : in_action -->
                        <div class="in_action">

                            <h2 class="in_action_ttl">{product_title}</h2>
                            <div class="in_action_lnk">Участвует в акциях:
                                <!-- START BLOCK : in_action_item_more -->
                                <strong id="more_items_a">Все акции</strong>
                                <div id="more_items_action" style="display: none">
                                <!-- END BLOCK : in_action_item_more -->



                                    <!-- START BLOCK : in_action_item_one -->
                                    <strong><a href="{link}">{title}</a></strong>
                                    <!-- END BLOCK : in_action_item_one -->
                                <!-- START BLOCK : in_action_item_other -->
                                <strong><a href="{link}">{title}</a></strong>
                                <!-- END BLOCK : in_action_item_other -->

                                    <!-- START BLOCK : in_action_item_more_end -->
                                </div>
                                        <!-- END BLOCK : in_action_item_more_end -->

                                
                            </div>

                        </div>
                        <!-- END BLOCK : in_action -->
                        
                        <!-- START BLOCK : gift -->
						<div class="catalog_gift">
                            <div class="catalog_gift_t">+ Подарок</div>
                            <div class="catalog_gift_img"><a href="{link}">
							<!-- START BLOCK : gift_img -->
							<img src="{src}" />
							<!-- END BLOCK : gift_img -->
							</a></div>
                            
                            <div class="catalog_gift_name">
                                <span>{alter}</span><br />
                                <a href="{link}">{title}</a><br />
                                <span>{comment}</span>
                            </div>
                            
                        </div>
						
                        <!-- END BLOCK : gift -->
                        
                        
						
						<!-- START BLOCK : kupon -->
						<div class="catalog_gift catalog_gift2" >
                            <div class="catalog_gift_t">+ Подарок</div>
                            <div class="catalog_gift_title"><a href="{link}">{title}</a><br>
						<span> Купон на сумму {price} руб.</span></div>
                           
                        </div>
						
						
                        <!-- END BLOCK : kupon -->
                        <!-- START BLOCK : gift_if -->
                        <div class="catalog_gift">
                            <div class="catalog_gift_t">ИЛИ</div>
                            <div class="catalog_gift_img"><a href="{link}">
                                <img src="{src}" />
                            </a></div>
                            
                            <div class="catalog_gift_name">
                                <span>{alter}</span><br />
                                <a href="{link}">{title}</a><br />
                                <span>{comment}</span>
                            </div>
                            
                        </div>

                        <!-- END BLOCK : gift_if -->
						
						
						
						<!-- START BLOCK : kupon_gift -->
						<div class="catalog_gift catalog_gift2" >
                            <div class="catalog_gift_t">+ Подарок</div>
                            <div class="catalog_gift_title"><a href="{link}">{title}</a><br>
        <span>или Купон на сумму {price} руб.</span></div>
                           
                        </div>
						<!-- START BLOCK : kupon_gift -->

                    <!-- START BLOCK : percent_gift -->
                    <div class="catalog_gift catalog_gift2" >
                        <div class="catalog_gift_t">+ Подарок</div>
                        <div class="catalog_gift_title"><a href="{link}">{title}</a><br>
                            <span>или скидка {price} %.</span></div>

                    </div>
                    <!-- END BLOCK : percent_gift -->

						<!-- START BLOCK : double_gift -->
						<div class="catalog_gift catalog_gift2" >
                            <div class="catalog_gift_t" style="width:320px;">{msg}</div>
                            <div class="catalog_gift_title"><a href="{link}">{title}</a><br>
        					<span></span></div>
                        </div>
						<!-- END BLOCK : double_gift -->
						
						
						<!-- START BLOCK : products_gift -->
                       <!-- <div class="this_gift">
                            <div class="this_gift_in">
                                Этот товар можно получить в подарок купив:

                                &lt;!&ndash; START BLOCK : product_inform_more &ndash;&gt;
                                <span id="more_items_g">Все товары</span>

                                <div id="more_items_gift" style="display: none">
                                &lt;!&ndash; END BLOCK : product_inform_more &ndash;&gt;
                                &lt;!&ndash; START BLOCK : product_inform_one &ndash;&gt;
                                <a href="{link}">{title}</a>
                                &lt;!&ndash; END BLOCK : product_inform_one &ndash;&gt;

                                    &lt;!&ndash; START BLOCK : product_inform_other &ndash;&gt;
                                    <a href="{link}">{title}</a>
                                    &lt;!&ndash; END BLOCK : product_inform_other &ndash;&gt;

                                    &lt;!&ndash; START BLOCK : product_inform_more_end &ndash;&gt;
                                </div>
                                        &lt;!&ndash; END BLOCK : product_inform_more_end &ndash;&gt;

                                

                                </div>
                        </div>-->
                        <!-- END BLOCK : products_gift  -->
                        
                        <!-- START BLOCK : bonus -->
                        <div class="bonus_class"><span class="bonus_class_span1">{bonus}</span><span class="bonus_class_span2">Бонусных баллов за покупку</span></div>
                        <!-- END BLOCK : bonus -->
                      <form action="{add_to_cart_action}" method="post" name="addToCart"> <!-- enctype="multipart/form-data"-->
			
            			
                        <div style="display: none;"><p></p>
        				В корзину:
        				<input type="text" name="qty" value="1" size="3" maxlength="5" class="amount">
        				<input type="hidden" name="id" value="{id}"></div>
						
						 <div style="display: none;"> <!--  это если нету подарка-->
							<div id="cart_message"><h4>Ваш товар добавлен в корзину</h4> для того что бы оформить заказ перейдите в <a href="/shop/">«корзину»</a>,<br>для того что бы продолжить покупки на нашем сайте вы можете вернуться в <a href="/catalog/">«каталог товаров»</a> </div>
						 
						 </div>
						 <div style="display: none;"> <!--  это если есть подарок-->
                             <!-- START BLOCK : choose_gift_percent -->
                             <div id="cart_message_gift"><h4>Ваш товар добавлен в корзину</h4>
                                 <div>Выберите подарок: <br>
                                     <a href="{link}" target="_blank">{title}</a> <input type="radio" name="gift" checked value="4" /><br> Скидка {price}% <input type="radio" name="gift" value="5" />
                                 </div>
                                 <br>
                                 <a href="javascript:void(0)" onclick="addtocartfunction(1)">Продолжить</a>
                             </div>
                             <!-- END BLOCK : choose_gift_percent -->

							<!-- START BLOCK : choose_gift -->
							<div id="cart_message_gift"><h4>Ваш товар добавлен в корзину</h4>
							<div>Выберите подарок: <br>
							<a href="{link}" target="_blank">{title}</a> <input type="radio" name="gift" checked value="1" /><br> Купон на {price}р <input type="radio" name="gift" value="2" />
							</div>
							<br>
							<a href="javascript:void(0)" onclick="addtocartfunction(1)">Продолжить</a>
							</div>
							<!-- END BLOCK : choose_gift -->
                             <!-- START BLOCK : double_gift_hidden -->
                             <div id="cart_message_gift"><h4>Товар будет добавлен в корзину</h4>
                                 <div>
                                     <input type="radio" name="gift" checked value="1" style="display: none;"/>
                                     <a href="javascript:void(0)" onclick="addtocartfunction(1)">Продолжить</a>
                                 </div>
                             </div>

                             <!-- END BLOCK : double_gift_hidden -->
							<!-- START BLOCK : choose_double_gift -->
							<div id="cart_message_gift"><h4>Что вы хотите приобрести?</h4>
							<div>
							<a href="{link}" target="_blank">{act_sel}</a> <input type="radio" name="gift" checked value="3" /><br> 
							{noact_sel} <input type="radio" name="gift" value="" />
							</div>
							<br>
							<a href="javascript:void(0)" onclick="addtocartfunction(1)">Продолжить</a>
							</div>
							<!-- END BLOCK : choose_double_gift -->

                             <!-- START BLOCK : choose_gift_if -->
                             <div id="cart_message_gift"><h4>Ваш товар добавлен в корзину</h4>
                                 <div>Выберите подарок: <br>
                                     <a href="{link}" target="_blank">{title}</a> <input type="radio" name="gift" checked value="1" /><br>
                                     <a href="{link_if}" target="_blank">{title_if}</a> <input type="radio" name="gift" value="9" /><br>
                                     <!-- START BLOCK : choose_gift_ifs -->
                                     <a href="{link_if}" target="_blank">{title_if}</a> <input type="radio" name="gift" value="9.{id}" /><br>
                                     <!-- END BLOCK : choose_gift_ifs -->
                                 </div>
                                 <br>
                                 <a href="javascript:void(0)" onclick="addtocartfunction(1)">Продолжить</a>
                             </div>
                             <!-- END BLOCK : choose_gift_if -->
						 
						 </div>
						 
						<a href="javascript:void(0)" onclick="addtocartfunction_gift()" class="cat_4_price" style="margin-left: 420px; display:none;"><span>Купить</span></a>
						
                        
                        
            			</form> 
						<div class="catalog_good_img">
                        <!-- START BLOCK : new -->
					<div class="hz_item_sign_new"></div>
					<!-- END BLOCK : new -->
						<!-- START BLOCK : block_product_first_img -->
    <!-- START BLOCK : block_product_first_img_exists -->
	<a href="{img_path}" class="lightbox_a"><img src="{img_path}" alt="" class="cat_img_big" id="imgBig"/></a>
	
	<!-- END BLOCK : block_product_first_img_exists -->
	<!-- START BLOCK : block_product_first_img_no_exists -->
	<img src="//i/no_photo.gif" alt="" class="cat_img_big" id="imgBig"/>
	<!-- END BLOCK : block_product_first_img_no_exists -->
	<!-- START BLOCK : block_product_first_preview_exists -->
	<!--img src="{preview_path}" onclick="setImg('{img_path}', this);"-->
	<!-- END BLOCK : block_product_first_preview_exists -->
	<!-- START BLOCK : block_product_first_preview_no_exists -->
	<!--{preview_path}-->
	<!-- END BLOCK : block_product_first_preview_no_exists -->
<!-- END BLOCK : block_product_first_img -->
						</div>
						<div class="addon_info">
									<!-- START BLOCK : block_product_price -->
							<!-- <a href="javascript:void(0)"  >onclick="document.addToCart.submit()"--><span class="cat_4_price"><span>Цена товара : {product_price}руб.</span></span><!--</a>-->
								<a href="javascript:void(0)" onclick="document.addToCart.submit()" class="cat_4_price" style="margin-left: 420px; display:none;"><span>Купить</span></a>
								<a href="javascript:void(0)" onclick="addtocartfunction()" class="cat_4_price cat_4_price_kjup" style="margin-left: 420px;"><span>Купить</span></a>
								<!-- END BLOCK : block_product_price -->
								<!-- START BLOCK : block_product_noprice -->
								<a href="javascript:void(0)" class="cat_4_price"><span>нет в наличии</span></a>
							   <!-- <a href="javascript:void(0)" class="cat_4_price" style="margin-left: 420px;"><span>Купить</span></a> -->
								<!-- END BLOCK : block_product_noprice -->
						</div>
					


					</div><!-- EO catalog_good -->
					<!-- START BLOCK : block_analogues -->
					<div class="catalog_good_vertical_wrap">
						<div class="catalog_good_vertical">
							<div class="index_horiz_ta"></div>
							<div class="clear"></div>
							
							<div class="cg_h4">Похожие товары</div>					
							<div class="blueline100a"></div>
					<!--	<div class="scroll_bl">	-->
						<ul id="third-carousel" class="pohoz_shop" >
							<!-- START BLOCK : block_analogues_row -->
							<li class="cg_item">
								<!-- START BLOCK : block_analogues_image_middle -->
								<a href="{prod_link}" title="{title}"><img src="{image_path}" alt="{title}" title="{title}"></a>
								<!-- END BLOCK : block_analogues_image_middle -->
								<div class="hz_category">{categ_title}</div>
								<div class="hz_item_name"><a href="{prod_link}">{title}</a></div>
								<!-- START BLOCK : analogues_price -->
								<!--  --><a href="{link}" class="pricebutton"><span>{price} Р</span></a>
								<!-- END BLOCK : analogues_price -->
								<!-- START BLOCK : analogues_dprice -->
								<!--  --><a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>
								<!--  --><div class="pricebuttonred_discount">{percent}%</div>
								<!-- END BLOCK : analogues_dprice -->	
								<div class="clear"></div>
							</li>
							<!-- START BLOCK : analogues_delim -->
							<!--
							<div class="blueline100a"></div>
							-->
							<!-- END BLOCK : analogues_delim -->
							
							
							<!-- END BLOCK : block_analogues_row -->
						</ul>
                  <!--      </div>-->
  
							

						
						</div><!-- EO catalog_good_vertical -->
						<div class="clear"></div>
						<div class="index_horiz_ba"></div>
					</div><!-- EO catalog_good_vertical_wrap -->
					<!-- END BLOCK : block_analogues -->

					<div class="clear"></div>
						<div class="fix_supra_sliders">
						<div class="catalog_good_slider">
						<!-- START BLOCK : block_product_img_list -->
						<style>
							a.cat_4_price,span.cat_4_price{margin-top: 375px !important;}
						</style>
							<div class="opisalofo">Фото</div>
						
						  <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
							<!-- START BLOCK : block_product_img -->
							<!-- START BLOCK : block_product_preview_exists -->
							<li><img src="{preview_path}" alt="" class="small {active}" /><img src="{img_path}" alt="" class="big" /><div class="desc_iv"> {desc}</div></li>
							<a href="{img_path}" class="lightbox_a" style="display: none;"><img src="{preview_path}" alt="" class="cat_img_big" id="imgBig"/></a>

							<!-- END BLOCK : block_product_preview_exists -->
							<!-- END BLOCK : block_product_img -->		
							<!-- START BLOCK : video_list -->
							<li class="ich_frame_li"><img src="{src}" alt="" class="small {active} ich_frame_img" />{html}</li>
							<!-- END BLOCK : video_list -->							
						  </ul>
												
						<!-- END BLOCK : block_product_img_list -->
						</div>

						<!-- START BLOCK : isset_videos -->
						<div class="catalog_good_slider2">
							<div class="opisalofo">Видео</div>
							<ul id="first-carousel2" class="first-and-second-carousel jcarousel-skin-tango2">
								<!-- START BLOCK : videos -->
								<li class="ich_frame_li"><img src="{src}" alt="" class="small {active} ich_frame_img"  ini='{html}'/><div class="desc_iv">{descr}</div></li>
								<!-- END BLOCK : videos -->
							</ul>
						</div>
						<!-- END BLOCK : isset_videos -->
					</div>	
<!--					
						<div class="pict_dv dv0"></div>
						<div class="pict_dv dv1"></div>
						<div class="pict_dv dv2"></div>
						<div class="pict_dv dv3"></div>
						<div class="pict_dv dv4"></div>
						<div class="pict_dv dv5"></div>
						<div class="pict_dv dv6"></div>
						<div class="pict_dv dv7"></div>
						<div class="pict_dv dv8"></div>
						<div class="clear"></div>
-->
						<br />
                    {cooc}<a href="" class="cat_menu_item firstitem {klient_foool}" {klient_foool_style}><span>Характеристики</span></a>
						<a href="" class="cat_menu_item {desc}" {desc_style}><span>Описание</span></a>						
						<a href="" class="cat_menu_item {files}" {files_style}><span>Файлы для скачивания</span></a>
						<a href="" class="cat_menu_item {swf}" {swf_style}><span>3D просмотр</span></a>
                    <!-- START BLOCK : faq_isset -->
						<a href="" class="cat_menu_item {faq}" {swf_style}><span>FAQ</span></a>
                    <!-- END BLOCK : faq_isset -->
                    <!-- START BLOCK : analog_isset -->
                    <a href="" class="cat_menu_item js_analog {analog_isset}" {analog_isset}><span>Яндекс.Маркет</span></a>
                    <!-- END BLOCK : analog_isset -->
							<div class="clear"></div>
						<br /><br />
						
						<div class="catalog_good_decr">
						
						<div class="cat_bc_block {klient_foool_active}">
							<!-- START BLOCK : block_group_properties -->
							<h3 class="ot2">Xарактеристики</h3>
							<div id="tphoto-blocks">
								<div class="gallery">		
									<table id="properties" style="width: 98% !important;">
										<!-- START BLOCK : block_group_properties_row -->
										
										<!-- START BLOCK : block_group_property -->
										<tr>
											<td class="param">{title}</td>
											<td class="val">{prefix} {value} {suffix}</td>
										</tr>
										<!-- END BLOCK : block_group_property -->
										
										<!-- START BLOCK : block_group_delim -->
										<tr>
											<td colspan="2"><b>{title}</b></td>
										</tr>
										<!-- END BLOCK : block_group_delim -->
										<!-- END BLOCK : block_group_properties_row -->
									</table>
								
								</div>
							</div>
							<!-- END BLOCK : block_group_properties -->
						</div>
						
						
						<div class="cat_bc_block {desc_active}">
							<!-- START BLOCK : block_description -->
							{product_description}
							<!-- END BLOCK : block_description -->	
							<!-- START BLOCK : block_link -->
							<a href="{link}" target="_blank" title="Купить в официальном интернет-магазине" class="ofi"><img src="/i/ofi.png" alt="Купить в официальном интернет-магазине" title="Купить в официальном интернет-магазине"></a>
							<!-- END BLOCK : block_link -->
						</div>
							

						
						<div class="cat_bc_block {files_active}">
							<!-- START BLOCK : loaded_block -->
							{file_alarm}
						<table cellpadding=2 cellspacing=15 border=0 class="cat_bc_block_tbl">
									<tr>
										<th width=40></th>
										<th width=180>Название</th>
										<th width=500>Файл для скачивания</th>
                                        <th width=100>Кол-во скачиваний</th>
										
									</tr>
						<!-- START BLOCK : loaded -->
						<tr class="file_table_tr">
						<td align=center valign="top">
						<img src="/i/{type}_ico.png" />
						</td>
						<td align=center valign="top">
						{name}
						</td>
						<td align=center valign="top">
						<a href="{path}" target="_blank" class="download_file {warning} " ini="{id}">{filename}</a>
                            <a style="display: none" href="{path}" target="_blank" class="download_file {warning}_class " ini="{id}">{filename}</a>
                            <div class='popup_js' align="center">
                                При обновлении баз и прошивки комбо устройств DRS-GD59 и DRS-GD69 используйте только программу GPSUpdate со странички данных моделей. При попытке обновления с помощью старых версий Update Tool для iG серии детекторов комбо-устройство выйдет из строя! В данном случае вы лишаетесь гарантийного обслуживания.
                                Продолжить скачивание?
                                <div style="padding: 15px;">

                                    <a href="{path}" target="_blank" ini="{id}"><input type="button" class="subm_yes" ini = "{id}" value="Да"></a>
                                    <input type="button" class="subm_no" value="Нет">
                                </div>
                                <div class="for_height"><span class="error error_del"></span></div>
                            </div>
						</td>
                            <td align=center valign="top" class="download_file_count">
                                {download_count}
                            </td>
						<!-- END BLOCK : loaded -->
						</table>
                            <script type="text/javascript">
                                $('.subm_no').click(function(){
                                    $('.popup_js').fadeOut('slow');
                                });

                                $('.subm_yes').click(function(){
                                    $($(this).parents('.file_table_tr')).find('.warning_class').click();
                                    $('.popup_js').fadeOut('slow');
                                });

                                $('.warning').click(function(e){
                                    $('.popup_js').fadeIn('slow');
                                    $('.popup_js').css({
                                        'top':e.pageY,
                                        'left':e.pageX
                                    });
                                });
                                $('.download_file').click(function(){
                                    if($(this).hasClass('warning')){
                                            return false;
                                    }
                                    else{
                                        var id=$(this).attr('ini');
                                        var p=$(this).parent();
                                        var count=$($(this).parents('.file_table_tr')).find('.download_file_count').html();
                                        $($(this).parents('.file_table_tr')).find('.download_file_count').html(parseInt(count)+1);
                                        $.post("/catalog/?action=download_count", { id: id },
                                                function(data){
                                                });
                                    }

                                })
                            </script>
                            {file_alarm_message}
						<!-- END BLOCK : loaded_block -->
						</div>
						
						<div class="cat_bc_block {swf_active}">
							<!-- START BLOCK : swf -->
                                <div class="swf_text">{swf_text}</div>  
								<object style="width: 100%; height: 800px;">
									<param name="movie" value="{swf}" style="width: 100%; height: 800px;">
									<param name="allowfullscreen" value="true"/>
									<param name="menu" value="false"/>
									<param name="wmode" value="transparent"/>
									<embed src="{swf}" style="width: 100%; height: 800px;"></embed>
								</object>
						
						<!-- END BLOCK : swf -->
						</div>

<!-- START BLOCK : faq -->
                            <div class="cat_bc_block {faq_active}">
                                
								<script>
									$(function() {
										$( "#accordion" ).accordion({
											collapsible: true,
											heightStyle: "content",
											active: false
										});
									});
								</script>
								<div id="accordion" style="width: 100%;">
									<!-- START BLOCK : accordion_lvl1 -->
									<h3>{title}</h3>
									<div>
										{faq_text}
									</div>
									<!-- END BLOCK : accordion_lvl1 -->
								</div>
                                
                            </div>
						<!-- END BLOCK : faq -->
 						<!-- START BLOCK : analog -->
                            <div class="cat_bc_block {analog_active}">
									<div class = 'fra_adm'>
										<div class = 'fra_adm_block1' style="align-items: baseline;
    background-color: white;
    display: flex;
    height: 8px;
    justify-content: space-between;
    margin: 78px 199px 0;
    padding: 0 0 20px;
    position: absolute;
    width: 374px;"></div>
										<div class = 'fra_adm_block2' style="    
											align-items: baseline;
										    background-color: white;
										    display: flex;
										    height: 8px;
										    justify-content: space-between;
										    margin: 3px 2px 0;
										    padding: 0 0 20px;
										    position: absolute;
										    width: 575px;"></div>
                                <script type="text/javascript">
                                    (function (w, d) {
                                        var host = "widget.admitad.com";
                                        var js, id = host.replace(/[^a-z0-9]/g,''), ref = d.getElementsByTagName('script')[0];
                                        if (d.getElementById(id)) {return;}
                                        window._adwid_config = {host: host};
                                        js = d.createElement('script'); js.id = id; js.async = true; js.charset = 'utf-8';
                                        js.src = '//' + host + '/js/widget.js?r' + ((new Date()).getTime()/3600000|0);
                                        ref.parentNode.insertBefore(js, ref);
                                        $('.widget-ad-logo').hide();
                                    }(window, document));
                                </script>
                                <script id="3bb39baf" data-id="10481">
                                    window._adwid = window._adwid || [];
                                    window._adwid.push("3bb39baf")
                                </script>
									</div>
                                
                            </div>
							<!-- END BLOCK : analog -->
						<br /><br />
						</div><!-- EO catalog_good_slider -->
                    <!-- START BLOCK : block_concernd_c -->
                    <div > {conf}    </div>
                    <!-- END BLOCK : block_concernd_c -->
						<div class="blueline100a"></div>
						
<!-- hide mail.ru -->				
<style>
.social_block.sb_large{
	width: 130px;
}

.social_block_temp{
	margin-left: -123px;
}
</style>
						
						<div class="social_block">
							<!-- Put this script tag to the <head> of your page -->
							<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>

							<script type="text/javascript">
							  VK.init({apiId: 4170102, onlyWidgets: true});
							</script>

							<!-- Put this div tag to the place, where the Like block will be -->
							<div id="vk_like"></div>
							<script type="text/javascript">
							VK.Widgets.Like("vk_like", {type: "button", height: 20});
							</script>

							
							
						</div>				
						<div class="social_block sb_large">
							<div class="social_block_temp">
							<a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'cm' : '1', 'ck' : '3', 'sz' : '20', 'st' : '2', 'tp' : 'combo'}">Нравится</a>
							<script src="http://cdn.connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>
							</div>
						</div>
						<div class="social_block">
						<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<div class="fb-like" data-href="http://supra.ru.web3.crearshost.ru/" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true"></div>	
						</div>	
						<div class="clear"></div>



						<!-- START BLOCK : block_concernd -->
						<div class="page_pp_wrap">
							<div class="custom_h2_page">Аксессуары</div>
							<div class="blueline"></div>
							
							<div>
							<!-- START BLOCK : block_concernd_row -->
							<div class="hz_item_2">
							     <!-- START BLOCK : block_concernd_image_middle -->
								<div class="hz_item_img_2"><a href="{prod_link}" title="{title}"><img src="{image_path}" alt="{title}" title="{title}"></a></div>
								<!-- END BLOCK : block_concernd_image_middle -->
								<div class="hz_category_2">{categ_title}</div>
								<!-- START BLOCK : concernd_price -->
								<a href="{link}" class="pricebutton"><span>{price} Р</span></a>
								<!-- END BLOCK : concernd_price -->
								<!-- START BLOCK : concernd_dprice -->
								<a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>
								<div class="pricebuttonred_discount">{percent}%</div>
								<!-- END BLOCK : concernd_dprice -->
							</div>
							<!-- END BLOCK : block_concernd_row -->
							
							
							
							</div>
							
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<br /><br />
						<!-- END BLOCK : block_concernd -->
						
						<!-- START BLOCK : news -->
						<div class="custom_h2">Новости о продукте</div>
						<!-- START BLOCK : news_item -->
						<div class="newsannounce">
							<div class="pht_wrap">
							     <!-- START BLOCK : news_img -->
								<div class="ph"><a href="{link}" title="{title}"><img src="{src}" alt="{title}" title="{title}"></a></div>
								<!-- END BLOCK : news_img -->
								<div class="txt">
									<div class="date2">{date}</div>
									<a href="{link}" title="{title}" class="h5">{title}</a>						
									<div class="an">{announce}</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<!-- END BLOCK : news_item -->
						
						<br />						
						<a href="{link}" title="">Показать все новости</a>
                        <!-- END BLOCK : news -->
					
				</div><!-- EO catalog_good -->		
		</div>



























