<!-- START BLOCK : block_groupping -->
<div class="catalog_menu">
<!-- START BLOCK : block_level1 -->
<a href="{link}" title="{title}" class="inlinks inlinks{pos} {plus} {activelink}">{title}</a>
<!-- START BLOCK : block_level1_cnt -->
&nbsp;({cnt})
<!-- END BLOCK : block_level1_cnt -->


<!-- START BLOCK : block_level1_img -->

<!-- END BLOCK : block_level1_img -->
<!-- START BLOCK : block_level1_no_img -->

<!-- END BLOCK : block_level1_no_img -->
<ul class="inlinks{pos}" {style}>
	<!-- START BLOCK : block_level2 -->
	
		<!-- START BLOCK : block_level2_active -->
		    <li><a href="{link}" title="{title}" class="activelink">{title}</a></li>
			<!-- START BLOCK : block_level2_active_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_level2_active_cnt -->
			
			<!-- START BLOCK : block_level2_active_img -->
			
			
			<!-- END BLOCK : block_level2_active_img -->
			<!-- START BLOCK : block_level2_active_no_img -->
			
			<!-- END BLOCK : block_level2_active_no_img -->
		
		<!-- END BLOCK : block_level2_active -->
		
		<!-- START BLOCK : block_level2_noactive -->
		     <li><a href="{link}" title="{title}" >{title}</a></li>
			<!-- START BLOCK : block_level2_noactive_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_level2_noactive_cnt -->
			
			<!-- START BLOCK : block_level2_noactive_img -->
			
			<!-- END BLOCK : block_level2_noactive_img -->
			<!-- START BLOCK : block_level2_noactive_no_img -->
			
			<!-- END BLOCK : block_level2_noactive_no_img -->
		
		<!-- END BLOCK : block_level2_noactive -->
	
	<!-- START BLOCK : block_level2 -->
</ul>
<!-- END BLOCK : block_level1 -->
    <div style="margin-top: 20px;">    {conf}  </div>

</div>
<!-- END BLOCK : block_groupping -->