<!-- START BLOCK : block_products_absent -->
<p>По вашему запросу ничего не найдено. Попробуйте произвести поиск с другими параметрами.</p>
<!-- END BLOCK : block_products_absent -->

<!-- START BLOCK : block_products -->
<div class="search_results">


<h1>Показаны результаты из {count}</h1>
<div>



<!-- START BLOCK : block_product_row -->
	
	
<div class="newsannounce">
							<div class="pht_wrap">
								<div class="ph"><a href="{prod_link}" title="{prod_title}"><img src="{img}" alt="{prod_title}" title="{prod_title}" /></a></div>
								<div class="txt">									
									<a href="{prod_link}" title="{prod_title}" class="h5">{prod_title}</a>
									<div class="an">{description}</div>									
									<div class="breadcrumbs">{path}</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>	
<!-- END BLOCK : block_product_row -->
	
</div>	
	
		<!-- START BLOCK : nav -->
		<div class="clear"></div>
		<div class="pages"><span class="pages_s">Страницы:</span> {nav_string}</div>
		<!-- END BLOCK : nav -->
		
		
		
</div>

<!-- END BLOCK : block_products -->


