<!-- START BLOCK : no_prods -->
<h2>Для сравнения необходимо выбрать более одного товара.</h2>
<!-- START BLOCK : no_prods -->

<!-- START BLOCK : wrong_categories -->
<h2>Слишком разные категории для сравнения</h2>
<!-- END BLOCK : wrong_categories -->

<!-- START BLOCK : prods -->

<div class="cat_cmpr">
		<div class="content_6 content">
                

		<!-- cmpr_str -->
		<div class="cat_cmpr_str">
			<div class="cat_cmpr_str_p first">Характеристики:</div>
			<!-- START BLOCK : image -->
			<div class="cat_cmpr_str_p"><img src="{src}" alt="{title}" title="{title}" /></div>
			<!-- END BLOCK : image -->
			
		</div>
		
		<!-- cmpr_str -->
		<div class="cat_cmpr_str">
			<div class="cat_cmpr_str_p first">Модель</div>
			<!-- START BLOCK : model -->
			<div class="cat_cmpr_str_p model"><a href="{link}" title="{title}">{title}</a><a href="{del_link}" title="Удалить" class="cat_cmpr_str_p_del">Удалить</a>
			<!-- START BLOCK : link -->
			<a href="{link}" target="_blank" title="Купить в официальном интернет-магазине" class="ofi_small"><img src="/i/ofi_small.png" alt="Купить в официальном интернет-магазине" title="Купить в официальном интернет-магазине"></a>
			<!-- END BLOCK : link -->
			</div>			
			<!-- END BLOCK : model -->
			
			
			
			
			
		</div>
	
		<div class="blueline100a"></div>
		
		<!-- cmpr_str -->
		<div class="cat_cmpr_str">
			<div class="cat_cmpr_str_p first" style="display: none;">Цена</div>
			<!-- START BLOCK : price_block -->
			<div class="cat_cmpr_str_p" style="display: none;">			       
				   <!-- START BLOCK : price -->
				    <a href="{link}" style="display:block" class="pricebutton"><span>{price} Р</span></a>
				    <!-- END BLOCK : price -->
				    <!-- START BLOCK : dprice -->
				    <a href="{link}" style="display:block" class="pricebuttonred"><span>{price} Р</span></a>
				    <div style="display:block" class="pricebuttonred_discount">{percent}%</div>
				    <!-- END BLOCK : dprice -->		
			</div>
			<!-- END BLOCK : price_block -->
			
		</div>
		
		<!-- cmpr_str -->
		
		
			
		<!-- START BLOCK : property -->
		<div class="cat_cmpr_str">
			<div class="cat_cmpr_str_p first">{property_title}</div>
			<!-- START BLOCK : property_value -->
			<div class="cat_cmpr_str_p">{value}</div>
			<!-- END BLOCK : property_value -->
			
		</div>
		<!-- END BLOCK : property -->
		
			

		</div><!-- content_6 content -->
	</div><!-- cat_cmpr -->
<!-- END BLOCK : prods -->
<script>
			
		$(document).ready(function(){
			$(".content_6").mCustomScrollbar({
					horizontalScroll:true,
					advanced:{
						autoExpandHorizontalScroll:true
					}
				});
			
			$('.content_6 .mCSB_scrollTools').clone(true).css('top',0).prependTo('.mCustomScrollBox');
			$('.content_6').prepend('<div class="fix_bl"></div>');
			$('.mCSB_container').clone().addClass('mCSB_container_fix').prependTo('.content_6 .fix_bl');			
				//$(".content_61").html( $(".mCSB_scrollTools").html() );
				//console.log( $(".mCSB_scrollTools").html() );
				//$(".mCSB_dragger").css("left", "50px");
		});
	</script>