<div class="chezze">
<h1 class="chezze_h1">Видео рецепты:</h1>

<!-- START BLOCK : video -->
<div class="chezze_description">
    <!-- START BLOCK : video_item -->
	<div class="chezze_description_cell">
		<h4 class="custom_h2">{title}</h4>
		<div>
			<div class="chezze_video"><a href="{video}" class="img_popup_video"><span></span><img src="{img}"></a></div>
			
		</div>
	 </div>
    <!-- END BLOCK : video_item -->
</div>

<!-- END BLOCK : video -->

<h1 class="chezze_h1">Описание:</h1>

    <!-- START BLOCK : description -->
    <div class="chezze_description">
        <!-- START BLOCK : description_item -->
        <div class="chezze_description_cell">
            <h4 class="custom_h2">{title}</h4>
            <div>
                <a href="{img}" class="img_popup"><img src="{img_preview}"></a>
                {image}
                <a href="{link}" class="chezze_link" download>Скачать рецепт</a>
            </div>
        </div>
        <!-- END BLOCK : description_item -->
    </div>
    <!-- END BLOCK : description -->
     <div class="text_center"> 
		  <a href="/files/cheeze/book.pdf" download class="link_book"><span class="cat_4_price"><span>Скачать книгу рецептов</span></span></a>
	</div>	  
</div>		

<script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
<link rel="stylesheet" href="/css/colorbox.css" type="text/css"  />
<script>
	$(function(){
		$('.img_popup').colorbox({
			width: '80%'
		});
		
		$('.img_popup_video').colorbox({
			iframe: true,
			innerWidth:640, 
			innerHeight:390
		});
		
		$('body').addClass('chezze_body');
	});
</script>

<!--
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="/css/jquery.fancybox/jquery.fancybox.css" type="text/css"  />
<script>
	$(function(){
		$('.img_popup').fancybox({
			
		});
	});
</script>-->
