<script src="/js/validation_faq.js" type="text/javascript"></script>

<h2>Задать вопрос</h2>
<p>Поля, помеченные <span class="element_required">*</span>, обязательны для заполнения!</p>


<form method="post" action="{add_question_action}" name="addFAQForm" class="usual">
<table width="400" border="0" cellspacing="0" cellpadding="0">
<tbody>

<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields1">Ф.И.О</label></td>
</tr>
<tr>
<td class="star">  <sup>*</sup></td>
<td class="grey">
<div class="fgreyline"></div>
<input type="text" name="username" autocomplete="off" id="form_fields1" value="{username_value}" class="contform text required" maxlength="255"></td>
</tr>

<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields2">Город</label></td>
</tr>
<tr>
<td class="star">  <sup></sup></td>
<td class="grey">
<div class="fgreyline"></div>
<input type="text" name="city" id="form_fields2" value="{city_value}" class="contform text required" maxlength="255"></td>
</tr>

<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields3">E-mail <br /><span style="font-size: 9px;">(Примечание: Ваш e-mail не будет отображаться на сайте, он необходим, чтобы администратор сайта смог вам ответить.)</span></label></td>
</tr>
<tr>
<td class="star">  <sup>*</sup></td>
<td class="grey">
<div class="fgreyline"></div>
<input type="text" name="email" autocomplete="off" id="form_fields3" value="{email_value}" class="contform text required" maxlength="255"></td>
</tr>


<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields4">Ваше сообщение</label></td>
</tr>
<tr>
<td class="star">  <sup>*</sup></td>
<td class="grey">
<div class="fgreyline"></div>
<textarea class="contform required" name="question" style="height: 170px; resize: none;" cols="21" rows="3" id="form_fields4">{question_value}</textarea></td>
</tr>


	<!-- START BLOCK : block_captcha -->
	<!-- captcha there -->
		<tr><td class="star"></td><td class="grey">Введите <a href="#" class="dashed" onclick="document.getElementById('image_captcha_{captcha_rand}').src = '{captcha_image_url}?rand=' + Math.round(Math.random() * 100000); return false;" title="Click the figures shown">код</a>:</td></tr>	
		<tr><td class="star"><sup>*</sup></td><td class="grey"><div class="captcha"><img id="image_captcha_{captcha_rand}" src="{captcha_image_url}"></div><div style="float: left"><div class="fgreyline contformcaptchaLine"></div><input type="text" class="contformcaptcha contform curcaptcha" name="captcha" maxlength="3" autocomplete="off" id="captcha" style=""></div></td></tr>	
	<!-- END BLOCK : block_captcha -->

</tbody></table>
<input type="image" class="submitForm" src="/i/send.png" alt="Отправить" title="Отправить">
</form>

<div class="formright usual">
	<table width="200" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr><td class="star"></td><td class="grey"><label>&nbsp;</label></td></tr>
		<tr><td class="star">  <sup>*</sup></td><td class="grey"><div class="fgreyline"></div><input type="text" name="" id="form_fields_1" readonly="readonly" value="" class="contform text required" maxlength="255"></td></tr>
		
		<tr><td class="star"></td><td class="grey"><label>&nbsp;</label></td></tr>
		<tr><td class="star">  <sup></sup></td><td class="grey"><div class="fgreyline"></div><input type="text" name="" id="form_fields_2" readonly="readonly" value="" class="contform text required" maxlength="255"></td></tr>
		
		<tr><td class="star"></td><td class="grey"><label>&nbsp;</label></td></tr><tr><td class="star">  <sup>*</sup></td><td class="grey"><div class="fgreyline" style="margin-top: 30px;"></div><input type="text" name="" id="form_fields_3" readonly="readonly" value="" class="contform text required" maxlength="255"></td></tr>
		
		<tr><td class="star"></td><td class="grey"><label>&nbsp;</label></td></tr><tr><td class="star">  <sup>*</sup></td><td class="grey" style="height: 184px;"><div class="fgreyline" style="margin-top: -5px;"></div><input type="text" name="" id="form_fields_4" readonly="readonly" value="" class="contform text required" maxlength="255"></td></tr>
		
		<tr><td class="star"></td><td class="grey"><label>&nbsp;</label></td></tr><tr><td class="star">  <sup>*</sup></td><td class="grey"><div class="fgreyline"></div><input type="text" name="" id="form_fields_5" readonly="readonly" value="" class="contform text required" maxlength="255"></td></tr>
		
	</tbody></table>
</div>

<!--
<script type="text/javascript" src="/js/forms.js"></script>
-->
<br><br><br>