		<!-- START BLOCK : nav -->
{nav_string}
		<!-- END BLOCK : nav -->

	<!-- START BLOCK : block_questions -->
	<p>
	№{faq_id} &nbsp; {faq_username}{faq_city}: &nbsp; ({faq_date})<br>
	{faq_question}
	</p>
	<a href="{faq_link}">Подробнее..</a>
<br><br>
	<!-- END BLOCK : block_questions -->
	
		<!-- START BLOCK : nav1 -->
		<!-- количество страниц -->
<p class="tech">{nav_string}</p>
		<!--/количество страниц -->
		<!-- END BLOCK : nav1 -->

	<!-- INCLUDE BLOCK : post_faq_form -->
	
	