	<!-- START BLOCK : block_success -->
Ваше сообщение успешно отправлено!<br>
После просмотра администратором оно появится в общем списке сообщений<br><br>
<a href="javascript:javascript:history.go(-1);">Вернуться назад</a>
	<!-- END BLOCK : block_success -->

<!-- START BLOCK : block_errorcode -->
	<div>Введен неправильный код!</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_errorcode -->
<!-- INCLUDE BLOCK : post_faq_form -->
	