<!-- START BLOCK : block_express -->
<b>Експресс ввод вопроса</b><br>
<form method="POST" action="{action}">
  <label>Выберите рубрику</label> <span class="element_required">*</span>:<br>
  <select name="category" class="required">
    <option value="">Не выбран</option>
    <!-- START BLOCK : block_questions -->
    <option value="{value}">{title}</option>
    <!-- END BLOCK : block_questions -->
  </select><br>
  <label for="username">Ф. И. О.</label> <span class="element_required">*</span>:<br>
  <input type="text" name="username" id="username" class="required" value="{username_value}"><br>
  <label for="city">Город</label>:<br>
  <input id="city" type="text" name="city" value="{city_value}"><br>
  <label for="email">E-mail</label> <span class="element_required">*</span>:<br>
  <span class="grey">E-mail не будет отображаться на сайте, он необходим, чтобы администратор сайта смог вам ответить.</span><br>
  <input type="text" name="email" id="email" class="required" value="{email_value}"><br>
  <label for="question">Ваше сообщение</label> <span class="element_required">*</span>:<br>
  <textarea rows="7" cols="60" class="required" id="question" name="question"></textarea><br>
  
  <!-- START BLOCK : block_captcha -->
		<div class="captcha_block">
		<h2>Введите код, указанный на <a href="#" class="dashed" onclick="document.getElementById('image_captcha').src = '{captcha_image_url}?rand=' + Math.round(Math.random() * 100000); return false;" title="Кликните, чтобы изменить код">картинке</a> <span class="element_required">*</span><label for="captcha" style="display: none;">Код, указанный на картинке</label></h2>
		<input type="text" name="captcha" id="captcha" maxlength="{captcha_maxlength}" style="width: 50px;" class="text required">
		<img id="image_captcha" src="{captcha_image_url}">
		</div>
	<!-- END BLOCK : block_captcha -->
  
  <button class="submitForm">Отправить</button>
</form>
<script type="text/javascript" src="/js/forms.js"></script>  
<!-- END BLOCK : block_express -->
