<script type="text/javascript">
/*
function toggleAnswer(el) {
    var l = el.parentNode.getElementsByTagName('DIV');
    for (var i=0; i<l.length; i++) {
        if ('faq_answer' == l[i].className) {
            l[i].style.display = 'none' == l[i].style.display ? 'block' : 'none';
        }
    }
}
{faq_city}
*/
</script>


<ul class="faq" id="faq">

	<!-- START BLOCK : block_questions -->
	<li class="faq_li"><label class="faq_question">{faq_question}</label><br/> 
	<span>{faq_username} / {faq_date}</span>
	<div class="faq_answer">{faq_answer}</div>
	</li>
	<!-- END BLOCK : block_questions -->

</ul>

<!-- START BLOCK : nav -->
		<p class="tech">Страницы: {nav_string}</p>
<!-- END BLOCK : nav -->

<!--
<form method="post" action="/contacts/?" name="" class="usual" enctype="multipart/form-data">
<table width="400" border="0" cellspacing="0" cellpadding="0">

<tbody>

<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields1">Ф.И.О</label></td>
</tr>
<tr>
<td class="star">  <sup>*</sup></td>
<td class="grey">
<div class="fgreyline"></div>
<input type="text" name="form_fields1" autocomplete="off" id="form_fields1" value="" class="contform text required" maxlength="255"></td>
</tr>




<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields2">Город</label></td>
</tr>
<tr>
<td class="star">  <sup></sup></td>
<td class="grey">
<div class="fgreyline"></div>
<input type="text" name="form_fields2" id="form_fields2" value="" class="contform text required" maxlength="255"></td>
</tr>




<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields3">E-mail <br /><span style="font-size: 9px;">(Примечание: Ваш e-mail не будет отображаться на сайте, он необходим, чтобы администратор сайта смог вам ответить.)</span></label></td>
</tr>
<tr>
<td class="star">  <sup>*</sup></td>
<td class="grey">
<div class="fgreyline"></div>
<input type="text" name="form_fields3" autocomplete="off" id="form_fields3" value="" class="contform text required" maxlength="255"></td>
</tr>




<tr>
<td class="star"></td>
<td class="grey"><label for="form_fields4">Ваше сообщение</label></td>
</tr>
<tr>
<td class="star">  <sup>*</sup></td>
<td class="grey">
<div class="fgreyline"></div>
<textarea class="contform required" name="form_fields4" style="height: 100px;" cols="21" rows="3" id="form_fields4"></textarea></td>
</tr>



</tbody></table>
<input type="image" class="submitForm" src="/i/send.png" alt="Отправить" title="Отправить">

</form>

<br /><br /><br />
-->

<!-- INCLUDE BLOCK : post_faq_form -->
