<div style="font: 12px Arial, sans-serif;line-height: 1.2;-webkit-text-size-adjust:none">
	<div style="  color: #000000;  font-size: 9px;  line-height: 1.2;">{date}</div>
	<div style="font-size: 14px;  margin-top: 5px;  margin-bottom: 14px;  font-weight: bold;">{title}</div>
	<div style="margin-bottom:20px;"><img src="{img}" border="0" alt=""></div>
	<div style="line-height: 1.4;  color: #666; ">{text}</div>
</div>