

<!-- START BLOCK : block_news_announces -->


<div class="news">
	<h2>{news_title}</h2>
	
{news_body}


<!-- START BLOCK : prod -->
<br><br>
<div><a href="{link}">Перейти к товару - {title}</a></div>
<!-- END BLOCK : prod -->

</div>

<!-- END BLOCK : block_news_announces -->

<!-- START BLOCK : nav -->
<p class="tech">Страницы: {nav_string}</p>
<!-- END BLOCK : nav -->