<!-- START BLOCK : block_context_menu -->
<div class="header_links">
	<!-- START BLOCK : block_context_menu_item -->	
		<!-- START BLOCK : block_context_menu_active_item -->
		
		<!-- START BLOCK : block_active_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : block_active_img -->
        <!-- START BLOCK : block_active_no_img -->
        
		<a href="{page_link}" class="header_link" title="">{page_name}</a>
        <!-- END BLOCK : block_active_no_img -->
        
		<!-- END BLOCK : block_context_menu_active_item -->
		
		<!-- START BLOCK : block_context_menu_current_item -->
		
		<!-- START BLOCK : block_curr_img -->
        <img src="{path}" title="{page_name}" alt="{page_name}">
        <!-- END BLOCK : block_curr_img -->
        <!-- START BLOCK : block_curr_no_img -->
        <a href="{page_link}" class="header_link" title="">{page_name}</a>
        <!-- END BLOCK : block_curr_no_img -->
        
		<!-- END BLOCK : block_context_menu_current_item -->
	
	<!-- END BLOCK : block_context_menu_item -->
</div>

<!-- END BLOCK : block_context_menu -->
