<!-- START BLOCK : block_result_message -->
	<div class="rm">{result_message}</div>
	<br>
	<div><a href="javascript:window.close();">закрыть окно</a></div>
	<br>
<!-- END BLOCK : block_result_message -->