<div>
<!-- START BLOCK : level1_menu -->
	<!-- START BLOCK : level1_menu_item -->

		<!-- START BLOCK : level1_menu_active_item -->
		<a href="{page_link}">{page_name}</a>&nbsp;| 
		<!-- END BLOCK : level1_menu_active_item -->
		
		<!-- START BLOCK : level1_menu_current_item -->
		{page_name}&nbsp;|
		<!-- END BLOCK : level1_menu_current_item -->

	<!-- END BLOCK : level1_menu_item -->
<!-- END BLOCK : level1_menu -->
</div>
