<!-- карта сайта в двух колонках -->
	<table cellpadding=0 cellspacing=1 border=0>
	<tr>
	<!-- START BLOCK : level1_menu -->
	<td valign=top>
	<div id=lmenu>
	
		<!-- START BLOCK : level1_menu_item -->
		<ul>
				
				<!-- START BLOCK : level1_menu_active_item -->
				<li><a href="{page_link}">{page_name}</a></li>
				<!-- END BLOCK : level1_menu_active_item -->
				
		
				<!-- START BLOCK : level2_menu -->		
					<ul>
					<!-- START BLOCK : level2_menu_item -->
					
							<!-- START BLOCK : level2_menu_active_item -->
							<li><a href="{page_link}">{page_name}</a></li>
							<!-- END BLOCK : level2_menu_active_item -->

					<!-- END BLOCK : level2_menu_item -->
					</ul>
				<!-- END BLOCK : level2_menu -->
				
		</ul>
		<!-- END BLOCK : level1_menu_item -->		
		
	</div>
	</td>
	<td valign="top"><img src="/i/0.gif" width="50" height="1" alt=""></td>
	<!-- END BLOCK : level1_menu -->
	</tr>
	</table>
	<br>
<!--/карта сайта в двух колонках -->