<hr>
<!-- START BLOCK : block_success -->
Спасибо за ответ, Ваше мнение важно для нас.<br><br>
<!-- END BLOCK : block_success -->
	
<!-- START BLOCK : block_no_success -->
Повторное голосование не допускается!<br><br>
<!-- END BLOCK : block_no_success -->

<!-- START BLOCK : block_no_success_err -->
Ошибка при голосовании!<br><br>
<!-- END BLOCK : block_no_success_err -->
