	<!-- START BLOCK : block_polls -->
	<p><a href="{poll_link}">{poll_question}</a><br>с {poll_begin_date} по {poll_end_date}</p>
	<!-- END BLOCK : block_polls -->

<!-- START BLOCK : nav -->
	<!-- страницы -->
		<p class="tech">Страницы: {nav_string}</p>
	<!--/страницы -->
<!-- END BLOCK : nav -->