<h1>{pricelist_title}</h1>
<b>{pricelist_date}</b>
<div>
{pricelist_body}
</div>
<script type="text/javascript" src="/js/reg_exp.js"></script>
<script language="javascript">
function CheckPlForm()
{
	var form = document.forms.PlForm;
	var Alert = '';

	if ('' == form.fio.value) {
		Alert += "Вы не указали ФИО.\n";
	}
	if ('' == form.email.value) {
		Alert += "Вы не указали E-mail.\n";
	} else if(!isEmail(form.email.value)) {
		Alert += "Вы указали не правильный E-mail.\n";
	}
	var cnt = 0;
	for (i = 0; i < form.elements.length; i++)
	{
		var item = form.elements[i];
		if (item.name == "id[]")  {
			check_cnt = form.elements['cnt['+item.value+']'];
			if (item.checked)  {
				cnt++;
				if (check_cnt.value <= 0) {
					Alert += "Вы не указали количество продуктов с № "+item.value+".\n";
				}
		    }
		}
	}
	if (cnt < 1) {
		Alert += "Вы не выбрали ни одного продукта.\n";
	}

	if (Alert) {
		alert("Ошибка!\n"+Alert);
		return;
	}

	form.submit();
}
</script>
<br>
<form method="post" action="{transurl}&action=order" name="PlForm" id="PlForm">
<input type="hidden" name="priselist_title" value='{pricelist_title}'>
<table class="tbl">
<!-- START BLOCK : block_pricelist_content -->

<!-- ЗАГОЛОВОК -->
<!-- START BLOCK : block_captions -->
<tr>
    <td>№</td>
    <!-- START BLOCK : block_captions_title -->
    <td>{title}</td>
    <!-- END BLOCK : block_captions_title -->
    <td>кол-во</td><td>заказать</td>
</tr>
<!-- END BLOCK : block_captions -->
<!-- .ЗАГОЛОВОК -->

<!-- Категория в прайслисте -->
<!-- START BLOCK : block_categories -->
<tr>
   <th>&nbsp;</th><th colspan="{property_count}">{title}</th><th colspan="2">&nbsp;</th>
</tr>
<!-- END BLOCK : block_categories -->
<!-- /Категория в прайслисте -->

<!-- Товары  -->
<!-- START BLOCK : block_products -->
<tr>
    <td>{id}</td>

    <!-- START BLOCK : block_products_propertys -->
    <td>{property}</td>
    <!-- END BLOCK : block_products_propertys -->

    <td><input type="text" name="cnt[{id}]" size="3" /></td>
    <td><input type="checkbox" name="id[]" value="{id}" /></td>
</tr>
<!-- END BLOCK : block_products -->
<!-- /Товары  -->

<!-- END BLOCK : block_pricelist_content -->
</table>

	<div>
	<br>
	<h2>Внимание!</h2>
	<p>Чтобы заказать интересующий Вас товар заполните форму.</p>
	</div>

	<div class="usual">
	<div><h2><label for="fio">ФИО <span class="element_required">*</span></label></h2><input type="text" name="fio" id="fio"></div>
	<div><h2><label for="email">E-mail <span class="element_required">*</span></label></h2><input type="text" name="email" id="email"></div>
	<div><h2><label for="tel">Телефон</label></h2><input type="text" name="tel" id="tel"></div>
	<button type="submit" onclick="CheckPlForm(); return false;">Заказать</button>
	</div>
</form>