    <script src="../../files/search/jquery-2.1.4.min.js"></script>
    <script src="../../files/search/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/files/search/bootstrap.min.css">
	<script src="../../files/search/jquery-ui.min.js"></script>
	<script src="../../files/search/nouislider.min.js"></script>
    <script src="../../files/search/modernizr.custom.js"></script>
    <script src="../../files/search/classie.js"></script>
    <link rel="stylesheet" href="/files/search/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../files/search/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="/files/search/component.css" />
<style type="text/css">

@font-face {
  font-family: 'fontawesome';
  src:url('../../files/search/fonts/fontawesome/fontawesome.eot');
  src:url('../../files/search/fonts/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'),
  url('../../files/search/fonts/fontawesome/fontawesome.woff') format('woff'),
  url('../../files/search/fonts/fontawesome/fontawesome.ttf') format('truetype'),
  url('../../files/search/fonts/fontawesome/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

#mainSearchButton{
  background-color: #e85538;
  border-width: 1px 0;
  border-color: #e85538 transparent #e4003a;
  box-shadow: none;
  background-image: linear-gradient(to bottom, #e85538 0%, #e4003a 100%);
  border-radius: 0px 2px 2px 0px;
}
#mainSearchButton:hover { background: rgb(232,95,76); }
#mainSearchButton:active { background: rgb(152,15,0); }

.btn-default{
  border-radius: 0;
}

.btn-default a{
  color: black;
  text-decoration: none;
}

.searchList {
  background-color: #F5F5F5;
  padding: 20px;
}

.searchList li{
  line-height:1.5em;
  float:left;
  display:inline;
}

.searchList li a{
  list-style: none;
  color: black;
  padding: 5px;
  font-size: 90%;
}

.searchList li a:hover{
  color: #e85538;
  text-decoration: none;
}

.aside {  
  padding: 10px;
  margin-top: 10px;
  border: 3px solid #F5F5F5;
}

#triple li  { 
  width:33.333%; 
}

.cbp-vm-options {
    border-bottom: 3px solid #F5F5F5;
}

.cbp-vm-options a:hover, .cbp-vm-options a.cbp-vm-selected {
    color: #e85538;
  }

.cbp-vm-add {
  background-color: #e85538;
  background-image: linear-gradient(to bottom, #e85538 0%, #e4003a 100%);
}

.cbp-vm-add:hover{
  background: rgb(232,95,76);
}

.panel-collapse{
  padding: 5px 10px 5px 10px;
}

.ui-state-active:active{
  background: #e85538;
  border: 1px solid #e85538;
}

.aside_btn{
  border-radius: 2px;
}

.aside_btn a{
	color: white;
}

.ui-selectmenu-button{
margin-left: 30px;
margin-bottom: -10px;
}

.ui-state-focus{
	outline: none;
}

.navb{
  margin-top: 10px;
}

.noUi-target {
    height: 12px;
    margin: 5%;
}

.pagination a{
	color: gray;
	padding: 5px;
	font-size: 14px;
}

.noUi-connect {
    background: #e85538;
   }
   
.noUi-handle:after, .noUi-handle:before {
    width: 0px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
}

.cbp-vm-view-grid ul li {
    width: 32%;
}

.cbp-vm-image img {
    max-height: 87px;
}

.cbp-vm-view-grid .cbp-vm-details {
	height: 120px;
    font-size: 12px;
}

.viewsview_grid h3 {
    background-color: transparent;
}

.viewsview_grid h3 a {
    color: black;
    font-size: 12px;
}

.cbp-vm-view-list .cbp-vm-title {
    width: 18%;
}

.cbp-vm-view-list .cbp-vm-price {
    font-size: 90%;
       width: 15%;
}

.cbp-vm-view-list .cbp-vm-details {
	font-size: 80%;
    padding: 0 35px;
}

.redmenu a {
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: white;
}

#header a {
    color: white;
}

.pagination span {
	font-weight: bold;
}

ul.pagination {
	width: 100%;
	text-align: center;
}

#searchScroll{
	text-align: left;
}

#tag_search_page {
    height: auto;
    margin-left: -1px;
}

.ui-menu .ui-menu-item {
    font-size: 11px;
   }
   
</style>

<form name="search" action="{search_link}" method="GET">
  <div>
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-btn">
	        <!-- START BLOCK : block_categories -->
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >{title} <span class="caret"></span></button>
          <input type="hidden" name="category" value="" id='js_category'>
          <ul class="dropdown-menu">
	          <li class='js_category_class' ini=''><a>Везде</a></li>
	          <!-- START BLOCK : block_category -->
			  	<li class='js_category_class' ini='{id}'><a>{title}</a></li>
			  <!-- END BLOCK : block_category -->
          </ul>
          <!-- END BLOCK : block_categories -->
        </div><!-- /btn-group -->
        <input id="tag_search_page" name="query" placeholder="поиск по сайту" onfocus="" class="needValue form-control" type="text">
        
        <span class="input-group-btn">
                      <button type="submit" class="btn btn_theme_normal btn-primary" id="mainSearchButton">Найти</button>
                  </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</form>

<br>
<script type="text/javascript">
	$(function(){
		$('.js_category_class').click(function(){
			$('#js_category').val($(this).attr('ini'));
		})
	})
</script>