<style>
	.index_adv,.indexp_slider_adverts{display:none;}
</style>
<div class="sale_item">
    <span style=" word-break: break-all;">{text_type_first}</span>
	<div class="sale_item_img">
	<!-- START BLOCK : img -->
	<img src="{img}" alt=""  />
	<!-- END BLOCK : img -->

	<div class="sale_item_txt"></div>
</div>
    <span>{text_type_second}</span>

<div class="sale_item_skidka">
	<!-- START BLOCK : skidka -->

    <div class="sale_item_i">


	<!-- START BLOCK : type1 -->
	<div>
        <div class="sale_percent">скидка <br /><strong>{percent}%</strong></div>
		<table cellpadding=0 cellspacing=0 border=0 >
		<tr>
			<td>
                <br>
                <h2 style="text-align: center"><a href="{linkT}" class="fsiz15">{title}</a></h2>
				<!-- START BLOCK : prod1 -->
				<table cellpadding=0>
				<tr>
					<td>
					<!-- START BLOCK : img1 -->
					<a href="{link}"><img src="{path}" width="100px" /></a>
					<!-- END BLOCK : img1 -->
					</td>
					<td>
					<a href="{link}">{product_title}</a><br /><span class="sale_prices">{price} р.</span><strong>{new_price} р.</strong><br />
                    <a href="{cat_link}" class="sale_prod_cat">{cat_title}</a>
					</td>
				</tr>
				</table>
				<!-- END BLOCK : prod1 -->
			</td>
			<td width="130" style="text-align: center;">
           
			<!--Старая цена: {total} <br>
			
			Разница: {res} <br/>-->
			

			<form enctype="multipart/form-data" name="addToCart" method="post" action="/shop/?action=addtocart">


			<div style="display: none;">
			В корзину:
			<input type="text" class="amount" maxlength="5" size="3" value="1" name="qty">
			<input type="hidden" value="{prod_id}" name="id"></div>
			<input type="submit" value="Купить" />

			</form>
			</td>
		</tr>
		</table>
	</div>
	<!-- END BLOCK : type1 -->
	<!-- START BLOCK : type2 -->
        <div class="sale_item_i">
            <div class="gift_type3">
	<table cellpadding=0 cellspacing=0 border=0 >
	<tr>
	<td>
	<!-- START BLOCK : prod2 -->
	<table cellpadding=0>
	<tr>
	<td>
        <br>
        <h2 style="text-align: center"><a href="{linkT}" class="fsiz15">{title}</a></h2>
	<!-- START BLOCK : img2 -->
	<a href="{link}"><img src="{path}" width="100px" /></a>
	<!-- END BLOCK : img2 -->
	</td>
	<td>
	<a href="{link}">{product_title}</a>  Цена: {price}
	</td>
	</tr>
	</table>
	<!-- END BLOCK : prod2 -->
	</td>
	<td>
	Сумма комплекта: {total}<br>
	Сумма по акции: {price_v}<br>
	Выгода: {res_v}
	</td>
	</tr>
	</table>
        <form enctype="multipart/form-data" name="addToCart" method="post" action="/shop/?action=addtocart2">
            <input type="hidden" class="amount" name="qty">
            <input type="hidden" value="{prod_id}" name="id">
            <!-- START BLOCK : prodS2 -->
            <input type="hidden" value="{prod_id}" name="id[]">
            <!-- END BLOCK : prodS2 -->
            <input type="button" value="Купить" class="buy buyIt">

        </form>
    </div>

    </div>
	<!-- END BLOCK : type2 -->

	<!-- START BLOCK : type3 -->
	<div class="gift_type3">
	

	<!-- START BLOCK : prod3 -->
	<a class="gift_type3_i" href="{link}">
        <br>
        <h2 style="text-align: center" class="fsiz15">{title}</h2>
	<!-- START BLOCK : img3 -->
	<img src="{path}" class="fl"/>
	<!-- END BLOCK : img3 -->
	<span>
	<strong>{product_title}</strong> <br>
	<p class="gift_type3_i_price">{price} р.</p>
	</span>
	</a>
	<!-- END BLOCK : prod3 -->
	
	<div class="gift_type3_gift">+ подарок</div>
	<!-- START BLOCK : gift -->
	
	<a href="{link}" class="gift_type3_gift2 kuponos">
        <span class="product_inf treeryt">{inf}</span>
	<!-- START BLOCK : gift_img -->
	<img src="{path}" width="100px" class="fl"/>
	<!-- END BLOCK : gift_img -->
	<span>
	<strong>{product_title}</strong> <!-- Цена: {price} -->
       
	</span>
	<span class="treeryt clg">{comment}</span>
	</a>
	
	
	<!-- END BLOCK : gift -->
	<!-- START BLOCK : kupon -->
	<div class="gift_type3_kupon_gift kuponos">
		<img src="/i/kupones.png" alt="" class="fl"/>
		<div>
	 <span>купон</span><br> на {price} рублей
	</div>
	</div>
	<!-- END BLOCK : kupon -->
        <!-- START BLOCK : gift_if -->
        <a href="{link}" class="{class} kuponos">
			<span class="product_inf treeryt">{inf}</span>
            <img src="{path}" width="100px" class="fl"/>
            <span>
                <strong>{product_title}</strong>
                
            </span>
			<span class="treeryt clg">{comment}</span>
        </a>

        <!-- END BLOCK : gift_if -->
	<!-- START BLOCK : kupon_gift -->
	<div class="gift_type3_kupon_gift kuponos">
	<img src="/i/kupones.png" alt="" class="fl"/>
	<div>
	 <span>купон</span><br> на {price} рублей
	</div>
	</div>
	<!-- END BLOCK : kupon_gift -->

        <!-- START BLOCK : percent_gift -->
        <div class="gift_type3_kupon_gift kuponos">


            <div style="margin-left: 50px; margin-top: 10px;">
                <div class="sale_percent" style="position: inherit">скидка <br><strong>{price}%</strong></div>
            </div>
        </div>
        <!-- END BLOCK : percent_gift -->
	
	
	</div>
	<!-- END BLOCK : type3 -->
</div>
	<!-- END BLOCK : skidka -->
    
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.buyIt').click(function(){
            $(this).parents('form').submit();
        })
    });
</script>