<info_level>
Заказ от {fio} на сайте {site_name_rus} ({web_address}) {date}<br>
Зарегистрированный пользователь: {fio}<br>
Тип клиента: {type}<br><br>
Email: {email}<br>
Телефон: {phone}<br><br>
Почтовый индекс: {zip_code}<br>
Страна: {country}<br>
Область, край: {region}<br>
Город: {city}<br>
Адрес: {address}<br><br>
<info_level>
Организация: {organization}<br>
ИНН/KПП: {inn}<br>
Р/с: {rs}<br>
К/с: {ks}<br>
Банк: {bank}<br>
БИК: {bik}<br><br>
<info_level>
Форма оплаты: {payment_type}<br>
Дополнительная информация: {additional}<br>
<info_level>
-------------------------------------------------<br>
Название товара: {p_name}<br>
Код: {p_code}<br>
Наличие: {p_availability}<br>
Цена: {price} USD<br>
Вн. курс: {kyrs}<br>
Кол-во: {how}<br>
Общ. стоимость: {all_price_prod} USD<br>
<info_level>
<br>Общая сумма заказа: {all_price_prods} USD
<info_level>Заказ от {fio} на сайте {web_address}<info_level>Ваш заказ (№{order_id}) принят, спасибо за покупку.