<style>
	.index_adv,.indexp_slider_adverts{display:none;}
    .type1_submit{
        background: rgba(0, 0, 0, 0) url('/i/buuuuy.png') repeat scroll 0 0;
        border: 0 none;
        cursor: pointer;
        height: 35px;
        outline: 0 none !important;
        text-indent: -9999px;
        width: 83px;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/colorbox.css" media="screen" />
<script type="text/javascript" src="/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="/js/colorbox-settings.js"></script>
<!--
<h3>
  <a href="/supra">Распродажа посуды SUPRA</a>
</h3>
-->
<!-- START BLOCK : action -->
	
	<div >

		
			<!-- START BLOCK : img -->
			<!--	<a href="{link}"><img src="{img}" class="sale_img" alt=""/></a>-->
			<!-- END BLOCK : img -->
			<div class="head1">
				<a href="{link}">{title}</a>
			</div>
        <span style=" word-break: break-all;">{preview}</span>
        <a href="{link}"><img src="{img_preview}" class="sale_img" alt=""/></a>
	<!-- START BLOCK : skidka -->

    <div class="sale_item_i">


	<!-- START BLOCK : type1 -->
	<div>
        <div class="sale_percent">скидка <br /><strong>{percent}%</strong></div>
		<table cellpadding=0 cellspacing=0 border=0 >
		<tr>
			<td>
                <br>
                <h2 style="text-align: center; "><a href="{linkT}" class="fsiz15">{title}</a></h2>

				<!-- START BLOCK : prod1 -->
				<table cellpadding=0>
				<tr>
					<td>
					<!-- START BLOCK : img1 -->
					<a href="{link}"><img src="{path}" width="100px" /></a>
					<!-- END BLOCK : img1 -->
					</td>
					<td>
                        <div class="product_inf">{inf}</div>
					<a href="{link}">{product_title}</a><br /><span class="sale_prices">{price} р.</span><strong>{new_price} р.</strong><br />
                    <a href="{cat_link}" class="sale_prod_cat">{cat_title}</a>
					</td>
				</tr>
				</table>
				<!-- END BLOCK : prod1 -->
			</td>
			<td width="130" style="text-align: center;">
           
			<!--Старая цена: {total} <br>
			
			Разница: {res} <br/>-->
			

			<form enctype="multipart/form-data" name="addToCart" method="post" action="/shop/?action=addtocart">


			<div style="display: none;">
			В корзину:
			<input type="text" class="amount" maxlength="5" size="3" value="1" name="qty">
			<input type="hidden" value="{prod_id}" name="id"></div>
			<input type="submit" value="Купить" class="type1_submit"/>

			</form>
			</td>
		</tr>
		</table>
	</div>
	<!-- END BLOCK : type1 -->
	<!-- START BLOCK : type2 -->
    <div class="sale_item_i">
	<div class="gift_type3">
	<table cellpadding=0 cellspacing=0 border=0 >
	<tr>
	<td>
        <br>
        <h2 style="text-align: center; "><a href="{linkT}" class="fsiz15">{title}</a></h2>
	<!-- START BLOCK : prod2 -->
	<table cellpadding=0>
	<tr>
	<td>
	<!-- START BLOCK : img2 -->
	<a href="{link}"><img src="{path}" width="100px" /></a>
	<!-- END BLOCK : img2 -->
	</td>
	<td>
        <div class="product_inf ">{inf}</div>
	<a href="{link}">{product_title}</a>  Цена: {price}
	</td>
	</tr>
	</table>
	<!-- END BLOCK : prod2 -->
	</td>
	<td>
	Сумма комплекта: {total}<br>
	Сумма по акции: {price_v}<br>
	Выгода: {res_v}

	</td>

	</tr>
	</table>

        <form enctype="multipart/form-data" name="addToCart" method="post" action="/shop/?action=addtocart2">
                <input type="hidden" class="amount" name="qty">
            <!-- START BLOCK : prodS2 -->
            <input type="hidden" value="{prod_id}" name="id[]">
            <!-- END BLOCK : prodS2 -->
            <input type="button" value="Купить" class="buy buyIt">

        </form>
	</div>

</div>
	<!-- END BLOCK : type2 -->

	<!-- START BLOCK : type3 -->
	<div class="gift_type3">


				<!-- START BLOCK : prod3 -->
				<div class="gift_type3_i">
					<br>
					<h2 style="text-align: center; "><a href="{linkT}" class="fsiz15">{title}</a></h2>
				<!-- START BLOCK : img3 -->
				<a href="{link}"><img src="{path}" class="fl"/></a>
				<!-- END BLOCK : img3 -->
				<div class="iyreutr">
					<div class="product_inf">{inf}</div>
				<a href="{link}">{product_title}</a> <br>
				<p class="gift_type3_i_price">{price} р.</p>
				</div>
				</div>
        <input type="button" value="Купить" class="buy"/>
        <div class="buy_form" style="display: none;">
            <form enctype="multipart/form-data" name="addToCart" method="post" action="/shop/?action=addtocart">
            <div style="display: none;">
                В корзину:
                <input type="text" class="amount" maxlength="5" size="3" value="1" name="qty">
                <input type="hidden" value="{prod_id}" name="id"></div>

            <!-- START BLOCK : choose_gift -->
            <div id="cart_message_gift"><h4>Ваш товар добавлен в корзину</h4>
				<div class="cboxClose2"></div>
                <div>Выберите подарок: <br>
                    <a href="{link}" target="_blank">{title}</a> <input type="radio" name="choose" checked value="1" /><br> Купон на {price}р <input type="radio" name="choose" value="2" />
                </div>
                <br>
                <input type="submit" value="Продолжить" />
            </div>
            <!-- END BLOCK : choose_gift -->

            <!-- START BLOCK : choose_gift_percent -->
            <div id="cart_message_gift"><h4>Ваш товар добавлен в корзину</h4>
                <div class="cboxClose2"></div>
                <div>Выберите подарок: <br>
                    <a href="{link}" target="_blank">{title}</a> <input type="radio" name="choose" checked value="4" /><br> Скидка {price} <input type="radio" name="choose" value="5" />
                </div>
                <br>
                <input type="submit" value="Продолжить" />
            </div>
            <!-- END BLOCK : choose_gift_percent -->

            <!-- START BLOCK : choose_double_gift -->
            <div id="cart_message_gift"><h4>Что вы хотите приобрести?</h4>
				<div class="cboxClose2"></div>
                <div>
                    <a href="{link}" target="_blank">{act_sel}</a> <input type="radio" name="choose" checked value="3" /><br>
                    {noact_sel} <input type="radio" name="choose" value="" />
                </div>
                <br>
                <input type="submit" value="Продолжить" />
            </div>
            <!-- END BLOCK : choose_double_gift -->

            <!-- START BLOCK : choose_gift_if -->
            <div id="cart_message_gift"><h4>Ваш товар добавлен в корзину</h4>
				<div class="cboxClose2"></div>
                <div>Выберите подарок: <br>
                    <a href="{link}" target="_blank">{title}</a> <input type="radio" name="choose" checked value="1" /><br>
                    <a href="{link_if}" target="_blank">{title_if}</a> <input type="radio" name="choose" value="9" /><br>
                    <!-- START BLOCK : choose_gift_ifs -->
                    <a href="{link_if}" target="_blank">{title_if}</a> <input type="radio" name="choose" value="9.{id}" /><br>
                    <!-- END BLOCK : choose_gift_ifs -->
                </div>
                <br>
                <input type="submit" value="Продолжить" />
            </div>
            <!-- END BLOCK : choose_gift_if -->

                <!-- START BLOCK : one_gift -->
                <div id="cart_message_gift"><h4>Вы хотите приобрести {product_title}?</h4>
					<div class="cboxClose2"></div>
                    <div>
                        <a href="{link}" target="_blank">С подарком {title}</a> <input type="hidden" name="choose" checked value="1" checked  /><br>
                    </div>
                    <br>
                    <input type="submit" value="Продолжить" />
                </div>
                <!-- END BLOCK : one_gift -->
        </form>
        </div>
				<!-- END BLOCK : prod3 -->

	
	
	<div class="gift_type3_gift">+ подарок</div>
	
	
	
	
	
	
					<!-- START BLOCK : gift -->
					
					<div class="gift_type3_gift2 kuponos">
					
					<div class="product_inf treeryt">{inf}</div>
					<!-- START BLOCK : gift_img -->
					<a href="{link}"><img src="{path}" width="100px" class="fl"/></a>
					<!-- END BLOCK : gift_img -->
					<div>
						
					<a href="{link}">{product_title}</a>  <!-- Цена: {price} -->
						
					</div>
					<div class="treeryt clg">{comment}</div>
					</div>
					
					
					<!-- END BLOCK : gift -->
					
					
					
					
					
	<!-- START BLOCK : kupon -->
	<div class="gift_type3_kupon_gift kuponos">
		
		<img src="/i/kupones.png" alt="" class="fl"/>
		<div>
	 <span>купон</span><br> на {price} рублей
	</div>
	</div>
	<!-- END BLOCK : kupon -->
	
	
	
	
        <!-- START BLOCK : gift_if -->
        <div class="{class} kuponos">

			<div class="product_inf treeryt">{inf}</div>
            <a href="{link}"><img src="{path}" width="100px" class="fl"/></a>
            <div>
               
                <a href="{link}">{product_title}</a>
               
            </div>
			<div class="treeryt clg">{comment}</div>
        </div>

        <!-- END BLOCK : gift_if -->
		
		

	<!-- START BLOCK : kupon_gift -->
	<div class="gift_type3_kupon_gift kuponos">

	<img src="/i/kupones.png" alt="" class="fl"/>
	<div>
	 <span>купон</span><br> на {price} рублей
	</div>
	</div>
	<!-- END BLOCK : kupon_gift -->

    <!-- START BLOCK : percent_gift -->
    <div class="gift_type3_kupon_gift kuponos">


        <div style="margin-left: 50px; margin-top: 10px;">
            <div class="sale_percent" style="position: inherit">скидка <br><strong>{price}%</strong></div>
        </div>
    </div>
    <!-- END BLOCK : percent_gift -->
	
	
	</div>
	<!-- END BLOCK : type3 -->
</div>
	<!-- END BLOCK : skidka -->

	</div>

<!-- END BLOCK : action -->

<script type="text/javascript">
	$(document).ready(function(){	
		$('.buy').click(function(){
			$(this).next().show();
		})
		
		$('.cboxClose2').click(function(){
			$(this).closest('.buy_form').hide();
		});

        $('.buyIt').click(function(){
            $(this).parents('form').submit();
        })
	});
	
</script>
