<!-- START BLOCK : block_order_error -->
	Невозможно отправить заказ. Ваша корзина покупок пуста, либо вы просто пытаетесь повторно отправить данные.
<!-- END BLOCK : block_order_error -->

<!-- START BLOCK : block_no_order -->
	<h1>Ваша корзина пуста.</h1>
<!-- END BLOCK : block_no_order -->

<!-- START BLOCK : block_process_order -->
<div class="catalog_content in_basket">

<script src="/js/jquery.maskedinput.min.js"></script>
<script>
$(document).ready(function(){
    $(".phone_mask").mask("+7(999)999-99-99");
});
</script>
<form action="{process_order_action}" method="post" id="frmOrder" name="cartForm">
<input type="hidden" id="d_title" type="text" value=""/>
<input type="hidden" name="api_ems" id="api_ems" type="text" value=""/>
<input type="hidden" name="api_ems_date" id="api_ems_date" type="text" value=""/>
<input name="step" type="hidden" value="2">


<div id="blckStep1">
<div class="shopcart_h2"><span><b>Заказчик</b> /</span> Шаг 1 из 2</div>
    <div class="delivery_type">
        <!-- START BLOCK : block_delivery_list -->
        <h3>Способ доставки:</h3>
       
            <!-- START BLOCK : block_delivery -->
			 <label class="rrtt">
                 <input type="radio" ini="{cost}" name="delivery_id" value="{id}" class="delivery_t js_deliv_{id}">{title} {link_term}
             </label>
        <br class="js_br_deliv_{id}">
           
            <!-- END BLOCK : block_delivery -->
      
        <!-- END BLOCK : block_delivery_list -->
    </div>
<h3 style="width: 45%;">Персональные данные:</h3>
<!-- START BLOCK : block_selectAddress  -->
<div class="lykitk">{selectAddress}</div>
<!-- END BLOCK : block_selectAddress -->
<div class="pay_type">
<!-- START BLOCK : block_pay  -->
     <h3>Способ оплаты:</h3>
    <div id="pays">
    <!-- START BLOCK : block_pay_types  -->
    <!--<label class="rrtt"><input type="radio" name="payment_type" value="{value}">{title}</label><br>-->
    <!-- END BLOCK : block_pay_types  -->
    </div>
<!-- END BLOCK : block_pay  -->

</div>
<div class="delivery_type" style="display: none; clear: right;
    float: right;
    right: 0;
    top: 18px;
    width: 45%;">
    <h3>Варианты доставки:</h3>
    <div id="delivery_sd_type">
        <label class="rrtt" style="display: none">
            <input type="radio" name="delivery_type" value="10">Склад - Склад
        </label>
        <br >

        <label class="rrtt" style="display: none">
            <input type="radio" name="delivery_type" value="11">Склад - Дверь
        </label>
        <br >

        <label class="rrtt" style="display: none">
            <input type="radio" name="delivery_type" value="12">Склад - Склад Экспресс
        </label>
        <br >

        <label class="rrtt" style="display: none">
            <input type="radio" name="delivery_type" value="13">Склад - Дверь Экспресс
        </label>
        <br >

    </div>
</div>
<table width="400" border="0" cellspacing="0" cellpadding="0" class="shopcart_1_3">
<tbody>
<tr>
<td ></td>
<td ><label for="txtFio">Фамилия</label></td>
</tr>
<tr>
<td > <sup><span class="element_required">*</span></sup></td>
<td >

<input type="text" name="surname" value="{lastname}" id="txtFio" autocomplete="off" class="contform text required" maxlength="255"></td>
</tr>
<tr>
<td ></td>
<td ><label for="txtFio1">Имя</label></td>
</tr>
<tr>
<td > <sup><span class="element_required">*</span></sup></td>
<td >

<input type="text" name="name" value="{name}" id="txtFio1" autocomplete="off" class="contform text required" maxlength="255"></td>
</tr>
<tr>
<td ></td>
<td ><label for="txtFio2">Отчество</label></td>
</tr>
<tr>
<td > <sup><span class="element_required">*</span></sup></td>
<td >

<input type="text" name="otch" value="{surname}" id="txtFio2" autocomplete="off" class="contform text required" maxlength="255"></td>
</tr>

<tr>
<td ></td>
<td ><label for="txtPhone">Ваш телефон</label></td>
</tr>
<tr>
<td > <sup><span class="element_required">*</span></sup></td>
<td >

<input type="text" name="phone" value="{phone}" id="txtPhone" autocomplete="off" class="contform text required phone_mask" maxlength="255" placeholder="+7(ххх)ххх-хх-хх"></td>
</tr>

<tr>
<td ></td>
<td ><label for="txtPhone">Ваш e-mail</label></td>
</tr>
<tr>
<td > <sup><span class="element_required">*</span></sup></td>
<td >

<input type="text" name="email" value="{email}" id="txtEmail" autocomplete="off" class="contform text required" maxlength="255"></td>
</tr>

<!-- START BLOCK : address -->

<tr>
<td ></td>
<td ><label for="txtArea">Область/Край</label></td>
</tr>
<tr>
<td ></td>
<td >

<input type="text" name="area" value="{area}" id="txtArea" autocomplete="off" class="contform text " maxlength="255"></td>
</tr>

<tr>
<td ></td>
<td ><label for="txtRegion">Регион</label></td>
</tr>
<tr>
<td > <sup>
    <span class="element_required">*</span>
</sup></td>
<td >

<!-- <input type="text" name="region" value="{region}" id="txtRegion" autocomplete="off" class="contform text " maxlength="255"> --->
    <select class="region_select contform" name="region" id="txtRegion">

    </select>  </td>
</tr>

<tr>
<td ></td>
<td ><label for="txtIndex">Индекс</label></td>
</tr>
<tr>
<td > </td>
<td >

<input type="text" name="index" value="{index}" id="txtIndex" autocomplete="off" class="contform text " maxlength="255"></td>
</tr>

<tr class="js_city_show">
<td ></td>
<td ><label for="txtCity">Город</label></td>
</tr>
<tr class="js_city_show">
<td > <sup><span class="element_required">*</span></sup></td>
<td >

<input type="text" name="city" value="" id="txtCity" autocomplete="off" class="contform text required" maxlength="255">
<input type="hidden" name="receiverCityId" value="" id="receiverCityId">

</td>
</tr>

<tr>
<td ></td>
<td ><label for="txtAddr">Адрес доставки</label></td>
</tr>
<tr>
<td > <sup><span class="element_required">*</span></sup></td>
<td >

<input type="text" name="address" value="{address}" id="txtAddr" autocomplete="off" class="contform text required" maxlength="255"></td>
</tr>
<!-- END BLOCK : address -->
<tr>
<td ></td>
<td ><label for="txtInfo">Дополнительная информация:</label></td>
</tr>
<tr>
<td ></td>
<td >


<textarea style="height: 170px; resize: none;" cols="21" rows="3" name="additional" id="txtInfo" class="contform required">{additional}</textarea></td>
</tr>
</tbody></table>

<div class="shopcart_line"></div>
					
<div style="width: 100%; margin-top: 22px;">
	<a href="javascript:void(0)" title="Далее" class="cart_red_btn {css_class_disabled_step1}" id="btnNext1"><span>Далее</span></a>
</div>
</div>

<div id="blckStep2" style="display: none;">
<div class="shopcart_h2"><span><b>Подтверждение заказа</b> /</span> Шаг 2 из 2</div>
    <!-- START BLOCK : bonus_value -->
    <div class="bonusBalance_wrap">{message} :  {bonus} {currency}</div>
    <!-- END BLOCK : bonus_value -->
<div style="margin-left: 749px; width: 114px; text-align: center; float: left; margin-bottom: 5px; color: #000;">Количество</div>
<div style="width: 103px; text-align: center; float: left; margin-bottom: 5px; color: #000;">Цена</div>
<div class="clear"></div>
    <!-- START BLOCK : block_cart -->
		<div class="shopcart_p shopcart_final">			
		<div>
<!-- START BLOCK : block_cart_item -->
       <div class="newsannounce">
			<div class="pht_wrap {new_price}">
            <div class="txt">									
			 <a href="{link}" title="" class="h5">{title}</a>																		
		   </div>
           <div class="qua"><input type="text" disabled="disabled" value="{cnt}"></div>
           <div class="pri">{price} {currency_name}</div>
		   <div class="clear"></div>
		  </div>
           <!-- START BLOCK : gift -->
           + подарок {title}
           <!-- END BLOCK : gift -->
           <!-- START BLOCK : bonus -->
           + Бонусные баллы {bonus}
           <!-- END BLOCK : bonus -->
		</div>
<!-- END BLOCK : block_cart_item -->

		   
		</div></div>
        <div class="shopcart_sum">Сумма: <s id='old_sum'>{item_all_old}</s> <span id='new_sum'>{item_all}</span></div>
        <p style="display: none" id='old_sum_v'>{item_all_old}</p>
        <p style="display: none" id='new_sum_v'>{item_all}</p>
        <p style="display: none" id='new_sum_v_api'>{item_all}</p>
<!-- END BLOCK : block_cart -->

	<div class="clear"></div>
<div class="shopcart_line"></div>
<p class="shopcart_3_3_bot">
<br>
Заказчик: <span id="resFio">n\a</span><br>
Телефон: <span id="resPhone">n\a</span><br>
Область/Край: <span id="resArea">n\a</span><br>
Регион: <span id="resRegion">n\a</span><br>
Индекс: <span id="resIndex">n\a</span><br>
Город: <span id="resCity">n\a</span><br>
Адрес доставки: <span id="resAddr">n\a</span><br>
E-mail: <span id="resEmail"></span><br />
Дополнительная информация: <span id="resInfo">n\a</span><br>
Доставка: <span id="resDelivery">n\a</span><br>
Сроки доставки: <span id="resDeliverydate"></span><br>
<!-- <div  class="shopcart_3_3_inp">
	<input type="checkbox" style="margin-top: -2px;" name="notify" value="1" checked="checked" id="chbNotify"> Получать уведомления на e-mail о изменении статуса заказа
</div> -->
</p>

<!--<div class="inf" id="resYur">
<div><b>Организация:</b> <span id="resOrg">n\a</span></div>
<div><b>ИНН/KПП:</b> <span id="resInn">n\a</span></div>
<div><b>Р/с:</b> <span id="resRs">n\a</span></div>
<div><b>К/с:</b> <span id="resKs">n\a</span></div>
<div><b>Банк:</b> <span id="resBank">n\a</span></div>
<div><b>БИК:</b> <span id="resBik">n\a</span></div>
</div>-->


<div class="shopcart_line"></div>				
<div style="width: 100%; margin-top: 22px;">
	<a href="javascript:void(0)" title="Назад" class="cart_grey_btn" id="btnPrev3"><span>Назад</span></a>
	<a href="javascript:void(0)" title="Далее" class="cart_red_btn cart_red_btn_noact" id="btnSbmt"><span>Подтвердить заказ</span></a>
	<a href="/offer/" target="_blank" class="soglasen_offer">оферты</a><label class="soglasen"><input type="checkbox"> согласен(на) с условиями</label>
</div>

</div>

</form>
</div>
<script type="text/javascript">
$(function() {
    $('.region_select').on('change', function () {

        if ($('.region_select option:selected').attr('ini') != 'city--moskva') {
            $('.js_deliv_3').parent().hide(); //самовывоз
            $('.js_br_deliv_3').hide();
        }
        else {
            $('.js_deliv_3').parent().show();//самовывоз
            $('.js_br_deliv_3').show();
        }

    });

    $.ajax({
        url: "http://emspost.ru/api/rest/",
        dataType: "jsonp",
        data: ({
            method: "ems.get.locations",
            type: "regions",
            plain: "true"
        }),
        success: function (data) {
            $(".region_select").append("<option value='0' js_type='region' >Выберите регион или город</option>");
            $(".region_select").append("<optgroup label='Регионы' class='js_region'></optgroup>");
            for (i = 0; i < data.rsp.locations.length; i++) {
                //if(i==0) var selected="selected=selected";
                //else
                var selected = '';
                var output = "<option " + selected + " value='" + data.rsp.locations[i].name + "' ini='" + data.rsp.locations[i].value + "' js_type='region'>" + data.rsp.locations[i].name + "</option>";
                if (data.rsp.locations[i].value == 'region--moskovskaja-oblast') {
                    $(".region_select option[value='0']").after(output);

                }
                else {
                    $(".js_region").append(output);
                }

            }

            $.ajax({
                url: "http://emspost.ru/api/rest/",
                dataType: "jsonp",
                data: ({
                    method: "ems.calculate",
                    from: "city--moskva",
                    to: $(".region_select :selected").attr('ini'),
                    weight: $("#weight").val()
                }),
                success: function (data) {
                    if (data.rsp.stat == "fail") {
                        $("#rez").empty().append("Неправильный вес");
                    }
                    else {
                        $('.delivery_t').each(function (a, b) {
                            if ($(b).val() == 5) {
                                $(b).attr('api_price', data.rsp.price);
                                $(b).attr('ini', data.rsp.price);
                                var min = parseFloat(data.rsp.term.min) + 3;
                                var max = parseFloat(data.rsp.term.max) + 3;
                                $(b).attr('date_p', "от " + min + " до " + max + " дней");
                            }
                        });
                    }
                }
            });

            $.ajax({
                url: "http://emspost.ru/api/rest/",
                dataType: "jsonp",
                data: ({
                    method: "ems.get.locations",
                    type: "cities",
                    plain: "true"
                }),
                success: function (data) {
                    $(".region_select").append("<optgroup label='Города' class='js_city'></optgroup>");
                    for (i = 0; i < data.rsp.locations.length; i++) {
                        //if(i==0) var selected="selected=selected";
                        //else
                        var selected = '';
                        var output = "<option " + selected + " value='" + data.rsp.locations[i].name + "' ini='" + data.rsp.locations[i].value + "' js_type='city'>" + data.rsp.locations[i].name + "</option>";
                        if (data.rsp.locations[i].value == 'city--moskva') {
                            $(".region_select option[value='0']").after(output);

                        }
                        else {
                            $(".js_city").append(output);
                        }

                    }

                    $.ajax({
                        url: "http://emspost.ru/api/rest/",
                        dataType: "jsonp",
                        data: ({
                            method: "ems.calculate",
                            from: "city--moskva",
                            to: $(".region_select :selected").attr('ini'),
                            weight: $("#weight").val()
                        }),
                        success: function (data) {
                            if (data.rsp.stat == "fail") {
                                $("#rez").empty().append("Неправильный вес");
                            }
                            else {
                                $('.delivery_t').each(function (a, b) {
                                    if ($(b).val() == 5) {
                                        $(b).attr('api_price', data.rsp.price);
                                        $(b).attr('ini', data.rsp.price);
                                        var min = parseFloat(data.rsp.term.min) + 3;
                                        var max = parseFloat(data.rsp.term.max) + 3;
                                        $(b).attr('date_p', "от " + min + " до " + max + " дней");
                                    }
                                });
                            }
                        }
                    });
                }
            });
        }
    });

    $.ajax({
        url: "http://emspost.ru/api/rest/",
        dataType: "jsonp",
        data: ({
            method: "ems.get.max.weight"
        }),
        success: function (data) {
            var weight = $("#weight").val();
            if (parseFloat(weight) > parseFloat(data.rsp.max_weight)) {
                $('.delivery_t').each(function (a, b) {
                    if ($(b).val() == 5) {
                        $(b).parent('.rrtt').html("<br><p> EMS почта недоступна: привышен максимальный вес " + data.rsp.max_weight + " кг.</p>");
                    }
                });
            }
            $("#max_weight").append(data.rsp.max_weight + " кг");
        }
    });

    var label_select = false;
    $('.region_select').on('change', function () {
        label_select = true;
        $.ajax({
            url: "http://emspost.ru/api/rest/",
            dataType: "jsonp",
            data: ({
                method: "ems.calculate",
                from: "city--moskva",
                to: $(".region_select :selected").attr('ini'),
                weight: $("#weight").val()
            }),
            success: function (data) {
                if (data.rsp.stat == "fail") {
                    $("#rez").empty().append("Неправильный вес");
                }
                else {
                    var api_price;
                    var deliverydate;
                    $('.delivery_t').each(function (a, b) {
                        if ($(b).val() == 5) {
                            $(b).attr('api_price', data.rsp.price);
                            $(b).attr('ini', data.rsp.price);
                            var min = parseFloat(data.rsp.term.min) + 3;
                            var max = parseFloat(data.rsp.term.max) + 3;
                            deliverydate = "от " + min + " до " + max + " дней";
                            $(b).attr('date_p', deliverydate);
                            if ($(b).attr('checked')) {
                                api_price = $(b).attr('ini');

                            }
                        }
                    });
                    if (api_price) {
                        var regSel = $(".region_select :selected").attr('ini');
                        var price_n = api_price;
                        var price_old = $('.item_all_old').text();
                        $('#api_ems').val(price_n);
                        $('#api_ems_date').val(deliverydate);
                        var delivery_id = $(".delivery_t:checked").val();

                        if (regSel == 'city--moskva' && parseFloat($('#new_sum_v_api').text()) >= 3000 && delivery_id != 10) {
                            $('#api_ems').val("moscov");
                            price_n = 0;
                        }

                        if ($('#old_sum').text()) {
                            var t = parseFloat($('#old_sum_v').text()) + parseFloat(price_n);
                            $('#old_sum').text(t + ' руб.');
                        }
                        if ($('#new_sum').text()) {
                            console.log(4);
                            var t = parseFloat($('#new_sum_v').text()) + parseFloat(price_n);
                            $('#new_sum').text(t + ' руб.');
                        }
                        html_text = $('#d_title').val() + '-' + price_n + "руб.";
                        $('#resDelivery').text(html_text);
                        $('#resDeliverydate').text(deliverydate);
                    }

                }
            }
        });
        var regSel = $(".region_select :selected").attr('ini');
        var delivery_id = $(".delivery_t:checked").val();
        if (regSel == 'city--moskva' && parseFloat($('#new_sum_v_api').text()) >= 3000 && delivery_id != 10) { //
            $('#resDelivery').text($('#d_title').val() + ' - Бесплатная доставка');
            $('#api_ems').val('moscov');
            if ($('#old_sum').text()) {
                var t = parseFloat($('#old_sum_v').text());
                $('#old_sum').text(t + ' руб.');
            }
            if ($('#new_sum').text()) {
                console.log(3);
                var t = parseFloat($('#new_sum_v').text());
                $('#new_sum').text(t + ' руб.');
            }
        }

    })

    $('.region_select option[value="{region}"]').attr('selected', 'selected');
    var label = true;
    $('#resDelivery').text($('#delivery option:selected').text() + '-' + $('#delivery option:selected').attr('ini') + ' руб.');
    $('.soglasen input').change(function () {
        if ($(this).prop('checked')) {
            $('.cart_red_btn_noact').addClass('act');
        } else {
            $('.cart_red_btn_noact').removeClass('act');
        }
    });

    $('.cart_red_btn_noact').click(function () {
        if ($(this).hasClass('act')) {
            document.cartForm.submit();
        } else {
            return false;
        }
    });
if($('.sd_date').attr('ini')){
    $("#txtCity").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "http://api.cdek.ru/city/getListByTerm/jsonp.php?callback=?",
                dataType: "jsonp",
                data: {
                    q: function () {
                        return $("#txtCity").val()
                    },
                    name_startsWith: function () {
                        return $("#txtCity").val()
                    }
                },
                success: function (data) {
                    response($.map(data.geonames, function (item) {
                        return {
                            label: item.name,
                            value: item.name,
                            id: item.id
                        }
                    }));
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $('#receiverCityId').val(ui.item.id);

            var goods = [];
            var sd_weight = [];
            var sd_h = [];
            var sd_l = [];
            var sd_w = [];
            $('.sd_weight').each(function(){
                sd_weight.push($(this).val());
            });
            $('.sd_h').each(function(){
                sd_h.push($(this).val());
            });
            $('.sd_l').each(function(){
                sd_l.push($(this).val());
            });
            $('.sd_w').each(function(k,v){
                sd_w.push($(this).val());

            })

            goods.push({
                "weight": sd_weight[0],
                "length": sd_l[0],
                "width": sd_w[0],
                "height": sd_h[0]
            });
            var date = $('.sd_date').val();

            var formDataJson_10 = {
                "version": "1.0",
                "dateExecute": date,
                "senderCityId": "44",
                "receiverCityId": ui.item.id,
                "tariffId": "10",
                "goods": goods
            };

            var formDataJson_11 = {
                "version": "1.0",
                "dateExecute": date,
                "senderCityId": "44",
                "receiverCityId": ui.item.id,
                "tariffId": "11",
                "goods": goods
            };

            var formDataJson_12 = {
                "version": "1.0",
                "dateExecute": date,
                "senderCityId": "44",
                "receiverCityId": ui.item.id,
                "tariffId": "12",
                "goods": goods
            };

            var formDataJson_13 = {
                "version": "1.0",
                "dateExecute": date,
                "senderCityId": "44",
                "receiverCityId": ui.item.id,
                "tariffId": "13",
                "goods": goods
            };

            $.ajax({
                url : 'http://api.cdek.ru/calculator/calculate_price_by_jsonp.php',
                jsonp : 'callback',
                data : {
                    "json" : JSON.stringify(formDataJson_10)
                },
                type : 'GET',
                dataType : "jsonp",
                success : function(sd_data) {
                    if(sd_data.hasOwnProperty("result")) {
                        $('#sd_tarif_10').attr('ini',1);
                    } else {
                        $('#sd_tarif_10').attr('ini',0);
                    }
                }
            });

            $.ajax({
                url : 'http://api.cdek.ru/calculator/calculate_price_by_jsonp.php',
                jsonp : 'callback',
                data : {
                    "json" : JSON.stringify(formDataJson_11)
                },
                type : 'GET',
                dataType : "jsonp",
                success : function(sd_data) {
                    if(sd_data.hasOwnProperty("result")) {
                        $('#sd_tarif_11').attr('ini',1);
                    } else {
                        $('#sd_tarif_11').attr('ini',0);
                    }
                }
            });

            $.ajax({
                url : 'http://api.cdek.ru/calculator/calculate_price_by_jsonp.php',
                jsonp : 'callback',
                data : {
                    "json" : JSON.stringify(formDataJson_12)
                },
                type : 'GET',
                dataType : "jsonp",
                success : function(sd_data) {
                    if(sd_data.hasOwnProperty("result")) {
                        $('#sd_tarif_12').attr('ini',1);
                    } else {
                        $('#sd_tarif_12').attr('ini',0);
                    }
                }
            });

            $.ajax({
                url : 'http://api.cdek.ru/calculator/calculate_price_by_jsonp.php',
                jsonp : 'callback',
                data : {
                    "json" : JSON.stringify(formDataJson_13)
                },
                type : 'GET',
                dataType : "jsonp",
                success : function(sd_data) {
                    if(sd_data.hasOwnProperty("result")) {
                        $('#sd_tarif_13').attr('ini',1);
                    } else {
                        $('#sd_tarif_13').attr('ini',0);
                    }
                }
            });
        }
    });
}

    $('.delivery_t').on('click',function(){
        if(!label_select) {
            alert("Выберите регион");
            return false;
        }
        $('#api_ems').val("");
        if(label) {
            label=false;
            if($(this).attr('api_price')){
                var api_price = $(this).attr('api_price');
                var api_deliverydate = $(this).attr('date_p');
            }else
            {
                var api_deliverydate = 'смотрите в условиях доставки';
            }
            var id_deliv_n=$(this).val();
            $.post('/shop/?action=getDelivery', { 'id' : $(this).val() , 'city':$('#txtCity').val()}, function(data) {
                var html_value="",
                        html_text="";
                var i=0;
                $.each( data['pays'], function( key, value ) {
                    if(!i)html_value+='<label class="rrtt"><input type="radio" value="'+value['value']+'" name="payment_type" class="payment_type_t" checked>'+value['title']+'</label><br>';
                            else
                    html_value+='<label class="rrtt"><input type="radio" value="'+value['value']+'" name="payment_type" class="payment_type_t">'+value['title']+'</label><br>';
                    i=i+1;
                });
                var regSel=$('.region_select :selected').attr('ini');
                if(api_price)
                {
                    var price_n=api_price;
                    $('#api_ems').val(api_price);
                    $('#api_ems_date').val(api_deliverydate);
                }
                else
                    var price_n=data['p_cost'];
                var price_old=$('.item_all_old').text();
                
                var delivery_id = $( ".delivery_t:checked" ).val();

                if(delivery_id == 10 && $('.sd_date').attr('ini')){
                    var goods = [];
                    var sd_weight = [];
                    var sd_h = [];
                    var sd_l = [];
                    var sd_w = [];
                    $('.sd_weight').each(function(){
                        sd_weight.push($(this).val());
                    });
                    $('.sd_h').each(function(){
                        sd_h.push($(this).val());
                    });
                    $('.sd_l').each(function(){
                        sd_l.push($(this).val());
                    });
                    $('.sd_w').each(function(k,v){
                        sd_w.push($(this).val());

                    })

                    goods.push({
                        "weight": sd_weight[0],
                        "length": sd_l[0],
                        "width": sd_w[0],
                        "height": sd_h[0]
                    });

                    var formDataJson = {
                        "version": "1.0",
                        "dateExecute": $('.sd_date').val(),
                        "senderCityId": "44",
                        "receiverCityId": $('#receiverCityId').val(),
                        "tariffId": "10",
                        "goods": goods
                    };

                    $.ajax({
                        url : 'http://api.cdek.ru/calculator/calculate_price_by_jsonp.php',
                        jsonp : 'callback',
                        data : {
                            "json" : JSON.stringify(formDataJson)
                        },
                        type : 'GET',
                        dataType : "jsonp",
                        success : function(sd_data) {
                            if(sd_data.hasOwnProperty("result")) {
                                $('#sd_s').attr('ini', sd_data.result.price);
                                $( ".delivery_t:checked").attr('ini', sd_data.result.price);
                                if(sd_data.result.deliveryPeriodMin == sd_data.result.deliveryPeriodMax){
                                    $('#resDeliverydate').text(sd_data.result.deliveryPeriodMin + ' дн.');
                                    var t=parseFloat($('#new_sum_v').text()) + parseFloat(sd_data.result.price);
                                    $('#new_sum').text(t+' руб.');
                                    if($('#old_sum').text()){
                                        var t=parseFloat($('#old_sum_v').text()) + parseFloat(sd_data.result.price);
                                        $('#old_sum').text(t+' руб.');
                                    }
                                }else{
                                    $('#resDeliverydate').text('от ' + sd_data.result.deliveryPeriodMin + ' до ' + sd_data.result.deliveryPeriodMax + ' дней');
                                }

//                                document.getElementById('resArea').innerHTML = 'Цена доставки: ' + sd_data.result.price + '<br />Срок доставки: ' + sd_data.result.deliveryPeriodMin + ' - ' + sd_data.result.deliveryPeriodMax + 'дн. ' + '<br />Планируемая дата доставки: c ' + sd_data.result.deliveryDateMin + ' по ' + sd_data.result.deliveryDateMax + '<br />id тарифа, по которому произведён расчёт: ' + sd_data.result.tariffId + '<br />';
//                                if(sd_data.result.hasOwnProperty("cashOnDelivery")) {
//                                    document.getElementById('resArea').innerHTML = document.getElementById('resArea').innerHTML + 'Ограничение оплаты наличными, от (руб): ' + sd_data.result.cashOnDelivery;
//                                }
                            } else {
                                for(var key in sd_data["error"]) {
                                    alert('Код ошибки: ' + sd_data["error"][key].code + ' Текст ошибки: ' + sd_data["error"][key].text);
                                }
                            }
                        }
                    });
                }

                price_n = parseFloat($( ".delivery_t:checked").attr('ini'));
                if(api_price && regSel=='city--moskva' && parseFloat($('#new_sum_v_api').text()) >= 3000 && delivery_id != 10)
                {
                    $('#api_ems').val("moscov");
                    price_n=0;
                }
                if($('#old_sum').text() && delivery_id != 10)
                {
                    var t=parseFloat($('#old_sum_v').text()) + parseFloat(price_n);
                    $('#old_sum').text(t+' руб.');
                }
                if($('#new_sum').text() && delivery_id != 10)
                {
                    var t=parseFloat($('#new_sum_v').text()) + parseFloat(price_n);
                    $('#new_sum').text(t+' руб.');
                }
                $('#d_title').val(data['d_title']);
                if(id_deliv_n==6)
                {
                    price_n='Оплата по факту получения от 300 руб. уточняйте у менеджера';
                }
                else{
                    price_n= parseFloat(price_n) + "руб.";
                }
                html_text=data['d_title']+'-'+price_n;
                $('#resDelivery').text(html_text);
                $('#resDeliverydate').text(api_deliverydate);
                $('#pays').html(html_value);

                label=true;
            }, "json");
        }


        $('#s').attr('ini','1');
        var delivery_cost=$(this).attr('ini');


    })


});
var gOrderInf = function() {
    var _el = {
        form: $('#frmOrder'),
        step0: $('#blckStep1'),
        step1: $('#blckStep2'),
        //step2: $('#blckStep3'),
        
        isNew: $('#rdNewUser'),
        isReg: $('#rdRegUser'),
        email: $('#txtEmail'),
        pass: $('#txtPass'),
        fio: $('#txtFio'),
        fio1: $('#txtFio1'),
        fio2: $('#txtFio2'),
        phone: $('#txtPhone'),
        addr: $('#txtAddr'),
        info: $('#txtInfo'),
        yur: $('#blckYur'),
        org: $('#txtOrg'),
        inn: $('#txtInn'),
        rs: $('#txtRs'),
        ks: $('#txtKs'),
        bank: $('#txtBank'),
        bik: $('#txtBik'),
        next0: $('#btnNext0'),
        next1: $('#btnNext1'),
        prev2: $('#btnPrev2'),
        next2: $('#btnNext2'),
        prev3: $('#btnPrev3'),
        sbmt: $('#btnSbmt'),
        payType1: $('#rdPayType1'),
        payType2: $('#rdPayType2'),
        payType3: $('#rdPayType3'),
        payType4: $('#rdPayType4'),
        payType5: $('#rdPayType5'),
        resFio: $('#resFio'),
        resPhone: $('#resPhone'),
        resAddr: $('#resAddr'),
        resInfo: $('#resInfo'),
        resPayType: $('#resPayType'),
        resYur: $('#resYur'),
        resOrg: $('#resOrg'),
        resBik: $('#resBik'),
        resInn: $('#resInn'),
        resRs: $('#resRs'),
        resKs: $('#resKs'),
        resBank: $('#resBank'),
        loading: $('#loading'),
        loginErr: $('#loginErr')
    };
    var _step;
    return {
        init: function() {
            _step = _el.step0.size() ? 0 : 1
            if (_el.step0) {
                _el.next0.click(this.next);
            }
            _el.next1.click(this.next);
            _el.next2.click(this.next);
            _el.prev2.click(this.prev);
            _el.prev3.click(this.prev);
          
        },
        next: function() {
		        switch (_step) {
               
                case 0:
				if (!_el.fio.val() || !_el.phone.val() ) {
                        alert('Заполните нужные поля'); 
						break;
				}	
				
				if ( _el.addr.length > 0 && !_el.addr.val() )
				{
					     alert('Заполните поле адрес!');
						 break;
				}		 
				
	reg = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
	
                    if ( !_el.email.val().match(reg) )   
					     alert('Введите корректный e-mail!');
                    else if($('#txtCity').val().length == 0){
						 alert('Укажите город!');
					}else if($('#s').attr('ini').length == 0){
                        alert('Выберите тип доставки!');
                    }else {
                        var regSel=$('.region_select :selected').attr('ini');
                        var delivery_id = $( ".delivery_t:checked" ).val();
                        if(regSel=='city--moskva' && parseFloat($('#new_sum_v_api').text()) >= 3000 && delivery_id != 10){ //
                            $('#resDelivery').text($('#d_title').val()+' - Бесплатная доставка');
                            $('#api_ems').val('moscov');
                            if($('#old_sum').text())
                            {
                                var t=parseFloat($('#old_sum_v').text());
                                $('#old_sum').text(t+' руб.');
                            }
                            if($('#new_sum').text())
                            {
                                var t=parseFloat($('#new_sum_v').text());
                                $('#new_sum').text(t+' руб.');
                            }
                        }
                        if(delivery_id == 10 && $('.sd_date').attr('ini')){
                            var sd_v = parseFloat($( ".delivery_t:checked").attr('ini'));
                            $('#resDelivery').text($('#d_title').val()+' - '+ sd_v +' руб.');

                            if($('#old_sum').text())
                            {
                                var t=parseFloat($('#old_sum_v').text());
                                var k = sd_v + t;
                                $('#old_sum').text(k +' руб.');
                            }
                            if($('#new_sum').text())
                            {
                                var t=parseFloat($('#new_sum_v').text());
                                var k = sd_v + t;
                                $('#new_sum').text(k +' руб.');
                            }
                            $('#api_ems').val(sd_v);
                        }

                        if(delivery_id == 10 && !$('.sd_date').attr('ini')){
                            var sd_v = parseFloat($( ".delivery_t:checked").attr('ini'));
                            $('#api_ems').val(sd_v);
                            if($('#old_sum').text())
                            {
                                var t=parseFloat($('#old_sum_v').text());
                                var k = sd_v + t;
                                $('#old_sum').text(k +' руб.');
                            }
                            if($('#new_sum').text())
                            {
                                var t=parseFloat($('#new_sum_v').text());
                                var k = sd_v + t;
                                $('#new_sum').text(k +' руб.');
                            }
                        }

                        _el.step0.hide();
                        $('#selectAddress').hide();
                        _el.step1.show();
						_el.resFio.text(_el.fio.val()+' '+_el.fio1.val()+' '+_el.fio2.val());
                        _el.resPhone.text(_el.phone.val());
                        _el.resAddr.text(_el.addr.val());
						
						$('#resArea').text($('#txtArea').val());
						$('#resRegion').text($('#txtRegion').val());
						$('#resCity').text($('#txtCity').val());
						$('#resIndex').text($('#txtIndex').val());
						
                        $('#resEmail').text($('#txtEmail').val());
						$('#resInfo').text($('#txtInfo').val());
						//$('#resDelivery').text($('#delivery option:selected').text());
						//_el.resInfo.text()
                        _step++;
                    }
                    break;
                case 1:
                    _el.step1.hide();
                    _el.step2.show();

                    _step++;
                           
                    break;
            }
            return true;
        },
        prev: function() {
            switch (_step) {
                case 1:
                    _el.step0.show();
                    _el.step1.hide();
                    $('#selectAddress').show();
                    _step--;
                    break;
               
            }
        }
    }
}();
gOrderInf.init();
$('#selectAddress').on('change',function(obj){
    var sel= $("#select"+$(this).val());
    $('#txtFio').val(sel.find('[name="lastname"]').text());
    $('#txtFio1').val(sel.find('[name="name"]').text());
    $('#txtFio2').val(sel.find('[name="surname"]').text());
    $('#txtPhone').val(sel.find('[name="phone"]').text());
    $('#txtArea').val(sel.find('[name="area"]').text());
    $('#txtRegion').val(sel.find('[name="region"]').text());
    $('#txtIndex').val(sel.find('[name="index"]').text());
    $('#txtCity').val(sel.find('[name="city"]').text());
    $('#txtAddr').val(sel.find('[name="address"]').text());
    $('#txtInfo').val(sel.find('[name="txtInfo"]').text());
});

</script>
<!-- END BLOCK : block_process_order -->

<!-- START BLOCK : block_order -->
	<script>
		function openTicketWin(open_url) {
			var ourWindow = window.open(open_url,'1','toolbar=0,menubar=1,resizable=1,marginwidth=0,marginheight=0,scrollbars=1,location=0,status=0,width=700,height=500');
			if ( navigator.appVersion.indexOf("2.0") != 0 ) ourWindow.top.focus();
		}
	</script>

   Уважаемый клиент {customer}, Ваш заказ № <b>{number}</b> от <b>{date}</b> успешно отправлен.<br>	
    С <a href="http://suprashop.ru/terms-delivery/">условиями доставки или самовывоза</a> Вы можете ознакомиться в специальном разделе на нашем сайте.<br>
	Сумма заказанного товара: <b>{sum} руб <!--{currency}--></b> <!--(<b><i>{sum_rur} руб.</i></b>)-->.<br>
        {order_payLink}
	<!-- START BLOCK : block_order_delivery -->
	Cумма доставки: <b>{delivery_cost} {currency}</b> {text_transp} - {title} <small>({dscr})</small><br>
    Итого:<b>{eql} {currency}</b><br>
        {delivery_date}
        <br>
	<!-- END BLOCK : block_order_delivery -->
	<div {disc_stlye}>
	Скидка<!--/надбавка-->: <i>{discount} {currency}</i>.<br>
	</div>
	<!--Сумма заказа с учётом скидки и доставки: <i>{cost} {currency}</i> (<b><i>{cost_rur} руб.</i></b>).<br>-->
	<!-- START BLOCK : webmoney_discount -->
	В сумму включена скидка/надбавка WebMoney: <b>{webmoney_discount} %</b>.<br>
	<!-- END BLOCK : webmoney_discount -->
	<!-- START BLOCK : assist_discount -->
	В сумму включена скидка/надбавка ASSIST: <b>{assist_discount} %</b>.<br>
	<!-- END BLOCK : assist_discount -->
	<!--Способ оплаты - {pay_type}. -->

<!-- START BLOCK : block_uniteller -->

<form action="https://wpay.uniteller.ru/pay/" method="POST">
    <input type="hidden" name="Shop_IDP" value="{Shop_IDP}">
    <input type="hidden" name="Order_IDP" value="{Order_ID}">
    <input type="hidden" name="Subtotal_P" value="{Subtotal_P}">
    <input type="hidden" name="Lifetime" value="{Lifetime}">
    <input type="hidden" name="Customer_IDP" value="{Customer_IDP}">
    <input type="hidden" name="Signature" value="{Signature}">
    <input type="submit" name="Submit" value="Оплатить" class="submitForm">
    <input type="hidden" name="URL_RETURN_OK" value="{URL_RETURN_OK}">
    <input type="hidden" name="URL_RETURN_NO" value="{URL_RETURN_NO}">
    <input type="hidden" name="MeanType" value="{MeanType}">
    <input type="hidden" name="EMoneyType" value="{EMoneyType}">
    <input type="hidden" name="Preauth" value="1">
</form>
<!-- END BLOCK : block_uniteller -->
	<br>
	В ближайшее время с Вами свяжутся наши менеджеры и обсудят все условия заказа или будет выслано уведомление на электронную почту, о изменении статуса заказа.
Если у вас возникнут дополнительные вопросы по вашему заказу , Вы можете связаться с нашими менеджерами по телефону: 7 (800) 775-49-37 или написать нам на электронную почту shop@supra.ru .

	<!-- START BLOCK : block_sbr_1 --> <!--- удалить 1 для сбербанка --->
		&nbsp;<a href="javascript:openTicketWin('{sbr_ticket_link}&onlymain');"><b>распечатать квитанцию</b></a><br><br>
		Вы можете также самостоятельно заполнить платежное поручение в отделении Сбербанка, используя наши банковские реквизиты:<br><br>
		<b>Получатель</b>: {company}, ИНН {inn}<br>
		<b>КПП</b>: {kpp}<br>
		<b>Банк</b>: {bank}<br>
		<b>Р. счет</b>: {sett_account}<br>
		<b>Кор. счет</b>: {corr_account}<br>
		<b>БИК</b>: {bik}<br>
		<b>Назначение платежа</b>: Оплата заказ № {number}<br><br>
	<!-- END BLOCK : block_sbr_1 -->
	
	<!-- START BLOCK : block_bank -->			
		<br>Наши банковские реквизиты:<br>
		<b>Получатель</b>: {company}, ИНН {inn}<br>
		<b>КПП</b>: {kpp}<br>
		<b>Банк</b>: {bank}<br>
		<b>Р. счет</b>: {sett_account}<br>
		<b>Кор. счет</b>: {corr_account}<br>
		<b>БИК</b>: {bik}<br>
		<b>Назначение платежа</b>: Оплата заказ № {number}<br><br>
	<!-- END BLOCK : block_bank -->

	<!-- START BLOCK : block_webmoney -->		
		
		<form method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp">
			<input type="hidden" name="LMI_PAYMENT_AMOUNT" value="{wm_amount}">
			<input type="hidden" name="LMI_PAYMENT_DESC" value="Платеж по счету № {wm_payment_no}">
			<input type="hidden" name="LMI_PAYMENT_NO" value="{wm_payment_no}">
			<input type="hidden" name="LMI_PAYEE_PURSE" value="{wm_payee_purse}">
			<input type="hidden" name="LMI_SIM_MODE" value="0">
		
			<input type="hidden" name="LMI_RESULT_URL" value="{wm_result_url}">
			<input type="hidden" name="LMI_SUCCESS_URL" value="{wm_success_url}">
			<input type="hidden" name="LMI_FAIL_URL" value="{wm_fail_url}">		
			
			<input type="hidden" name="order_sum" value="{order_cost}">
						
			<button type="submit">Оплатить</button>
		</form>
			
	<!-- END BLOCK : block_webmoney -->	
	
	<!-- START BLOCK : block_assist-->		
		<br><br>
	<b>Платежные средства, принимаемые через ASSIST</b><br>
	<p><img src="/i/admin/logo_visa.gif" width="30" height="19"> VISA 
	<img src="/i/admin/logo_mc.gif" width="30" height="19" hspace="3"> MasterCard                           
	<img src="/i/admin/logo_ec.gif" width="30" height="19" hspace="3"> EuroCard                           
	<img src="/i/admin/logo_jcb.gif" alt="JCB" width="30" height="19" hspace="3"> JCB                           
	<img src="/i/admin/logo_dc.gif" alt="DCL" width="30" height="19" hspace="3"> DCL</p>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="1">
		<TR>
		<TD WIDTH="20%"><IMG SRC="/i/admin/webmlogo.gif" WIDTH="50" HEIGHT="50"></TD>
		<TD WIDTH="24%"><IMG SRC="/i/admin/yandexmoneylogo_small.gif" WIDTH="30" HEIGHT="19" HSPACE="3"></TD>
		<TD WIDTH="19%"><IMG SRC="/i/admin/eportlogo.gif" WIDTH="58" HEIGHT="43" HSPACE="3"></TD>
		<TD WIDTH="20%"><IMG SRC="/i/admin/kreditpilotlogo.gif" WIDTH="39" HEIGHT="42" HSPACE="3"></TD>
		</TR>
		<TR>
		<TD>WebMoney</TD>
		<TD>Яндекс.Деньги</TD>
		<TD>e-port</TD>
		<TD>Kredit Pilot</TD>
		</TR>
		</TABLE>
		<FORM ACTION="http://secure.assist.ru/shops/purchase.cfm" METHOD="POST">
		<!--FORM ACTION="https://secure.assist.ru/shops/cardpayment.cfm" METHOD="POST"-->
		<INPUT TYPE="HIDDEN" NAME="Shop_IDP" VALUE="{assist_shop_id}">
		<INPUT TYPE="HIDDEN" NAME="Order_IDP" VALUE="{assist_order_id}">
		<INPUT TYPE="HIDDEN" NAME="Subtotal_P" VALUE="{assist_amount}">
		<INPUT TYPE="HIDDEN" NAME="Delay" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="Language" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="URL_RETURN_OK" VALUE="{assist_success_url}">
		<INPUT TYPE="HIDDEN" NAME="URL_RETURN_NO" VALUE="{assist_fail_url}">
		<INPUT TYPE="HIDDEN" NAME="Currency" VALUE="{assist_currency}">
		<INPUT TYPE="HIDDEN" NAME="Comment" VALUE="Оплата заказа по счету № {assist_order_id}">
		<INPUT TYPE="HIDDEN" NAME="IsFrame" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="CardPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="WalletPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="WebMoneyPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="RapidaPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="PayCashPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="EPortPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="KreditPilotPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="AssistIDPayment" VALUE="1">
		<INPUT TYPE="SUBMIT" NAME="Submit" VALUE="Оплатить">
		<!-- Демо режим -->
		<INPUT TYPE="HIDDEN" NAME="DemoResult" VALUE="AS000">
		
		</FORM>
			
	<!-- END BLOCK : block_assist -->


<!-- START BLOCK : block_chronopay -->

<form action="https://payments.chronopay.com/" method="POST">
    <input type="hidden" name="product_id" value="{product_id}" />
    <input type="hidden" name="product_price" value="{product_price}" />
      <input type="hidden" name="order_id" value="{order_id}" />
    <!--   <input type="hidden" name="cs1" value="client value 1" />
       <input type="hidden" name="cs2" value="client value 2" />
       <input type="hidden" name="cs2" value="client value 3" />-->
    <input type="hidden" name="cb_type" value="P" />
    <input type="hidden" name="cb_url" value="http://suprashop.ru/shop/?action=chonopaycallback" />
    <input type="hidden" name="cbUrl" value="http://suprashop.ru/shop/?action=chonopaycallback" />
    <input type="hidden" name="success_url" value="http://suprashop.ru/payment_success/" />
    <!--  <input type="hidden" name="decline_url" value="http://suprashop.ru/shop/?action=payment_decline/" />-->
     <input type="hidden" name="sign" value="{sign}" />
     <button class="cart_red_btn" type="submit"><span>Оплатить через ChronoPay</span></button>
 </form>
 <!-- END BLOCK : block_chronopay -->



<!-- START BLOCK : block_is_auth -->
		Теперь вы можете отслеживать выполнение своего заказа через <a href="{history_link}">историю заказов</a>.
	<!-- END BLOCK : block_is_auth -->
	
<!-- END BLOCK : block_order -->
<!-- START BLOCK : weight_b -->
<input type="hidden" id="weight" type="text" value="{weight}"/>
<!-- END BLOCK : weight_b -->

<!-- START BLOCK : dimensions_block -->
<input type="hidden" class="sd_date" ini="{date}" type="text" value="{date}"/>
    <!-- START BLOCK : dimensions -->
    <input type="hidden" class="sd_weight" ini="{weight}"  type="text" value="{weight}"/>
    <input type="hidden" class="sd_h" ini="{c}" type="text" value="{h}"/>
    <input type="hidden" class="sd_l" ini="{c}" type="text" value="{l}"/>
    <input type="hidden" class="sd_w" ini="{c}" type="text" value="{w}"/>
    <!-- END BLOCK : dimensions -->
<!-- END BLOCK : dimensions_block -->
<span display="none" id="s" ini=""></span>
<span display="none" id="sd_s" ini=""></span>
<span display="none" id="sd_tarif_10" ini=""></span>
<span display="none" id="sd_tarif_11" ini=""></span>
<span display="none" id="sd_tarif_12" ini=""></span>
<span display="none" id="sd_tarif_13" ini=""></span>
