Баланс вашего бонусного счёта:{bonus_balance}
<table class="tbl45">
<tr>
	<th>ID</th>
	<th>Дата</th>
	<th>Заказчик / Контактное&nbsp;лицо</th>
	<th>Сумма</th>
	<th>Скидка</th>
	<th>Статус заказа</th>
	<th>Бонусные баллы</th>
</tr>
<!-- START BLOCK : block_order -->
<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td><a href="{order_link}">{order_id}</a></td>
	<td align="center" nowrap><a href="{order_link}">{order_date}</a>&nbsp;</td>
	<td>{order_customer}{order_organization}&nbsp;</td>
	<td align="right">{order_cost}&nbsp;{order_currency}&nbsp;</td>
	<td align="right">{order_discount}&nbsp;</td>
	<td align="center">{order_status}&nbsp;
        <!-- START BLOCK : block_uniteller -->

        <form action="https://wpay.uniteller.ru/pay/" method="POST">
            <input type="hidden" name="Shop_IDP" value="{Shop_IDP}">
            <input type="hidden" name="Order_IDP" value="{Order_ID}">
            <input type="hidden" name="Subtotal_P" value="{Subtotal_P}">
            <input type="hidden" name="Lifetime" value="{Lifetime}">
            <input type="hidden" name="Customer_IDP" value="{Customer_IDP}">
            <input type="hidden" name="Signature" value="{Signature}">
            <input type="submit" name="Submit" value="Оплатить" class="submitForm">
            <input type="hidden" name="URL_RETURN_OK" value="{URL_RETURN_OK}">
            <input type="hidden" name="URL_RETURN_NO" value="{URL_RETURN_NO}">
            <input type="hidden" name="MeanType" value="{MeanType}">
            <input type="hidden" name="EMoneyType" value="{EMoneyType}">
        </form>
        <!-- END BLOCK : block_uniteller -->
    </td>
	<td align="center">{bonus}&nbsp;</td>
</tr>
<!-- END BLOCK : block_order -->
</table>

<!-- START BLOCK : nav -->
		<p class="tech">Страницы: {nav_string}</p>
<!-- END BLOCK : nav -->