<!-- START BLOCK : block_addtocart_false -->
Выбранных товаров нет в каталоге.
<!-- END BLOCK : block_addtocart_false -->

<!-- START BLOCK : block_repeat_false -->
Невозможно повторить заказ!
<!-- END BLOCK : block_repeat_false -->


<!-- START BLOCK : block_cart -->
<form action="{baseurl}" method="post" id="frmBasket">
	<div class="catalog_content in_basket">
        <!-- START BLOCK : bonus_balance -->
		<div class="bonusBalance_wrap">
			<div>Ваши бонусные баллы: <span class="bonusBalance">{bonus}</span></div>
			<div>Списать: <input type="text" value="" name="bonus" class="bonusValue"> <button class="allBonus" type="button">Списать все</button></div>
		</div>
        <!-- END BLOCK : bonus_balance -->

    <div style="margin-left: 749px; width: 114px; text-align: center; float: left; margin-bottom: 5px; color: #000;">Количество</div>
	<div style="width: 103px; text-align: center; float: left; margin-bottom: 5px; color: #000;">Цена</div>
	<div class="clear"></div>

    <input type="hidden" name="action" value="recal" id="hdnAct">
        
        <div class="shopcart_p">
		<div>
<!-- START BLOCK : block_cart_item -->
        <div class="newsannounce">
            <div class="pht_wrap {new_price}">
                <a href="{del_link}" onclick="return confirm('Удалить товар из корзины?');" title="Удалить товар" class="cart_del_a"></a>
               <div class="ph">
               <!-- START BLOCK : block_cart_item_img -->
               <a href="{link}" title=""><img src="{img_path}" alt="{tile}" title="{title}"></a>
               <!-- END BLOCK : block_cart_item_img -->
               <!-- START BLOCK : block_cart_item_no_img -->
               <a href="{link}"><img src="/i/no_photo.gif" title="{title}" alt="{title}"></a>
               <!-- END BLOCK : block_cart_item_no_img -->
               </div>
               <div class="txt">									
          <a href="{link}" title="" class="h5">{title}</a>
                   <!-- START BLOCK : bonus -->
                   + <br>
                   Бонусные баллы {bonus}
                   <!-- END BLOCK : bonus -->
          <!-- START BLOCK : double_cart -->
          + <br>
          <a href="{link}" title="" class="h5">{title}</a>  
          <!-- END BLOCK : double_cart -->
                  
					<!-- START BLOCK : gift -->
					<div>Подарок: <a href="{link}" title="" class="h5">{title}</a></div>
					<!-- END BLOCK : gift -->
					<!-- START BLOCK : kupon -->
					<div>Купон на {kupon_price}р.</div>
					<!-- END BLOCK : kupon -->
				</div>
    		   
    		   <!-- START BLOCK : block_cart_item_prop_list -->
               
               <!-- START BLOCK : block_cart_item_prop -->
               
               <!-- END BLOCK : block_cart_item_prop -->
               <!-- END BLOCK : block_cart_item_prop_list -->
    		   <div class="qua"><input type="text" onkeypress="document.getElementById('recal').style.backgroundColor='#FFDE83';" name="prod_id[{id}][{key}]" value="{cnt}"></div>
               <div class="pri">{price}&nbsp;{currency_name}</div>
    		   <!--<td>{cost}&nbsp;{currency_name}</td>-->
               <div class="clear"></div>
    		</div>
        </div>
        
<!-- END BLOCK : block_cart_item -->

</div></div><!-- EO shopcart_p -->	
<!-- START BLOCK : discount_block -->
<br><br>
		<div class="bonusBalance_wrap">
			<div>Промокод: <input type="text" value="" name="promo" class="bonusValue"></div>
		</div>
<!-- END BLOCK : discount_block -->		
		<br><br>
<!-- START BLOCK : block_delivery_list -->
    <!--
        <div style="font-size: 13px; font-weight: bold;">Доставка:</div>
        <div style="margin-top: 7px;" id="blckDelivery"> -->
<!-- START BLOCK : block_delivery -->
  <!--      <input type="radio" name="delivery" value="{id}" id="rdDlvr{id}" style="margin-top: -2px;" {checked}> <label for="rdDlvr{id}">{title}&nbsp;({dscr})</label><br>-->
<!-- END BLOCK : block_delivery -->
<!--        </div><br /><br />-->
    
<!-- END BLOCK : block_delivery_list -->
            <div class="shopcart_line"></div>
				<div class="shopcart_sum">Сумма: <span> {item_all}</span></div>
                <!-- START BLOCK : block_accumulative_discount -->
    		   <br>Накоптлельная скидка "{name}": {sum} {currencie}
    		   <!-- END BLOCK : block_accumulative_discount -->
    		   <!-- START BLOCK : block_simple_discount -->
    		   <br>Cкидка на полную стоимость "{name}": {sum} {currencie}
    		   <!-- END BLOCK : block_simple_discount -->
				<div class="clear"></div>
			<div class="shopcart_line"></div>
		   
            <div style="width: 100%; margin-top: 22px;">
				<a href="{del_all}" title="Удалить все товары" class="shopcart_del_all_goods">Удалить все товары</a>
				<a href="{process_order}" title="Оформить заказ" class="cart_red_btn" onclick="processOrder(); return false;"><span>Оформить заказ</span></a>
				<a id="recal" href="#" title="Обновить корзину" class="cart_refresh" onclick="document.getElementById('frmBasket').submit(); return false;">Обновить корзину</a>
			</div>
    </form>

<script type="text/javascript">
    $(function(){
        $('.allBonus').click(function(){
            $('.bonusValue').val($('.bonusBalance').text());
        })
    })
function processOrder() {
    if ($('#blckDelivery').size()>0 && 0 == $("input:checked", $('#frmBasket')).size()) {
        alert('Не выбран способ доставки');
    } else {
        $('#hdnAct').attr('value', 'processorder');
        $('#frmBasket').submit();
    }
    return false;
}

</script>

<!-- END BLOCK : block_cart -->

<!-- START BLOCK : block_cart_empty -->
<b>Ваша корзина пуста</b>
<!-- END BLOCK : block_cart_empty -->
</div>