Заказ № <b>{order_id}</b> от <b>{order_date}</b>.<br>
Сумма заказа: <i>{order_sum} {order_currency}</i> (<b><i>{order_sum_rur} руб.</i></b>).<br>
Скидка/надбавка : <i>{order_discount} {order_currency}</i>.<br>
<!-- START BLOCK : block_order_delivery -->
Доставка: <i>{delivery_cost} {currency}</i>  - {title} <small>({dscr})</small><br>
<!-- END BLOCK : block_order_delivery -->
Сумма заказа с учётом скидки: <i>{order_cost} {order_currency}</i> (<b><i>{order_cost_rur} руб.</i></b>).<br>
<!-- START BLOCK : block_webmoney_discount -->
В сумму включена скидка/надбавка WebMoney: <b>{webmoney_discount} %</b>.<br>
<!-- END BLOCK : block_webmoney_discount -->
<!-- START BLOCK : block_assist_discount -->
В сумму включена скидка/надбавка ASSIST: <b>{assist_discount} %</b>.<br>
<!-- END BLOCK : block_assist_discount -->
Статус заказа: {order_status}<br>
Способ оплаты: {order_pay_type}<br>
<!-- START BLOCK : block_sbr -->
			<script>
				function openTicketWin(open_url) {
					var ourWindow = window.open(open_url,'1','toolbar=0,menubar=0,resizable=1,marginwidth=0,marginheight=0,scrollbars=1,location=0,status=0,width=700,height=500');
					if ( navigator.appVersion.indexOf("2.0") != 0 ) ourWindow.top.focus();
				}
			</script>
		&nbsp;<a href="javascript:openTicketWin('{sbr_ticket_link}&onlymain');"><b>распечатать квитанцию</b></a><br><br>
		Вы можете также самостоятельно заполнить платежное поручение в отделении Сбербанка, используя наши банковские реквизиты:<br><br>
		<b>Получатель</b>: {company}, ИНН {inn}<br>
		<b>КПП</b>: {kpp}<br>
		<b>Банк</b>: {bank}<br>
		<b>Р. счет</b>: {sett_account}<br>
		<b>Кор. счет</b>: {corr_account}<br>
		<b>БИК</b>: {bik}<br>
		<b>Назначение платежа</b>: Оплата заказ № {number}<br><br>
	<!-- END BLOCK : block_sbr -->
	
	<!-- START BLOCK : block_bank -->			
		<br>Наши банковские реквизиты:<br>
		<b>Получатель</b>: {company}, ИНН {inn}<br>
		<b>КПП</b>: {kpp}<br>
		<b>Банк</b>: {bank}<br>
		<b>Р. счет</b>: {sett_account}<br>
		<b>Кор. счет</b>: {corr_account}<br>
		<b>БИК</b>: {bik}<br>
		<b>Назначение платежа</b>: Оплата заказ № {number}<br><br>
	<!-- END BLOCK : block_bank -->

	<!-- START BLOCK : block_webmoney -->		
		
		<form method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp">
			<input type="hidden" name="LMI_PAYMENT_AMOUNT" value="{wm_amount}">
			<input type="hidden" name="LMI_PAYMENT_DESC" value="Платеж по счету № {wm_payment_no}">
			<input type="hidden" name="LMI_PAYMENT_NO" value="{wm_payment_no}">
			<input type="hidden" name="LMI_PAYEE_PURSE" value="{wm_payee_purse}">
			<input type="hidden" name="LMI_SIM_MODE" value="0">
		
			<input type="hidden" name="LMI_RESULT_URL" value="{wm_result_url}">
			<input type="hidden" name="LMI_SUCCESS_URL" value="{wm_success_url}">
			<input type="hidden" name="LMI_FAIL_URL" value="{wm_fail_url}">		
			
			<input type="hidden" name="order_sum" value="{order_sum}">
						
			<button type="submit">Оплатить</button>
		</form>
					
	<!-- END BLOCK : block_webmoney -->	
	
	
	<!-- START BLOCK : block_assist -->		
		<br>
		<b>Платежные средства, принимаемые через ASSIST</b><br>
		<p><img src="/i/admin/logo_visa.gif" width="30" height="19"> VISA 
		<img src="/i/admin/logo_mc.gif" width="30" height="19" hspace="3"> MasterCard                           
		<img src="/i/admin/logo_ec.gif" width="30" height="19" hspace="3"> EuroCard                           
		<img src="/i/admin/logo_jcb.gif" alt="JCB" width="30" height="19" hspace="3"> JCB                           
		<img src="/i/admin/logo_dc.gif" alt="DCL" width="30" height="19" hspace="3"> DCL</p>
		<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="1">
			<TR>
			<TD WIDTH="20%"><IMG SRC="/i/admin/webmlogo.gif" WIDTH="50" HEIGHT="50"></TD>
			<TD WIDTH="24%"><IMG SRC="/i/admin/yandexmoneylogo_small.gif" WIDTH="30" HEIGHT="19" HSPACE="3"></TD>
			<TD WIDTH="19%"><IMG SRC="/i/admin/eportlogo.gif" WIDTH="58" HEIGHT="43" HSPACE="3"></TD>
			<TD WIDTH="20%"><IMG SRC="/i/admin/kreditpilotlogo.gif" WIDTH="39" HEIGHT="42" HSPACE="3"></TD>
			</TR>
			<TR>
			<TD>WebMoney</TD>
			<TD>Яндекс.Деньги</TD>
			<TD>e-port</TD>
			<TD>Kredit Pilot</TD>
			</TR>
			</TABLE>
		<FORM ACTION="http://secure.assist.ru/shops/purchase.cfm" METHOD="POST">
		<!--FORM ACTION="https://secure.assist.ru/shops/cardpayment.cfm" METHOD="POST"-->
		<INPUT TYPE="HIDDEN" NAME="Shop_IDP" VALUE="{assist_shop_id}">
		<INPUT TYPE="HIDDEN" NAME="Order_IDP" VALUE="{assist_order_id}">
		<INPUT TYPE="HIDDEN" NAME="Subtotal_P" VALUE="{assist_amount}">
		<INPUT TYPE="HIDDEN" NAME="Delay" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="Language" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="URL_RETURN_OK" VALUE="{assist_success_url}">
		<INPUT TYPE="HIDDEN" NAME="URL_RETURN_NO" VALUE="{assist_fail_url}">
		<INPUT TYPE="HIDDEN" NAME="Currency" VALUE="{assist_currency}">
		<INPUT TYPE="HIDDEN" NAME="Comment" VALUE="Оплата заказа по счету № {assist_order_id}">
		<INPUT TYPE="HIDDEN" NAME="IsFrame" VALUE="0">
		<INPUT TYPE="HIDDEN" NAME="CardPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="WalletPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="WebMoneyPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="RapidaPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="PayCashPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="EPortPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="KreditPilotPayment" VALUE="1">
		<INPUT TYPE="HIDDEN" NAME="AssistIDPayment" VALUE="1">
		<INPUT TYPE="SUBMIT" NAME="Submit" VALUE="Оплатить">
		<!-- Демо режим -->
		<INPUT TYPE="HIDDEN" NAME="DemoResult" VALUE="AS000">
		
		</FORM>
					
	<!-- END BLOCK : block_assist -->	

<table cellpadding=2 cellspacing=2 border=0 class="instab ireerj" width=98%>
<tr height="20">
	<th width=5>ID</th>
	<th>Название</th>
	<th>Цена</th>
	<th>Кол-во</th>
	<th>Сумма</th>
</tr>
<!-- START BLOCK : block_item -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td width="5" align="center" nowrap><a href="{item_link}">{item_id}</a></td>
	<td><a href="{item_link}">{item_name}</a>&nbsp;{item_info}</td>
	<td align="center">{item_price} {item_currency}&nbsp;</td>
	<td align="center">{item_qty}&nbsp;</td>
	<td align="center">{item_cost} {order_currency}&nbsp;</td>
</tr>
<!-- END BLOCK : block_item -->
</table>
<br><br>
<b><a href="{repeat_order_link}">Повторить заказ</a></b>
