<p>Введите в форму ниже Ваш логин, и на указанный в Ваших персональных данных e-mail будет выслан пароль.</p>

<form method="post" action="{remind_password_action}" name="remindForm">
E-mail:
<p>
<input type="text" name="email">
<button onclick="document.remindForm.submit(); return false;">Напомнить пароль</button>
</p>
</form>
