<!-- START BLOCK : block_nav_in -->
<div class="block_zag">
<h2>&darr;&nbsp;Входящие сообщения</h2>
<h2>&uarr;&nbsp;<a href="{baseurl}?action=msglist&out">Исходящие сообщения</a></h2>
</div>
<!-- END BLOCK : block_nav_in -->

<!-- START BLOCK : block_no_msg_in -->
<p>Нет входящих сообщений</p>
<!-- END BLOCK : block_no_msg_in -->

<!-- START BLOCK : block_msg_list_in  -->
<!-- START BLOCK : block_msg_in -->
<div class="faq {css_class_new}">
	<h5><a href="{link}">{title}</a></h5>
	<h6>{date} от <a href="{from_user_link}" title="{from_surname} {from_firstname}">{from_username}</a> [<a class="red" href="{del_link}" onclick="return confirm('Удалить сообщение?');" title="Удалить сообщение">удалить</a>]</h6>
</div>
<!-- END BLOCK : block_msg_in -->
<!-- END BLOCK : block_msg_list_in -->

<!-- START BLOCK : block_nav_out -->
<div class="block_zag">
<h2>&darr;&nbsp;<a href="{baseurl}?action=msglist">Входящие сообщения</a></h2>
<h2>&uarr;&nbsp;Исходящие сообщения</h2>
</div>
<!-- END BLOCK : block_nav_out -->

<!-- START BLOCK : block_no_msg_out -->
<p>Нет исходящих сообщений</p>

<!-- END BLOCK : block_no_msg_out -->

<!-- START BLOCK : block_msg_list_out  -->
<!-- START BLOCK : block_msg_out -->
<div class="faq">
	<h5><a href="{link}">{title}</a></h5>
	<h6>{date} для <a href="{to_user_link}" title="{to_surname} {to_firstname}">{to_username}</a> [<a class="red" href="{del_link}&out" onclick="return confirm('Удалить сообщение?');" title="Удалить сообщение">удалить</a>]</h6>
</div>
<!-- END BLOCK : block_msg_out -->
<!-- END BLOCK : block_msg_list_out -->