<!-- userinfo -->
<h3>Информация о пользователе</h3>
<table class="tbl data">
<tr><th>Логин:</th><td>{username}</td></tr>
<tr><th>ФИО:</th><td>{last_name} {first_name} {middle_name}</td></tr>
<tr><th>E-mail:</th><td><a href=mailto:{email}>{email}</a></td></tr>
<tr><th>Страна:</th><td>{country}</td></tr>
<tr><th>Отрасль:</th><td>{kind_of_business}</td></tr>
<tr><th>Профессия:</th><td>{occupation}</td></tr>
<tr><th>Сообщений на форуме:</th><td>{number_of_messages}</td></tr>
<tr><td colspan="2"><br><a nclick="window.close(); return false;">Закрыть окно</a></td></tr>
</table>
<!--/userinfo -->