<!-- START BLOCK : block_access_deny -->
<div class="err">Авторизуйтесь пожалуйста.</div>
<!-- END BLOCK : block_access_deny -->
<!-- START BLOCK : block_edit_ok -->
<p><b>Информация успешно обновлена</b></p>
<!-- END BLOCK : block_edit_ok -->
<!-- START BLOCK : block_input_false -->
<div class="err">Не все обязательные поля заполнены или не совпадают пароли.</div>
<!-- END BLOCK : block_input_false -->


<!-- START BLOCK : block_form -->
<link rel=STYLESHEET href="/css/calendar-my-style.css" type="text/css">
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/js/multiselect.js"></script>

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data" id="frmEdit">
<input name="step" type="hidden" value="2">
<input name="action" type="hidden" value="{action}">
    <div class="edit_form">
        
        <div class="lklklk">
            <div class="blu_line">О себе:</div>
			
            <!-- START BLOCK : block_img_exist -->
            <img src="/{path}" class="lk_foto" width="182" height="213">  <div class="inp_file"><input type="checkbox" c name="del_img" id="del_img"> <label for="del_img">{MSG_Delete} фото</label></div>
            <!-- END BLOCK : block_img_exist -->
            <input type="file" class="inp_file" name="img"/>
            <div class="lklklk_inner">
				<!-- START BLOCK : block_selectAddress  -->
        {selectAddress} <br>
        <!-- END BLOCK : block_selectAddress -->
                <!-- START BLOCK : prop_list -->
                <!-- START BLOCK : prop_list_item -->

                <!-- START BLOCK : prop_list_item_string -->
                <label for="el-{id}" class="{css_required_class}">{title}:</label>
                <input type="text" name="prop[{id}]" maxlength="100" value="{value}" class="{css_required_class} contform text required" id="el-{id}">
                <!-- END BLOCK : prop_list_item_string -->

                <!-- START BLOCK : prop_list_item_text -->
                <label for="el-{id}" class="{css_required_class}">{title}:</label><br>
                <textarea name="prop[{id}]" class="{css_required_class}" cols="40" rows="4" id="el-{id}">{value}</textarea><br>
                <!-- END BLOCK : prop_list_item_text -->

                <!-- START BLOCK : prop_list_item_date -->
                <label for="el-{id}" class="{css_required_class}">{title}:</label><br>
                <input type="text" name="prop[{id}]" value="{value}" class="{css_required_class} abo-date" id="el-{id}"><br>
                <!-- END BLOCK : prop_list_item_date -->

                <!-- START BLOCK : prop_list_item_flag -->
                <br>
                <input type="checkbox" name="prop[{id}]" value="1" class="{css_required_class} checkb" {checked} id="el-{id}">
                &mdash; <label for="el-{id}" class="{css_required_class}" id="el-{id}">{title}</label><br><br><br>
                <!-- END BLOCK : prop_list_item_flag -->

                <!-- START BLOCK : prop_list_item_select -->
                <label for="el-{id}" class="{css_required_class}">{title}:</label><br>
                <select name="prop[{id}]" class="{css_required_class}" id="el-{id}" style="width:340px;">
                    <option value="">- выбрать -</option>
                    <!-- START BLOCK : prop_list_item_select_item -->
                    <option value="{value}" {selected}>{name}</option>
                    <!-- END BLOCK : prop_list_item_select_item -->
                </select><br>
                <!-- END BLOCK : prop_list_item_select -->

                <!-- START BLOCK : prop_list_item_set -->
                <fieldset style="width:320px; padding-left: 20px;">
                    <legend><label for="el-{id}" class="{css_required_class}">{title}:</label></legend>
                    <!-- START BLOCK : prop_list_item_set_item -->
                    <input type="checkbox" name="prop[{prop_id}][{id}]" value="1" {checked} class="checkb" id="el-{prop_id}-{id}">
                    &mdash; <label for="el-{prop_id}-{id}">{name}</label><br>
                    <!-- END BLOCK : prop_list_item_set_item -->
                </fieldset>
                <!-- END BLOCK : prop_list_item_set -->

                <!-- END BLOCK : prop_list_item -->
                <!-- END BLOCK : prop_list -->
            </div>

        </div><br>
        <hr class="khf">
        <input type="submit" class="submitdiller"  value="Сохранить"/>
</div>

</form>
<br>
<script type="text/javascript">
$(function() {
    $('#el-3').attr('maxlength',100);
    $('.abo-date').each(function() {
        Calendar.setup({
            inputField  : $(this).attr('id'),      // ID of the input field
            ifFormat    : "dd.mm.y",    // the date format
            button      : $(this).attr('id'),    // ID of the button
            mondayFirst : true
        });
    });
    $('#selectAddress').on('change',function(obj){
        if($(this).val() != 'add')
        {
            $('#delAddress').show();
            $('#delAddress').attr('ini',$(this).val())
        }
        else
        {
            $('#delAddress').hide();
        }
        var sel= $("#select"+$(this).val());
        $('#el-1').val(sel.find('[name="name"]').text());
        $('#el-2').val(sel.find('[name="lastname"]').text());
        $('#el-3').val(sel.find('[name="surname"]').text());
        $('#el-4').val(sel.find('[name="phone"]').text());
        $('#el-5').val(sel.find('[name="area"]').text());
        $('#el-6').val(sel.find('[name="region"]').text());
        $('#el-7').val(sel.find('[name="index"]').text());
        $('#el-8').val(sel.find('[name="city"]').text());
        $('#el-9').val(sel.find('[name="address"]').text());
        $('#el-10').val(sel.find('[name="txtInfo"]').text());
    });

    $('#frmEdit').submit(checkUserForm);
});
$('#delAddress').on('click',function(){
    if(confirm('Вы действительно хотите удалить эти данные?'))
    {
        var val=false;
        $.post('/siteusers/?action=delAddress', { 'id' : $(this).attr('ini')}, function(data) {
            if(data)
            {
                $('#selectAddress').find('[value="'+$('#delAddress').attr('ini')+'"]').remove();
                $('#delAddress').attr('ini',"").hide();
                $('#el-1').val("");
                $('#el-2').val("");
                $('#el-3').val("");
                $('#el-4').val("");
                $('#el-5').val("");
                $('#el-6').val("");
                $('#el-7').val("");
                $('#el-8').val("");
                $('#el-9').val("");
                $('#el-10').val("");
            }

        }, "json");

    }
})
function checkUserForm()
{
    var id = {siteuser_id},
        username = '{username}',
        email = '{email}',
        ret = true,
        max_login_len = {max_login_len},
        min_login_len = {min_login_len},
        max_pass_len = {max_pass_len},
        min_pass_len = {min_pass_len},
        str = '';

    $('span.err').remove();
    
    return checkForm('#frmEdit');
}
</script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script>
    $(document).ready(function(){
        $("#el-4").attr("placeholder",'+7(999)999-99-99');
        $("#el-4").mask("+7(999)999-99-99");
    });
</script>
<!-- END BLOCK : block_form -->