<p><b>Добро пожаловать в персональный раздел добавления отчётов.</b></p>

{message}
<form enctype="multipart/form-data" method="post">
    <label for="start_date">с какого числа</label>
    <input type="text" name="start_date" value="0"><br/>
    <label for="end_date">по какое число</label>
    <input type="text" name="end_date" value="0"><br/>
    <label for="file">Файл отчёта</label>
    <input type="file" name="file"><br/>
    <button type="submit">Отправить отчёт</button>
</form>

