<h2 class="content-title2">Сообщение</h2>

<!-- START BLOCK : block_no_msg -->
<p>Сообщение не найдено</p>
<!-- END BLOCK : block_no_msg -->

<!-- START BLOCK : block_msg -->
<div class="fill-box" style="padding: 10px 15px; margin-bottom: 20px;">
	<a style="float: right;" href="{del_link}" onclick="return confirm('Удалить сообщение?');"><img width="15" height="18" border="0" title="Удалить сообщение" alt="Удалить сообщение" src="/i/admin/ico_del.gif"/></a>
	<span>{date} от <a href="{user_link}" title="{from_firstname} {from_surname}">{from_username}</a></span>
</div>

<h4>{title}</h4>
<p>{body}</p>

<br>
<button id="lnkSend" onclick="showSendForm();">Ответить</button>
<form action="{send_msg_action}" method="POST" id="frmSend" style="display: none;" onsubmit="return checkSendForm();">
<h3>Написать сообщение</h3>
<input type="hidden" name="data[to]" value="{from}">
    <dl class="form-item">
		<dt>Кому:</dt>
		<dd><a href="{user_link}">{from_username} ({from_surname} {from_firstname})</a></dd>
	</dl>
	<dl class="form-item">
		<dt><label for="txtTitle5">Тема:</label></dt>
		<dd><input type="text" name="data[title]" size="50" style="width: 380px;" id="txtTitle5" value="Re. {title}"></dd>
	</dl>
	<dl class="form-item">
		<dt><label for="btxtBody">Сообщение</label></dt>
		<dd><textarea name="data[body]" id="btxtBody" cols="40" rows="5"></textarea></dd>
	</dl>
	<dl class="form-item">
		<dt><br></dt><dd><button type="submit">Отправить</button></dd>
	</dl>
</form>
<script type="text/javascript">
function showSendForm(show_form)
{
    var btn = document.getElementById('lnkSend');
    var frm = document.getElementById('frmSend');
    if (!frm || !btn) return;
    btn.style.display = "none";
    frm.style.display = "block";
}
function checkSendForm()
{
    if ('' == document.getElementById('txtTitle5').value) {
        alert('Не указана тема сообщения');
        return false;
    }
    if ('' == document.getElementById('btxtBody').value) {
        alert('Не указано сообщение');
        return false;
    }
    return true;
}
</script>
<!-- END BLOCK : block_msg -->