<!-- START BLOCK : block_last_user -->
<p>Последний зарегестрированный <a href="{link}"><b>{username}</b></a></p>
<!-- START BLOCK : block_last_user -->
<p>В МИРе <b>{users_count}</b> пользователей, на сайте сейчас <b>{onsite_users_count}</b></p>
