<!-- START BLOCK : block_with_name -->
Добрый день, {sub_name}!<br>
<!-- END BLOCK : block_with_name -->
<!-- START BLOCK : block_without_name -->
Добрый день!<br>
<!-- END BLOCK : block_without_name -->
Вы являетесь подписчиком на рассылку {subscr_categ} сайта компании "{sitename_rus}" {web_address}<br><br>

{title} ({date})<br>
{body}<br><br>
<!-- START BLOCK : block_news -->
<b>Последние новости:</b><br>
<!-- START BLOCK : block_news_row -->
<a href="{news_link}">{news_date} {news_title}</a><br>
{news_announce}<br><br>
<!-- END BLOCK : block_news_row -->
<!-- END BLOCK : block_news -->

Для того, чтобы отказаться от нашей рассылки, перейдите по  этой <a href="{unsubscr_link}">ссылке</a>.
