<h3>Облако меток</h3>
<!-- START BLOCK : cloud -->
<p>
<script type="text/javascript" src="/js/admin/AC_OETags.js"></script>
<script type="text/javascript">
AC_FL_RunContent(
    'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0',
    'width','{width}',
    'height','{height}',
    'title','облако тегов',
    'src','/files/tagcloud',
    'quality','high',
    'pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash',
    'bgcolor','#FFFFFF',
    'movie','/files/tagcloud',
    'FlashVars', 'xmlpath={xmlpath}'
); //end AC code
</script>
<noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="{width}" height="{height}" title="облако меток">
<param name="movie" value="/files/tagcloud.swf">
<param name="FlashVars" value="xmlpath={xmlpath}">
<param name="quality" value="high"><param name="BGCOLOR" value="#FFFFFF">
<embed src="/files/tagcloud.swf" width="{width}" height="{height}" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" bgcolor="#FFFFFF" FlashVars="xmlpath={xmlpath}"></embed>
</object></noscript>
</p>
<!-- END BLOCK : cloud -->

<!-- START BLOCK : none -->
<p>Облако меток не найдено</p>
<!-- END BLOCK : none -->