<!-- карта сайта в виде списка -->

<!-- START BLOCK : level1_menu -->
<div class=botmenu>

	<!-- START BLOCK : level1_menu_item -->

		<!-- START BLOCK : level1_menu_active_item -->
		<a href="{page_link}">{page_name}</a><br>
		<!-- END BLOCK : level1_menu_active_item -->

			<!-- START BLOCK : level2_menu -->		
			<ul style="margin: 0 0 0 18; list-style">
			<!-- START BLOCK : level2_menu_item -->

			<!-- START BLOCK : level2_menu_active_item -->
			<li><a href="{page_link}">{page_name}</a></li>
			<!-- END BLOCK : level2_menu_active_item -->

			<!-- END BLOCK : level2_menu_item -->
			</ul>
			<!-- END BLOCK : level2_menu -->


	<!-- END BLOCK : level1_menu_item -->		

</div>
<!-- END BLOCK : level1_menu -->
<br>
<!--/карта сайта в виде списка -->