<!-- START BLOCK : block_context_menu -->
<!-- контекстное меню -->
<div>
	<ol>
	<!-- START BLOCK : block_context_menu_item -->	
		<!-- START BLOCK : block_context_menu_active_item -->
		<li>
		<!-- START BLOCK : block_active_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : block_active_img -->
        <!-- START BLOCK : block_active_no_img -->
        <a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : block_active_no_img -->
        </li>
		<!-- END BLOCK : block_context_menu_active_item -->
		
		<!-- START BLOCK : block_context_menu_current_item -->
		<li>
		<!-- START BLOCK : block_curr_img -->
        <img src="{path}" title="{page_name}" alt="{page_name}">
        <!-- END BLOCK : block_curr_img -->
        <!-- START BLOCK : block_curr_no_img -->
        {page_name}
        <!-- END BLOCK : block_curr_no_img -->
        </li>
		<!-- END BLOCK : block_context_menu_current_item -->
	
	<!-- END BLOCK : block_context_menu_item -->
	</ol>
</div>
<br>
<!--/контекстное меню -->
<!-- END BLOCK : block_context_menu -->
