<!-- START BLOCK : level1_menu -->
<ul id="menu">
<!-- START BLOCK : level1_menu_item -->
    <!-- START BLOCK : level1_menu_active_item -->
    <li>
        <!-- START BLOCK : level1_active_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : level1_active_img -->
        <!-- START BLOCK : level1_active_no_img -->
        <a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : level1_active_no_img -->
    <!-- END BLOCK : level1_menu_active_item -->
    <!-- START BLOCK : level1_menu_current_children_item -->
    <li class="curr">
        <!-- START BLOCK : level1_curr_child_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : level1_curr_child_img -->
        <!-- START BLOCK : level1_curr_child_no_img -->


        <a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : level1_curr_child_no_img -->
    <!-- END BLOCK : level1_menu_current_children_item -->
    <!-- START BLOCK : level1_menu_current_item -->
    <li class="curr">
        <!-- START BLOCK : level1_curr_img -->
        <img src="{path}"></br>
        <!-- END BLOCK : level1_curr_img -->
        <!-- START BLOCK : level1_curr_no_img -->
        <a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : level1_curr_no_img -->

    <!-- END BLOCK : level1_menu_current_item -->
    
    <!-- START BLOCK : level2_menu -->
    <ul>
    <!-- START BLOCK : level2_menu_item -->
        <!-- START BLOCK : level2_menu_active_item -->
        <li>
            <!-- START BLOCK : level2_active_img -->
            <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
            <!-- END BLOCK : level2_active_img -->
            <!-- START BLOCK : level2_active_no_img -->
            <a href="{page_link}">{page_name}</a>
            <!-- END BLOCK : level2_active_no_img -->
        <!-- END BLOCK : level2_menu_active_item -->
        <!-- START BLOCK : level2_menu_current_children_item -->
        <li class="curr">
            <!-- START BLOCK : level2_curr_child_img -->
            <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
            <!-- END BLOCK : level2_curr_child_img -->
            <!-- START BLOCK : level2_curr_child_no_img -->
    
    
            <a href="{page_link}">{page_name}</a>
            <!-- END BLOCK : level2_curr_child_no_img -->
        <!-- END BLOCK : level2_menu_current_children_item -->
        <!-- START BLOCK : level2_menu_current_item -->
        <li class="curr">
            <!-- START BLOCK : level2_curr_img -->
            <img src="{path}"></br>
            <!-- END BLOCK : level2_curr_img -->
            <!-- START BLOCK : level2_curr_no_img -->
            <a href="{page_link}">{page_name}</a>
            <!-- END BLOCK : level2_curr_no_img -->
    
        <!-- END BLOCK : level2_menu_current_item -->
        
        <!-- START BLOCK : level3_menu -->
        <ul>
        <!-- START BLOCK : level3_menu_item -->
            <!-- START BLOCK : level3_menu_active_item -->
            <li>
                <!-- START BLOCK : level3_active_img -->
                <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
                <!-- END BLOCK : level3_active_img -->
                <!-- START BLOCK : level3_active_no_img -->
                <a href="{page_link}">{page_name}</a>
                <!-- END BLOCK : level3_active_no_img -->
            <!-- END BLOCK : level3_menu_active_item -->
            <!-- START BLOCK : level3_menu_current_children_item -->
            <li class="curr">
                <!-- START BLOCK : level3_curr_child_img -->
                <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
                <!-- END BLOCK : level3_curr_child_img -->
                <!-- START BLOCK : level3_curr_child_no_img -->
        
        
                <a href="{page_link}">{page_name}</a>
                <!-- END BLOCK : level3_curr_child_no_img -->
            <!-- END BLOCK : level3_menu_current_children_item -->
            <!-- START BLOCK : level3_menu_current_item -->
            <li class="curr">
                <!-- START BLOCK : level3_curr_img -->
                <img src="{path}"></br>
                <!-- END BLOCK : level3_curr_img -->
                <!-- START BLOCK : level3_curr_no_img -->
                <a href="{page_link}">{page_name}</a>
                <!-- END BLOCK : level3_curr_no_img -->
        
            <!-- END BLOCK : level3_menu_current_item -->
        <!-- END BLOCK : level3_menu_item -->
        </ul>
        <!-- END BLOCK : level3_menu -->
    
    
    <!-- END BLOCK : level2_menu_item -->
    </ul>
    <!-- END BLOCK : level2_menu -->
    
<!-- END BLOCK : level1_menu_item -->      
</ul>
<!-- END BLOCK : level1_menu -->