<!-- START BLOCK : level1_menu -->
	<div class="alt-menu">
	<!-- START BLOCK : level1_menu_item -->	
		
        <!-- START BLOCK : level1_menu_active_item -->
    				<!-- START BLOCK : level1_active_img -->
                    <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
                    <!-- END BLOCK : level1_active_img -->
                    <!-- START BLOCK : level1_active_no_img -->
                    <a href="{page_link}">{page_name}</a> |
                    <!-- END BLOCK : level1_active_no_img -->
        <!-- END BLOCK : level1_menu_active_item -->

        <!-- START BLOCK : level1_menu_current_item -->
    				<!-- START BLOCK : level1_curr_img -->
                    <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
                    <!-- END BLOCK : level1_curr_img -->
                    <!-- START BLOCK : level1_curr_no_img -->
                    <a href="{page_link}">{page_name}</a> |
                    <!-- END BLOCK : level1_curr_no_img -->
		<!-- END BLOCK : level1_menu_current_item -->

    <!-- END BLOCK : level1_menu_item -->
	</div>
<!-- END BLOCK : level1_menu -->
