<!-- START BLOCK : block_send_form -->
<!-- формочка -->
	<script>
	function checkSendForm(form) 
	{
		var SendItem= 0;
		var AlertMessage;
		
		if (form.from.value == "") {
			SendItem= 1; AlertMessage = 'Укажите ваше имя или email';
		} else if (form.email.value == "") {
			SendItem= 1; AlertMessage = 'Укажите E-mail получателя';
		}
		
	  if (!SendItem) {
			form.submit();
		} else {
			alert(AlertMessage);
	  }
	}
	</script>

	<table cellpadding=5 cellspacing=0 border=0 width=100%>
	<tr valign=top>
	<td width=1%><img src=/i/1.gif width=8 height=1 border=0></td>
	<td class=tdcont id=padL15>
	
		<h1>Отправить по почте</h1>
		<p>C помощью этой формы вы можете отправить вашим коллегам ссылку на заинтересовавший вас документ. Введите в поле <b>&laquo;От кого&raquo;</b> ваши персональные данные, в поле <b>&laquo;E-mail&raquo;</b> электронный адрес получателя.</p>
		<br>
		<table width=267 cellpadding="0" cellspacing=0 border=0>
		<form method="post" action="{form_send_action}" name="senUrlForm">
		<tr><td nowrap>От кого:&nbsp;</td><td width=90%><input class=inp name="from" value=""></td></tr>
		<tr><td nowrap>E-mail:</td><td><input class=inp name="email" value=""></td></tr>
		<tr><td colspan=2><textarea class=inp name="url" readonly>{send_url}</textarea></td></tr></td></tr>
		<tr><td align=right colspan=2><button class=inpbut onClick="checkSendForm(this.form);">отправить</button></td></tr>
		</form>
		</table>
		<div class=tools>
		<span><a href="javascript:history.go(-1);"><img src="/i/back.gif" alt="Вернуться назад" width="22" height="17" border="0" id=tl>Вернуться назад</a></span
		</div>
	
	</td>
	</tr>
	</table>
<!--/формочка -->
	<img src=/i/1.gif width=1 height=1 border=0><br>
<!-- END BLOCK : block_send_form ->