<!-- START BLOCK : country -->
<div class="ttt">
    <h2>{title}</h2>
<!-- START BLOCK : city -->
<div class="podd_h"><a href="" title="{city}({count})">{city}({count})</a></div>
<div class="podd_t">
<!-- START BLOCK : article -->
<br><strong><i>{title}</i></strong><br><p>{text}</p>
<!-- END BLOCK : article -->
</div>
<!-- END BLOCK : city -->
</div>
<!-- END BLOCK : country -->

