		<td rowspan="2" class="phone">Тел.<span>8 (095) 101-39-25</span><br><p>(многоканальный)</p><img src="/i/0.gif" width="210" height="1"></td>
		<td width="54%" height="45" bgcolor="#e2e2e2">Москва, 1-ый Басманный пер. д. 5/20 к. 3, e-mail: <a href="mailto:info@almer.ru">info@almer.ru</a></td>

