<div id="mod_block_{this_block}">
<div class="admin-block-edit" onmouseover="setClass(this,'admin-block-hover',1);" onmouseout="setClass(this,'admin-block-hover',0);">
	<h6>{block_abbr}</h6>
	<div class="admin-block-icons">
<!-- START BLOCK : block_prop_command -->
	<span><img src="/i/admin/ico_settings.gif" alt="свойства" title="Свойства блока" onClick="return blockProperties('{module}',{field},'{lang}',{this_block},{prop},'{baseurl}')"></span>
<!-- END BLOCK : block_prop_command -->
	<span id="mod_block_{this_block}_up" class="admin-move-{display_up}"><img src="/i/admin/ico_move_up.gif" alt="вверх" title="Сдвинуть блок вверх" onClick="return blockUp(this,'mod_block_{this_block}','{baseurl}')"><img src="/i/admin/ico_move_up_off.gif" alt="вверх" class="admin-move-off"></span>
	<span id="mod_block_{this_block}_down" class="admin-move-{display_down}"><img src="/i/admin/ico_move_down.gif" alt="вниз" title="Сдвинуть блок вниз" onClick="return blockDown(this,'mod_block_{this_block}','{baseurl}')"><img src="/i/admin/ico_move_down_off.gif" alt="вниз" class="admin-move-off"></span>
<!-- START BLOCK : block_del_command -->
	<span><img src="/i/admin/ico_trash.gif" alt="удалить" title="Удалить блок" onClick="if(confirm('Вы действительно желаете удалить блок {this_block}?'))return blockDelete('mod_block_{this_block}','{baseurl}'); else return false;"></span>
<!-- END BLOCK : block_del_command -->
	</div>
</div>
{block_content}
<!-- START BLOCK : block_empty_block -->
<div class="admin-block-empty">Блок ничего не вывел</div>
<!-- END BLOCK : block_empty_block -->
</div>