<div id="blckBnrLst">
<!-- START BLOCK : block_banners -->
<div class="blckBnr" style="display: none;">
<!-- START BLOCK : block_banners_img -->
<a href="{link}"><img src="{filename}" alt="{banner_name}" title="{banner_name}"></a>
<!-- <a href="{link}">{banner_name}</a>-->
<!-- END BLOCK : block_banners_img -->

<!-- START BLOCK : block_banners_flush -->
<div>{filename} {utl} {link} {parse_text}</a>
<!-- END BLOCK : block_banners_flush -->

<!-- START BLOCK : block_banners_txt -->
<a href="{link}">{parse_text}</a>
<!-- END BLOCK : block_banners_txt -->

<!-- START BLOCK : block_banners_promo -->
<div>{parse_text}</div>
<!-- END BLOCK : block_banners_promo -->



</div>
<!-- END BLOCK : block_banners -->
</div>
<script type="text/javascript">
$(function(){
    var delay = {delay} > 0 ? {delay} : 10000;
    var fade_delay = {fade_delay} > 0 ? {fade_delay} : 1500;
    var stop_rotate = false;
    $('.blckBnr').first().fadeIn();
    gInterval = setInterval(rotateBanners, delay);
    function rotateBanners() {
        if (! stop_rotate) {
            if (0 == $('.blckBnr:visible').length) {
                $('.blckBnr').first().fadeIn(fade_delay);
            } else {
                var n = $('.blckBnr:visible').next('.blckBnr');
                if (0 == n.length) {
                    $('.blckBnr:visible').hide();
                    $('.blckBnr').first().fadeIn(fade_delay);
                } else {
                   $('.blckBnr:visible').hide();
                    n.fadeIn(fade_delay);
                }
            }
        }
    }
    $(".blckBnr > *").mouseover(function() {stop_rotate = true;});
    $(".blckBnr > *").mouseout(function() {stop_rotate = false;});
});
</script>