<!-- START BLOCK : img -->
<div class="index_flash_ban">
		<div class="index_flash_ban_img">
{banner}{nl}
</div>
	</div>
<!-- END BLOCK : img -->

<!-- START BLOCK : flash -->
<br>
<div align="center">
<script language="JavaScript" src="/js/flban.js"></script>
<script language="JavaScript">
 var banner_text = '{banner}';
 var alternative_image = '{alternative_image}';
 b_kswitch();
</script>
</div>{nl}
<!-- END BLOCK : flash -->

<!-- START BLOCK : text -->
<br><div align="center">{banner}</div>{nl}
<!-- END BLOCK : text -->

<!-- START BLOCK : promo -->
{banner}{nl}
<!-- END BLOCK : promo -->