<!-- START BLOCK : block_register -->
<a href="/register/?action=registration" class="none">Регистрация</a>
<!-- END BLOCK : block_register -->

<!-- START BLOCK : block_inter -->
<a href="/register/" class="none">Вход</a>
<!-- END BLOCK : block_inter -->

<!-- START BLOCK : block_body -->
			<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td background="i/c_bg_1_.gif"><div class="adv-1"><a href=""><img src="i/pics/a01.gif" width="169" height="168" alt=""></a></div></td>
				<td background="i/c_bg_2_.gif"><div class="adv-2"><a href=""><img src="i/pics/a02.gif" width="342" height="168" alt=""></a></div></td>
			</tr>
			</table>
			<table cellpadding="0" cellspacing="0" class="cat-i">
			<tr>
				<td class="this"><a href=""><img src="i/pics/p01.gif" alt=""></a></td>
				<td width="5"><img src="i/0.gif" width="5" height="1"></td>
				<td class="this"><a href=""><img src="i/pics/p02.gif" alt=""></a></td>
				<td width="5"><img src="i/0.gif" width="5" height="1"></td>
				<td class="this"><a href=""><img src="i/pics/p03.gif" alt=""></a></td>
			</tr>
			<tr>
				<td colspan="5"><img src="i/0.gif" width="1" height="5"></td>
			</tr>
			<tr>
				<td class="this"><a href=""><img src="i/pics/p01.gif" alt=""></a></td>
				<td width="5"><img src="i/0.gif" width="5" height="1"></td>
				<td class="this"><a href=""><img src="i/pics/p02.gif" alt=""></a></td>
				<td width="5"><img src="i/0.gif" width="5" height="1"></td>
				<td class="this"><a href=""><img src="i/pics/p03.gif" alt=""></a></td>
			</tr>
			</table>
<!-- END BLOCK : block_body -->

<!-- START BLOCK : block_news -->
			<div class="c-news"><img src="i/l_3.gif" width="19" height="25" style="float: left;" alt=""><img src="i/c_news.gif" width="58" height="25" hspace="0" style="float: right;" alt="Новости"></div>
			<div id="line-2px"><img src="i/0.gif" width="1" height="2"></div>
			<div class="news">
				<span class="news-date">{block_news_date}</span><a href="{block_news_link}">{block_news_body}</a><br><br>
			</div>
<!-- END BLOCK : block_news -->

<!-- START BLOCK : block_infos -->
			<div class="c-info"><img src="i/l_3.gif" width="19" height="25" style="float: left;" alt=""><img src="i/c_info.gif" width="83" height="25" hspace="0" style="float: right;" alt="Информация"></div>
			<div id="line-2px"><img src="i/0.gif" width="1" height="2"></div>
			<div class="info">
				<a href="{block_infos_link}">{block_infos_body}</a><br><br>
			</div>
<!-- END BLOCK : block_infos -->
