﻿<!-- START BLOCK : block_leaders -->
<script src="/js/popupIMG.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<h3 class="h3_block">Лидеры продаж</h3>

<!-- лидеры продаж -->
	<!-- START BLOCK : block_leader_row -->
	<div class="good">

	<div class="good_img">
	<!-- START BLOCK : block_leader_img -->
	<a href="{prod_link}"><img src="{img}" alt="{prod_title}"></a><br>
	<!-- END BLOCK : block_leader_img -->
	<!-- START BLOCK : block_leader_img_big -->
	<br>
	<!-- END BLOCK : block_leader_img_big  -->
	<!-- START BLOCK : block_leader_img_big_no -->
	<br>
	<!-- END BLOCK : block_leader_img_big_no  -->
	<!-- START BLOCK : block_leader_price -->
    {prod_price}&nbsp;{prod_currency}<br>
    <!-- END BLOCK : block_leader_price -->
    
    <!-- START BLOCK : block_leader_noprice -->
    {prod_price}<br>
    <!-- END BLOCK : block_leader_noprice -->
	</div>

	<div class="good_text">
	<a href="{prod_link}" class="good_title">{prod_title}</a>
	<p>
	<!-- START BLOCK : block_leader_ptype_link -->
		<a href="{ptype_link}" target="_blank">{ptype_name}</a><br>
	<!-- END BLOCK : block_leader_ptype_link -->

	<!-- Выводится когда у производителя указана внутренняя ссылка (без http://) -->
	<!-- START BLOCK : block_leader_ptype_local_link -->
		<a href="{ptype_link}">{ptype_name}</a><br>
	<!-- END BLOCK : block_leader_ptype_local_link -->

	<!-- Выводится когда у производителя не указана ссылка -->
	<!-- START BLOCK : block_leader_ptype_without_link -->
		{ptype_name}</a><br>
	<!-- END BLOCK : block_leader_ptype_without_link -->
	{prod_descr}
	</p>
	
	<form action="{add_to_cart_action}" method="post" name="addToCart{id}" enctype="multipart/form-data">
Добавить в корзину:
<input type="text" name="qty" value="1" size="3" maxlength="5">
<input type="hidden" name="id" value="{prod_id}">

<!-- START BLOCK : block_order_properties -->
<br>Свойства заказа:<br>

<!-- START BLOCK : block_order_property_list -->

<!-- START BLOCK : block_order_property -->
{title}:

<!-- START BLOCK : block_order_property_val_list -->
{prefix} <select name="p[{id}]">
<option value="">-выбрать-</option>
<!-- START BLOCK : block_order_property_val -->
<option value="{id}">{value}</option>
<!-- END BLOCK : block_order_property_val -->
</select> {suffix}<br>
<!-- END BLOCK : block_order_property_val_list -->

<!-- START BLOCK : block_order_property_val_one -->
 {prefix} {value} {suffix}<br>
<input type="hidden" name="p[{prop_id}]" value="{id}">
<!-- END BLOCK : block_order_property_val_one -->

<!-- END BLOCK : block_order_property -->
<!-- END BLOCK : block_order_property_list -->

<!-- END BLOCK : block_order_properties -->
<br>
<button type="submit" onclick="addGoodsToCart(this.form); return false;">В корзину</button>
</form>
	</div>
	</div>
	<!-- END BLOCK : block_leader_row -->
<!--/лидеры продаж -->

<!-- END BLOCK : block_leaders -->