<!-- START BLOCK : block_category -->
<h3 class="h3_block">Каталог</h3>
<ul class="cat_menu">
	<!-- START BLOCK : block_category_row -->
	
		<!-- START BLOCK : block_category_row_active -->
		<li><strong>{cat_title}</strong>
			<!-- START BLOCK : block_active_prod_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_active_prod_cnt -->
		</li>
		<!-- END BLOCK : block_category_row_active -->
		
		<!-- START BLOCK : block_category_row_nonactive -->
		<li><a href="{cat_link}">{cat_title}</a>	
			<!-- START BLOCK : block_noactive_prod_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_noactive_prod_cnt -->
		</li>
		<!-- END BLOCK : block_category_row_nonactive -->
	
	<!-- END BLOCK : block_category_row -->
</ul>
<!-- END BLOCK : block_category -->