<!-- START BLOCK : block_product -->

<!-- START BLOCK : archive -->
<h1 style="font-size:50px">Архив</h1>
<!-- END BLOCK : archive -->

<!--
<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="/js/jquery.lightbox-0.5.js"></script> 
<script type="text/javascript" src="/js/lightbox-0.5-settings.js"></script>
-->

<style type="text/css" media="screen">
.offers-yandex {
    margin: -15px 0 0 -15px;
    padding-top: 30px;
    width: 100%;
}
.offers-yandex-pic {
    float: left;
    width: 110px;
}
.offers-yandex-desc {
    float: left;
    overflow: hidden;
    width: 370px;
}
.offers-yandex-desc p {
    font-size: 16px;
    line-height: 1.4em;
}
.offers-yandex-desc span {
    font-size: 12px;
    padding-right: 20px;
}
.offers-yandex-price {
    float: right;
    font-weight: bold;
    line-height: 1.4em;
    margin-right: -6px;
    width: 150px;
}
.offers-yandex-price span {
    font-size: 12px;
    font-weight: normal;
}
.delivery__icon_type_truck {
    background: rgba(0, 0, 0, 0) url("/i/index_deliv.svg") no-repeat scroll 0 3px;
}
span.clip {
    text-overflow: clip ellipsis;
    white-space: nowrap;
}
.yandex-link {
    font-size: 12px;
    padding-top: 30px;
    text-align: right;
    width: 100%;
}
.popup_js {
    display: none;
    width: 350px;
    height: 200px;
    z-index: 1;
    font: 13px normal 'Tahoma';
    color #033151;
    background: #ecf6ff;
    border: 8px solid #bbe0ff;
    position: absolute;
}
.subm_yes{
    background: #00AEFD;
    box-shadow: 1px 1px 3px #DADADA;
    color: #FFFCFC;
    font-size: 15px;
    font-weight: 700;
    height: 26px;
    margin: 0px 30px 0px 0px;
    width: 76px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.subm_no{
    background: #00AEFD;
    box-shadow: 1px 1px 3px #DADADA;
    color: #FFFCFC;
    font-size: 15px;
    font-weight: 700;
    height: 26px;
    margin: 0px 30px 0px 0px;
    width: 76px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/colorbox.css" media="screen" />
<script type="text/javascript" src="/js/jquery.colorbox.js"></script> 
<script type="text/javascript" src="/js/colorbox-settings.js"></script>
				<div class="catalog_good_wrap">
					<span class= 'selector_adm' style="display:none">{product_title_a}</span>
					<div class="custom_h2">{products_synonyms} {product_title}
						<!-- START BLOCK: block_product_edit -->
						<a href="{product_edit_url}" target="_blank">(редактировать)</a>
						<!-- END BLOCK: block_product_edit -->
					</div>
					
					
					<!-- START BLOCK : new -->
					<div class="hz_item_sign_new"></div>
					<!-- END BLOCK : new -->
					
					<!-- START BLOCK : lead -->
					<div class="hz_item_sign_cool"></div>
					<!-- END BLOCK : lead -->
					
					<!-- START BLOCK : percent -->
					<div class="hz_item_sign_pers"></div>
					<!-- END BLOCK : percent -->
					
					<div class="clear"></div>
					<div class="catalog_good">
						

                        <!-- START BLOCK : rubit -->
                        <div class="rubit" style="">
                            <div class="rubit1" style="display:{kub_disp};">Рубит кубиками</div>
                            <div class="rubit2" style="display:{inv_disp};">Инвертор</div>
                        </div>
                        <!-- END BLOCK : rubit -->
						<div class="catalog_good_img">
						
							
						<!-- START BLOCK : block_product_first_img -->
    <!-- START BLOCK : block_product_first_img_exists -->
	<a href="{img_path}" class="lightbox_a"><img src="{img_path}" alt="" class="cat_img_big" id="imgBig"/></a>
	<!--		<li><iframe src="http://www.youtube.com/embed/VBomwRyWADc" frameborder="0" width="130" height="81"></iframe></li>	-->	
	
	<!-- END BLOCK : block_product_first_img_exists -->
	<!-- START BLOCK : block_product_first_img_no_exists -->
	<img src="//i/no_photo.gif" alt="" class="cat_img_big" id="imgBig"/>
	<!-- END BLOCK : block_product_first_img_no_exists -->
	<!-- START BLOCK : block_product_first_preview_exists -->
	<!--img src="{preview_path}" onclick="setImg('{img_path}', this);"-->
	<!-- END BLOCK : block_product_first_preview_exists -->
	<!-- START BLOCK : block_product_first_preview_no_exists -->
	<!--{preview_path}-->
	<!-- END BLOCK : block_product_first_preview_no_exists -->
<!-- END BLOCK : block_product_first_img -->
						</div>
							<!-- START BLOCK : block_link -->
							<a href="{link}" target="_blank" title="Купить в официальном интернет-магазине" class="ofi_2 ofi_2"><img src="/i/ofi_large.png" alt="Купить в официальном интернет-магазине" title="Купить в официальном интернет-магазине"/></a>
							<!-- END BLOCK : block_link -->

					</div><!-- EO catalog_good -->
					<!-- START BLOCK : block_analogues -->
					<div class="catalog_good_vertical_wrap">
						<div class="catalog_good_vertical">
							<div class="index_horiz_ta"></div>
							<div class="clear"></div>
							
							<div class="cg_h4">Похожие товары</div>					
							<div class="blueline100a"></div>
							
						<ul id="third-carousel" class="jcarousel-skin-tango">
							<!-- START BLOCK : block_analogues_row -->
							<li class="cg_item">
								<!-- START BLOCK : block_analogues_image_middle -->
								<a href="{prod_link}" title="{title}"><img src="{image_path}" alt="{title}" title="{title}"></a>
								<!-- END BLOCK : block_analogues_image_middle -->
								<div class="hz_category">{categ_title}</div>
								<div class="hz_item_name"><a href="{prod_link}">{title}</a></div>
								<!-- START BLOCK : analogues_price -->
								<!--   <a href="{link}" class="pricebutton"><span>{price} Р</span></a>-->
								<!-- END BLOCK : analogues_price -->
								<!-- START BLOCK : analogues_dprice -->
								<!--   <a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>-->
								<!--   <div class="pricebuttonred_discount">{percent}%</div>-->
								<!-- END BLOCK : analogues_dprice -->	
								<div class="clear"></div>
							</li>
							<!-- START BLOCK : analogues_delim -->
							<!--
							<div class="blueline100a"></div>
							-->
							<!-- END BLOCK : analogues_delim -->
							
							
							<!-- END BLOCK : block_analogues_row -->
						</ul>
  
							

						
						</div><!-- EO catalog_good_vertical -->
						<div class="clear"></div>
						<div class="index_horiz_ba"></div>
					</div><!-- EO catalog_good_vertical_wrap -->
					<!-- END BLOCK : block_analogues -->
					<!-- START BLOCK : block_link1 -->
						<a href="{link}" target="_blank" title="Купить в официальном интернет-магазине" class="ofi_link">Купить в официальном интернет-магазине</a>
						<!-- END BLOCK : block_link1 -->
					<div class="clear"></div>
					
				<div class="fix_supra_sliders">
						<div class="catalog_good_slider">
						<!-- START BLOCK : block_product_img_list -->
							<div class="opisalofo">Фото</div>
						  <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
							<!-- START BLOCK : block_product_img -->
							<!-- START BLOCK : block_product_preview_exists -->
							<li><img src="{preview_path}" alt="" class="small {active}" /><img src="{img_path}" alt="" class="big" /><div class="desc_iv"> {desc}</div></li>
							<a href="{img_path}" class="lightbox_a" style="display: none;"><img src="{preview_path}" alt="" class="cat_img_big" id="imgBig"/></a>
							<!-- END BLOCK : block_product_preview_exists -->
							<!-- END BLOCK : block_product_img -->
							
							<!-- START BLOCK : video_list -->
							<li class="ich_frame_li"><img src="{src}" alt="" class="small {active} ich_frame_img" />{html}</li>			
							<!-- END BLOCK : video_list -->
						  </ul>
												
						<!-- END BLOCK : block_product_img_list -->
						</div>

						<!-- START BLOCK : isset_videos -->
						<div class="catalog_good_slider2">
							<div class="opisalofo">Видео</div>
							<ul id="first-carousel2" class="first-and-second-carousel jcarousel-skin-tango2">
								<!-- START BLOCK : videos -->
								<li class="ich_frame_li"><img src="{src}" alt="" class="small {active} ich_frame_img" ini='{html}'/><div class="desc_iv">{descr}</div></li>
								<!-- END BLOCK : videos -->
							</ul>
						</div>
						
							
						<!-- END BLOCK : isset_videos -->
					<div class="clear"></div>	
				</div>	
	<!--						
						<div class="pict_dv dv0"></div>
						<div class="pict_dv dv1"></div>
						<div class="pict_dv dv2"></div>
						<div class="pict_dv dv3"></div>
						<div class="pict_dv dv4"></div>
						<div class="pict_dv dv5"></div>
						<div class="pict_dv dv6"></div>
						<div class="pict_dv dv7"></div>
						<div class="pict_dv dv8"></div>
						<div class="clear"></div>
-->

							
						
						
						<br />
						<a href="" class="cat_menu_item firstitem {klient_foool}" {klient_foool_style}><span>Характеристики</span></a>
						<a href="" class="cat_menu_item {desc}"><span>Описание</span></a>						
						<a href="" class="cat_menu_item {files}" {files_style}><span>Файлы для скачивания</span></a>
						<a href="" class="cat_menu_item {swf}" {swf_style}><span>3D просмотр</span></a>
						<a href="" class="cat_menu_item {shop}" {shop_style}><span>Магазины</span></a>
					<!-- START BLOCK : faq_isset -->
					<a href="" class="cat_menu_item {faq}" {swf_style}><span>FAQ</span></a>
					<!-- END BLOCK : faq_isset -->
					<!-- START BLOCK : analog_isset -->
                    <a href="" class="cat_menu_item js_analog {analog_isset}" {analog_isset}><span>Яндекс.Маркет</span></a>
                    <!-- END BLOCK : analog_isset -->
                    <!-- START BLOCK : analog_market_isset -->
                    <a href="" class="cat_menu_item js_analog {analog_isset}" {analog_isset}><span>Яндекс.Маркет</span></a>
                    <!-- END BLOCK : analog_market_isset -->
						<div class="clear"></div>
						<br /><br />
						
						<div class="catalog_good_decr">
							
						<div class="cat_bc_block {klient_foool_active}">
							<!-- START BLOCK : block_group_properties -->
							<h3 class="ot2">Xарактеристики</h3>
							<div id="tphoto-blocks">
								<div class="gallery">		
									<table id="properties" style="width: 98% !important;">
										<!-- START BLOCK : block_group_properties_row -->
										
										<!-- START BLOCK : block_group_property -->
										<tr>
											<td>{title}</td>
											<td>{prefix} {value} {suffix}</td>
										</tr>
										<!-- END BLOCK : block_group_property -->
										
										<!-- START BLOCK : block_group_delim -->
										<tr>
											<td colspan="2"><b>{title}</b></td>
										</tr>
										<!-- END BLOCK : block_group_delim -->
										<!-- END BLOCK : block_group_properties_row -->
									</table>
								
								</div>
							</div>
							<!-- END BLOCK : block_group_properties -->
						</div>
						
						<div class="cat_bc_block {desc_active}">
							<!-- START BLOCK : block_description -->
							{product_description}
							<!-- END BLOCK : block_description -->	

								
						</div>
						
						<div class="cat_bc_block {files_active}">
							<!-- START BLOCK : loaded_block -->
								{file_alarm}
						<table cellpadding=2 cellspacing=15 border=0 class="cat_bc_block_tbl">
									<tr>
										<th width=40></th>
										<th width=180>Название</th>
										<th width=500>Файл для скачивания</th>
                                        <th width=100>Кол-во скачиваний</th>
										
									</tr>
						<!-- START BLOCK : loaded -->
						<tr class="file_table_tr">
						<td align=center valign="top">
						<img src="/i/{type}_ico.png" />
						</td>
						<td align=center valign="top">
						{name}
						</td>
						<td align=center valign="top">
						<a href="{path}" target="_blank" class="download_file {warning}" ini="{id}">{filename}</a>
                            <div class='popup_js' align="center">
                                При обновлении баз и прошивки комбо устройств DRS-GD59 и DRS-GD69 используйте только программу GPSUpdate со странички данных моделей. При попытке обновления с помощью старых версий Update Tool для iG серии детекторов комбо-устройство выйдет из строя! В данном случае вы лишаетесь гарантийного обслуживания.
                                Продолжить скачивание?
                                <div style="padding: 15px;">
                                    <a href="{path}" target="_blank" ini="{id}"><input type="button" class="subm_yes" ini = "{id}" value="Да"></a>
                                    <input type="button" class="subm_no" value="Нет">
                                </div>
                                <div class="for_height"><span class="error error_del"></span></div>
                            </div>
						</td>
                            <td align=center valign="top" class="download_file_count">
                                {download_count}
                            </td>
						<!-- END BLOCK : loaded -->
						</table>
                            <script type="text/javascript">
                                $('.subm_no').click(function(){
                                    $('.popup_js').fadeOut('slow');
                                });

                                $('.subm_yes').click(function(){
                                    $($(this).parents('.file_table_tr')).find('.warning_class').click();
                                    $('.popup_js').fadeOut('slow');
                                });

                                $('.warning').click(function(e){
                                    $('.popup_js').fadeIn('slow');
                                    $('.popup_js').css({
                                        'top':e.pageY,
                                        'left':e.pageX
                                    });
                                });
                                $('.download_file').click(function(){
                                    if($(this).hasClass('warning')){
                                            return false;
                                    }
                                    else {
                                        var id = $(this).attr('ini');
                                        var count = $($(this).parents('.file_table_tr')).find('.download_file_count').html();
                                        $($(this).parents('.file_table_tr')).find('.download_file_count').html(parseInt(count) + 1);
                                        $.post("/catalog/?action=download_count", {id: id},
                                                function (data) {
                                                });
                                    }
                                })
                            </script>
                            {file_alarm_message}
						<!-- END BLOCK : loaded_block -->
						</div>
						
						<div class="cat_bc_block {swf_active}">
							<!-- START BLOCK : swf -->
                                <div class="swf_text">{swf_text}</div>   
								<object style="width: 100%; height: 800px;">
									<param name="movie" value="{swf}" style="width: 100%; height: 800px;">
									<param name="allowfullscreen" value="true"/>
									<param name="menu" value="false"/>
									<param name="wmode" value="transparent"/>
									<embed src="{swf}" style="width: 100%; height: 800px;"></embed>
								</object>
						
						<!-- END BLOCK : swf -->
						</div>





						<div class="cat_bc_block {shop_active}">
							<!-- START BLOCK : shops -->
						<div style="margin:0;">
                        <table class="cat_mag_tbl" style="width: 100%;">
                        <tr><th>Рейтинг</th><th>Магазин</th><th>Стоимость</th><th></th></tr>
						<!-- START BLOCK : shop -->
                        <tr>
						  <td><div class="rating_item_wr"><span class="rating_item rating_item{shop_rating}"></span></div></td>
                          <td><a href="{shop_link}">{shop_name}</a></td>
                          <td>{price}{currency}</td>
                          <td><a href="{link}" class="mag_buy">купить</a></td>
						</tr>
                        <!-- END BLOCK : shop -->
                        </table>
						</div>
						<!-- END BLOCK : shops -->
						</div>
							
								<!-- START BLOCK : faq -->
								<div class="cat_bc_block {faq_active}">
								<script>
									$(function() {
										$( "#accordion" ).accordion({
											collapsible: true,
											heightStyle: "content",
											active: false
										});
									});
								</script>
								<div id="accordion" style="width: 100%;">
									<!-- START BLOCK : accordion_lvl1 -->
									<h3>{title}</h3>
									<div>
										{faq_text}
									</div>
									<!-- END BLOCK : accordion_lvl1 -->
								</div>
								</div>
								<!-- END BLOCK : faq -->
							
							<!-- START BLOCK : analog -->
                            <div class="cat_bc_block {analog_active}">
									<div class = 'fra_adm'>
										<div class = 'fra_adm_block1' style="align-items: baseline;
										    background-color: white;
										    display: flex;
										    height: 8px;
										    justify-content: space-between;
										    margin: 78px 199px 0;
										    padding: 0 0 20px;
										    position: absolute;
										    width: 374px;"></div>
										<div class = 'fra_adm_block2' style="    
											align-items: baseline;
										    background-color: white;
										    display: flex;
										    height: 8px;
										    justify-content: space-between;
										    margin: 3px 2px 0;
										    padding: 0 0 20px;
										    position: absolute;
										    width: 575px;"></div>
                                <script type="text/javascript">
							    (function (w, d) {
							        var host = "widget.admitad.com";
							        var js, id = host.replace(/[^a-z0-9]/g,''), ref = d.getElementsByTagName('script')[0];
							        if (d.getElementById(id)) {return;}
							        window._adwid_config = {host: host};
							        js = d.createElement('script'); js.id = id; js.async = true; js.charset = 'utf-8';
							        js.src = '//' + host + '/js/widget.js?r' + ((new Date()).getTime()/3600000|0);
							        ref.parentNode.insertBefore(js, ref);
							    }(window, document));
							</script>
							<script id="39b1b0fc" data-id="10618">
							    window._adwid = window._adwid || [];
							    window._adwid.push("39b1b0fc")

                                    $(window).load(function () {$('.js_analog').click();});
                                </script>
									</div>
                            </div>
							<!-- END BLOCK : analog -->		
							
							<!-- START BLOCK : analog_market -->	
								<div class="cat_bc_block {analog_market_active}" style="max-height: 500px ; overflow: scroll">
										<!-- START BLOCK : analog_market_offer -->
										    
                <div class="offers-yandex-pic"><img src="{image}" width="100px;"></div>
                <div class="offers-yandex-desc">
                  <p>
                  <a style="font-size: 14px !important;" href="{url}" target="_blank">{name}</a><br>
                  <span class="clip">{description}</span><br>
                 
                  <span><a style="color: #070; font-size: 14px;" href="{url}" target="_blank">{site}</a></span>
                
                  <span style="cursor: default;" id="yandex-star-9740">
                  <img  src="/i/star-{star_1}.png" alt="1" title="" style="margin-left: -5px; margin-right: -5px;">&nbsp;
                  <img  src="/i/star-{star_2}.png" alt="2" title="" style="margin-right: -5px;">&nbsp;
                  <img  src="/i/star-{star_3}.png" alt="3" title="" style="margin-right: -5px;">&nbsp;
                  <img  src="/i/star-{star_4}.png" alt="4" title="" style="margin-right: -5px;">&nbsp;
                  <img  src="/i/star-{star_5}.png" alt="5" title="" >
                  <span style="margin-left: 10px;">Отзывы: {reviews}</span><br>
                  <span>{warranty}</span>
                  </p>
                </div>
                <div class="offers-yandex-price">
                  {price} {currency}<br>
                  <span class="delivery__icon_type_{delivery}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>{delivery_price} {onStock}</span><br>
                                    <a href="{url}" target="_blank" style="font-size: 14px;">В магазин</a>
                </div>
                <div style="clear: both;"> </div>
										<!-- END BLOCK : analog_market_offer -->	
								</div>
								<div class="yandex-link">
									<a href="https://{product_id}" target="_blank">Все цены на Яндекс.Маркет</a>
								</div>
							<!-- END BLOCK : analog_market -->		
							
						<br /><br />
						</div><!-- EO catalog_good_slider -->
                    <!-- START BLOCK : block_concernd_c -->
                    <div > {conf}    </div>
                    <!-- END BLOCK : block_concernd_c -->
						<div class="blueline100a"></div>
						
<!-- hide mail.ru -->				
<style>
.social_block.sb_large{
	width: 130px;
}

.social_block_temp{
	margin-left: -123px;
}
</style>
						
						<div class="social_block">
							<!-- Put this script tag to the <head> of your page -->
							<script type="text/javascript" src="//vk.com/js/api/openapi.js?97"></script>

							<script type="text/javascript">
							  VK.init({apiId: 3757026, onlyWidgets: true});
							</script>

							<!-- Put this div tag to the place, where the Like block will be -->
							<div id="vk_like"></div>
							<script type="text/javascript">
							VK.Widgets.Like("vk_like", {type: "button", height: 20});
							</script>
						</div>				
						<div class="social_block sb_large">
							<div class="social_block_temp">
							<a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'cm' : '1', 'ck' : '3', 'sz' : '20', 'st' : '2', 'tp' : 'combo'}">Нравится</a>
							<script src="http://cdn.connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>
							</div>
						</div>
						<div class="social_block">
						<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<div class="fb-like" data-href="http://supra.ru.web3.crearshost.ru/" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true"></div>	
						</div>	
						<div class="clear"></div>
						
						
						
						<!-- START BLOCK : block_concernd -->
						<div class="page_pp_wrap">
							<div class="custom_h2_page">Аксессуары</div>
							<div class="blueline"></div>
							
							<div>
							<!-- START BLOCK : block_concernd_row -->
							<div class="hz_item_2">
							     <!-- START BLOCK : block_concernd_image_middle -->
								<div class="hz_item_img_2"><a href="{prod_link}" title="{title}"><img src="{image_path}" alt="{title}" title="{title}"></a></div>
								<!-- END BLOCK : block_concernd_image_middle -->
								<div class="hz_category_2">{categ_title}</div>
								<!-- START BLOCK : concernd_price -->
								<!--
								<a href="{link}" class="pricebutton"><span>{price} Р</span></a>
								-->
								<!-- END BLOCK : concernd_price -->
								<!-- START BLOCK : concernd_dprice -->
								<!--
								<a href="{link}" class="pricebuttonred"><span>{price} Р</span></a>
								<div class="pricebuttonred_discount">{percent}%</div>
								-->
								<!-- END BLOCK : concernd_dprice -->
							</div>
							<!-- END BLOCK : block_concernd_row -->
							
							
							
							</div>
							
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<br /><br />
						<!-- END BLOCK : block_concernd -->
						
						<!-- START BLOCK : news -->
						<div class="custom_h2">Новости о продукте</div>
						<!-- START BLOCK : news_item -->
						<div class="newsannounce">
							<div class="pht_wrap">
							     <!-- START BLOCK : news_img -->
								<div class="ph"><a href="{link}" title="{title}"><img src="{src}" alt="{title}" title="{title}"></a></div>
								<!-- END BLOCK : news_img -->
								<div class="txt">
									<div class="date2">{date}</div>
									<a href="{link}" title="{title}" class="h5">{title}</a>						
									<div class="an">{announce}</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<!-- END BLOCK : news_item -->
						
						<br />						
						<a href="{link}" title="">Показать все новости</a>
                        <!-- END BLOCK : news -->
					
				</div><!-- EO catalog_good -->		
		</div>























