
<div class="redmenu"> 
		<ul class="menu">
		
<!-- START BLOCK : b1 -->		
<li class="toplevel toplevel{pos}"><a href="{link}" class="redmenu{pos} {active}" title="{title}">{title}</a>
				<!-- START BLOCK : bb -->
				<ul>
					<!-- START BLOCK : b2 -->
					<li class="{class}"><a href="{link}">{title}</a>
					      <!-- START BLOCK : bbb -->
						  <ul>
							<!-- START BLOCK : b3 -->
							<li><a href="{link}">{title}</a></li>
							<!-- END BLOCK : b3 -->
						  </ul>
						<!-- END BLOCK : bbb -->
					</li>
					<!-- END BLOCK : b2 -->
					
				</ul>
				<!-- END BLOCK : bb -->
			</li>
			<!-- END BLOCK : b1 -->
</ul>
</div>			


