

<!-- START BLOCK : block_groupping -->
<div class="bot_cat_menu">
<!-- START BLOCK : block_level1 -->
<ul><li><a href="{link}">{title}</a></li>
<!-- START BLOCK : block_level1_cnt -->
&nbsp;({cnt})
<!-- END BLOCK : block_level1_cnt -->


<!-- START BLOCK : block_level1_img -->

<!-- END BLOCK : block_level1_img -->
<!-- START BLOCK : block_level1_no_img -->

<!-- END BLOCK : block_level1_no_img -->

	<!-- START BLOCK : block_level2 -->
	
		<!-- START BLOCK : block_level2_active -->
		<li><a href="{link}">{title}</a></li>
			<!-- START BLOCK : block_level2_active_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_level2_active_cnt -->
			
			<!-- START BLOCK : block_level2_active_img -->
			<li><a href="{link}">{title}</a></li>
			<!-- END BLOCK : block_level2_active_img -->
			<!-- START BLOCK : block_level2_active_no_img -->
			<li><a href="{link}">{title}</a></li>
			<!-- END BLOCK : block_level2_active_no_img -->
		
		<!-- END BLOCK : block_level2_active -->
		
		<!-- START BLOCK : block_level2_noactive -->
		<li><a href="{link}">{title}</a></li>
			<!-- START BLOCK : block_level2_noactive_cnt -->
			&nbsp;({cnt})
			<!-- END BLOCK : block_level2_noactive_cnt -->
			
			<!-- START BLOCK : block_level2_noactive_img -->
			<li><a href="{link}">{title}</a></li>
			<!-- END BLOCK : block_level2_noactive_img -->
			<!-- START BLOCK : block_level2_noactive_no_img -->
			<li><a href="{link}">{title}</a></li>
			<!-- END BLOCK : block_level2_noactive_no_img -->
		
		<!-- END BLOCK : block_level2_noactive -->
	
	<!-- START BLOCK : block_level2 -->
</ul>

<!-- END BLOCK : block_level1 -->
<div class="clear"></div>
</div>
<!-- END BLOCK : block_groupping -->