<!-- START BLOCK : block_question -->
На сайте {HOST} в разделе {RZD}<br>
 оставлен новый вопрос: <br><br>
Пользователь: {username} {email}  <br>
Город: {city}  <br>
Вопрос: {question}  <br>
Дата: {date}   <br>
<hr>
IP: {IP}
<!-- END BLOCK : block_question -->

<!-- START BLOCK : block_answer -->
На сайте {HOST} в разделе {RZD}<br>
 Вами был оставлен вопрос:<br>
{question} <br>
<hr>
 На данный вопрос был оставлен ответ :  <br>
 {answer}
<hr>
<!-- END BLOCK : block_answer -->