<script>
    $(function() {
        $( "#accordion" ).accordion({
            collapsible: true,
            heightStyle: "content",
            active: false
        });
    });
</script>
<!-- START BLOCK : accordion -->
<div id="accordion" style="width: 133%;">
    <!-- START BLOCK : accordion_lvl1 -->
        <h3>{title}</h3>
        <div>
            <div id="accordion{count}">
                <!-- START BLOCK : accordion_lvl2 -->
                <h3>{title}</h3>
                <div>
                    {faq_text}
                </div>
                <!-- END BLOCK : accordion_lvl2 -->
            </div>
        </div>
    <!-- END BLOCK : accordion_lvl1 -->
</div>
<!-- END BLOCK : accordion -->

<!-- START BLOCK : js_script -->
<script>
    $(function() {
        $( "#accordion{count}" ).accordion({
            collapsible: true,
            heightStyle: "content",
            active: false
        });
    });
</script>
<!-- END BLOCK : js_script -->