<style type="text/css">
.error {color:#ff0000; }
</style>
<!-- START BLOCK : block_error -->
	<div class="error">Невозможно отправить данные формы!</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_error -->

<!-- START BLOCK : block_errorcode -->
	<div class="error">Введен неправильный код!</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_errorcode -->
<!-- START BLOCK : block_form -->



<script>
/*

	
*/
</script>



<!-- обратная связь -->

<script src='/js/validation_about.js' type='text/javascript'></script>

<h2>{form_name}</h2>
<p>Поля, помеченные <span class="element_required">*</span>, обязательны для заполнения!</p>
<form method="post" action="{form_url}" name="{tag_form_name}" class="usual {tag_form_name}" id="{tag_form_name}" enctype="multipart/form-data">
	<input type="hidden" name="action" value="{form_action}">
	<input type="hidden" name="id" value="{form_id}">
	<input type="hidden" name="ids" value="{ids}">
	<!-- START BLOCK : block_form_notice -->
	<!--
	<div>{MSG_Marked_fields} {element_required}, {MSG_required_for_fill}</div>
	-->
	<!-- END BLOCK : block_form_notice -->
<div class="clear"></div>
<table width="400" border="0" cellspacing="0" cellpadding="0">
<tbody>
	<tr>
		<td class="star"></td><td><div id="validation_results"></div></td>
	</tr>	
		
	<!-- START BLOCK : block_form_element -->


		<!-- START BLOCK : block_text_element -->
		
		<tr>
			<td class="star"></td>
			<td class="grey"><label for="{element_name}">{element_title}</label></td>
		</tr>
		<tr>
		<td class="star">{element_required}</td>
		<td class="grey">
		<label class="arrow_box wrong_value"></label>
		<div class="fgreyline"></div>
		<input type="text" name="{element_name}" id="{element_name}" value="{element_value}" class="contform text
        <!-- START BLOCK : block_text_required -->
		 required
		<!-- END BLOCK : block_text_required -->
		" maxlength="{element_text_len}"></td>
		</tr>
		<!-- END BLOCK : block_text_element -->

		<!-- START BLOCK : block_textarea_element -->
		<tr>
			<td class="star"></td>
			<td class="grey"><label for="{element_name}">{element_title}</label></td>
		</tr>
		<tr>
		<td class="star">{element_required}</td>
		<td class="grey">
		<label class="arrow_box wrong_value"></label>
		<div class="fgreyline"></div>
		
		<textarea name="{element_name}" style="height: 170px; resize: none;" cols="21" rows="3" id="{element_name}" class="contform 
        <!-- START BLOCK : block_textarea_required -->
		 required
		<!-- END BLOCK : block_textarea_required -->
		">{element_value}</textarea></td>
		</tr>
		<!-- END BLOCK : block_textarea_element -->
		

		<!-- START BLOCK : block_radio_element -->
		<div class="radio">
		<h2>{element_title}</h2>
		<!-- START BLOCK : block_radio_element_item -->
			<p>
			<input type="radio" name="{element_name}" value="{element_item_title}" {checked} id="{element_item_id}">
			<label for="{element_item_id}">{element_item_title}</label>
			</p>
		<!-- END BLOCK : block_radio_element_item -->
		</div>
		<!-- END BLOCK : block_radio_element -->


		<!-- START BLOCK : block_select_element -->
		
		<tr>
			<td class="star"></td>
			<td class="grey"><label for="{element_name}">{element_title}</label></td>
		</tr>
		
		<tr>
			<td class="star"></td>
			<td class="grey">
			<label class="arrow_box wrong_value"></label>
			<div class="fgreyline"></div>
			<select name="{element_name}" class="contform text">
				<!-- START BLOCK : block_select_element_item -->
				<option value="{element_item_title}" {selected}>{element_item_title}</option>
				<!-- END BLOCK : block_select_element_item -->
			</select>
		</tr>
		





		<!-- END BLOCK : block_select_element -->

		<!-- START BLOCK : block_checkbox_element -->
		<div class="radio">
			<p>
			<input type="checkbox" name="{element_name}" id="{element_name}" value="1" {element_checked}>
			<label for="{element_name}">{element_title}</label>
			</p>
		</div>
		<!-- END BLOCK : block_checkbox_element -->


		<!-- START BLOCK : block_date_element -->
		<Link rel="StyleSheet" href="/css/calendar-my-style.css" TYPE="text/css">
		<script type="text/javascript" src="/js/calendar/calendar.js"></script>
		<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
		<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>

		<div class="cldr">
		<h2><label for="{element_name}">{element_title}</label>{element_required}</h2>
		<input type="text" name="{element_name}" id="{element_name}" size="30" value="{element_value}"
        <!-- START BLOCK : block_date_required -->
		class="required"
		<!-- END BLOCK : block_date_required -->
		/>
		<img src="/i/admin/b_cal.gif" name="{trigger_uid}" id="{trigger_uid}" class="form-c-button">
		</div>
		<script type="text/javascript">
			Calendar.setup({
				inputField: "{element_name}",
				ifFormat: "dd.mm.y",
				button: "{trigger_uid}",
				mondayFirst: true
			});
		</script>
		<!-- END BLOCK : block_date_element -->


		<!-- START BLOCK : block_comments_element -->
		<div>
		<h2>{element_title}</h2>
		<p>{element_comments}</p>
		</div>
		<!-- END BLOCK : block_comments_element -->

		<!-- START BLOCK : block_file_element -->
		<div>
		<h2><label for="{element_name}">{element_title}</label>{element_required}</h2>
		<input type="file" name="{element_name}" id="{element_name}"
        <!-- START BLOCK : block_file_required -->
		 class="required"
		<!-- END BLOCK : block_file_required -->
		>
		</div>
		<!-- END BLOCK : block_file_element -->


	<!-- END BLOCK : block_form_element -->

	<!-- START BLOCK : block_captcha -->

		<tr><td class="star"></td><td class="grey">Введите <a href="#" class="dashed" onclick="document.getElementById('image_captcha_{img_id}').src = '{captcha_image_url}?rand=' + Math.round(Math.random() * 100000); return false;" title="Click the figures shown">код</a>, указанный на картинке:</td></tr>	
		<tr><td class="star"><sup>*</sup></td>
		<td class="grey">
			<label class="arrow_box wrong_value"></label><div class="clear"></div>
			<div class="captcha"><img id="image_captcha_{img_id}" src="{captcha_image_url}"></div>
			<input type="text" class="contformcaptcha contform required curcaptcha" name="captcha" maxlength="5" autocomplete="off" id="captcha" style="">
		</td></tr>	
		
	<!-- END BLOCK : block_captcha -->

		<tr><td class="star"></td><td><input type="image" class="submitForm" src="/i/send.png" alt="Отправить" title="Отправить"></td></tr>
		

</tbody></table>
	

	
</form>
<!-- END BLOCK : block_form -->

<style>
.formright.formright_0{display: none;}
.formright.formright_1{display: none;}
</style>
<script>
/*

*/
</script>

<!-- START BLOCK : block_message -->
	<div>Данные формы успешно отправлены.</div>
	<br>
	<div><a href="javascript:history.go(-1);">вернуться назад</a></div>
	<br>
<!-- END BLOCK : block_message -->