<!-- INCLUDE BLOCK : news_edit_up -->

<h3 class="h3_block">Новости</h3>

<!-- START BLOCK : block_news_announces -->
<!-- INCLUDE BLOCK : news_edit_middle -->

<div class="news">
	<!-- START BLOCK : block_news_img -->
	<!--<div class="news_img">
	<a href="{news_link}"><img src="{img_path}" {img_width_height}></a>
	</div>-->
	<!-- END BLOCK : block_news_img -->
	<div class="news_text" style="margin-left: 0;">
<span class="date">{news_date}</span>
<a href="{news_link}" class="news_title">{news_title}</a>
	<!-- START BLOCK : block_news_theme -->
	<br><b>Тематика:</b> {news_theme}
	<!-- END BLOCK : block_news_theme -->
<p>
{news_announce_with_links}
</p>
<!-- START BLOCK : tag_list -->
<div class="tag_img">Теги:
<!-- START BLOCK : tag_list_item -->
<span style="white-space:nowrap;"><a href="{transurl}&action=tag&tag={name}">{name}</a>{divider}
<!-- END BLOCK : tag_list_item -->
</div>
<!-- END BLOCK : tag_list -->
<!-- START BLOCK : tag_list_empty -->
<!-- END BLOCK : tag_list_empty -->
	</div>
</div>

<!-- INCLUDE BLOCK : news_edit_bottom -->
<!-- END BLOCK : block_news_announces -->

<div class="news_all">
<!-- START BLOCK : block_news_rss -->
<a href="{news_rss_link}" class="news_rss">Новости в формате RSS</a>
<!-- END BLOCK : block_news_rss -->
</div>
<br class="both">