

<!-- START BLOCK : block_news_announces -->


<div class="news" style="border: 1px solid #cccccc;margin-bottom: 10px;padding: 10px 0;position: relative;">
    <div style="padding-left: 10px;">{news_date}</div>
	<h2 style="margin-bottom: 10px;text-align: center;">{news_title}</h2>
	
<div style="width: 640px;margin: 0 auto;">{news_body}</div>


<!-- START BLOCK : prod -->
<br>
<div style="text-align: center;"><a href="{link}">Перейти к товару - {title}</a></div>
<!-- END BLOCK : prod -->

</div>

<!-- END BLOCK : block_news_announces -->

<!-- START BLOCK : nav -->
<p class="tech">Страницы: {nav_string}</p>
<!-- END BLOCK : nav -->