<!-- новости -->
<img src=/i/1.gif width=1 height=25 border=0>
<div class=scr>
<span class=date>{news_date}</span> <h1>{news_title}</h1><br>
<!-- START BLOCK : block_news_theme -->
<b>Тематика:</b> {news_theme}<br>
<!-- END BLOCK : block_news_theme -->
</div>

<div style="border-top:9 solid #1262AC;"></div>
<div style="border-bottom:10 solid #D0E0EE; margin-top:1"></div>
<div class=scr style="border-bottom:1 solid #D0E0EE;padding-top:2;padding-bottom:3;">Оригинал документа: <a href="{original_link}">{original_link}</a></div>

<img src=/i/1.gif width=1 height=18 border=0>
<!-- контент -->
<div class=scr>
<!-- START BLOCK : block_news_img -->
<img src="{img_path}" {img_width_height} vspace="3" hspace="10" align="left" />
<!-- END BLOCK : block_news_img -->
{news_body}
</div>
<!-- /контент -->
<!--/новости -->

<img src=/i/1.gif width=1 height=18 border=0>

<div style="border-bottom:10 solid #D0E0EE;"></div>
<div style="border-top:9 solid #1262AC; margin-top:1"></div>
<img src=/i/1.gif width=1 height=10 border=0><br>

<div class=scr>
<table cellpadding="0" cellspacing=0 border=0>
<tr valign=top>
<td width=48%>Содействие в совершенствовании и развитии законодательной базы неправительственных
	некоммерческих организаций и некоммерческого (третьего) сектора</td>

<td width=1%><div style="height:60; width:1;border-right:4 solid #D0E0EE; margin:0 40;"></div></td>

<td width=48%>119 992  Россия, г. Москва <br>ул. Новый Арбат, д. 11, оф. 403<br>
	Тел: (095) 292-91-27,  <br>факс:    (095) 292-53-12 <br>e-mail:   bodr@duma.gov.ru</td>
</tr>
</table>
</div>
<img src=/i/1.gif width=1 height=25 border=0>