<!-- START BLOCK : block_admin_js_set -->
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" language="JavaScript" src='/mod/news/js/news.js'></script>
<script type="text/javascript" language="JavaScript" src="/mod/news/js/newsAdm.js"></script>
<!-- END BLOCK : block_admin_js_set -->

<div class="index_news">
    <div class="custom_h2 marginleft0"><a href="/news/" style="font-size: 21px;">Новости</a>  <span  class="padpisacca">Подписаться</span><form id="addSubscr"><div  class="answTopMid_new"><input type="email" placeholder="Введите свой email" id="mailsubscr" required><input type="submit" value="Подписаться"></form>
            </div></div>

			
			<div class="blueline100 marginleft0"></div>
			<div class="announces">

<!-- START BLOCK : block_create_news_menu -->
<div class="module-tools">
<div class="admin-edititem" style="margin: 0 0 10px;">
	<div class="admin-shadow"></div><div style="width: 150px;"class="admin-icon" onmouseover="adminShowShadow(this,event)" onmouseout="adminHideMenu(this)"><img style="float: right; "onclick="adminShowMenu(this)" class="admin-icon" src="/i/admin/block_item_add.gif" alt="Свойства элемента" name="mod_article_{article_id}" title=""><div style="visibility: visible; text-align: right; line-height: 17px; margin-right: 25px;">
	<span><span><span style="color: #999; cursor: pointer;" onclick="return showNewsEditDiv(this,'news','add',-1,'{adminurl}');">Добавить новость</span></span></span>
	</div></div>
</div>
</div>
<!-- END BLOCK : block_create_news_menu -->

<!-- START BLOCK : block_news_titles -->
<!-- START BLOCK : block_edit_news_menu_start -->
<div class="module-tools">
<div class="admin-edititem">
<div class="admin-shadow"></div><div class="admin-icon admin-hidden" onmouseover="adminShowShadow(this,event)" onmouseout="adminHideMenu(this)"><img onclick="adminShowMenu(this)" class="admin-icon" src="/i/admin/block_item.gif" alt="Свойства элемента" name="mod_article_{article_id}" title=""><div class="admin-popupmenu">
<h6>Новость</h6>
<ul>
<!-- START BLOCK : block_news_edit -->
<li><a href="" onclick="return showNewsEditDiv(this,'news','edit',{news_id},'{adminurl}');">Редактировать</a>
<!-- END BLOCK : block_news_edit -->
<!-- START BLOCK : block_news_activate -->
<li id="news_{news_id}_activate" style="display: {activate_display}">
	<a href="" onclick="return doActivate(this,'news','activate',{news_id},'{adminurl}');">Публиковать</a>
<li id="news_{news_id}_suspend" style="display: {suspend_display}">
	<a href="" onclick="return doActivate(this,'news','suspend',{news_id},'{adminurl}');">Не публиковать</a>
<!-- END BLOCK : block_news_activate -->
<!-- START BLOCK : block_news_rights -->
<li><a href="" onclick="return showNewsEditDiv(this,'news','editrights',{news_id},'{adminurl}');">Права</a>
<!-- END BLOCK : block_news_rights -->
<!-- START BLOCK : block_news_delete -->
<li><a href="" onclick="if(confirm('Вы действительно желаете удалить выбранную новость?')) doDelete(this,'news','del',{news_id},'{adminurl}'); return false;">Удалить</a>
<!-- END BLOCK : block_news_delete -->
</ul></div>
</div></div>
<!-- END BLOCK : block_edit_news_menu_start -->


<div class="newsannounce">
					<div class="pht_wrap">
						
						<!-- START BLOCK : block_news_img -->
						<div class="ph"><a href="{news_link}" title=""><img src="{img_path}" alt="" title=""></a></div>
						<!-- END BLOCK : block_news_img -->
						<div class="txt">
							<div class="date2">{news_date}</div>
							<a href="{news_link}" title="{news_title}" class="h5">{news_title}</a>						
							<div class="an">{news_announce_with_links}</div>
						</div>
					</div>
				</div>




<!-- START BLOCK : block_empty_content -->
<img src="/i/admin/0.gif" height=18 border=0>
<!-- END BLOCK : block_empty_content -->
<!-- START BLOCK : block_edit_news_menu_end -->
</div>
<!-- END BLOCK : block_edit_news_menu_end -->
<!-- END BLOCK : block_news_titles -->

</div></div>
<script type="text/javascript">
    $(function(){
        $('#addSubscr').submit(function(){
            var mail = $('#mailsubscr').val();
            $.post('/news/?action=subscr', {mail: mail})
                    .success(function(data){
                        if(data){
                            alert('Вы уже подписаны на рассылку новостей!');
                        }
                        else
                        {
                            $('#addSubscr').html('');
                            $('.padpisacca').html('').removeClass('padpisacca');
                            alert('Спасибо за подписку.');
                        }

                    }).error(function(){
                        alert('Ошибка при подписке на рассылку новостей');
                    });
            return false;
        })
    })
</script>