<h3 class="h3_block">Календарь новостей</h3>
<div class="block">
<div id="submenublock" style="text-align: center;">
<span class="shadow"></span>

<h2 style="color: #666666;" >

<div style="background:#f0f0f0; padding: 6px 10px 6px 2px">
    <a class="monthlink prev" style="text-decoration: none; color: #666666" href="{prevMonth}" title="Предыдущий месяц">«</a>
        &nbsp;&nbsp;&nbsp;&nbsp;{monthName} {yearName}&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="monthlink next" style="text-decoration: none; color: #666666" href="{nextMonth}" title="Следующий месяц">»</a>
 </div>
</h2>

<table id="calendar" cellpadding="3" width="100%" style="border-collapse: separate;">
    <tr style="background:#ffffff; padding: 6px 10px 6px 2px;">
        <th style="color: #4A80BE;">Пн</th>
        <th style="color: #4A80BE;">Вт</th>
        <th style="color: #4A80BE;">Ср</th>
        <th style="color: #4A80BE;">Чт</th>
        <th style="color: #4A80BE;">Пт</th>
         <th style="color: #FF9317;">Сб</th>
         <th style="color: #FF9317;">Вс</th>
    </tr>
    <!-- START BLOCK : block_week -->
    <tr>
        <!-- START BLOCK : block_day -->
            <!-- START BLOCK : block_empty -->
                <td>&nbsp;</td>
            <!-- END BLOCK : block_empty -->
            <!-- START BLOCK : block_day_link -->
                <td style="background:#f0f0f0;"><b><a  style="text-decoration: none; color: #666666" href="{link}&action=tlist">{day}</a></b></td>
            <!-- END BLOCK : block_day_link -->
            <!-- START BLOCK : block_day_nolink -->
                <td>{day}</td>
            <!-- END BLOCK : block_day_nolink -->
        <!-- END BLOCK : block_day -->
    </tr>
    <!-- END BLOCK : block_week -->
 </table>
<br>
<hr>
    </div>
</div>
<script>(function($){
var blockID = '{BLOCK_ID}';
var calendarLoad = function(){
    var calendarBlock = $('a.monthlink:first').closest('div.block'),
        loadCalendar = function(url){
        var srch = url.split('?');
        var h = location.pathname + '?'+srch[1];
        $.post(h, {BLOCK_ID: blockID},function(info){
            var block = $(info).find('a.monthlink:first').closest('div.block');
            calendarBlock.replaceWith(block);
            calendarLoad();
        });
    }
    $('a.monthlink[href]').bind('click',function(){
        loadCalendar($(this).attr('href'));
        return false;
    });
};
calendarLoad();
})(jQuery)</script>