<!-- START BLOCK : block_context_menu -->
<!-- контекстное меню -->
<div class="bot_menu">
	<!-- START BLOCK : block_context_menu_item -->	
		<!-- START BLOCK : block_context_menu_active_item -->
		
		<!-- START BLOCK : block_active_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : block_active_img -->
        <!-- START BLOCK : block_active_no_img -->
        
		<a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : block_active_no_img -->
        
		<!-- END BLOCK : block_context_menu_active_item -->
		
		<!-- START BLOCK : block_context_menu_current_item -->
		
		<!-- START BLOCK : block_curr_img -->
        <img src="{path}" title="{page_name}" alt="{page_name}">
        <!-- END BLOCK : block_curr_img -->
        <!-- START BLOCK : block_curr_no_img -->
        <a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : block_curr_no_img -->
        
		<!-- END BLOCK : block_context_menu_current_item -->
	
	<!-- END BLOCK : block_context_menu_item -->
		<a href="/portal/" target="_blank">Портал обучения и развития</a>
	<div class="clear"></div>
</div>
<!--/контекстное меню -->
<!-- END BLOCK : block_context_menu -->
