<div class="boxmenu">
			<div class="mx">
				<div class="mx2">
<!-- START BLOCK : level1_menu -->
<ul class="menu1" id="top-menu">
<!-- START BLOCK : level1_menu_item -->
    <!-- START BLOCK : level1_menu_active_item -->
    <li id="li-{page_id}">
        <!-- START BLOCK : level1_active_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : level1_active_img -->
        <!-- START BLOCK : level1_active_no_img -->
        <a href="{page_link}">{page_name}</a><span></span>
        <!-- END BLOCK : level1_active_no_img -->
    <!-- END BLOCK : level1_menu_active_item -->
    <!-- START BLOCK : level1_menu_current_children_item -->
    <li class="curr">
        <!-- START BLOCK : level1_curr_child_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : level1_curr_child_img -->
        <!-- START BLOCK : level1_curr_child_no_img -->


        <a href="{page_link}">{page_name}</a><span></span>
        <!-- END BLOCK : level1_curr_child_no_img -->
    <!-- END BLOCK : level1_menu_current_children_item -->
    <!-- START BLOCK : level1_menu_current_item -->
    <li class="curr">
        <!-- START BLOCK : level1_curr_img -->
        <img src="{path}">
        <!-- END BLOCK : level1_curr_img -->
        <!-- START BLOCK : level1_curr_no_img -->
       <a href="{page_link}">{page_name}</a><span></span>
        <!-- END BLOCK : level1_curr_no_img -->
    <!-- END BLOCK : level1_menu_current_item -->
    
    <!-- START BLOCK : level2_menu -->
    <ul class="dropdown" style="display: none;">
    <!-- START BLOCK : level2_menu_item -->
        <!-- START BLOCK : level2_menu_active_item -->
        <li id="li-{page_id}">
            <!-- START BLOCK : level2_active_img -->
            <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
            <!-- END BLOCK : level2_active_img -->
            <!-- START BLOCK : level2_active_no_img -->
            <a href="{page_link}">{page_name}</a>
            <!-- END BLOCK : level2_active_no_img -->
        <!-- END BLOCK : level2_menu_active_item -->
        <!-- START BLOCK : level2_menu_current_children_item -->
        <li class="curr">
            <!-- START BLOCK : level2_curr_child_img -->
            <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
            <!-- END BLOCK : level2_curr_child_img -->
            <!-- START BLOCK : level2_curr_child_no_img -->
    
    
            <a href="{page_link}">{page_name}</a>
            <!-- END BLOCK : level2_curr_child_no_img -->
        <!-- END BLOCK : level2_menu_current_children_item -->
        <!-- START BLOCK : level2_menu_current_item -->
        <li class="curr">
            <!-- START BLOCK : level2_curr_img -->
            <img src="{path}">
            <!-- END BLOCK : level2_curr_img -->
            <!-- START BLOCK : level2_curr_no_img -->
           <a href="{page_link}">{page_name}</a>
            <!-- END BLOCK : level2_curr_no_img -->
        <!-- END BLOCK : level2_menu_current_item -->
    <!-- END BLOCK : level2_menu_item -->
   <li class="footm" style="background: url(/i/footm01.png) no-repeat left top !important;"></li>
			 </ul>
				
    <!-- END BLOCK : level2_menu -->

<!-- END BLOCK : level1_menu_item -->
</ul>
<!-- END BLOCK : level1_menu -->
</div></div></div>

<script type="text/javascript">
$(function() {
    $('#top-menu li').mouseover(function() {
        $('a', this).first().addClass('hover');
        $(this).find('ul.dropdown').show();
    });
    $('#top-menu li').mouseout(function() {
        $('a', this).first().removeClass('hover');
        $(this).find('ul.dropdown').hide();
    });
});
</script>
