<!-- START BLOCK : block_context_menu -->
<!-- контекстное меню -->
<div>
	<!-- START BLOCK : block_context_menu_item -->
	
		<!-- START BLOCK : block_context_menu_active_item -->
		<a href="{page_link}">{page_name}</a><br>
		<!-- END BLOCK : block_context_menu_active_item -->
		
		<!-- START BLOCK : block_context_menu_current_item -->
		<span>{page_name}</span><br>
		<!-- END BLOCK : block_context_menu_current_item -->
	
	<!-- END BLOCK : block_context_menu_item -->
</div>
<!--/контекстное меню -->
<!-- END BLOCK : block_context_menu -->
