<!-- START BLOCK : block_send_form -->
	<script>
	function checkSendForm(form) 
	{
		var SendItem= 0;
		var AlertMessage;
		
		if (form.from.value == "") {
			SendItem= 1; AlertMessage = 'Укажите ваше имя или email';
		} else if (form.email.value == "") {
			SendItem= 1; AlertMessage = 'Укажите E-mail получателя';
		}
		
	  if (!SendItem) {
			form.submit();
		} else {
			alert(AlertMessage);
	  }
	}
	</script>
		<br>
		<p>C помощью этой формы вы можете отправить вашим коллегам ссылку на заинтересовавший вас документ. Введите в поле <b>&laquo;От кого&raquo;</b> ваши персональные данные, в поле <b>&laquo;E-mail&raquo;</b> электронный адрес получателя.</p>
		<br>
		
		<table width=267 cellpadding="0" cellspacing=0 border=0>
		<form method="post" action="{form_send_action}" name="senUrlForm">
		<tr><td nowrap>От кого:&nbsp;</td><td width=90%><input class=inp name="from" value=""></td></tr>
		<tr><td nowrap>E-mail:</td><td><input class=inp name="email" value=""></td></tr>
		<tr><td><br></td><td><textarea class=inp name="url" readonly>{send_url}</textarea></td></tr></tr>
		<tr><td align=right colspan=2><button class=inpbut onClick="checkSendForm(this.form);return false;">отправить</button></td></tr>
		</form>
		</table>

		<div><a href="javascript:window.close();">закрыть окно</a></div>
		<br>
<!-- END BLOCK : block_send_form ->