<!-- START BLOCK : level1_menu -->
<ul>
<!-- START BLOCK : level1_menu_item -->
    <!-- START BLOCK : level1_menu_active_item -->
    <li>
        <!-- START BLOCK : level1_active_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : level1_active_img -->
        <!-- START BLOCK : level1_active_no_img -->
        <a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : level1_active_no_img -->
    <!-- END BLOCK : level1_menu_active_item -->
    <!-- START BLOCK : level1_menu_current_children_item -->
    <li class="curr">
        <!-- START BLOCK : level1_curr_child_img -->
        <a href="{page_link}"><img src="{path}" title="{page_name}" alt="{page_name}"></a>
        <!-- END BLOCK : level1_curr_child_img -->
        <!-- START BLOCK : level1_curr_child_no_img -->


        <a href="{page_link}">{page_name}</a>
        <!-- END BLOCK : level1_curr_child_no_img -->
    <!-- END BLOCK : level1_menu_current_children_item -->
    <!-- START BLOCK : level1_menu_current_item -->
    <li class="curr"><strong>
        <!-- START BLOCK : level1_curr_img -->
        <img src="{path}"></br>
        <!-- END BLOCK : level1_curr_img -->
        <!-- START BLOCK : level1_curr_no_img -->
        {page_name}
        <!-- END BLOCK : level1_curr_no_img -->
        </strong>
    <!-- END BLOCK : level1_menu_current_item -->
<!-- END BLOCK : level1_menu_item -->
</ul>
<!-- END BLOCK : level1_menu -->