<!-- START BLOCK : level1_menu -->
	<script>
	function goToUrl(form) {
		var selIdx = form.smenu.selectedIndex;
		var url = form.smenu.options[selIdx].value;
		if (url != '') location.href = url;
		return false;
	}
	</script>
	<form>
	<select name="smenu" onChange="javascript:goToUrl(this.form);">
	<option value="">Продукты компании:</option>
	<!-- START BLOCK : level1_menu_item -->

		<!-- START BLOCK : level1_menu_active_item -->
		<option value="{page_link}">{page_name}</option>
		<!-- END BLOCK : level1_menu_active_item -->
		
		<!-- START BLOCK : level1_menu_current_item -->
		<option value="{page_link}" selected>{page_name}</option>
		<!-- END BLOCK : level1_menu_current_item -->

	<!-- END BLOCK : level1_menu_item -->
	</select><img src="/i/0.gif" width="10" height="1" alt=""><br>
	</form>
<!-- END BLOCK : level1_menu -->
