	<SCRIPT language="javascript">
	authInit = function() {
		if (!document.getElementById) return;
		var au = document.getElementById("auth");
		var cl = document.getElementById("close");
		var lg = document.getElementById("login");
		au.onclick = function() {
			if (lg.style.display == "block")	{
				lg.style.display = "none";
				this.className = this.className.replace(new RegExp("on\\b"), "");
			} else {
				lg.style.display = "block";
				this.className += "on";
			}
			return false;
		}
		cl.onclick = function() {
			lg.style.display = "none";
			au.className = this.className.replace(new RegExp("on\\b"), "");
			return false;
		}
	}
	window.onload=authInit;
	</SCRIPT>
<!-- START BLOCK : block_auth_form -->
	<div id="auth_block"><a href="{login_link}" id="auth">Авторизация</a> / <a href="{register_link}">Регистрация</a>
		<div id="login">
		<a href="" id="close" title="Закрыть"><img src="/i/close.gif" width="11" height="11" hspace="1" align="right" alt="Закрыть"></a><br>
			<form method="post" action="{form_login_action}" name="loginForm">
				Логин<br>
				<input class=reg type="text" name="siteusername" value="{username}"><br>
				Пароль<br>
				<input class=reg type="password" name="password"><br><br>
				<a href="javascript:document.loginForm.submit();" id=lgreen>Войти<img src="/i/arrow_3.gif" width="7" height="9" hspace="5" align="absmiddle" alt=""></a><br><img src="/i/0.gif" width="1" height="5" alt=""><br>
				<a href="{remind_password_link}">Забыли пароль?</a>
			</form>
		</div>
	</div>
<!-- END BLOCK : block_auth_form -->

<!-- START BLOCK : block_auth_info -->
	<div id="auth_block"><a href="" id="auth">Личные данные</a> / <a href="{logout_link}">Выйти</a>
		<div id="login">
		<a href="" id="close" title="Закрыть"><img src="/i/close.gif" width="11" height="11" hspace="1" align="right" alt="Закрыть"></a><br>
			<form method="post" action="{form_login_action}" name="loginForm">
				Пользователь: <b slyle="color:#295CA2">{siteusername}</b><br><br>
				Группа: <b slyle="color:#295CA2">{group_name}</b><br><br>
				<a href="{edit_profile_link}">Редактировать профиль</a>
				<a href="{logout_link}">Выйти</a>
			</form>
		</div>
	</div>
	<!--div class="auth">Пользователь: <strong>{siteusername}</strong>&nbsp;&nbsp;&nbsp;&nbsp;Группа: <strong>{group_name}</strong>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{logout_link}">Выйти</a></div-->
<!-- END BLOCK : block_auth_info -->