<!-- START BLOCK : block_poll -->
<h3 class="h3_block">Опрос</h3>
<script type="text/javascript">
function checkRadio(form) {
var i=form.variant.length;
var bool=false;
for (a=0; a<i; a++) {
	if (form.variant[a].checked) bool=true;
	}
if (bool) form.submit();
else if (!bool) alert('Вы забыли проголосовать');
}
</script>

<!-- опрос -->
<div class="poll_text">
{poll_question}
</div>
<form method="post" class="poll" action="{form_action}" name="voteForm{poll_id}" id="voteForm{poll_id}">
<input type="hidden" name="id" value="{poll_id}">

	<!-- START BLOCK : block_variants -->
<div><input type="radio" name="variant" value="{v_id}" id="{v_id}"><label for="{v_id}">{v_answer}</label></div>
	<!-- END BLOCK : block_variants -->

<!-- START BLOCK : block_variants_other -->
<div><input type="radio" name="variant" value="other" id="other">
<label for="other" onclick="">другой ответ</label></div>
<input type="text" name="other_text" class="other_text" onclick="this.form.other.checked=true" onchange="this.form.other.checked=true">
<!-- END BLOCK : block_variants_other -->
<br>
<button type="submit" onclick="checkRadio(document.getElementById('voteForm{poll_id}')); return false;">Ответить</button>
</form>
<br>
<a href="{polls_result}" class="poll_results">Результаты опроса</a>
<br><br><br>
<!--/опрос -->

<!-- END BLOCK : block_poll -->