<!-- START BLOCK : block_search_results -->
<input type="hidden" id='link_sort' value="{link_sort}">
<input type="hidden" id='link_price' value="{link_price}">
<div>
    <div class="container">
	    <br>
        <h4>Результаты поиска</h4>
        <h5>Найдено <b>{count}</b> товаров{cat}</h5>
    </div>
</div>
<div>По вашему запросу {search_query}, найдено:</div><br>
<div class="col-md-12">
    <ul id="triple" class="col-md-12 searchList container">
        <!-- START BLOCK : block_search_categories -->
        <li><a href="{link}"">Везде</a></li>
        <!-- START BLOCK : block_search_category -->
        <li><a href="{link}">{title}</a></li>
        <!-- END BLOCK : block_search_category -->
        <!-- END BLOCK : block_search_categories -->

    </ul>
</div>
<div class="col-md-3 container">
    <div class="aside">
        <form method="POST" action="{link_sort}" name="sorts" id="search_form" >
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Цена
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour"> <br>
                        <p>
                            <input id="input-min" type="text" name='amountFrom' value='{amount_from}' style = "width:35%; border: 1px solid lightgray">  -
                            <input id="input-max" type="text" name='amountTo' value='{amount_to}' style = "width:35%; border: 1px solid lightgray"> руб.
                            <br><br>
                        <div id="price_slider" class="noUi-target noUi-ltr noUi-horizontal noUi-background"></div> <br>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function(){
                    var inputMn = document.getElementById('input-min');


                    var html5Slider = document.getElementById('price_slider');

                    noUiSlider.create(html5Slider, {
                        start: [ {amount_from}, {amount_to} ],
                        connect: true,
                        range: {
                            'min': 0,
                            'max': 70000
                        }
                    });
                    var inputMx = document.getElementById('input-max');

                    html5Slider.noUiSlider.on('update', function( values, handle ) {

                        var value = values[handle];

                        if ( handle ) {
                            inputMx.value = Math.round(value);
                        } else {
                            inputMn.value = Math.round(value);
                        }
                    });

                    inputMn.addEventListener('change', function(){
                        html5Slider.noUiSlider.set([this.value, null]);
                    });

                    inputMx.addEventListener('change', function(){
                        html5Slider.noUiSlider.set([null, this.value]);
                    });
                })

            </script>
            <!--            <div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--                <div class="panel panel-default">-->
            <!--                    <div class="panel-heading" role="tab" id="headingOne">-->
            <!--                        <h4 class="panel-title">-->
            <!--                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
            <!--                                Группа-->
            <!--                            </a>-->
            <!--                        </h4>-->
            <!--                    </div>-->
            <!--                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">-->
            <!--                        <input type="checkbox" name="option2" value="a2"> One<Br>-->
            <!--                        <input type="checkbox" name="option3" value="a3"> Two<Br>-->
            <!--                        <input type="checkbox" name="option4" value="a4"> Three<Br>-->
            <!--                        <input type="checkbox" name="option5" value="a5"> Four-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!---->
            <!--            <div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--                <div class="panel panel-default">-->
            <!--                    <div class="panel-heading" role="tab" id="headingTwo">-->
            <!--                        <h4 class="panel-title">-->
            <!--                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
            <!--                                Гарантия-->
            <!--                            </a>-->
            <!--                        </h4>-->
            <!--                    </div>-->
            <!--                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">-->
            <!--                        <input type="checkbox" name="option2" value="a2"> One<Br>-->
            <!--                        <input type="checkbox" name="option3" value="a3"> Two<Br>-->
            <!--                        <input type="checkbox" name="option4" value="a4"> Three<Br>-->
            <!--                        <input type="checkbox" name="option5" value="a5"> Four-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!---->
            <!--            <div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--                <div class="panel panel-default">-->
            <!--                    <div class="panel-heading" role="tab" id="headingThree">-->
            <!--                        <h4 class="panel-title">-->
            <!--                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
            <!--                                Акции-->
            <!--                            </a>-->
            <!--                        </h4>-->
            <!--                    </div>-->
            <!---->
            <!--                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">-->
            <!--                        <input type="checkbox" name="option2" value="a2"> One<Br>-->
            <!--                        <input type="checkbox" name="option3" value="a3"> Two<Br>-->
            <!--                        <input type="checkbox" name="option4" value="a4"> Three<Br>-->
            <!--                        <input type="checkbox" name="option5" value="a5"> Four-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <button type="button" class="btn btn-danger aside_btn js_submit">Показать</button>
            <button type="reset" class="btn aside_btn"><a href='{request_string}'>Сброс</a></button>
        </form>
    </div>
</div>

<div class="navb col-md-9 container">

    <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid" style="border: 3px #F5F5F5 solid;">

        <div class="col-md-6">
            <label for="speed" style="margin-bottom: 20px;">Сортировать по</label>
            <select name="speed" id="filter" style="width:145px;">
                <option {rel} value='rel'>Релевантности</option>
                <option {p_price_1} value='p.price_1'>Цене</option>
                <option {p_hits} value='p.hits'>Популярности</option>
                <option {product_title} value='product_title'>Названию</option>
            </select>
        </div>

        <div class="cbp-vm-options">
            <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
            <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
        </div>
        <ul>



            <script type="text/javascript">
                (function() {

                    var container = document.getElementById( 'cbp-vm' ),
                        optionSwitch = Array.prototype.slice.call( container.querySelectorAll( 'div.cbp-vm-options > a' ) );

                    function init() {
                        optionSwitch.forEach( function( el, i ) {
                            el.addEventListener( 'click', function( ev ) {
                                ev.preventDefault();
                                _switch( this );
                            }, false );
                        } );
                    }

                    function _switch( opt ) {
                        // удаление других классов и выделенных опций
                        optionSwitch.forEach(function(el) {
                            classie.remove( container, el.getAttribute( 'data-view' ) );
                            classie.remove( el, 'cbp-vm-selected' );
                        });
                        // добавление класса отображения
                        classie.add( container, opt.getAttribute( 'data-view' ) );
                        // эта опция остаётся выбранной
                        classie.add( opt, 'cbp-vm-selected' );
                    }

                    init();

                })();
            </script>

            <!-- START BLOCK : block_search_result_item -->
            <li>
                <img src="" alt="" class="cat_img_big" id="imgBig">
                <a class="cbp-vm-image" href="{search_url}"><img src="/files/catalog/sup_rus/{image}"></a>
                <h3 class="cbp-vm-title"><a href="{search_url}">{search_title}</a></h3>
                <div class="cbp-vm-price">{price}</div>
                <div class="cbp-vm-details">
                    {search_descr}
                </div>
                <a class="cbp-vm-icon cbp-vm-add" href="{search_url}">Купить</a>
            </li>
            <!-- 	<p>{search_descr2}<br> -->
            <!-- 	http://{domen}{search_url}</p> -->
            <!-- END BLOCK : block_search_result_item -->
        </ul>
    </div>
</div>
<!-- START BLOCK : nav -->
<div class="col-md-offset-5"><ul class="pagination">{nav_string}</ul></div>
<!-- END BLOCK : nav -->

<!-- END BLOCK : block_search_results -->

<!-- START BLOCK : block_no_success -->
<div>
    <div class="container">
        <h1>Результаты поиска</h1>
        <h5>По вашему запросу {search_query}, ничего не найдено</h5>
    </div>
    <!-- END BLOCK : block_no_success -->




    <script type="text/javascript">

        $(function() {
            $('.js_submit').click(function(){
                window.location.replace($('#link_price').val()+'&amountFrom='+$('#input-min').val()+'&amountTo='+$('#input-max').val());
            })

        });
        
        $( "#filter" ).selectmenu({
                change: function( event, data ) {

                    window.location.replace($('#link_sort').val()+"&sort="+data.item.value);

                }});

        $(function() {

            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 100000,
                values: [ 0, 100000 ],
                slide: function( event, ui ) {
                    $( "#amount" ).val( ui.values[ 0 ] + "RUB" + " - " + ui.values[ 1 ] + "RUB" );
                }
            });
            $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) + "RUB" +
            " - " + $( "#slider-range" ).slider( "values", 1 ) + "RUB" );
        });
        
                           </script>