Спасибо за то, что выбрали наш <a href="{host}">Интернет-магазин</a>!<br>
Мы надеемся, вам понравилось обслуживание в нашем магазине и будем
благодарны за отзыв, который можно разместить на сервисах Яндекс.Маркет (требуется регистрация в Яндекс).<br>
Оставить отзыв можно по адресу <a href="http://market.yandex.ru/shop/178990/reviews"> Оставить отзыв</a><br>
А если вы укажите номер заказа <b>{order_id}</b> в тексте отзыва и отзыв будет опубликован, то мы можем сделать несколько предложений для Вас:<br>
1.      Это скидка 5% на любой товар в нашем магазине(кроме акционного)<br>
2.      Это бесплатная доставка на Ваш последующий заказ(только для г.Москва и МО)<br>
3.      Это перечисление денег 200 р. на номер Вашего мобильного телефона, который указанный в заказе.<br>
Если у Вас есть вопросы по оставлению отзыва или замечания по работе магазина, просим сообщить нам об этом по телефону : 7 (800) 775-49-37 или на нашу почту shop@supra.ru<br>
<br>
Ждем Вашего положительного отзыва.<br>
