Статус вашего заказа № {order_id} на сайте <a href="{host}">{site_name}</a> был изменен на - {status_name}
<br><br>
Если у Вас есть вопросы по вашему заказу или работе магазина, просим связаться с нами по телефону : 7 (800) 775-49-37 или по нашей электронной почте shop@supra.ru
