<!-- START BLOCK : block_no_access -->
У Вас нет доступа для просмотра данной информации.
<!-- END BLOCK : block_no_access -->

<!-- START BLOCK : block_ordering -->

<DIV align=center>
<CENTER>
<TABLE cellSpacing=0 cellPadding=0 width=640 border=0>

  <TR>
    <TD width=320>&nbsp;</TD>
    <TD class=small width=320>
        <NOBR>Индекс, Адресс</NOBR><BR>
        <NOBR>Отдел по работе с клиентами: Телефон</NOBR>
        <BR><NOBR>Факс: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail:  {order_recipient}</NOBR><BR>
    </TD>
  </TR>

  <TR>
    <TD colSpan=2><IMG height=5 src="/i/0.gif" width=1 border=0></TD>
  </TR>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=640 border=0>
  <TR>
    <TD bgColor=#000000 colSpan=3><IMG height=1 alt="" src="/i/0.gif" width=600 border=0></TD></TR>
  <TR>
    <TD class=text vAlign=top width=320 rowSpan=2><BR><B>Авансовый платеж </B> от {date} <BR><BR>
    <IMG height=5 alt="" src="/i/0.gif" width=1 border=0><BR>
    </TD>
    <TD vAlign=top width=1 bgColor=#000000 rowSpan=2><IMG height=120 alt="" src="/i/0.gif" width=1 border=0></TD>
    <TD align=right width=319>&nbsp;</TD></TR>
  <TR>
    <TD>
      <DIV align=center>
      <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TR>
          <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>

          <TD class=text>
          <B>Клиент:</B> <BR>
          {customer} <BR>
          {jpinfo}
        <BR><BR>
        </TD>
       </TR>
      </TABLE>
     </DIV>
    </TD>
  </TR>
</TABLE>
  <BR><BR>
<TABLE borderColor=#000000 cellSpacing=0 cellPadding=0 width=638 border=1
bordersize="1">

  <TR>
    <TD class=text>&nbsp;Авансовый платеж за заказ № {order_id}</TD>
    <TD class=text align=right>&nbsp;{cost_rur}&nbsp;</TD></TR>
  <TR>

    <TD class=text>&nbsp;С учётом НДС {nds}%</TD>
    <TD class=text align=right>&nbsp;{nds_cost}&nbsp;</TD></TR>
  <TR>
    <TD class=text>&nbsp;Всего к оплате</TD>
    <TD class=text align=right>&nbsp;{cost_rur}&nbsp;</TD></TR></TABLE><BR>
<TABLE cellSpacing=0 cellPadding=0 width=640 border=0>


  <TR>
    <TD class=small>Сумма прописью: <I><B>{cost_rur_in_words}</I></TD></TR></TABLE><BR><BR>
<TABLE cellSpacing=0 cellPadding=0 width=640 border=0>

  <TR>
    <TD class=small vAlign=top width=320>
      <B>Получатель:</B><BR>
      <NOBR>{company}, ИНН {inn}, КПП {kpp}</NOBR><BR>
      <NOBR>р/с {sett_account}</NOBR><BR>
      <NOBR>{bank}</NOBR><BR>
      <NOBR>к/с {corr_account}</NOBR><BR>
      <NOBR>БИК {bik}</NOBR><BR>
   </TD>

    <TD><IMG height=1 alt="" src="/i/0.gif" width=10 border=0></TD>
    <TD class=small vAlign=top width=310>
      <DIV align=center><I><NOBR>Уважаемый Абонент!</NOBR><BR>Просим оплатить
      этот счет в течение 10 дней с даты выставления. Вы можете сделать это в
      любом банковском учреждении РФ. Не забудьте указать номер этого счета в
      платежном документе.<BR>Чтобы ускорить зачисление средств на ваш лицевой
      счет, после оплаты пришлите копию квитанции по факсу или на адрес
      {order_recipient}. </I></DIV></TD></TR></TABLE><BR><BR><BR><BR>
<TABLE cellSpacing=0 cellPadding=0 width=640 border=0>
  <TR>
    <TD class=text vAlign=top><BR><BR>Генеральный директор {company}
    <BR>бухгалтер Фамилия И.О.<BR clear=all></TD>

    <TD vAlign=top>
    печать<br>
    <IMG height=177 alt="" src="/i/0.gif" width=320 border=0></TD></TR>
    </TABLE>
</CENTER>
</DIV>
<script language="javacript" type="text/javascript">
window.onload = window.print();
</script>
<!-- END BLOCK : block_ordering -->
