<!-- START BLOCK : block_no_access -->
У Вас нет доступа для просмотра данной информации.
<!-- END BLOCK : block_no_access -->

<!-- START BLOCK : block_sbr -->		
<style type="text/css">
.border {border-bottom: 1px solid black; margin-bottom:-0.2em; padding-bottom: 0px; }
</style>
<script language="javacript" type="text/javascript">
window.onload = window.print();
</script>
<div align="center">	
<table border="0" cellspacing="0" cellpadding="0" style="border: 1px solid black; max-width: 750px;">
<tr valign="top">
<td style="font-size: 11pt; padding:5px" align="center">
<div>Извещение</div>
<div style="margin-top: 12em;">Кассир</div>
</td>
<td bgcolor="black" width="1" height="250" style="border-right: 1px solid black;"><div style="width:1px; height:250px;"><img src="/i/poll.gif" width="1" height="1"></div></td>

<td style="font-size: 10pt; padding:5px">
<div style="font-size: 6pt; float: right;">Форма №ПД-4</div>
<br clear="all"><div class="border"><i>&nbsp;{company}</i></div>
<div align="center" style="font-size: 8pt; padding-top:0;">получатель платежа</div>
<div style="float:left;margin-right: 20pt;">
<div class="border"><i>&nbsp;{bank}</i></div>
<div align="center" style="font-size: 8pt">наименование банка</div>
</div>
<div style="float:right;">
<div class="border"><i>&nbsp;{sett_account}</i></div>
<div align="center" style="font-size: 8pt">расчетный счет</div>

</div>
<br clear="all"><div class="border" style="font-size: 8pt"><i>&nbsp;К/с №{corr_account} БИК {bik} ИНН {inn}</i></div>
<div align="center" style="font-size: 8pt">другие банковские реквизиты</div>
<div class="border"><i>&nbsp;{customer}</i></div>
<div align="center" style="font-size: 8pt">Фамилия И.О. плательщика</div>
<div class="border"><i>&nbsp;{addres}</i></div>
<div align="center" style="font-size: 8pt">адрес плательщика</div>
<div class="border"><i>Оплата заказ №{number}.</i></div>
<div align="center" style="font-size: 8pt">наименование платежа</div>

<div style="float: right; margin-left: 40pt;" class="border"><i></i></div>
<div>
<span style="font-size: 8pt">Сумма платежа </span><span class="border"><i>{cost_rur} руб.</i></span>
</div>
<br><div style="font-size: 8pt;">Подпись<br> плательщика</div>
</td>
</tr>
<tr>
<td bgcolor="black" style="border-top: 1px solid black;" align="right" width="190"><div style="width: 190px; height: 1px;"><img src="/i/poll.gif" width="1" height="1"></div></td>
<td><img src="/i/poll.gif" width="1" height="1"></td>
<td bgcolor="black" style="border-top: 1px solid black;"><div style="width: 200px; height: 1px;"><img src="/i/poll.gif" width="1" height="1"></div></td>
</tr>

<tr>
<td valign="bottom" style="font-size: 11pt; padding:5px" align="center">
<div>Квитанция</div>
<div style="margin-top: 1em;">Кассир</div>
</td>
<td bgcolor="black" width="1" height="250" style="border-right: 1px solid black;"><div style="width:1px; height:250px;"><img src="/i/poll.gif" width="1" height="1"></div></td>
<td style="font-size: 10pt; padding:5px">
<div style="font-size: 6pt; float: right;">Форма №ПД-4</div>
<br clear="all"><div class="border"><i>&nbsp;{company}</i></div>
<div align="center" style="font-size: 8pt; padding-top:0;">получатель платежа</div>
<div style="float:left;margin-right: 20pt;">
<div class="border"><i>&nbsp;{bank}</i></div>

<div align="center" style="font-size: 8pt">наименование банка</div>
</div>
<div style="float:right;">
<div class="border"><i>&nbsp;{sett_account}</i></div>
<div align="center" style="font-size: 8pt">расчетный счет</div>
</div>
<br clear="all"><div class="border" style="font-size: 8pt"><i>&nbsp;К/с №{corr_account} БИК {bik} ИНН {inn}</i></div>
<div align="center" style="font-size: 8pt">другие банковские реквизиты</div>
<div class="border"><i>&nbsp;{customer}</i></div>
<div align="center" style="font-size: 8pt">Фамилия И.О. плательщика</div>

<div class="border"><i>&nbsp;{addres}</i></div>
<div align="center" style="font-size: 8pt">адрес плательщика</div>
<div class="border"><i>Оплата заказ №{number}.</i></div>
<div align="center" style="font-size: 8pt">наименование платежа</div>
<div style="float: right; margin-left: 40pt;" class="border"><i></i></div>
<div>
<span style="font-size: 8pt">Сумма платежа </span><span class="border"><i>{cost_rur} руб.</i></span>
</div>
<br><div style="font-size: 8pt;">Подпись<br> плательщика</div>
</td>
</tr>
</table>
</div>
<!-- END BLOCK : block_sbr -->
