<table class="tbl2">
<tr>
	<th>ID</th>
	<th>Дата</th>
	<th>Заказчик / Контактное&nbsp;лицо</th>
	<th>Сумма</th>
	<th>Скидка</th>
	<th>Статус заказа</th>
</tr>
<!-- START BLOCK : block_order -->
<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td><a href="{order_link}">{order_id}</a></td>
	<td align="center" nowrap><a href="{order_link}">{order_date}</a>&nbsp;</td>
	<td>{order_customer}{order_organization}&nbsp;</td>
	<td align="right">{order_cost}&nbsp;{order_currency}&nbsp;</td>
	<td align="right">{order_discount}&nbsp;</td>
	<td align="center">{order_status}&nbsp;</td>
</tr>
<!-- END BLOCK : block_order -->
</table>

<!-- START BLOCK : nav -->
		<p class="tech">Страницы: {nav_string}</p>
<!-- END BLOCK : nav -->