 <br>
    <style type="text/css">
        .error {color:#ff0000; }
    </style>


    <!-- обратная связь   forms1-->

    <script src="./Дилерам_files/validation_about.js" type="text/javascript"></script>



    <form enctype="multipart/form-data" method="post" name="MyForm9" class="MyForm9" id="MyForm9" >






        <div class="clear"></div>
        <b>{message}<b>
        <div class="blu_line">Отправка отчета:</div>
        <div class="otparavka">
            Дата с <span><input type="text" name="start_date" id="" value="" placeholder="" class="datep"/></span> По <span><input type="text" name="end_date" id="" value="" placeholder="" class="datep"/></span>
        </div>
        <div class="kylter">
            <input type="file" class="inp_file" name="file"/> <span class="kjgtkrfd">Загружать можно только файлы в формате .xls</span>
        </div>
        <input type="submit" class="submitdiller submitdiller2"  value="Отправить"/>
        <script src="http://supra.ru/js/jquery.ui.datepicker-ru.js"></script>
        <script>
            $(document).ready(function(){
                $( ".datep" ).datepicker();
            });

        </script>
    </form>

    <div class="blu_line">Предыдущие отчеты:</div>
    <!-- START BLOCK : reports_history -->
    <p class="datet">{date}</p>
    <a href="/files/reports/{link}">{link}</a>
    <!-- END BLOCK : reports_history -->


    <style>
        .formright.formright_0{display: none;}
        .formright.formright_1{display: none;}
    </style>
    <script>
        /*

         */
    </script>
