<!-- START BLOCK : block_access_deny -->
<div class="err">Авторизуйтесь пожалуйста.</div>
<!-- END BLOCK : block_access_deny -->
<!-- START BLOCK : block_registration_ok_email_confirm -->
<br>Регистрация прошла успешно!<br>
Аккаунт будет доступен после просмотра регистрационных данных администратором.<br>
<!-- END BLOCK : block_registration_ok_email_confirm -->
<!-- START BLOCK : block_registration_ok_admin -->
<br>Регистрация прошла успешно! Аккаунт будет доступен после просмотра регистрационных данных администратором.<br>
<!-- END BLOCK : block_registration_ok_admin -->
<!-- START BLOCK : block_edit_ok -->
<br>Информация успешно обновлена<br>
<!-- END BLOCK : block_edit_ok -->
<!-- START BLOCK : block_input_false -->
<div class="err">Не все обязательные поля заполнены или не совпадют пароли.</div>
<!-- END BLOCK : block_input_false -->
<!-- START BLOCK : block_username_busy -->
<div class="err">Выбранный Вами e-mail уже занят, попробуйте ещё раз.</div>
<!-- END BLOCK : block_username_busy -->
<!-- START BLOCK : block_username_busy_nick -->
<div class="err">Выбранный Вами никнайм уже занят, попробуйте ещё раз.</div>
<!-- END BLOCK : block_username_busy_nick -->
<!-- START BLOCK : block_errorcode -->
<div class="err">Введен неправильный код!</div>
<!-- END BLOCK : block_errorcode -->


<!-- START BLOCK : block_form -->
<link rel=STYLESHEET href="/css/calendar-my-style.css" type="text/css">
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/js/multiselect.js"></script>

<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data" id="frmEdit" class="regform">
<input name="step" type="hidden" value="2">
<input name="action" type="hidden" value="{action}">
<input name="group" id="hdnGroup" type="hidden" value="{groups}">

<div class="edit_form">
    <div class="clear"></div>
    <div class="blu_line">О себе:</div>
    <table class="reg_diller">

        <tr>
            <td class="grey"><label for="form_fields2">E-mail: <span class="element_required">*</span>:</label></td>
            <td><input type="text" name="email" id="form_fields2" class="contform text required required valid-email" maxlength="255" value="{email}"/></td>
        </tr>
        <tr>
            <td class="grey"><label for="form_fields2">Пароль: <span class="element_required">*</span>:</label></td>
            <td><input type="password" name="password" id="el-pass"  class="contform text  required valid-email" maxlength="255" value="{password}"/></td>
        </tr>
        <tr>
            <td class="grey"><label for="form_fields2">Подтвердите пароль: <span class="element_required">*</span>:</label></td>
            <td><input type="password" name="confirm_password" id="el-confpass" class="contform text  required valid-email" maxlength="255" value="{confirm_password}"/></td>
        </tr>
        <input type="hidden" name="siteusername" class="required" size="40" value="{username}" id="el-login">
        <!--
        <p><label for="el-login" class="required">Никнейм (необходим для форума и блога):</label> <br>(не короче {min_login_len} и не длиннее {max_login_len} символов)<br>
        <input type="text" name="siteusername" class="required" size="40" value="{username}" id="el-login"></p>
        -->

        <!-- START BLOCK : prop_list -->
<!-- START BLOCK : prop_list_item -->
<!-- START BLOCK : prop_list_item_string -->
    <tr>
        <td class="grey"><label for="form_fields2">{title}: <span class="element_required">*</span>:</label></td>
        <td><input type="text" name="prop[{id}]" id="el-{id}" class="contform text required required valid-email" maxlength="255" value="{value}"/></td>
    </tr>
    {textBlockReg}
<!-- END BLOCK : prop_list_item_string -->

<!-- START BLOCK : prop_list_item_text -->
<tr>
 <td class="grey"><label for="el-{id}" class="{css_required_class}">{title}:</label></td>
 <td>
<textarea name="prop[{id}]" class="{css_required_class}" cols="40" rows="4" id="el-{id}">{value}</textarea></td>
</tr>
<!-- END BLOCK : prop_list_item_text -->

<!-- START BLOCK : prop_list_item_date -->
<label for="el-{id}" class="{css_required_class}">{title}:</label><br>
<input type="text" name="prop[{id}]" value="{value}" class="{css_required_class} abo-date" id="el-{id}"><br>
<!-- END BLOCK : prop_list_item_date -->

<!-- START BLOCK : prop_list_item_flag -->

    <tr>
        <td>
<input type="checkbox" name="prop[{id}]" value="1" class="{css_required_class} checkb" {checked} id="el-{id}">
 &mdash; <label for="el-{id}" class="{css_required_class}" id="el-{id}">{title}</label>
        </td>
    </tr>
<!-- END BLOCK : prop_list_item_flag -->

<!-- START BLOCK : prop_list_item_select -->
    <tr>
        <td>
<label for="el-{id}" class="{css_required_class}">{title}:</label></td><td>
<select name="prop[{id}]" class="{css_required_class}" id="el-{id}" style="width:340px">
<option value="">- выбрать -</option>
<!-- START BLOCK : prop_list_item_select_item -->
<option value="{value}" {selected}>{name}</option>
<!-- END BLOCK : prop_list_item_select_item -->
</select><br><br>
        </td>
    </tr>
    <!-- END BLOCK : prop_list_item_select -->

<!-- START BLOCK : prop_list_item_set -->
    <tr>
        <td>

<label for="el-{id}" class="{css_required_class}">{title}:</label></td><td>
<!-- START BLOCK : prop_list_item_set_item -->
<input type="checkbox" name="prop[{prop_id}][{id}]" value="{id}" {checked} class="checkb" id="el-{prop_id}-{id}">
 &mdash; <label for="el-{prop_id}-{id}">{name}</label><br>
<!-- END BLOCK : prop_list_item_set_item -->
<br>
        </td>
    </tr>
<!-- END BLOCK : prop_list_item_set -->
<!-- END BLOCK : prop_list_item -->
<!-- END BLOCK : prop_list -->

        <tr>
            <td class="grey"><label for="form_fields2">Аватар<span class="element_required"></span>:</label></td >
            <td><input type="file" name="img" style="width:340px;"><br><br></td> <!--- Максимальный размер изображения - {img_max_height} x {img_max_width}px -->
        </tr>

<!-- START BLOCK : block_captcha -->
        <tr>
            <td>
            Введите код, указанный на <a href="#" class="dashed" onclick="document.getElementById('image_captcha').src = '{captcha_image_url}?rand=' + Math.round(Math.random() * 100000); return false;" title="Кликните, чтобы изменить код">картинке</a> <span class="element_required">*</span><br>
            <label for="captcha" style="display: none;">Код, указанный на картинке</label>
        </td><td>
<input type="text" name="captcha" id="captcha" maxlength="{captcha_maxlength}" style="width: 50px; float:left; height:20px; margin:0 10px 20px 0;" class="text required">
<img style="float:left;" id="image_captcha" src="{captcha_image_url}">
            </td>
         </tr>
<!-- END BLOCK : block_captcha -->

    </table>
    <p>Поля, помеченные <span class="element_required">*</span>, обязательны для заполнения!</p>
    <hr class="khf">
    <input type="submit" class="submitdiller"  value="Зарегистрироваться"/>

</form>

<script type="text/javascript">
$(function() {
    $('.abo-date').each(function() {
        Calendar.setup({
            inputField  : $(this).attr('id'),      // ID of the input field
            ifFormat    : "dd.mm.y",    // the date format
            button      : $(this).attr('id'),    // ID of the button
            mondayFirst : true
        });
    });
    
    $('#frmEdit').submit(checkUserForm);
});

function checkUserForm()
{
    var id = {siteuser_id},
        username = '{username}',
        email = '{email}',
        ret = true,
        max_login_len = {max_login_len},
        min_login_len = {min_login_len},
        max_pass_len = {max_pass_len},
        min_pass_len = {min_pass_len},
        str = '';

    $('span.err').remove();
    
    if (ret) {
        ret = checkForm('#frmEdit');
    }
    
    str = $('#el-login').val().length;
    if (min_login_len > 0 && min_login_len > str) {
        showErrBlock('#el-login', 'Минимальное число символов в нике - '+min_login_len);
        ret = false;
    }
    if (max_login_len > 0 && max_login_len < str) {
        showErrBlock('#el-login', 'Максимальное число символов в нике - '+max_login_len);
        ret = false;
    }
    
    if (! id || $('#el-pass').val()) {        
        str = $('#el-pass').val().length;
        if (0 == str) {
            showErrBlock('#el-pass', 'Не указан пароль');
            ret = false;
        } else if (min_pass_len > 0 && min_pass_len > str) {
            showErrBlock('#el-pass', 'Минимальное число символов в пароле - '+min_pass_len);
            ret = false;
        } else if (max_pass_len > 0 && max_pass_len < str) {
            showErrBlock('#el-pass', 'Максимальное число символов в пароле - '+max_pass_len);
            ret = false;
        }
        if ($('#el-pass').val() != $('#el-confpass').val()) {
            showErrBlock('#el-confpass', 'Пароли не совпадают');
            ret = false;
        }
    }
    return ret;
}
</script>
<!-- END BLOCK : block_form -->