<!-- START BLOCK : block_access_deny -->
<br>Этот раздел доступен только для авторизованного пользователя.<br>
Пожалуйста, введите свой логин и пароль в форму авторизации, либо <a href="{registration_link}">зарегистрируйтесь</a> на сайте.<br>
<!-- END BLOCK : block_access_deny -->

<!-- START BLOCK : block_not_found -->
<h3>Пользователь не найден.</h3>
<!-- END BLOCK : block_not_found -->

<!-- START BLOCK : block_user_info -->
<h2>Личные данные {siteusername}
<!-- START BLOCK : block_edit -->
 <a href="{action}"><img width="15" height="18" border="0" src="/i/admin/ico_edit.gif" alt="Редактировать личные данные" title="Редактировать личные данные"/></a>
<!-- END BLOCK : block_edit -->
</h2>

<!--
<!-- START BLOCK : block_user_img -->
<img src="{path}"><br>
<!-- END BLOCK : block_user_img -->

<!-- START BLOCK : block_user_no_img -->
<img src="/i/no_photo1.gif"><br>
<!-- END BLOCK : block_user_no_img -->
-->
<!-- START BLOCK : prop_list -->
<!-- START BLOCK : prop_list_item -->
<p>{title}: {value}</p>
</p>
<!-- END BLOCK : prop_list_item -->


<!-- END BLOCK : prop_list -->

	<!-- START BLOCK : block_send_msg -->
	<!--
	<h3>Написать сообщение</h3>
	<form action="{action}" method="POST" class="send-message">
	<input type="hidden" name="data[to]" value="{user_id}">

	<dl class="form-item">
		<dt><label for="txtTitle">Тема:</label></dt>
		<dd><input type="text" name="data[title]" size="50" id="txtTitle"></dd>
	</dl>
	<dl class="form-item">
		<dt><label for="btxtBody">Сообщение</label></dt>
		<dd><textarea name="data[body]" id="btxtBody" cols="40" rows="5"></textarea></dd>
	</dl>
	<dl class="form-item">
		<dt><br></dt><dd><button type="submit">Отправить</button></dd>
	</dl>
	</form>
	-->
	<!-- END BLOCK : block_send_msg -->

<!-- END BLOCK : block_user_info -->