<!-- START BLOCK : block_welcome_siteuser -->
<p><b>Добро пожаловать в персональный раздел!</b></p>
Вы можете менять свои персональные данные по ссылке <a href="{edit_profile_link}">редактировать персональные данные</a>.</p>
<!-- END BLOCK : block_welcome_siteuser -->

