Регистрация нового пользователя на сайте {sitename_rus}
<info_level>
Регистрация нового пользователя на сайте {sitename_rus} ({web_address})<br>
-------------------------------------------------------<br>
ФИО*: {fio}<br>
E-mail (логин)*: {email}<br>
Пароль*: {password}<br>
Телефон*: {phone}<br>
Моб.телефон: {mob_phone}<br>
Адрес*: {address}<br>
Дополнения: {other}<br><br>
-------------------------------------------------------<br>
Для активации учётной записи необходимо пройти по следующей ссылке: {active_link}