<!-- START BLOCK : block_register_1 -->
Информация успешно обновлена.
<!-- END BLOCK : block_register_1 -->

<!-- START BLOCK : block_register_2 -->
Пользователь с таким e-mail уже существует! Выберите другой логин.
<!-- END BLOCK : block_register_2 -->

<!-- START BLOCK : block_register_3 -->
На указанный Вами e-mail адрес выcлано письмо с информацией об активации Вашей учётной записи
<!-- END BLOCK : block_register_3 -->

<!-- START BLOCK : block_register_4 -->
В данный момент у вас нет доступа!
<!-- END BLOCK : block_register_4 -->

<!-- START BLOCK : block_register_5 -->
Неправильный логин или пароль!
<form method="post" action="{remind_password_action}" name="remindForm">
Логин:
<p>
<input type="text" name="siteusername">
<button onclick="document.remindForm.submit(); return false;">Напомнить пароль</button>
</p>
</form>
<!-- END BLOCK : block_register_5 -->

<!-- START BLOCK : block_register_6 -->
Вы вышли из персонального раздела!
<!-- END BLOCK : block_register_6 -->

<!-- START BLOCK : block_register_7 -->
На указанный в Ваших персональных данных e-mail выслан пароль.
<!-- END BLOCK : block_register_7 -->

<!-- START BLOCK : block_register_8 -->
Невозможно отослать e-mail!
<!-- END BLOCK : block_register_8 -->

<!-- START BLOCK : block_register_9 -->
Пользователя с таким логином не существует!
<!-- END BLOCK : block_register_9 -->

<!-- START BLOCK : block_register_10 -->
Вывод истории заказов только для авторизованного пользователя. Пожалуйста, введите свой логин и пароль в форму авторизации, либо <a href="{link}">зарегистрируйтесь</a> на сайте.
<!-- END BLOCK : block_register_10 -->

<!-- START BLOCK : block_register_11 -->
Вывод истории заказов только для авторизованного пользователя. Пожалуйста, введите свой логин и пароль в форму авторизации, либо <a href="{link}">зарегистрируйтесь</a> на сайте.
<!-- END BLOCK : block_register_11 -->

<!-- START BLOCK : block_register_12 -->
Ваша учётная запись активирована.
<!-- END BLOCK : block_register_12 -->

<!-- START BLOCK : block_register_13 -->
Этот раздел доступен только для авторизованного пользователя. Пожалуйста, введите свой логин и пароль в форму авторизации, либо <a href="{link}">зарегистрируйтесь</a> на сайте.
<!-- END BLOCK : block_register_13 -->