<!-- START BLOCK : block_login_form -->
<h3 class="h3_block">Авторизация</h3>
<form method="post" action="{form_login_action}" name="loginForm" class="auth_form">
E-mail:<br>
<input type="text" name="username" value="{siteuser}"><br>
Пароль:<br>
<input type="password" name="password"><br>
<button type="submit" onclick="document.loginForm.submit(); return false;">Войти</button>
<br><br>
<a href="{registration_link}">Регистрация</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{remind_password_link}">Забыли пароль?</a>
</form>
<!-- END BLOCK : block_login_form -->

<!-- START BLOCK : block_authorized_siteuser -->
<h3 class="h3_block">Личные данные</h3>
<b>{firstname} {surname}</b>
<br>
<ul>
<li><a href="{edit_profile_link}" class="special">Персональные данные</a>
<li><a href="{change_psw_link}" class="special">Изменить пароль</a>
<li><a href="{friends_link}&action=userform" class="special">Ваша анкета</a>
<li><a href="{blogs_link}" class="special">Ваш блог</a>
<li><a href="{gallery_link}&action=userctgrlist">Фотогалерея</a></span>
<li><a href="{resume_link}&action=userresume">Резюме</a></span>
<li><a href="{vacancy_link}&action=uservacancies">Вакансии</a></span>
<li><a href="{msg_link}">Сообщения</a></span>
<li><a href="{support_link}">Техподдержка</a></span>
<li><a href="{orders_history_link}" class="special">История заказов</a>
<li><a href="{shopping_cart_link}" class="special">Ваша корзина покупок</a>
<!-- START BLOCK : block_site_administration -->


<script type="text/javascript" language="JavaScript">
function showAuthDiv(flag)
{
	document.getElementById('auth-confirm').style.visibility = flag ? "visible" : "hidden";
	if (flag) {
		document.getElementById("user_login").focus();
		return false;
	}
}
function setEditable(flag){
  if(flag){
      document.cookie = "edit_content=1;domain="+location.host;
  } else {
      document.cookie = "edit_content=0;Expires=true;domain="+location.host;
  }
  location.href +=' ';return false;
}
</script>
<!-- END BLOCK : block_site_administration -->
<li><a href="{logout_link}" class="special">Выйти</a>
</ul>

<br><br>
<!-- END BLOCK : block_authorized_siteuser -->