<!-- START BLOCK : block_subscribe_1 -->
<h2>Указанный e-mail уже есть в списке почтовой рассылки сайта {sitename_rus}!</h2>
<!-- END BLOCK : block_subscribe_1 -->

<!-- START BLOCK : block_subscribe_2 -->
<h2>На ваш e-mail отправлено письмо с просьбой подтвердить желание получать информацию с нашего сайта . Зайдите по адресу, указанному в письме, и ваш e-mail будет добавлен в нашу почтовую рассылку.</h2>
<!-- END BLOCK : block_subscribe_2 -->

<!-- START BLOCK : block_subscribe_3 -->
<h2>Невозможно добавить e-mail.</h2>
<!-- END BLOCK : block_subscribe_3 -->