<script language="JavaScript" type="text/javascript" src="/js/reg_exp.js"></script>
<script language="JavaScript" type="text/javascript">
function checkSubscribe(f) {
	if(f["sub_name"] && !f["sub_name"].value){
		alert("Введите имя.");
		f["sub_name"].focus();
		return false;
	} else if(!f["sub_email"].value){
		alert("Введите e-mail.");
		f["sub_email"].focus();
		return false;
	} else if(!isEmail(f.sub_email.value)){
		alert("Введите корректный e-mail.");
		f["sub_email"].focus();
		return false;
	}
	return confirm("Отправить данные?");
}
</script>
<h3 class="h3_block">РАССЫЛКА НА САЙТЕ</h3>
{result_message}
{categ_name}
<form class="subscribe_form" action="{form_action}" method="post" name="subscribeform" onsubmit="return checkSubscribe(this);">
<!-- START BLOCK : block_one_category -->
<input type="hidden" name="cat[]" value="{categ_id}">
<!-- END BLOCK : block_one_category -->
<div class="subscr_fields">
<!-- START BLOCK : block_sub_name -->
<label for="sub_name">Ваше имя&nbsp;<span class="element_required">*</span>:</label><br>
<input type="text" name="sub_name" id="sub_name"><br>
<!-- END BLOCK : block_sub_name -->
<label for="sub_email">Ваш e-mail&nbsp;<span class="element_required">*</span>:</label><br>
<input type="text" name="sub_email" id="sub_email"><br>
</div>
<!-- START BLOCK : block_all_categories -->
<input type="checkbox" name="cat[0]" value="all_categs" id="all_categs" class="check"><label for="all_categs">Все категории</label><br>
<!-- END BLOCK : block_all_categories -->
<!-- START BLOCK : block_categories -->
<input type="checkbox" name="cat[]" value="{category_id}" id="{category_id}" class="check"><label for="{category_id}">{category}</label><br>
<!-- END BLOCK : block_categories -->
<button type="submit" name="submit">Подписаться</button>
</form>