<h3 class="h3_block">Популярные метки</h3>
<div class="gallery">
<!-- START BLOCK : cloud -->
	<!-- START BLOCK : tag_list -->
	<!-- START BLOCK : tag_list_item -->
	<a href="{link}" class="font{wt}" style="color:#{color};">{title}</a>
	<!-- END BLOCK : tag_list_item -->
	<!-- END BLOCK : tag_list -->
<!-- END BLOCK : cloud -->
<!-- START BLOCK : none -->
<p>Облако меток не найдено</p>
<!-- END BLOCK : none -->
</div><br>
