<table cellpadding="2" cellspacing="2" class="center" width="98%">
<tr height="20">
	<th>{MSG_ed}</th>
	<th>{MSG_caption}</th>
	<th width="99%">{MSG_description}</th>
	<th>{MSG_del}</th>
</tr>

<!-- START BLOCK : block_script_list -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';"{border_class}>
	<td align="center">{edit_action}</td>
	<td align="center" nowrap>{script_caption}</td>
	<td align="left">{script_description}</td>
	<td align="center">{delete_action}</td>
</tr>
<!-- END BLOCK : block_script_list -->