<!-- START BLOCK : block_properties -->
<table>
<tr>
	<td valign="top"><div style="padding-bottom: 4px;">{MSG_script}:</div>
		<div>
		<select id="property1" name="property1" onchange="setURL('property1');">
			<option value="">{MSG_select}</option>

		<!-- START BLOCK : block_script_list -->
			<option value="{script_id}">{script_name}</option>
		<!-- END BLOCK : block_script_list -->
		
		</select>
		</div>
	</td>
<!-- START BLOCK : block_page_edit -->
	<!--<td><br><img style="cursor: hand" alt="{MSG_go_edit}" border="0" vspace="1" hspace="1" name="edit_material" id="edit_material" onclick="gotoURL('{site_target}');" src="/i/admin/ico_edit.gif" border="0"></td>-->
<!-- END BLOCK : block_page_edit -->
</tr>