<script type="text/javascript">
function checkForm(form)
{
	var SendItem = 0;
	var AlertMessage;

	if (form.title.value == "")
	{
		SendItem = 1; 
		AlertMessage = '{empty_field}';
	}

	if (!SendItem)
	{
		form.submit();
	}
	else
	{
		alert(AlertMessage);
	}
}
</script>
<form action="{form_action}" method="POST" name="updateForm">

<!-- START BLOCK : block_script_data -->
<div class="edit_form">
	{MSG_caption} <span class="required_field">*</span>:<br />
	<input type="text" name="script_name" value="{script_caption}" size="64" />
	<br />{MSG_description}:<br />
	<textarea rows="5" cols="60" name="script_description">{script_description}</textarea>
	<br />{MSG_script_content}:<br />
	<textarea rows="30" cols="150" style="width: 100%;" name="script_content">{script_content}</textarea>
</div>
<!-- END BLOCK : block_script_data -->

<button name="s" value="{MSG_save}" type="button" onClick="checkForm(this.form);"><img src="/i/admin/b_save.gif" alt="" class="save"><span>{MSG_save}</span></button>
<button name="c" value="{MSG_cancel}" type="button" onClick="location.href='{cancel_link}';"><img src="/i/admin/b_cancel.gif" alt="" class="cancel"><span>{MSG_cancel}</span></button>

<!-- START BLOCK : block_hidden_script_id -->
<input type="hidden" name="script_id" value="{hidden_script_id}">
<!-- END BLOCK : block_hidden_script_id -->
</form>