<!-- START BLOCK : block_tpl -->
<br>
<label for="slctTpl">{MSG_Template}:</label><br>
<select id="slctTpl">
<option value="">-{MSG_Select}-</option>
<!-- START BLOCK : block_tpl_list_item -->
<option value="{tpl}">{tpl}</option>
<!-- END BLOCK : block_tpl_list_item -->
</select>
<!-- END BLOCK : block_tpl -->