<!--html>
<head>
<title>{page_title}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<LINK REL=STYLESHEET href="/css/a.css" TYPE="text/css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="winLoaded(); getActionPrp();">
<img src="/i/1.gif" width="1" height="5" border="0" alt=""><br-->
{uri}<br>
<form method="post" action="{form_action}" name="myForm" enctype="multipart/form-data">

<h3>{main_title} ({title}):</h3>
<table class="block-properties" cellpadding="4" cellspacing="2" border="0" width="98%" style="border-collapse:collapse; ">
<tr>
	<th align="right" valign="top" class="td_border_1">Источник материала:</th>
	<td valign="top" class="td_border_1">
		<select name="site_target" id="site_target" onchange="changeSiteTarget();">
		{material_sites_langs}
		</select>
		<input type="hidden" name="window_url" id="window_url" value="{window_url}">
		<input type="hidden" name="site_id" id="site_id" value="{site_id}">
		<input type="hidden" name="lang_id" id="lang_id" value="{lang_id}">
	</td>
</tr>


<tr>
	<th align="right" valign="top" class="td_border_1">Выполнить действие:</th>
	<td valign="top" class="td_border_1">
		{no_action}
		<!-- START BLOCK : block_select_actions -->
		<select name="block_action" id="block_action" onchange="getActionPrp();">

		<!-- START BLOCK : block_available_actions -->
			<option value="{action}"{selected}>{description}</option>
		<!-- END BLOCK : block_available_actions -->

		</select>
		<!-- END BLOCK : block_select_actions -->
	</td>
</tr>


<!-- START BLOCK : block_linked_page -->
<tr>
<th align="right" valign="top" class="td_border_1">Страница перехода:</th>
<td valign="top" class="td_border_1">
{current_page}{no_pages}
<!-- START BLOCK : block_select_pages -->
<select name="linked_page" id="linked_page">
<!-- START BLOCK : block_available_pages -->
<option value="{page_link}"{selected}>{page_title}</option>
<!-- END BLOCK : block_available_pages -->
</select>
<!-- END BLOCK : block_select_pages -->
</td>
</tr>
<!-- END BLOCK : block_linked_page -->

<tr>
	<th align="right" valign="top" class="td_border_1">Свойства действия:</th>
	<td class="td_border_1">
		<div id="target_span">Нет</div>
	</td>
</tr>

<!-- INCLUDE BLOCK : properties -->
<tr>
	<!--<th  valign="top" style="border:none;"></th>-->
	<td colspan="2"  style="border:none; text-align: left; padding:15px 0px 0 0px;">
		<div class="">
	<BUTTON name="s" onClick="return btnOkClicked();"><img style="padding:0 !important;" src=/i/admin/b_select.gif class=select><span>Сохранить свойства</span></BUTTON> &nbsp;
	<BUTTON name="c" onClick="return btnCancelClicked();"><img src=/i/admin/b_cancel.gif class=cancel><span>Отменить</span></BUTTON>
</div>
	</td>
</tr>
</table>
<tr>
</form>
<!--/body></html-->