<style type="text/css">
.pad {padding-left: 10px;}
</style>
<!-- START BLOCK : block_menu -->

<!-- START BLOCK : block_heading -->
<b>{menu_heading}</b>
<ul>
<!-- END BLOCK : block_heading -->

<!-- START BLOCK : block_menu_item -->
<li{img} id="id_{main_menu_id}"><a href="{main_menu_item_link}">{main_menu_item}</a></li>
<!-- END BLOCK : block_menu_item -->

<!-- START BLOCK : block_padding -->
</ul>
<!-- END BLOCK : block_padding -->

<!-- END BLOCK : block_menu -->