<div id="page_field___FIELD_ID__">
%s
<div class="admin-block-add-box">
<div class="admin-block-add" onmouseover="setClass(this,'admin-add-hover',1);" onmouseout="setClass(this,'admin-add-hover',0);">
	<h6 onclick="showAddBlockMenu(this.parentNode.nextSibling,1);" title="Добавить блок в поле __FIELD_ID__">Добавить…</h6>
</div><form class="admin-add-list" action="/" onsubmit="return tryToAddBlock(this)">
<label for="admin-block-type-list">Тип блока</label><select name="block-type" id="admin-block-type-list">
<!-- START BLOCK : block_banners_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Баннеры</option>	
<!-- END BLOCK : block_banners_module -->
<!-- START BLOCK : block_documents_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Библиотека документов</option>
<!-- END BLOCK : block_documents_module -->
<!-- START BLOCK : block_blogs_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Блоги</option>
<!-- END BLOCK : block_blogs_module -->
<!-- START BLOCK : block_faq_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Вопрос-ответ</option>
<!-- END BLOCK : block_faq_module -->
<!-- START BLOCK : block_gallery_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Галерея</option>
<!-- END BLOCK : block_gallery_module -->
<!-- START BLOCK : block_glossary_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Глоссарий</option>
<!-- END BLOCK : block_glossary_module -->
<!-- START BLOCK : block_friends_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Знакомства</option>
<!-- END BLOCK : block_friends_module -->
<!-- START BLOCK : block_catalogue_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Интернет-магазин 1С</option>
<!-- END BLOCK : block_catalogue_module -->
<!-- START BLOCK : block_maps_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Карта Google</option>
<!-- END BLOCK : block_maps_module -->
<!-- START BLOCK : block_catalog_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Каталог</option>
<!-- END BLOCK : block_catalog_module -->
<!-- START BLOCK : block_shop_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Магазин</option>
<!-- END BLOCK : block_shop_module -->
<!-- START BLOCK : block_news_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Новости</option>
<!-- END BLOCK : block_news_module -->
<!-- START BLOCK : block_poll_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Опрос</option>
<!-- END BLOCK : block_poll_module -->
<!-- START BLOCK : block_search_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Поиск по сайту</option>
<!-- END BLOCK : block_search_module -->
<!-- START BLOCK : block_siteusers_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Пользователи сайта</option>
<!-- END BLOCK : block_siteusers_module -->
<!-- START BLOCK : block_pricelists_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Прайс-листы</option>
<!-- END BLOCK : block_pricelists_module -->
<!-- START BLOCK : block_job_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Работа</option>
<!-- END BLOCK : block_job_module -->
<!-- START BLOCK : block_subscription_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Рассылка</option>
<!-- END BLOCK : block_subscription_module -->
<!-- START BLOCK : block_scripts_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Скрипты</option>
<!-- END BLOCK : block_scripts_module -->
<!-- START BLOCK : block_sitelinks_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Ссылки</option>
<!-- END BLOCK : block_sitelinks_module -->
<!-- START BLOCK : block_pages_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Страницы и структура сайта</option>
<!-- END BLOCK : block_pages_module -->
<!-- START BLOCK : block_article_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Статьи</option>
<!-- END BLOCK : block_article_module -->

<!-- START BLOCK : block_forms_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Формы</option>
<!-- END BLOCK : block_forms_module -->
<!-- START BLOCK : block_forum_module -->
<option value="blockAdd({page_id},{module_id},__FIELD_ID__,'{baseurl}')">Форум</option>
<!-- END BLOCK : block_forum_module -->
</select><input type="submit" value="OK">
<img onclick="showAddBlockMenu(this.parentNode,0);" src="/i/admin/block_add_cancel.gif" alt="Отмена" title="Не добавлять блок">
</form>
</div></div>