<!-- START BLOCK : block_admin_js_set -->
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" language="JavaScript" src='/mod/news/js/news.js'></script>
<script type="text/javascript" language="JavaScript" src="/mod/news/js/newsAdm.js"></script>
<!-- END BLOCK : block_admin_js_set -->

<!-- START BLOCK : block_create_news_menu -->
<div class="admin-item-add" onmouseover="setClass(this,'admin-item-hover',1);" onmouseout="setClass(this,'admin-item-hover',0);">
	<img src="/i/admin/ico_add.gif" alt="добавить" title="Добавить новость" onclick="return showNewsEditDiv(this,'news','add',-1,'{adminurl}');">
</div>
<!-- END BLOCK : block_create_news_menu -->