<!-- START BLOCK : block_edit_news_menu_start -->
<div class="admin-item-edit" onmouseover="setClass(this,'admin-item-hover',1);" onmouseout="setClass(this,'admin-item-hover',0);">
<div class="admin-block-icons">
<!-- START BLOCK : block_news_activate -->
<span><img src="/i/admin/ico_swon.gif" alt="публиковать" title="Публикация отключена (нажмите, чтобы включить)" id="news_{news_id}_activate" style="display: {activate_display}" onclick="return doActivate(this,'news','activate',{news_id},'{adminurl}');"><img src="/i/admin/ico_swof.gif" alt="не публиковать" title="Публикация включена (нажмите, чтобы отключить)" id="news_{news_id}_suspend" style="display: {suspend_display}" onclick="return doActivate(this,'news','suspend',{news_id},'{adminurl}');"></span>
<!-- END BLOCK : block_news_activate -->
<!-- START BLOCK : block_news_edit -->
<span><img src="/i/admin/ico_edit.gif" alt="редактировать" title="Редактировать новость" onclick="return showNewsEditDiv(this,'news','edit',{news_id},'{adminurl}');"></span>
<!-- END BLOCK : block_news_edit -->
<!-- START BLOCK : block_news_rights -->
<span><img src="/i/admin/ico_edit_rights.gif" alt="права" title="Изменить права доступа" onclick="return showNewsEditDiv(this,'news','editrights',{news_id},'{adminurl}');"></span>
<!-- END BLOCK : block_news_rights -->
<!-- START BLOCK : block_news_delete -->
<span><img src="/i/admin/ico_trash.gif" alt="удалить" title="Удалить новость" onclick="if(confirm('Вы действительно желаете удалить эту новость?')) doDelete(this,'news','del',{news_id},'{adminurl}'); return false;"></span>
<!-- END BLOCK : block_news_delete -->
</div>
</div>
<!-- END BLOCK : block_edit_news_menu_start -->