﻿<br />
У данного модуля <b>{mdl_name}</b> отсутствует ключ или ключ неверен <br />
Если данный модуль шел в комплекте поставки проведите <a href="?name=configuration&action=show_info">валидацию модулей</a> <br />
Иначе, если модуль от сторонних разработчиков используйте другое название модуля
</div>
