<table width="98%" class=center>
<tr>
	<th>{MSG_Information}</th>
    <th width="20%">{MSG_Value}</th>
</tr>          
<form name="myForm" enctype="multipart/form-data" action="{form_action}" method="POST">
<!-- START BLOCK : block_property_row -->
<tr valign="top" onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td><label for="{name}">{descr}</label></td>
	<td>
		<!-- START BLOCK : block_integer -->
		<input type="text" id="{name}" value="{value}" name="{name}" size="25" {readonly} class="w200">
		<!-- END BLOCK : block_integer -->

		<!-- START BLOCK : block_double -->
		<input type="text" id="{name}" value="{value}" name="{name}" size="25" {readonly} class="w200">
		<!-- END BLOCK : block_double -->

		<!-- START BLOCK : block_string -->
		<input type="text" id="{name}" value="{value}" name="{name}" size="25" {readonly} class="w200">
		<!-- END BLOCK : block_string -->

		<!-- START BLOCK : block_file -->
		<input type="file" name="{name}" class="w200">
		<input type="hidden" name="{name}_ex" value="{value}" class="w200">
		<!-- START BLOCK : block_file_view -->
		<br>
		<img src="/files/gallery/{SITE_PREFIX}/{value}">
		<input type="checkbox" name="del_img" id="del_img"><label for="del_img">Удалить</label>
		<!-- END BLOCK : block_file_view -->
    
		<!-- END BLOCK : block_file -->
		
		<!-- START BLOCK : block_checkbox -->
		<input type="checkbox" class="checkb w200" id="{name}" name="{name}" {value} {readonly}>
		<!-- END BLOCK : block_checkbox -->

		<!-- START BLOCK : block_select -->
		<select name="{name}" id="{name}" {readonly} class="w200">
			<!-- START BLOCK : block_select_row -->
			<option value="{value}" {option_select}>{descr}</option>
			<!-- END BLOCK : block_select_row -->
		</select>
		<!-- END BLOCK : block_select -->

		<!-- START BLOCK : block_text -->
		<textarea id="{name}" name="{name}" {readonly} rows="3" class="w200">{value}</textarea>
		<!-- END BLOCK : block_text -->
	</td>
</tr>
<!-- END BLOCK : block_property_row -->
</table>

<br><br>
<table>
<tr>
	<td align=left colspan=2>
		<BUTTON name="c" value="{MSG_Save}" type="button" onClick="myForm.submit();"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
		<BUTTON name="c" value="{MSG_Cancel}" type="button" onClick="javascript:history.go(-1);"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
	</td>
</tr>
<tr>
	<td align=left colspan=2>
		<input type="hidden" value="{step}" name="step">
		<input type="hidden" value="{action}" name="action">
		<input type="hidden" value="{name}" name="name">
		<input type="hidden" value="{lang}" name="lang">
	</td>
</tr>
</table>
<!--</form>-->