<script type="text/javascript" src="/js/rightsDialog.js"></script>
<script type="text/javascript">
<!-- START BLOCK : block_admin_js -->
	{js_arrays}
<!-- END BLOCK : block_admin_js -->
</script>
<script type="text/javascript">
	function doSaveRights(form) {
		form.submit();
	}

	function cancel() {
		history.go(-1);
	}
</script>

<br>
<div class=attn>{MSG_info_right}<br></div><br>
<form method="post" action="{form_action}" id="updateForm" name="updateForm" enctype="multipart/form-data">
<table cellpadding="2" cellspacing="5" border="0">
<tr>
<td>{MSG_Owner} <span class="required_field">*</span>:</td>
<td><select id="owner" name="rights[owner]"
<!-- START BLOCK : block_admin_js_call -->
 onChange="updateSelect(this.value)"
<!-- END BLOCK : block_admin_js_call -->
>
<!-- START BLOCK : block_owner -->
<option value="{value}"{selected}>{name}</option>
<!-- END BLOCK : block_owner -->
</select></td>
</tr>

<tr>
<td>{MSG_Group} <span class="required_field">*</span>:</td>
<td><select id="group" name="rights[group]">
<!-- START BLOCK : block_group -->
<option value="{value}"{selected}>{name}</option>
<!-- END BLOCK : block_group -->
</select></td>
</tr>
</table>

<table cellpadding="2" cellspacing="5" border="0" class="center items">
<tr>
	<th width=90% align=left>{MSG_Membership_of_rights_group}</th>
	<th valign="bottom">{MSG_Del}</td>
	<th valign="bottom">{MSG_Activ}</td>
	<th valign="bottom">{MSG_Ed}</td>
	<th valign="bottom">{MSG_Read}</td>
</tr>
<!-- START BLOCK : block_right -->
<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td>{right_type_name}</td>
	<td align="center"><input type="checkbox" id="d_{idx}" name="rights[d][{idx}]" value="1"{checked_d} onclick="setReadRight(this,{idx})" class=checkb></td>
	<td align="center"><input type="checkbox" id="p_{idx}" name="rights[p][{idx}]" value="1"{checked_p} onclick="setReadRight(this,{idx})" class=checkb></td>
	<td align="center"><input type="checkbox" id="e_{idx}" name="rights[e][{idx}]" value="1"{checked_e} onclick="setReadRight(this,{idx})" class=checkb></td>
	<td align="right"><input type="checkbox" id="r_{idx}" name="rights[r][{idx}]" value="1"{checked_r} onclick="clearAllRight(this,{idx})" class=checkb></td>
</tr>
<!-- END BLOCK : block_right -->
<tr>
	<th width=90% align=left>&nbsp;</th>
	<th valign="bottom">&nbsp;</td>
	<th valign="bottom">&nbsp;</td>
	<th valign="bottom">&nbsp;</td>
	<th valign="bottom">&nbsp;</td>
</tr>
<tr onmouseover="this.style.backgroundColor='#EDFCFE';" onmouseout="this.style.backgroundColor='white';">
	<td><b>&nbsp;&nbsp;</b></td>
	<td align="center"><input type="checkbox" id="d_all" onclick="setOnOffAllChkBox('d_');" class=checkb></td>
	<td align="center"><input type="checkbox" id="p_all" onclick="setOnOffAllChkBox('p_');" class=checkb></td>
	<td align="center"><input type="checkbox" id="e_all" onclick="setOnOffAllChkBox('e_');" class=checkb></td>
	<td align="right"><input type="checkbox" id="r_all" onclick="setOnOffAllChkBox('r_');" class=checkb></td>
</tr>
<tr>
	<td colspan=5>
<BUTTON name="c" value="Сохранить" type="button" onClick="doSaveRights(this.form);"><img src=/i/admin/b_save.gif class=save><span>{MSG_Save}</span></BUTTON>
&nbsp;
<BUTTON name="c" value="Отменить" type="button" onClick="cancel();"><img src=/i/admin/b_cancel.gif class=cancel><span>{MSG_Cancel}</span></BUTTON>
	</td>
</tr>
</table>
</form>
