<script type="text/javascript">
function checkSearchForm(form) 
{
	var SendItem= 0;
	var AlertMessage;
	
	if (form.search.value == "") {
		SendItem= 1; AlertMessage = 'Пустое поле';
	} else if (form.search.value.length < 2) {
		SendItem= 1; AlertMessage = 'В строке поиска должно быть как минимум два символа';
	}
	
  if (!SendItem) {
		form.submit();
	} else {
		alert(AlertMessage);
  }
}
</script>
<table cellpadding="2" cellspacing="2">
<form action="{form_search_action}" name="searchForm" id="searchForm">
<input type="hidden" name="lang" value="{lang}">
<input type="hidden" name="name" value="{name}">
<input type="hidden" name="action" value="{action}">
<tr>
<td><input type="text" name="search" value="{search}"></td>
<td>
<button type="submit"><img class="save" border="0" src="/i/admin/b_browse.gif" alt=""/>
<span>Найти</span></button>
<!--<button type="submit" class="btn" name="s" onClick="checkSearchForm(this.form);">Искать</button>--></td>
</tr>
</form>
<tr>
<td>{search_result}</td>
</tr>
</table>