<!-- START BLOCK : block_sub_menu -->
<ul class="tab">
<!-- START BLOCK : block_sub_menu_item -->
	<li>
	<div><div><img src="/i/admin/u0001.gif" width="5" height="5" alt="" border="0"></div></div>
	<a href="{menu_item_link}" {menu_item_class}><img src="/i/admin/{menu_item_icon}" border="0" alt="">{menu_item}</a>
	</li>
<!-- END BLOCK : block_sub_menu_item -->
</ul>
<!-- END BLOCK : block_sub_menu -->