<script src="/js/admin/tiny_mce/jquery.tinymce.js" type="text/javascript"></script>
<script src="/js/admin/tiny_mce/tiny_mce.conf.js" type="text/javascript"></script>
<script src="/js/admin/cookies.js" language="JavaScript" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/css/siteedit.css">
<script type="text/javascript" language="JavaScript" src="/js/siteAdmin.js"></script>
<div id="siteedit-panel">
	<img class="panel-abocms" src="/i/admin/panel_abocms.gif" alt="ABO.CMS">
	<a href="/admin.php?lang={lang}&name=pages&action=str" class="panel-pages">{Structure}</a>
	<a href="/admin.php?lang={lang}&name=pages&action=add&step=1" class="panel-addpage">{Add_page}</a>
	<!--<a href="/admin.php?lang={lang}&name=pages&action=add&step=1" class="panel-addpage">Просмотр</a>-->
	<div class="panel_links">
	<a href="/logout.php" class="panel-exit">{Exit}</a>
	<a class="tab_link" href="/admin.php?lang={lang}&name=pages"><span>Панель управления</span></a>
	<a href="#" class="tab_link" id="id_edit" onClick="return setEditableFlag(true);"><span>Редактирование</span></a>
	<a href="#" class="tab_link-on" id="id_preview" onClick='return setEditableFlag(false);'><span>Просмотр</span></a>	
	</div>
</div>
<script type="text/javascript" language="JavaScript">
function showAuthDiv(flag)
{
	document.getElementById('auth-confirm').style.visibility = flag ? "visible" : "hidden";
	if (flag) {
		document.getElementById("user_login").focus();
		return false;
	}
}

function setEditableFlag(flag){
    flag ? setCookie('edit_content', 1, false, '/') : delCookie('edit_content', '/');
    
    window.location.href = window.location.href;
	return false;
}
function setTagClass(flag){
  if(flag){
			(document.getElementById("id_preview")).className = "tab_link";
			(document.getElementById("id_edit")).className = "tab_link-on";
  } else {
			(document.getElementById("id_preview")).className = "tab_link-on";
			(document.getElementById("id_edit")).className = "tab_link";
	}
}

1 == getCookie("edit_content") ? setTagClass(true) : setTagClass(false);
</script>