<br>
<table cellpadding="2" cellspacing="5" border="0">
<form method="post" action="{form_action}" name="updateForm">
<!-- START BLOCK : block_settings -->
<tr>
<td align="right" valign="top" nowrap><strong>{var}:</strong><br>{description}</td>
<td valign="top"><textarea cols="40" rows="3" name="{var}">{value}</textarea></td>
</tr>
<!-- END BLOCK : block_settings -->
<tr>
<td align="right" valign="top" nowrap>&nbsp;</td>
<td valign="top">
<BUTTON name="c" value="Сохранить" type="button"><img src=/i/admin/b_save.gif class=save><span>Сохранить</span></BUTTON>
<BUTTON name="c" value="Отменить" type="button" onClick="javascript:history.go(-1);"><img src=/i/admin/b_cancel.gif class=cancel><span>Отменить</span></BUTTON>
</td>
</tr>
</form>
</table>