<br>
<table cellpadding="2" cellspacing="5" border="0" width=98%>
<!-- START BLOCK : block_settings -->
<tr>
<td align="right" valign="top" nowrap><strong>{var}:</strong><br>{description}</td>
<td valign="top">{value}</td>
</tr>
<!-- END BLOCK : block_settings -->
</table>