Уважаемый {fio}!
Вы подали заявку на регистрацию в системе «Личный кабинет дилеров SUPRA». После подтверждения Вашей заявки модератором Вы получите письмо с инструкцией по использованию личного кабинета.
<br>
{date}<br>
==========================================<br>
Email : {email}<br>
Пароль : {password}<br>
<br>
<!-- START BLOCK : prop_list_item -->
{title} : {value}<br>
<!-- END BLOCK : prop_list_item -->