<!-- START BLOCK : cat_tov -->
<h1>Категории FAQ</h1>
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
    <tr>
        <th width="2%">Публ.</th>
        <th width="2%">Ред.</th>
        <th>Заголовок</th>
        <th width="2%">Удалить</th>
    </tr>
    <!-- START BLOCK : faqtov_cat -->
    <tr>
        <td width="2%"><a href="admin.php?lang=rus&amp;name=faqtov&amp;action=publ&amp;id={id}"><img src="/i/admin/{ico}.gif" alt="Отключить публикацию" title="Отключить публикацию" width="15" height="18" border="0"></a></td>
        <td width="2%"><a href="admin.php?lang=rus&amp;name=faqtov&amp;action=editcat&amp;id={id}"><img width="15" height="18" border="0" title="Редактировать" alt="Редактировать" src="/i/admin/ico_edit.gif"></a></td>
        <td><a href="admin.php?lang=rus&name=faqtov&cat_id={id}">{title}</a> </td>
        <td width="2%"><a href="javascript:if(confirm('Вы действительно хотите удалить эту запись?')){location.href='admin.php?lang=rus&name=faqtov&action=delcat&id={id}';}"><img src="/i/admin/ico_del.gif" alt="Удалить" title="Удалить" width="15" height="18" border="0"></a></td>
    </tr>
    <!-- END BLOCK : faqtov_cat -->
</table>

<!-- START BLOCK : cat_tov -->



<!-- START BLOCK : cat_cat -->
<h1>FAQ находящиеся в текущей категории</h1>
<table cellpadding="2" cellspacing="2" border="0" class="center" width="98%">
    <tr>
    <th width="2%">Публ.</th>
    <th width="2%">Ред.</th>
    <th>Заголовок</th>
    <th width="2%">Удалить</th>
    </tr>
    <!-- START BLOCK : faqtov -->
    <tr>
        <td width="2%"><a href="admin.php?lang=rus&amp;name=faqtov&amp;action=publfaq&amp;id={id}"><img src="/i/admin/{ico}.gif" alt="Отключить публикацию" title="Отключить публикацию" width="15" height="18" border="0"></a></td>
        <td width="2%"><a href="admin.php?lang=rus&amp;name=faqtov&amp;action=editfaq&amp;id={id}"><img width="15" height="18" border="0" title="Редактировать" alt="Редактировать" src="/i/admin/ico_edit.gif"></a></td>
        <td>{title}</td>
        <td width="2%"><a href="javascript:if(confirm('Вы действительно хотите удалить эту запись?')){location.href='admin.php?lang=rus&name=faqtov&action=delfaq&id={id}';}"><img src="/i/admin/ico_del.gif" alt="Удалить" title="Удалить" width="15" height="18" border="0"></a></td>
    </tr>
    <!-- END BLOCK : faqtov -->
</table>
<!-- END BLOCK : cat_cat -->





