<div class="edit_form">
    <h1>Редактирование категории</h1>
    <form action="{action}" method="post">
        <input type="hidden" name="id_cat" value="{id_cat}"/>
        <p class="form-editor-header">

            <label for="catt">Выберите категорию:</label></p>
        <select id="catt"  name="category">
            <!-- START BLOCK : cat_list -->
            <option {selected} value="{id_c}">{cat_name}</option>
            <!-- END BLOCK : cat_list -->

        </select>



        <p class="form-editor-header">
            <label for="name">Название:</label>
        </p>
        <input id="name" name="name_cat" type="text" value="{namecat}"/>
        <br/>
        <br/>
        <br/>
        <br/>
        <button type="submit"><img src="/i/admin/b_save.gif" class="save"><span>Сохранить</span></button>
    </form>
</div>