<div class="edit_form">
    <h1>Добавление категории</h1>
    <form action="{action}" method="post">
        <p class="form-editor-header">

            <label for="catt">Выберите категорию:</label></p>
        <select id="catt"  name="category">
            <!-- START BLOCK : cat_list -->
            <option value="{id_cat}">{cat_name}</option>
            <!-- END BLOCK : cat_list -->

        </select>



        <p class="form-editor-header">
            <label for="name">Название:</label>
        </p>
        <input id="name" name="name_cat" type="text"/>
        <br/>
        <br/>
        <br/>
        <br/>
        <button type="submit"><img src="/i/admin/b_save.gif" class="save"><span>Сохранить</span></button>
        </form>
    </div>