<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<!-- START BLOCK : edit_old -->
<div class="edit_form">
    <h1>Редактирование FAQ</h1>
    <form action="{action}" method="POST">
        <input type="hidden" name="id" value="{id_faq}"/>
        <p class="form-editor-header">

            <label for="catt">Выберите категорию:</label></p>
        <select id="catt"  name="cat_id">
            <!-- START BLOCK : cat -->
            <option {selected} value="{id}">{name}</option>
            <!-- END BLOCK : cat -->
        </select>


        <p class="form-editor-header">

            <label for="title">Название:</label></p> <input style="width: 200px;" id="title" type="text" name="title" value="{name_faq}"/>

        <br/>
        <p class="form-editor-header">
            <label for="fa">Описание:</label>
            <textarea name="FAQ" id="fa" cols="30" rows="10">{faq_text}</textarea>
        </p>

        <p class="form-editor-header">
            <label for="cat">Выберите к чему привязать описание:</label>
        </p>
        К товару(товарам):<input {check} name="tovcats" type="radio" value="0" onclick="onprod();"/>
        К категории(категориям):<input {check2} name="tovcats" type="radio" value="1" onclick="oncat();"/>


        <div class="categories" style="{non_or_not2}">
            <p class="form-editor-header">
                <label for="cat">Выбор категории:</label></p>
            <select id="cat" style="width: 90%; height: 500px;"  multiple name="cat_ids[]">
                <option disabled>Выберите категорию</option>
                <!-- START BLOCK : cat_list -->
                <option {selected} value="{id_cat}">{name_cat}</option>
                <!-- END BLOCK : cat_list -->
            </select>
        </div>


        <div class="tovars" style="{non_or_not1}">
            <p class="form-editor-header">
                <label for="tov">Выбор товаров:</label></p>
            <select id="tov" style="width: 90%;" size="15" multiple name="prod_ids[]">
                <option disabled><b>Выберите товары:</b></option>

                <!-- START BLOCK : prod_cat -->
                <option disabled value="{id_tov}" style="color: red;">{name_tov}</option>
                <!-- START BLOCK : prod_list -->
                <option {selected} value="{id_tov}">&nbsp;&nbsp;&nbsp;{name_tov}</option>
                <!-- END BLOCK : prod_list -->
                <!-- END BLOCK : prod_cat -->


            </select>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>
        <button type="submit"><img src="/i/admin/b_save.gif" class="save"><span>Сохранить</span></button>



    </form>
</div>
<script type="text/javascript">
    function onprod()
    {
        $('.tovars').show();
        $('.categories').hide();
    }
    function oncat()
    {
        $('.tovars').hide();
        $('.categories').show();
    }
    CKEDITOR.replace( 'FAQ');
</script>
<!-- END BLOCK : edit_old -->