<!-- START BLOCK : block_banner -->
<br>
<div align="center">
<script language="JavaScript" src="/js/flban.js"></script>
<script language="JavaScript">
 var banner_text = '{banner}';
 var alternative_image = '{alternative_image}';
 b_kswitch();
</script>
</div>{nl}
<!-- END BLOCK : block_banner -->