<!-- START BLOCK : block_edit_news_menu_start -->
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" language="JavaScript" src='/mod/news/js/news.js'></script>
<script type="text/javascript" language="JavaScript" src="/mod/news/js/newsAdm.js"></script>

<div class="module-tools"><div class="admin-edititem"><div class="admin-shadow"></div><div class="admin-icon admin-hidden" onmouseover="adminShowShadow(this,event)" onmouseout="adminHideMenu(this)"><img onclick="adminShowMenu(this)" class="admin-icon" src="/i/admin/block_item.gif" alt="Свойства элемента" name="mod_article_{article_id}" title="">
            <div class="admin-popupmenu">
                <h6>Новость</h6>
                <ul>
                <!-- START BLOCK : block_news_add -->
                <li><a href="" onclick="return showNewsEditDiv(this,'news','add',0,'{adminurl}');">Создать</a>
                <!-- END BLOCK : block_news_add -->
                <!-- START BLOCK : block_news_edit -->
                <li><a href="" onclick="return showNewsEditDiv(this,'news','edit',{news_id},'{adminurl}');">Редактировать</a>
                <!-- END BLOCK : block_news_edit -->
                <!-- START BLOCK : block_news_activate -->
                <li id="news_{news_id}_activate" style="display: {activate_display}">
                	<a href="" onclick="return doActivate(this,'news','activate',{news_id},'{adminurl}');">Публиковать</a>
                <li id="news_{news_id}_suspend" style="display: {suspend_display}">
                	<a href="" onclick="return doActivate(this,'news','suspend',{news_id},'{adminurl}');">Не публиковать</a>
                <!-- END BLOCK : block_news_activate -->
                <!-- START BLOCK : block_news_rights -->
                <li><a href="" onclick="return showNewsEditDiv(this,'news','editrights',{news_id},'{adminurl}');">Права</a>
                <!-- END BLOCK : block_news_rights -->
                <!-- START BLOCK : block_news_delete -->
                <li><a href="" onclick="if(confirm('Вы действительно желаете удалить выбранную новость?')) doDelete(this,'news','del',{news_id},'{adminurl}'); return false;">Удалить</a>
                <!-- END BLOCK : block_news_delete -->
                </ul>
            </div>
        </div>
    </div>
<!-- END BLOCK : block_edit_news_menu_start -->

    <script type="text/javascript" language="JavaScript" src="/js/admin/jquery/plugins/thickbox.js"></script>
<!-- START BLOCK : block_news_detail -->
<div class="newsannounce news_currentnews news_page">

    <!--index:begin-->
	<div class="txt">
		<div class="date2">{news_date}</div>
		<div class="h5">{news_title}</div>
		<!-- START BLOCK : block_news_theme -->
		<b>Тематика:</b> {news_theme}<br><br>
		<!-- END BLOCK : block_news_theme -->
        <div><a href="{img_title_big}" class="thickbox" target="_blank"> <img src="{img_title}"></a></div>
		<div class="an">{news_body}</div>
	</div>
    <!--index:end-->
	
	
	
	
<style>

.news_o_wrap{
	float: left;
	margin-left: 15px;
}

.news_o_wrap .custom_h2{
	padding-top: 0px;
	padding-bottom: 9px;
}

.news_o_wrap .newsannounce{
	width: auto;
	float: none;
	padding-bottom: 6px;
	padding-top: 0px;
	margin-top: 6px;
}

.news_o_wrap .newsannounce .ph {
	padding-bottom: 10px;
}

.news_o_wrap .newsannounce .txt {
	margin-left: 10px;
	width: 225px;
	padding-bottom: 0px;
}

</style>

<div class="news_o_wrap">
<div class="custom_h2 marginleft0"><a href="/press-center/">Другие новости</a></div>

	<!-- START BLOCK : block_news_titles -->
		<div class="newsannounce">
					<div class="pht_wrap">
						
						<div class="ph">
						<!-- START BLOCK : block_news_img1 -->
						<a href="{news_link}" title="{news_title}"><img src="{img_path}" alt="{news_title}" title="{news_title}"></a>
						<!-- END BLOCK : block_news_img1 -->
						</div>
						
						<div class="txt">
							<div class="date2">{news_date}</div>
							<a href="{news_link}" title="{news_title}" class="h5">{news_title}</a>
							<div class="an">{news_announce_with_links}</div>
						</div>
						<div class="clear"></div>
					</div>
		</div>
<!-- END BLOCK : block_news_titles -->

</div>
<div class="clear"></div>
	
	
	
	
	
	
</div>
<div class="clear"></div>
<!-- START BLOCK : tag_list -->
<div class="tag_img">Теги:
<!-- START BLOCK : tag_list_item -->
<a href="{transurl}&action=tag&tag={name}">{name}</a>{divider}
<!-- END BLOCK : tag_list_item -->
</div>
<!-- END BLOCK : tag_list -->
<!-- START BLOCK : tag_list_empty -->
<!-- END BLOCK : tag_list_empty -->
	
<!-- START BLOCK : nav -->
	<p class="tech">Страницы: {nav_string}</p><br>
<!-- END BLOCK : nav -->

<!--
<!-- START BLOCK : block_prev_news_link -->
&larr;&nbsp;<a href="{prev_news_link}">предыдущая новость</a> &nbsp; 
<!-- END BLOCK : block_prev_news_link -->
<a href="{news_archive}">архив новостей</a> &nbsp; 
<!-- START BLOCK : block_next_news_link -->
<a href="{next_news_link}">следующая новость</a>&nbsp;&rarr;
<!-- END BLOCK : block_next_news_link -->
-->

<!-- START BLOCK : block_news_rss -->
<a href="{news_rss_link}" class="news_rss">Новости в формате RSS</a>
<!-- END BLOCK : block_news_rss -->

<!-- END BLOCK : block_news_detail -->

<!-- START BLOCK : block_empty_content -->
<img src="/i/admin/0.gif" height=18 border=0>
<!-- END BLOCK : block_empty_content -->

<!-- INCLUDE BLOCK : comments -->

<!-- START BLOCK : block_edit_news_menu_end -->
</div>
<!-- END BLOCK : block_edit_news_menu_end -->