<!-- START BLOCK : block_properties -->
<table>
<tr>
	<td valign="top">Выберите группу меток:</td>
	<td>
	<select name="property1" id="property1" onchange="setURL('property1');">
	<!-- START BLOCK : cloud_list -->
	<option value="{id}">{title}</option>
	<!-- END BLOCK : cloud_list -->
	</select>
	</td>
</tr>
<tr>
	<td>Ширина флеша:</td>
	<td><input type="text" name="property2" id="property2" value="" size="3"> пикселей</td>
</tr>
<tr>
	<td>Высота флеша:</td>
	<td><input type="text" name="property3" id="property3" value="" size="3"> пикселей</td>
</tr>
</table>
<!-- END BLOCK : block_properties -->

<!-- START BLOCK : block_properties_none -->
{MSG_No}<br>
<!-- END BLOCK : block_properties_none -->
<!-- INCLUDE BLOCK : tpl_block -->