<form action="{baseurl}" method="POST" enctype="multipart/form-data" class="edit_form {css_hide_class}" id="frmEdit">
<input type="hidden" name="action" value="{action}">
<input type="hidden" name="referer" value="{referer}">
<input type="hidden" name="id" value="{id}">

<label class="required" style="padding-left:0;">Название:</label><br />
<input style="margin: 7px 0 30px 0;" type="text" name="title" value="{title}" class="required" title="Название" size="50">
<table class="center bn" width="98%" style="margin-bottom:25px;">
<tr>
<th>Метка</th>
<th width="50%">Ссылка</th>
<th>Вес</th>
<th>Цвет</th>
<th>Удл.</th>
</tr>
<tbody id="idList">
<tr id="trTpl" style="display:none; padding-top:5px;">
<td><input type="text" name="tags[][title]" value="" class="required" title="Тег" size="50"></td>
<td><input type="text" name="tags[][link]" value="" class="required" title="Ссылка" size="88"></td>
<td><select name="tags[][wt]">
<!-- START BLOCK : wt_list -->
<option value="{value}">{value}</option>
<!-- END BLOCK : wt_list -->
</select></td>
<td>#<input type="text" name="tags[][color]" value="{color}" class="required" title="Цвет" size="6"></td>
<td><a href="#" onclick="if (confirm('Удалить?')) $(this).parents('tr').first().remove(); return false;">
<img src="/i/admin/ico_del.gif">
</a></td>
</tr>

<!-- START BLOCK : tag_list -->
<tr id="trTpl">
<td><input type="text" name="tags[{id}][title]" value="{title}" class="required" title="Тег" size="50"></td>
<td><input type="text" name="tags[{id}][link]" value="{link}" class="required" title="Ссылка" size="88"></td>
<td><select name="tags[{id}][wt]">
<!-- START BLOCK : tag_wt_list -->
<option value="{value}" {selected}>{value}</option>
<!-- END BLOCK : tag_wt_list -->
</select></td>
<td>#<input type="text" name="tags[{id}][color]" value="{color}" class="required" title="Цвет" size="6"></td>
<td><input type="hidden" name="tags[{id}][id]" value="{id}">
<a href="#" onclick="if (confirm('Удалить?')) $(this).parents('tr').first().remove(); return false;">
<img src="/i/admin/ico_del.gif">
</a></td>
</tr>
<!-- END BLOCK : tag_list -->

</tbody>
<tr>
<th align="left"><button style="margin:15px 0 20px 0" type="button" id="btnAdd">Добавить метку</button></th>
<th colspan="4">&nbsp;</th>
</tr>
</table>


<button type="submit"><img class="save" src="/i/admin/b_save.gif"><span>Сохранить</span></button>
<button onclick="return cancel();" type="button"><img class="cancel" src="/i/admin/b_cancel.gif"><span>Отменить</span></button>
</form>

<script type="text/javascript">
$(function() {
    $('#btnAdd').click(function() {
        if (!arguments.callee.cnt) {
            arguments.callee.cnt = {max_id};
        }
        arguments.callee.cnt++;
        var c = $('#trTpl').clone(), cnt = arguments.callee.cnt;
        c.appendTo('#idList').fadeIn();
        c.attr('id', '');
        c.find('input, select').each(function() {
            $(this).attr('name', $(this).attr('name').replace(/tags\[\]/, 'tags['+cnt+']'));
        });
    });
});
</script>