<br />
<a style="cursor:pointer;" href="{baseurl}&action=cloud_edit" class="add_btn"><span>Добавить группу</span></a>
<a style="cursor:pointer;" href="{baseurl}&action=reload" class="add_btn" style="marin-right:30px;"><span>Обновить XML-файлы всех групп</span></a>
<br clear="both"><br />
<table class="center" width="98%">
<tr>
<th>Ред.</th>
<th>ID</th>
<th width="86%">Группа меток</th>
<th>Удл</th>
</tr>
<!-- START BLOCK : cloud_list -->
<tr valign="top" onmouseout="this.style.backgroundColor='white';" onmouseover="this.style.backgroundColor='#EDFCFE';" style="background-color: white;">
<td align="center"><a href="{baseurl}&action=cloud_edit&id={id}"><img src="/i/admin/ico_edit.gif"></a></td>
<td align="center">{id}</td>
<td>{title}</td>
<td align="center"><a href="{baseurl}&action=cloud_del&id={id}" onclick="return confirm('Удалить?');">
<img src="/i/admin/ico_del.gif">
</a></td>
</tr>
<!-- END BLOCK : cloud_list -->
</table>