<script type="text/javascript">
function toggleAnswer(el) {
    var l = el.parentNode.getElementsByTagName('DIV');
    for (var i=0; i<l.length; i++) {
        if ('faq_answer' == l[i].className) {
            l[i].style.display = 'none' == l[i].style.display ? 'block' : 'none';
        }
    }
}
</script>

<ul class="faq" id="faq">

	<!-- START BLOCK : block_questions -->
	<li class="faq_li"><label class="faq_question" onclick="toggleAnswer(this)">{faq_question}</label> ({faq_date} {faq_username} {faq_city})
	<div class="faq_answer" style="display: none;">{faq_answer}</div>
	</li>
	<!-- END BLOCK : block_questions -->

</ul>

<!-- START BLOCK : nav -->
		<p class="tech">Страницы: {nav_string}</p>
<!-- END BLOCK : nav -->

<!-- INCLUDE BLOCK : post_faq_form -->
